extension/DBQENDOEndocrine(OtherthanThyroid_ParathyroidorDiabetes)-2.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:edis="http://vler.va.gov/vler/schemas/health/clinicalDocuments/clinicalAssessments/cpExams/EndocrineDiseases/2.0" targetNamespace="http://vler.va.gov/vler/schemas/health/clinicalDocuments/clinicalAssessments/cpExams/EndocrineDiseases/2.0" version="2.0" elementFormDefault="qualified">
	<xs:complexType name="EndocrineDiseasesFormType">
		<xs:sequence>
			<xs:element name="DIAGNOSIS_ENDOCRINE_DIAGNOSIS">
			  <xs:annotation> 
			    <xs:documentation></xs:documentation>
			  </xs:annotation>
			  <xs:complexType>
			    <xs:all>
			      <xs:element name="Value" nillable="true">
			        <xs:simpleType>
			          <xs:restriction base="xs:string">
			            <xs:enumeration value="Yes"/>
			            <xs:enumeration value="No"/>
			          </xs:restriction>
			        </xs:simpleType>
			      </xs:element>
			      <xs:element name="Metadata" type="edis:Metadata"/>
			    </xs:all>
			  </xs:complexType>
			</xs:element>

			<xs:element name="EXAMGROUP_CARDIO_IHD_Name">
			  <xs:complexType>
			    <xs:all>
			      <xs:element name="Value" type="xs:string" nillable="true"/>
			      <xs:element name="Metadata" type="edis:Metadata"/>
			    </xs:all>
			  </xs:complexType>
			</xs:element>

			<xs:element name="CushingsSyndrome">
			  <xs:annotation>
			    <xs:documentation>Cushing's syndrome</xs:documentation>
			  </xs:annotation>
			  <xs:complexType>
			    <xs:all>
			      <xs:element name="Value" type="xs:boolean" default="false"/>
			      <xs:element name="Metadata" type="edis:Metadata"/>
			    </xs:all>
			  </xs:complexType>
			</xs:element>

			<xs:element name="DIAGNOSIS_ENDOCRINE_CUSHINGS_ICD">
			  <xs:complexType>
			    <xs:all>
			      <xs:element name="Value" type="xs:string" nillable="true"/>
			      <xs:element name="Metadata" type="edis:Metadata"/>
			    </xs:all>
			  </xs:complexType>
			</xs:element>

			<xs:element name="DIAGNOSIS_ENDOCRINE_CUSHINGS_DATE">
			  <xs:complexType>
			    <xs:all>
			      <xs:element name="Value" type="xs:string" nillable="true"/>
			      <xs:element name="Metadata" type="edis:Metadata"/>
			    </xs:all>
			  </xs:complexType>
			</xs:element>

			<xs:element name="Acromegaly">
			  <xs:annotation>
			    <xs:documentation>Acromegaly (adrenocortical insufficiency)</xs:documentation>
			  </xs:annotation>
			  <xs:complexType>
			    <xs:all>
			      <xs:element name="Value" type="xs:boolean" default="false"/>
			      <xs:element name="Metadata" type="edis:Metadata"/>
			    </xs:all>
			  </xs:complexType>
			</xs:element>

			<xs:element name="DIAGNOSIS_ENDOCRINE_ACRO_ICD">
			  <xs:complexType>
			    <xs:all>
			      <xs:element name="Value" type="xs:string" nillable="true"/>
			      <xs:element name="Metadata" type="edis:Metadata"/>
			    </xs:all>
			  </xs:complexType>
			</xs:element>

			<xs:element name="DIAGNOSIS_ENDOCRINE_ACRO_DATE">
			  <xs:complexType>
			    <xs:all>
			      <xs:element name="Value" type="xs:string" nillable="true"/>
			      <xs:element name="Metadata" type="edis:Metadata"/>
			    </xs:all>
			  </xs:complexType>
			</xs:element>

			<xs:element name="DiabetesInsipidus">
			  <xs:annotation>
			    <xs:documentation>Diabetes insipidus</xs:documentation>
			  </xs:annotation>
			  <xs:complexType>
			    <xs:all>
			      <xs:element name="Value" type="xs:boolean" default="false"/>
			      <xs:element name="Metadata" type="edis:Metadata"/>
			    </xs:all>
			  </xs:complexType>
			</xs:element>

			<xs:element name="DIAGNOSIS_ENDOCRINE_DIABETES_ICD">
			  <xs:complexType>
			    <xs:all>
			      <xs:element name="Value" type="xs:string" nillable="true"/>
			      <xs:element name="Metadata" type="edis:Metadata"/>
			    </xs:all>
			  </xs:complexType>
			</xs:element>

			<xs:element name="DIAGNOSIS_ENDOCRINE_DIABETES_DATE">
			  <xs:complexType>
			    <xs:all>
			      <xs:element name="Value" type="xs:string" nillable="true"/>
			      <xs:element name="Metadata" type="edis:Metadata"/>
			    </xs:all>
			  </xs:complexType>
			</xs:element>

			<xs:element name="AddisonsDisease">
			  <xs:annotation>
			    <xs:documentation>Addison's disease</xs:documentation>
			  </xs:annotation>
			  <xs:complexType>
			    <xs:all>
			      <xs:element name="Value" type="xs:boolean" default="false"/>
			      <xs:element name="Metadata" type="edis:Metadata"/>
			    </xs:all>
			  </xs:complexType>
			</xs:element>

			<xs:element name="DIAGNOSIS_ENDOCRINE_ADDISON_ICD">
			  <xs:complexType>
			    <xs:all>
			      <xs:element name="Value" type="xs:string" nillable="true"/>
			      <xs:element name="Metadata" type="edis:Metadata"/>
			    </xs:all>
			  </xs:complexType>
			</xs:element>

			<xs:element name="DIAGNOSIS_ENDOCRINE_ADDISON_DATE">
			  <xs:complexType>
			    <xs:all>
			      <xs:element name="Value" type="xs:string" nillable="true"/>
			      <xs:element name="Metadata" type="edis:Metadata"/>
			    </xs:all>
			  </xs:complexType>
			</xs:element>

			<xs:element name="DIAGNOSIS_ENDOCRINE_OTHER">
			  <xs:annotation>
			    <xs:documentation>Other (specify):</xs:documentation>
			  </xs:annotation>
			  <xs:complexType>
			    <xs:all>
			      <xs:element name="Value" type="xs:boolean" default="false"/>
			      <xs:element name="Metadata" type="edis:Metadata"/>
			    </xs:all>
			  </xs:complexType>
			</xs:element>

			<xs:element name="DIAGNOSIS_ENDOCRINE_OTHER_1">
			  <xs:complexType>
			    <xs:all>
			      <xs:element name="Value" type="xs:string" nillable="true"/>
			      <xs:element name="Metadata" type="edis:Metadata"/>
			    </xs:all>
			  </xs:complexType>
			</xs:element>

			<xs:element name="DIAGNOSIS_ENDOCRINE_OTHER_1_ICD">
			  <xs:complexType>
			    <xs:all>
			      <xs:element name="Value" type="xs:string" nillable="true"/>
			      <xs:element name="Metadata" type="edis:Metadata"/>
			    </xs:all>
			  </xs:complexType>
			</xs:element>

			<xs:element name="DIAGNOSIS_ENDOCRINE_OTHER_1_DATE">
			  <xs:complexType>
			    <xs:all>
			      <xs:element name="Value" type="xs:string" nillable="true"/>
			      <xs:element name="Metadata" type="edis:Metadata"/>
			    </xs:all>
			  </xs:complexType>
			</xs:element>

			<xs:element name="DIAGNOSIS_ENDOCRINE_OTHER_2">
			  <xs:complexType>
			    <xs:all>
			      <xs:element name="Value" type="xs:string" nillable="true"/>
			      <xs:element name="Metadata" type="edis:Metadata"/>
			    </xs:all>
			  </xs:complexType>
			</xs:element>

			<xs:element name="DIAGNOSIS_ENDOCRINE_OTHER_2_ICD">
			  <xs:complexType>
			    <xs:all>
			      <xs:element name="Value" type="xs:string" nillable="true"/>
			      <xs:element name="Metadata" type="edis:Metadata"/>
			    </xs:all>
			  </xs:complexType>
			</xs:element>

			<xs:element name="DIAGNOSIS_ENDOCRINE_OTHER_2_DATE">
			  <xs:complexType>
			    <xs:all>
			      <xs:element name="Value" type="xs:string" nillable="true"/>
			      <xs:element name="Metadata" type="edis:Metadata"/>
			    </xs:all>
			  </xs:complexType>
			</xs:element>

			<xs:element name="DIAGNOSIS_ENDOCRINE_ADDITIONAL">
			  <xs:complexType>
			    <xs:all>
			      <xs:element name="Value" type="xs:string" nillable="true"/>
			      <xs:element name="Metadata" type="edis:Metadata"/>
			    </xs:all>
			  </xs:complexType>
			</xs:element>

			<xs:element name="HISTORY_ENDOCRINE_DESCRIBE">
			  <xs:complexType>
			    <xs:all>
			      <xs:element name="Value" type="xs:string" nillable="true"/>
			      <xs:element name="Metadata" type="edis:Metadata"/>
			    </xs:all>
			  </xs:complexType>
			</xs:element>

			<xs:element name="HISTORY_ENDOCRINE_MEDS">
			  <xs:annotation> 
			    <xs:documentation>b. Is continuous medication required for control of an endocrine condition?</xs:documentation>
			  </xs:annotation>
			  <xs:complexType>
			    <xs:all>
			      <xs:element name="Value" nillable="true">
			        <xs:simpleType>
			          <xs:restriction base="xs:string">
			            <xs:enumeration value="Yes"/>
			            <xs:enumeration value="No"/>
			          </xs:restriction>
			        </xs:simpleType>
			      </xs:element>
			      <xs:element name="Metadata" type="edis:Metadata"/>
			    </xs:all>
			  </xs:complexType>
			</xs:element>

			<xs:element name="HISTORY_ENDOCRINE_MEDS_DESCRIBE">
			  <xs:complexType>
			    <xs:all>
			      <xs:element name="Value" type="xs:string" nillable="true"/>
			      <xs:element name="Metadata" type="edis:Metadata"/>
			    </xs:all>
			  </xs:complexType>
			</xs:element>

			<xs:element name="HISTORY_ENDOCRINE_SURGERY">
			  <xs:annotation> 
			    <xs:documentation>c. Has the Veteran had surgery for an endocrine condition?</xs:documentation>
			  </xs:annotation>
			  <xs:complexType>
			    <xs:all>
			      <xs:element name="Value" nillable="true">
			        <xs:simpleType>
			          <xs:restriction base="xs:string">
			            <xs:enumeration value="Yes"/>
			            <xs:enumeration value="No"/>
			          </xs:restriction>
			        </xs:simpleType>
			      </xs:element>
			      <xs:element name="Metadata" type="edis:Metadata"/>
			    </xs:all>
			  </xs:complexType>
			</xs:element>

			<xs:element name="HISTORY_ENDOCRINE_SURGERY_SPECIFY">
			  <xs:complexType>
			    <xs:all>
			      <xs:element name="Value" type="xs:string" nillable="true"/>
			      <xs:element name="Metadata" type="edis:Metadata"/>
			    </xs:all>
			  </xs:complexType>
			</xs:element>

			<xs:element name="HISTORY_ENDOCRINE_SURGERY_DATE">
			  <xs:complexType>
			    <xs:all>
			      <xs:element name="Value" type="xs:string" nillable="true"/>
			      <xs:element name="Metadata" type="edis:Metadata"/>
			    </xs:all>
			  </xs:complexType>
			</xs:element>

			<xs:element name="HISTORY_ENDOCRINE_TX">
			  <xs:annotation> 
			    <xs:documentation>d. Has the Veteran had any other type of treatment for an endocrine condition?</xs:documentation>
			  </xs:annotation>
			  <xs:complexType>
			    <xs:all>
			      <xs:element name="Value" nillable="true">
			        <xs:simpleType>
			          <xs:restriction base="xs:string">
			            <xs:enumeration value="Yes"/>
			            <xs:enumeration value="No"/>
			          </xs:restriction>
			        </xs:simpleType>
			      </xs:element>
			      <xs:element name="Metadata" type="edis:Metadata"/>
			    </xs:all>
			  </xs:complexType>
			</xs:element>

			<xs:element name="HISTORY_ENDOCRINE_TX_SPECIFY">
			  <xs:complexType>
			    <xs:all>
			      <xs:element name="Value" type="xs:string" nillable="true"/>
			      <xs:element name="Metadata" type="edis:Metadata"/>
			    </xs:all>
			  </xs:complexType>
			</xs:element>

			<xs:element name="HISTORY_ENDOCRINE_TX_DATE">
			  <xs:complexType>
			    <xs:all>
			      <xs:element name="Value" type="xs:string" nillable="true"/>
			      <xs:element name="Metadata" type="edis:Metadata"/>
			    </xs:all>
			  </xs:complexType>
			</xs:element>

			<xs:element name="CushingsStriae">
			  <xs:annotation>
			    <xs:documentation>Striae</xs:documentation>
			  </xs:annotation>
			  <xs:complexType>
			    <xs:all>
			      <xs:element name="Value" type="xs:boolean" default="false"/>
			      <xs:element name="Metadata" type="edis:Metadata"/>
			    </xs:all>
			  </xs:complexType>
			</xs:element>

			<xs:element name="CushingsObesity">
			  <xs:annotation>
			    <xs:documentation>Obesity</xs:documentation>
			  </xs:annotation>
			  <xs:complexType>
			    <xs:all>
			      <xs:element name="Value" type="xs:boolean" default="false"/>
			      <xs:element name="Metadata" type="edis:Metadata"/>
			    </xs:all>
			  </xs:complexType>
			</xs:element>

			<xs:element name="CushingsMoonFace">
			  <xs:annotation>
			    <xs:documentation>Moon face</xs:documentation>
			  </xs:annotation>
			  <xs:complexType>
			    <xs:all>
			      <xs:element name="Value" type="xs:boolean" default="false"/>
			      <xs:element name="Metadata" type="edis:Metadata"/>
			    </xs:all>
			  </xs:complexType>
			</xs:element>

			<xs:element name="CushingsGlucoseIntolerance">
			  <xs:annotation>
			    <xs:documentation>Glucose intolerance</xs:documentation>
			  </xs:annotation>
			  <xs:complexType>
			    <xs:all>
			      <xs:element name="Value" type="xs:boolean" default="false"/>
			      <xs:element name="Metadata" type="edis:Metadata"/>
			    </xs:all>
			  </xs:complexType>
			</xs:element>

			<xs:element name="CushingsVascularFragility">
			  <xs:annotation>
			    <xs:documentation>Vascular fragility</xs:documentation>
			  </xs:annotation>
			  <xs:complexType>
			    <xs:all>
			      <xs:element name="Value" type="xs:boolean" default="false"/>
			      <xs:element name="Metadata" type="edis:Metadata"/>
			    </xs:all>
			  </xs:complexType>
			</xs:element>

			<xs:element name="CushingsLossOfMuscleStrength">
			  <xs:annotation>
			    <xs:documentation>Loss of muscle strength</xs:documentation>
			  </xs:annotation>
			  <xs:complexType>
			    <xs:all>
			      <xs:element name="Value" type="xs:boolean" default="false"/>
			      <xs:element name="Metadata" type="edis:Metadata"/>
			    </xs:all>
			  </xs:complexType>
			</xs:element>

			<xs:element name="CushingsActiveProgressiveDisease">
			  <xs:annotation>
			    <xs:documentation>As active, progressive disease</xs:documentation>
			  </xs:annotation>
			  <xs:complexType>
			    <xs:all>
			      <xs:element name="Value" type="xs:boolean" default="false"/>
			      <xs:element name="Metadata" type="edis:Metadata"/>
			    </xs:all>
			  </xs:complexType>
			</xs:element>

			<xs:element name="CushingsHypertension">
			  <xs:annotation>
			    <xs:documentation>Hypertension</xs:documentation>
			  </xs:annotation>
			  <xs:complexType>
			    <xs:all>
			      <xs:element name="Value" type="xs:boolean" default="false"/>
			      <xs:element name="Metadata" type="edis:Metadata"/>
			    </xs:all>
			  </xs:complexType>
			</xs:element>

			<xs:element name="CushingsWeakness">
			  <xs:annotation>
			    <xs:documentation>Weakness</xs:documentation>
			  </xs:annotation>
			  <xs:complexType>
			    <xs:all>
			      <xs:element name="Value" type="xs:boolean" default="false"/>
			      <xs:element name="Metadata" type="edis:Metadata"/>
			    </xs:all>
			  </xs:complexType>
			</xs:element>

			<xs:element name="EXAM_ENDOCRINE_CUSHINGS_DESCRIBE">
			  <xs:complexType>
			    <xs:all>
			      <xs:element name="Value" type="xs:string" nillable="true"/>
			      <xs:element name="Metadata" type="edis:Metadata"/>
			    </xs:all>
			  </xs:complexType>
			</xs:element>

			<xs:element name="EXAM_ENDOCRINE_ACROMEGALY">
			  <xs:annotation> 
			    <xs:documentation>a. Does the Veteran currently have any findings, signs or symptoms attributable to acromegaly?</xs:documentation>
			  </xs:annotation>
			  <xs:complexType>
			    <xs:all>
			      <xs:element name="Value" nillable="true">
			        <xs:simpleType>
			          <xs:restriction base="xs:string">
			            <xs:enumeration value="Yes"/>
			            <xs:enumeration value="No"/>
			          </xs:restriction>
			        </xs:simpleType>
			      </xs:element>
			      <xs:element name="Metadata" type="edis:Metadata"/>
			    </xs:all>
			  </xs:complexType>
			</xs:element>

			<xs:element name="AcromegalyEnlargementOfAcralParts">
			  <xs:annotation>
			    <xs:documentation>Enlargement of acral parts</xs:documentation>
			  </xs:annotation>
			  <xs:complexType>
			    <xs:all>
			      <xs:element name="Value" type="xs:boolean" default="false"/>
			      <xs:element name="Metadata" type="edis:Metadata"/>
			    </xs:all>
			  </xs:complexType>
			</xs:element>

			<xs:element name="AcromegalyOvergrowthOfLongBones">
			  <xs:annotation>
			    <xs:documentation>Overgrowth of long bones</xs:documentation>
			  </xs:annotation>
			  <xs:complexType>
			    <xs:all>
			      <xs:element name="Value" type="xs:boolean" default="false"/>
			      <xs:element name="Metadata" type="edis:Metadata"/>
			    </xs:all>
			  </xs:complexType>
			</xs:element>

			<xs:element name="AcromegalyEnlargedSellaTurcica">
			  <xs:annotation>
			    <xs:documentation>Enlarged sella turcica</xs:documentation>
			  </xs:annotation>
			  <xs:complexType>
			    <xs:all>
			      <xs:element name="Value" type="xs:boolean" default="false"/>
			      <xs:element name="Metadata" type="edis:Metadata"/>
			    </xs:all>
			  </xs:complexType>
			</xs:element>

			<xs:element name="AcromegalyArthropathy">
			  <xs:annotation>
			    <xs:documentation>Arthropathy</xs:documentation>
			  </xs:annotation>
			  <xs:complexType>
			    <xs:all>
			      <xs:element name="Value" type="xs:boolean" default="false"/>
			      <xs:element name="Metadata" type="edis:Metadata"/>
			    </xs:all>
			  </xs:complexType>
			</xs:element>

			<xs:element name="AcromegalyGlucoseIntolerance">
			  <xs:annotation>
			    <xs:documentation>Glucose intolerance</xs:documentation>
			  </xs:annotation>
			  <xs:complexType>
			    <xs:all>
			      <xs:element name="Value" type="xs:boolean" default="false"/>
			      <xs:element name="Metadata" type="edis:Metadata"/>
			    </xs:all>
			  </xs:complexType>
			</xs:element>

			<xs:element name="AcromegalyHypertension">
			  <xs:annotation>
			    <xs:documentation>Hypertension</xs:documentation>
			  </xs:annotation>
			  <xs:complexType>
			    <xs:all>
			      <xs:element name="Value" type="xs:boolean" default="false"/>
			      <xs:element name="Metadata" type="edis:Metadata"/>
			    </xs:all>
			  </xs:complexType>
			</xs:element>

			<xs:element name="EXAM_ENDOCRINE_ACROMEGALY_HYPERTENSION_BP">
			  <xs:complexType>
			    <xs:all>
			      <xs:element name="Value" type="xs:string" nillable="true"/>
			      <xs:element name="Metadata" type="edis:Metadata"/>
			    </xs:all>
			  </xs:complexType>
			</xs:element>

			<xs:element name="AcromegalyEvidenceOfIncreasedIntracranialPressure">
			  <xs:annotation>
			    <xs:documentation>Evidence of increased intracranial pressure (such as visual field defect)</xs:documentation>
			  </xs:annotation>
			  <xs:complexType>
			    <xs:all>
			      <xs:element name="Value" type="xs:boolean" default="false"/>
			      <xs:element name="Metadata" type="edis:Metadata"/>
			    </xs:all>
			  </xs:complexType>
			</xs:element>

			<xs:element name="AcromegalyCardiomegaly">
			  <xs:annotation>
			    <xs:documentation>Cardiomegaly</xs:documentation>
			  </xs:annotation>
			  <xs:complexType>
			    <xs:all>
			      <xs:element name="Value" type="xs:boolean" default="false"/>
			      <xs:element name="Metadata" type="edis:Metadata"/>
			    </xs:all>
			  </xs:complexType>
			</xs:element>

			<xs:element name="EXAM_ENDOCRINE_ACROMEGALY_DESCRIBE">
			  <xs:complexType>
			    <xs:all>
			      <xs:element name="Value" type="xs:string" nillable="true"/>
			      <xs:element name="Metadata" type="edis:Metadata"/>
			    </xs:all>
			  </xs:complexType>
			</xs:element>

			<xs:element name="EXAM_ENDOCRINE_DIABETES">
			  <xs:annotation> 
			    <xs:documentation>a. Does the Veteran currently have any findings, signs or symptoms attributable to diabetes insipidus?</xs:documentation>
			  </xs:annotation>
			  <xs:complexType>
			    <xs:all>
			      <xs:element name="Value" nillable="true">
			        <xs:simpleType>
			          <xs:restriction base="xs:string">
			            <xs:enumeration value="Yes"/>
			            <xs:enumeration value="No"/>
			          </xs:restriction>
			        </xs:simpleType>
			      </xs:element>
			      <xs:element name="Metadata" type="edis:Metadata"/>
			    </xs:all>
			  </xs:complexType>
			</xs:element>

			<xs:element name="DiabetesInsipidusPolyuria">
			  <xs:annotation>
			    <xs:documentation>Polyuria</xs:documentation>
			  </xs:annotation>
			  <xs:complexType>
			    <xs:all>
			      <xs:element name="Value" type="xs:boolean" default="false"/>
			      <xs:element name="Metadata" type="edis:Metadata"/>
			    </xs:all>
			  </xs:complexType>
			</xs:element>

			<xs:element name="DiabetesInsipidusPolydipsia">
			  <xs:annotation>
			    <xs:documentation>Polydipsia</xs:documentation>
			  </xs:annotation>
			  <xs:complexType>
			    <xs:all>
			      <xs:element name="Value" type="xs:boolean" default="false"/>
			      <xs:element name="Metadata" type="edis:Metadata"/>
			    </xs:all>
			  </xs:complexType>
			</xs:element>

			<xs:element name="EpisodesDehydrationNOTrequiringParenteralHydration">
			  <xs:annotation>
			    <xs:documentation>Episodes of dehydration NOT requiring parenteral hydration in past 12 months</xs:documentation>
			  </xs:annotation>
			  <xs:complexType>
			    <xs:all>
			      <xs:element name="Value" type="xs:boolean" default="false"/>
			      <xs:element name="Metadata" type="edis:Metadata"/>
			    </xs:all>
			  </xs:complexType>
			</xs:element>

			<xs:element name="EpisodesDehydrationNOTrequiringParenteralHydrationFrequency">
			  <xs:annotation> 
			    <xs:documentation>If checked, indicate frequency of documented episodes in past 12 months:</xs:documentation>
			  </xs:annotation>
			  <xs:complexType>
			    <xs:all>
			      <xs:element name="Value" nillable="true">
			        <xs:simpleType>
			          <xs:restriction base="xs:string">
			            <xs:enumeration value="1"/>
			            <xs:enumeration value="2"/>
			            <xs:enumeration value="More than 2"/>
			          </xs:restriction>
			        </xs:simpleType>
			      </xs:element>
			      <xs:element name="Metadata" type="edis:Metadata"/>
			    </xs:all>
			  </xs:complexType>
			</xs:element>

			<xs:element name="EpisodesDehydrationRequiringParenteralHydration">
			  <xs:annotation>
			    <xs:documentation>Episodes of dehydration requiring parenteral hydration in past 12 months</xs:documentation>
			  </xs:annotation>
			  <xs:complexType>
			    <xs:all>
			      <xs:element name="Value" type="xs:boolean" default="false"/>
			      <xs:element name="Metadata" type="edis:Metadata"/>
			    </xs:all>
			  </xs:complexType>
			</xs:element>

			<xs:element name="EpisodesDehydrationRequiringParenteralHydrationFrequency">
			  <xs:annotation> 
			    <xs:documentation>If checked, indicate frequency of documented episodes in past 12 months:</xs:documentation>
			  </xs:annotation>
			  <xs:complexType>
			    <xs:all>
			      <xs:element name="Value" nillable="true">
			        <xs:simpleType>
			          <xs:restriction base="xs:string">
			            <xs:enumeration value="1"/>
			            <xs:enumeration value="2"/>
			            <xs:enumeration value="More than 2"/>
			          </xs:restriction>
			        </xs:simpleType>
			      </xs:element>
			      <xs:element name="Metadata" type="edis:Metadata"/>
			    </xs:all>
			  </xs:complexType>
			</xs:element>

			<xs:element name="EXAM_ENDOCRINE_DIABETES_OTHER">
			  <xs:annotation>
			    <xs:documentation>c. Other, describe:</xs:documentation>
			  </xs:annotation>
			  <xs:complexType>
			    <xs:all>
			      <xs:element name="Value" type="xs:boolean" default="false"/>
			      <xs:element name="Metadata" type="edis:Metadata"/>
			    </xs:all>
			  </xs:complexType>
			</xs:element>

			<xs:element name="EXAM_ENDOCRINE_DIABETES_OTHER_DESCRIBE">
			  <xs:complexType>
			    <xs:all>
			      <xs:element name="Value" type="xs:string" nillable="true"/>
			      <xs:element name="Metadata" type="edis:Metadata"/>
			    </xs:all>
			  </xs:complexType>
			</xs:element>

			<xs:element name="EXAM_ENDOCRINE_ADDISON">
			  <xs:annotation> 
			    <xs:documentation>a. Does the Veteran currently have any findings, signs or symptoms attributable to Addison's disease?</xs:documentation>
			  </xs:annotation>
			  <xs:complexType>
			    <xs:all>
			      <xs:element name="Value" nillable="true">
			        <xs:simpleType>
			          <xs:restriction base="xs:string">
			            <xs:enumeration value="Yes"/>
			            <xs:enumeration value="No"/>
			          </xs:restriction>
			        </xs:simpleType>
			      </xs:element>
			      <xs:element name="Metadata" type="edis:Metadata"/>
			    </xs:all>
			  </xs:complexType>
			</xs:element>

			<xs:element name="AddisonsDiseaseCorticosteroidTherapyRequiredForControl">
			  <xs:annotation>
			    <xs:documentation>Corticosteroid therapy required for control</xs:documentation>
			  </xs:annotation>
			  <xs:complexType>
			    <xs:all>
			      <xs:element name="Value" type="xs:boolean" default="false"/>
			      <xs:element name="Metadata" type="edis:Metadata"/>
			    </xs:all>
			  </xs:complexType>
			</xs:element>

			<xs:element name="AddisonsDiseaseWeaknessAndFatigability">
			  <xs:annotation>
			    <xs:documentation>Weakness and Fatigability</xs:documentation>
			  </xs:annotation>
			  <xs:complexType>
			    <xs:all>
			      <xs:element name="Value" type="xs:boolean" default="false"/>
			      <xs:element name="Metadata" type="edis:Metadata"/>
			    </xs:all>
			  </xs:complexType>
			</xs:element>

			<xs:element name="EXAM_ENDOCRINE_ADDISON_CRISIS">
			  <xs:annotation>
			    <xs:documentation>Addisonian crisis (acute adrenal insufficiency)</xs:documentation>
			  </xs:annotation>
			  <xs:complexType>
			    <xs:all>
			      <xs:element name="Value" type="xs:boolean" default="false"/>
			      <xs:element name="Metadata" type="edis:Metadata"/>
			    </xs:all>
			  </xs:complexType>
			</xs:element>

			<xs:element name="AddisonsDiseaseAddisonianCrises">
			  <xs:annotation> 
			    <xs:documentation>If checked, indicate frequency of Addisonian crises in past 12 months:</xs:documentation>
			  </xs:annotation>
			  <xs:complexType>
			    <xs:all>
			      <xs:element name="Value" nillable="true">
			        <xs:simpleType>
			          <xs:restriction base="xs:string">
			            <xs:enumeration value="0"/>
			            <xs:enumeration value="1"/>
			            <xs:enumeration value="2"/>
			            <xs:enumeration value="3"/>
			            <xs:enumeration value="4"/>
			            <xs:enumeration value="5"/>
			            <xs:enumeration value="More than 5"/>
			          </xs:restriction>
			        </xs:simpleType>
			      </xs:element>
			      <xs:element name="Metadata" type="edis:Metadata"/>
			    </xs:all>
			  </xs:complexType>
			</xs:element>

			<xs:element name="EXAM_ENDOCRINE_ADDISON_EPISODES">
			  <xs:annotation>
			    <xs:documentation>Addisonian &quot;episodes&quot;</xs:documentation>
			  </xs:annotation>
			  <xs:complexType>
			    <xs:all>
			      <xs:element name="Value" type="xs:boolean" default="false"/>
			      <xs:element name="Metadata" type="edis:Metadata"/>
			    </xs:all>
			  </xs:complexType>
			</xs:element>

			<xs:element name="AddisonsDiseaseAddisonianEpisodes">
			  <xs:annotation> 
			    <xs:documentation>If checked, indicate frequency of Addisonian "episodes" in past 12 months:</xs:documentation>
			  </xs:annotation>
			  <xs:complexType>
			    <xs:all>
			      <xs:element name="Value" nillable="true">
			        <xs:simpleType>
			          <xs:restriction base="xs:string">
			            <xs:enumeration value="0"/>
			            <xs:enumeration value="1"/>
			            <xs:enumeration value="2"/>
			            <xs:enumeration value="3"/>
			            <xs:enumeration value="4"/>
			            <xs:enumeration value="5"/>
			            <xs:enumeration value="More than 5"/>
			          </xs:restriction>
			        </xs:simpleType>
			      </xs:element>
			      <xs:element name="Metadata" type="edis:Metadata"/>
			    </xs:all>
			  </xs:complexType>
			</xs:element>

			<xs:element name="EXAM_ENDOCRINE_ADDISON_DESCRIBE">
			  <xs:complexType>
			    <xs:all>
			      <xs:element name="Value" type="xs:string" nillable="true"/>
			      <xs:element name="Metadata" type="edis:Metadata"/>
			    </xs:all>
			  </xs:complexType>
			</xs:element>

			<xs:element name="EXAM_ENDOCRINE_OTHER_CONDITIONS">
			  <xs:annotation> 
			    <xs:documentation>a. Does the Veteran have any other endocrine conditions?</xs:documentation>
			  </xs:annotation>
			  <xs:complexType>
			    <xs:all>
			      <xs:element name="Value" nillable="true">
			        <xs:simpleType>
			          <xs:restriction base="xs:string">
			            <xs:enumeration value="Yes"/>
			            <xs:enumeration value="No"/>
			          </xs:restriction>
			        </xs:simpleType>
			      </xs:element>
			      <xs:element name="Metadata" type="edis:Metadata"/>
			    </xs:all>
			  </xs:complexType>
			</xs:element>

			<xs:element name="EXAM_ENDOCRINE_OTHER_CONDITIONS_DESCRIBE">
			  <xs:complexType>
			    <xs:all>
			      <xs:element name="Value" type="xs:string" nillable="true"/>
			      <xs:element name="Metadata" type="edis:Metadata"/>
			    </xs:all>
			  </xs:complexType>
			</xs:element>

			<xs:element name="EXAM_ENDOCRINE_TUMORS_NEOPLASM">
			  <xs:annotation> 
			    <xs:documentation>b. Is the neoplasm:</xs:documentation>
			  </xs:annotation>
			  <xs:complexType>
			    <xs:all>
			      <xs:element name="Value" nillable="true">
			        <xs:simpleType>
			          <xs:restriction base="xs:string">
			            <xs:enumeration value="Benign"/>
			            <xs:enumeration value="Malignant"/>
			          </xs:restriction>
			        </xs:simpleType>
			      </xs:element>
			      <xs:element name="Metadata" type="edis:Metadata"/>
			    </xs:all>
			  </xs:complexType>
			</xs:element>

			<xs:element name="EXAM_ENDOCRINE_TUMORS_RESDIUALS">
			  <xs:annotation> 
			    <xs:documentation></xs:documentation>
			  </xs:annotation>
			  <xs:complexType>
			    <xs:all>
			      <xs:element name="Value" nillable="true">
			        <xs:simpleType>
			          <xs:restriction base="xs:string">
			            <xs:enumeration value="Yes"/>
			            <xs:enumeration value="No"/>
			          </xs:restriction>
			        </xs:simpleType>
			      </xs:element>
			      <xs:element name="Metadata" type="edis:Metadata"/>
			    </xs:all>
			  </xs:complexType>
			</xs:element>

			<xs:element name="EXAM_ENDOCRINE_TUMORS_RESDIUALS_DESCRIBE">
			  <xs:complexType>
			    <xs:all>
			      <xs:element name="Value" type="xs:string" nillable="true"/>
			      <xs:element name="Metadata" type="edis:Metadata"/>
			    </xs:all>
			  </xs:complexType>
			</xs:element>

			<xs:element name="EXAM_ENDOCRINE_TUMORS_ADDITONAL">
			  <xs:complexType>
			    <xs:all>
			      <xs:element name="Value" type="xs:string" nillable="true"/>
			      <xs:element name="Metadata" type="edis:Metadata"/>
			    </xs:all>
			  </xs:complexType>
			</xs:element>

			<xs:element name="EXAM_ENDOCRINE_OPP_SCARS">
			  <xs:annotation> 
			    <xs:documentation></xs:documentation>
			  </xs:annotation>
			  <xs:complexType>
			    <xs:all>
			      <xs:element name="Value" nillable="true">
			        <xs:simpleType>
			          <xs:restriction base="xs:string">
			            <xs:enumeration value="Yes"/>
			            <xs:enumeration value="No"/>
			          </xs:restriction>
			        </xs:simpleType>
			      </xs:element>
			      <xs:element name="Metadata" type="edis:Metadata"/>
			    </xs:all>
			  </xs:complexType>
			</xs:element>

			<xs:element name="EXAM_ENDOCRINE_OPP_OTHER_PERT">
			  <xs:annotation> 
			    <xs:documentation></xs:documentation>
			  </xs:annotation>
			  <xs:complexType>
			    <xs:all>
			      <xs:element name="Value" nillable="true">
			        <xs:simpleType>
			          <xs:restriction base="xs:string">
			            <xs:enumeration value="Yes"/>
			            <xs:enumeration value="No"/>
			          </xs:restriction>
			        </xs:simpleType>
			      </xs:element>
			      <xs:element name="Metadata" type="edis:Metadata"/>
			    </xs:all>
			  </xs:complexType>
			</xs:element>

			<xs:element name="EXAM_ENDOCRINE_OPP_OTHER_PERT_DESCRIBE">
			  <xs:complexType>
			    <xs:all>
			      <xs:element name="Value" type="xs:string" nillable="true"/>
			      <xs:element name="Metadata" type="edis:Metadata"/>
			    </xs:all>
			  </xs:complexType>
			</xs:element>

			<xs:element name="EXAM_ENDOCRINE_DT_IMAGING">
			  <xs:annotation> 
			    <xs:documentation>a. Have imaging studies been performed?</xs:documentation>
			  </xs:annotation>
			  <xs:complexType>
			    <xs:all>
			      <xs:element name="Value" nillable="true">
			        <xs:simpleType>
			          <xs:restriction base="xs:string">
			            <xs:enumeration value="Yes"/>
			            <xs:enumeration value="No"/>
			          </xs:restriction>
			        </xs:simpleType>
			      </xs:element>
			      <xs:element name="Metadata" type="edis:Metadata"/>
			    </xs:all>
			  </xs:complexType>
			</xs:element>

			<xs:element name="EXAM_ENDOCRINE_DT_IMAGING_MRI">
			  <xs:annotation>
			    <xs:documentation>Magnetic resonance imaging (MRI)</xs:documentation>
			  </xs:annotation>
			  <xs:complexType>
			    <xs:all>
			      <xs:element name="Value" type="xs:boolean" default="false"/>
			      <xs:element name="Metadata" type="edis:Metadata"/>
			    </xs:all>
			  </xs:complexType>
			</xs:element>

			<xs:element name="EXAM_ENDOCRINE_DT_IMAGING_MRI_DATE">
			  <xs:complexType>
			    <xs:all>
			      <xs:element name="Value" type="xs:string" nillable="true"/>
			      <xs:element name="Metadata" type="edis:Metadata"/>
			    </xs:all>
			  </xs:complexType>
			</xs:element>

			<xs:element name="EXAM_ENDOCRINE_DT_IMAGING_MRI_RESULTS">
			  <xs:complexType>
			    <xs:all>
			      <xs:element name="Value" type="xs:string" nillable="true"/>
			      <xs:element name="Metadata" type="edis:Metadata"/>
			    </xs:all>
			  </xs:complexType>
			</xs:element>

			<xs:element name="EXAM_ENDOCRINE_DT_IMAGING_CT">
			  <xs:annotation>
			    <xs:documentation>Computed tomography (CT)</xs:documentation>
			  </xs:annotation>
			  <xs:complexType>
			    <xs:all>
			      <xs:element name="Value" type="xs:boolean" default="false"/>
			      <xs:element name="Metadata" type="edis:Metadata"/>
			    </xs:all>
			  </xs:complexType>
			</xs:element>

			<xs:element name="EXAM_ENDOCRINE_DT_IMAGING_CT_DATE">
			  <xs:complexType>
			    <xs:all>
			      <xs:element name="Value" type="xs:string" nillable="true"/>
			      <xs:element name="Metadata" type="edis:Metadata"/>
			    </xs:all>
			  </xs:complexType>
			</xs:element>

			<xs:element name="EXAM_ENDOCRINE_DT_IMAGING_CT_RESULTS">
			  <xs:complexType>
			    <xs:all>
			      <xs:element name="Value" type="xs:string" nillable="true"/>
			      <xs:element name="Metadata" type="edis:Metadata"/>
			    </xs:all>
			  </xs:complexType>
			</xs:element>

			<xs:element name="EXAM_ENDOCRINE_DT_IMAGING_OTHER">
			  <xs:annotation>
			    <xs:documentation>Other:</xs:documentation>
			  </xs:annotation>
			  <xs:complexType>
			    <xs:all>
			      <xs:element name="Value" type="xs:boolean" default="false"/>
			      <xs:element name="Metadata" type="edis:Metadata"/>
			    </xs:all>
			  </xs:complexType>
			</xs:element>

			<xs:element name="EXAM_ENDOCRINE_DT_IMAGING_OTHER_EDIT">
			  <xs:complexType>
			    <xs:all>
			      <xs:element name="Value" type="xs:string" nillable="true"/>
			      <xs:element name="Metadata" type="edis:Metadata"/>
			    </xs:all>
			  </xs:complexType>
			</xs:element>

			<xs:element name="EXAM_ENDOCRINE_DT_IMAGING_OTHER_DATE">
			  <xs:complexType>
			    <xs:all>
			      <xs:element name="Value" type="xs:string" nillable="true"/>
			      <xs:element name="Metadata" type="edis:Metadata"/>
			    </xs:all>
			  </xs:complexType>
			</xs:element>

			<xs:element name="EXAM_ENDOCRINE_DT_IMAGING_OTHER_RESULTS">
			  <xs:complexType>
			    <xs:all>
			      <xs:element name="Value" type="xs:string" nillable="true"/>
			      <xs:element name="Metadata" type="edis:Metadata"/>
			    </xs:all>
			  </xs:complexType>
			</xs:element>

			<xs:element name="EXAM_ENDOCRINE_DT_LABS_TYPE">
			  <xs:complexType>
			    <xs:all>
			      <xs:element name="Value" type="xs:string" nillable="true"/>
			      <xs:element name="Metadata" type="edis:Metadata"/>
			    </xs:all>
			  </xs:complexType>
			</xs:element>

			<xs:element name="EXAM_ENDOCRINE_DT_LABS_TYPE_DATE">
			  <xs:complexType>
			    <xs:all>
			      <xs:element name="Value" type="xs:string" nillable="true"/>
			      <xs:element name="Metadata" type="edis:Metadata"/>
			    </xs:all>
			  </xs:complexType>
			</xs:element>

			<xs:element name="EXAM_ENDOCRINE_DT_LABS_TYPE_RESULTS">
			  <xs:complexType>
			    <xs:all>
			      <xs:element name="Value" type="xs:string" nillable="true"/>
			      <xs:element name="Metadata" type="edis:Metadata"/>
			    </xs:all>
			  </xs:complexType>
			</xs:element>

			<xs:element name="EXAM_ENDOCRINE_DT_OTHER_SIGN">
			  <xs:annotation> 
			    <xs:documentation>c. Are there any other significant diagnostic test findings and/or results?</xs:documentation>
			  </xs:annotation>
			  <xs:complexType>
			    <xs:all>
			      <xs:element name="Value" nillable="true">
			        <xs:simpleType>
			          <xs:restriction base="xs:string">
			            <xs:enumeration value="Yes"/>
			            <xs:enumeration value="No"/>
			          </xs:restriction>
			        </xs:simpleType>
			      </xs:element>
			      <xs:element name="Metadata" type="edis:Metadata"/>
			    </xs:all>
			  </xs:complexType>
			</xs:element>

			<xs:element name="EXAM_ENDOCRINE_DT_OTHER_SIGN_DESCRIBE">
			  <xs:complexType>
			    <xs:all>
			      <xs:element name="Value" type="xs:string" nillable="true"/>
			      <xs:element name="Metadata" type="edis:Metadata"/>
			    </xs:all>
			  </xs:complexType>
			</xs:element>

			<xs:element name="EXAM_ENDOCRINE_FI">
			  <xs:annotation> 
			    <xs:documentation>Does the Veteran's endocrine condition impact his or her ability to work?</xs:documentation>
			  </xs:annotation>
			  <xs:complexType>
			    <xs:all>
			      <xs:element name="Value" nillable="true">
			        <xs:simpleType>
			          <xs:restriction base="xs:string">
			            <xs:enumeration value="Yes"/>
			            <xs:enumeration value="No"/>
			          </xs:restriction>
			        </xs:simpleType>
			      </xs:element>
			      <xs:element name="Metadata" type="edis:Metadata"/>
			    </xs:all>
			  </xs:complexType>
			</xs:element>

			<xs:element name="EXAM_ENDOCRINE_FI_DESCRIBE">
			  <xs:complexType>
			    <xs:all>
			      <xs:element name="Value" type="xs:string" nillable="true"/>
			      <xs:element name="Metadata" type="edis:Metadata"/>
			    </xs:all>
			  </xs:complexType>
			</xs:element>

			<xs:element name="EXAM_ENDOCRINE_REMARKS">
			  <xs:complexType>
			    <xs:all>
			      <xs:element name="Value" type="xs:string" nillable="true"/>
			      <xs:element name="Metadata" type="edis:Metadata"/>
			    </xs:all>
			  </xs:complexType>
			</xs:element>

			<xs:element name="EXAM_ENDOCRINE_ADDISON_OTH">
			  <xs:annotation>
			    <xs:documentation>Other, specify:</xs:documentation>
			  </xs:annotation>
			  <xs:complexType>
			    <xs:all>
			      <xs:element name="Value" type="xs:boolean" default="false"/>
			      <xs:element name="Metadata" type="edis:Metadata"/>
			    </xs:all>
			  </xs:complexType>
			</xs:element>

			<xs:element name="EXAM_ENDOCRINE_ADDISON_OTH_SPECIFY">
			  <xs:complexType>
			    <xs:all>
			      <xs:element name="Value" type="xs:string" nillable="true"/>
			      <xs:element name="Metadata" type="edis:Metadata"/>
			    </xs:all>
			  </xs:complexType>
			</xs:element>

			<xs:element name="EXAM_ENDOCRINE_ACROMEGALY_OTH">
			  <xs:annotation>
			    <xs:documentation>Other, specify:</xs:documentation>
			  </xs:annotation>
			  <xs:complexType>
			    <xs:all>
			      <xs:element name="Value" type="xs:boolean" default="false"/>
			      <xs:element name="Metadata" type="edis:Metadata"/>
			    </xs:all>
			  </xs:complexType>
			</xs:element>

			<xs:element name="EXAM_ENDOCRINE_ACROMEGALY_OTH_SPECIFY">
			  <xs:complexType>
			    <xs:all>
			      <xs:element name="Value" type="xs:string" nillable="true"/>
			      <xs:element name="Metadata" type="edis:Metadata"/>
			    </xs:all>
			  </xs:complexType>
			</xs:element>

			<xs:element name="EXAM_ENDOCRINE_CUSHINGS_OTH">
			  <xs:annotation>
			    <xs:documentation>Other, specify:</xs:documentation>
			  </xs:annotation>
			  <xs:complexType>
			    <xs:all>
			      <xs:element name="Value" type="xs:boolean" default="false"/>
			      <xs:element name="Metadata" type="edis:Metadata"/>
			    </xs:all>
			  </xs:complexType>
			</xs:element>

			<xs:element name="EXAM_ENDOCRINE_CUSHINGS_OTH_SPECIFY">
			  <xs:complexType>
			    <xs:all>
			      <xs:element name="Value" type="xs:string" nillable="true"/>
			      <xs:element name="Metadata" type="edis:Metadata"/>
			    </xs:all>
			  </xs:complexType>
			</xs:element>

			<xs:element name="CushingsEnlargementOfAdrenalGland">
			  <xs:annotation>
			    <xs:documentation>Enlargement of adrenal gland</xs:documentation>
			  </xs:annotation>
			  <xs:complexType>
			    <xs:all>
			      <xs:element name="Value" type="xs:boolean" default="false"/>
			      <xs:element name="Metadata" type="edis:Metadata"/>
			    </xs:all>
			  </xs:complexType>
			</xs:element>

			<xs:element name="PluriglandularSyndrome">
			  <xs:annotation>
			    <xs:documentation>Polyglandular Syndrome (multiple endocrine neoplasia, auto-immune polyglandular syndrome)</xs:documentation>
			  </xs:annotation>
			  <xs:complexType>
			    <xs:all>
			      <xs:element name="Value" type="xs:boolean" default="false"/>
			      <xs:element name="Metadata" type="edis:Metadata"/>
			    </xs:all>
			  </xs:complexType>
			</xs:element>

			<xs:element name="DIAGNOSIS_ENDOCRINE_HYPOPITUITARISM">
			  <xs:annotation>
			    <xs:documentation>Hypopituitarism</xs:documentation>
			  </xs:annotation>
			  <xs:complexType>
			    <xs:all>
			      <xs:element name="Value" type="xs:boolean" default="false"/>
			      <xs:element name="Metadata" type="edis:Metadata"/>
			    </xs:all>
			  </xs:complexType>
			</xs:element>

			<xs:element name="DIAGNOSIS_ENDOCRINE_HYPOPITUITARISM_ICD">
			  <xs:complexType>
			    <xs:all>
			      <xs:element name="Value" type="xs:string" nillable="true"/>
			      <xs:element name="Metadata" type="edis:Metadata"/>
			    </xs:all>
			  </xs:complexType>
			</xs:element>

			<xs:element name="DIAGNOSIS_ENDOCRINE_HYPERPITUITARISM_ICD">
			  <xs:complexType>
			    <xs:all>
			      <xs:element name="Value" type="xs:string" nillable="true"/>
			      <xs:element name="Metadata" type="edis:Metadata"/>
			    </xs:all>
			  </xs:complexType>
			</xs:element>

			<xs:element name="DIAGNOSIS_ENDOCRINE_PLUR_ICD">
			  <xs:complexType>
			    <xs:all>
			      <xs:element name="Value" type="xs:string" nillable="true"/>
			      <xs:element name="Metadata" type="edis:Metadata"/>
			    </xs:all>
			  </xs:complexType>
			</xs:element>

			<xs:element name="DIAGNOSIS_ENDOCRINE_PLUR_DATE">
			  <xs:complexType>
			    <xs:all>
			      <xs:element name="Value" type="xs:string" nillable="true"/>
			      <xs:element name="Metadata" type="edis:Metadata"/>
			    </xs:all>
			  </xs:complexType>
			</xs:element>

			<xs:element name="DIAGNOSIS_ENDOCRINE_HYPOPITUITARISM_DATE">
			  <xs:complexType>
			    <xs:all>
			      <xs:element name="Value" type="xs:string" nillable="true"/>
			      <xs:element name="Metadata" type="edis:Metadata"/>
			    </xs:all>
			  </xs:complexType>
			</xs:element>

			<xs:element name="DIAGNOSIS_ENDOCRINE_NEOPLASM_BENIGN_DATE">
			  <xs:complexType>
			    <xs:all>
			      <xs:element name="Value" type="xs:string" nillable="true"/>
			      <xs:element name="Metadata" type="edis:Metadata"/>
			    </xs:all>
			  </xs:complexType>
			</xs:element>

			<xs:element name="DIAGNOSIS_ENDOCRINE_NEOPLASM_BENIGN_ICD">
			  <xs:complexType>
			    <xs:all>
			      <xs:element name="Value" type="xs:string" nillable="true"/>
			      <xs:element name="Metadata" type="edis:Metadata"/>
			    </xs:all>
			  </xs:complexType>
			</xs:element>

			<xs:element name="NeoplasmBenign">
			  <xs:annotation>
			    <xs:documentation>Neoplasm, benign, any specified part of the endocrine system</xs:documentation>
			  </xs:annotation>
			  <xs:complexType>
			    <xs:all>
			      <xs:element name="Value" type="xs:boolean" default="false"/>
			      <xs:element name="Metadata" type="edis:Metadata"/>
			    </xs:all>
			  </xs:complexType>
			</xs:element>

			<xs:element name="DIAGNOSIS_ENDOCRINE_HYPOGONADISM">
			  <xs:annotation>
			    <xs:documentation>Hypogonadism</xs:documentation>
			  </xs:annotation>
			  <xs:complexType>
			    <xs:all>
			      <xs:element name="Value" type="xs:boolean" default="false"/>
			      <xs:element name="Metadata" type="edis:Metadata"/>
			    </xs:all>
			  </xs:complexType>
			</xs:element>

			<xs:element name="DIAGNOSIS_ENDOCRINE_PHEO">
			  <xs:annotation>
			    <xs:documentation>Pheochromocytoma</xs:documentation>
			  </xs:annotation>
			  <xs:complexType>
			    <xs:all>
			      <xs:element name="Value" type="xs:boolean" default="false"/>
			      <xs:element name="Metadata" type="edis:Metadata"/>
			    </xs:all>
			  </xs:complexType>
			</xs:element>

			<xs:element name="DIAGNOSIS_ENDOCRINE_HYPERALDOSTERONISM">
			  <xs:annotation>
			    <xs:documentation>Hyperaldosteronism</xs:documentation>
			  </xs:annotation>
			  <xs:complexType>
			    <xs:all>
			      <xs:element name="Value" type="xs:boolean" default="false"/>
			      <xs:element name="Metadata" type="edis:Metadata"/>
			    </xs:all>
			  </xs:complexType>
			</xs:element>

			<xs:element name="DIAGNOSIS_ENDOCRINE_HYPOGONADISM_ICD">
			  <xs:complexType>
			    <xs:all>
			      <xs:element name="Value" type="xs:string" nillable="true"/>
			      <xs:element name="Metadata" type="edis:Metadata"/>
			    </xs:all>
			  </xs:complexType>
			</xs:element>

			<xs:element name="DIAGNOSIS_ENDOCRINE_PHEO_ICD">
			  <xs:complexType>
			    <xs:all>
			      <xs:element name="Value" type="xs:string" nillable="true"/>
			      <xs:element name="Metadata" type="edis:Metadata"/>
			    </xs:all>
			  </xs:complexType>
			</xs:element>

			<xs:element name="DIAGNOSIS_ENDOCRINE_HYPERALDOSTERONISM_ICD">
			  <xs:complexType>
			    <xs:all>
			      <xs:element name="Value" type="xs:string" nillable="true"/>
			      <xs:element name="Metadata" type="edis:Metadata"/>
			    </xs:all>
			  </xs:complexType>
			</xs:element>

			<xs:element name="DIAGNOSIS_ENDOCRINE_HYPOGONADISM_DATE">
			  <xs:complexType>
			    <xs:all>
			      <xs:element name="Value" type="xs:string" nillable="true"/>
			      <xs:element name="Metadata" type="edis:Metadata"/>
			    </xs:all>
			  </xs:complexType>
			</xs:element>

			<xs:element name="DIAGNOSIS_ENDOCRINE_PHEO_DATE">
			  <xs:complexType>
			    <xs:all>
			      <xs:element name="Value" type="xs:string" nillable="true"/>
			      <xs:element name="Metadata" type="edis:Metadata"/>
			    </xs:all>
			  </xs:complexType>
			</xs:element>

			<xs:element name="DIAGNOSIS_ENDOCRINE_HYPERALDOSTERONISM_DATE">
			  <xs:complexType>
			    <xs:all>
			      <xs:element name="Value" type="xs:string" nillable="true"/>
			      <xs:element name="Metadata" type="edis:Metadata"/>
			    </xs:all>
			  </xs:complexType>
			</xs:element>

			<xs:element name="NeoplasMalignant">
			  <xs:annotation>
			    <xs:documentation>Neoplasm, malignant, any specified part of the endocrine system</xs:documentation>
			  </xs:annotation>
			  <xs:complexType>
			    <xs:all>
			      <xs:element name="Value" type="xs:boolean" default="false"/>
			      <xs:element name="Metadata" type="edis:Metadata"/>
			    </xs:all>
			  </xs:complexType>
			</xs:element>

			<xs:element name="NeoplasMalignantActiveMalignancy">
			  <xs:annotation>
			    <xs:documentation>Active Malignancy</xs:documentation>
			  </xs:annotation>
			  <xs:complexType>
			    <xs:all>
			      <xs:element name="Value" type="xs:boolean" default="false"/>
			      <xs:element name="Metadata" type="edis:Metadata"/>
			    </xs:all>
			  </xs:complexType>
			</xs:element>

			<xs:element name="NeoplasMalignantUndergoingProcedure">
			  <xs:annotation>
			    <xs:documentation>Undergoing surgical, X-ray, antineoplastic chemotherapy or other therapeutic procedure</xs:documentation>
			  </xs:annotation>
			  <xs:complexType>
			    <xs:all>
			      <xs:element name="Value" type="xs:boolean" default="false"/>
			      <xs:element name="Metadata" type="edis:Metadata"/>
			    </xs:all>
			  </xs:complexType>
			</xs:element>

			<xs:element name="NeoplasMalignantInRemission">
			  <xs:annotation>
			    <xs:documentation>In remission</xs:documentation>
			  </xs:annotation>
			  <xs:complexType>
			    <xs:all>
			      <xs:element name="Value" type="xs:boolean" default="false"/>
			      <xs:element name="Metadata" type="edis:Metadata"/>
			    </xs:all>
			  </xs:complexType>
			</xs:element>

			<xs:element name="DIAGNOSIS_ENDOCRINE_NEOPLASM_MALIGNANT_ICD">
			  <xs:complexType>
			    <xs:all>
			      <xs:element name="Value" type="xs:string" nillable="true"/>
			      <xs:element name="Metadata" type="edis:Metadata"/>
			    </xs:all>
			  </xs:complexType>
			</xs:element>

			<xs:element name="DIAGNOSIS_ENDOCRINE_NEOPLASM_MALIGNANT_DATE">
			  <xs:complexType>
			    <xs:all>
			      <xs:element name="Value" type="xs:string" nillable="true"/>
			      <xs:element name="Metadata" type="edis:Metadata"/>
			    </xs:all>
			  </xs:complexType>
			</xs:element>

			<xs:element name="DIAGNOSIS_ENDOCRINE_HYPERPITUITARISM">
			  <xs:annotation>
			    <xs:documentation>Hyperpituitarism (prolactin secreting pituitary disfunction)</xs:documentation>
			  </xs:annotation>
			  <xs:complexType>
			    <xs:all>
			      <xs:element name="Value" type="xs:boolean" default="false"/>
			      <xs:element name="Metadata" type="edis:Metadata"/>
			    </xs:all>
			  </xs:complexType>
			</xs:element>

			<xs:element name="PheochromocytomaBenign">
			  <xs:annotation>
			    <xs:documentation>Benign</xs:documentation>
			  </xs:annotation>
			  <xs:complexType>
			    <xs:all>
			      <xs:element name="Value" type="xs:boolean" default="false"/>
			      <xs:element name="Metadata" type="edis:Metadata"/>
			    </xs:all>
			  </xs:complexType>
			</xs:element>

			<xs:element name="PheochromocytomaMalignant">
			  <xs:annotation>
			    <xs:documentation>Malignant</xs:documentation>
			  </xs:annotation>
			  <xs:complexType>
			    <xs:all>
			      <xs:element name="Value" type="xs:boolean" default="false"/>
			      <xs:element name="Metadata" type="edis:Metadata"/>
			    </xs:all>
			  </xs:complexType>
			</xs:element>

			<xs:element name="HyperaldosteronismBenign">
			  <xs:annotation>
			    <xs:documentation>Benign</xs:documentation>
			  </xs:annotation>
			  <xs:complexType>
			    <xs:all>
			      <xs:element name="Value" type="xs:boolean" default="false"/>
			      <xs:element name="Metadata" type="edis:Metadata"/>
			    </xs:all>
			  </xs:complexType>
			</xs:element>

			<xs:element name="HyperaldosteronismMalignant">
			  <xs:annotation>
			    <xs:documentation>Malignant</xs:documentation>
			  </xs:annotation>
			  <xs:complexType>
			    <xs:all>
			      <xs:element name="Value" type="xs:boolean" default="false"/>
			      <xs:element name="Metadata" type="edis:Metadata"/>
			    </xs:all>
			  </xs:complexType>
			</xs:element>

			<xs:element name="HyperaldosteronismMalignantSymptoms">
			  <xs:annotation> 
			    <xs:documentation></xs:documentation>
			  </xs:annotation>
			  <xs:complexType>
			    <xs:all>
			      <xs:element name="Value" nillable="true">
			        <xs:simpleType>
			          <xs:restriction base="xs:string">
			            <xs:enumeration value="Active"/>
			            <xs:enumeration value="In Remission"/>
			          </xs:restriction>
			        </xs:simpleType>
			      </xs:element>
			      <xs:element name="Metadata" type="edis:Metadata"/>
			    </xs:all>
			  </xs:complexType>
			</xs:element>

			<xs:element name="HyperpituitarismBenign">
			  <xs:annotation>
			    <xs:documentation>Benign</xs:documentation>
			  </xs:annotation>
			  <xs:complexType>
			    <xs:all>
			      <xs:element name="Value" type="xs:boolean" default="false"/>
			      <xs:element name="Metadata" type="edis:Metadata"/>
			    </xs:all>
			  </xs:complexType>
			</xs:element>

			<xs:element name="HyperpituitarismMalignant">
			  <xs:annotation>
			    <xs:documentation>Malignant</xs:documentation>
			  </xs:annotation>
			  <xs:complexType>
			    <xs:all>
			      <xs:element name="Value" type="xs:boolean" default="false"/>
			      <xs:element name="Metadata" type="edis:Metadata"/>
			    </xs:all>
			  </xs:complexType>
			</xs:element>

			<xs:element name="HyperpituitarismMalignantSymptoms">
			  <xs:annotation> 
			    <xs:documentation></xs:documentation>
			  </xs:annotation>
			  <xs:complexType>
			    <xs:all>
			      <xs:element name="Value" nillable="true">
			        <xs:simpleType>
			          <xs:restriction base="xs:string">
			            <xs:enumeration value="Active"/>
			            <xs:enumeration value="In Remission"/>
			          </xs:restriction>
			        </xs:simpleType>
			      </xs:element>
			      <xs:element name="Metadata" type="edis:Metadata"/>
			    </xs:all>
			  </xs:complexType>
			</xs:element>

			<xs:element name="DIAGNOSIS_ENDOCRINE_HYPERPITUITARISM_DATE">
			  <xs:complexType>
			    <xs:all>
			      <xs:element name="Value" type="xs:string" nillable="true"/>
			      <xs:element name="Metadata" type="edis:Metadata"/>
			    </xs:all>
			  </xs:complexType>
			</xs:element>

			<xs:element name="PheochromocytomaMalignantSymptoms">
			  <xs:annotation> 
			    <xs:documentation></xs:documentation>
			  </xs:annotation>
			  <xs:complexType>
			    <xs:all>
			      <xs:element name="Value" nillable="true">
			        <xs:simpleType>
			          <xs:restriction base="xs:string">
			            <xs:enumeration value="Active"/>
			            <xs:enumeration value="In Remission"/>
			          </xs:restriction>
			        </xs:simpleType>
			      </xs:element>
			      <xs:element name="Metadata" type="edis:Metadata"/>
			    </xs:all>
			  </xs:complexType>
			</xs:element>

			<xs:element name="CushingsEnlargementOfPituitaryGland">
			  <xs:annotation>
			    <xs:documentation>Enlargement of pituitary gland</xs:documentation>
			  </xs:annotation>
			  <xs:complexType>
			    <xs:all>
			      <xs:element name="Value" type="xs:boolean" default="false"/>
			      <xs:element name="Metadata" type="edis:Metadata"/>
			    </xs:all>
			  </xs:complexType>
			</xs:element>

			<xs:element name="FORM_RECORDSREVIEW_ReferralClinic_CPExaminationRequest_RG">
			  <xs:annotation> 
			    <xs:documentation>Is this DBQ being completed in conjunction with a VA 21-2507, C&amp;P Examination Request?</xs:documentation>
			  </xs:annotation>
			  <xs:complexType>
			    <xs:all>
			      <xs:element name="Value" nillable="true">
			        <xs:simpleType>
			          <xs:restriction base="xs:string">
			            <xs:enumeration value="Yes"/>
			            <xs:enumeration value="No"/>
			          </xs:restriction>
			        </xs:simpleType>
			      </xs:element>
			      <xs:element name="Metadata" type="edis:Metadata"/>
			    </xs:all>
			  </xs:complexType>
			</xs:element>

			<xs:element name="FORM_RECORDSREVIEW_ReferralClinic_InPersonExamination_CBx">
			  <xs:annotation>
			    <xs:documentation>In-person examination</xs:documentation>
			  </xs:annotation>
			  <xs:complexType>
			    <xs:all>
			      <xs:element name="Value" type="xs:boolean" default="false"/>
			      <xs:element name="Metadata" type="edis:Metadata"/>
			    </xs:all>
			  </xs:complexType>
			</xs:element>

			<xs:element name="FORM_RECORDSREVIEW_ReferralClinic_RecordsReviewed_CBx">
			  <xs:annotation>
			    <xs:documentation>Records reviewed</xs:documentation>
			  </xs:annotation>
			  <xs:complexType>
			    <xs:all>
			      <xs:element name="Value" type="xs:boolean" default="false"/>
			      <xs:element name="Metadata" type="edis:Metadata"/>
			    </xs:all>
			  </xs:complexType>
			</xs:element>

			<xs:element name="FORM_RECORDSREVIEW_ReferralClinic_Other_CBx">
			  <xs:annotation>
			    <xs:documentation>Other, please specify:</xs:documentation>
			  </xs:annotation>
			  <xs:complexType>
			    <xs:all>
			      <xs:element name="Value" type="xs:boolean" default="false"/>
			      <xs:element name="Metadata" type="edis:Metadata"/>
			    </xs:all>
			  </xs:complexType>
			</xs:element>

			<xs:element name="FORM_RECORDSREVIEW_ReferralClinic_Other_MB">
			  <xs:complexType>
			    <xs:all>
			      <xs:element name="Value" type="xs:string" nillable="true"/>
			      <xs:element name="Metadata" type="edis:Metadata"/>
			    </xs:all>
			  </xs:complexType>
			</xs:element>

			<xs:element name="FORM_RECORDSREVIEW_ReferralClinic_Comments__MB">
			  <xs:complexType>
			    <xs:all>
			      <xs:element name="Value" type="xs:string" nillable="true"/>
			      <xs:element name="Metadata" type="edis:Metadata"/>
			    </xs:all>
			  </xs:complexType>
			</xs:element>

			<xs:element name="RECORDS_REVIEW_RECORDSREVIEW_EvidenceReview_NotRequested_CB">
			  <xs:annotation>
			    <xs:documentation>Not requested</xs:documentation>
			  </xs:annotation>
			  <xs:complexType>
			    <xs:all>
			      <xs:element name="Value" type="xs:boolean" default="false"/>
			      <xs:element name="Metadata" type="edis:Metadata"/>
			    </xs:all>
			  </xs:complexType>
			</xs:element>

			<xs:element name="RECORDS_REVIEW_RECORDSREVIEW_EvidenceReview_NoRecords_CB">
			  <xs:annotation>
			    <xs:documentation>No records were reviewed</xs:documentation>
			  </xs:annotation>
			  <xs:complexType>
			    <xs:all>
			      <xs:element name="Value" type="xs:boolean" default="false"/>
			      <xs:element name="Metadata" type="edis:Metadata"/>
			    </xs:all>
			  </xs:complexType>
			</xs:element>

			<xs:element name="RECORDS_REVIEW_RECORDSREVIEW_EvidenceReview_CFile_CB">
			  <xs:annotation>
			    <xs:documentation>VA claims file (hard copy paper C-file)</xs:documentation>
			  </xs:annotation>
			  <xs:complexType>
			    <xs:all>
			      <xs:element name="Value" type="xs:boolean" default="false"/>
			      <xs:element name="Metadata" type="edis:Metadata"/>
			    </xs:all>
			  </xs:complexType>
			</xs:element>

			<xs:element name="RECORDS_REVIEW_RECORDSREVIEW_EvidenceReview_EFolder_CB">
			  <xs:annotation>
			    <xs:documentation>VA e-folder</xs:documentation>
			  </xs:annotation>
			  <xs:complexType>
			    <xs:all>
			      <xs:element name="Value" type="xs:boolean" default="false"/>
			      <xs:element name="Metadata" type="edis:Metadata"/>
			    </xs:all>
			  </xs:complexType>
			</xs:element>

			<xs:element name="RECORDS_REVIEW_RECORDSREVIEW_EvidenceReview_CPRS_CB">
			  <xs:annotation>
			    <xs:documentation>CPRS</xs:documentation>
			  </xs:annotation>
			  <xs:complexType>
			    <xs:all>
			      <xs:element name="Value" type="xs:boolean" default="false"/>
			      <xs:element name="Metadata" type="edis:Metadata"/>
			    </xs:all>
			  </xs:complexType>
			</xs:element>

			<xs:element name="RECORDS_REVIEW_RECORDSREVIEW_EvidenceReview_Other_CB">
			  <xs:annotation>
			    <xs:documentation>Other (please identify other evidence reviewed):</xs:documentation>
			  </xs:annotation>
			  <xs:complexType>
			    <xs:all>
			      <xs:element name="Value" type="xs:boolean" default="false"/>
			      <xs:element name="Metadata" type="edis:Metadata"/>
			    </xs:all>
			  </xs:complexType>
			</xs:element>

			<xs:element name="RECORDS_REVIEW_RECORDSREVIEW_EvidenceReview_Other_Memo">
			  <xs:complexType>
			    <xs:all>
			      <xs:element name="Value" type="xs:string" nillable="true"/>
			      <xs:element name="Metadata" type="edis:Metadata"/>
			    </xs:all>
			  </xs:complexType>
			</xs:element>

			<xs:element name="RECORDS_REVIEW_RECORDSREVIEW_EvidenceReview_Comments_Memo">
			  <xs:complexType>
			    <xs:all>
			      <xs:element name="Value" type="xs:string" nillable="true"/>
			      <xs:element name="Metadata" type="edis:Metadata"/>
			    </xs:all>
			  </xs:complexType>
			</xs:element>

			<xs:element name="EXAM_ENDOCRINE_TUMORS_New">
			  <xs:annotation> 
			    <xs:documentation>a. Does the Veteran have a benign or malignant neoplasm or metastases related to any of the diagnoses in the Diagnosis Section?</xs:documentation>
			  </xs:annotation>
			  <xs:complexType>
			    <xs:all>
			      <xs:element name="Value" nillable="true">
			        <xs:simpleType>
			          <xs:restriction base="xs:string">
			            <xs:enumeration value="Yes"/>
			            <xs:enumeration value="No"/>
			          </xs:restriction>
			        </xs:simpleType>
			      </xs:element>
			      <xs:element name="Metadata" type="edis:Metadata"/>
			    </xs:all>
			  </xs:complexType>
			</xs:element>

			<xs:element name="EXAM_ENDOCRINE_OPP_Comments">
			  <xs:complexType>
			    <xs:all>
			      <xs:element name="Value" type="xs:string" nillable="true"/>
			      <xs:element name="Metadata" type="edis:Metadata"/>
			    </xs:all>
			  </xs:complexType>
			</xs:element>

			<xs:element name="EXAM_GENERAL_ACE_Cbx_1">
			  <xs:annotation>
			    <xs:documentation></xs:documentation>
			  </xs:annotation>
			  <xs:complexType>
			    <xs:all>
			      <xs:element name="Value" type="xs:boolean" default="false"/>
			      <xs:element name="Metadata" type="edis:Metadata"/>
			    </xs:all>
			  </xs:complexType>
			</xs:element>

			<xs:element name="EXAM_GENERAL_ACE_Cbx_2">
			  <xs:annotation>
			    <xs:documentation></xs:documentation>
			  </xs:annotation>
			  <xs:complexType>
			    <xs:all>
			      <xs:element name="Value" type="xs:boolean" default="false"/>
			      <xs:element name="Metadata" type="edis:Metadata"/>
			    </xs:all>
			  </xs:complexType>
			</xs:element>

			<xs:element name="EXAM_GENERAL_ACE_Cbx_3">
			  <xs:annotation>
			    <xs:documentation>Examination via approved video telehealth</xs:documentation>
			  </xs:annotation>
			  <xs:complexType>
			    <xs:all>
			      <xs:element name="Value" type="xs:boolean" default="false"/>
			      <xs:element name="Metadata" type="edis:Metadata"/>
			    </xs:all>
			  </xs:complexType>
			</xs:element>

			<xs:element name="EXAM_GENERAL_ACE_Cbx_4">
			  <xs:annotation>
			    <xs:documentation>In-person examination</xs:documentation>
			  </xs:annotation>
			  <xs:complexType>
			    <xs:all>
			      <xs:element name="Value" type="xs:boolean" default="false"/>
			      <xs:element name="Metadata" type="edis:Metadata"/>
			    </xs:all>
			  </xs:complexType>
			</xs:element>

			<xs:element name="DIAGNOSIS_ENDOCRINE_BodySystem_1_Musculoskeletal">
			  <xs:annotation>
			    <xs:documentation>Musculoskeletal symptoms, (complete appropriate musculoskeletal DBQ)</xs:documentation>
			  </xs:annotation>
			  <xs:complexType>
			    <xs:all>
			      <xs:element name="Value" type="xs:boolean" default="false"/>
			      <xs:element name="Metadata" type="edis:Metadata"/>
			    </xs:all>
			  </xs:complexType>
			</xs:element>

			<xs:element name="DIAGNOSIS_ENDOCRINE_BodySystem_2_Respiratory">
			  <xs:annotation>
			    <xs:documentation>Respiratory symptoms, (complete appropriate respiratory DBQ)</xs:documentation>
			  </xs:annotation>
			  <xs:complexType>
			    <xs:all>
			      <xs:element name="Value" type="xs:boolean" default="false"/>
			      <xs:element name="Metadata" type="edis:Metadata"/>
			    </xs:all>
			  </xs:complexType>
			</xs:element>

			<xs:element name="DIAGNOSIS_ENDOCRINE_BodySystem_3_Cardiovascular">
			  <xs:annotation>
			    <xs:documentation>Cardiovascular symptoms, (complete appropriate cardiovascular DBQ)</xs:documentation>
			  </xs:annotation>
			  <xs:complexType>
			    <xs:all>
			      <xs:element name="Value" type="xs:boolean" default="false"/>
			      <xs:element name="Metadata" type="edis:Metadata"/>
			    </xs:all>
			  </xs:complexType>
			</xs:element>

			<xs:element name="DIAGNOSIS_ENDOCRINE_BodySystem_4_Gastrointestinal">
			  <xs:annotation>
			    <xs:documentation>Gastrointestinal symptoms, (complete appropriate gastrointestinal DBQ)</xs:documentation>
			  </xs:annotation>
			  <xs:complexType>
			    <xs:all>
			      <xs:element name="Value" type="xs:boolean" default="false"/>
			      <xs:element name="Metadata" type="edis:Metadata"/>
			    </xs:all>
			  </xs:complexType>
			</xs:element>

			<xs:element name="DIAGNOSIS_ENDOCRINE_BodySystem_5_Genitourinary">
			  <xs:annotation>
			    <xs:documentation>Genitourinary symptoms, (complete appropriate genitourinary DBQ)</xs:documentation>
			  </xs:annotation>
			  <xs:complexType>
			    <xs:all>
			      <xs:element name="Value" type="xs:boolean" default="false"/>
			      <xs:element name="Metadata" type="edis:Metadata"/>
			    </xs:all>
			  </xs:complexType>
			</xs:element>

			<xs:element name="DIAGNOSIS_ENDOCRINE_BodySystem_6_Reproductive">
			  <xs:annotation>
			    <xs:documentation>Reproductive symptoms, (complete appropriate gynecological or male reproductive organ DBQ)</xs:documentation>
			  </xs:annotation>
			  <xs:complexType>
			    <xs:all>
			      <xs:element name="Value" type="xs:boolean" default="false"/>
			      <xs:element name="Metadata" type="edis:Metadata"/>
			    </xs:all>
			  </xs:complexType>
			</xs:element>

			<xs:element name="DIAGNOSIS_ENDOCRINE_BodySystem_7_Skin">
			  <xs:annotation>
			    <xs:documentation>Skin symptoms, (complete appropriate dermatological DBQ)</xs:documentation>
			  </xs:annotation>
			  <xs:complexType>
			    <xs:all>
			      <xs:element name="Value" type="xs:boolean" default="false"/>
			      <xs:element name="Metadata" type="edis:Metadata"/>
			    </xs:all>
			  </xs:complexType>
			</xs:element>

			<xs:element name="DIAGNOSIS_ENDOCRINE_BodySystem_8_Eye">
			  <xs:annotation>
			    <xs:documentation>Eye involvement, (complete appropriate ophthalmological DBQ)</xs:documentation>
			  </xs:annotation>
			  <xs:complexType>
			    <xs:all>
			      <xs:element name="Value" type="xs:boolean" default="false"/>
			      <xs:element name="Metadata" type="edis:Metadata"/>
			    </xs:all>
			  </xs:complexType>
			</xs:element>

			<xs:element name="DIAGNOSIS_ENDOCRINE_BodySystem_9_Neurological">
			  <xs:annotation>
			    <xs:documentation>Neurological symptoms, (complete appropriate neurological DBQ)</xs:documentation>
			  </xs:annotation>
			  <xs:complexType>
			    <xs:all>
			      <xs:element name="Value" type="xs:boolean" default="false"/>
			      <xs:element name="Metadata" type="edis:Metadata"/>
			    </xs:all>
			  </xs:complexType>
			</xs:element>

			<xs:element name="DIAGNOSIS_ENDOCRINE_BodySystem_10_MentalAndPsych">
			  <xs:annotation>
			    <xs:documentation>Mental and psychological symptoms, (complete appropriate psychological DBQ)</xs:documentation>
			  </xs:annotation>
			  <xs:complexType>
			    <xs:all>
			      <xs:element name="Value" type="xs:boolean" default="false"/>
			      <xs:element name="Metadata" type="edis:Metadata"/>
			    </xs:all>
			  </xs:complexType>
			</xs:element>

			<xs:element name="DIAGNOSIS_ENDOCRINE_BodySystem_11_DentalAndOral">
			  <xs:annotation>
			    <xs:documentation>Dental and oral symptoms, (complete appropriate dental and oral DBQ)</xs:documentation>
			  </xs:annotation>
			  <xs:complexType>
			    <xs:all>
			      <xs:element name="Value" type="xs:boolean" default="false"/>
			      <xs:element name="Metadata" type="edis:Metadata"/>
			    </xs:all>
			  </xs:complexType>
			</xs:element>

			<xs:element name="EXAM_ENDOCRINE_CUSHINGS">
			  <xs:annotation> 
			    <xs:documentation>a. Does the Veteran have any findings, signs or symptoms attributable to Cushing's syndrome?</xs:documentation>
			  </xs:annotation>
			  <xs:complexType>
			    <xs:all>
			      <xs:element name="Value" nillable="true">
			        <xs:simpleType>
			          <xs:restriction base="xs:string">
			            <xs:enumeration value="Yes"/>
			            <xs:enumeration value="No"/>
			          </xs:restriction>
			        </xs:simpleType>
			      </xs:element>
			      <xs:element name="Metadata" type="edis:Metadata"/>
			    </xs:all>
			  </xs:complexType>
			</xs:element>

			<xs:element name="EXAM_ENDOCRINE_DIABETES_17_1_Polyuria">
			  <xs:annotation>
			    <xs:documentation>Persistent Polyuria</xs:documentation>
			  </xs:annotation>
			  <xs:complexType>
			    <xs:all>
			      <xs:element name="Value" type="xs:boolean" default="false"/>
			      <xs:element name="Metadata" type="edis:Metadata"/>
			    </xs:all>
			  </xs:complexType>
			</xs:element>

			<xs:element name="EXAM_ENDOCRINE_DIABETES_17_1_HormonalTherapy">
			  <xs:annotation>
			    <xs:documentation>Requires continuous hormonal therapy</xs:documentation>
			  </xs:annotation>
			  <xs:complexType>
			    <xs:all>
			      <xs:element name="Value" type="xs:boolean" default="false"/>
			      <xs:element name="Metadata" type="edis:Metadata"/>
			    </xs:all>
			  </xs:complexType>
			</xs:element>

			<xs:element name="EXAM_ENDOCRINE_DIABETES_17_1_AdditionalFindings">
			  <xs:annotation> 
			    <xs:documentation>b. Does the Veteran currently have any additional findings, signs or symptoms attributable to diabetes insipidus?</xs:documentation>
			  </xs:annotation>
			  <xs:complexType>
			    <xs:all>
			      <xs:element name="Value" nillable="true">
			        <xs:simpleType>
			          <xs:restriction base="xs:string">
			            <xs:enumeration value="Yes"/>
			            <xs:enumeration value="No"/>
			          </xs:restriction>
			        </xs:simpleType>
			      </xs:element>
			      <xs:element name="Metadata" type="edis:Metadata"/>
			    </xs:all>
			  </xs:complexType>
			</xs:element>

			<xs:element name="EXAM_ENDOCRINE_TUMORS_17_1_Active">
			  <xs:annotation>
			    <xs:documentation>Active</xs:documentation>
			  </xs:annotation>
			  <xs:complexType>
			    <xs:all>
			      <xs:element name="Value" type="xs:boolean" default="false"/>
			      <xs:element name="Metadata" type="edis:Metadata"/>
			    </xs:all>
			  </xs:complexType>
			</xs:element>

			<xs:element name="EXAM_ENDOCRINE_TUMORS_17_1_Active_Surgery">
			  <xs:annotation>
			    <xs:documentation>Surgery</xs:documentation>
			  </xs:annotation>
			  <xs:complexType>
			    <xs:all>
			      <xs:element name="Value" type="xs:boolean" default="false"/>
			      <xs:element name="Metadata" type="edis:Metadata"/>
			    </xs:all>
			  </xs:complexType>
			</xs:element>

			<xs:element name="EXAM_ENDOCRINE_TUMORS_17_1_Active_Surgery_Describe">
			  <xs:complexType>
			    <xs:all>
			      <xs:element name="Value" type="xs:string" nillable="true"/>
			      <xs:element name="Metadata" type="edis:Metadata"/>
			    </xs:all>
			  </xs:complexType>
			</xs:element>

			<xs:element name="EXAM_ENDOCRINE_TUMORS_17_1_Active_Chemo">
			  <xs:annotation>
			    <xs:documentation>Antineoplastic Chemotherapy</xs:documentation>
			  </xs:annotation>
			  <xs:complexType>
			    <xs:all>
			      <xs:element name="Value" type="xs:boolean" default="false"/>
			      <xs:element name="Metadata" type="edis:Metadata"/>
			    </xs:all>
			  </xs:complexType>
			</xs:element>

			<xs:element name="EXAM_ENDOCRINE_TUMORS_17_1_Active_Radiation">
			  <xs:annotation>
			    <xs:documentation>Radiation</xs:documentation>
			  </xs:annotation>
			  <xs:complexType>
			    <xs:all>
			      <xs:element name="Value" type="xs:boolean" default="false"/>
			      <xs:element name="Metadata" type="edis:Metadata"/>
			    </xs:all>
			  </xs:complexType>
			</xs:element>

			<xs:element name="EXAM_ENDOCRINE_TUMORS_17_1_Active_Other">
			  <xs:annotation>
			    <xs:documentation>Other</xs:documentation>
			  </xs:annotation>
			  <xs:complexType>
			    <xs:all>
			      <xs:element name="Value" type="xs:boolean" default="false"/>
			      <xs:element name="Metadata" type="edis:Metadata"/>
			    </xs:all>
			  </xs:complexType>
			</xs:element>

			<xs:element name="EXAM_ENDOCRINE_TUMORS_17_1_Active_Other_Describe">
			  <xs:complexType>
			    <xs:all>
			      <xs:element name="Value" type="xs:string" nillable="true"/>
			      <xs:element name="Metadata" type="edis:Metadata"/>
			    </xs:all>
			  </xs:complexType>
			</xs:element>

			<xs:element name="EXAM_ENDOCRINE_TUMORS_17_1_Active_DateFinalTreatment">
			  <xs:complexType>
			    <xs:all>
			      <xs:element name="Value" type="xs:string" nillable="true"/>
			      <xs:element name="Metadata" type="edis:Metadata"/>
			    </xs:all>
			  </xs:complexType>
			</xs:element>

			<xs:element name="EXAM_ENDOCRINE_TUMORS_17_1_Remission">
			  <xs:annotation>
			    <xs:documentation>Remission</xs:documentation>
			  </xs:annotation>
			  <xs:complexType>
			    <xs:all>
			      <xs:element name="Value" type="xs:boolean" default="false"/>
			      <xs:element name="Metadata" type="edis:Metadata"/>
			    </xs:all>
			  </xs:complexType>
			</xs:element>

			<xs:element name="EXAM_ENDOCRINE_TUMORS_17_1_Remission_Surgery">
			  <xs:annotation>
			    <xs:documentation>Surgery</xs:documentation>
			  </xs:annotation>
			  <xs:complexType>
			    <xs:all>
			      <xs:element name="Value" type="xs:boolean" default="false"/>
			      <xs:element name="Metadata" type="edis:Metadata"/>
			    </xs:all>
			  </xs:complexType>
			</xs:element>

			<xs:element name="EXAM_ENDOCRINE_TUMORS_17_1_Remission_Surgery_Describe">
			  <xs:complexType>
			    <xs:all>
			      <xs:element name="Value" type="xs:string" nillable="true"/>
			      <xs:element name="Metadata" type="edis:Metadata"/>
			    </xs:all>
			  </xs:complexType>
			</xs:element>

			<xs:element name="EXAM_ENDOCRINE_TUMORS_17_1_Remission_Radiation">
			  <xs:annotation>
			    <xs:documentation>Radiation</xs:documentation>
			  </xs:annotation>
			  <xs:complexType>
			    <xs:all>
			      <xs:element name="Value" type="xs:boolean" default="false"/>
			      <xs:element name="Metadata" type="edis:Metadata"/>
			    </xs:all>
			  </xs:complexType>
			</xs:element>

			<xs:element name="EXAM_ENDOCRINE_TUMORS_17_1_Remission_Other">
			  <xs:annotation>
			    <xs:documentation>Other</xs:documentation>
			  </xs:annotation>
			  <xs:complexType>
			    <xs:all>
			      <xs:element name="Value" type="xs:boolean" default="false"/>
			      <xs:element name="Metadata" type="edis:Metadata"/>
			    </xs:all>
			  </xs:complexType>
			</xs:element>

			<xs:element name="EXAM_ENDOCRINE_TUMORS_17_1_Remission_Other_Describe">
			  <xs:complexType>
			    <xs:all>
			      <xs:element name="Value" type="xs:string" nillable="true"/>
			      <xs:element name="Metadata" type="edis:Metadata"/>
			    </xs:all>
			  </xs:complexType>
			</xs:element>

			<xs:element name="EXAM_ENDOCRINE_TUMORS_17_1_Remission_DateFinalTreatment">
			  <xs:complexType>
			    <xs:all>
			      <xs:element name="Value" type="xs:string" nillable="true"/>
			      <xs:element name="Metadata" type="edis:Metadata"/>
			    </xs:all>
			  </xs:complexType>
			</xs:element>

			<xs:element name="EXAM_ENDOCRINE_TUMORS_17_1_Remission_Chemo">
			  <xs:annotation>
			    <xs:documentation>Antineoplastic Chemotherapy</xs:documentation>
			  </xs:annotation>
			  <xs:complexType>
			    <xs:all>
			      <xs:element name="Value" type="xs:boolean" default="false"/>
			      <xs:element name="Metadata" type="edis:Metadata"/>
			    </xs:all>
			  </xs:complexType>
			</xs:element>

			<xs:element name="EXAM_ENDOCRINE_DT_LABS_TYPE_b">
			  <xs:complexType>
			    <xs:all>
			      <xs:element name="Value" type="xs:string" nillable="true"/>
			      <xs:element name="Metadata" type="edis:Metadata"/>
			    </xs:all>
			  </xs:complexType>
			</xs:element>

			<xs:element name="EXAM_ENDOCRINE_DT_LABS_TYPE_DATE_b">
			  <xs:complexType>
			    <xs:all>
			      <xs:element name="Value" type="xs:string" nillable="true"/>
			      <xs:element name="Metadata" type="edis:Metadata"/>
			    </xs:all>
			  </xs:complexType>
			</xs:element>

			<xs:element name="EXAM_ENDOCRINE_DT_LABS_TYPE_RESULTS_b">
			  <xs:complexType>
			    <xs:all>
			      <xs:element name="Value" type="xs:string" nillable="true"/>
			      <xs:element name="Metadata" type="edis:Metadata"/>
			    </xs:all>
			  </xs:complexType>
			</xs:element>

			<xs:element name="EXAM_ENDOCRINE_DT_LABS_TYPE_c">
			  <xs:complexType>
			    <xs:all>
			      <xs:element name="Value" type="xs:string" nillable="true"/>
			      <xs:element name="Metadata" type="edis:Metadata"/>
			    </xs:all>
			  </xs:complexType>
			</xs:element>

			<xs:element name="EXAM_ENDOCRINE_DT_LABS_TYPE_DATE_c">
			  <xs:complexType>
			    <xs:all>
			      <xs:element name="Value" type="xs:string" nillable="true"/>
			      <xs:element name="Metadata" type="edis:Metadata"/>
			    </xs:all>
			  </xs:complexType>
			</xs:element>

			<xs:element name="EXAM_ENDOCRINE_DT_LABS_TYPE_RESULTS_c">
			  <xs:complexType>
			    <xs:all>
			      <xs:element name="Value" type="xs:string" nillable="true"/>
			      <xs:element name="Metadata" type="edis:Metadata"/>
			    </xs:all>
			  </xs:complexType>
			</xs:element>

			<xs:element name="EXAM_ENDOCRINE_DT_LABS">
			  <xs:annotation> 
			    <xs:documentation>b. Has laboratory testing been performed?</xs:documentation>
			  </xs:annotation>
			  <xs:complexType>
			    <xs:all>
			      <xs:element name="Value" nillable="true">
			        <xs:simpleType>
			          <xs:restriction base="xs:string">
			            <xs:enumeration value="Yes"/>
			            <xs:enumeration value="No"/>
			          </xs:restriction>
			        </xs:simpleType>
			      </xs:element>
			      <xs:element name="Metadata" type="edis:Metadata"/>
			    </xs:all>
			  </xs:complexType>
			</xs:element>

			<xs:element name="EXAM_ENDOCRINE_ACROMEGALY0">
			  <xs:annotation> 
			    <xs:documentation>a. Does the Veteran currently have any findings, signs or symptoms attributable to acromegaly?</xs:documentation>
			  </xs:annotation>
			  <xs:complexType>
			    <xs:all>
			      <xs:element name="Value" nillable="true">
			        <xs:simpleType>
			          <xs:restriction base="xs:string">
			            <xs:enumeration value="Yes"/>
			            <xs:enumeration value="No"/>
			          </xs:restriction>
			        </xs:simpleType>
			      </xs:element>
			      <xs:element name="Metadata" type="edis:Metadata"/>
			    </xs:all>
			  </xs:complexType>
			</xs:element>

			<xs:element name="EXAM_ENDOCRINE_DIABETES0">
			  <xs:annotation> 
			    <xs:documentation>a. Does the Veteran currently have any findings, signs or symptoms attributable to diabetes insipidus?</xs:documentation>
			  </xs:annotation>
			  <xs:complexType>
			    <xs:all>
			      <xs:element name="Value" nillable="true">
			        <xs:simpleType>
			          <xs:restriction base="xs:string">
			            <xs:enumeration value="Yes"/>
			            <xs:enumeration value="No"/>
			          </xs:restriction>
			        </xs:simpleType>
			      </xs:element>
			      <xs:element name="Metadata" type="edis:Metadata"/>
			    </xs:all>
			  </xs:complexType>
			</xs:element>

			<xs:element name="EXAM_ENDOCRINE_CUSHINGS_MoreThan6Months_17_1">
			  <xs:annotation> 
			    <xs:documentation>Has it been more than 6 months since the initial diagnosis?</xs:documentation>
			  </xs:annotation>
			  <xs:complexType>
			    <xs:all>
			      <xs:element name="Value" nillable="true">
			        <xs:simpleType>
			          <xs:restriction base="xs:string">
			            <xs:enumeration value="Yes"/>
			            <xs:enumeration value="No"/>
			          </xs:restriction>
			        </xs:simpleType>
			      </xs:element>
			      <xs:element name="Metadata" type="edis:Metadata"/>
			    </xs:all>
			  </xs:complexType>
			</xs:element>

			<xs:element name="EXAM_ENDOCRINE_CUSHINGS_AreasOfOsteoporosis_17_1">
			  <xs:annotation>
			    <xs:documentation>Areas of osteoporosis</xs:documentation>
			  </xs:annotation>
			  <xs:complexType>
			    <xs:all>
			      <xs:element name="Value" type="xs:boolean" default="false"/>
			      <xs:element name="Metadata" type="edis:Metadata"/>
			    </xs:all>
			  </xs:complexType>
			</xs:element>

			<xs:element name="EXAM_ENDOCRINE_CUSHINGS_Proximal1_17_1">
			  <xs:annotation>
			    <xs:documentation>Proximal upper extremity muscle wasting that results in inability to climb stairs</xs:documentation>
			  </xs:annotation>
			  <xs:complexType>
			    <xs:all>
			      <xs:element name="Value" type="xs:boolean" default="false"/>
			      <xs:element name="Metadata" type="edis:Metadata"/>
			    </xs:all>
			  </xs:complexType>
			</xs:element>

			<xs:element name="EXAM_ENDOCRINE_CUSHINGS_Proximal2_17_1">
			  <xs:annotation>
			    <xs:documentation>Proximal upper extremity muscle wasting that results in inability to rise from a deep chair without assistance</xs:documentation>
			  </xs:annotation>
			  <xs:complexType>
			    <xs:all>
			      <xs:element name="Value" type="xs:boolean" default="false"/>
			      <xs:element name="Metadata" type="edis:Metadata"/>
			    </xs:all>
			  </xs:complexType>
			</xs:element>

			<xs:element name="EXAM_ENDOCRINE_CUSHINGS_Proximal3_17_1">
			  <xs:annotation>
			    <xs:documentation>Proximal upper extremity muscle wasting that results in inability to rise from squatting position</xs:documentation>
			  </xs:annotation>
			  <xs:complexType>
			    <xs:all>
			      <xs:element name="Value" type="xs:boolean" default="false"/>
			      <xs:element name="Metadata" type="edis:Metadata"/>
			    </xs:all>
			  </xs:complexType>
			</xs:element>

			<xs:element name="EXAM_ENDOCRINE_CUSHINGS_Proximal4_17_1">
			  <xs:annotation>
			    <xs:documentation>Proximal upper extremity muscle wasting that results in inability to raise arms</xs:documentation>
			  </xs:annotation>
			  <xs:complexType>
			    <xs:all>
			      <xs:element name="Value" type="xs:boolean" default="false"/>
			      <xs:element name="Metadata" type="edis:Metadata"/>
			    </xs:all>
			  </xs:complexType>
			</xs:element>

			<xs:element name="EXAM_ENDOCRINE_CUSHINGS_Proximal5_17_1">
			  <xs:annotation>
			    <xs:documentation>Proximal lower extremity muscle wasting that results in inability to climb stairs</xs:documentation>
			  </xs:annotation>
			  <xs:complexType>
			    <xs:all>
			      <xs:element name="Value" type="xs:boolean" default="false"/>
			      <xs:element name="Metadata" type="edis:Metadata"/>
			    </xs:all>
			  </xs:complexType>
			</xs:element>

			<xs:element name="EXAM_ENDOCRINE_CUSHINGS_Proximal6_17_1">
			  <xs:annotation>
			    <xs:documentation>Proximal lower extremity muscle wasting that results in inability to rise from a deep chair without assistance</xs:documentation>
			  </xs:annotation>
			  <xs:complexType>
			    <xs:all>
			      <xs:element name="Value" type="xs:boolean" default="false"/>
			      <xs:element name="Metadata" type="edis:Metadata"/>
			    </xs:all>
			  </xs:complexType>
			</xs:element>

			<xs:element name="EXAM_ENDOCRINE_CUSHINGS_Proximal7_17_1">
			  <xs:annotation>
			    <xs:documentation>Proximal lower extremity muscle wasting that results in inability to rise from squatting position</xs:documentation>
			  </xs:annotation>
			  <xs:complexType>
			    <xs:all>
			      <xs:element name="Value" type="xs:boolean" default="false"/>
			      <xs:element name="Metadata" type="edis:Metadata"/>
			    </xs:all>
			  </xs:complexType>
			</xs:element>

			<xs:element name="EXAM_ENDOCRINE_CUSHINGS_Proximal8_17_1">
			  <xs:annotation>
			    <xs:documentation>Proximal lower extremity muscle wasting that results in inability to raise arms</xs:documentation>
			  </xs:annotation>
			  <xs:complexType>
			    <xs:all>
			      <xs:element name="Value" type="xs:boolean" default="false"/>
			      <xs:element name="Metadata" type="edis:Metadata"/>
			    </xs:all>
			  </xs:complexType>
			</xs:element>

			<xs:element name="DIAGNOSIS_ENDOCRINE_CUSHINGS_DATE0">
			  <xs:complexType>
			    <xs:all>
			      <xs:element name="Value" type="xs:string" nillable="true"/>
			      <xs:element name="Metadata" type="edis:Metadata"/>
			    </xs:all>
			  </xs:complexType>
			</xs:element>

			<xs:element name="EXAM_ENDOCRINE_ACROMEGALY_b_17_1">
			  <xs:annotation> 
			    <xs:documentation>b. Does the Veteran currently have any additional findings, signs or symptoms attributable to acromegaly?</xs:documentation>
			  </xs:annotation>
			  <xs:complexType>
			    <xs:all>
			      <xs:element name="Value" nillable="true">
			        <xs:simpleType>
			          <xs:restriction base="xs:string">
			            <xs:enumeration value="Yes"/>
			            <xs:enumeration value="No"/>
			          </xs:restriction>
			        </xs:simpleType>
			      </xs:element>
			      <xs:element name="Metadata" type="edis:Metadata"/>
			    </xs:all>
			  </xs:complexType>
			</xs:element>

			<xs:element name="EXAM_ENDOCRINE_TUMORS_17_1_Active_XRay">
			  <xs:annotation>
			    <xs:documentation>X-ray treatment</xs:documentation>
			  </xs:annotation>
			  <xs:complexType>
			    <xs:all>
			      <xs:element name="Value" type="xs:boolean" default="false"/>
			      <xs:element name="Metadata" type="edis:Metadata"/>
			    </xs:all>
			  </xs:complexType>
			</xs:element>

			<xs:element name="EXAM_ENDOCRINE_TUMORS_17_1_Active_Waiting">
			  <xs:annotation>
			    <xs:documentation>Watchful waiting</xs:documentation>
			  </xs:annotation>
			  <xs:complexType>
			    <xs:all>
			      <xs:element name="Value" type="xs:boolean" default="false"/>
			      <xs:element name="Metadata" type="edis:Metadata"/>
			    </xs:all>
			  </xs:complexType>
			</xs:element>

			<xs:element name="EXAM_ENDOCRINE_TUMORS_17_1_Remission_Xray">
			  <xs:annotation>
			    <xs:documentation>X-ray treatment</xs:documentation>
			  </xs:annotation>
			  <xs:complexType>
			    <xs:all>
			      <xs:element name="Value" type="xs:boolean" default="false"/>
			      <xs:element name="Metadata" type="edis:Metadata"/>
			    </xs:all>
			  </xs:complexType>
			</xs:element>

			<xs:element name="EXAM_ENDOCRINE_TUMORS_17_1_Remission_Waiting">
			  <xs:annotation>
			    <xs:documentation>Watchful waiting</xs:documentation>
			  </xs:annotation>
			  <xs:complexType>
			    <xs:all>
			      <xs:element name="Value" type="xs:boolean" default="false"/>
			      <xs:element name="Metadata" type="edis:Metadata"/>
			    </xs:all>
			  </xs:complexType>
			</xs:element>

			<xs:element name="EXAM_ENDOCRINE_Historical_17_1">
			  <xs:annotation> 
			    <xs:documentation>Is the Veteran's date of claim or date of intent to file, if applicable, on or prior to December 9, 2017?</xs:documentation>
			  </xs:annotation>
			  <xs:complexType>
			    <xs:all>
			      <xs:element name="Value" nillable="true">
			        <xs:simpleType>
			          <xs:restriction base="xs:string">
			            <xs:enumeration value="Yes"/>
			            <xs:enumeration value="No"/>
			          </xs:restriction>
			        </xs:simpleType>
			      </xs:element>
			      <xs:element name="Metadata" type="edis:Metadata"/>
			    </xs:all>
			  </xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="EndocrineDiseasesForm" type="edis:EndocrineDiseasesFormType"/>
	<xs:complexType name="Metadata">
		<xs:sequence>
			<xs:element name="code" type="xs:string"/>
			<xs:element name="codeSystem" type="xs:string"/>
			<xs:element name="version" type="xs:string"/>
			<xs:element name="source" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
