extension/DBQNEUROReviewResidualsofTBI-2.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:rertbi="http://vler.va.gov/vler/schemas/health/clinicalDocuments/clinicalAssessments/cpExams/ReviewEvaluationOfResidualsOfTraumaticBrainInjury/2.0" targetNamespace="http://vler.va.gov/vler/schemas/health/clinicalDocuments/clinicalAssessments/cpExams/ReviewEvaluationOfResidualsOfTraumaticBrainInjury/2.0" version="2.0"  elementFormDefault="qualified">
	<xs:complexType name="ReviewEvaluationOfResidualsOfTraumaticBrainInjuryFormType">
		<xs:sequence>
			<xs:element name="DIAGNOSIS_NEURO_TBI_DIAGNOSIS">
			  <xs:annotation> 
			    <xs:documentation>Does the Veteran now have or has he/she ever had a traumatic brain injury (TBI) or any residuals of a TBI?</xs:documentation>
			  </xs:annotation>
			  <xs:complexType>
			    <xs:all>
			      <xs:element name="Value" nillable="true">
			        <xs:simpleType>
			          <xs:restriction base="xs:string">
			            <xs:enumeration value="Yes"/>
			            <xs:enumeration value="No"/>
			          </xs:restriction>
			        </xs:simpleType>
			      </xs:element>
			      <xs:element name="Metadata" type="rertbi:Metadata"/>
			    </xs:all>
			  </xs:complexType>
			</xs:element>

			<xs:element name="TBIReview">
			  <xs:annotation>
			    <xs:documentation>Traumatic brain injury (TBI)</xs:documentation>
			  </xs:annotation>
			  <xs:complexType>
			    <xs:all>
			      <xs:element name="Value" type="xs:boolean" default="false"/>
			      <xs:element name="Metadata" type="rertbi:Metadata"/>
			    </xs:all>
			  </xs:complexType>
			</xs:element>

			<xs:element name="DIAGNOSIS_NEURO_TBI_DIAGNOSIS_TBI_ICD">
			  <xs:complexType>
			    <xs:all>
			      <xs:element name="Value" type="xs:string" nillable="true"/>
			      <xs:element name="Metadata" type="rertbi:Metadata"/>
			    </xs:all>
			  </xs:complexType>
			</xs:element>

			<xs:element name="DIAGNOSIS_NEURO_TBI_DIAGNOSIS_TBI_DATE">
			  <xs:complexType>
			    <xs:all>
			      <xs:element name="Value" type="xs:string" nillable="true"/>
			      <xs:element name="Metadata" type="rertbi:Metadata"/>
			    </xs:all>
			  </xs:complexType>
			</xs:element>

			<xs:element name="DIAGNOSIS_NEURO_TBI_DIAGNOSIS_TBI_OTHER">
			  <xs:annotation>
			    <xs:documentation>Other diagnosed residuals attributable to TBI, specify:</xs:documentation>
			  </xs:annotation>
			  <xs:complexType>
			    <xs:all>
			      <xs:element name="Value" type="xs:boolean" default="false"/>
			      <xs:element name="Metadata" type="rertbi:Metadata"/>
			    </xs:all>
			  </xs:complexType>
			</xs:element>

			<xs:element name="DIAGNOSIS_NEURO_TBI_DIAGNOSIS_TBI_OTHER_1">
			  <xs:complexType>
			    <xs:all>
			      <xs:element name="Value" type="xs:string" nillable="true"/>
			      <xs:element name="Metadata" type="rertbi:Metadata"/>
			    </xs:all>
			  </xs:complexType>
			</xs:element>

			<xs:element name="DIAGNOSIS_NEURO_TBI_DIAGNOSIS_TBI_OTHER_1_ICD">
			  <xs:complexType>
			    <xs:all>
			      <xs:element name="Value" type="xs:string" nillable="true"/>
			      <xs:element name="Metadata" type="rertbi:Metadata"/>
			    </xs:all>
			  </xs:complexType>
			</xs:element>

			<xs:element name="DIAGNOSIS_NEURO_TBI_DIAGNOSIS_TBI_OTHER_1_DATE">
			  <xs:complexType>
			    <xs:all>
			      <xs:element name="Value" type="xs:string" nillable="true"/>
			      <xs:element name="Metadata" type="rertbi:Metadata"/>
			    </xs:all>
			  </xs:complexType>
			</xs:element>

			<xs:element name="DIAGNOSIS_NEURO_TBI_DIAGNOSIS_TBI_OTHER_2">
			  <xs:complexType>
			    <xs:all>
			      <xs:element name="Value" type="xs:string" nillable="true"/>
			      <xs:element name="Metadata" type="rertbi:Metadata"/>
			    </xs:all>
			  </xs:complexType>
			</xs:element>

			<xs:element name="DIAGNOSIS_NEURO_TBI_DIAGNOSIS_TBI_OTHER_2_ICD">
			  <xs:complexType>
			    <xs:all>
			      <xs:element name="Value" type="xs:string" nillable="true"/>
			      <xs:element name="Metadata" type="rertbi:Metadata"/>
			    </xs:all>
			  </xs:complexType>
			</xs:element>

			<xs:element name="DIAGNOSIS_NEURO_TBI_DIAGNOSIS_TBI_OTHER_2_DATE">
			  <xs:complexType>
			    <xs:all>
			      <xs:element name="Value" type="xs:string" nillable="true"/>
			      <xs:element name="Metadata" type="rertbi:Metadata"/>
			    </xs:all>
			  </xs:complexType>
			</xs:element>

			<xs:element name="DIAGNOSIS_NEURO_TBI_DIAGNOSIS_TBI_OTHER_3">
			  <xs:complexType>
			    <xs:all>
			      <xs:element name="Value" type="xs:string" nillable="true"/>
			      <xs:element name="Metadata" type="rertbi:Metadata"/>
			    </xs:all>
			  </xs:complexType>
			</xs:element>

			<xs:element name="DIAGNOSIS_NEURO_TBI_DIAGNOSIS_TBI_OTHER_3_ICD">
			  <xs:complexType>
			    <xs:all>
			      <xs:element name="Value" type="xs:string" nillable="true"/>
			      <xs:element name="Metadata" type="rertbi:Metadata"/>
			    </xs:all>
			  </xs:complexType>
			</xs:element>

			<xs:element name="DIAGNOSIS_NEURO_TBI_DIAGNOSIS_TBI_OTHER_3_DATE">
			  <xs:complexType>
			    <xs:all>
			      <xs:element name="Value" type="xs:string" nillable="true"/>
			      <xs:element name="Metadata" type="rertbi:Metadata"/>
			    </xs:all>
			  </xs:complexType>
			</xs:element>

			<xs:element name="DIAGNOSIS_NEURO_TBI_DIAGNOSIS_ADDITIONAL">
			  <xs:complexType>
			    <xs:all>
			      <xs:element name="Value" type="xs:string" nillable="true"/>
			      <xs:element name="Metadata" type="rertbi:Metadata"/>
			    </xs:all>
			  </xs:complexType>
			</xs:element>

			<xs:element name="HISTORY_NEURO_TBI_DESCRIBE">
			  <xs:complexType>
			    <xs:all>
			      <xs:element name="Value" type="xs:string" nillable="true"/>
			      <xs:element name="Metadata" type="rertbi:Metadata"/>
			    </xs:all>
			  </xs:complexType>
			</xs:element>

			<xs:element name="TBIReviewMemoryNoComplaints">
			  <xs:annotation>
			    <xs:documentation>No complaints of impairment of memory, attention, concentration, or executive functions</xs:documentation>
			  </xs:annotation>
			  <xs:complexType>
			    <xs:all>
			      <xs:element name="Value" type="xs:boolean" default="false"/>
			      <xs:element name="Metadata" type="rertbi:Metadata"/>
			    </xs:all>
			  </xs:complexType>
			</xs:element>

			<xs:element name="TBIReviewMemoryComplaintMild">
			  <xs:annotation>
			    <xs:documentation>A complaint of mild memory loss (such as having difficulty following a conversation, recalling recent conversations, remembering names of</xs:documentation>
			  </xs:annotation>
			  <xs:complexType>
			    <xs:all>
			      <xs:element name="Value" type="xs:boolean" default="false"/>
			      <xs:element name="Metadata" type="rertbi:Metadata"/>
			    </xs:all>
			  </xs:complexType>
			</xs:element>

			<xs:element name="TBIReviewMemoryObjectiveMild">
			  <xs:annotation>
			    <xs:documentation>Objective evidence on testing of mild impairment of memory, attention, concentration, or executive functions resulting in mild functional</xs:documentation>
			  </xs:annotation>
			  <xs:complexType>
			    <xs:all>
			      <xs:element name="Value" type="xs:boolean" default="false"/>
			      <xs:element name="Metadata" type="rertbi:Metadata"/>
			    </xs:all>
			  </xs:complexType>
			</xs:element>

			<xs:element name="TBIReviewMemoryObjectiveModerate">
			  <xs:annotation>
			    <xs:documentation>Objective evidence on testing of moderate impairment of memory, attention, concentration, or executive functions resulting in moderate functional</xs:documentation>
			  </xs:annotation>
			  <xs:complexType>
			    <xs:all>
			      <xs:element name="Value" type="xs:boolean" default="false"/>
			      <xs:element name="Metadata" type="rertbi:Metadata"/>
			    </xs:all>
			  </xs:complexType>
			</xs:element>

			<xs:element name="TBIReviewMemoryObjectiveSevere">
			  <xs:annotation>
			    <xs:documentation>Objective evidence on testing of severe impairment of memory, attention, concentration, or executive functions resulting in severe functional</xs:documentation>
			  </xs:annotation>
			  <xs:complexType>
			    <xs:all>
			      <xs:element name="Value" type="xs:boolean" default="false"/>
			      <xs:element name="Metadata" type="rertbi:Metadata"/>
			    </xs:all>
			  </xs:complexType>
			</xs:element>

			<xs:element name="EXAM_NEURO_TBI_MEMORY_DESCRIBE">
			  <xs:complexType>
			    <xs:all>
			      <xs:element name="Value" type="xs:string" nillable="true"/>
			      <xs:element name="Metadata" type="rertbi:Metadata"/>
			    </xs:all>
			  </xs:complexType>
			</xs:element>

			<xs:element name="TBIReviewJudgementNormal">
			  <xs:annotation>
			    <xs:documentation>Normal</xs:documentation>
			  </xs:annotation>
			  <xs:complexType>
			    <xs:all>
			      <xs:element name="Value" type="xs:boolean" default="false"/>
			      <xs:element name="Metadata" type="rertbi:Metadata"/>
			    </xs:all>
			  </xs:complexType>
			</xs:element>

			<xs:element name="TBIReviewJudgementMild">
			  <xs:annotation>
			    <xs:documentation>Mildly impaired judgment: For complex or unfamiliar decisions, occasionally unable to identify, understand, and weigh the alternatives, understand</xs:documentation>
			  </xs:annotation>
			  <xs:complexType>
			    <xs:all>
			      <xs:element name="Value" type="xs:boolean" default="false"/>
			      <xs:element name="Metadata" type="rertbi:Metadata"/>
			    </xs:all>
			  </xs:complexType>
			</xs:element>

			<xs:element name="TBIReviewJudgementModerate">
			  <xs:annotation>
			    <xs:documentation>Moderately impaired judgment: For complex or unfamiliar decisions, usually unable to identify, understand, and weigh the alternatives, understand</xs:documentation>
			  </xs:annotation>
			  <xs:complexType>
			    <xs:all>
			      <xs:element name="Value" type="xs:boolean" default="false"/>
			      <xs:element name="Metadata" type="rertbi:Metadata"/>
			    </xs:all>
			  </xs:complexType>
			</xs:element>

			<xs:element name="TBIReviewJudgementModerateSevere">
			  <xs:annotation>
			    <xs:documentation>Moderately severely impaired judgment: For even routine and familiar decisions, occasionally unable to identify, understand, and weigh the</xs:documentation>
			  </xs:annotation>
			  <xs:complexType>
			    <xs:all>
			      <xs:element name="Value" type="xs:boolean" default="false"/>
			      <xs:element name="Metadata" type="rertbi:Metadata"/>
			    </xs:all>
			  </xs:complexType>
			</xs:element>

			<xs:element name="EXAM_NEURO_TBI_JUDGEMENT_DESCRIBE">
			  <xs:complexType>
			    <xs:all>
			      <xs:element name="Value" type="xs:string" nillable="true"/>
			      <xs:element name="Metadata" type="rertbi:Metadata"/>
			    </xs:all>
			  </xs:complexType>
			</xs:element>

			<xs:element name="TBIReviewSocialRoutinelyAppropriate">
			  <xs:annotation>
			    <xs:documentation>Social interaction is routinely appropriate</xs:documentation>
			  </xs:annotation>
			  <xs:complexType>
			    <xs:all>
			      <xs:element name="Value" type="xs:boolean" default="false"/>
			      <xs:element name="Metadata" type="rertbi:Metadata"/>
			    </xs:all>
			  </xs:complexType>
			</xs:element>

			<xs:element name="TBIReviewSocialOccasionallyInappropriate">
			  <xs:annotation>
			    <xs:documentation>Social interaction is occasionally inappropriate</xs:documentation>
			  </xs:annotation>
			  <xs:complexType>
			    <xs:all>
			      <xs:element name="Value" type="xs:boolean" default="false"/>
			      <xs:element name="Metadata" type="rertbi:Metadata"/>
			    </xs:all>
			  </xs:complexType>
			</xs:element>

			<xs:element name="TBIReviewSocialFrequentlyInappropriate">
			  <xs:annotation>
			    <xs:documentation>Social interaction is frequently inappropriate</xs:documentation>
			  </xs:annotation>
			  <xs:complexType>
			    <xs:all>
			      <xs:element name="Value" type="xs:boolean" default="false"/>
			      <xs:element name="Metadata" type="rertbi:Metadata"/>
			    </xs:all>
			  </xs:complexType>
			</xs:element>

			<xs:element name="TBIReviewSocialInappropriateMostOrAll">
			  <xs:annotation>
			    <xs:documentation>Social interaction is inappropriate most or all of the time</xs:documentation>
			  </xs:annotation>
			  <xs:complexType>
			    <xs:all>
			      <xs:element name="Value" type="xs:boolean" default="false"/>
			      <xs:element name="Metadata" type="rertbi:Metadata"/>
			    </xs:all>
			  </xs:complexType>
			</xs:element>

			<xs:element name="EXAM_NEURO_TBI_SOCIAL_DESCRIBE">
			  <xs:complexType>
			    <xs:all>
			      <xs:element name="Value" type="xs:string" nillable="true"/>
			      <xs:element name="Metadata" type="rertbi:Metadata"/>
			    </xs:all>
			  </xs:complexType>
			</xs:element>

			<xs:element name="TBIReviewOrientationAlways">
			  <xs:annotation>
			    <xs:documentation>Always oriented to person, time, place, and situation</xs:documentation>
			  </xs:annotation>
			  <xs:complexType>
			    <xs:all>
			      <xs:element name="Value" type="xs:boolean" default="false"/>
			      <xs:element name="Metadata" type="rertbi:Metadata"/>
			    </xs:all>
			  </xs:complexType>
			</xs:element>

			<xs:element name="TBIReviewOrientationDisorientedOccasionallyOne">
			  <xs:annotation>
			    <xs:documentation>Occasionally disoriented to one of the four aspects (person, time, place, situation) of orientation</xs:documentation>
			  </xs:annotation>
			  <xs:complexType>
			    <xs:all>
			      <xs:element name="Value" type="xs:boolean" default="false"/>
			      <xs:element name="Metadata" type="rertbi:Metadata"/>
			    </xs:all>
			  </xs:complexType>
			</xs:element>

			<xs:element name="TBIReviewOrientationDisorientedOccasionallyTwo">
			  <xs:annotation>
			    <xs:documentation>Occasionally disoriented to two of the four aspects (person, time, place, situation) of orientation or often disoriented to one aspect of orientation</xs:documentation>
			  </xs:annotation>
			  <xs:complexType>
			    <xs:all>
			      <xs:element name="Value" type="xs:boolean" default="false"/>
			      <xs:element name="Metadata" type="rertbi:Metadata"/>
			    </xs:all>
			  </xs:complexType>
			</xs:element>

			<xs:element name="TBIReviewOrientationDisorientedOftenTwoOrMore">
			  <xs:annotation>
			    <xs:documentation>Often disoriented to two or more of the four aspects (person, time, place, situation) of orientation</xs:documentation>
			  </xs:annotation>
			  <xs:complexType>
			    <xs:all>
			      <xs:element name="Value" type="xs:boolean" default="false"/>
			      <xs:element name="Metadata" type="rertbi:Metadata"/>
			    </xs:all>
			  </xs:complexType>
			</xs:element>

			<xs:element name="TBIReviewOrientationDisorientedConsistentlyTwoOrMore">
			  <xs:annotation>
			    <xs:documentation>Consistently disoriented to two or more of the four aspects (person, time, place, situation) of orientation</xs:documentation>
			  </xs:annotation>
			  <xs:complexType>
			    <xs:all>
			      <xs:element name="Value" type="xs:boolean" default="false"/>
			      <xs:element name="Metadata" type="rertbi:Metadata"/>
			    </xs:all>
			  </xs:complexType>
			</xs:element>

			<xs:element name="EXAM_NEURO_TBI_ORIENTATION_DESCRIBE">
			  <xs:complexType>
			    <xs:all>
			      <xs:element name="Value" type="xs:string" nillable="true"/>
			      <xs:element name="Metadata" type="rertbi:Metadata"/>
			    </xs:all>
			  </xs:complexType>
			</xs:element>

			<xs:element name="TBIReviewMotorNormal">
			  <xs:annotation>
			    <xs:documentation>Motor activity normal</xs:documentation>
			  </xs:annotation>
			  <xs:complexType>
			    <xs:all>
			      <xs:element name="Value" type="xs:boolean" default="false"/>
			      <xs:element name="Metadata" type="rertbi:Metadata"/>
			    </xs:all>
			  </xs:complexType>
			</xs:element>

			<xs:element name="TBIReviewMotorNormalMostMildlySlowed">
			  <xs:annotation>
			    <xs:documentation>Motor activity is normal most of the time, but mildly slowed at times due to apraxia (inability to perform previously learned motor activities, despite</xs:documentation>
			  </xs:annotation>
			  <xs:complexType>
			    <xs:all>
			      <xs:element name="Value" type="xs:boolean" default="false"/>
			      <xs:element name="Metadata" type="rertbi:Metadata"/>
			    </xs:all>
			  </xs:complexType>
			</xs:element>

			<xs:element name="TBIReviewMotorMildlyDecreasedModerateSlowing">
			  <xs:annotation>
			    <xs:documentation>Motor activity is mildly decreased or with moderate slowing due to apraxia</xs:documentation>
			  </xs:annotation>
			  <xs:complexType>
			    <xs:all>
			      <xs:element name="Value" type="xs:boolean" default="false"/>
			      <xs:element name="Metadata" type="rertbi:Metadata"/>
			    </xs:all>
			  </xs:complexType>
			</xs:element>

			<xs:element name="TBIReviewMotorModeratelyDecreased">
			  <xs:annotation>
			    <xs:documentation>Motor activity moderately decreased due to apraxia</xs:documentation>
			  </xs:annotation>
			  <xs:complexType>
			    <xs:all>
			      <xs:element name="Value" type="xs:boolean" default="false"/>
			      <xs:element name="Metadata" type="rertbi:Metadata"/>
			    </xs:all>
			  </xs:complexType>
			</xs:element>

			<xs:element name="TBIReviewMotorSeverelyDecreased">
			  <xs:annotation>
			    <xs:documentation>Motor activity severely decreased due to apraxia</xs:documentation>
			  </xs:annotation>
			  <xs:complexType>
			    <xs:all>
			      <xs:element name="Value" type="xs:boolean" default="false"/>
			      <xs:element name="Metadata" type="rertbi:Metadata"/>
			    </xs:all>
			  </xs:complexType>
			</xs:element>

			<xs:element name="EXAM_NEURO_TBI_MOTOR_DESCRIBE">
			  <xs:complexType>
			    <xs:all>
			      <xs:element name="Value" type="xs:string" nillable="true"/>
			      <xs:element name="Metadata" type="rertbi:Metadata"/>
			    </xs:all>
			  </xs:complexType>
			</xs:element>

			<xs:element name="TBIReviewVisualNormal">
			  <xs:annotation>
			    <xs:documentation>Normal</xs:documentation>
			  </xs:annotation>
			  <xs:complexType>
			    <xs:all>
			      <xs:element name="Value" type="xs:boolean" default="false"/>
			      <xs:element name="Metadata" type="rertbi:Metadata"/>
			    </xs:all>
			  </xs:complexType>
			</xs:element>

			<xs:element name="TBIReviewVisualMild">
			  <xs:annotation>
			    <xs:documentation>Mildly impaired: Occasionally gets lost in unfamiliar surroundings, has difficulty reading maps or following directions. Is able to use assistive devices</xs:documentation>
			  </xs:annotation>
			  <xs:complexType>
			    <xs:all>
			      <xs:element name="Value" type="xs:boolean" default="false"/>
			      <xs:element name="Metadata" type="rertbi:Metadata"/>
			    </xs:all>
			  </xs:complexType>
			</xs:element>

			<xs:element name="TBIReviewVisualModerate">
			  <xs:annotation>
			    <xs:documentation>Moderately impaired: Usually gets lost in unfamiliar surroundings, has difficulty reading maps, following directions, and judging distance. Has</xs:documentation>
			  </xs:annotation>
			  <xs:complexType>
			    <xs:all>
			      <xs:element name="Value" type="xs:boolean" default="false"/>
			      <xs:element name="Metadata" type="rertbi:Metadata"/>
			    </xs:all>
			  </xs:complexType>
			</xs:element>

			<xs:element name="TBIReviewVisualModerateSevere">
			  <xs:annotation>
			    <xs:documentation>Moderately severely impaired: Gets lost even in familiar surroundings, unable to use assistive devices such as GPS (global positioning system)</xs:documentation>
			  </xs:annotation>
			  <xs:complexType>
			    <xs:all>
			      <xs:element name="Value" type="xs:boolean" default="false"/>
			      <xs:element name="Metadata" type="rertbi:Metadata"/>
			    </xs:all>
			  </xs:complexType>
			</xs:element>

			<xs:element name="TBIReviewVisualSevere">
			  <xs:annotation>
			    <xs:documentation>Severely impaired: May be unable to touch or name own body parts when asked by the examiner, identify the relative position in space of two</xs:documentation>
			  </xs:annotation>
			  <xs:complexType>
			    <xs:all>
			      <xs:element name="Value" type="xs:boolean" default="false"/>
			      <xs:element name="Metadata" type="rertbi:Metadata"/>
			    </xs:all>
			  </xs:complexType>
			</xs:element>

			<xs:element name="EXAM_NEURO_TBI_VISUAL_DESCRIBE">
			  <xs:complexType>
			    <xs:all>
			      <xs:element name="Value" type="xs:string" nillable="true"/>
			      <xs:element name="Metadata" type="rertbi:Metadata"/>
			    </xs:all>
			  </xs:complexType>
			</xs:element>

			<xs:element name="TBIReviewSubjectiveNone">
			  <xs:annotation>
			    <xs:documentation>No subjective symptoms</xs:documentation>
			  </xs:annotation>
			  <xs:complexType>
			    <xs:all>
			      <xs:element name="Value" type="xs:boolean" default="false"/>
			      <xs:element name="Metadata" type="rertbi:Metadata"/>
			    </xs:all>
			  </xs:complexType>
			</xs:element>

			<xs:element name="TBIReviewSubjectiveNoInterfere">
			  <xs:annotation>
			    <xs:documentation>Subjective symptoms that do not interfere with work; instrumental activities of daily living; or work, family or other close relationships. Examples</xs:documentation>
			  </xs:annotation>
			  <xs:complexType>
			    <xs:all>
			      <xs:element name="Value" type="xs:boolean" default="false"/>
			      <xs:element name="Metadata" type="rertbi:Metadata"/>
			    </xs:all>
			  </xs:complexType>
			</xs:element>

			<xs:element name="TBIReviewSubjectiveMildInterfere">
			  <xs:annotation>
			    <xs:documentation>Three or more subjective symptoms that mildly interfere with work; instrumental activities of daily living; or work, family or other close relationships.</xs:documentation>
			  </xs:annotation>
			  <xs:complexType>
			    <xs:all>
			      <xs:element name="Value" type="xs:boolean" default="false"/>
			      <xs:element name="Metadata" type="rertbi:Metadata"/>
			    </xs:all>
			  </xs:complexType>
			</xs:element>

			<xs:element name="TBIReviewSubjectiveModerateInterfere">
			  <xs:annotation>
			    <xs:documentation>Three or more subjective symptoms that moderately interfere with work; instrumental activities of daily living; or work, family or other close</xs:documentation>
			  </xs:annotation>
			  <xs:complexType>
			    <xs:all>
			      <xs:element name="Value" type="xs:boolean" default="false"/>
			      <xs:element name="Metadata" type="rertbi:Metadata"/>
			    </xs:all>
			  </xs:complexType>
			</xs:element>

			<xs:element name="EXAM_NEURO_TBI_SUBJECTIVE_DESCRIBE">
			  <xs:complexType>
			    <xs:all>
			      <xs:element name="Value" type="xs:string" nillable="true"/>
			      <xs:element name="Metadata" type="rertbi:Metadata"/>
			    </xs:all>
			  </xs:complexType>
			</xs:element>

			<xs:element name="TBIReviewNeuroNone">
			  <xs:annotation>
			    <xs:documentation>No neurobehavioral effects</xs:documentation>
			  </xs:annotation>
			  <xs:complexType>
			    <xs:all>
			      <xs:element name="Value" type="xs:boolean" default="false"/>
			      <xs:element name="Metadata" type="rertbi:Metadata"/>
			    </xs:all>
			  </xs:complexType>
			</xs:element>

			<xs:element name="TBIReviewNeuroNoInterfere">
			  <xs:annotation>
			    <xs:documentation>One or more neurobehavioral effects that do not interfere with workplace interaction or social interaction.</xs:documentation>
			  </xs:annotation>
			  <xs:complexType>
			    <xs:all>
			      <xs:element name="Value" type="xs:boolean" default="false"/>
			      <xs:element name="Metadata" type="rertbi:Metadata"/>
			    </xs:all>
			  </xs:complexType>
			</xs:element>

			<xs:element name="TBIReviewNeuroOccasionallyInterfere">
			  <xs:annotation>
			    <xs:documentation>One or more neurobehavioral effects that occasionally interfere with workplace interaction, social interaction, or both but do not preclude them</xs:documentation>
			  </xs:annotation>
			  <xs:complexType>
			    <xs:all>
			      <xs:element name="Value" type="xs:boolean" default="false"/>
			      <xs:element name="Metadata" type="rertbi:Metadata"/>
			    </xs:all>
			  </xs:complexType>
			</xs:element>

			<xs:element name="TBIReviewNeuroFrequentlyInterfere">
			  <xs:annotation>
			    <xs:documentation>One or more neurobehavioral effects that frequently interfere with workplace interaction, social interaction, or both but do not preclude them</xs:documentation>
			  </xs:annotation>
			  <xs:complexType>
			    <xs:all>
			      <xs:element name="Value" type="xs:boolean" default="false"/>
			      <xs:element name="Metadata" type="rertbi:Metadata"/>
			    </xs:all>
			  </xs:complexType>
			</xs:element>

			<xs:element name="TBIReviewNeuroPrecludeInteraction">
			  <xs:annotation>
			    <xs:documentation>One or more neurobehavioral effects that interfere with or preclude workplace interaction, social interaction, or both on most days or that</xs:documentation>
			  </xs:annotation>
			  <xs:complexType>
			    <xs:all>
			      <xs:element name="Value" type="xs:boolean" default="false"/>
			      <xs:element name="Metadata" type="rertbi:Metadata"/>
			    </xs:all>
			  </xs:complexType>
			</xs:element>

			<xs:element name="EXAM_NEURO_TBI_NEURO_DESCRIBE">
			  <xs:complexType>
			    <xs:all>
			      <xs:element name="Value" type="xs:string" nillable="true"/>
			      <xs:element name="Metadata" type="rertbi:Metadata"/>
			    </xs:all>
			  </xs:complexType>
			</xs:element>

			<xs:element name="TBIReviewCommunicationAble">
			  <xs:annotation>
			    <xs:documentation>Able to communicate by spoken and written language (expressive communication) and to comprehend spoken and written language.</xs:documentation>
			  </xs:annotation>
			  <xs:complexType>
			    <xs:all>
			      <xs:element name="Value" type="xs:boolean" default="false"/>
			      <xs:element name="Metadata" type="rertbi:Metadata"/>
			    </xs:all>
			  </xs:complexType>
			</xs:element>

			<xs:element name="TBIReviewCommunicationOccasionallyImpaired">
			  <xs:annotation>
			    <xs:documentation>Comprehension or expression, or both, of either spoken language or written language is only occasionally impaired. Can communicate complex</xs:documentation>
			  </xs:annotation>
			  <xs:complexType>
			    <xs:all>
			      <xs:element name="Value" type="xs:boolean" default="false"/>
			      <xs:element name="Metadata" type="rertbi:Metadata"/>
			    </xs:all>
			  </xs:complexType>
			</xs:element>

			<xs:element name="TBIReviewCommunicationMoreThanOccasionallyLessThanHalf">
			  <xs:annotation>
			    <xs:documentation>Inability to communicate either by spoken language, written language, or both, more than occasionally but less than half of the time, or to</xs:documentation>
			  </xs:annotation>
			  <xs:complexType>
			    <xs:all>
			      <xs:element name="Value" type="xs:boolean" default="false"/>
			      <xs:element name="Metadata" type="rertbi:Metadata"/>
			    </xs:all>
			  </xs:complexType>
			</xs:element>

			<xs:element name="TBIReviewCommunicationMoreThanHalf">
			  <xs:annotation>
			    <xs:documentation>Inability to communicate either by spoken language, written language, or both, at least half of the time but not all of the time, or to comprehend</xs:documentation>
			  </xs:annotation>
			  <xs:complexType>
			    <xs:all>
			      <xs:element name="Value" type="xs:boolean" default="false"/>
			      <xs:element name="Metadata" type="rertbi:Metadata"/>
			    </xs:all>
			  </xs:complexType>
			</xs:element>

			<xs:element name="TBIReviewCommunicationCompleteInability">
			  <xs:annotation>
			    <xs:documentation>Complete inability to communicate either by spoken language, written language, or both, or to comprehend spoken language, written language,</xs:documentation>
			  </xs:annotation>
			  <xs:complexType>
			    <xs:all>
			      <xs:element name="Value" type="xs:boolean" default="false"/>
			      <xs:element name="Metadata" type="rertbi:Metadata"/>
			    </xs:all>
			  </xs:complexType>
			</xs:element>

			<xs:element name="EXAM_NEURO_TBI_COMMUNICATION_DESCRIBE">
			  <xs:complexType>
			    <xs:all>
			      <xs:element name="Value" type="xs:string" nillable="true"/>
			      <xs:element name="Metadata" type="rertbi:Metadata"/>
			    </xs:all>
			  </xs:complexType>
			</xs:element>

			<xs:element name="TBIReviewConsciousnessNormal">
			  <xs:annotation>
			    <xs:documentation>Normal</xs:documentation>
			  </xs:annotation>
			  <xs:complexType>
			    <xs:all>
			      <xs:element name="Value" type="xs:boolean" default="false"/>
			      <xs:element name="Metadata" type="rertbi:Metadata"/>
			    </xs:all>
			  </xs:complexType>
			</xs:element>

			<xs:element name="TBIReviewConsciousnessPersistent">
			  <xs:annotation>
			    <xs:documentation>Persistent altered state of consciousness, such as vegetative state, minimally responsive state, coma.</xs:documentation>
			  </xs:annotation>
			  <xs:complexType>
			    <xs:all>
			      <xs:element name="Value" type="xs:boolean" default="false"/>
			      <xs:element name="Metadata" type="rertbi:Metadata"/>
			    </xs:all>
			  </xs:complexType>
			</xs:element>

			<xs:element name="EXAM_NEURO_TBI_CONSCIOUSNESS_DESCRIBE">
			  <xs:complexType>
			    <xs:all>
			      <xs:element name="Value" type="xs:string" nillable="true"/>
			      <xs:element name="Metadata" type="rertbi:Metadata"/>
			    </xs:all>
			  </xs:complexType>
			</xs:element>

			<xs:element name="EXAM_NEURO_TBI_RESIDUALS">
			  <xs:annotation> 
			    <xs:documentation></xs:documentation>
			  </xs:annotation>
			  <xs:complexType>
			    <xs:all>
			      <xs:element name="Value" nillable="true">
			        <xs:simpleType>
			          <xs:restriction base="xs:string">
			            <xs:enumeration value="Yes"/>
			            <xs:enumeration value="No"/>
			          </xs:restriction>
			        </xs:simpleType>
			      </xs:element>
			      <xs:element name="Metadata" type="rertbi:Metadata"/>
			    </xs:all>
			  </xs:complexType>
			</xs:element>

			<xs:element name="EXAM_NEURO_TBI_RESIDUALS_MOTOR">
			  <xs:annotation>
			    <xs:documentation>Motor dysfunction (other than those described in Section II.5)</xs:documentation>
			  </xs:annotation>
			  <xs:complexType>
			    <xs:all>
			      <xs:element name="Value" type="xs:boolean" default="false"/>
			      <xs:element name="Metadata" type="rertbi:Metadata"/>
			    </xs:all>
			  </xs:complexType>
			</xs:element>

			<xs:element name="EXAM_NEURO_TBI_RESIDUALS_SENSORY">
			  <xs:annotation>
			    <xs:documentation>Sensory dysfunction</xs:documentation>
			  </xs:annotation>
			  <xs:complexType>
			    <xs:all>
			      <xs:element name="Value" type="xs:boolean" default="false"/>
			      <xs:element name="Metadata" type="rertbi:Metadata"/>
			    </xs:all>
			  </xs:complexType>
			</xs:element>

			<xs:element name="EXAM_NEURO_TBI_RESIDUALS_HEARING">
			  <xs:annotation>
			    <xs:documentation>Hearing loss and/or tinnitus</xs:documentation>
			  </xs:annotation>
			  <xs:complexType>
			    <xs:all>
			      <xs:element name="Value" type="xs:boolean" default="false"/>
			      <xs:element name="Metadata" type="rertbi:Metadata"/>
			    </xs:all>
			  </xs:complexType>
			</xs:element>

			<xs:element name="EXAM_NEURO_TBI_RESIDUALS_VISUAL">
			  <xs:annotation>
			    <xs:documentation>Visual impairment</xs:documentation>
			  </xs:annotation>
			  <xs:complexType>
			    <xs:all>
			      <xs:element name="Value" type="xs:boolean" default="false"/>
			      <xs:element name="Metadata" type="rertbi:Metadata"/>
			    </xs:all>
			  </xs:complexType>
			</xs:element>

			<xs:element name="EXAM_NEURO_TBI_RESIDUALS_ALTERATION">
			  <xs:annotation>
			    <xs:documentation>Alteration of sense of smell or taste</xs:documentation>
			  </xs:annotation>
			  <xs:complexType>
			    <xs:all>
			      <xs:element name="Value" type="xs:boolean" default="false"/>
			      <xs:element name="Metadata" type="rertbi:Metadata"/>
			    </xs:all>
			  </xs:complexType>
			</xs:element>

			<xs:element name="EXAM_NEURO_TBI_RESIDUALS_SEIZURES">
			  <xs:annotation>
			    <xs:documentation>Seizures</xs:documentation>
			  </xs:annotation>
			  <xs:complexType>
			    <xs:all>
			      <xs:element name="Value" type="xs:boolean" default="false"/>
			      <xs:element name="Metadata" type="rertbi:Metadata"/>
			    </xs:all>
			  </xs:complexType>
			</xs:element>

			<xs:element name="EXAM_NEURO_TBI_RESIDUALS_GAIT">
			  <xs:annotation>
			    <xs:documentation>Gait, coordination, and balance</xs:documentation>
			  </xs:annotation>
			  <xs:complexType>
			    <xs:all>
			      <xs:element name="Value" type="xs:boolean" default="false"/>
			      <xs:element name="Metadata" type="rertbi:Metadata"/>
			    </xs:all>
			  </xs:complexType>
			</xs:element>

			<xs:element name="EXAM_NEURO_TBI_RESIDUALS_SPEECH">
			  <xs:annotation>
			    <xs:documentation>Speech (including aphasia and dysarthria)</xs:documentation>
			  </xs:annotation>
			  <xs:complexType>
			    <xs:all>
			      <xs:element name="Value" type="xs:boolean" default="false"/>
			      <xs:element name="Metadata" type="rertbi:Metadata"/>
			    </xs:all>
			  </xs:complexType>
			</xs:element>

			<xs:element name="EXAM_NEURO_TBI_RESIDUALS_BLADDER">
			  <xs:annotation>
			    <xs:documentation>Neurogenic bladder</xs:documentation>
			  </xs:annotation>
			  <xs:complexType>
			    <xs:all>
			      <xs:element name="Value" type="xs:boolean" default="false"/>
			      <xs:element name="Metadata" type="rertbi:Metadata"/>
			    </xs:all>
			  </xs:complexType>
			</xs:element>

			<xs:element name="EXAM_NEURO_TBI_RESIDUALS_BOWEL">
			  <xs:annotation>
			    <xs:documentation>Neurogenic bowel</xs:documentation>
			  </xs:annotation>
			  <xs:complexType>
			    <xs:all>
			      <xs:element name="Value" type="xs:boolean" default="false"/>
			      <xs:element name="Metadata" type="rertbi:Metadata"/>
			    </xs:all>
			  </xs:complexType>
			</xs:element>

			<xs:element name="EXAM_NEURO_TBI_RESIDUALS_CRANIAL">
			  <xs:annotation>
			    <xs:documentation>Cranial nerve dysfunction</xs:documentation>
			  </xs:annotation>
			  <xs:complexType>
			    <xs:all>
			      <xs:element name="Value" type="xs:boolean" default="false"/>
			      <xs:element name="Metadata" type="rertbi:Metadata"/>
			    </xs:all>
			  </xs:complexType>
			</xs:element>

			<xs:element name="EXAM_NEURO_TBI_RESIDUALS_SKIN">
			  <xs:annotation>
			    <xs:documentation>Skin disorders</xs:documentation>
			  </xs:annotation>
			  <xs:complexType>
			    <xs:all>
			      <xs:element name="Value" type="xs:boolean" default="false"/>
			      <xs:element name="Metadata" type="rertbi:Metadata"/>
			    </xs:all>
			  </xs:complexType>
			</xs:element>

			<xs:element name="EXAM_NEURO_TBI_RESIDUALS_ENDO">
			  <xs:annotation>
			    <xs:documentation>Endocrine dysfunction</xs:documentation>
			  </xs:annotation>
			  <xs:complexType>
			    <xs:all>
			      <xs:element name="Value" type="xs:boolean" default="false"/>
			      <xs:element name="Metadata" type="rertbi:Metadata"/>
			    </xs:all>
			  </xs:complexType>
			</xs:element>

			<xs:element name="EXAM_NEURO_TBI_RESIDUALS_ERECTILE">
			  <xs:annotation>
			    <xs:documentation>Erectile dysfunction</xs:documentation>
			  </xs:annotation>
			  <xs:complexType>
			    <xs:all>
			      <xs:element name="Value" type="xs:boolean" default="false"/>
			      <xs:element name="Metadata" type="rertbi:Metadata"/>
			    </xs:all>
			  </xs:complexType>
			</xs:element>

			<xs:element name="EXAM_NEURO_TBI_RESIDUALS_HEADACHES">
			  <xs:annotation>
			    <xs:documentation>Headaches, including Migraine headaches</xs:documentation>
			  </xs:annotation>
			  <xs:complexType>
			    <xs:all>
			      <xs:element name="Value" type="xs:boolean" default="false"/>
			      <xs:element name="Metadata" type="rertbi:Metadata"/>
			    </xs:all>
			  </xs:complexType>
			</xs:element>

			<xs:element name="EXAM_NEURO_TBI_RESIDUALS_MENTAL">
			  <xs:annotation>
			    <xs:documentation>Mental disorder (including emotional, behavioral, or cognitive)</xs:documentation>
			  </xs:annotation>
			  <xs:complexType>
			    <xs:all>
			      <xs:element name="Value" type="xs:boolean" default="false"/>
			      <xs:element name="Metadata" type="rertbi:Metadata"/>
			    </xs:all>
			  </xs:complexType>
			</xs:element>

			<xs:element name="EXAM_NEURO_TBI_RESIDUALS_OTHER">
			  <xs:annotation>
			    <xs:documentation>Other, describe:</xs:documentation>
			  </xs:annotation>
			  <xs:complexType>
			    <xs:all>
			      <xs:element name="Value" type="xs:boolean" default="false"/>
			      <xs:element name="Metadata" type="rertbi:Metadata"/>
			    </xs:all>
			  </xs:complexType>
			</xs:element>

			<xs:element name="EXAM_NEURO_TBI_RESIDUALS_OTHER_DESCRIBE">
			  <xs:complexType>
			    <xs:all>
			      <xs:element name="Value" type="xs:string" nillable="true"/>
			      <xs:element name="Metadata" type="rertbi:Metadata"/>
			    </xs:all>
			  </xs:complexType>
			</xs:element>

			<xs:element name="EXAM_NEURO_TBI_DT_NEURO">
			  <xs:annotation> 
			    <xs:documentation>a. Has neuropsychological testing been performed?</xs:documentation>
			  </xs:annotation>
			  <xs:complexType>
			    <xs:all>
			      <xs:element name="Value" nillable="true">
			        <xs:simpleType>
			          <xs:restriction base="xs:string">
			            <xs:enumeration value="Yes"/>
			            <xs:enumeration value="No"/>
			          </xs:restriction>
			        </xs:simpleType>
			      </xs:element>
			      <xs:element name="Metadata" type="rertbi:Metadata"/>
			    </xs:all>
			  </xs:complexType>
			</xs:element>

			<xs:element name="EXAM_NEURO_TBI_DT_NEURO_DATE">
			  <xs:complexType>
			    <xs:all>
			      <xs:element name="Value" type="xs:string" nillable="true"/>
			      <xs:element name="Metadata" type="rertbi:Metadata"/>
			    </xs:all>
			  </xs:complexType>
			</xs:element>

			<xs:element name="EXAM_NEURO_TBI_DT_NEURO_RESULTS">
			  <xs:complexType>
			    <xs:all>
			      <xs:element name="Value" type="xs:string" nillable="true"/>
			      <xs:element name="Metadata" type="rertbi:Metadata"/>
			    </xs:all>
			  </xs:complexType>
			</xs:element>

			<xs:element name="EXAM_NEURO_TBI_DT_IMAGING">
			  <xs:annotation> 
			    <xs:documentation>b. Have diagnostic imaging studies or other diagnostic procedures been performed?</xs:documentation>
			  </xs:annotation>
			  <xs:complexType>
			    <xs:all>
			      <xs:element name="Value" nillable="true">
			        <xs:simpleType>
			          <xs:restriction base="xs:string">
			            <xs:enumeration value="Yes"/>
			            <xs:enumeration value="No"/>
			          </xs:restriction>
			        </xs:simpleType>
			      </xs:element>
			      <xs:element name="Metadata" type="rertbi:Metadata"/>
			    </xs:all>
			  </xs:complexType>
			</xs:element>

			<xs:element name="EXAM_NEURO_TBI_DT_IMAGING_MRI">
			  <xs:annotation>
			    <xs:documentation>Magnetic resonance imaging (MRI)</xs:documentation>
			  </xs:annotation>
			  <xs:complexType>
			    <xs:all>
			      <xs:element name="Value" type="xs:boolean" default="false"/>
			      <xs:element name="Metadata" type="rertbi:Metadata"/>
			    </xs:all>
			  </xs:complexType>
			</xs:element>

			<xs:element name="EXAM_NEURO_TBI_DT_IMAGING_MRI_DATE">
			  <xs:complexType>
			    <xs:all>
			      <xs:element name="Value" type="xs:string" nillable="true"/>
			      <xs:element name="Metadata" type="rertbi:Metadata"/>
			    </xs:all>
			  </xs:complexType>
			</xs:element>

			<xs:element name="EXAM_NEURO_TBI_DT_IMAGING_MRI_RESULTS">
			  <xs:complexType>
			    <xs:all>
			      <xs:element name="Value" type="xs:string" nillable="true"/>
			      <xs:element name="Metadata" type="rertbi:Metadata"/>
			    </xs:all>
			  </xs:complexType>
			</xs:element>

			<xs:element name="EXAM_NEURO_TBI_DT_IMAGING_CT">
			  <xs:annotation>
			    <xs:documentation>Computed tomography (CT)</xs:documentation>
			  </xs:annotation>
			  <xs:complexType>
			    <xs:all>
			      <xs:element name="Value" type="xs:boolean" default="false"/>
			      <xs:element name="Metadata" type="rertbi:Metadata"/>
			    </xs:all>
			  </xs:complexType>
			</xs:element>

			<xs:element name="EXAM_NEURO_TBI_DT_IMAGING_CT_DATE">
			  <xs:complexType>
			    <xs:all>
			      <xs:element name="Value" type="xs:string" nillable="true"/>
			      <xs:element name="Metadata" type="rertbi:Metadata"/>
			    </xs:all>
			  </xs:complexType>
			</xs:element>

			<xs:element name="EXAM_NEURO_TBI_DT_IMAGING_CT_RESULTS">
			  <xs:complexType>
			    <xs:all>
			      <xs:element name="Value" type="xs:string" nillable="true"/>
			      <xs:element name="Metadata" type="rertbi:Metadata"/>
			    </xs:all>
			  </xs:complexType>
			</xs:element>

			<xs:element name="EXAM_NEURO_TBI_DT_IMAGING_EEG">
			  <xs:annotation>
			    <xs:documentation>EEG</xs:documentation>
			  </xs:annotation>
			  <xs:complexType>
			    <xs:all>
			      <xs:element name="Value" type="xs:boolean" default="false"/>
			      <xs:element name="Metadata" type="rertbi:Metadata"/>
			    </xs:all>
			  </xs:complexType>
			</xs:element>

			<xs:element name="EXAM_NEURO_TBI_DT_IMAGING_EEG_DATE">
			  <xs:complexType>
			    <xs:all>
			      <xs:element name="Value" type="xs:string" nillable="true"/>
			      <xs:element name="Metadata" type="rertbi:Metadata"/>
			    </xs:all>
			  </xs:complexType>
			</xs:element>

			<xs:element name="EXAM_NEURO_TBI_DT_IMAGING_EEG_RESULTS">
			  <xs:complexType>
			    <xs:all>
			      <xs:element name="Value" type="xs:string" nillable="true"/>
			      <xs:element name="Metadata" type="rertbi:Metadata"/>
			    </xs:all>
			  </xs:complexType>
			</xs:element>

			<xs:element name="EXAM_NEURO_TBI_DT_IMAGING_OTHER">
			  <xs:annotation>
			    <xs:documentation>Other, describe:</xs:documentation>
			  </xs:annotation>
			  <xs:complexType>
			    <xs:all>
			      <xs:element name="Value" type="xs:boolean" default="false"/>
			      <xs:element name="Metadata" type="rertbi:Metadata"/>
			    </xs:all>
			  </xs:complexType>
			</xs:element>

			<xs:element name="EXAM_NEURO_TBI_DT_IMAGING_OTHER_EDIT">
			  <xs:complexType>
			    <xs:all>
			      <xs:element name="Value" type="xs:string" nillable="true"/>
			      <xs:element name="Metadata" type="rertbi:Metadata"/>
			    </xs:all>
			  </xs:complexType>
			</xs:element>

			<xs:element name="EXAM_NEURO_TBI_DT_IMAGING_OTHER_DATE">
			  <xs:complexType>
			    <xs:all>
			      <xs:element name="Value" type="xs:string" nillable="true"/>
			      <xs:element name="Metadata" type="rertbi:Metadata"/>
			    </xs:all>
			  </xs:complexType>
			</xs:element>

			<xs:element name="EXAM_NEURO_TBI_DT_IMAGING_OTHER_RESULTS">
			  <xs:complexType>
			    <xs:all>
			      <xs:element name="Value" type="xs:string" nillable="true"/>
			      <xs:element name="Metadata" type="rertbi:Metadata"/>
			    </xs:all>
			  </xs:complexType>
			</xs:element>

			<xs:element name="EXAM_NEURO_TBI_DT_LABS">
			  <xs:annotation> 
			    <xs:documentation>c. Has laboratory testing been performed?</xs:documentation>
			  </xs:annotation>
			  <xs:complexType>
			    <xs:all>
			      <xs:element name="Value" nillable="true">
			        <xs:simpleType>
			          <xs:restriction base="xs:string">
			            <xs:enumeration value="Yes"/>
			            <xs:enumeration value="No"/>
			          </xs:restriction>
			        </xs:simpleType>
			      </xs:element>
			      <xs:element name="Metadata" type="rertbi:Metadata"/>
			    </xs:all>
			  </xs:complexType>
			</xs:element>

			<xs:element name="EXAM_NEURO_TBI_DT_LABS_SPECIFY">
			  <xs:complexType>
			    <xs:all>
			      <xs:element name="Value" type="xs:string" nillable="true"/>
			      <xs:element name="Metadata" type="rertbi:Metadata"/>
			    </xs:all>
			  </xs:complexType>
			</xs:element>

			<xs:element name="EXAM_NEURO_TBI_DT_LABS_DATE">
			  <xs:complexType>
			    <xs:all>
			      <xs:element name="Value" type="xs:string" nillable="true"/>
			      <xs:element name="Metadata" type="rertbi:Metadata"/>
			    </xs:all>
			  </xs:complexType>
			</xs:element>

			<xs:element name="EXAM_NEURO_TBI_DT_LABS_RESULTS">
			  <xs:complexType>
			    <xs:all>
			      <xs:element name="Value" type="xs:string" nillable="true"/>
			      <xs:element name="Metadata" type="rertbi:Metadata"/>
			    </xs:all>
			  </xs:complexType>
			</xs:element>

			<xs:element name="EXAM_NEURO_TBI_DT_OTHER_SIGN">
			  <xs:annotation> 
			    <xs:documentation>d. Are there any other significant diagnostic test findings and/or results?</xs:documentation>
			  </xs:annotation>
			  <xs:complexType>
			    <xs:all>
			      <xs:element name="Value" nillable="true">
			        <xs:simpleType>
			          <xs:restriction base="xs:string">
			            <xs:enumeration value="Yes"/>
			            <xs:enumeration value="No"/>
			          </xs:restriction>
			        </xs:simpleType>
			      </xs:element>
			      <xs:element name="Metadata" type="rertbi:Metadata"/>
			    </xs:all>
			  </xs:complexType>
			</xs:element>

			<xs:element name="EXAM_NEURO_TBI_DT_OTHER_SIGN_DESCRIBE">
			  <xs:complexType>
			    <xs:all>
			      <xs:element name="Value" type="xs:string" nillable="true"/>
			      <xs:element name="Metadata" type="rertbi:Metadata"/>
			    </xs:all>
			  </xs:complexType>
			</xs:element>

			<xs:element name="EXAM_NEURO_TBI_FI">
			  <xs:annotation> 
			    <xs:documentation>Do any of the Veteran's residual conditions attributable to a traumatic brain injury impact his or her ability to work?</xs:documentation>
			  </xs:annotation>
			  <xs:complexType>
			    <xs:all>
			      <xs:element name="Value" nillable="true">
			        <xs:simpleType>
			          <xs:restriction base="xs:string">
			            <xs:enumeration value="Yes"/>
			            <xs:enumeration value="No"/>
			          </xs:restriction>
			        </xs:simpleType>
			      </xs:element>
			      <xs:element name="Metadata" type="rertbi:Metadata"/>
			    </xs:all>
			  </xs:complexType>
			</xs:element>

			<xs:element name="EXAM_NEURO_TBI_FI_DESCRIBE">
			  <xs:complexType>
			    <xs:all>
			      <xs:element name="Value" type="xs:string" nillable="true"/>
			      <xs:element name="Metadata" type="rertbi:Metadata"/>
			    </xs:all>
			  </xs:complexType>
			</xs:element>

			<xs:element name="EXAM_NEURO_TBI_REMARKS">
			  <xs:complexType>
			    <xs:all>
			      <xs:element name="Value" type="xs:string" nillable="true"/>
			      <xs:element name="Metadata" type="rertbi:Metadata"/>
			    </xs:all>
			  </xs:complexType>
			</xs:element>

			<xs:element name="EXAMGROUP_CARDIO_IHD_Name">
			  <xs:complexType>
			    <xs:all>
			      <xs:element name="Value" type="xs:string" nillable="true"/>
			      <xs:element name="Metadata" type="rertbi:Metadata"/>
			    </xs:all>
			  </xs:complexType>
			</xs:element>

			<xs:element name="TBIReviewJudgementSevere">
			  <xs:annotation>
			    <xs:documentation>Severely impaired judgment: For even routine and familiar decisions, usually unable to identify, understand, and weigh the alternatives, understand</xs:documentation>
			  </xs:annotation>
			  <xs:complexType>
			    <xs:all>
			      <xs:element name="Value" type="xs:boolean" default="false"/>
			      <xs:element name="Metadata" type="rertbi:Metadata"/>
			    </xs:all>
			  </xs:complexType>
			</xs:element>

			<xs:element name="EXAM_NEURO_TBI_RESIDUALS_DIZ_VERTIGO">
			  <xs:annotation>
			    <xs:documentation>Dizziness/Vertigo</xs:documentation>
			  </xs:annotation>
			  <xs:complexType>
			    <xs:all>
			      <xs:element name="Value" type="xs:boolean" default="false"/>
			      <xs:element name="Metadata" type="rertbi:Metadata"/>
			    </xs:all>
			  </xs:complexType>
			</xs:element>

			<xs:element name="FORM_RECORDSREVIEW_ReferralClinic_CPExaminationRequest_RG">
			  <xs:annotation> 
			    <xs:documentation>Is this DBQ being completed in conjunction with a VA 21-2507, C&amp;P Examination Request?</xs:documentation>
			  </xs:annotation>
			  <xs:complexType>
			    <xs:all>
			      <xs:element name="Value" nillable="true">
			        <xs:simpleType>
			          <xs:restriction base="xs:string">
			            <xs:enumeration value="Yes"/>
			            <xs:enumeration value="No"/>
			          </xs:restriction>
			        </xs:simpleType>
			      </xs:element>
			      <xs:element name="Metadata" type="rertbi:Metadata"/>
			    </xs:all>
			  </xs:complexType>
			</xs:element>

			<xs:element name="FORM_RECORDSREVIEW_ReferralClinic_InPersonExamination_CBx">
			  <xs:annotation>
			    <xs:documentation>In-person examination</xs:documentation>
			  </xs:annotation>
			  <xs:complexType>
			    <xs:all>
			      <xs:element name="Value" type="xs:boolean" default="false"/>
			      <xs:element name="Metadata" type="rertbi:Metadata"/>
			    </xs:all>
			  </xs:complexType>
			</xs:element>

			<xs:element name="FORM_RECORDSREVIEW_ReferralClinic_RecordsReviewed_CBx">
			  <xs:annotation>
			    <xs:documentation>Records reviewed</xs:documentation>
			  </xs:annotation>
			  <xs:complexType>
			    <xs:all>
			      <xs:element name="Value" type="xs:boolean" default="false"/>
			      <xs:element name="Metadata" type="rertbi:Metadata"/>
			    </xs:all>
			  </xs:complexType>
			</xs:element>

			<xs:element name="FORM_RECORDSREVIEW_ReferralClinic_Other_CBx">
			  <xs:annotation>
			    <xs:documentation>Other, please specify:</xs:documentation>
			  </xs:annotation>
			  <xs:complexType>
			    <xs:all>
			      <xs:element name="Value" type="xs:boolean" default="false"/>
			      <xs:element name="Metadata" type="rertbi:Metadata"/>
			    </xs:all>
			  </xs:complexType>
			</xs:element>

			<xs:element name="FORM_RECORDSREVIEW_ReferralClinic_Other_MB">
			  <xs:complexType>
			    <xs:all>
			      <xs:element name="Value" type="xs:string" nillable="true"/>
			      <xs:element name="Metadata" type="rertbi:Metadata"/>
			    </xs:all>
			  </xs:complexType>
			</xs:element>

			<xs:element name="FORM_RECORDSREVIEW_ReferralClinic_Comments__MB">
			  <xs:complexType>
			    <xs:all>
			      <xs:element name="Value" type="xs:string" nillable="true"/>
			      <xs:element name="Metadata" type="rertbi:Metadata"/>
			    </xs:all>
			  </xs:complexType>
			</xs:element>

			<xs:element name="EXAM_GENERAL_ACE_Cbx_1">
			  <xs:annotation>
			    <xs:documentation></xs:documentation>
			  </xs:annotation>
			  <xs:complexType>
			    <xs:all>
			      <xs:element name="Value" type="xs:boolean" default="false"/>
			      <xs:element name="Metadata" type="rertbi:Metadata"/>
			    </xs:all>
			  </xs:complexType>
			</xs:element>

			<xs:element name="EXAM_GENERAL_ACE_Cbx_2">
			  <xs:annotation>
			    <xs:documentation></xs:documentation>
			  </xs:annotation>
			  <xs:complexType>
			    <xs:all>
			      <xs:element name="Value" type="xs:boolean" default="false"/>
			      <xs:element name="Metadata" type="rertbi:Metadata"/>
			    </xs:all>
			  </xs:complexType>
			</xs:element>

			<xs:element name="EXAM_GENERAL_ACE_Cbx_3">
			  <xs:annotation>
			    <xs:documentation>Examination via approved video telehealth</xs:documentation>
			  </xs:annotation>
			  <xs:complexType>
			    <xs:all>
			      <xs:element name="Value" type="xs:boolean" default="false"/>
			      <xs:element name="Metadata" type="rertbi:Metadata"/>
			    </xs:all>
			  </xs:complexType>
			</xs:element>

			<xs:element name="EXAM_GENERAL_ACE_Cbx_4">
			  <xs:annotation>
			    <xs:documentation>In-person examination</xs:documentation>
			  </xs:annotation>
			  <xs:complexType>
			    <xs:all>
			      <xs:element name="Value" type="xs:boolean" default="false"/>
			      <xs:element name="Metadata" type="rertbi:Metadata"/>
			    </xs:all>
			  </xs:complexType>
			</xs:element>

			<xs:element name="RECORDS_REVIEW_RECORDSREVIEW_EvidenceReview_NotRequested_CB">
			  <xs:annotation>
			    <xs:documentation>Not requested</xs:documentation>
			  </xs:annotation>
			  <xs:complexType>
			    <xs:all>
			      <xs:element name="Value" type="xs:boolean" default="false"/>
			      <xs:element name="Metadata" type="rertbi:Metadata"/>
			    </xs:all>
			  </xs:complexType>
			</xs:element>

			<xs:element name="RECORDS_REVIEW_RECORDSREVIEW_EvidenceReview_NoRecords_CB">
			  <xs:annotation>
			    <xs:documentation>No records were reviewed</xs:documentation>
			  </xs:annotation>
			  <xs:complexType>
			    <xs:all>
			      <xs:element name="Value" type="xs:boolean" default="false"/>
			      <xs:element name="Metadata" type="rertbi:Metadata"/>
			    </xs:all>
			  </xs:complexType>
			</xs:element>

			<xs:element name="RECORDS_REVIEW_RECORDSREVIEW_EvidenceReview_CFile_CB">
			  <xs:annotation>
			    <xs:documentation>VA claims file (hard copy paper C-file)</xs:documentation>
			  </xs:annotation>
			  <xs:complexType>
			    <xs:all>
			      <xs:element name="Value" type="xs:boolean" default="false"/>
			      <xs:element name="Metadata" type="rertbi:Metadata"/>
			    </xs:all>
			  </xs:complexType>
			</xs:element>

			<xs:element name="RECORDS_REVIEW_RECORDSREVIEW_EvidenceReview_EFolder_CB">
			  <xs:annotation>
			    <xs:documentation>VA e-folder (VBMS or Virtual VA)</xs:documentation>
			  </xs:annotation>
			  <xs:complexType>
			    <xs:all>
			      <xs:element name="Value" type="xs:boolean" default="false"/>
			      <xs:element name="Metadata" type="rertbi:Metadata"/>
			    </xs:all>
			  </xs:complexType>
			</xs:element>

			<xs:element name="RECORDS_REVIEW_RECORDSREVIEW_EvidenceReview_CPRS_CB">
			  <xs:annotation>
			    <xs:documentation>CPRS</xs:documentation>
			  </xs:annotation>
			  <xs:complexType>
			    <xs:all>
			      <xs:element name="Value" type="xs:boolean" default="false"/>
			      <xs:element name="Metadata" type="rertbi:Metadata"/>
			    </xs:all>
			  </xs:complexType>
			</xs:element>

			<xs:element name="RECORDS_REVIEW_RECORDSREVIEW_EvidenceReview_Other_CB">
			  <xs:annotation>
			    <xs:documentation>Other (please identify other evidence reviewed):</xs:documentation>
			  </xs:annotation>
			  <xs:complexType>
			    <xs:all>
			      <xs:element name="Value" type="xs:boolean" default="false"/>
			      <xs:element name="Metadata" type="rertbi:Metadata"/>
			    </xs:all>
			  </xs:complexType>
			</xs:element>

			<xs:element name="RECORDS_REVIEW_RECORDSREVIEW_EvidenceReview_Other_Memo">
			  <xs:complexType>
			    <xs:all>
			      <xs:element name="Value" type="xs:string" nillable="true"/>
			      <xs:element name="Metadata" type="rertbi:Metadata"/>
			    </xs:all>
			  </xs:complexType>
			</xs:element>

			<xs:element name="RECORDS_REVIEW_RECORDSREVIEW_EvidenceReview_Comments_Memo">
			  <xs:complexType>
			    <xs:all>
			      <xs:element name="Value" type="xs:string" nillable="true"/>
			      <xs:element name="Metadata" type="rertbi:Metadata"/>
			    </xs:all>
			  </xs:complexType>
			</xs:element>

			<xs:element name="EXAM_NEURO_TBI_OPP_OTHER_PERT_New_RG">
			  <xs:annotation> 
			    <xs:documentation></xs:documentation>
			  </xs:annotation>
			  <xs:complexType>
			    <xs:all>
			      <xs:element name="Value" nillable="true">
			        <xs:simpleType>
			          <xs:restriction base="xs:string">
			            <xs:enumeration value="Yes"/>
			            <xs:enumeration value="No"/>
			          </xs:restriction>
			        </xs:simpleType>
			      </xs:element>
			      <xs:element name="Metadata" type="rertbi:Metadata"/>
			    </xs:all>
			  </xs:complexType>
			</xs:element>

			<xs:element name="EXAM_NEURO_TBI_OPP_OTHER_PERT_DESCRIBE">
			  <xs:complexType>
			    <xs:all>
			      <xs:element name="Value" type="xs:string" nillable="true"/>
			      <xs:element name="Metadata" type="rertbi:Metadata"/>
			    </xs:all>
			  </xs:complexType>
			</xs:element>

			<xs:element name="EXAM_NEURO_TBI_OPP_SCARS">
			  <xs:annotation> 
			    <xs:documentation></xs:documentation>
			  </xs:annotation>
			  <xs:complexType>
			    <xs:all>
			      <xs:element name="Value" nillable="true">
			        <xs:simpleType>
			          <xs:restriction base="xs:string">
			            <xs:enumeration value="Yes"/>
			            <xs:enumeration value="No"/>
			          </xs:restriction>
			        </xs:simpleType>
			      </xs:element>
			      <xs:element name="Metadata" type="rertbi:Metadata"/>
			    </xs:all>
			  </xs:complexType>
			</xs:element>

			<xs:element name="EXAM_NEURO_TBI_OPP_OTHER_Scars_Size_RG">
			  <xs:annotation> 
			    <xs:documentation></xs:documentation>
			  </xs:annotation>
			  <xs:complexType>
			    <xs:all>
			      <xs:element name="Value" nillable="true">
			        <xs:simpleType>
			          <xs:restriction base="xs:string">
			            <xs:enumeration value="Yes"/>
			            <xs:enumeration value="No"/>
			          </xs:restriction>
			        </xs:simpleType>
			      </xs:element>
			      <xs:element name="Metadata" type="rertbi:Metadata"/>
			    </xs:all>
			  </xs:complexType>
			</xs:element>

			<xs:element name="EXAM_NEURO_TBI_OPP_OTHER_Scars_Location_edit">
			  <xs:complexType>
			    <xs:all>
			      <xs:element name="Value" type="xs:string" nillable="true"/>
			      <xs:element name="Metadata" type="rertbi:Metadata"/>
			    </xs:all>
			  </xs:complexType>
			</xs:element>

			<xs:element name="EXAM_NEURO_TBI_OPP_OTHER_Scars_Length_edit">
			  <xs:complexType>
			    <xs:all>
			      <xs:element name="Value" type="xs:string" nillable="true"/>
			      <xs:element name="Metadata" type="rertbi:Metadata"/>
			    </xs:all>
			  </xs:complexType>
			</xs:element>

			<xs:element name="EXAM_NEURO_TBI_OPP_OTHER_Scars_Width_edit">
			  <xs:complexType>
			    <xs:all>
			      <xs:element name="Value" type="xs:string" nillable="true"/>
			      <xs:element name="Metadata" type="rertbi:Metadata"/>
			    </xs:all>
			  </xs:complexType>
			</xs:element>

			<xs:element name="EXAM_NEURO_TBI_OPP_OTHER_Comments_memo">
			  <xs:complexType>
			    <xs:all>
			      <xs:element name="Value" type="xs:string" nillable="true"/>
			      <xs:element name="Metadata" type="rertbi:Metadata"/>
			    </xs:all>
			  </xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="ReviewEvaluationOfResidualsOfTraumaticBrainInjuryForm" type="rertbi:ReviewEvaluationOfResidualsOfTraumaticBrainInjuryFormType"/>
	<xs:complexType name="Metadata">
		<xs:sequence>
			<xs:element name="code" type="xs:string"/>
			<xs:element name="codeSystem" type="xs:string"/>
			<xs:element name="version" type="xs:string"/>
			<xs:element name="source" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
