extension/DBQNEURONarcolepsy-2.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:narco="http://vler.va.gov/vler/schemas/health/clinicalDocuments/clinicalAssessments/cpExams/Narcolepsy/2.0"
           targetNamespace="http://vler.va.gov/vler/schemas/health/clinicalDocuments/clinicalAssessments/cpExams/Narcolepsy/2.0"
           version="2.0" elementFormDefault="qualified">
    <xs:complexType name="NarcolepsyFormType">
        <xs:sequence>
            <xs:element name="EXAMGROUP_CARDIO_IHD_Name">
                <xs:complexType>
                    <xs:all>
                        <xs:element name="Value" type="xs:string" nillable="true"/>
                        <xs:element name="Metadata" type="narco:Metadata"/>
                    </xs:all>
                </xs:complexType>
            </xs:element>

            <xs:element name="DIAGNOSIS_NEURO_NARC_DIAGNOSIS">
                <xs:annotation>
                    <xs:documentation></xs:documentation>
                </xs:annotation>
                <xs:complexType>
                    <xs:all>
                        <xs:element name="Value" nillable="true">
                            <xs:simpleType>
                                <xs:restriction base="xs:string">
                                    <xs:enumeration value="Yes"/>
                                    <xs:enumeration value="No"/>
                                </xs:restriction>
                            </xs:simpleType>
                        </xs:element>
                        <xs:element name="Metadata" type="narco:Metadata"/>
                    </xs:all>
                </xs:complexType>
            </xs:element>

            <xs:element name="DIAGNOSIS_NEURO_NARC_NARC">
                <xs:annotation>
                    <xs:documentation>Narcolepsy</xs:documentation>
                </xs:annotation>
                <xs:complexType>
                    <xs:all>
                        <xs:element name="Value" type="xs:boolean" default="false"/>
                        <xs:element name="Metadata" type="narco:Metadata"/>
                    </xs:all>
                </xs:complexType>
            </xs:element>

            <xs:element name="DIAGNOSIS_NEURO_NARC_NARC_DATE">
                <xs:complexType>
                    <xs:all>
                        <xs:element name="Value" type="xs:string" nillable="true"/>
                        <xs:element name="Metadata" type="narco:Metadata"/>
                    </xs:all>
                </xs:complexType>
            </xs:element>

            <xs:element name="DIAGNOSIS_NEURO_NARC_NARC_ICD">
                <xs:complexType>
                    <xs:all>
                        <xs:element name="Value" type="xs:string" nillable="true"/>
                        <xs:element name="Metadata" type="narco:Metadata"/>
                    </xs:all>
                </xs:complexType>
            </xs:element>

            <xs:element name="DIAGNOSIS_NEURO_NARC_OTHER">
                <xs:annotation>
                    <xs:documentation>Other, specify:</xs:documentation>
                </xs:annotation>
                <xs:complexType>
                    <xs:all>
                        <xs:element name="Value" type="xs:boolean" default="false"/>
                        <xs:element name="Metadata" type="narco:Metadata"/>
                    </xs:all>
                </xs:complexType>
            </xs:element>

            <xs:element name="DIAGNOSIS_NEURO_NARC_OTHER_1">
                <xs:complexType>
                    <xs:all>
                        <xs:element name="Value" type="xs:string" nillable="true"/>
                        <xs:element name="Metadata" type="narco:Metadata"/>
                    </xs:all>
                </xs:complexType>
            </xs:element>

            <xs:element name="DIAGNOSIS_NEURO_NARC_OTHER_1_ICD">
                <xs:complexType>
                    <xs:all>
                        <xs:element name="Value" type="xs:string" nillable="true"/>
                        <xs:element name="Metadata" type="narco:Metadata"/>
                    </xs:all>
                </xs:complexType>
            </xs:element>

            <xs:element name="DIAGNOSIS_NEURO_NARC_OTHER_1_DATE">
                <xs:complexType>
                    <xs:all>
                        <xs:element name="Value" type="xs:string" nillable="true"/>
                        <xs:element name="Metadata" type="narco:Metadata"/>
                    </xs:all>
                </xs:complexType>
            </xs:element>

            <xs:element name="DIAGNOSIS_NEURO_NARC_ADDITIONAL">
                <xs:complexType>
                    <xs:all>
                        <xs:element name="Value" type="xs:string" nillable="true"/>
                        <xs:element name="Metadata" type="narco:Metadata"/>
                    </xs:all>
                </xs:complexType>
            </xs:element>

            <xs:element name="HISTORY_NEURO_NARC_DESCRIBE">
                <xs:complexType>
                    <xs:all>
                        <xs:element name="Value" type="xs:string" nillable="true"/>
                        <xs:element name="Metadata" type="narco:Metadata"/>
                    </xs:all>
                </xs:complexType>
            </xs:element>

            <xs:element name="NarcolepsyContinuousMedication">
                <xs:annotation>
                    <xs:documentation>b. Is continuous medication required for control of narcolepsy?</xs:documentation>
                </xs:annotation>
                <xs:complexType>
                    <xs:all>
                        <xs:element name="Value" nillable="true">
                            <xs:simpleType>
                                <xs:restriction base="xs:string">
                                    <xs:enumeration value="Yes"/>
                                    <xs:enumeration value="No"/>
                                </xs:restriction>
                            </xs:simpleType>
                        </xs:element>
                        <xs:element name="Metadata" type="narco:Metadata"/>
                    </xs:all>
                </xs:complexType>
            </xs:element>

            <xs:element name="HISTORY_NEURO_NARC_MEDS_DESCRIBE">
                <xs:complexType>
                    <xs:all>
                        <xs:element name="Value" type="xs:string" nillable="true"/>
                        <xs:element name="Metadata" type="narco:Metadata"/>
                    </xs:all>
                </xs:complexType>
            </xs:element>

            <xs:element name="Narcolepsy">
                <xs:annotation>
                    <xs:documentation>Does the Veteran have a confirmed diagnosis of narcolepsy?</xs:documentation>
                </xs:annotation>
                <xs:complexType>
                    <xs:all>
                        <xs:element name="Value" nillable="true">
                            <xs:simpleType>
                                <xs:restriction base="xs:string">
                                    <xs:enumeration value="Yes"/>
                                    <xs:enumeration value="No"/>
                                </xs:restriction>
                            </xs:simpleType>
                        </xs:element>
                        <xs:element name="Metadata" type="narco:Metadata"/>
                    </xs:all>
                </xs:complexType>
            </xs:element>

            <xs:element name="HISTORY_NEURO_NARC_FINDINGS_SIGNS">
                <xs:annotation>
                    <xs:documentation>a. If yes, does the Veteran report any of the following findings, signs or
                        symptoms?
                    </xs:documentation>
                </xs:annotation>
                <xs:complexType>
                    <xs:all>
                        <xs:element name="Value" nillable="true">
                            <xs:simpleType>
                                <xs:restriction base="xs:string">
                                    <xs:enumeration value="Yes"/>
                                    <xs:enumeration value="No"/>
                                </xs:restriction>
                            </xs:simpleType>
                        </xs:element>
                        <xs:element name="Metadata" type="narco:Metadata"/>
                    </xs:all>
                </xs:complexType>
            </xs:element>

            <xs:element name="HISTORY_NEURO_NARC_FINDINGS_SIGNS_EXCESSIVE">
                <xs:annotation>
                    <xs:documentation>Excessive daytime sleepiness</xs:documentation>
                </xs:annotation>
                <xs:complexType>
                    <xs:all>
                        <xs:element name="Value" type="xs:boolean" default="false"/>
                        <xs:element name="Metadata" type="narco:Metadata"/>
                    </xs:all>
                </xs:complexType>
            </xs:element>

            <xs:element name="HISTORY_NEURO_NARC_FINDINGS_SIGNS_ATTACKS">
                <xs:annotation>
                    <xs:documentation>Sleep attacks (strong urge to sleep, followed by short nap)</xs:documentation>
                </xs:annotation>
                <xs:complexType>
                    <xs:all>
                        <xs:element name="Value" type="xs:boolean" default="false"/>
                        <xs:element name="Metadata" type="narco:Metadata"/>
                    </xs:all>
                </xs:complexType>
            </xs:element>

            <xs:element name="HISTORY_NEURO_NARC_FINDINGS_SIGNS_CATA">
                <xs:annotation>
                    <xs:documentation>Cataplexy (sudden loss of muscle tone while awake, resulting in brief inability to
                        move)
                    </xs:documentation>
                </xs:annotation>
                <xs:complexType>
                    <xs:all>
                        <xs:element name="Value" type="xs:boolean" default="false"/>
                        <xs:element name="Metadata" type="narco:Metadata"/>
                    </xs:all>
                </xs:complexType>
            </xs:element>

            <xs:element name="HISTORY_NEURO_NARC_FINDINGS_SIGNS_PARA">
                <xs:annotation>
                    <xs:documentation>Sleep paralysis (inability to move on first awakening)</xs:documentation>
                </xs:annotation>
                <xs:complexType>
                    <xs:all>
                        <xs:element name="Value" type="xs:boolean" default="false"/>
                        <xs:element name="Metadata" type="narco:Metadata"/>
                    </xs:all>
                </xs:complexType>
            </xs:element>

            <xs:element name="HISTORY_NEURO_NARC_FINDINGS_SIGNS_DESCRIBE">
                <xs:complexType>
                    <xs:all>
                        <xs:element name="Value" type="xs:string" nillable="true"/>
                        <xs:element name="Metadata" type="narco:Metadata"/>
                    </xs:all>
                </xs:complexType>
            </xs:element>

            <xs:element name="HISTORY_NEURO_NARC_FINDINGS_EPISODE_NUMBER">
                <xs:annotation>
                    <xs:documentation>Number of cataplectic (narcoleptic) episodes over past 6 months:
                    </xs:documentation>
                </xs:annotation>
                <xs:complexType>
                    <xs:all>
                        <xs:element name="Value" nillable="true">
                            <xs:simpleType>
                                <xs:restriction base="xs:string">
                                    <xs:enumeration value="0-1"/>
                                    <xs:enumeration value="2 or more"/>
                                </xs:restriction>
                            </xs:simpleType>
                        </xs:element>
                        <xs:element name="Metadata" type="narco:Metadata"/>
                    </xs:all>
                </xs:complexType>
            </xs:element>

            <xs:element name="HISTORY_NEURO_NARC_FINDINGS_EPISODE_NUMBER_MORE2">
                <xs:annotation>
                    <xs:documentation>If 2 or more over the past 6 months, indicate the average frequency of narcoleptic
                        episodes:
                    </xs:documentation>
                </xs:annotation>
                <xs:complexType>
                    <xs:all>
                        <xs:element name="Value" nillable="true">
                            <xs:simpleType>
                                <xs:restriction base="xs:string">
                                    <xs:enumeration value="0-4 per week"/>
                                    <xs:enumeration value="5-8 per week"/>
                                    <xs:enumeration value="9-10 per week"/>
                                    <xs:enumeration value="More than 10 per week"/>
                                </xs:restriction>
                            </xs:simpleType>
                        </xs:element>
                        <xs:element name="Metadata" type="narco:Metadata"/>
                    </xs:all>
                </xs:complexType>
            </xs:element>

            <xs:element name="HISTORY_NEURO_NARC_FINDINGS_EPISODE_DESCRIBE">
                <xs:complexType>
                    <xs:all>
                        <xs:element name="Value" type="xs:string" nillable="true"/>
                        <xs:element name="Metadata" type="narco:Metadata"/>
                    </xs:all>
                </xs:complexType>
            </xs:element>

            <xs:element name="HISTORY_NEURO_NARC_OPP_OTHER_PERT">
                <xs:annotation>
                    <xs:documentation></xs:documentation>
                </xs:annotation>
                <xs:complexType>
                    <xs:all>
                        <xs:element name="Value" nillable="true">
                            <xs:simpleType>
                                <xs:restriction base="xs:string">
                                    <xs:enumeration value="Yes"/>
                                    <xs:enumeration value="No"/>
                                </xs:restriction>
                            </xs:simpleType>
                        </xs:element>
                        <xs:element name="Metadata" type="narco:Metadata"/>
                    </xs:all>
                </xs:complexType>
            </xs:element>

            <xs:element name="HISTORY_NEURO_NARC_OPP_OTHER_PERT_DESCRIBE">
                <xs:complexType>
                    <xs:all>
                        <xs:element name="Value" type="xs:string" nillable="true"/>
                        <xs:element name="Metadata" type="narco:Metadata"/>
                    </xs:all>
                </xs:complexType>
            </xs:element>

            <xs:element name="HISTORY_NEURO_NARC_DT_IMAGING">
                <xs:annotation>
                    <xs:documentation>a. Have any imaging studies or diagnostic procedures been performed?
                    </xs:documentation>
                </xs:annotation>
                <xs:complexType>
                    <xs:all>
                        <xs:element name="Value" nillable="true">
                            <xs:simpleType>
                                <xs:restriction base="xs:string">
                                    <xs:enumeration value="Yes"/>
                                    <xs:enumeration value="No"/>
                                </xs:restriction>
                            </xs:simpleType>
                        </xs:element>
                        <xs:element name="Metadata" type="narco:Metadata"/>
                    </xs:all>
                </xs:complexType>
            </xs:element>

            <xs:element name="HISTORY_NEURO_NARC_DT_IMAGING_POLY">
                <xs:annotation>
                    <xs:documentation>Polysomnogram (PSG)</xs:documentation>
                </xs:annotation>
                <xs:complexType>
                    <xs:all>
                        <xs:element name="Value" type="xs:boolean" default="false"/>
                        <xs:element name="Metadata" type="narco:Metadata"/>
                    </xs:all>
                </xs:complexType>
            </xs:element>

            <xs:element name="HISTORY_NEURO_NARC_DT_IMAGING_POLY_DATE">
                <xs:complexType>
                    <xs:all>
                        <xs:element name="Value" type="xs:string" nillable="true"/>
                        <xs:element name="Metadata" type="narco:Metadata"/>
                    </xs:all>
                </xs:complexType>
            </xs:element>

            <xs:element name="HISTORY_NEURO_NARC_DT_IMAGING_POLY_RESULTS">
                <xs:complexType>
                    <xs:all>
                        <xs:element name="Value" type="xs:string" nillable="true"/>
                        <xs:element name="Metadata" type="narco:Metadata"/>
                    </xs:all>
                </xs:complexType>
            </xs:element>

            <xs:element name="HISTORY_NEURO_NARC_DT_IMAGING_MULTI">
                <xs:annotation>
                    <xs:documentation>Multiple Sleep Latency Test (MSLT)</xs:documentation>
                </xs:annotation>
                <xs:complexType>
                    <xs:all>
                        <xs:element name="Value" type="xs:boolean" default="false"/>
                        <xs:element name="Metadata" type="narco:Metadata"/>
                    </xs:all>
                </xs:complexType>
            </xs:element>

            <xs:element name="HISTORY_NEURO_NARC_DT_IMAGING_MULTI_DATE">
                <xs:complexType>
                    <xs:all>
                        <xs:element name="Value" type="xs:string" nillable="true"/>
                        <xs:element name="Metadata" type="narco:Metadata"/>
                    </xs:all>
                </xs:complexType>
            </xs:element>

            <xs:element name="HISTORY_NEURO_NARC_DT_IMAGING_MULTI_RESULTS">
                <xs:complexType>
                    <xs:all>
                        <xs:element name="Value" type="xs:string" nillable="true"/>
                        <xs:element name="Metadata" type="narco:Metadata"/>
                    </xs:all>
                </xs:complexType>
            </xs:element>

            <xs:element name="HISTORY_NEURO_NARC_DT_IMAGING_HYPO">
                <xs:annotation>
                    <xs:documentation>Hypocretin level in cerebrospinal fluid (CSF)</xs:documentation>
                </xs:annotation>
                <xs:complexType>
                    <xs:all>
                        <xs:element name="Value" type="xs:boolean" default="false"/>
                        <xs:element name="Metadata" type="narco:Metadata"/>
                    </xs:all>
                </xs:complexType>
            </xs:element>

            <xs:element name="HISTORY_NEURO_NARC_DT_IMAGING_HYPO_DATE">
                <xs:complexType>
                    <xs:all>
                        <xs:element name="Value" type="xs:string" nillable="true"/>
                        <xs:element name="Metadata" type="narco:Metadata"/>
                    </xs:all>
                </xs:complexType>
            </xs:element>

            <xs:element name="HISTORY_NEURO_NARC_DT_IMAGING_HYPO_RESULTS">
                <xs:complexType>
                    <xs:all>
                        <xs:element name="Value" type="xs:string" nillable="true"/>
                        <xs:element name="Metadata" type="narco:Metadata"/>
                    </xs:all>
                </xs:complexType>
            </xs:element>

            <xs:element name="HISTORY_NEURO_NARC_DT_IMAGING_OTHER">
                <xs:annotation>
                    <xs:documentation>Other, describe:</xs:documentation>
                </xs:annotation>
                <xs:complexType>
                    <xs:all>
                        <xs:element name="Value" type="xs:boolean" default="false"/>
                        <xs:element name="Metadata" type="narco:Metadata"/>
                    </xs:all>
                </xs:complexType>
            </xs:element>

            <xs:element name="HISTORY_NEURO_NARC_DT_IMAGING_OTHER_EDIT">
                <xs:complexType>
                    <xs:all>
                        <xs:element name="Value" type="xs:string" nillable="true"/>
                        <xs:element name="Metadata" type="narco:Metadata"/>
                    </xs:all>
                </xs:complexType>
            </xs:element>

            <xs:element name="HISTORY_NEURO_NARC_DT_IMAGING_OTHER_DATE">
                <xs:complexType>
                    <xs:all>
                        <xs:element name="Value" type="xs:string" nillable="true"/>
                        <xs:element name="Metadata" type="narco:Metadata"/>
                    </xs:all>
                </xs:complexType>
            </xs:element>

            <xs:element name="HISTORY_NEURO_NARC_DT_IMAGING_OTHER_RESULTS">
                <xs:complexType>
                    <xs:all>
                        <xs:element name="Value" type="xs:string" nillable="true"/>
                        <xs:element name="Metadata" type="narco:Metadata"/>
                    </xs:all>
                </xs:complexType>
            </xs:element>

            <xs:element name="HISTORY_NEURO_NARC_DT_IMAGING_OTHER_SIGN">
                <xs:annotation>
                    <xs:documentation>b. Are there any other significant diagnostic test findings and/or results?
                    </xs:documentation>
                </xs:annotation>
                <xs:complexType>
                    <xs:all>
                        <xs:element name="Value" nillable="true">
                            <xs:simpleType>
                                <xs:restriction base="xs:string">
                                    <xs:enumeration value="Yes"/>
                                    <xs:enumeration value="No"/>
                                </xs:restriction>
                            </xs:simpleType>
                        </xs:element>
                        <xs:element name="Metadata" type="narco:Metadata"/>
                    </xs:all>
                </xs:complexType>
            </xs:element>

            <xs:element name="HISTORY_NEURO_NARC_FI">
                <xs:annotation>
                    <xs:documentation>Does the Veteran's narcolepsy impact his or her ability to work?
                    </xs:documentation>
                </xs:annotation>
                <xs:complexType>
                    <xs:all>
                        <xs:element name="Value" nillable="true">
                            <xs:simpleType>
                                <xs:restriction base="xs:string">
                                    <xs:enumeration value="Yes"/>
                                    <xs:enumeration value="No"/>
                                </xs:restriction>
                            </xs:simpleType>
                        </xs:element>
                        <xs:element name="Metadata" type="narco:Metadata"/>
                    </xs:all>
                </xs:complexType>
            </xs:element>

            <xs:element name="HISTORY_NEURO_NARC_FI_DESCRIBE">
                <xs:complexType>
                    <xs:all>
                        <xs:element name="Value" type="xs:string" nillable="true"/>
                        <xs:element name="Metadata" type="narco:Metadata"/>
                    </xs:all>
                </xs:complexType>
            </xs:element>

            <xs:element name="HISTORY_NEURO_NARC_REMARKS">
                <xs:complexType>
                    <xs:all>
                        <xs:element name="Value" type="xs:string" nillable="true"/>
                        <xs:element name="Metadata" type="narco:Metadata"/>
                    </xs:all>
                </xs:complexType>
            </xs:element>

            <xs:element name="HISTORY_NEURO_NARC_DT_IMAGING_OTHER_SIGN_DESCRIBE">
                <xs:complexType>
                    <xs:all>
                        <xs:element name="Value" type="xs:string" nillable="true"/>
                        <xs:element name="Metadata" type="narco:Metadata"/>
                    </xs:all>
                </xs:complexType>
            </xs:element>

            <xs:element name="HISTORY_NEURO_NARC_FINDINGS_SIGNS_HALL_SLEEP">
                <xs:annotation>
                    <xs:documentation>Sleep onset/sleep offset hallucinations</xs:documentation>
                </xs:annotation>
                <xs:complexType>
                    <xs:all>
                        <xs:element name="Value" type="xs:boolean" default="false"/>
                        <xs:element name="Metadata" type="narco:Metadata"/>
                    </xs:all>
                </xs:complexType>
            </xs:element>

            <xs:element name="HISTORY_NEURO_NARC_FINDINGS_SIGNS_OTH">
                <xs:annotation>
                    <xs:documentation>Other</xs:documentation>
                </xs:annotation>
                <xs:complexType>
                    <xs:all>
                        <xs:element name="Value" type="xs:boolean" default="false"/>
                        <xs:element name="Metadata" type="narco:Metadata"/>
                    </xs:all>
                </xs:complexType>
            </xs:element>

            <xs:element name="SeizureMinorYesNo">
                <xs:annotation>
                    <xs:documentation></xs:documentation>
                </xs:annotation>
                <xs:complexType>
                    <xs:all>
                        <xs:element name="Value" nillable="true">
                            <xs:simpleType>
                                <xs:restriction base="xs:string">
                                    <xs:enumeration value="Yes"/>
                                    <xs:enumeration value="No"/>
                                </xs:restriction>
                            </xs:simpleType>
                        </xs:element>
                        <xs:element name="Metadata" type="narco:Metadata"/>
                    </xs:all>
                </xs:complexType>
            </xs:element>

            <xs:element name="SeizureMinorNumber">
                <xs:annotation>
                    <xs:documentation>Number of minor seizures over past 6 months:</xs:documentation>
                </xs:annotation>
                <xs:complexType>
                    <xs:all>
                        <xs:element name="Value" nillable="true">
                            <xs:simpleType>
                                <xs:restriction base="xs:string">
                                    <xs:enumeration value="0-1"/>
                                    <xs:enumeration value="2 or more"/>
                                </xs:restriction>
                            </xs:simpleType>
                        </xs:element>
                        <xs:element name="Metadata" type="narco:Metadata"/>
                    </xs:all>
                </xs:complexType>
            </xs:element>

            <xs:element name="SeizureMinorFrequency">
                <xs:annotation>
                    <xs:documentation>If 2 or more over the past 6 months, indicate the average frequency of minor
                        seizures:
                    </xs:documentation>
                </xs:annotation>
                <xs:complexType>
                    <xs:all>
                        <xs:element name="Value" nillable="true">
                            <xs:simpleType>
                                <xs:restriction base="xs:string">
                                    <xs:enumeration value="0-4 per week"/>
                                    <xs:enumeration value="5-8 per week"/>
                                    <xs:enumeration value="9-10 per week"/>
                                    <xs:enumeration value="More than 10 per week "/>
                                </xs:restriction>
                            </xs:simpleType>
                        </xs:element>
                        <xs:element name="Metadata" type="narco:Metadata"/>
                    </xs:all>
                </xs:complexType>
            </xs:element>

            <xs:element name="SeizureMajorYesNo">
                <xs:annotation>
                    <xs:documentation>c. Has the Veteran ever had major seizures (characterized by the generalized
                        tonic-clonic convulsion with unconsciousness)?
                    </xs:documentation>
                </xs:annotation>
                <xs:complexType>
                    <xs:all>
                        <xs:element name="Value" nillable="true">
                            <xs:simpleType>
                                <xs:restriction base="xs:string">
                                    <xs:enumeration value="Yes"/>
                                    <xs:enumeration value="No"/>
                                </xs:restriction>
                            </xs:simpleType>
                        </xs:element>
                        <xs:element name="Metadata" type="narco:Metadata"/>
                    </xs:all>
                </xs:complexType>
            </xs:element>

            <xs:element name="SeizureMajorNumber">
                <xs:annotation>
                    <xs:documentation>Number of major seizures:</xs:documentation>
                </xs:annotation>
                <xs:complexType>
                    <xs:all>
                        <xs:element name="Value" nillable="true">
                            <xs:simpleType>
                                <xs:restriction base="xs:string">
                                    <xs:enumeration value="None in past 2 years"/>
                                    <xs:enumeration value="At least 1 in past 2 years"/>
                                    <xs:enumeration value="At least 2 in past year"/>
                                </xs:restriction>
                            </xs:simpleType>
                        </xs:element>
                        <xs:element name="Metadata" type="narco:Metadata"/>
                    </xs:all>
                </xs:complexType>
            </xs:element>

            <xs:element name="SeizureMajorFrequency">
                <xs:annotation>
                    <xs:documentation>Average frequency of major seizures:</xs:documentation>
                </xs:annotation>
                <xs:complexType>
                    <xs:all>
                        <xs:element name="Value" nillable="true">
                            <xs:simpleType>
                                <xs:restriction base="xs:string">
                                    <xs:enumeration value="None in past 6 months"/>
                                    <xs:enumeration value="At least 1 in past 6 months"/>
                                    <xs:enumeration value="At least 1 in 4 months over past year"/>
                                    <xs:enumeration value="At least 1 in 3 months over past year"/>
                                    <xs:enumeration value="At least 1 per month over past year"/>
                                </xs:restriction>
                            </xs:simpleType>
                        </xs:element>
                        <xs:element name="Metadata" type="narco:Metadata"/>
                    </xs:all>
                </xs:complexType>
            </xs:element>

            <xs:element name="FORM_RECORDSREVIEW_ReferralClinic_CPExaminationRequest_RG">
                <xs:annotation>
                    <xs:documentation>Is this DBQ being completed in conjunction with a VA 21-2507, C&amp;P Examination
                        Request?
                    </xs:documentation>
                </xs:annotation>
                <xs:complexType>
                    <xs:all>
                        <xs:element name="Value" nillable="true">
                            <xs:simpleType>
                                <xs:restriction base="xs:string">
                                    <xs:enumeration value="Yes"/>
                                    <xs:enumeration value="No"/>
                                </xs:restriction>
                            </xs:simpleType>
                        </xs:element>
                        <xs:element name="Metadata" type="narco:Metadata"/>
                    </xs:all>
                </xs:complexType>
            </xs:element>

            <xs:element name="FORM_RECORDSREVIEW_ReferralClinic_InPersonExamination_CBx">
                <xs:annotation>
                    <xs:documentation>In-person examination</xs:documentation>
                </xs:annotation>
                <xs:complexType>
                    <xs:all>
                        <xs:element name="Value" type="xs:boolean" default="false"/>
                        <xs:element name="Metadata" type="narco:Metadata"/>
                    </xs:all>
                </xs:complexType>
            </xs:element>

            <xs:element name="FORM_RECORDSREVIEW_ReferralClinic_RecordsReviewed_CBx">
                <xs:annotation>
                    <xs:documentation>Records reviewed</xs:documentation>
                </xs:annotation>
                <xs:complexType>
                    <xs:all>
                        <xs:element name="Value" type="xs:boolean" default="false"/>
                        <xs:element name="Metadata" type="narco:Metadata"/>
                    </xs:all>
                </xs:complexType>
            </xs:element>

            <xs:element name="FORM_RECORDSREVIEW_ReferralClinic_Other_CBx">
                <xs:annotation>
                    <xs:documentation>Other, please specify:</xs:documentation>
                </xs:annotation>
                <xs:complexType>
                    <xs:all>
                        <xs:element name="Value" type="xs:boolean" default="false"/>
                        <xs:element name="Metadata" type="narco:Metadata"/>
                    </xs:all>
                </xs:complexType>
            </xs:element>

            <xs:element name="FORM_RECORDSREVIEW_ReferralClinic_Other_MB">
                <xs:complexType>
                    <xs:all>
                        <xs:element name="Value" type="xs:string" nillable="true"/>
                        <xs:element name="Metadata" type="narco:Metadata"/>
                    </xs:all>
                </xs:complexType>
            </xs:element>

            <xs:element name="FORM_RECORDSREVIEW_ReferralClinic_Comments__MB">
                <xs:complexType>
                    <xs:all>
                        <xs:element name="Value" type="xs:string" nillable="true"/>
                        <xs:element name="Metadata" type="narco:Metadata"/>
                    </xs:all>
                </xs:complexType>
            </xs:element>

            <xs:element name="EXAM_GENERAL_ACE_Cbx_1">
                <xs:annotation>
                    <xs:documentation></xs:documentation>
                </xs:annotation>
                <xs:complexType>
                    <xs:all>
                        <xs:element name="Value" type="xs:boolean" default="false"/>
                        <xs:element name="Metadata" type="narco:Metadata"/>
                    </xs:all>
                </xs:complexType>
            </xs:element>

            <xs:element name="EXAM_GENERAL_ACE_Cbx_2">
                <xs:annotation>
                    <xs:documentation></xs:documentation>
                </xs:annotation>
                <xs:complexType>
                    <xs:all>
                        <xs:element name="Value" type="xs:boolean" default="false"/>
                        <xs:element name="Metadata" type="narco:Metadata"/>
                    </xs:all>
                </xs:complexType>
            </xs:element>

            <xs:element name="EXAM_GENERAL_ACE_Cbx_3">
                <xs:annotation>
                    <xs:documentation>Examination via approved video telehealth</xs:documentation>
                </xs:annotation>
                <xs:complexType>
                    <xs:all>
                        <xs:element name="Value" type="xs:boolean" default="false"/>
                        <xs:element name="Metadata" type="narco:Metadata"/>
                    </xs:all>
                </xs:complexType>
            </xs:element>

            <xs:element name="EXAM_GENERAL_ACE_Cbx_4">
                <xs:annotation>
                    <xs:documentation>In-person examination</xs:documentation>
                </xs:annotation>
                <xs:complexType>
                    <xs:all>
                        <xs:element name="Value" type="xs:boolean" default="false"/>
                        <xs:element name="Metadata" type="narco:Metadata"/>
                    </xs:all>
                </xs:complexType>
            </xs:element>

            <xs:element name="RECORDS_REVIEW_RECORDSREVIEW_EvidenceReview_NotRequested_CB">
                <xs:annotation>
                    <xs:documentation>Not requested</xs:documentation>
                </xs:annotation>
                <xs:complexType>
                    <xs:all>
                        <xs:element name="Value" type="xs:boolean" default="false"/>
                        <xs:element name="Metadata" type="narco:Metadata"/>
                    </xs:all>
                </xs:complexType>
            </xs:element>

            <xs:element name="RECORDS_REVIEW_RECORDSREVIEW_EvidenceReview_NoRecords_CB">
                <xs:annotation>
                    <xs:documentation>No records were reviewed</xs:documentation>
                </xs:annotation>
                <xs:complexType>
                    <xs:all>
                        <xs:element name="Value" type="xs:boolean" default="false"/>
                        <xs:element name="Metadata" type="narco:Metadata"/>
                    </xs:all>
                </xs:complexType>
            </xs:element>

            <xs:element name="RECORDS_REVIEW_RECORDSREVIEW_EvidenceReview_CFile_CB">
                <xs:annotation>
                    <xs:documentation>VA claims file (hard copy paper C-file)</xs:documentation>
                </xs:annotation>
                <xs:complexType>
                    <xs:all>
                        <xs:element name="Value" type="xs:boolean" default="false"/>
                        <xs:element name="Metadata" type="narco:Metadata"/>
                    </xs:all>
                </xs:complexType>
            </xs:element>

            <xs:element name="RECORDS_REVIEW_RECORDSREVIEW_EvidenceReview_EFolder_CB">
                <xs:annotation>
                    <xs:documentation>VA e-folder (VBMS or Virtual VA)</xs:documentation>
                </xs:annotation>
                <xs:complexType>
                    <xs:all>
                        <xs:element name="Value" type="xs:boolean" default="false"/>
                        <xs:element name="Metadata" type="narco:Metadata"/>
                    </xs:all>
                </xs:complexType>
            </xs:element>

            <xs:element name="RECORDS_REVIEW_RECORDSREVIEW_EvidenceReview_CPRS_CB">
                <xs:annotation>
                    <xs:documentation>CPRS</xs:documentation>
                </xs:annotation>
                <xs:complexType>
                    <xs:all>
                        <xs:element name="Value" type="xs:boolean" default="false"/>
                        <xs:element name="Metadata" type="narco:Metadata"/>
                    </xs:all>
                </xs:complexType>
            </xs:element>

            <xs:element name="RECORDS_REVIEW_RECORDSREVIEW_EvidenceReview_Other_CB">
                <xs:annotation>
                    <xs:documentation>Other (please identify other evidence reviewed):</xs:documentation>
                </xs:annotation>
                <xs:complexType>
                    <xs:all>
                        <xs:element name="Value" type="xs:boolean" default="false"/>
                        <xs:element name="Metadata" type="narco:Metadata"/>
                    </xs:all>
                </xs:complexType>
            </xs:element>

            <xs:element name="RECORDS_REVIEW_RECORDSREVIEW_EvidenceReview_Other_Memo">
                <xs:complexType>
                    <xs:all>
                        <xs:element name="Value" type="xs:string" nillable="true"/>
                        <xs:element name="Metadata" type="narco:Metadata"/>
                    </xs:all>
                </xs:complexType>
            </xs:element>

            <xs:element name="RECORDS_REVIEW_RECORDSREVIEW_EvidenceReview_Comments_Memo">
                <xs:complexType>
                    <xs:all>
                        <xs:element name="Value" type="xs:string" nillable="true"/>
                        <xs:element name="Metadata" type="narco:Metadata"/>
                    </xs:all>
                </xs:complexType>
            </xs:element>

            <xs:element name="HISTORY_NEURO_NARC_OPP_OTHER_PERT_SCARS_RG">
                <xs:annotation>
                    <xs:documentation></xs:documentation>
                </xs:annotation>
                <xs:complexType>
                    <xs:all>
                        <xs:element name="Value" nillable="true">
                            <xs:simpleType>
                                <xs:restriction base="xs:string">
                                    <xs:enumeration value="Yes"/>
                                    <xs:enumeration value="No"/>
                                </xs:restriction>
                            </xs:simpleType>
                        </xs:element>
                        <xs:element name="Metadata" type="narco:Metadata"/>
                    </xs:all>
                </xs:complexType>
            </xs:element>

            <xs:element name="HISTORY_NEURO_NARC_OPP_OTHER_PERT_SCARS_Size_RG">
                <xs:annotation>
                    <xs:documentation></xs:documentation>
                </xs:annotation>
                <xs:complexType>
                    <xs:all>
                        <xs:element name="Value" nillable="true">
                            <xs:simpleType>
                                <xs:restriction base="xs:string">
                                    <xs:enumeration value="Yes"/>
                                    <xs:enumeration value="No"/>
                                </xs:restriction>
                            </xs:simpleType>
                        </xs:element>
                        <xs:element name="Metadata" type="narco:Metadata"/>
                    </xs:all>
                </xs:complexType>
            </xs:element>

            <xs:element name="HISTORY_NEURO_NARC_OPP_OTHER_PERT_SCARS_Location_edit">
                <xs:complexType>
                    <xs:all>
                        <xs:element name="Value" type="xs:string" nillable="true"/>
                        <xs:element name="Metadata" type="narco:Metadata"/>
                    </xs:all>
                </xs:complexType>
            </xs:element>

            <xs:element name="HISTORY_NEURO_NARC_OPP_OTHER_PERT_SCARS_Length_edit">
                <xs:complexType>
                    <xs:all>
                        <xs:element name="Value" type="xs:string" nillable="true"/>
                        <xs:element name="Metadata" type="narco:Metadata"/>
                    </xs:all>
                </xs:complexType>
            </xs:element>

            <xs:element name="HISTORY_NEURO_NARC_OPP_OTHER_PERT_SCARS_Width_edit">
                <xs:complexType>
                    <xs:all>
                        <xs:element name="Value" type="xs:string" nillable="true"/>
                        <xs:element name="Metadata" type="narco:Metadata"/>
                    </xs:all>
                </xs:complexType>
            </xs:element>

            <xs:element name="HISTORY_NEURO_NARC_OPP_OTHER_PERT_Comments_memo">
                <xs:complexType>
                    <xs:all>
                        <xs:element name="Value" type="xs:string" nillable="true"/>
                        <xs:element name="Metadata" type="narco:Metadata"/>
                    </xs:all>
                </xs:complexType>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="NarcolepsyForm" type="narco:NarcolepsyFormType"/>
    <xs:complexType name="Metadata">
        <xs:sequence>
            <xs:element name="code" type="xs:string"/>
            <xs:element name="codeSystem" type="xs:string"/>
            <xs:element name="version" type="xs:string"/>
            <xs:element name="source" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>
</xs:schema>
