extension/DBQNEUROParkinsonsDisease-2.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:pd="http://vler.va.gov/vler/schemas/health/clinicalDocuments/clinicalAssessments/cpExams/ParkinsonDisease/2.0" targetNamespace="http://vler.va.gov/vler/schemas/health/clinicalDocuments/clinicalAssessments/cpExams/ParkinsonDisease/2.0" version="2.0" elementFormDefault="qualified">
	<xs:complexType name="ParkinsonDiseaseFormType">
		<xs:sequence>
			<xs:element name="EXAMGROUP_NEURO_Parkinsons_Motor_Autonomic">
			  <xs:annotation> 
			    <xs:documentation>Loss of automatic movements (such as blinking, leading to fixed gaze; typical Parkinson's facies)</xs:documentation>
			  </xs:annotation>
			  <xs:complexType>
			    <xs:all>
			      <xs:element name="Value" nillable="true">
			        <xs:simpleType>
			          <xs:restriction base="xs:string">
			            <xs:enumeration value="None"/>
			            <xs:enumeration value="Mild"/>
			            <xs:enumeration value="Moderate"/>
			            <xs:enumeration value="Severe"/>
			          </xs:restriction>
			        </xs:simpleType>
			      </xs:element>
			      <xs:element name="Metadata" type="pd:Metadata"/>
			    </xs:all>
			  </xs:complexType>
			</xs:element>

			<xs:element name="EXAMGROUP_NEURO_Parkinsons_Motor_Posture">
			  <xs:annotation> 
			    <xs:documentation>Stooped posture</xs:documentation>
			  </xs:annotation>
			  <xs:complexType>
			    <xs:all>
			      <xs:element name="Value" nillable="true">
			        <xs:simpleType>
			          <xs:restriction base="xs:string">
			            <xs:enumeration value="None"/>
			            <xs:enumeration value="Mild"/>
			            <xs:enumeration value="Moderate"/>
			            <xs:enumeration value="Severe"/>
			          </xs:restriction>
			        </xs:simpleType>
			      </xs:element>
			      <xs:element name="Metadata" type="pd:Metadata"/>
			    </xs:all>
			  </xs:complexType>
			</xs:element>

			<xs:element name="EXAMGROUP_NEURO_Parkinsons_Motor_Balance_Impairment">
			  <xs:annotation> 
			    <xs:documentation>Balance impairment</xs:documentation>
			  </xs:annotation>
			  <xs:complexType>
			    <xs:all>
			      <xs:element name="Value" nillable="true">
			        <xs:simpleType>
			          <xs:restriction base="xs:string">
			            <xs:enumeration value="None"/>
			            <xs:enumeration value="Mild"/>
			            <xs:enumeration value="Moderate"/>
			            <xs:enumeration value="Severe"/>
			          </xs:restriction>
			        </xs:simpleType>
			      </xs:element>
			      <xs:element name="Metadata" type="pd:Metadata"/>
			    </xs:all>
			  </xs:complexType>
			</xs:element>

			<xs:element name="EXAMGROUP_NEURO_Parkinsons_Motor_Tremor">
			  <xs:annotation> 
			    <xs:documentation>Tremor (characteristic hand shaking, "pill-rolling")</xs:documentation>
			  </xs:annotation>
			  <xs:complexType>
			    <xs:all>
			      <xs:element name="Value" nillable="true">
			        <xs:simpleType>
			          <xs:restriction base="xs:string">
			            <xs:enumeration value="Yes"/>
			            <xs:enumeration value="No"/>
			          </xs:restriction>
			        </xs:simpleType>
			      </xs:element>
			      <xs:element name="Metadata" type="pd:Metadata"/>
			    </xs:all>
			  </xs:complexType>
			</xs:element>

			<xs:element name="EXAMGROUP_NEURO_Parkinsons_Motor_Bradykinesia">
			  <xs:annotation> 
			    <xs:documentation>Bradykinesia or slowed motion (difficulty initiating movement, "freezing," short shuffling steps)</xs:documentation>
			  </xs:annotation>
			  <xs:complexType>
			    <xs:all>
			      <xs:element name="Value" nillable="true">
			        <xs:simpleType>
			          <xs:restriction base="xs:string">
			            <xs:enumeration value="None"/>
			            <xs:enumeration value="Mild"/>
			            <xs:enumeration value="Moderate"/>
			            <xs:enumeration value="Severe"/>
			          </xs:restriction>
			        </xs:simpleType>
			      </xs:element>
			      <xs:element name="Metadata" type="pd:Metadata"/>
			    </xs:all>
			  </xs:complexType>
			</xs:element>

			<xs:element name="EXAMGROUP_NEURO_Parkinsons_Motor_Muscle">
			  <xs:annotation> 
			    <xs:documentation>Muscle rigidity and stiffness</xs:documentation>
			  </xs:annotation>
			  <xs:complexType>
			    <xs:all>
			      <xs:element name="Value" nillable="true">
			        <xs:simpleType>
			          <xs:restriction base="xs:string">
			            <xs:enumeration value="Yes"/>
			            <xs:enumeration value="No"/>
			          </xs:restriction>
			        </xs:simpleType>
			      </xs:element>
			      <xs:element name="Metadata" type="pd:Metadata"/>
			    </xs:all>
			  </xs:complexType>
			</xs:element>

			<xs:element name="EXAMGROUP_NEURO_Parkinsons_Motor_Speeck_Changes">
			  <xs:annotation> 
			    <xs:documentation>Speech changes (monotone, slurring words, soft or rapid speech)</xs:documentation>
			  </xs:annotation>
			  <xs:complexType>
			    <xs:all>
			      <xs:element name="Value" nillable="true">
			        <xs:simpleType>
			          <xs:restriction base="xs:string">
			            <xs:enumeration value="None"/>
			            <xs:enumeration value="Mild"/>
			            <xs:enumeration value="Moderate"/>
			            <xs:enumeration value="Severe"/>
			          </xs:restriction>
			        </xs:simpleType>
			      </xs:element>
			      <xs:element name="Metadata" type="pd:Metadata"/>
			    </xs:all>
			  </xs:complexType>
			</xs:element>

			<xs:element name="EXAMGROUP_NEURO_Parkinsons_Mental_Depression">
			  <xs:annotation> 
			    <xs:documentation>Depression</xs:documentation>
			  </xs:annotation>
			  <xs:complexType>
			    <xs:all>
			      <xs:element name="Value" nillable="true">
			        <xs:simpleType>
			          <xs:restriction base="xs:string">
			            <xs:enumeration value="None"/>
			            <xs:enumeration value="Mild"/>
			            <xs:enumeration value="Moderate"/>
			            <xs:enumeration value="Severe"/>
			          </xs:restriction>
			        </xs:simpleType>
			      </xs:element>
			      <xs:element name="Metadata" type="pd:Metadata"/>
			    </xs:all>
			  </xs:complexType>
			</xs:element>

			<xs:element name="EXAMGROUP_NEURO_Parkinsons_Mental_Cognitive">
			  <xs:annotation> 
			    <xs:documentation>Cognitive impairment or dementia</xs:documentation>
			  </xs:annotation>
			  <xs:complexType>
			    <xs:all>
			      <xs:element name="Value" nillable="true">
			        <xs:simpleType>
			          <xs:restriction base="xs:string">
			            <xs:enumeration value="None"/>
			            <xs:enumeration value="Mild"/>
			            <xs:enumeration value="Moderate"/>
			            <xs:enumeration value="Severe"/>
			          </xs:restriction>
			        </xs:simpleType>
			      </xs:element>
			      <xs:element name="Metadata" type="pd:Metadata"/>
			    </xs:all>
			  </xs:complexType>
			</xs:element>

			<xs:element name="EXAMGROUP_NEURO_Parkinsons_Other_Smell">
			  <xs:annotation> 
			    <xs:documentation>Loss of sense of smell</xs:documentation>
			  </xs:annotation>
			  <xs:complexType>
			    <xs:all>
			      <xs:element name="Value" nillable="true">
			        <xs:simpleType>
			          <xs:restriction base="xs:string">
			            <xs:enumeration value="None"/>
			            <xs:enumeration value="Partial"/>
			            <xs:enumeration value="Complete"/>
			          </xs:restriction>
			        </xs:simpleType>
			      </xs:element>
			      <xs:element name="Metadata" type="pd:Metadata"/>
			    </xs:all>
			  </xs:complexType>
			</xs:element>

			<xs:element name="EXAMGROUP_NEURO_Parkinsons_Other_Sleep">
			  <xs:annotation> 
			    <xs:documentation>Sleep disturbance (insomnia or daytime "sleep attacks")</xs:documentation>
			  </xs:annotation>
			  <xs:complexType>
			    <xs:all>
			      <xs:element name="Value" nillable="true">
			        <xs:simpleType>
			          <xs:restriction base="xs:string">
			            <xs:enumeration value="None"/>
			            <xs:enumeration value="Mild"/>
			            <xs:enumeration value="Moderate"/>
			            <xs:enumeration value="Severe"/>
			          </xs:restriction>
			        </xs:simpleType>
			      </xs:element>
			      <xs:element name="Metadata" type="pd:Metadata"/>
			    </xs:all>
			  </xs:complexType>
			</xs:element>

			<xs:element name="EXAMGROUP_NEURO_Parkinsons_Other_Chewing">
			  <xs:annotation> 
			    <xs:documentation>Difficulty chewing/swallowing</xs:documentation>
			  </xs:annotation>
			  <xs:complexType>
			    <xs:all>
			      <xs:element name="Value" nillable="true">
			        <xs:simpleType>
			          <xs:restriction base="xs:string">
			            <xs:enumeration value="None"/>
			            <xs:enumeration value="Mild"/>
			            <xs:enumeration value="Moderate"/>
			            <xs:enumeration value="Severe"/>
			          </xs:restriction>
			        </xs:simpleType>
			      </xs:element>
			      <xs:element name="Metadata" type="pd:Metadata"/>
			    </xs:all>
			  </xs:complexType>
			</xs:element>

			<xs:element name="EXAMGROUP_NEURO_Parkinsons_Other_Urinary_Frequency">
			  <xs:annotation> 
			    <xs:documentation>Absorbent material required due to incontinence, specify pads/day:</xs:documentation>
			  </xs:annotation>
			  <xs:complexType>
			    <xs:all>
			      <xs:element name="Value" nillable="true">
			        <xs:simpleType>
			          <xs:restriction base="xs:string">
			            <xs:enumeration value="0"/>
			            <xs:enumeration value="1"/>
			            <xs:enumeration value="2-4"/>
			            <xs:enumeration value="&gt;4"/>
			          </xs:restriction>
			        </xs:simpleType>
			      </xs:element>
			      <xs:element name="Metadata" type="pd:Metadata"/>
			    </xs:all>
			  </xs:complexType>
			</xs:element>

			<xs:element name="EXAMGROUP_NEURO_Parkinsons_Other_Constipation">
			  <xs:annotation> 
			    <xs:documentation>Constipation (due to slowing of GI tract or secondary to Parkinson's medications)</xs:documentation>
			  </xs:annotation>
			  <xs:complexType>
			    <xs:all>
			      <xs:element name="Value" nillable="true">
			        <xs:simpleType>
			          <xs:restriction base="xs:string">
			            <xs:enumeration value="None"/>
			            <xs:enumeration value="Mild"/>
			            <xs:enumeration value="Moderate"/>
			            <xs:enumeration value="Severe"/>
			          </xs:restriction>
			        </xs:simpleType>
			      </xs:element>
			      <xs:element name="Metadata" type="pd:Metadata"/>
			    </xs:all>
			  </xs:complexType>
			</xs:element>

			<xs:element name="EXAMGROUP_NEURO_Parkinsons_Other_Sexual_Dysfunction">
			  <xs:annotation> 
			    <xs:documentation>Sexual dysfunction</xs:documentation>
			  </xs:annotation>
			  <xs:complexType>
			    <xs:all>
			      <xs:element name="Value" nillable="true">
			        <xs:simpleType>
			          <xs:restriction base="xs:string">
			            <xs:enumeration value="None"/>
			            <xs:enumeration value="Mild"/>
			            <xs:enumeration value="Moderate"/>
			            <xs:enumeration value="Severe (precludes intercourse)"/>
			            <xs:enumeration value="Erectile dysfunction precludes intercourse"/>
			          </xs:restriction>
			        </xs:simpleType>
			      </xs:element>
			      <xs:element name="Metadata" type="pd:Metadata"/>
			    </xs:all>
			  </xs:complexType>
			</xs:element>

			<xs:element name="EXAMGROUP_NEURO_Parkinsons_Other_Financial">
			  <xs:annotation> 
			    <xs:documentation>In your judgment, is the Veteran able to manage his/her benefit payments in his/her own best interest, or able to direct someone else to do so?</xs:documentation>
			  </xs:annotation>
			  <xs:complexType>
			    <xs:all>
			      <xs:element name="Value" nillable="true">
			        <xs:simpleType>
			          <xs:restriction base="xs:string">
			            <xs:enumeration value="Yes"/>
			            <xs:enumeration value="No"/>
			          </xs:restriction>
			        </xs:simpleType>
			      </xs:element>
			      <xs:element name="Metadata" type="pd:Metadata"/>
			    </xs:all>
			  </xs:complexType>
			</xs:element>

			<xs:element name="EXAMGROUP_NEURO_Parkinsons_Other_Manifestations">
			  <xs:complexType>
			    <xs:all>
			      <xs:element name="Value" type="xs:string" nillable="true"/>
			      <xs:element name="Metadata" type="pd:Metadata"/>
			    </xs:all>
			  </xs:complexType>
			</xs:element>

			<xs:element name="EXAMGROUP_NEURO_Parkinsons_Symptoms_Other">
			  <xs:complexType>
			    <xs:all>
			      <xs:element name="Value" type="xs:string" nillable="true"/>
			      <xs:element name="Metadata" type="pd:Metadata"/>
			    </xs:all>
			  </xs:complexType>
			</xs:element>

			<xs:element name="EXAMGROUP_NEURO_Parkinsons_Motor_Tremor_RU">
			  <xs:annotation> 
			    <xs:documentation>Right upper</xs:documentation>
			  </xs:annotation>
			  <xs:complexType>
			    <xs:all>
			      <xs:element name="Value" nillable="true">
			        <xs:simpleType>
			          <xs:restriction base="xs:string">
			            <xs:enumeration value="Not affected"/>
			            <xs:enumeration value="Mild"/>
			            <xs:enumeration value="Moderate"/>
			            <xs:enumeration value="Severe"/>
			          </xs:restriction>
			        </xs:simpleType>
			      </xs:element>
			      <xs:element name="Metadata" type="pd:Metadata"/>
			    </xs:all>
			  </xs:complexType>
			</xs:element>

			<xs:element name="EXAMGROUP_NEURO_Parkinsons_Motor_Tremor_LU">
			  <xs:annotation> 
			    <xs:documentation>Left upper</xs:documentation>
			  </xs:annotation>
			  <xs:complexType>
			    <xs:all>
			      <xs:element name="Value" nillable="true">
			        <xs:simpleType>
			          <xs:restriction base="xs:string">
			            <xs:enumeration value="Not affected"/>
			            <xs:enumeration value="Mild"/>
			            <xs:enumeration value="Moderate"/>
			            <xs:enumeration value="Severe"/>
			          </xs:restriction>
			        </xs:simpleType>
			      </xs:element>
			      <xs:element name="Metadata" type="pd:Metadata"/>
			    </xs:all>
			  </xs:complexType>
			</xs:element>

			<xs:element name="EXAMGROUP_NEURO_Parkinsons_Motor_Tremor_RL">
			  <xs:annotation> 
			    <xs:documentation>Right lower</xs:documentation>
			  </xs:annotation>
			  <xs:complexType>
			    <xs:all>
			      <xs:element name="Value" nillable="true">
			        <xs:simpleType>
			          <xs:restriction base="xs:string">
			            <xs:enumeration value="Not affected"/>
			            <xs:enumeration value="Mild"/>
			            <xs:enumeration value="Moderate"/>
			            <xs:enumeration value="Severe"/>
			          </xs:restriction>
			        </xs:simpleType>
			      </xs:element>
			      <xs:element name="Metadata" type="pd:Metadata"/>
			    </xs:all>
			  </xs:complexType>
			</xs:element>

			<xs:element name="EXAMGROUP_NEURO_Parkinsons_Motor_Tremor_LL">
			  <xs:annotation> 
			    <xs:documentation>Left lower</xs:documentation>
			  </xs:annotation>
			  <xs:complexType>
			    <xs:all>
			      <xs:element name="Value" nillable="true">
			        <xs:simpleType>
			          <xs:restriction base="xs:string">
			            <xs:enumeration value="Not affected"/>
			            <xs:enumeration value="Mild"/>
			            <xs:enumeration value="Moderate"/>
			            <xs:enumeration value="Severe"/>
			          </xs:restriction>
			        </xs:simpleType>
			      </xs:element>
			      <xs:element name="Metadata" type="pd:Metadata"/>
			    </xs:all>
			  </xs:complexType>
			</xs:element>

			<xs:element name="EXAMGROUP_NEURO_Parkinsons_Motor_Muscle_RU">
			  <xs:annotation> 
			    <xs:documentation>Right upper</xs:documentation>
			  </xs:annotation>
			  <xs:complexType>
			    <xs:all>
			      <xs:element name="Value" nillable="true">
			        <xs:simpleType>
			          <xs:restriction base="xs:string">
			            <xs:enumeration value="Not affected"/>
			            <xs:enumeration value="Mild"/>
			            <xs:enumeration value="Moderate"/>
			            <xs:enumeration value="Severe"/>
			          </xs:restriction>
			        </xs:simpleType>
			      </xs:element>
			      <xs:element name="Metadata" type="pd:Metadata"/>
			    </xs:all>
			  </xs:complexType>
			</xs:element>

			<xs:element name="EXAMGROUP_NEURO_Parkinsons_Motor_Muscle_LU">
			  <xs:annotation> 
			    <xs:documentation>Left upper</xs:documentation>
			  </xs:annotation>
			  <xs:complexType>
			    <xs:all>
			      <xs:element name="Value" nillable="true">
			        <xs:simpleType>
			          <xs:restriction base="xs:string">
			            <xs:enumeration value="Not affected"/>
			            <xs:enumeration value="Mild"/>
			            <xs:enumeration value="Moderate"/>
			            <xs:enumeration value="Severe"/>
			          </xs:restriction>
			        </xs:simpleType>
			      </xs:element>
			      <xs:element name="Metadata" type="pd:Metadata"/>
			    </xs:all>
			  </xs:complexType>
			</xs:element>

			<xs:element name="EXAMGROUP_NEURO_Parkinsons_Motor_Muscle_RL">
			  <xs:annotation> 
			    <xs:documentation>Right lower</xs:documentation>
			  </xs:annotation>
			  <xs:complexType>
			    <xs:all>
			      <xs:element name="Value" nillable="true">
			        <xs:simpleType>
			          <xs:restriction base="xs:string">
			            <xs:enumeration value="Not affected"/>
			            <xs:enumeration value="Mild"/>
			            <xs:enumeration value="Moderate"/>
			            <xs:enumeration value="Severe"/>
			          </xs:restriction>
			        </xs:simpleType>
			      </xs:element>
			      <xs:element name="Metadata" type="pd:Metadata"/>
			    </xs:all>
			  </xs:complexType>
			</xs:element>

			<xs:element name="EXAMGROUP_NEURO_Parkinsons_Motor_Muscle_LL">
			  <xs:annotation> 
			    <xs:documentation>Left lower</xs:documentation>
			  </xs:annotation>
			  <xs:complexType>
			    <xs:all>
			      <xs:element name="Value" nillable="true">
			        <xs:simpleType>
			          <xs:restriction base="xs:string">
			            <xs:enumeration value="Not affected"/>
			            <xs:enumeration value="Mild"/>
			            <xs:enumeration value="Moderate"/>
			            <xs:enumeration value="Severe"/>
			          </xs:restriction>
			        </xs:simpleType>
			      </xs:element>
			      <xs:element name="Metadata" type="pd:Metadata"/>
			    </xs:all>
			  </xs:complexType>
			</xs:element>

			<xs:element name="EXAMGROUP_NEURO_Parkinsons_Date_Editbox">
			  <xs:complexType>
			    <xs:all>
			      <xs:element name="Value" type="xs:string" nillable="true"/>
			      <xs:element name="Metadata" type="pd:Metadata"/>
			    </xs:all>
			  </xs:complexType>
			</xs:element>

			<xs:element name="EXAMGROUP_NEURO_Parkinsons_Other_Urinary_CB">
			  <xs:annotation>
			    <xs:documentation>None</xs:documentation>
			  </xs:annotation>
			  <xs:complexType>
			    <xs:all>
			      <xs:element name="Value" type="xs:boolean" default="false"/>
			      <xs:element name="Metadata" type="pd:Metadata"/>
			    </xs:all>
			  </xs:complexType>
			</xs:element>

			<xs:element name="EXAMGROUP_NEURO_Parkinsons_Diagnosis_ICD">
			  <xs:complexType>
			    <xs:all>
			      <xs:element name="Value" type="xs:string" nillable="true"/>
			      <xs:element name="Metadata" type="pd:Metadata"/>
			    </xs:all>
			  </xs:complexType>
			</xs:element>

			<xs:element name="EXAMGROUP_NEURO_Parkinsons_Dominant_Hand">
			  <xs:annotation> 
			    <xs:documentation></xs:documentation>
			  </xs:annotation>
			  <xs:complexType>
			    <xs:all>
			      <xs:element name="Value" nillable="true">
			        <xs:simpleType>
			          <xs:restriction base="xs:string">
			            <xs:enumeration value="Right"/>
			            <xs:enumeration value="Left"/>
			            <xs:enumeration value="Ambidextrous"/>
			          </xs:restriction>
			        </xs:simpleType>
			      </xs:element>
			      <xs:element name="Metadata" type="pd:Metadata"/>
			    </xs:all>
			  </xs:complexType>
			</xs:element>

			<xs:element name="EXAMGROUP_NEURO_Parkinsons_Other_Functional_Impact">
			  <xs:annotation> 
			    <xs:documentation>Does the Veteran's Parkinson's disease impact his or her ability to work?</xs:documentation>
			  </xs:annotation>
			  <xs:complexType>
			    <xs:all>
			      <xs:element name="Value" nillable="true">
			        <xs:simpleType>
			          <xs:restriction base="xs:string">
			            <xs:enumeration value="Yes"/>
			            <xs:enumeration value="No"/>
			          </xs:restriction>
			        </xs:simpleType>
			      </xs:element>
			      <xs:element name="Metadata" type="pd:Metadata"/>
			    </xs:all>
			  </xs:complexType>
			</xs:element>

			<xs:element name="EXAMGROUP_NEURO_Parkinsons_Other_Functional_Impact_Describe">
			  <xs:complexType>
			    <xs:all>
			      <xs:element name="Value" type="xs:string" nillable="true"/>
			      <xs:element name="Metadata" type="pd:Metadata"/>
			    </xs:all>
			  </xs:complexType>
			</xs:element>

			<xs:element name="EXAMGROUP_NEURO_Parkinsons_Other_Urinary_Incontinence">
			  <xs:annotation>
			    <xs:documentation>Incontinence</xs:documentation>
			  </xs:annotation>
			  <xs:complexType>
			    <xs:all>
			      <xs:element name="Value" type="xs:boolean" default="false"/>
			      <xs:element name="Metadata" type="pd:Metadata"/>
			    </xs:all>
			  </xs:complexType>
			</xs:element>

			<xs:element name="EXAMGROUP_NEURO_Parkinsons_Other_Urinary_Retention">
			  <xs:annotation>
			    <xs:documentation>Urinary retention</xs:documentation>
			  </xs:annotation>
			  <xs:complexType>
			    <xs:all>
			      <xs:element name="Value" type="xs:boolean" default="false"/>
			      <xs:element name="Metadata" type="pd:Metadata"/>
			    </xs:all>
			  </xs:complexType>
			</xs:element>

			<xs:element name="EXAMGROUP_NEURO_Parkinsons_Other_Urinary_Appliance">
			  <xs:annotation> 
			    <xs:documentation>Use of an appliance required?</xs:documentation>
			  </xs:annotation>
			  <xs:complexType>
			    <xs:all>
			      <xs:element name="Value" nillable="true">
			        <xs:simpleType>
			          <xs:restriction base="xs:string">
			            <xs:enumeration value="Yes"/>
			            <xs:enumeration value="No"/>
			          </xs:restriction>
			        </xs:simpleType>
			      </xs:element>
			      <xs:element name="Metadata" type="pd:Metadata"/>
			    </xs:all>
			  </xs:complexType>
			</xs:element>

			<xs:element name="EXAMGROUP_CARDIO_IHD_Name">
			  <xs:complexType>
			    <xs:all>
			      <xs:element name="Value" type="xs:string" nillable="true"/>
			      <xs:element name="Metadata" type="pd:Metadata"/>
			    </xs:all>
			  </xs:complexType>
			</xs:element>

			<xs:element name="Parkinson">
			  <xs:annotation> 
			    <xs:documentation>Does the Veteran now have or has he/she ever been diagnosed with Parkinson's disease (Paralysis agitans)?</xs:documentation>
			  </xs:annotation>
			  <xs:complexType>
			    <xs:all>
			      <xs:element name="Value" nillable="true">
			        <xs:simpleType>
			          <xs:restriction base="xs:string">
			            <xs:enumeration value="Yes"/>
			            <xs:enumeration value="No"/>
			          </xs:restriction>
			        </xs:simpleType>
			      </xs:element>
			      <xs:element name="Metadata" type="pd:Metadata"/>
			    </xs:all>
			  </xs:complexType>
			</xs:element>

			<xs:element name="FORM_RECORDSREVIEW_ReferralClinic_CPExaminationRequest_RG">
			  <xs:annotation> 
			    <xs:documentation>Is this DBQ being completed in conjunction with a VA 21-2507, C&amp;P Examination Request?</xs:documentation>
			  </xs:annotation>
			  <xs:complexType>
			    <xs:all>
			      <xs:element name="Value" nillable="true">
			        <xs:simpleType>
			          <xs:restriction base="xs:string">
			            <xs:enumeration value="Yes"/>
			            <xs:enumeration value="No"/>
			          </xs:restriction>
			        </xs:simpleType>
			      </xs:element>
			      <xs:element name="Metadata" type="pd:Metadata"/>
			    </xs:all>
			  </xs:complexType>
			</xs:element>

			<xs:element name="FORM_RECORDSREVIEW_ReferralClinic_InPersonExamination_CBx">
			  <xs:annotation>
			    <xs:documentation>In-person examination</xs:documentation>
			  </xs:annotation>
			  <xs:complexType>
			    <xs:all>
			      <xs:element name="Value" type="xs:boolean" default="false"/>
			      <xs:element name="Metadata" type="pd:Metadata"/>
			    </xs:all>
			  </xs:complexType>
			</xs:element>

			<xs:element name="FORM_RECORDSREVIEW_ReferralClinic_RecordsReviewed_CBx">
			  <xs:annotation>
			    <xs:documentation>Records reviewed</xs:documentation>
			  </xs:annotation>
			  <xs:complexType>
			    <xs:all>
			      <xs:element name="Value" type="xs:boolean" default="false"/>
			      <xs:element name="Metadata" type="pd:Metadata"/>
			    </xs:all>
			  </xs:complexType>
			</xs:element>

			<xs:element name="FORM_RECORDSREVIEW_ReferralClinic_Other_CBx">
			  <xs:annotation>
			    <xs:documentation>Other, please specify:</xs:documentation>
			  </xs:annotation>
			  <xs:complexType>
			    <xs:all>
			      <xs:element name="Value" type="xs:boolean" default="false"/>
			      <xs:element name="Metadata" type="pd:Metadata"/>
			    </xs:all>
			  </xs:complexType>
			</xs:element>

			<xs:element name="FORM_RECORDSREVIEW_ReferralClinic_Other_MB">
			  <xs:complexType>
			    <xs:all>
			      <xs:element name="Value" type="xs:string" nillable="true"/>
			      <xs:element name="Metadata" type="pd:Metadata"/>
			    </xs:all>
			  </xs:complexType>
			</xs:element>

			<xs:element name="FORM_RECORDSREVIEW_ReferralClinic_Comments__MB">
			  <xs:complexType>
			    <xs:all>
			      <xs:element name="Value" type="xs:string" nillable="true"/>
			      <xs:element name="Metadata" type="pd:Metadata"/>
			    </xs:all>
			  </xs:complexType>
			</xs:element>

			<xs:element name="EXAM_GENERAL_ACE_Cbx_1">
			  <xs:annotation>
			    <xs:documentation></xs:documentation>
			  </xs:annotation>
			  <xs:complexType>
			    <xs:all>
			      <xs:element name="Value" type="xs:boolean" default="false"/>
			      <xs:element name="Metadata" type="pd:Metadata"/>
			    </xs:all>
			  </xs:complexType>
			</xs:element>

			<xs:element name="EXAM_GENERAL_ACE_Cbx_2">
			  <xs:annotation>
			    <xs:documentation></xs:documentation>
			  </xs:annotation>
			  <xs:complexType>
			    <xs:all>
			      <xs:element name="Value" type="xs:boolean" default="false"/>
			      <xs:element name="Metadata" type="pd:Metadata"/>
			    </xs:all>
			  </xs:complexType>
			</xs:element>

			<xs:element name="EXAM_GENERAL_ACE_Cbx_3">
			  <xs:annotation>
			    <xs:documentation>Examination via approved video telehealth</xs:documentation>
			  </xs:annotation>
			  <xs:complexType>
			    <xs:all>
			      <xs:element name="Value" type="xs:boolean" default="false"/>
			      <xs:element name="Metadata" type="pd:Metadata"/>
			    </xs:all>
			  </xs:complexType>
			</xs:element>

			<xs:element name="EXAM_GENERAL_ACE_Cbx_4">
			  <xs:annotation>
			    <xs:documentation>In-person examination</xs:documentation>
			  </xs:annotation>
			  <xs:complexType>
			    <xs:all>
			      <xs:element name="Value" type="xs:boolean" default="false"/>
			      <xs:element name="Metadata" type="pd:Metadata"/>
			    </xs:all>
			  </xs:complexType>
			</xs:element>

			<xs:element name="RECORDS_REVIEW_RECORDSREVIEW_EvidenceReview_NotRequested_CB">
			  <xs:annotation>
			    <xs:documentation>Not requested</xs:documentation>
			  </xs:annotation>
			  <xs:complexType>
			    <xs:all>
			      <xs:element name="Value" type="xs:boolean" default="false"/>
			      <xs:element name="Metadata" type="pd:Metadata"/>
			    </xs:all>
			  </xs:complexType>
			</xs:element>

			<xs:element name="RECORDS_REVIEW_RECORDSREVIEW_EvidenceReview_NoRecords_CB">
			  <xs:annotation>
			    <xs:documentation>No records were reviewed</xs:documentation>
			  </xs:annotation>
			  <xs:complexType>
			    <xs:all>
			      <xs:element name="Value" type="xs:boolean" default="false"/>
			      <xs:element name="Metadata" type="pd:Metadata"/>
			    </xs:all>
			  </xs:complexType>
			</xs:element>

			<xs:element name="RECORDS_REVIEW_RECORDSREVIEW_EvidenceReview_CFile_CB">
			  <xs:annotation>
			    <xs:documentation>VA claims file (hard copy paper C-file)</xs:documentation>
			  </xs:annotation>
			  <xs:complexType>
			    <xs:all>
			      <xs:element name="Value" type="xs:boolean" default="false"/>
			      <xs:element name="Metadata" type="pd:Metadata"/>
			    </xs:all>
			  </xs:complexType>
			</xs:element>

			<xs:element name="RECORDS_REVIEW_RECORDSREVIEW_EvidenceReview_EFolder_CB">
			  <xs:annotation>
			    <xs:documentation>VA e-folder (VBMS or Virtual VA)</xs:documentation>
			  </xs:annotation>
			  <xs:complexType>
			    <xs:all>
			      <xs:element name="Value" type="xs:boolean" default="false"/>
			      <xs:element name="Metadata" type="pd:Metadata"/>
			    </xs:all>
			  </xs:complexType>
			</xs:element>

			<xs:element name="RECORDS_REVIEW_RECORDSREVIEW_EvidenceReview_CPRS_CB">
			  <xs:annotation>
			    <xs:documentation>CPRS</xs:documentation>
			  </xs:annotation>
			  <xs:complexType>
			    <xs:all>
			      <xs:element name="Value" type="xs:boolean" default="false"/>
			      <xs:element name="Metadata" type="pd:Metadata"/>
			    </xs:all>
			  </xs:complexType>
			</xs:element>

			<xs:element name="RECORDS_REVIEW_RECORDSREVIEW_EvidenceReview_Other_CB">
			  <xs:annotation>
			    <xs:documentation>Other (please identify other evidence reviewed):</xs:documentation>
			  </xs:annotation>
			  <xs:complexType>
			    <xs:all>
			      <xs:element name="Value" type="xs:boolean" default="false"/>
			      <xs:element name="Metadata" type="pd:Metadata"/>
			    </xs:all>
			  </xs:complexType>
			</xs:element>

			<xs:element name="RECORDS_REVIEW_RECORDSREVIEW_EvidenceReview_Other_Memo">
			  <xs:complexType>
			    <xs:all>
			      <xs:element name="Value" type="xs:string" nillable="true"/>
			      <xs:element name="Metadata" type="pd:Metadata"/>
			    </xs:all>
			  </xs:complexType>
			</xs:element>

			<xs:element name="RECORDS_REVIEW_RECORDSREVIEW_EvidenceReview_Comments_Memo">
			  <xs:complexType>
			    <xs:all>
			      <xs:element name="Value" type="xs:string" nillable="true"/>
			      <xs:element name="Metadata" type="pd:Metadata"/>
			    </xs:all>
			  </xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="ParkinsonDiseaseForm" type="pd:ParkinsonDiseaseFormType"/>
	<xs:complexType name="Metadata">
		<xs:sequence>
			<xs:element name="code" type="xs:string"/>
			<xs:element name="codeSystem" type="xs:string"/>
			<xs:element name="version" type="xs:string"/>
			<xs:element name="source" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
