extension/DBQRESPTuberculosis-2.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tb="http://vler.va.gov/vler/schemas/health/clinicalDocuments/clinicalAssessments/cpExams/Tuberculosis/2.0" targetNamespace="http://vler.va.gov/vler/schemas/health/clinicalDocuments/clinicalAssessments/cpExams/Tuberculosis/2.0" version="2.0" elementFormDefault="qualified">
	<xs:complexType name="TuberculosisFormType">
		<xs:sequence>
			<xs:element name="EXAMGROUP_ID_TB_Hx_Pulm_TB_Thoracoplasty">
			  <xs:annotation> 
			    <xs:documentation>c. Has the Veteran had thoracoplasty due to TB?</xs:documentation>
			  </xs:annotation>
			  <xs:complexType>
			    <xs:all>
			      <xs:element name="Value" nillable="true">
			        <xs:simpleType>
			          <xs:restriction base="xs:string">
			            <xs:enumeration value="Yes"/>
			            <xs:enumeration value="No"/>
			          </xs:restriction>
			        </xs:simpleType>
			      </xs:element>
			      <xs:element name="Metadata" type="tb:Metadata"/>
			    </xs:all>
			  </xs:complexType>
			</xs:element>

			<xs:element name="EXAMGROUP_CARDIO_IHD_Name">
			  <xs:complexType>
			    <xs:all>
			      <xs:element name="Value" type="xs:string" nillable="true"/>
			      <xs:element name="Metadata" type="tb:Metadata"/>
			    </xs:all>
			  </xs:complexType>
			</xs:element>

			<xs:element name="EXAMGROUP_ID_TB_Dx">
			  <xs:annotation> 
			    <xs:documentation>a. Does the Veteran now have or has he/she ever been diagnosed with active or latent tuberculosis (TB)?</xs:documentation>
			  </xs:annotation>
			  <xs:complexType>
			    <xs:all>
			      <xs:element name="Value" nillable="true">
			        <xs:simpleType>
			          <xs:restriction base="xs:string">
			            <xs:enumeration value="Yes"/>
			            <xs:enumeration value="No"/>
			          </xs:restriction>
			        </xs:simpleType>
			      </xs:element>
			      <xs:element name="Metadata" type="tb:Metadata"/>
			    </xs:all>
			  </xs:complexType>
			</xs:element>

			<xs:element name="EXAMGROUP_ID_TB_Dx_No_SkinTest">
			  <xs:annotation> 
			    <xs:documentation>b. If no, has the Veteran had a positive skin test for TB without active disease?</xs:documentation>
			  </xs:annotation>
			  <xs:complexType>
			    <xs:all>
			      <xs:element name="Value" nillable="true">
			        <xs:simpleType>
			          <xs:restriction base="xs:string">
			            <xs:enumeration value="Yes"/>
			            <xs:enumeration value="No"/>
			          </xs:restriction>
			        </xs:simpleType>
			      </xs:element>
			      <xs:element name="Metadata" type="tb:Metadata"/>
			    </xs:all>
			  </xs:complexType>
			</xs:element>

			<xs:element name="EXAMGROUP_ID_TB_Dx_No_Quantiferon">
			  <xs:annotation> 
			    <xs:documentation>c. If no, has the Veteran had a positive quantiferon-TB gold test without active disease?</xs:documentation>
			  </xs:annotation>
			  <xs:complexType>
			    <xs:all>
			      <xs:element name="Value" nillable="true">
			        <xs:simpleType>
			          <xs:restriction base="xs:string">
			            <xs:enumeration value="Yes"/>
			            <xs:enumeration value="No"/>
			          </xs:restriction>
			        </xs:simpleType>
			      </xs:element>
			      <xs:element name="Metadata" type="tb:Metadata"/>
			    </xs:all>
			  </xs:complexType>
			</xs:element>

			<xs:element name="EXAMGROUP_ID_TB_Dx__1">
			  <xs:complexType>
			    <xs:all>
			      <xs:element name="Value" type="xs:string" nillable="true"/>
			      <xs:element name="Metadata" type="tb:Metadata"/>
			    </xs:all>
			  </xs:complexType>
			</xs:element>

			<xs:element name="EXAMGROUP_ID_TB_Dx__2">
			  <xs:complexType>
			    <xs:all>
			      <xs:element name="Value" type="xs:string" nillable="true"/>
			      <xs:element name="Metadata" type="tb:Metadata"/>
			    </xs:all>
			  </xs:complexType>
			</xs:element>

			<xs:element name="EXAMGROUP_ID_TB_Dx__3">
			  <xs:complexType>
			    <xs:all>
			      <xs:element name="Value" type="xs:string" nillable="true"/>
			      <xs:element name="Metadata" type="tb:Metadata"/>
			    </xs:all>
			  </xs:complexType>
			</xs:element>

			<xs:element name="EXAMGROUP_ID_TB_Dx__1_ICD">
			  <xs:complexType>
			    <xs:all>
			      <xs:element name="Value" type="xs:string" nillable="true"/>
			      <xs:element name="Metadata" type="tb:Metadata"/>
			    </xs:all>
			  </xs:complexType>
			</xs:element>

			<xs:element name="EXAMGROUP_ID_TB_Dx__1_Date">
			  <xs:complexType>
			    <xs:all>
			      <xs:element name="Value" type="xs:string" nillable="true"/>
			      <xs:element name="Metadata" type="tb:Metadata"/>
			    </xs:all>
			  </xs:complexType>
			</xs:element>

			<xs:element name="EXAMGROUP_ID_TB_Dx__2_ICD">
			  <xs:complexType>
			    <xs:all>
			      <xs:element name="Value" type="xs:string" nillable="true"/>
			      <xs:element name="Metadata" type="tb:Metadata"/>
			    </xs:all>
			  </xs:complexType>
			</xs:element>

			<xs:element name="EXAMGROUP_ID_TB_Dx__2_Date">
			  <xs:complexType>
			    <xs:all>
			      <xs:element name="Value" type="xs:string" nillable="true"/>
			      <xs:element name="Metadata" type="tb:Metadata"/>
			    </xs:all>
			  </xs:complexType>
			</xs:element>

			<xs:element name="EXAMGROUP_ID_TB_Dx__3_ICD">
			  <xs:complexType>
			    <xs:all>
			      <xs:element name="Value" type="xs:string" nillable="true"/>
			      <xs:element name="Metadata" type="tb:Metadata"/>
			    </xs:all>
			  </xs:complexType>
			</xs:element>

			<xs:element name="EXAMGROUP_ID_TB_Dx__3_Date">
			  <xs:complexType>
			    <xs:all>
			      <xs:element name="Value" type="xs:string" nillable="true"/>
			      <xs:element name="Metadata" type="tb:Metadata"/>
			    </xs:all>
			  </xs:complexType>
			</xs:element>

			<xs:element name="EXAMGROUP_ID_TB_Dx_Additional">
			  <xs:complexType>
			    <xs:all>
			      <xs:element name="Value" type="xs:string" nillable="true"/>
			      <xs:element name="Metadata" type="tb:Metadata"/>
			    </xs:all>
			  </xs:complexType>
			</xs:element>

			<xs:element name="EXAMGROUP_ID_TB_Hx_Summary">
			  <xs:complexType>
			    <xs:all>
			      <xs:element name="Value" type="xs:string" nillable="true"/>
			      <xs:element name="Metadata" type="tb:Metadata"/>
			    </xs:all>
			  </xs:complexType>
			</xs:element>

			<xs:element name="EXAMGROUP_ID_TB_Hx_Treatment">
			  <xs:annotation> 
			    <xs:documentation></xs:documentation>
			  </xs:annotation>
			  <xs:complexType>
			    <xs:all>
			      <xs:element name="Value" nillable="true">
			        <xs:simpleType>
			          <xs:restriction base="xs:string">
			            <xs:enumeration value="Yes"/>
			            <xs:enumeration value="No"/>
			          </xs:restriction>
			        </xs:simpleType>
			      </xs:element>
			      <xs:element name="Metadata" type="tb:Metadata"/>
			    </xs:all>
			  </xs:complexType>
			</xs:element>

			<xs:element name="EXAMGROUP_ID_TB_Hx_Treatment_Date">
			  <xs:complexType>
			    <xs:all>
			      <xs:element name="Value" type="xs:string" nillable="true"/>
			      <xs:element name="Metadata" type="tb:Metadata"/>
			    </xs:all>
			  </xs:complexType>
			</xs:element>

			<xs:element name="EXAMGROUP_ID_TB_Hx_Treatment_Date_Completed">
			  <xs:complexType>
			    <xs:all>
			      <xs:element name="Value" type="xs:string" nillable="true"/>
			      <xs:element name="Metadata" type="tb:Metadata"/>
			    </xs:all>
			  </xs:complexType>
			</xs:element>

			<xs:element name="EXAMGROUP_ID_TB_Hx_Treatment_Date_Completed_Anticipated">
			  <xs:complexType>
			    <xs:all>
			      <xs:element name="Value" type="xs:string" nillable="true"/>
			      <xs:element name="Metadata" type="tb:Metadata"/>
			    </xs:all>
			  </xs:complexType>
			</xs:element>

			<xs:element name="EXAMGROUP_ID_TB_Hx_Treatment_List">
			  <xs:complexType>
			    <xs:all>
			      <xs:element name="Value" type="xs:string" nillable="true"/>
			      <xs:element name="Metadata" type="tb:Metadata"/>
			    </xs:all>
			  </xs:complexType>
			</xs:element>

			<xs:element name="EXAMGROUP_ID_TB_Hx_Pulm_TB">
			  <xs:annotation> 
			    <xs:documentation>a. Does the Veteran now have or has he or she ever been diagnosed with pulmonary tuberculosis?</xs:documentation>
			  </xs:annotation>
			  <xs:complexType>
			    <xs:all>
			      <xs:element name="Value" nillable="true">
			        <xs:simpleType>
			          <xs:restriction base="xs:string">
			            <xs:enumeration value="Yes"/>
			            <xs:enumeration value="No"/>
			          </xs:restriction>
			        </xs:simpleType>
			      </xs:element>
			      <xs:element name="Metadata" type="tb:Metadata"/>
			    </xs:all>
			  </xs:complexType>
			</xs:element>

			<xs:element name="TuberculosisPulmonaryTuberculosisActiveInactive">
			  <xs:annotation> 
			    <xs:documentation>If yes, is the condition:</xs:documentation>
			  </xs:annotation>
			  <xs:complexType>
			    <xs:all>
			      <xs:element name="Value" nillable="true">
			        <xs:simpleType>
			          <xs:restriction base="xs:string">
			            <xs:enumeration value="Active"/>
			            <xs:enumeration value="Inactive"/>
			          </xs:restriction>
			        </xs:simpleType>
			      </xs:element>
			      <xs:element name="Metadata" type="tb:Metadata"/>
			    </xs:all>
			  </xs:complexType>
			</xs:element>

			<xs:element name="EXAMGROUP_ID_TB_Hx_Pulm_TB_Status_Inactive_Date">
			  <xs:complexType>
			    <xs:all>
			      <xs:element name="Value" type="xs:string" nillable="true"/>
			      <xs:element name="Metadata" type="tb:Metadata"/>
			    </xs:all>
			  </xs:complexType>
			</xs:element>

			<xs:element name="EXAMGROUP_ID_TB_Hx_Pulm_TB_Residuals">
			  <xs:annotation> 
			    <xs:documentation>b. Does the Veteran have any residual findings, signs and/or symptoms due to pulmonary TB?</xs:documentation>
			  </xs:annotation>
			  <xs:complexType>
			    <xs:all>
			      <xs:element name="Value" nillable="true">
			        <xs:simpleType>
			          <xs:restriction base="xs:string">
			            <xs:enumeration value="Yes"/>
			            <xs:enumeration value="No"/>
			          </xs:restriction>
			        </xs:simpleType>
			      </xs:element>
			      <xs:element name="Metadata" type="tb:Metadata"/>
			    </xs:all>
			  </xs:complexType>
			</xs:element>

			<xs:element name="TuberculosisEmphysema">
			  <xs:annotation>
			    <xs:documentation>Emphysema</xs:documentation>
			  </xs:annotation>
			  <xs:complexType>
			    <xs:all>
			      <xs:element name="Value" type="xs:boolean" default="false"/>
			      <xs:element name="Metadata" type="tb:Metadata"/>
			    </xs:all>
			  </xs:complexType>
			</xs:element>

			<xs:element name="TuberculosisDyspneaOnExertion">
			  <xs:annotation>
			    <xs:documentation>Dyspnea on exertion</xs:documentation>
			  </xs:annotation>
			  <xs:complexType>
			    <xs:all>
			      <xs:element name="Value" type="xs:boolean" default="false"/>
			      <xs:element name="Metadata" type="tb:Metadata"/>
			    </xs:all>
			  </xs:complexType>
			</xs:element>

			<xs:element name="EXAMGROUP_ID_TB_Hx_Pulm_TB_Residuals_Oxygen">
			  <xs:annotation>
			    <xs:documentation>Requires oxygen therapy</xs:documentation>
			  </xs:annotation>
			  <xs:complexType>
			    <xs:all>
			      <xs:element name="Value" type="xs:boolean" default="false"/>
			      <xs:element name="Metadata" type="tb:Metadata"/>
			    </xs:all>
			  </xs:complexType>
			</xs:element>

			<xs:element name="EXAMGROUP_ID_TB_Hx_Pulm_TB_Residuals_Respiratory_Failure">
			  <xs:annotation>
			    <xs:documentation>Episodes of acute respiratory failure</xs:documentation>
			  </xs:annotation>
			  <xs:complexType>
			    <xs:all>
			      <xs:element name="Value" type="xs:boolean" default="false"/>
			      <xs:element name="Metadata" type="tb:Metadata"/>
			    </xs:all>
			  </xs:complexType>
			</xs:element>

			<xs:element name="TuberculosisModeratelyAdvancedLesions">
			  <xs:annotation>
			    <xs:documentation>Moderately advanced lesions</xs:documentation>
			  </xs:annotation>
			  <xs:complexType>
			    <xs:all>
			      <xs:element name="Value" type="xs:boolean" default="false"/>
			      <xs:element name="Metadata" type="tb:Metadata"/>
			    </xs:all>
			  </xs:complexType>
			</xs:element>

			<xs:element name="TuberculosisFarAdvancedLesions">
			  <xs:annotation>
			    <xs:documentation>Far advanced lesions (diagnosed at any time while the disease process was active)</xs:documentation>
			  </xs:annotation>
			  <xs:complexType>
			    <xs:all>
			      <xs:element name="Value" type="xs:boolean" default="false"/>
			      <xs:element name="Metadata" type="tb:Metadata"/>
			    </xs:all>
			  </xs:complexType>
			</xs:element>

			<xs:element name="EXAMGROUP_ID_TB_Hx_Pulm_TB_Residuals_Pulmonary_Hypertension">
			  <xs:annotation>
			    <xs:documentation>Pulmonary hypertension</xs:documentation>
			  </xs:annotation>
			  <xs:complexType>
			    <xs:all>
			      <xs:element name="Value" type="xs:boolean" default="false"/>
			      <xs:element name="Metadata" type="tb:Metadata"/>
			    </xs:all>
			  </xs:complexType>
			</xs:element>

			<xs:element name="EXAMGROUP_ID_TB_Hx_Pulm_TB_Residuals_Ventricular_Hypertrophy">
			  <xs:annotation>
			    <xs:documentation>Right ventricular hypertrophy</xs:documentation>
			  </xs:annotation>
			  <xs:complexType>
			    <xs:all>
			      <xs:element name="Value" type="xs:boolean" default="false"/>
			      <xs:element name="Metadata" type="tb:Metadata"/>
			    </xs:all>
			  </xs:complexType>
			</xs:element>

			<xs:element name="EXAMGROUP_ID_TB_Hx_Pulm_TB_Residuals_Cor_Pulmonale">
			  <xs:annotation>
			    <xs:documentation>Cor pulmonale (right heart failure)</xs:documentation>
			  </xs:annotation>
			  <xs:complexType>
			    <xs:all>
			      <xs:element name="Value" type="xs:boolean" default="false"/>
			      <xs:element name="Metadata" type="tb:Metadata"/>
			    </xs:all>
			  </xs:complexType>
			</xs:element>

			<xs:element name="TuberculosisImpairmentOfHealth">
			  <xs:annotation>
			    <xs:documentation>Impairment of health</xs:documentation>
			  </xs:annotation>
			  <xs:complexType>
			    <xs:all>
			      <xs:element name="Value" type="xs:boolean" default="false"/>
			      <xs:element name="Metadata" type="tb:Metadata"/>
			    </xs:all>
			  </xs:complexType>
			</xs:element>

			<xs:element name="EXAMGROUP_ID_TB_Hx_Pulm_TB_Residuals_Other">
			  <xs:annotation>
			    <xs:documentation>Other,</xs:documentation>
			  </xs:annotation>
			  <xs:complexType>
			    <xs:all>
			      <xs:element name="Value" type="xs:boolean" default="false"/>
			      <xs:element name="Metadata" type="tb:Metadata"/>
			    </xs:all>
			  </xs:complexType>
			</xs:element>

			<xs:element name="EXAMGROUP_ID_TB_Hx_Pulm_TB_Residuals_Other_Describe">
			  <xs:complexType>
			    <xs:all>
			      <xs:element name="Value" type="xs:string" nillable="true"/>
			      <xs:element name="Metadata" type="tb:Metadata"/>
			    </xs:all>
			  </xs:complexType>
			</xs:element>

			<xs:element name="EXAMGROUP_ID_TB_Hx_NONPulm_TB_Pleurisy">
			  <xs:annotation>
			    <xs:documentation>Tuberculous pleurisy</xs:documentation>
			  </xs:annotation>
			  <xs:complexType>
			    <xs:all>
			      <xs:element name="Value" type="xs:boolean" default="false"/>
			      <xs:element name="Metadata" type="tb:Metadata"/>
			    </xs:all>
			  </xs:complexType>
			</xs:element>

			<xs:element name="EXAMGROUP_ID_TB_Hx_NONPulm_TB_Peritonitis">
			  <xs:annotation>
			    <xs:documentation>Tuberculous peritonitis</xs:documentation>
			  </xs:annotation>
			  <xs:complexType>
			    <xs:all>
			      <xs:element name="Value" type="xs:boolean" default="false"/>
			      <xs:element name="Metadata" type="tb:Metadata"/>
			    </xs:all>
			  </xs:complexType>
			</xs:element>

			<xs:element name="EXAMGROUP_ID_TB_Hx_NONPulm_TB_Meningitis">
			  <xs:annotation>
			    <xs:documentation>Tuberculosis meningitis</xs:documentation>
			  </xs:annotation>
			  <xs:complexType>
			    <xs:all>
			      <xs:element name="Value" type="xs:boolean" default="false"/>
			      <xs:element name="Metadata" type="tb:Metadata"/>
			    </xs:all>
			  </xs:complexType>
			</xs:element>

			<xs:element name="EXAMGROUP_ID_TB_Hx_NONPulm_TB_Skeletal">
			  <xs:annotation>
			    <xs:documentation>Skeletal TB</xs:documentation>
			  </xs:annotation>
			  <xs:complexType>
			    <xs:all>
			      <xs:element name="Value" type="xs:boolean" default="false"/>
			      <xs:element name="Metadata" type="tb:Metadata"/>
			    </xs:all>
			  </xs:complexType>
			</xs:element>

			<xs:element name="EXAMGROUP_ID_TB_Hx_NONPulm_TB_GU">
			  <xs:annotation>
			    <xs:documentation>Genitourinary TB</xs:documentation>
			  </xs:annotation>
			  <xs:complexType>
			    <xs:all>
			      <xs:element name="Value" type="xs:boolean" default="false"/>
			      <xs:element name="Metadata" type="tb:Metadata"/>
			    </xs:all>
			  </xs:complexType>
			</xs:element>

			<xs:element name="EXAMGROUP_ID_TB_Hx_NONPulm_TB_GI">
			  <xs:annotation>
			    <xs:documentation>Gastrointestinal TB</xs:documentation>
			  </xs:annotation>
			  <xs:complexType>
			    <xs:all>
			      <xs:element name="Value" type="xs:boolean" default="false"/>
			      <xs:element name="Metadata" type="tb:Metadata"/>
			    </xs:all>
			  </xs:complexType>
			</xs:element>

			<xs:element name="EXAMGROUP_ID_TB_Hx_NONPulm_TB_Lymphadenitis">
			  <xs:annotation>
			    <xs:documentation>Tuberculous lymphadenitis</xs:documentation>
			  </xs:annotation>
			  <xs:complexType>
			    <xs:all>
			      <xs:element name="Value" type="xs:boolean" default="false"/>
			      <xs:element name="Metadata" type="tb:Metadata"/>
			    </xs:all>
			  </xs:complexType>
			</xs:element>

			<xs:element name="EXAMGROUP_ID_TB_Hx_NONPulm_TB_Cutraneous">
			  <xs:annotation>
			    <xs:documentation>Cutaneous TB</xs:documentation>
			  </xs:annotation>
			  <xs:complexType>
			    <xs:all>
			      <xs:element name="Value" type="xs:boolean" default="false"/>
			      <xs:element name="Metadata" type="tb:Metadata"/>
			    </xs:all>
			  </xs:complexType>
			</xs:element>

			<xs:element name="EXAMGROUP_ID_TB_Hx_NONPulm_TB_Ocular">
			  <xs:annotation>
			    <xs:documentation>Ocular TB</xs:documentation>
			  </xs:annotation>
			  <xs:complexType>
			    <xs:all>
			      <xs:element name="Value" type="xs:boolean" default="false"/>
			      <xs:element name="Metadata" type="tb:Metadata"/>
			    </xs:all>
			  </xs:complexType>
			</xs:element>

			<xs:element name="EXAMGROUP_ID_TB_Hx_NONPulm_TB_Other">
			  <xs:annotation>
			    <xs:documentation>Other</xs:documentation>
			  </xs:annotation>
			  <xs:complexType>
			    <xs:all>
			      <xs:element name="Value" type="xs:boolean" default="false"/>
			      <xs:element name="Metadata" type="tb:Metadata"/>
			    </xs:all>
			  </xs:complexType>
			</xs:element>

			<xs:element name="EXAMGROUP_ID_TB_Hx_NONPulm_TB_Other_Describe">
			  <xs:complexType>
			    <xs:all>
			      <xs:element name="Value" type="xs:string" nillable="true"/>
			      <xs:element name="Metadata" type="tb:Metadata"/>
			    </xs:all>
			  </xs:complexType>
			</xs:element>

			<xs:element name="EXAMGROUP_ID_TB_Hx_NONPulm_TB_Status">
			  <xs:complexType>
			    <xs:all>
			      <xs:element name="Value" type="xs:string" nillable="true"/>
			      <xs:element name="Metadata" type="tb:Metadata"/>
			    </xs:all>
			  </xs:complexType>
			</xs:element>

			<xs:element name="EXAMGROUP_ID_TB_Hx_NONPulm_TB_Residuals">
			  <xs:annotation> 
			    <xs:documentation>c. Does the Veteran have any residuals from any of the above non-pulmonary TB conditions?</xs:documentation>
			  </xs:annotation>
			  <xs:complexType>
			    <xs:all>
			      <xs:element name="Value" nillable="true">
			        <xs:simpleType>
			          <xs:restriction base="xs:string">
			            <xs:enumeration value="Yes"/>
			            <xs:enumeration value="No"/>
			          </xs:restriction>
			        </xs:simpleType>
			      </xs:element>
			      <xs:element name="Metadata" type="tb:Metadata"/>
			    </xs:all>
			  </xs:complexType>
			</xs:element>

			<xs:element name="EXAMGROUP_ID_TB_Hx_NONPulm_TB_Residuals_Describe">
			  <xs:complexType>
			    <xs:all>
			      <xs:element name="Value" type="xs:string" nillable="true"/>
			      <xs:element name="Metadata" type="tb:Metadata"/>
			    </xs:all>
			  </xs:complexType>
			</xs:element>

			<xs:element name="EXAMGROUP_ID_TB_Test_PFT">
			  <xs:annotation> 
			    <xs:documentation>b. Has pulmonary function testing (PFT) been performed?</xs:documentation>
			  </xs:annotation>
			  <xs:complexType>
			    <xs:all>
			      <xs:element name="Value" nillable="true">
			        <xs:simpleType>
			          <xs:restriction base="xs:string">
			            <xs:enumeration value="Yes"/>
			            <xs:enumeration value="No"/>
			          </xs:restriction>
			        </xs:simpleType>
			      </xs:element>
			      <xs:element name="Metadata" type="tb:Metadata"/>
			    </xs:all>
			  </xs:complexType>
			</xs:element>

			<xs:element name="EXAMGROUP_ID_TB_Test_PFT_FEV1">
			  <xs:complexType>
			    <xs:all>
			      <xs:element name="Value" type="xs:string" nillable="true"/>
			      <xs:element name="Metadata" type="tb:Metadata"/>
			    </xs:all>
			  </xs:complexType>
			</xs:element>

			<xs:element name="EXAMGROUP_ID_TB_Test_PFT_FEV1_Date">
			  <xs:complexType>
			    <xs:all>
			      <xs:element name="Value" type="xs:string" nillable="true"/>
			      <xs:element name="Metadata" type="tb:Metadata"/>
			    </xs:all>
			  </xs:complexType>
			</xs:element>

			<xs:element name="EXAMGROUP_ID_TB_Test_PFT_FEV1_Post">
			  <xs:complexType>
			    <xs:all>
			      <xs:element name="Value" type="xs:string" nillable="true"/>
			      <xs:element name="Metadata" type="tb:Metadata"/>
			    </xs:all>
			  </xs:complexType>
			</xs:element>

			<xs:element name="EXAMGROUP_ID_TB_Test_PFT_FEV1_FVC">
			  <xs:complexType>
			    <xs:all>
			      <xs:element name="Value" type="xs:string" nillable="true"/>
			      <xs:element name="Metadata" type="tb:Metadata"/>
			    </xs:all>
			  </xs:complexType>
			</xs:element>

			<xs:element name="EXAMGROUP_ID_TB_Test_PFT_FEV1_FVC_Post">
			  <xs:complexType>
			    <xs:all>
			      <xs:element name="Value" type="xs:string" nillable="true"/>
			      <xs:element name="Metadata" type="tb:Metadata"/>
			    </xs:all>
			  </xs:complexType>
			</xs:element>

			<xs:element name="EXAMGROUP_ID_TB_Test_PFT_FVC">
			  <xs:complexType>
			    <xs:all>
			      <xs:element name="Value" type="xs:string" nillable="true"/>
			      <xs:element name="Metadata" type="tb:Metadata"/>
			    </xs:all>
			  </xs:complexType>
			</xs:element>

			<xs:element name="EXAMGROUP_ID_TB_Test_PFT_DLCO">
			  <xs:complexType>
			    <xs:all>
			      <xs:element name="Value" type="xs:string" nillable="true"/>
			      <xs:element name="Metadata" type="tb:Metadata"/>
			    </xs:all>
			  </xs:complexType>
			</xs:element>

			<xs:element name="EXAMGROUP_ID_TB_Test_Mult_Dx">
			  <xs:annotation> 
			    <xs:documentation>h. Does the Veteran have multiple respiratory conditions?</xs:documentation>
			  </xs:annotation>
			  <xs:complexType>
			    <xs:all>
			      <xs:element name="Value" nillable="true">
			        <xs:simpleType>
			          <xs:restriction base="xs:string">
			            <xs:enumeration value="Yes"/>
			            <xs:enumeration value="No"/>
			          </xs:restriction>
			        </xs:simpleType>
			      </xs:element>
			      <xs:element name="Metadata" type="tb:Metadata"/>
			    </xs:all>
			  </xs:complexType>
			</xs:element>

			<xs:element name="EXAMGROUP_ID_TB_Test_Mult_Dx_List">
			  <xs:complexType>
			    <xs:all>
			      <xs:element name="Value" type="xs:string" nillable="true"/>
			      <xs:element name="Metadata" type="tb:Metadata"/>
			    </xs:all>
			  </xs:complexType>
			</xs:element>

			<xs:element name="EXAMGROUP_ID_TB_Test_CXR">
			  <xs:annotation> 
			    <xs:documentation>a. Have imaging studies or procedures been performed?</xs:documentation>
			  </xs:annotation>
			  <xs:complexType>
			    <xs:all>
			      <xs:element name="Value" nillable="true">
			        <xs:simpleType>
			          <xs:restriction base="xs:string">
			            <xs:enumeration value="Yes"/>
			            <xs:enumeration value="No"/>
			          </xs:restriction>
			        </xs:simpleType>
			      </xs:element>
			      <xs:element name="Metadata" type="tb:Metadata"/>
			    </xs:all>
			  </xs:complexType>
			</xs:element>

			<xs:element name="EXAMGROUP_ID_TB_Test_CXR_Results">
			  <xs:complexType>
			    <xs:all>
			      <xs:element name="Value" type="xs:string" nillable="true"/>
			      <xs:element name="Metadata" type="tb:Metadata"/>
			    </xs:all>
			  </xs:complexType>
			</xs:element>

			<xs:element name="EXAMGROUP_ID_TB_Test_CXR_Results_Date">
			  <xs:complexType>
			    <xs:all>
			      <xs:element name="Value" type="xs:string" nillable="true"/>
			      <xs:element name="Metadata" type="tb:Metadata"/>
			    </xs:all>
			  </xs:complexType>
			</xs:element>

			<xs:element name="EXAMGROUP_ID_TB_Test_Other">
			  <xs:annotation> 
			    <xs:documentation>j. Are there any other significant diagnostic test findings and/or results?</xs:documentation>
			  </xs:annotation>
			  <xs:complexType>
			    <xs:all>
			      <xs:element name="Value" nillable="true">
			        <xs:simpleType>
			          <xs:restriction base="xs:string">
			            <xs:enumeration value="Yes"/>
			            <xs:enumeration value="No"/>
			          </xs:restriction>
			        </xs:simpleType>
			      </xs:element>
			      <xs:element name="Metadata" type="tb:Metadata"/>
			    </xs:all>
			  </xs:complexType>
			</xs:element>

			<xs:element name="EXAMGROUP_ID_TB_Test_Other_Results">
			  <xs:complexType>
			    <xs:all>
			      <xs:element name="Value" type="xs:string" nillable="true"/>
			      <xs:element name="Metadata" type="tb:Metadata"/>
			    </xs:all>
			  </xs:complexType>
			</xs:element>

			<xs:element name="EXAMGROUP_ID_TB_Functional_Impact">
			  <xs:annotation> 
			    <xs:documentation>Does the Veteran's tuberculosis condition impact his or her ability to work?</xs:documentation>
			  </xs:annotation>
			  <xs:complexType>
			    <xs:all>
			      <xs:element name="Value" nillable="true">
			        <xs:simpleType>
			          <xs:restriction base="xs:string">
			            <xs:enumeration value="Yes"/>
			            <xs:enumeration value="No"/>
			          </xs:restriction>
			        </xs:simpleType>
			      </xs:element>
			      <xs:element name="Metadata" type="tb:Metadata"/>
			    </xs:all>
			  </xs:complexType>
			</xs:element>

			<xs:element name="EXAMGROUP_ID_TB_Functional_Impact_Describe">
			  <xs:complexType>
			    <xs:all>
			      <xs:element name="Value" type="xs:string" nillable="true"/>
			      <xs:element name="Metadata" type="tb:Metadata"/>
			    </xs:all>
			  </xs:complexType>
			</xs:element>

			<xs:element name="EXAMGROUP_ID_TB_Other_Comments">
			  <xs:complexType>
			    <xs:all>
			      <xs:element name="Value" type="xs:string" nillable="true"/>
			      <xs:element name="Metadata" type="tb:Metadata"/>
			    </xs:all>
			  </xs:complexType>
			</xs:element>

			<xs:element name="EXAMGROUP_ID_TB_Hx_Pulm_TB_Thoracoplasty_Date">
			  <xs:complexType>
			    <xs:all>
			      <xs:element name="Value" type="xs:string" nillable="true"/>
			      <xs:element name="Metadata" type="tb:Metadata"/>
			    </xs:all>
			  </xs:complexType>
			</xs:element>

			<xs:element name="EXAMGROUP_ID_TB_Hx_Pulm_TB_Thoracoplasty_Ribresection">
			  <xs:annotation> 
			    <xs:documentation>If yes, has the Veteran had resection of any ribs incident to thoracoplasty?</xs:documentation>
			  </xs:annotation>
			  <xs:complexType>
			    <xs:all>
			      <xs:element name="Value" nillable="true">
			        <xs:simpleType>
			          <xs:restriction base="xs:string">
			            <xs:enumeration value="Yes"/>
			            <xs:enumeration value="No"/>
			          </xs:restriction>
			        </xs:simpleType>
			      </xs:element>
			      <xs:element name="Metadata" type="tb:Metadata"/>
			    </xs:all>
			  </xs:complexType>
			</xs:element>

			<xs:element name="EXAMGROUP_ID_TB_Hx_Pulm_TB_Thoracoplasty_Ribresection_Number">
			  <xs:annotation> 
			    <xs:documentation>If yes, indicate number of ribs involved:</xs:documentation>
			  </xs:annotation>
			  <xs:complexType>
			    <xs:all>
			      <xs:element name="Value" nillable="true">
			        <xs:simpleType>
			          <xs:restriction base="xs:string">
			            <xs:enumeration value="1"/>
			            <xs:enumeration value="2"/>
			            <xs:enumeration value="3 or 4"/>
			            <xs:enumeration value="5 or 6"/>
			            <xs:enumeration value="More than 6"/>
			          </xs:restriction>
			        </xs:simpleType>
			      </xs:element>
			      <xs:element name="Metadata" type="tb:Metadata"/>
			    </xs:all>
			  </xs:complexType>
			</xs:element>

			<xs:element name="EXAMGROUP_ID_TB_Test_PFT_Accurate_Reflects">
			  <xs:annotation> 
			    <xs:documentation>e. Which test result most accurately reflects the Veteran's current pulmonary function?</xs:documentation>
			  </xs:annotation>
			  <xs:complexType>
			    <xs:all>
			      <xs:element name="Value" nillable="true">
			        <xs:simpleType>
			          <xs:restriction base="xs:string">
			            <xs:enumeration value="FEV-1"/>
			            <xs:enumeration value="FEV-1/FVC"/>
			            <xs:enumeration value="FVC"/>
			            <xs:enumeration value="DLCO"/>
			          </xs:restriction>
			        </xs:simpleType>
			      </xs:element>
			      <xs:element name="Metadata" type="tb:Metadata"/>
			    </xs:all>
			  </xs:complexType>
			</xs:element>

			<xs:element name="EXAMGROUP_ID_TB_Hx_Non_Pulm_TB">
			  <xs:annotation> 
			    <xs:documentation>a. Does the Veteran now have or has he or she ever been diagnosed with non-pulmonary tuberculosis?</xs:documentation>
			  </xs:annotation>
			  <xs:complexType>
			    <xs:all>
			      <xs:element name="Value" nillable="true">
			        <xs:simpleType>
			          <xs:restriction base="xs:string">
			            <xs:enumeration value="Yes"/>
			            <xs:enumeration value="No"/>
			          </xs:restriction>
			        </xs:simpleType>
			      </xs:element>
			      <xs:element name="Metadata" type="tb:Metadata"/>
			    </xs:all>
			  </xs:complexType>
			</xs:element>

			<xs:element name="EXAMGROUP_ID_TB_Test_CXR_CB">
			  <xs:annotation>
			    <xs:documentation>Chest x-ray</xs:documentation>
			  </xs:annotation>
			  <xs:complexType>
			    <xs:all>
			      <xs:element name="Value" type="xs:boolean" default="false"/>
			      <xs:element name="Metadata" type="tb:Metadata"/>
			    </xs:all>
			  </xs:complexType>
			</xs:element>

			<xs:element name="EXAMGROUP_ID_TB_Test_CXR_CB_Date">
			  <xs:complexType>
			    <xs:all>
			      <xs:element name="Value" type="xs:string" nillable="true"/>
			      <xs:element name="Metadata" type="tb:Metadata"/>
			    </xs:all>
			  </xs:complexType>
			</xs:element>

			<xs:element name="EXAMGROUP_ID_TB_Test_CXR_CB_Results">
			  <xs:complexType>
			    <xs:all>
			      <xs:element name="Value" type="xs:string" nillable="true"/>
			      <xs:element name="Metadata" type="tb:Metadata"/>
			    </xs:all>
			  </xs:complexType>
			</xs:element>

			<xs:element name="EXAMGROUP_ID_TB_Test_MRI">
			  <xs:annotation>
			    <xs:documentation>Magnetic resonance imaging (MRI)</xs:documentation>
			  </xs:annotation>
			  <xs:complexType>
			    <xs:all>
			      <xs:element name="Value" type="xs:boolean" default="false"/>
			      <xs:element name="Metadata" type="tb:Metadata"/>
			    </xs:all>
			  </xs:complexType>
			</xs:element>

			<xs:element name="EXAMGROUP_ID_TB_Test_MRI_Date">
			  <xs:complexType>
			    <xs:all>
			      <xs:element name="Value" type="xs:string" nillable="true"/>
			      <xs:element name="Metadata" type="tb:Metadata"/>
			    </xs:all>
			  </xs:complexType>
			</xs:element>

			<xs:element name="EXAMGROUP_ID_TB_Test_MRI_Results">
			  <xs:complexType>
			    <xs:all>
			      <xs:element name="Value" type="xs:string" nillable="true"/>
			      <xs:element name="Metadata" type="tb:Metadata"/>
			    </xs:all>
			  </xs:complexType>
			</xs:element>

			<xs:element name="EXAMGROUP_ID_TB_Test_CT">
			  <xs:annotation>
			    <xs:documentation>Computed tomography (CT)</xs:documentation>
			  </xs:annotation>
			  <xs:complexType>
			    <xs:all>
			      <xs:element name="Value" type="xs:boolean" default="false"/>
			      <xs:element name="Metadata" type="tb:Metadata"/>
			    </xs:all>
			  </xs:complexType>
			</xs:element>

			<xs:element name="EXAMGROUP_ID_TB_Test_CT_Date">
			  <xs:complexType>
			    <xs:all>
			      <xs:element name="Value" type="xs:string" nillable="true"/>
			      <xs:element name="Metadata" type="tb:Metadata"/>
			    </xs:all>
			  </xs:complexType>
			</xs:element>

			<xs:element name="EXAMGROUP_ID_TB_Test_CT_Results">
			  <xs:complexType>
			    <xs:all>
			      <xs:element name="Value" type="xs:string" nillable="true"/>
			      <xs:element name="Metadata" type="tb:Metadata"/>
			    </xs:all>
			  </xs:complexType>
			</xs:element>

			<xs:element name="EXAMGROUP_ID_TB_Test_HRCT">
			  <xs:annotation>
			    <xs:documentation>High resolution computed tomography to evaluate interstitial lung disease such as asbestosis (HRCT)</xs:documentation>
			  </xs:annotation>
			  <xs:complexType>
			    <xs:all>
			      <xs:element name="Value" type="xs:boolean" default="false"/>
			      <xs:element name="Metadata" type="tb:Metadata"/>
			    </xs:all>
			  </xs:complexType>
			</xs:element>

			<xs:element name="EXAMGROUP_ID_TB_Test_HRCT_Date">
			  <xs:complexType>
			    <xs:all>
			      <xs:element name="Value" type="xs:string" nillable="true"/>
			      <xs:element name="Metadata" type="tb:Metadata"/>
			    </xs:all>
			  </xs:complexType>
			</xs:element>

			<xs:element name="EXAMGROUP_ID_TB_Test_HRCT_Results">
			  <xs:complexType>
			    <xs:all>
			      <xs:element name="Value" type="xs:string" nillable="true"/>
			      <xs:element name="Metadata" type="tb:Metadata"/>
			    </xs:all>
			  </xs:complexType>
			</xs:element>

			<xs:element name="EXAMGROUP_ID_TB_Test_Other_CB">
			  <xs:annotation>
			    <xs:documentation>Other:</xs:documentation>
			  </xs:annotation>
			  <xs:complexType>
			    <xs:all>
			      <xs:element name="Value" type="xs:boolean" default="false"/>
			      <xs:element name="Metadata" type="tb:Metadata"/>
			    </xs:all>
			  </xs:complexType>
			</xs:element>

			<xs:element name="EXAMGROUP_ID_TB_Test_PFT_Valid">
			  <xs:annotation> 
			    <xs:documentation>If yes, do PFT results reported below reflect the Veteran's current pulmonary function?</xs:documentation>
			  </xs:annotation>
			  <xs:complexType>
			    <xs:all>
			      <xs:element name="Value" nillable="true">
			        <xs:simpleType>
			          <xs:restriction base="xs:string">
			            <xs:enumeration value="Yes"/>
			            <xs:enumeration value="No"/>
			          </xs:restriction>
			        </xs:simpleType>
			      </xs:element>
			      <xs:element name="Metadata" type="tb:Metadata"/>
			    </xs:all>
			  </xs:complexType>
			</xs:element>

			<xs:element name="EXAMGROUP_ID_TB_Test_PFT_Not_Required">
			  <xs:annotation>
			    <xs:documentation>Veteran requires outpatient oxygen therapy</xs:documentation>
			  </xs:annotation>
			  <xs:complexType>
			    <xs:all>
			      <xs:element name="Value" type="xs:boolean" default="false"/>
			      <xs:element name="Metadata" type="tb:Metadata"/>
			    </xs:all>
			  </xs:complexType>
			</xs:element>

			<xs:element name="EXAMGROUP_ID_TB_Test_PFT_Not_Required_CHF">
			  <xs:annotation>
			    <xs:documentation>Veteran has had 1 or more episodes of acute respiratory failure</xs:documentation>
			  </xs:annotation>
			  <xs:complexType>
			    <xs:all>
			      <xs:element name="Value" type="xs:boolean" default="false"/>
			      <xs:element name="Metadata" type="tb:Metadata"/>
			    </xs:all>
			  </xs:complexType>
			</xs:element>

			<xs:element name="EXAMGROUP_ID_TB_Test_PFT_Not_Required_PH">
			  <xs:annotation>
			    <xs:documentation>Veteran has been diagnosed with cor pulmonale, right ventricular hypertrophy or pulmonary hypertension</xs:documentation>
			  </xs:annotation>
			  <xs:complexType>
			    <xs:all>
			      <xs:element name="Value" type="xs:boolean" default="false"/>
			      <xs:element name="Metadata" type="tb:Metadata"/>
			    </xs:all>
			  </xs:complexType>
			</xs:element>

			<xs:element name="EXAMGROUP_ID_TB_Test_PFT_Not_Required_Exercise">
			  <xs:annotation>
			    <xs:documentation>Veteran has had exercise capacity testing and results are 20 ml/kg/min or less</xs:documentation>
			  </xs:annotation>
			  <xs:complexType>
			    <xs:all>
			      <xs:element name="Value" type="xs:boolean" default="false"/>
			      <xs:element name="Metadata" type="tb:Metadata"/>
			    </xs:all>
			  </xs:complexType>
			</xs:element>

			<xs:element name="EXAMGROUP_ID_TB_Test_PFT_Not_Required_Other">
			  <xs:annotation>
			    <xs:documentation>Other</xs:documentation>
			  </xs:annotation>
			  <xs:complexType>
			    <xs:all>
			      <xs:element name="Value" type="xs:boolean" default="false"/>
			      <xs:element name="Metadata" type="tb:Metadata"/>
			    </xs:all>
			  </xs:complexType>
			</xs:element>

			<xs:element name="EXAMGROUP_ID_TB_Test_PFT_Not_Required_Other_Describe">
			  <xs:complexType>
			    <xs:all>
			      <xs:element name="Value" type="xs:string" nillable="true"/>
			      <xs:element name="Metadata" type="tb:Metadata"/>
			    </xs:all>
			  </xs:complexType>
			</xs:element>

			<xs:element name="EXAMGROUP_ID_TB_Test_PFT_FVC_Post">
			  <xs:complexType>
			    <xs:all>
			      <xs:element name="Value" type="xs:string" nillable="true"/>
			      <xs:element name="Metadata" type="tb:Metadata"/>
			    </xs:all>
			  </xs:complexType>
			</xs:element>

			<xs:element name="EXAMGROUP_ID_TB_Test_Exercise">
			  <xs:annotation> 
			    <xs:documentation>i. Has exercise capacity testing been performed?</xs:documentation>
			  </xs:annotation>
			  <xs:complexType>
			    <xs:all>
			      <xs:element name="Value" nillable="true">
			        <xs:simpleType>
			          <xs:restriction base="xs:string">
			            <xs:enumeration value="Yes"/>
			            <xs:enumeration value="No"/>
			          </xs:restriction>
			        </xs:simpleType>
			      </xs:element>
			      <xs:element name="Metadata" type="tb:Metadata"/>
			    </xs:all>
			  </xs:complexType>
			</xs:element>

			<xs:element name="EXAMGROUP_ID_TB_Test_Exercise_oxygen_Consumption">
			  <xs:annotation>
			    <xs:documentation>Maximum oxygen consumption of 15 - 20 ml/kg/min (with cardiorespiratory limit)</xs:documentation>
			  </xs:annotation>
			  <xs:complexType>
			    <xs:all>
			      <xs:element name="Value" type="xs:boolean" default="false"/>
			      <xs:element name="Metadata" type="tb:Metadata"/>
			    </xs:all>
			  </xs:complexType>
			</xs:element>

			<xs:element name="EXAMGROUP_ID_TB_Test_Exercise_oxygen_Max">
			  <xs:annotation>
			    <xs:documentation>Maximum exercise capacity less than 15 ml/kg/min oxygen consumption (with cardiac or respiratory limitation)</xs:documentation>
			  </xs:annotation>
			  <xs:complexType>
			    <xs:all>
			      <xs:element name="Value" type="xs:boolean" default="false"/>
			      <xs:element name="Metadata" type="tb:Metadata"/>
			    </xs:all>
			  </xs:complexType>
			</xs:element>

			<xs:element name="EXAMGROUP_ID_TB_Hx_Pulm_TB_Residuals_Impairment_Health_Describe">
			  <xs:complexType>
			    <xs:all>
			      <xs:element name="Value" type="xs:string" nillable="true"/>
			      <xs:element name="Metadata" type="tb:Metadata"/>
			    </xs:all>
			  </xs:complexType>
			</xs:element>

			<xs:element name="EXAMGROUP_ID_TB_Test_PFT_NoPFT">
			  <xs:annotation> 
			    <xs:documentation>f. If post-bronchodilator testing has not been completed, provide reason:</xs:documentation>
			  </xs:annotation>
			  <xs:complexType>
			    <xs:all>
			      <xs:element name="Value" nillable="true">
			        <xs:simpleType>
			          <xs:restriction base="xs:string">
			            <xs:enumeration value="Pre-bronchodilator results are normal"/>
			            <xs:enumeration value="Post-bronchodilator testing not indicated for Veteran's condition"/>
			            <xs:enumeration value="Post-bronchodilator testing not indicated in Veteran's particular case"/>
			            <xs:enumeration value="Other, describe:"/>
			          </xs:restriction>
			        </xs:simpleType>
			      </xs:element>
			      <xs:element name="Metadata" type="tb:Metadata"/>
			    </xs:all>
			  </xs:complexType>
			</xs:element>

			<xs:element name="EXAMGROUP_ID_TB_Test_PFT_NoPFT_Other_Describe">
			  <xs:complexType>
			    <xs:all>
			      <xs:element name="Value" type="xs:string" nillable="true"/>
			      <xs:element name="Metadata" type="tb:Metadata"/>
			    </xs:all>
			  </xs:complexType>
			</xs:element>

			<xs:element name="EXAMGROUP_ID_TB_Test_PFT_NoPFT_Case_Reason">
			  <xs:complexType>
			    <xs:all>
			      <xs:element name="Value" type="xs:string" nillable="true"/>
			      <xs:element name="Metadata" type="tb:Metadata"/>
			    </xs:all>
			  </xs:complexType>
			</xs:element>

			<xs:element name="EXAMGROUP_ID_TB_Test_PFT_NoDLCO">
			  <xs:annotation> 
			    <xs:documentation>g. If Diffusion Capacity of the Lung for Carbon Monoxide by the Single Breath Method (DLCO) testing has not been completed, provide reason:</xs:documentation>
			  </xs:annotation>
			  <xs:complexType>
			    <xs:all>
			      <xs:element name="Value" nillable="true">
			        <xs:simpleType>
			          <xs:restriction base="xs:string">
			            <xs:enumeration value="Not indicated for Veteran's condition"/>
			            <xs:enumeration value="Not indicated in Veteran's particular case"/>
			            <xs:enumeration value="Not valid for Veteran's particular case"/>
			            <xs:enumeration value="Other, describe:"/>
			          </xs:restriction>
			        </xs:simpleType>
			      </xs:element>
			      <xs:element name="Metadata" type="tb:Metadata"/>
			    </xs:all>
			  </xs:complexType>
			</xs:element>

			<xs:element name="EXAMGROUP_ID_TB_Test_PFT_NoDLCO_Other_Describe">
			  <xs:complexType>
			    <xs:all>
			      <xs:element name="Value" type="xs:string" nillable="true"/>
			      <xs:element name="Metadata" type="tb:Metadata"/>
			    </xs:all>
			  </xs:complexType>
			</xs:element>

			<xs:element name="EXAMGROUP_ID_TB_Test_Other_CB_Type">
			  <xs:complexType>
			    <xs:all>
			      <xs:element name="Value" type="xs:string" nillable="true"/>
			      <xs:element name="Metadata" type="tb:Metadata"/>
			    </xs:all>
			  </xs:complexType>
			</xs:element>

			<xs:element name="TBNonPulmLaryngitis">
			  <xs:annotation>
			    <xs:documentation>Laryngitis, tuberculous</xs:documentation>
			  </xs:annotation>
			  <xs:complexType>
			    <xs:all>
			      <xs:element name="Value" type="xs:boolean" default="false"/>
			      <xs:element name="Metadata" type="tb:Metadata"/>
			    </xs:all>
			  </xs:complexType>
			</xs:element>

			<xs:element name="FORM_RECORDSREVIEW_ReferralClinic_CPExaminationRequest_RG">
			  <xs:annotation> 
			    <xs:documentation>Is this DBQ being completed in conjunction with a VA 21-2507, C&amp;P Examination Request?</xs:documentation>
			  </xs:annotation>
			  <xs:complexType>
			    <xs:all>
			      <xs:element name="Value" nillable="true">
			        <xs:simpleType>
			          <xs:restriction base="xs:string">
			            <xs:enumeration value="Yes"/>
			            <xs:enumeration value="No"/>
			          </xs:restriction>
			        </xs:simpleType>
			      </xs:element>
			      <xs:element name="Metadata" type="tb:Metadata"/>
			    </xs:all>
			  </xs:complexType>
			</xs:element>

			<xs:element name="FORM_RECORDSREVIEW_ReferralClinic_InPersonExamination_CBx">
			  <xs:annotation>
			    <xs:documentation>In-person examination</xs:documentation>
			  </xs:annotation>
			  <xs:complexType>
			    <xs:all>
			      <xs:element name="Value" type="xs:boolean" default="false"/>
			      <xs:element name="Metadata" type="tb:Metadata"/>
			    </xs:all>
			  </xs:complexType>
			</xs:element>

			<xs:element name="FORM_RECORDSREVIEW_ReferralClinic_RecordsReviewed_CBx">
			  <xs:annotation>
			    <xs:documentation>Records reviewed</xs:documentation>
			  </xs:annotation>
			  <xs:complexType>
			    <xs:all>
			      <xs:element name="Value" type="xs:boolean" default="false"/>
			      <xs:element name="Metadata" type="tb:Metadata"/>
			    </xs:all>
			  </xs:complexType>
			</xs:element>

			<xs:element name="FORM_RECORDSREVIEW_ReferralClinic_Other_CBx">
			  <xs:annotation>
			    <xs:documentation>Other, please specify:</xs:documentation>
			  </xs:annotation>
			  <xs:complexType>
			    <xs:all>
			      <xs:element name="Value" type="xs:boolean" default="false"/>
			      <xs:element name="Metadata" type="tb:Metadata"/>
			    </xs:all>
			  </xs:complexType>
			</xs:element>

			<xs:element name="FORM_RECORDSREVIEW_ReferralClinic_Other_MB">
			  <xs:complexType>
			    <xs:all>
			      <xs:element name="Value" type="xs:string" nillable="true"/>
			      <xs:element name="Metadata" type="tb:Metadata"/>
			    </xs:all>
			  </xs:complexType>
			</xs:element>

			<xs:element name="FORM_RECORDSREVIEW_ReferralClinic_Comments__MB">
			  <xs:complexType>
			    <xs:all>
			      <xs:element name="Value" type="xs:string" nillable="true"/>
			      <xs:element name="Metadata" type="tb:Metadata"/>
			    </xs:all>
			  </xs:complexType>
			</xs:element>

			<xs:element name="RECORDS_REVIEW_RECORDSREVIEW_EvidenceReview_NotRequested_CB">
			  <xs:annotation>
			    <xs:documentation>Not requested</xs:documentation>
			  </xs:annotation>
			  <xs:complexType>
			    <xs:all>
			      <xs:element name="Value" type="xs:boolean" default="false"/>
			      <xs:element name="Metadata" type="tb:Metadata"/>
			    </xs:all>
			  </xs:complexType>
			</xs:element>

			<xs:element name="RECORDS_REVIEW_RECORDSREVIEW_EvidenceReview_NoRecords_CB">
			  <xs:annotation>
			    <xs:documentation>No records were reviewed</xs:documentation>
			  </xs:annotation>
			  <xs:complexType>
			    <xs:all>
			      <xs:element name="Value" type="xs:boolean" default="false"/>
			      <xs:element name="Metadata" type="tb:Metadata"/>
			    </xs:all>
			  </xs:complexType>
			</xs:element>

			<xs:element name="RECORDS_REVIEW_RECORDSREVIEW_EvidenceReview_CFile_CB">
			  <xs:annotation>
			    <xs:documentation>VA claims file (hard copy paper C-file)</xs:documentation>
			  </xs:annotation>
			  <xs:complexType>
			    <xs:all>
			      <xs:element name="Value" type="xs:boolean" default="false"/>
			      <xs:element name="Metadata" type="tb:Metadata"/>
			    </xs:all>
			  </xs:complexType>
			</xs:element>

			<xs:element name="RECORDS_REVIEW_RECORDSREVIEW_EvidenceReview_EFolder_CB">
			  <xs:annotation>
			    <xs:documentation>VA e-folder (VBMS or Virtual VA)</xs:documentation>
			  </xs:annotation>
			  <xs:complexType>
			    <xs:all>
			      <xs:element name="Value" type="xs:boolean" default="false"/>
			      <xs:element name="Metadata" type="tb:Metadata"/>
			    </xs:all>
			  </xs:complexType>
			</xs:element>

			<xs:element name="RECORDS_REVIEW_RECORDSREVIEW_EvidenceReview_CPRS_CB">
			  <xs:annotation>
			    <xs:documentation>CPRS</xs:documentation>
			  </xs:annotation>
			  <xs:complexType>
			    <xs:all>
			      <xs:element name="Value" type="xs:boolean" default="false"/>
			      <xs:element name="Metadata" type="tb:Metadata"/>
			    </xs:all>
			  </xs:complexType>
			</xs:element>

			<xs:element name="RECORDS_REVIEW_RECORDSREVIEW_EvidenceReview_Other_CB">
			  <xs:annotation>
			    <xs:documentation>Other (please identify other evidence reviewed):</xs:documentation>
			  </xs:annotation>
			  <xs:complexType>
			    <xs:all>
			      <xs:element name="Value" type="xs:boolean" default="false"/>
			      <xs:element name="Metadata" type="tb:Metadata"/>
			    </xs:all>
			  </xs:complexType>
			</xs:element>

			<xs:element name="RECORDS_REVIEW_RECORDSREVIEW_EvidenceReview_Other_Memo">
			  <xs:complexType>
			    <xs:all>
			      <xs:element name="Value" type="xs:string" nillable="true"/>
			      <xs:element name="Metadata" type="tb:Metadata"/>
			    </xs:all>
			  </xs:complexType>
			</xs:element>

			<xs:element name="RECORDS_REVIEW_RECORDSREVIEW_EvidenceReview_Comments_Memo">
			  <xs:complexType>
			    <xs:all>
			      <xs:element name="Value" type="xs:string" nillable="true"/>
			      <xs:element name="Metadata" type="tb:Metadata"/>
			    </xs:all>
			  </xs:complexType>
			</xs:element>

			<xs:element name="EXAMGROUP_GENERAL_Tuberculosis_PE_Other_RG">
			  <xs:annotation> 
			    <xs:documentation></xs:documentation>
			  </xs:annotation>
			  <xs:complexType>
			    <xs:all>
			      <xs:element name="Value" nillable="true">
			        <xs:simpleType>
			          <xs:restriction base="xs:string">
			            <xs:enumeration value="Yes"/>
			            <xs:enumeration value="No"/>
			          </xs:restriction>
			        </xs:simpleType>
			      </xs:element>
			      <xs:element name="Metadata" type="tb:Metadata"/>
			    </xs:all>
			  </xs:complexType>
			</xs:element>

			<xs:element name="EXAMGROUP_GENERAL_Tuberculosis_PE_Other_Describe_MB">
			  <xs:complexType>
			    <xs:all>
			      <xs:element name="Value" type="xs:string" nillable="true"/>
			      <xs:element name="Metadata" type="tb:Metadata"/>
			    </xs:all>
			  </xs:complexType>
			</xs:element>

			<xs:element name="EXAMGROUP_GENERAL_Tuberculosis_PE_Other_Scars_RG">
			  <xs:annotation> 
			    <xs:documentation></xs:documentation>
			  </xs:annotation>
			  <xs:complexType>
			    <xs:all>
			      <xs:element name="Value" nillable="true">
			        <xs:simpleType>
			          <xs:restriction base="xs:string">
			            <xs:enumeration value="Yes"/>
			            <xs:enumeration value="No"/>
			          </xs:restriction>
			        </xs:simpleType>
			      </xs:element>
			      <xs:element name="Metadata" type="tb:Metadata"/>
			    </xs:all>
			  </xs:complexType>
			</xs:element>

			<xs:element name="EXAMGROUP_GENERAL_Tuberculosis_PE_Other_Scars_Size_RG">
			  <xs:annotation> 
			    <xs:documentation></xs:documentation>
			  </xs:annotation>
			  <xs:complexType>
			    <xs:all>
			      <xs:element name="Value" nillable="true">
			        <xs:simpleType>
			          <xs:restriction base="xs:string">
			            <xs:enumeration value="Yes"/>
			            <xs:enumeration value="No"/>
			          </xs:restriction>
			        </xs:simpleType>
			      </xs:element>
			      <xs:element name="Metadata" type="tb:Metadata"/>
			    </xs:all>
			  </xs:complexType>
			</xs:element>

			<xs:element name="EXAMGROUP_GENERAL_Tuberculosis_PE_Other_Scars_Location_EB">
			  <xs:complexType>
			    <xs:all>
			      <xs:element name="Value" type="xs:string" nillable="true"/>
			      <xs:element name="Metadata" type="tb:Metadata"/>
			    </xs:all>
			  </xs:complexType>
			</xs:element>

			<xs:element name="EXAMGROUP_GENERAL_Tuberculosis_PE_Other_Scars_Length_EB">
			  <xs:complexType>
			    <xs:all>
			      <xs:element name="Value" type="xs:string" nillable="true"/>
			      <xs:element name="Metadata" type="tb:Metadata"/>
			    </xs:all>
			  </xs:complexType>
			</xs:element>

			<xs:element name="EXAMGROUP_GENERAL_Tuberculosis_PE_Other_Scars_Width_EB">
			  <xs:complexType>
			    <xs:all>
			      <xs:element name="Value" type="xs:string" nillable="true"/>
			      <xs:element name="Metadata" type="tb:Metadata"/>
			    </xs:all>
			  </xs:complexType>
			</xs:element>

			<xs:element name="EXAMGROUP_GENERAL_Tuberculosis_PE_Other_Comments_MB">
			  <xs:complexType>
			    <xs:all>
			      <xs:element name="Value" type="xs:string" nillable="true"/>
			      <xs:element name="Metadata" type="tb:Metadata"/>
			    </xs:all>
			  </xs:complexType>
			</xs:element>

			<xs:element name="EXAM_GENERAL_ACE_Cbx_1">
			  <xs:annotation>
			    <xs:documentation></xs:documentation>
			  </xs:annotation>
			  <xs:complexType>
			    <xs:all>
			      <xs:element name="Value" type="xs:boolean" default="false"/>
			      <xs:element name="Metadata" type="tb:Metadata"/>
			    </xs:all>
			  </xs:complexType>
			</xs:element>

			<xs:element name="EXAM_GENERAL_ACE_Cbx_2">
			  <xs:annotation>
			    <xs:documentation></xs:documentation>
			  </xs:annotation>
			  <xs:complexType>
			    <xs:all>
			      <xs:element name="Value" type="xs:boolean" default="false"/>
			      <xs:element name="Metadata" type="tb:Metadata"/>
			    </xs:all>
			  </xs:complexType>
			</xs:element>

			<xs:element name="EXAM_GENERAL_ACE_Cbx_3">
			  <xs:annotation>
			    <xs:documentation>Examination via approved video telehealth</xs:documentation>
			  </xs:annotation>
			  <xs:complexType>
			    <xs:all>
			      <xs:element name="Value" type="xs:boolean" default="false"/>
			      <xs:element name="Metadata" type="tb:Metadata"/>
			    </xs:all>
			  </xs:complexType>
			</xs:element>

			<xs:element name="EXAM_GENERAL_ACE_Cbx_4">
			  <xs:annotation>
			    <xs:documentation>In-person examination</xs:documentation>
			  </xs:annotation>
			  <xs:complexType>
			    <xs:all>
			      <xs:element name="Value" type="xs:boolean" default="false"/>
			      <xs:element name="Metadata" type="tb:Metadata"/>
			    </xs:all>
			  </xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="TuberculosisForm" type="tb:TuberculosisFormType"/>
	<xs:complexType name="Metadata">
		<xs:sequence>
			<xs:element name="code" type="xs:string"/>
			<xs:element name="codeSystem" type="xs:string"/>
			<xs:element name="version" type="xs:string"/>
			<xs:element name="source" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
