extension/PeritonealAdhesions-1.4.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ps="http://vler.va.gov/vler/schemas/health/clinicalDocuments/clinicalAssessments/cpExams/PeritonealAdhesions/1.4" targetNamespace="http://vler.va.gov/vler/schemas/health/clinicalDocuments/clinicalAssessments/cpExams/PeritonealAdhesions/1.4" version="1.4" elementFormDefault="qualified">
	<xs:complexType name="PeritonealAdhesionsFormType">
		<xs:sequence>
			<xs:element name="PeritoneumAdhesions">
				<xs:annotation>
					<xs:documentation>Does the Veteran now have or has he/she ever been diagnosed with a peritoneal
                        adhesion?
                    </xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Value" nillable="true">
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:enumeration value="Yes"/>
									<xs:enumeration value="No"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element name="Metadata" type="ps:Metadata"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="EXAMGROUP_GI_PA_Dx1">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Value" type="xs:string" nillable="true"/>
						<xs:element name="Metadata" type="ps:Metadata"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="EXAMGROUP_GI_PA_ICD1">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Value" type="xs:string" nillable="true"/>
						<xs:element name="Metadata" type="ps:Metadata"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="EXAMGROUP_GI_PA_ICD1_Date">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Value" type="xs:string" nillable="true"/>
						<xs:element name="Metadata" type="ps:Metadata"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="EXAMGROUP_GI_PA_Dx2">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Value" type="xs:string" nillable="true"/>
						<xs:element name="Metadata" type="ps:Metadata"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="EXAMGROUP_GI_PA_ICD2">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Value" type="xs:string" nillable="true"/>
						<xs:element name="Metadata" type="ps:Metadata"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="EXAMGROUP_GI_PA_ICD2_Date">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Value" type="xs:string" nillable="true"/>
						<xs:element name="Metadata" type="ps:Metadata"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="EXAMGROUP_GI_PA_ICD3">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Value" type="xs:string" nillable="true"/>
						<xs:element name="Metadata" type="ps:Metadata"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="EXAMGROUP_GI_PA_ICD3_Date">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Value" type="xs:string" nillable="true"/>
						<xs:element name="Metadata" type="ps:Metadata"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="EXAMGROUP_GI_PA_ICD_Other_Memo">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Value" type="xs:string" nillable="true"/>
						<xs:element name="Metadata" type="ps:Metadata"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="EXAMGROUP_GI_PA_Onset">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Value" type="xs:string" nillable="true"/>
						<xs:element name="Metadata" type="ps:Metadata"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="PeritoneumAdhesionsStomach">
				<xs:annotation>
					<xs:documentation>Stomach</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Value" type="xs:boolean" default="false"/>
						<xs:element name="Metadata" type="ps:Metadata"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="PeritoneumAdhesionsGallBladder">
				<xs:annotation>
					<xs:documentation>Gall bladder</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Value" type="xs:boolean" default="false"/>
						<xs:element name="Metadata" type="ps:Metadata"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="PeritoneumAdhesionsLiver">
				<xs:annotation>
					<xs:documentation>Liver</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Value" type="xs:boolean" default="false"/>
						<xs:element name="Metadata" type="ps:Metadata"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="PeritoneumAdhesionsSmallIntestine">
				<xs:annotation>
					<xs:documentation>Small intestine</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Value" type="xs:boolean" default="false"/>
						<xs:element name="Metadata" type="ps:Metadata"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="PeritoneumAdhesionsLargeIntestine">
				<xs:annotation>
					<xs:documentation>Large intestine</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Value" type="xs:boolean" default="false"/>
						<xs:element name="Metadata" type="ps:Metadata"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="EXAMGROUP_GI_PA_Operative_Trauma_Other">
				<xs:annotation>
					<xs:documentation>Other:</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Value" type="xs:boolean" default="false"/>
						<xs:element name="Metadata" type="ps:Metadata"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="EXAMGROUP_GI_PA_Operative_Trauma_Other_Memo">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Value" type="xs:string" nillable="true"/>
						<xs:element name="Metadata" type="ps:Metadata"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="EXAMGROUP_GI_PA_Operative_Dx_Adhesoins_Stomach">
				<xs:annotation>
					<xs:documentation>Stomach</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Value" type="xs:boolean" default="false"/>
						<xs:element name="Metadata" type="ps:Metadata"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="EXAMGROUP_GI_PA_Operative_Dx_Adhesoins_GB">
				<xs:annotation>
					<xs:documentation>Gall bladder</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Value" type="xs:boolean" default="false"/>
						<xs:element name="Metadata" type="ps:Metadata"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="EXAMGROUP_GI_PA_Operative_Dx_Adhesoins_Liver">
				<xs:annotation>
					<xs:documentation>Liver</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Value" type="xs:boolean" default="false"/>
						<xs:element name="Metadata" type="ps:Metadata"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="EXAMGROUP_GI_PA_Operative_Dx_Adhesoins_small_intestine">
				<xs:annotation>
					<xs:documentation>Small intestine</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Value" type="xs:boolean" default="false"/>
						<xs:element name="Metadata" type="ps:Metadata"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="EXAMGROUP_GI_PA_Operative_Dx_Adhesoins_Large_intestine">
				<xs:annotation>
					<xs:documentation>Large intestine</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Value" type="xs:boolean" default="false"/>
						<xs:element name="Metadata" type="ps:Metadata"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="EXAMGROUP_GI_PA_Operative_Dx_Adhesoins_Other">
				<xs:annotation>
					<xs:documentation>Other:</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Value" type="xs:boolean" default="false"/>
						<xs:element name="Metadata" type="ps:Metadata"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="EXAMGROUP_GI_PA_Operative_Dx_Adhesoins_Other_Memo">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Value" type="xs:string" nillable="true"/>
						<xs:element name="Metadata" type="ps:Metadata"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="EXAMGROUP_GI_PA_Operative_Dx_Adhesions_Signs_Delayed">
				<xs:annotation>
					<xs:documentation>Delayed motility of barium meal (on X-ray)</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Value" type="xs:boolean" default="false"/>
						<xs:element name="Metadata" type="ps:Metadata"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="EXAMGROUP_GI_PA_Operative_Dx_Adhesions_Signs_Obstruction">
				<xs:annotation>
					<xs:documentation>Partial or complete bowel obstruction</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Value" type="xs:boolean" default="false"/>
						<xs:element name="Metadata" type="ps:Metadata"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="EXAMGROUP_GI_PA_Operative_Dx_Adhesions_Signs_Reflex">
				<xs:annotation>
					<xs:documentation>Reflex disturbances</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Value" type="xs:boolean" default="false"/>
						<xs:element name="Metadata" type="ps:Metadata"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="EXAMGROUP_GI_PA_Operative_Dx_Adhesions_Signs_Pain">
				<xs:annotation>
					<xs:documentation>Pain</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Value" type="xs:boolean" default="false"/>
						<xs:element name="Metadata" type="ps:Metadata"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="EXAMGROUP_GI_PA_Operative_Dx_Adhesions_Signs_Nausea">
				<xs:annotation>
					<xs:documentation>Nausea</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Value" type="xs:boolean" default="false"/>
						<xs:element name="Metadata" type="ps:Metadata"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="EXAMGROUP_GI_PA_Operative_Dx_Adhesions_Signs_Vomiting">
				<xs:annotation>
					<xs:documentation>Vomiting</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Value" type="xs:boolean" default="false"/>
						<xs:element name="Metadata" type="ps:Metadata"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="EXAMGROUP_GI_PA_Operative_Dx_Adhesions_Signs_Constipation">
				<xs:annotation>
					<xs:documentation>Constipation (perhaps alternating with diarrhea)</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Value" type="xs:boolean" default="false"/>
						<xs:element name="Metadata" type="ps:Metadata"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="EXAMGROUP_GI_PA_Operative_Dx_Adhesions_Signs_Treatment_List">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Value" type="xs:string" nillable="true"/>
						<xs:element name="Metadata" type="ps:Metadata"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="PeritoneumAdhesionsSevereSymptoms">
				<xs:annotation>
					<xs:documentation>Severe symptoms</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Value" type="xs:boolean" default="false"/>
						<xs:element name="Metadata" type="ps:Metadata"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="PeritoneumAdhesionsDefinitePartialObstructionLevIV">
				<xs:annotation>
					<xs:documentation>Definite partial obstruction shown by x-ray</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Value" type="xs:boolean" default="false"/>
						<xs:element name="Metadata" type="ps:Metadata"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="PeritoneumAdhesionsFrequentEpisodesSevereColicDistention">
				<xs:annotation>
					<xs:documentation>Frequent episodes of severe colic distention</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Value" type="xs:boolean" default="false"/>
						<xs:element name="Metadata" type="ps:Metadata"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="PeritoneumAdhesionsFrequentEpisodesSevereNausea">
				<xs:annotation>
					<xs:documentation>Frequent episodes of severe nausea</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Value" type="xs:boolean" default="false"/>
						<xs:element name="Metadata" type="ps:Metadata"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="PeritoneumAdhesionsFrequentEpisodesSevereVomiting">
				<xs:annotation>
					<xs:documentation>Frequent episodes of severe vomiting</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Value" type="xs:boolean" default="false"/>
						<xs:element name="Metadata" type="ps:Metadata"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="PeritoneumAdhesionsModerateSevereSymptoms">
				<xs:annotation>
					<xs:documentation>Moderately severe symptoms</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Value" type="xs:boolean" default="false"/>
						<xs:element name="Metadata" type="ps:Metadata"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="PeritoneumAdhesionsPartialObstructionByDelayedMotilityBariumMeal">
				<xs:annotation>
					<xs:documentation>Partial obstruction manifested by delayed motility of barium meal
                    </xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Value" type="xs:boolean" default="false"/>
						<xs:element name="Metadata" type="ps:Metadata"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="EXAMGROUP_GI_PA_Severity_III_Fequent_Pain">
				<xs:annotation>
					<xs:documentation>Less frequent episodes of pain</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Value" type="xs:boolean" default="false"/>
						<xs:element name="Metadata" type="ps:Metadata"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="EXAMGROUP_GI_PA_Severity_III_Prolonged_Pain">
				<xs:annotation>
					<xs:documentation>Less prolonged episodes of pain</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Value" type="xs:boolean" default="false"/>
						<xs:element name="Metadata" type="ps:Metadata"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="PeritoneumAdhesionsModerateSymptoms">
				<xs:annotation>
					<xs:documentation>Moderate symptoms</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Value" type="xs:boolean" default="false"/>
						<xs:element name="Metadata" type="ps:Metadata"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="PeritoneumAdhesionsOccasionalEpisodesColicPain">
				<xs:annotation>
					<xs:documentation>Occasional episodes of colic pain</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Value" type="xs:boolean" default="false"/>
						<xs:element name="Metadata" type="ps:Metadata"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="PeritoneumAdhesionsOccasionalEpisodesNausea">
				<xs:annotation>
					<xs:documentation>Occasional episodes of nausea</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Value" type="xs:boolean" default="false"/>
						<xs:element name="Metadata" type="ps:Metadata"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="PeritoneumAdhesionsOccasionalEpisodesConstipation">
				<xs:annotation>
					<xs:documentation>Occasional episodes of constipation (perhaps alternating with diarrhea)
                    </xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Value" type="xs:boolean" default="false"/>
						<xs:element name="Metadata" type="ps:Metadata"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="PeritoneumAdhesionsOccasionalEpisodesAbdominalDistension">
				<xs:annotation>
					<xs:documentation>Occasional episodes of abdominal distension</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Value" type="xs:boolean" default="false"/>
						<xs:element name="Metadata" type="ps:Metadata"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="PeritoneumAdhesionsMildSymptoms">
				<xs:annotation>
					<xs:documentation>Mild symptoms,</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Value" type="xs:boolean" default="false"/>
						<xs:element name="Metadata" type="ps:Metadata"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="EXAMGROUP_GI_PA_Severity_I_Describe_Memo">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Value" type="xs:string" nillable="true"/>
						<xs:element name="Metadata" type="ps:Metadata"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="EXAMGROUP_GI_PA_PE_Scar_Size">
				<xs:annotation>
					<xs:documentation>If yes, are any of the scars painful and/or unstable, or is the total area of all
                        related scars greater than 39 square cm (6 square inches)?
                    </xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Value" nillable="true">
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:enumeration value="Yes"/>
									<xs:enumeration value="No"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element name="Metadata" type="ps:Metadata"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="EXAMGROUP_GI_PA_PE_Other">
				<xs:annotation>
					<xs:documentation/>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Value" nillable="true">
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:enumeration value="Yes"/>
									<xs:enumeration value="No"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element name="Metadata" type="ps:Metadata"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="EXAMGROUP_GI_PA_PE_Other_Describe">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Value" type="xs:string" nillable="true"/>
						<xs:element name="Metadata" type="ps:Metadata"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="EXAMGROUP_GI_PA_Diagnostic">
				<xs:annotation>
					<xs:documentation>Has the Veteran had laboratory or other diagnostic studies performed and are the
                        results available?
                    </xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Value" nillable="true">
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:enumeration value="Yes"/>
									<xs:enumeration value="No"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element name="Metadata" type="ps:Metadata"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="EXAMGROUP_GI_PA_Diagnostic_Results">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Value" type="xs:string" nillable="true"/>
						<xs:element name="Metadata" type="ps:Metadata"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="EXAMGROUP_GI_PA_Functional_Impact">
				<xs:annotation>
					<xs:documentation>Based on your examination and/or the Veteran's history, does the Veteran's
                        peritoneal adhesion(s) impact his or her ability to work?
                    </xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Value" nillable="true">
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:enumeration value="Yes"/>
									<xs:enumeration value="No"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element name="Metadata" type="ps:Metadata"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="EXAMGROUP_GI_PA_Functional_Impact_Describe">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Value" type="xs:string" nillable="true"/>
						<xs:element name="Metadata" type="ps:Metadata"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="EXAMGROUP_GI_PA_Remarks">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Value" type="xs:string" nillable="true"/>
						<xs:element name="Metadata" type="ps:Metadata"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="EXAMGROUP_GI_PA_Operative_Dx_Adhesions_Signs_Distention">
				<xs:annotation>
					<xs:documentation>Abdominal distention</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Value" type="xs:boolean" default="false"/>
						<xs:element name="Metadata" type="ps:Metadata"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="PeritoneumAdhesionsProlongedSevereColicDistention">
				<xs:annotation>
					<xs:documentation>Prolonged episodes of severe colic distention</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Value" type="xs:boolean" default="false"/>
						<xs:element name="Metadata" type="ps:Metadata"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="PeritoneumAdhesionsProlongedEpisodesSevereNausea">
				<xs:annotation>
					<xs:documentation>Prolonged episodes of severe nausea</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Value" type="xs:boolean" default="false"/>
						<xs:element name="Metadata" type="ps:Metadata"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="EXAMGROUP_CARDIO_IHD_Name">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Value" type="xs:string" nillable="true"/>
						<xs:element name="Metadata" type="ps:Metadata"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="EXAMGROUP_GI_PA_Dx3">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Value" type="xs:string" nillable="true"/>
						<xs:element name="Metadata" type="ps:Metadata"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="EXAM_ACE_1">
				<xs:annotation>
					<xs:documentation/>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Value" type="xs:boolean" default="false"/>
						<xs:element name="Metadata" type="ps:Metadata"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="EXAM_ACE_2">
				<xs:annotation>
					<xs:documentation/>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Value" type="xs:boolean" default="false"/>
						<xs:element name="Metadata" type="ps:Metadata"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="EXAM_ACE_3">
				<xs:annotation>
					<xs:documentation>Examination via approved video telehealth</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Value" type="xs:boolean" default="false"/>
						<xs:element name="Metadata" type="ps:Metadata"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="EXAM_ACE_4">
				<xs:annotation>
					<xs:documentation>In-person examination</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Value" type="xs:boolean" default="false"/>
						<xs:element name="Metadata" type="ps:Metadata"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="EXAM_ACE_5_RevRec_1">
				<xs:annotation>
					<xs:documentation>Was the Veteran's VA claims file reviewed?</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Value" nillable="true">
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:enumeration value="Yes"/>
									<xs:enumeration value="No"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element name="Metadata" type="ps:Metadata"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="EXAM_ACE_5_RevRec_2">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Value" type="xs:string" nillable="true"/>
						<xs:element name="Metadata" type="ps:Metadata"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="EXAM_ACE_5_RevRec_3">
				<xs:annotation>
					<xs:documentation>Military service treatment records</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Value" type="xs:boolean" default="false"/>
						<xs:element name="Metadata" type="ps:Metadata"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="EXAM_ACE_5_RevRec_4">
				<xs:annotation>
					<xs:documentation>Military service personnel records</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Value" type="xs:boolean" default="false"/>
						<xs:element name="Metadata" type="ps:Metadata"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="EXAM_ACE_5_RevRec_5">
				<xs:annotation>
					<xs:documentation>Military enlistment examination</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Value" type="xs:boolean" default="false"/>
						<xs:element name="Metadata" type="ps:Metadata"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="EXAM_ACE_5_RevRec_6">
				<xs:annotation>
					<xs:documentation>Military separation examination</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Value" type="xs:boolean" default="false"/>
						<xs:element name="Metadata" type="ps:Metadata"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="EXAM_ACE_5_RevRec_7">
				<xs:annotation>
					<xs:documentation>Military post-deployment questionnaire</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Value" type="xs:boolean" default="false"/>
						<xs:element name="Metadata" type="ps:Metadata"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="EXAM_ACE_5_RevRec_8">
				<xs:annotation>
					<xs:documentation>Department of Defense Form 214 Separation Documents</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Value" type="xs:boolean" default="false"/>
						<xs:element name="Metadata" type="ps:Metadata"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="EXAM_ACE_5_RevRec_9">
				<xs:annotation>
					<xs:documentation>Veterans Health Administration medical records (VA treatment records)
                    </xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Value" type="xs:boolean" default="false"/>
						<xs:element name="Metadata" type="ps:Metadata"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="EXAM_ACE_5_RevRec_10">
				<xs:annotation>
					<xs:documentation>Civilian medical records</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Value" type="xs:boolean" default="false"/>
						<xs:element name="Metadata" type="ps:Metadata"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="EXAM_ACE_5_RevRec_11">
				<xs:annotation>
					<xs:documentation>Interviews with collateral witnesses (family and others who have known the Veteran
                        before and after military service)
                    </xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Value" type="xs:boolean" default="false"/>
						<xs:element name="Metadata" type="ps:Metadata"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="EXAM_ACE_5_RevRec_12">
				<xs:annotation>
					<xs:documentation>No records were reviewed</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Value" type="xs:boolean" default="false"/>
						<xs:element name="Metadata" type="ps:Metadata"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="EXAM_ACE_5_RevRec_13">
				<xs:annotation>
					<xs:documentation>Other:</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Value" type="xs:boolean" default="false"/>
						<xs:element name="Metadata" type="ps:Metadata"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="EXAM_ACE_5_RevRec_14">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Value" type="xs:string" nillable="true"/>
						<xs:element name="Metadata" type="ps:Metadata"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="PeritoneumAdhesionsFrequentAndProlongedEpisodesSevereNausea">
				<xs:annotation>
					<xs:documentation>Frequent and Prolonged episodes of severe nausea</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Value" type="xs:boolean" default="false"/>
						<xs:element name="Metadata" type="ps:Metadata"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="EXAMGROUP_GI_PA_PE_Scar">
				<xs:annotation>
					<xs:documentation/>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Value" nillable="true">
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:enumeration value="Yes"/>
									<xs:enumeration value="No"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element name="Metadata" type="ps:Metadata"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="PeritoneumAdhesionsFrequentAndProlongedEpisodesSevereColicDistention">
				<xs:annotation>
					<xs:documentation>Frequent and Prolonged episodes of severe colic distention</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Value" type="xs:boolean" default="false"/>
						<xs:element name="Metadata" type="ps:Metadata"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="PeritoneumAdhesionsPullingPainAttemptingWork">
				<xs:annotation>
					<xs:documentation>Pulling pain on attempting work</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Value" type="xs:boolean" default="false"/>
						<xs:element name="Metadata" type="ps:Metadata"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="PeritoneumAdhesionsPullingPainAggravatedByBodyMovements">
				<xs:annotation>
					<xs:documentation>Pulling pain aggravated by movements of the body</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Value" type="xs:boolean" default="false"/>
						<xs:element name="Metadata" type="ps:Metadata"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="PeritoneumAdhesionsOccasionalEpisodesDiarrhea">
				<xs:annotation>
					<xs:documentation>Occasional episodes of diarrhea</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Value" type="xs:boolean" default="false"/>
						<xs:element name="Metadata" type="ps:Metadata"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="EXAMGROUP_GI_PA_Operative_Dx_Adhesions_Signs_Treatment_i">
				<xs:annotation>
					<xs:documentation>i. Does the Veteran's treatment plan include taking continuous medication for the
                        diagnosed condition?
                    </xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Value" nillable="true">
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:enumeration value="Yes"/>
									<xs:enumeration value="No"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element name="Metadata" type="ps:Metadata"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="EXAMGROUP_GI_PA_Operative_Dx_Adhesions_Signs_Treatment">
				<xs:annotation>
					<xs:documentation>h. Does the Veteran have any signs and/or symptoms due to peritoneal adhesions?
                    </xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Value" nillable="true">
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:enumeration value="Yes"/>
									<xs:enumeration value="No"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element name="Metadata" type="ps:Metadata"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="EXAMGROUP_GI_PA_Operative_Dx_Adhesions_Signs">
				<xs:annotation>
					<xs:documentation>g. Does the Veteran have a current diagnosis of peritoneal adhesions?
                    </xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Value" nillable="true">
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:enumeration value="Yes"/>
									<xs:enumeration value="No"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element name="Metadata" type="ps:Metadata"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="PeritoneumAdhesionsSeverePeritonitis">
				<xs:annotation>
					<xs:documentation>c. Has the Veteran had severe Peritonitis?</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Value" nillable="true">
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:enumeration value="Yes"/>
									<xs:enumeration value="No"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element name="Metadata" type="ps:Metadata"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="PeritoneumAdhesionsRupturedAppendix">
				<xs:annotation>
					<xs:documentation>d. Has the Veteran had a Ruptured Appendix?</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Value" nillable="true">
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:enumeration value="Yes"/>
									<xs:enumeration value="No"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element name="Metadata" type="ps:Metadata"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="PeritoneumAdhesionsPerforatedUlcer">
				<xs:annotation>
					<xs:documentation>e. Has the Veteran had a Perforated Ulcer?</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Value" nillable="true">
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:enumeration value="Yes"/>
									<xs:enumeration value="No"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element name="Metadata" type="ps:Metadata"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="PeritoneumAdhesionsOperationWithDrainage">
				<xs:annotation>
					<xs:documentation>f. Has the Veteran had an Operation with Drainage?</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Value" nillable="true">
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:enumeration value="Yes"/>
									<xs:enumeration value="No"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element name="Metadata" type="ps:Metadata"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="PeritoneumAdhesionsProlongedEpisodesSevereVomiting">
				<xs:annotation>
					<xs:documentation>Prolonged episodes of severe vomiting</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Value" type="xs:boolean" default="false"/>
						<xs:element name="Metadata" type="ps:Metadata"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="PeritoneumAdhesionsFrequentAndProlongedEpisodesSevereVomiting">
				<xs:annotation>
					<xs:documentation>Frequent and Prolonged episodes of severe vomiting</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Value" type="xs:boolean" default="false"/>
						<xs:element name="Metadata" type="ps:Metadata"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="EXAMGROUP_GI_PA_Operative_Infxn_RG">
				<xs:annotation>
					<xs:documentation>b. Does the Veteran have a history of operative or infectious (intraabdominal)
                        process?
                    </xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Value" nillable="true">
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:enumeration value="Yes"/>
									<xs:enumeration value="No"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element name="Metadata" type="ps:Metadata"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="EXAMGROUP_GI_PA_Operative_Trauma">
				<xs:annotation>
					<xs:documentation>Does the Veteran have a history of traumatic injury (intraabdominal) process?
                    </xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Value" nillable="true">
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:enumeration value="Yes"/>
									<xs:enumeration value="No"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element name="Metadata" type="ps:Metadata"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="PeritonealAdhesionsStomachInjury">
				<xs:annotation>
					<xs:documentation>Stomach</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Value" type="xs:boolean" default="false"/>
						<xs:element name="Metadata" type="ps:Metadata"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="PeritonealAdhesionsGallBladderInjury">
				<xs:annotation>
					<xs:documentation>Gall bladder</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Value" type="xs:boolean" default="false"/>
						<xs:element name="Metadata" type="ps:Metadata"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="PeritonealAdhesionsLiverInjury">
				<xs:annotation>
					<xs:documentation>Liver</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Value" type="xs:boolean" default="false"/>
						<xs:element name="Metadata" type="ps:Metadata"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="PeritonealAdhesionsSmallIntestineInjury">
				<xs:annotation>
					<xs:documentation>Small intestine</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Value" type="xs:boolean" default="false"/>
						<xs:element name="Metadata" type="ps:Metadata"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="PeritonealAdhesionsLargeIntestineInjury">
				<xs:annotation>
					<xs:documentation>Large intestine</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Value" type="xs:boolean" default="false"/>
						<xs:element name="Metadata" type="ps:Metadata"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="EXAMGROUP_GI_PA_Traumatic_Other">
				<xs:annotation>
					<xs:documentation>Other:</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Value" type="xs:boolean" default="false"/>
						<xs:element name="Metadata" type="ps:Metadata"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="EXAMGROUP_GI_PA_Traumatic_Other_Memo">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Value" type="xs:string" nillable="true"/>
						<xs:element name="Metadata" type="ps:Metadata"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="PeritonealAdhesionsForm" type="ps:PeritonealAdhesionsFormType"/>
	<xs:complexType name="Metadata">
		<xs:sequence>
			<xs:element name="code" type="xs:string"/>
			<xs:element name="codeSystem" type="xs:string"/>
			<xs:element name="version" type="xs:string"/>
			<xs:element name="source" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
