legacy/Amputations_DBQ_v13_2_T1.pnl.xsd

<?xml version="1.0" encoding="UTF-8"?><xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:amp="http://vler.va.gov/vler/schemas/health/clinicalDocuments/clinicalAssessments/cpExams/1.3/Amputations" targetNamespace="http://vler.va.gov/vler/schemas/health/clinicalDocuments/clinicalAssessments/cpExams/1.3/Amputations" version="1.0">  <xs:complexType name="AmputationsFormType">  <xs:all>
<xs:element name="EXAMGROUP_CARDIO_IHD_Name">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="amp:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="DIAGNOSIS_AMPUTATION_DIAGNOSIS">  <xs:annotation>     <xs:documentation>Has the Veteran had any amputations?</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Yes"/>            <xs:enumeration value="No"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="amp:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="DIAGNOSIS_AMPUTATION_1">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="amp:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="DIAGNOSIS_AMPUTATION_ICD_1">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="amp:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="DIAGNOSIS_AMPUTATION_DATE_1">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="amp:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="DIAGNOSIS_AMPUTATION_2">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="amp:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="DIAGNOSIS_AMPUTATION_ICD_2">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="amp:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="DIAGNOSIS_AMPUTATION_DATE_2">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="amp:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="DIAGNOSIS_AMPUTATION_3">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="amp:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="DIAGNOSIS_AMPUTATION_ICD_3">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="amp:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="DIAGNOSIS_AMPUTATION_DATE_3">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="amp:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="DIAGNOSIS_AMPUTATION_ADDITIONAL">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="amp:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="HISTORY_AMPUTATION_DESCRIBE_HISTORY">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="amp:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="HISTORY_AMPUTATION_DOMINANT_HAND">  <xs:annotation>     <xs:documentation>b. Dominant hand:</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Right"/>            <xs:enumeration value="Left"/>            <xs:enumeration value="Ambidextrous"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="amp:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_AMPUTATION_SITES_UPPER">  <xs:annotation>    <xs:documentation>Upper extremities (not including fingers)</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="amp:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_AMPUTATION_SITES_FINGERS">  <xs:annotation>    <xs:documentation>Fingers</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="amp:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_AMPUTATION_SITES_LOWER">  <xs:annotation>    <xs:documentation>Lower extremities (not including toes)</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="amp:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_AMPUTATION_SITES_TOES">  <xs:annotation>    <xs:documentation>Toes</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="amp:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_AMPUTATION_UPPER_ARM">  <xs:annotation>     <xs:documentation>a. Does the Veteran have an amputation of either arm?</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Yes"/>            <xs:enumeration value="No"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="amp:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_AMPUTATION_UPPER_ARM_YES_BELOW_INSERTION">  <xs:annotation>    <xs:documentation>Below insertion of deltoid</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="amp:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_AMPUTATION_UPPER_ARM_YES_BELOW_INSERTION_SA">  <xs:annotation>     <xs:documentation></xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Right"/>            <xs:enumeration value="Left"/>            <xs:enumeration value="Both"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="amp:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_AMPUTATION_UPPER_ARM_YES_ABOVE_INSERTION">  <xs:annotation>    <xs:documentation>Above insertion of deltoid</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="amp:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_AMPUTATION_UPPER_ARM_YES_ABOVE_INSERTION_SA">  <xs:annotation>     <xs:documentation></xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Right"/>            <xs:enumeration value="Left"/>            <xs:enumeration value="Both"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="amp:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_AMPUTATION_UPPER_ARM_YES_DISARTICULATION">  <xs:annotation>    <xs:documentation>Disarticulation</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="amp:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_AMPUTATION_UPPER_ARM_YES_DISARTICULATION_SA">  <xs:annotation>     <xs:documentation></xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Right"/>            <xs:enumeration value="Left"/>            <xs:enumeration value="Both"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="amp:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_AMPUTATION_UPPER_ARM_SUITABLE_PROSTHETIC">  <xs:annotation>     <xs:documentation>b. Does the amputation site allow the use of a suitable prosthetic appliance?</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Yes"/>            <xs:enumeration value="No"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="amp:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_AMPUTATION_UPPER_ARM_SUITABLE_PROSTHETIC_YES">  <xs:annotation>     <xs:documentation>If yes, indicate side that allows use of suitable prosthetic appliance:</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Right"/>            <xs:enumeration value="Left"/>            <xs:enumeration value="Both"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="amp:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_AMPUTATION_UPPER_FOREARM">  <xs:annotation>     <xs:documentation>c. Does the Veteran have an amputation of either forearm?</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Yes"/>            <xs:enumeration value="No"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="amp:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_AMPUTATION_FINGERS_THUMB">  <xs:annotation>     <xs:documentation>a. Does the Veteran have an amputation of either thumb?</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Yes"/>            <xs:enumeration value="No"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="amp:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_AMPUTATION_FINGERS_THUMB_YES_DISTAL_JOINT">  <xs:annotation>    <xs:documentation>Amputation at the distal joint or through the distal phalanx</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="amp:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_AMPUTATION_FINGERS_THUMB_YES_DISTAL_JOINT_SA">  <xs:annotation>     <xs:documentation></xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Right"/>            <xs:enumeration value="Left"/>            <xs:enumeration value="Both"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="amp:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_AMPUTATION_FINGERS_THUMB_YES_DISTAL_META">  <xs:annotation>    <xs:documentation>Amputation at the metacarpophalangeal joint or through the proximal phalanx</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="amp:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_AMPUTATION_FINGERS_THUMB_YES_DISTAL_META_SA">  <xs:annotation>     <xs:documentation></xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Right"/>            <xs:enumeration value="Left"/>            <xs:enumeration value="Both"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="amp:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_AMPUTATION_FINGERS_THUMB_YES_DISTAL_METACARPAL">  <xs:annotation>    <xs:documentation>Amputation with metacarpal resection</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="amp:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_AMPUTATION_FINGERS_THUMB_YES_DISTAL_METACARPAL_SA">  <xs:annotation>     <xs:documentation></xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Right"/>            <xs:enumeration value="Left"/>            <xs:enumeration value="Both"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="amp:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_AMPUTATION_UPPER_FOREARM_YES_BELOW">  <xs:annotation>    <xs:documentation>Amputation below insertion of pronator teres</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="amp:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_AMPUTATION_UPPER_FOREARM_YES_ABOVE">  <xs:annotation>    <xs:documentation>Amputation above insertion of pronator teres</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="amp:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_AMPUTATION_UPPER_FOREARM_YES_BELOW_SA">  <xs:annotation>     <xs:documentation></xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Right"/>            <xs:enumeration value="Left"/>            <xs:enumeration value="Both"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="amp:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_AMPUTATION_UPPER_FOREARM_YES_ABOVE_SA">  <xs:annotation>     <xs:documentation></xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Right"/>            <xs:enumeration value="Left"/>            <xs:enumeration value="Both"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="amp:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_AMPUTATION_FINGERS">  <xs:annotation>     <xs:documentation>b. Does the Veteran have an amputation of any fingers?</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Yes"/>            <xs:enumeration value="No"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="amp:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_AMPUTATION_FINGERS_YES_MIDDLE_PHALANX">  <xs:annotation>    <xs:documentation>Amputation through the middle phalanx or at the distal joint</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="amp:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_AMPUTATION_FINGERS_YES_MIDDLE_PHALANX_INDEX">  <xs:annotation>     <xs:documentation></xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Right index finger"/>            <xs:enumeration value="Left index finger"/>            <xs:enumeration value="Both index fingers"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="amp:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_AMPUTATION_FINGERS_YES_MIDDLE_PHALANX_LONG">  <xs:annotation>     <xs:documentation></xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Right long finger"/>            <xs:enumeration value="Left long finger"/>            <xs:enumeration value="Both long fingers"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="amp:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_AMPUTATION_FINGERS_YES_MIDDLE_PHALANX_RING">  <xs:annotation>     <xs:documentation></xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Right ring finger"/>            <xs:enumeration value="Left ring finger"/>            <xs:enumeration value="Both ring fingers"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="amp:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_AMPUTATION_FINGERS_YES_MIDDLE_PHALANX_LITTLE">  <xs:annotation>     <xs:documentation></xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Right little finger"/>            <xs:enumeration value="Left little finger"/>            <xs:enumeration value="Both little fingers"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="amp:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_AMPUTATION_FINGERS_YES_WITHOUT_METACARPAL">  <xs:annotation>    <xs:documentation>Amputation without metacarpal resection, at the proximal interphalangeal joint or proximal thereto</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="amp:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_AMPUTATION_FINGERS_YES_WITHOUT_METACARPAL_INDEX">  <xs:annotation>     <xs:documentation></xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Right index finger"/>            <xs:enumeration value="Left index finger"/>            <xs:enumeration value="Both index fingers"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="amp:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_AMPUTATION_FINGERS_YES_WITHOUT_METACARPAL_LONG">  <xs:annotation>     <xs:documentation></xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Right long finger"/>            <xs:enumeration value="Left long finger"/>            <xs:enumeration value="Both long fingers"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="amp:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_AMPUTATION_FINGERS_YES_WITHOUT_METACARPAL_RING">  <xs:annotation>     <xs:documentation></xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Right ring finger"/>            <xs:enumeration value="Left ring finger"/>            <xs:enumeration value="Both ring fingers"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="amp:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_AMPUTATION_FINGERS_YES_WITHOUT_METACARPAL_LITTLE">  <xs:annotation>     <xs:documentation></xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Right little finger"/>            <xs:enumeration value="Left little finger"/>            <xs:enumeration value="Both little fingers"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="amp:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_AMPUTATION_FINGERS_YES_WITH_METACARPAL">  <xs:annotation>    <xs:documentation>Amputation with metacarpal resection (more than one-half the bone lost)</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="amp:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_AMPUTATION_FINGERS_YES_WITH_METACARPAL_INDEX">  <xs:annotation>     <xs:documentation></xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Right index finger"/>            <xs:enumeration value="Left index finger"/>            <xs:enumeration value="Both index fingers"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="amp:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_AMPUTATION_FINGERS_YES_WITH_METACARPAL_LONG">  <xs:annotation>     <xs:documentation></xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Right long finger"/>            <xs:enumeration value="Left long finger"/>            <xs:enumeration value="Both long fingers"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="amp:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_AMPUTATION_FINGERS_YES_WITH_METACARPAL_RING">  <xs:annotation>     <xs:documentation></xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Right ring finger"/>            <xs:enumeration value="Left ring finger"/>            <xs:enumeration value="Both ring fingers"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="amp:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_AMPUTATION_FINGERS_YES_WITH_METACARPAL_LITTLE">  <xs:annotation>     <xs:documentation></xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Right little finger"/>            <xs:enumeration value="Left little finger"/>            <xs:enumeration value="Both little fingers"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="amp:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_AMPUTATION_LOWER_ABOVE_KNEE">  <xs:annotation>     <xs:documentation>a. Does the Veteran have an above-knee amputation of the thigh?</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Yes"/>            <xs:enumeration value="No"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="amp:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_AMPUTATION_LOWER_ABOVE_KNEE_YES_MIDDLE">  <xs:annotation>    <xs:documentation>Amputation to the middle or lower third of thigh</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="amp:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_AMPUTATION_LOWER_ABOVE_KNEE_YES_MIDDLE_SA">  <xs:annotation>     <xs:documentation></xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Right"/>            <xs:enumeration value="Left"/>            <xs:enumeration value="Both"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="amp:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_AMPUTATION_LOWER_ABOVE_KNEE_YES_UPPER">  <xs:annotation>    <xs:documentation>Amputation to the upper third of thigh</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="amp:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_AMPUTATION_LOWER_ABOVE_KNEE_YES_UPPER_SA">  <xs:annotation>     <xs:documentation></xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Right"/>            <xs:enumeration value="Left"/>            <xs:enumeration value="Both"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="amp:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_AMPUTATION_LOWER_ABOVE_KNEE_YES_LOSS">  <xs:annotation>    <xs:documentation>Disarticulation with loss of extrinsic pelvic girdle muscles</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="amp:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_AMPUTATION_LOWER_ABOVE_KNEE_YES_LOSS_SA">  <xs:annotation>     <xs:documentation></xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Right"/>            <xs:enumeration value="Left"/>            <xs:enumeration value="Both"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="amp:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_AMPUTATION_LOWER_SUITABLE_PROSTHETIC_YES">  <xs:annotation>     <xs:documentation></xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Right"/>            <xs:enumeration value="Left"/>            <xs:enumeration value="Both"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="amp:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_AMPUTATION_LOWER_BELOW_KNEE">  <xs:annotation>     <xs:documentation>c. Does the Veteran have a below-knee amputation of the lower leg, including the forefoot?</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Yes"/>            <xs:enumeration value="No"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="amp:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_AMPUTATION_LOWER_BELOW_KNEE_YES_FOREFOOT_PROXIMAL_SA">  <xs:annotation>     <xs:documentation></xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Right"/>            <xs:enumeration value="Left"/>            <xs:enumeration value="Both"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="amp:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_AMPUTATION_LOWER_BELOW_KNEE_YES_FOREFOOT_KNEE">  <xs:annotation>    <xs:documentation>Amputation between the forefoot and knee, permitting prosthesis</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="amp:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_AMPUTATION_LOWER_BELOW_KNEE_YES_FOREFOOT_KNEE_SA">  <xs:annotation>     <xs:documentation></xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Right"/>            <xs:enumeration value="Left"/>            <xs:enumeration value="Both"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="amp:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_AMPUTATION_LOWER_BELOW_KNEE_YES_NOT_IMPROVABLE">  <xs:annotation>    <xs:documentation>Amputation not improvable by prosthesis controlled by natural knee action</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="amp:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_AMPUTATION_LOWER_BELOW_KNEE_YES_NOT_IMPROVABLE_SA">  <xs:annotation>     <xs:documentation></xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Right"/>            <xs:enumeration value="Left"/>            <xs:enumeration value="Both"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="amp:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_AMPUTATION_LOWER_BELOW_KNEE_YES_FOREFOOT_PROXIMAL">  <xs:annotation>    <xs:documentation>Amputation of forefoot proximal to the metatarsal bones (more than 1/2 of metatarsal loss)</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="amp:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_AMPUTATION_LOWER_BELOW_KNEE_YES_DEFECTIVE">  <xs:annotation>    <xs:documentation>Amputation with defective stump and amputation to the thigh recommended</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="amp:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_AMPUTATION_LOWER_BELOW_KNEE_YES_DEFECTIVE_SA">  <xs:annotation>     <xs:documentation></xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Right"/>            <xs:enumeration value="Left"/>            <xs:enumeration value="Both"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="amp:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_AMPUTATION_LOWER_LEG_AMP_SUITABLE_PROSTHETIC">  <xs:annotation>     <xs:documentation>d. Does the lower leg amputation site allow the use of a suitable prosthetic appliance?</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Yes"/>            <xs:enumeration value="No"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="amp:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_AMPUTATION_LOWER_LEG_AMP_SUITABLE_PROSTHETIC_YES">  <xs:annotation>     <xs:documentation></xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Right"/>            <xs:enumeration value="Left"/>            <xs:enumeration value="Both"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="amp:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_AMPUTATION_TOES">  <xs:annotation>     <xs:documentation>Does the Veteran have an amputation of any toes?</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Yes"/>            <xs:enumeration value="No"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="amp:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_AMPUTATION_TOES_YES_WITHOUT_REMOVAL">  <xs:annotation>    <xs:documentation>Amputation of toes without removal of the metatarsal head</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="amp:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_AMPUTATION_TOES_YES_WITHOUT_REMOVAL_GREAT_TOE">  <xs:annotation>     <xs:documentation></xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Right great toe"/>            <xs:enumeration value="Left great toe"/>            <xs:enumeration value="Both great toes"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="amp:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_AMPUTATION_TOES_YES_WITHOUT_REMOVAL_2ND">  <xs:annotation>     <xs:documentation></xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Right 2nd toe"/>            <xs:enumeration value="Left 2nd toe"/>            <xs:enumeration value="Both 2nd toes"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="amp:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_AMPUTATION_TOES_YES_WITHOUT_REMOVAL_3RD">  <xs:annotation>     <xs:documentation></xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Right 3rd toe"/>            <xs:enumeration value="Left 3rd toe"/>            <xs:enumeration value="Both 3rd toes"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="amp:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_AMPUTATION_TOES_YES_WITHOUT_REMOVAL_4TH">  <xs:annotation>     <xs:documentation></xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Right 4th toe"/>            <xs:enumeration value="Left 4th toe"/>            <xs:enumeration value="Both 4th toes"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="amp:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_AMPUTATION_TOES_YES_WITHOUT_REMOVAL_LITTLE">  <xs:annotation>     <xs:documentation></xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Right little toe"/>            <xs:enumeration value="Left little toe"/>            <xs:enumeration value="Both little toes"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="amp:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_AMPUTATION_TOES_YES_WITH_REMOVAL">  <xs:annotation>    <xs:documentation>Amputation of toes with removal of the metatarsal head</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="amp:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_AMPUTATION_TOES_YES_WITH_REMOVAL_GREAT_TOE">  <xs:annotation>     <xs:documentation></xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Right great toe"/>            <xs:enumeration value="Left great toe"/>            <xs:enumeration value="Both great toes"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="amp:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_AMPUTATION_TOES_YES_WITH_REMOVAL_2ND">  <xs:annotation>     <xs:documentation></xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Right 2nd toe"/>            <xs:enumeration value="Left 2nd toe"/>            <xs:enumeration value="Both 2nd toes"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="amp:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_AMPUTATION_TOES_YES_WITH_REMOVAL_3RD">  <xs:annotation>     <xs:documentation></xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Right 3rd toe"/>            <xs:enumeration value="Left 3rd toe"/>            <xs:enumeration value="Both 3rd toes"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="amp:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_AMPUTATION_TOES_YES_WITH_REMOVAL_4TH">  <xs:annotation>     <xs:documentation></xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Right 4th toe"/>            <xs:enumeration value="Left 4th toe"/>            <xs:enumeration value="Both 4th toes"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="amp:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_AMPUTATION_TOES_YES_WITH_REMOVAL_LITTLE">  <xs:annotation>     <xs:documentation></xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Right little toe"/>            <xs:enumeration value="Left little toe"/>            <xs:enumeration value="Both little toes"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="amp:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_AMPUTATION_OPP_SCARS">  <xs:annotation>     <xs:documentation></xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Yes"/>            <xs:enumeration value="No"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="amp:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_AMPUTATION_OPP_SCARS_YES">  <xs:annotation>     <xs:documentation>If yes, are any of the scars painful and/or unstable, or is the total area of all related scars greater than 39 square cm (6 square inches)?</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Yes"/>            <xs:enumeration value="No"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="amp:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_AMPUTATION_OPP_OTHER_PERT">  <xs:annotation>     <xs:documentation></xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Yes"/>            <xs:enumeration value="No"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="amp:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_AMPUTATION_OPP_OTHER_PERT_DESCRIBE">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="amp:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_AMPUTATION_AD">  <xs:annotation>     <xs:documentation>a. Does the Veteran use any assistive devices as a normal mode of locomotion, although occasional locomotion by other methods may be possible?</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Yes"/>            <xs:enumeration value="No"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="amp:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_AMPUTATION_AD_WHEELCHAIR">  <xs:annotation>    <xs:documentation>Wheelchair</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="amp:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_AMPUTATION_AD_WHEELCHAIR_FOU">  <xs:annotation>     <xs:documentation></xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Occasional"/>            <xs:enumeration value="Regular"/>            <xs:enumeration value="Constant"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="amp:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_AMPUTATION_AD_BRACES">  <xs:annotation>    <xs:documentation>Brace(s)</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="amp:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_AMPUTATION_AD_BRACES_FOU">  <xs:annotation>     <xs:documentation></xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Occasional"/>            <xs:enumeration value="Regular"/>            <xs:enumeration value="Constant"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="amp:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_AMPUTATION_AD_CRUTCHES">  <xs:annotation>    <xs:documentation>Crutch(es)</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="amp:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_AMPUTATION_AD_CRUTCHES_FOU">  <xs:annotation>     <xs:documentation></xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Occasional"/>            <xs:enumeration value="Regular"/>            <xs:enumeration value="Constant"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="amp:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_AMPUTATION_AD_CANES">  <xs:annotation>    <xs:documentation>Cane(s)</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="amp:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_AMPUTATION_AD_CANES_FOU">  <xs:annotation>     <xs:documentation></xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Occasional"/>            <xs:enumeration value="Regular"/>            <xs:enumeration value="Constant"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="amp:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_AMPUTATION_AD_WALKER">  <xs:annotation>    <xs:documentation>Walker</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="amp:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_AMPUTATION_AD_WALKER_FOU">  <xs:annotation>     <xs:documentation></xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Occasional"/>            <xs:enumeration value="Regular"/>            <xs:enumeration value="Constant"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="amp:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_AMPUTATION_AD_OTHER">  <xs:annotation>    <xs:documentation>Other</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="amp:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_AMPUTATION_AD_OTHER_EDIT">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="amp:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_AMPUTATION_AD_OTHER_FOU">  <xs:annotation>     <xs:documentation></xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Occasional"/>            <xs:enumeration value="Regular"/>            <xs:enumeration value="Constant"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="amp:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_AMPUTATION_AD_ADDITIONAL">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="amp:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_AMPUTATION_DT_SIGN_DIAG">  <xs:annotation>     <xs:documentation>Are there any significant diagnostic test findings and/or results?</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Yes"/>            <xs:enumeration value="No"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="amp:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_AMPUTATION_DT_SIGN_DIAG_SUMMARY">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="amp:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_AMPUTATION_FI">  <xs:annotation>     <xs:documentation>Do any of the Veteran's amputations impact his or her ability to work?</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Yes"/>            <xs:enumeration value="No"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="amp:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_AMPUTATION_FI_DESCRIBE">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="amp:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_AMPUTATION_REMARKS">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="amp:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ACE_1">  <xs:annotation>    <xs:documentation></xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="amp:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ACE_2">  <xs:annotation>    <xs:documentation></xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="amp:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ACE_3">  <xs:annotation>    <xs:documentation>Examination via approved video telehealth</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="amp:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ACE_4">  <xs:annotation>    <xs:documentation>In-person examination</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="amp:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ACE_5_RevRec_1">  <xs:annotation>     <xs:documentation>Was the Veteran's VA claims file reviewed?</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Yes"/>            <xs:enumeration value="No"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="amp:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ACE_5_RevRec_2">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="amp:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ACE_5_RevRec_3">  <xs:annotation>    <xs:documentation>Military service treatment records</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="amp:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ACE_5_RevRec_4">  <xs:annotation>    <xs:documentation>Military service personnel records</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="amp:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ACE_5_RevRec_5">  <xs:annotation>    <xs:documentation>Military enlistment examination</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="amp:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ACE_5_RevRec_6">  <xs:annotation>    <xs:documentation>Military separation examination</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="amp:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ACE_5_RevRec_7">  <xs:annotation>    <xs:documentation>Military post-deployment questionnaire</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="amp:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ACE_5_RevRec_8">  <xs:annotation>    <xs:documentation>Department of Defense Form 214 Separation Documents</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="amp:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ACE_5_RevRec_9">  <xs:annotation>    <xs:documentation>Veterans Health Administration medical records (VA treatment records)</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="amp:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ACE_5_RevRec_10">  <xs:annotation>    <xs:documentation>Civilian medical records</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="amp:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ACE_5_RevRec_11">  <xs:annotation>    <xs:documentation>Interviews with collateral witnesses (family and others who have known the Veteran before and after military service)</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="amp:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ACE_5_RevRec_12">  <xs:annotation>    <xs:documentation>No records were reviewed</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="amp:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ACE_5_RevRec_13">  <xs:annotation>    <xs:documentation>Other:</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="amp:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ACE_5_RevRec_14">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="amp:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_AMPUTATION_LOWER_SUITABLE_PROSTHETIC">  <xs:annotation>     <xs:documentation>b. Does the thigh amputation site allow the use of a suitable prosthetic appliance?</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Yes"/>            <xs:enumeration value="No"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="amp:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
  </xs:all>  </xs:complexType>  <xs:element name="AmputationsForm" type="amp:AmputationsFormType"/>  <xs:complexType name="Metadata">    <xs:all>      <xs:element name="code" type="xs:string"/>      <xs:element name="codeSystem" type="xs:string"/>      <xs:element name="version" type="xs:string"/>      <xs:element name="source" type="xs:string"/>    </xs:all>  </xs:complexType></xs:schema>
