legacy/Ankle_Conditions_DBQ_v13_5_T1_I1.pnl.xsd

<?xml version="1.0" encoding="UTF-8"?><xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ac="http://vler.va.gov/vler/schemas/health/clinicalDocuments/clinicalAssessments/cpExams/1.3/AnkleConditions" targetNamespace="http://vler.va.gov/vler/schemas/health/clinicalDocuments/clinicalAssessments/cpExams/1.3/AnkleConditions" version="1.0">  <xs:complexType name="AnkleConditionsFormType">  <xs:all>
<xs:element name="EXAM_ANKLE_AD_WH_FOU">  <xs:annotation>     <xs:documentation></xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Occasional"/>            <xs:enumeration value="Regular"/>            <xs:enumeration value="Constant"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="ac:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="DIAGNOSIS_ANKLE_DIAGNOSIS">  <xs:annotation>     <xs:documentation>Does the Veteran now have or has he/she ever had an ankle condition?</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Yes"/>            <xs:enumeration value="No"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="ac:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="DIAGNOSIS_ANKLE_DIAGNOSIS_1">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="ac:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="DIAGNOSIS_ANKLE_ICD_CODE_1">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="ac:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="DIAGNOSIS_ANKLE_DATE_1">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="ac:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="DIAGNOSIS_ANKLE_DIAGNOSIS_1_SA">  <xs:annotation>     <xs:documentation></xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Right"/>            <xs:enumeration value="Left"/>            <xs:enumeration value="Both"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="ac:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="DIAGNOSIS_ANKLE_DIAGNOSIS_2">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="ac:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="DIAGNOSIS_ANKLE_ICD_CODE_2">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="ac:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="DIAGNOSIS_ANKLE_DATE_2">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="ac:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="DIAGNOSIS_ANKLE_DIAGNOSIS_2_SA">  <xs:annotation>     <xs:documentation></xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Right"/>            <xs:enumeration value="Left"/>            <xs:enumeration value="Both"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="ac:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="DIAGNOSIS_ANKLE_DIAGNOSIS_3">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="ac:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="DIAGNOSIS_ANKLE_ICD_CODE_3">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="ac:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="DIAGNOSIS_ANKLE_DATE_3">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="ac:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="DIAGNOSIS_ANKLE_DIAGNOSIS_3_SA">  <xs:annotation>     <xs:documentation></xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Right"/>            <xs:enumeration value="Left"/>            <xs:enumeration value="Both"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="ac:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="HISTORY_ANKLE_DESCRIBE_HISTORY">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="ac:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="DIAGNOSIS_ANKLE_DIAGNOSIS_ADDITIONAL">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="ac:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="HISTORY_ANKLE_FLARE_UPS">  <xs:annotation>     <xs:documentation>Does the Veteran report that flare-ups impact the function of the ankle?</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Yes"/>            <xs:enumeration value="No"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="ac:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="HISTORY_ANKLE_FLARE_UPS_Y">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="ac:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ANKLE_ROM_PFE_R_PM">  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="No objective evidence of painful motion"/>            <xs:enumeration value="0"/>            <xs:enumeration value="5"/>            <xs:enumeration value="10"/>            <xs:enumeration value="15"/>            <xs:enumeration value="20"/>            <xs:enumeration value="25"/>            <xs:enumeration value="30"/>            <xs:enumeration value="35"/>            <xs:enumeration value="40"/>            <xs:enumeration value="45 or greater"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="ac:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ANKLE_ROM_DFE_R_PM">  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="No objective evidence of painful motion"/>            <xs:enumeration value="0"/>            <xs:enumeration value="5"/>            <xs:enumeration value="10"/>            <xs:enumeration value="15"/>            <xs:enumeration value="20 or greater"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="ac:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ANKLE_ROM_PFE_L_PM">  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="No objective evidence of painful motion"/>            <xs:enumeration value="0"/>            <xs:enumeration value="5"/>            <xs:enumeration value="10"/>            <xs:enumeration value="15"/>            <xs:enumeration value="20"/>            <xs:enumeration value="25"/>            <xs:enumeration value="30"/>            <xs:enumeration value="35"/>            <xs:enumeration value="40"/>            <xs:enumeration value="45 or greater"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="ac:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ANKLE_ROM_DFE_L_PM">  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="No objective evidence of painful motion"/>            <xs:enumeration value="0"/>            <xs:enumeration value="5"/>            <xs:enumeration value="10"/>            <xs:enumeration value="15"/>            <xs:enumeration value="20 or greater"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="ac:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ANKLE_ROM_NOT_NORM">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="ac:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ANKLE_ROM_AFTER_RUT">  <xs:annotation>     <xs:documentation>Is the Veteran able to perform repetitive-use testing with 3 repetitions?</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Yes"/>            <xs:enumeration value="No"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="ac:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ANKLE_ROM_AFTER_RUT_NO">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="ac:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ANKLE_ROM_ADD_LIM">  <xs:annotation>     <xs:documentation>a. Does the Veteran have additional limitation in ROM of the ankle following repetitive-use testing?</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Yes"/>            <xs:enumeration value="No"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="ac:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ANKLE_ROM_FUNC_LOSS">  <xs:annotation>     <xs:documentation>b. Does the Veteran have any functional loss and/or functional impairment of the ankle?</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Yes"/>            <xs:enumeration value="No"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="ac:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ANKLE_ROM_FL_LESSMOVEMENT">  <xs:annotation>    <xs:documentation>Less movement than normal</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="ac:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ANKLE_ROM_FL_NONE_RLE">  <xs:annotation>    <xs:documentation>No functional loss for right lower extremity attributable to claimed condition</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="ac:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ANKLE_ROM_FL_NONE_LLE">  <xs:annotation>    <xs:documentation>No functional loss for left lower extremity attributable to claimed condition</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="ac:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ANKLE_ROM_FL_MOREMOVEMENT">  <xs:annotation>    <xs:documentation>More movement than normal</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="ac:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ANKLE_ROM_FL_WEAKENEDMOVEMENT">  <xs:annotation>    <xs:documentation>Weakened movement</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="ac:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ANKLE_ROM_FL_EF">  <xs:annotation>    <xs:documentation>Excess fatigability</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="ac:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ANKLE_ROM_FL_INCOORD">  <xs:annotation>    <xs:documentation>Incoordination, impaired ability to execute skilled movements smoothly</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="ac:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ANKLE_ROM_FL_PAIN">  <xs:annotation>    <xs:documentation>Pain on movement</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="ac:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ANKLE_ROM_FL_SWELLING">  <xs:annotation>    <xs:documentation>Swelling</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="ac:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ANKLE_ROM_FL_DEFORMITY">  <xs:annotation>    <xs:documentation>Deformity</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="ac:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ANKLE_ROM_FL_ATROPHY">  <xs:annotation>    <xs:documentation>Atrophy of disuse</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="ac:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ANKLE_ROM_FL_INSTABILITY">  <xs:annotation>    <xs:documentation>Instability of station</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="ac:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ANKLE_ROM_FL_DISTURB">  <xs:annotation>    <xs:documentation>Disturbance of locomotion</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="ac:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ANKLE_ROM_FL_INTERFERENCE">  <xs:annotation>    <xs:documentation>Interference with sitting, standing and weight-bearing</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="ac:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ANKLE_ROM_FL_OTHER">  <xs:annotation>    <xs:documentation>Other, describe:</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="ac:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ANKLE_ROM_FL_OTHER_FILLIN_MEMOBOX">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="ac:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ANKLE_PAIN_PALPATION">  <xs:annotation>     <xs:documentation>Does the Veteran have localized tenderness or pain on palpation of joints/soft tissue of either ankle?</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Yes"/>            <xs:enumeration value="No"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="ac:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ANKLE_PAIN_PALP_SA">  <xs:annotation>     <xs:documentation></xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Right"/>            <xs:enumeration value="Left"/>            <xs:enumeration value="Both"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="ac:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ANKLE_ROM_FL_LESSMOVEMENT_RLB">  <xs:annotation>     <xs:documentation></xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Right"/>            <xs:enumeration value="Left"/>            <xs:enumeration value="Both"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="ac:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ANKLE_ROM_FL_MOREMOVEMENT_RLB">  <xs:annotation>     <xs:documentation></xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Right"/>            <xs:enumeration value="Left"/>            <xs:enumeration value="Both"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="ac:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ANKLE_ROM_FL_WEAKENEDMOVEMENT_RLB">  <xs:annotation>     <xs:documentation></xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Right"/>            <xs:enumeration value="Left"/>            <xs:enumeration value="Both"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="ac:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ANKLE_ROM_FL_EF_RLB">  <xs:annotation>     <xs:documentation></xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Right"/>            <xs:enumeration value="Left"/>            <xs:enumeration value="Both"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="ac:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ANKLE_ROM_FL_INCOORD_RLB">  <xs:annotation>     <xs:documentation></xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Right"/>            <xs:enumeration value="Left"/>            <xs:enumeration value="Both"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="ac:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ANKLE_ROM_FL_PAIN_RLB">  <xs:annotation>     <xs:documentation></xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Right"/>            <xs:enumeration value="Left"/>            <xs:enumeration value="Both"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="ac:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ANKLE_ROM_FL_SWELLING_RLB">  <xs:annotation>     <xs:documentation></xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Right"/>            <xs:enumeration value="Left"/>            <xs:enumeration value="Both"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="ac:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ANKLE_ROM_FL_DEFORMITY_RLB">  <xs:annotation>     <xs:documentation></xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Right"/>            <xs:enumeration value="Left"/>            <xs:enumeration value="Both"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="ac:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ANKLE_ROM_FL_ATROPHY_RLB">  <xs:annotation>     <xs:documentation></xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Right"/>            <xs:enumeration value="Left"/>            <xs:enumeration value="Both"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="ac:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ANKLE_ROM_FL_INSTABILITY_RLB">  <xs:annotation>     <xs:documentation></xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Right"/>            <xs:enumeration value="Left"/>            <xs:enumeration value="Both"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="ac:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ANKLE_ROM_FL_DISTURB_RLB">  <xs:annotation>     <xs:documentation></xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Right"/>            <xs:enumeration value="Left"/>            <xs:enumeration value="Both"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="ac:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ANKLE_ROM_FL_INTERFERENCE_RLB">  <xs:annotation>     <xs:documentation></xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Right"/>            <xs:enumeration value="Left"/>            <xs:enumeration value="Both"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="ac:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ANKLE_MST_PF_R">  <xs:annotation>     <xs:documentation></xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="5/5"/>            <xs:enumeration value="4/5"/>            <xs:enumeration value="3/5"/>            <xs:enumeration value="2/5"/>            <xs:enumeration value="1/5"/>            <xs:enumeration value="0/5"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="ac:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ANKLE_MST_PF_L">  <xs:annotation>     <xs:documentation></xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="5/5"/>            <xs:enumeration value="4/5"/>            <xs:enumeration value="3/5"/>            <xs:enumeration value="2/5"/>            <xs:enumeration value="1/5"/>            <xs:enumeration value="0/5"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="ac:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ANKLE_MST_DF_R">  <xs:annotation>     <xs:documentation></xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="5/5"/>            <xs:enumeration value="4/5"/>            <xs:enumeration value="3/5"/>            <xs:enumeration value="2/5"/>            <xs:enumeration value="1/5"/>            <xs:enumeration value="0/5"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="ac:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ANKLE_MST_DF_L">  <xs:annotation>     <xs:documentation></xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="5/5"/>            <xs:enumeration value="4/5"/>            <xs:enumeration value="3/5"/>            <xs:enumeration value="2/5"/>            <xs:enumeration value="1/5"/>            <xs:enumeration value="0/5"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="ac:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ANKLE_JOINT_STABILITY_AD_YNU">  <xs:annotation>     <xs:documentation></xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Yes"/>            <xs:enumeration value="No"/>            <xs:enumeration value="Unable to test"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="ac:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ANKLE_JOINT_STABILITY_AD_RLB">  <xs:annotation>     <xs:documentation></xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Right"/>            <xs:enumeration value="Left"/>            <xs:enumeration value="Both"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="ac:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ANKLE_JOINT_STABILITY_TT_YNU">  <xs:annotation>     <xs:documentation></xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Yes"/>            <xs:enumeration value="No"/>            <xs:enumeration value="Unable to test"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="ac:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ANKLE_JOINT_STABILITY_TT_RLB">  <xs:annotation>     <xs:documentation></xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Right"/>            <xs:enumeration value="Left"/>            <xs:enumeration value="Both"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="ac:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ANKLE_ANKYLOSIS_PF_LESS_30">  <xs:annotation>    <xs:documentation>In plantar flexion, less than 30º</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="ac:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ANKLE_ANKYLOSIS_PF_LESS_30_RLB">  <xs:annotation>     <xs:documentation></xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Right"/>            <xs:enumeration value="Left"/>            <xs:enumeration value="Both"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="ac:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ANKLE_ANKYLOSIS_PF_30_40">  <xs:annotation>    <xs:documentation>In plantar flexion, between 30º and 40º</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="ac:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ANKLE_ANKYLOSIS_PF_30_40_RLB">  <xs:annotation>     <xs:documentation></xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Right"/>            <xs:enumeration value="Left"/>            <xs:enumeration value="Both"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="ac:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ANKLE_ANKYLOSIS_PF_MORE_40">  <xs:annotation>    <xs:documentation>In plantar flexion, at more than 40º</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="ac:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ANKLE_ANKYLOSIS_PF_MORE_40_RLB">  <xs:annotation>     <xs:documentation></xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Right"/>            <xs:enumeration value="Left"/>            <xs:enumeration value="Both"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="ac:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ANKLE_ANKYLOSIS_DF_0_10">  <xs:annotation>    <xs:documentation>In dorsiflexion, between 0º and 10º</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="ac:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ANKLE_ANKYLOSIS_DF_0_10_RLB">  <xs:annotation>     <xs:documentation></xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Right"/>            <xs:enumeration value="Left"/>            <xs:enumeration value="Both"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="ac:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ANKLE_ANKYLOSIS_DF_MORE_10">  <xs:annotation>    <xs:documentation>In dorsiflexion, at more than 10º</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="ac:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ANKLE_ANKYLOSIS_DF_MORE_10_RLB">  <xs:annotation>     <xs:documentation></xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Right"/>            <xs:enumeration value="Left"/>            <xs:enumeration value="Both"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="ac:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ANKLE_ANKYLOSIS_WITH_AB">  <xs:annotation>    <xs:documentation>With abduction, adduction, inversion or eversion deformity</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="ac:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ANKLE_ANKYLOSIS_WITH_AB_RLB">  <xs:annotation>     <xs:documentation></xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Right"/>            <xs:enumeration value="Left"/>            <xs:enumeration value="Both"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="ac:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ANKLE_ANKYLOSIS_GOOD_WB">  <xs:annotation>    <xs:documentation>In good weight-bearing position</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="ac:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ANKLE_ANKYLOSIS_GOOD_WB_RLB">  <xs:annotation>     <xs:documentation></xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Right"/>            <xs:enumeration value="Left"/>            <xs:enumeration value="Both"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="ac:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ANKLE_ANKYLOSIS_POOR_WB">  <xs:annotation>    <xs:documentation>In poor weight-bearing position</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="ac:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ANKLE_ANKYLOSIS_POOR_WB_RLB">  <xs:annotation>     <xs:documentation></xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Right"/>            <xs:enumeration value="Left"/>            <xs:enumeration value="Both"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="ac:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ANKLE_ADD_COND_YN">  <xs:annotation>     <xs:documentation></xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Yes"/>            <xs:enumeration value="No"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="ac:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ANKLE_ADD_COND_SHIN_SPLINTS">  <xs:annotation>    <xs:documentation>a. "Shin splints" (medial tibial stress syndrome)</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="ac:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ANKLE_ADD_COND_ACHILLES">  <xs:annotation>    <xs:documentation>c. Achilles tendonitis or Achilles tendon rupture</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="ac:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ANKLE_ADD_COND_SHIN_SPLINTS_RLB">  <xs:annotation>     <xs:documentation></xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Right"/>            <xs:enumeration value="Left"/>            <xs:enumeration value="Both"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="ac:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ANKLE_ADD_COND_SHIN_SPLINTS_MB">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="ac:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ANKLE_ADD_COND_STRESS_FX_MB">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="ac:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ANKLE_ADD_COND_ACHILLES_MB">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="ac:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ANKLE_ADD_COND_ACHILLES_RLB">  <xs:annotation>     <xs:documentation></xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Right"/>            <xs:enumeration value="Left"/>            <xs:enumeration value="Both"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="ac:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ANKLE_ADD_COND_MALUNION">  <xs:annotation>    <xs:documentation>d. Malunion of calcaneous (os calcis) or talus (astragalus)</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="ac:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ANKLE_ADD_COND_MALUNION_MODERATE_SA">  <xs:annotation>     <xs:documentation></xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Right"/>            <xs:enumeration value="Left"/>            <xs:enumeration value="Both"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="ac:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ANKLE_ADD_COND_TALECTOMY">  <xs:annotation>    <xs:documentation>e. Talectomy</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="ac:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ANKLE_ADD_COND_TALECTOMY_MB">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="ac:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ANKLE_ADD_COND_STRESS_FX_RLB">  <xs:annotation>     <xs:documentation></xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Right"/>            <xs:enumeration value="Left"/>            <xs:enumeration value="Both"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="ac:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ANKLE_ADD_COND_STRESS_FX">  <xs:annotation>    <xs:documentation>b. Stress fracture of the lower extremity</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="ac:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ANKLE_JOINT_REP_YN">  <xs:annotation>     <xs:documentation></xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Yes"/>            <xs:enumeration value="No"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="ac:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ANKLE_JOINT_REP_R">  <xs:annotation>    <xs:documentation>Right ankle</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="ac:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ANKLE_JOINT_REP_R_RESIDUALS_RG">  <xs:annotation>     <xs:documentation></xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="None"/>            <xs:enumeration value="Intermediate degrees of residual weakness, pain and/or limitation of motion"/>            <xs:enumeration value="Chronic residuals consisting of severe painful motion and/or weakness"/>            <xs:enumeration value="Other, describe:"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="ac:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ANKLE_JOINT_REP_R_DATE_SURG_EB">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="ac:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ANKLE_JOINT_REP_L_DATE_SURG_EB">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="ac:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ANKLE_JOINT_REP_R_RESIDUALS_MB">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="ac:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ANKLE_JOINT_REP_L">  <xs:annotation>    <xs:documentation>Left ankle</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="ac:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ANKLE_JOINT_REP_L_RESIDUALS_RG">  <xs:annotation>     <xs:documentation></xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="None"/>            <xs:enumeration value="Intermediate degrees of residual weakness, pain and/or limitation of motion"/>            <xs:enumeration value="Chronic residuals consisting of severe painful motion and/or weakness"/>            <xs:enumeration value="Other, describe:"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="ac:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ANKLE_JOINT_REP_ARTHRO_YN">  <xs:annotation>     <xs:documentation></xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Yes"/>            <xs:enumeration value="No"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="ac:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ANKLE_JOINT_REP_ARTHRO_RLB">  <xs:annotation>     <xs:documentation></xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Right"/>            <xs:enumeration value="Left"/>            <xs:enumeration value="Both"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="ac:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ANKLE_JOINT_REP_ARTHRO_MB">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="ac:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ANKLE_JOINT_REP_RESIDUAL_SIGNS_YN">  <xs:annotation>     <xs:documentation></xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Yes"/>            <xs:enumeration value="No"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="ac:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ANKLE_JOINT_REP_RESIDUAL_SIGNS_RLB">  <xs:annotation>     <xs:documentation></xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Right"/>            <xs:enumeration value="Left"/>            <xs:enumeration value="Both"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="ac:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ANKLE_JOINT_REP_RESIDUAL_SIGNS_MB">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="ac:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ANKLE_OPP_SCARS_YES">  <xs:annotation>     <xs:documentation>If yes, are any of the scars painful and/or unstable, or is the total area of all related scars greater than 39 square cm (6 square inches)?</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Yes"/>            <xs:enumeration value="No"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="ac:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ANKLE_OPP_OTHER_PERT">  <xs:annotation>     <xs:documentation></xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Yes"/>            <xs:enumeration value="No"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="ac:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ANKLE_OPP_OTHER_PERT_DESCRIBE">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="ac:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ANKLE_ANKLE_AD">  <xs:annotation>     <xs:documentation></xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Yes"/>            <xs:enumeration value="No"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="ac:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ANKLE_ANKLE_AD_BR">  <xs:annotation>    <xs:documentation>Brace(s)</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="ac:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ANKLE_AD_BR_FOU">  <xs:annotation>     <xs:documentation></xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Occasional"/>            <xs:enumeration value="Regular"/>            <xs:enumeration value="Constant"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="ac:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ANKLE_ANKLE_DT_OTHER_SIGN">  <xs:annotation>     <xs:documentation>b. Are there any other significant diagnostic test findings and/or results?</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Yes"/>            <xs:enumeration value="No"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="ac:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ANKLE_AD_WH">  <xs:annotation>    <xs:documentation>Wheelchair</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="ac:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ANKLE_AD_CR">  <xs:annotation>    <xs:documentation>Crutch(es)</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="ac:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ANKLE_AD_CR_FOU">  <xs:annotation>     <xs:documentation></xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Occasional"/>            <xs:enumeration value="Regular"/>            <xs:enumeration value="Constant"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="ac:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ANKLE_AD_CA">  <xs:annotation>    <xs:documentation>Cane(s)</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="ac:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ANKLE_AD_CA_FOU">  <xs:annotation>     <xs:documentation></xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Occasional"/>            <xs:enumeration value="Regular"/>            <xs:enumeration value="Constant"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="ac:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ANKLE_AD_WA">  <xs:annotation>    <xs:documentation>Walker</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="ac:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ANKLE_AD_WA_FOU">  <xs:annotation>     <xs:documentation></xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Occasional"/>            <xs:enumeration value="Regular"/>            <xs:enumeration value="Constant"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="ac:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ANKLE_AD_OTH">  <xs:annotation>    <xs:documentation>Other:</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="ac:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ANKLE_AD_OTH_EDITBOX">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="ac:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ANKLE_AD_SPECIFY">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="ac:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ANKLE_REF_YES_RIGHT">  <xs:annotation>    <xs:documentation>Right lower</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="ac:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ANKLE_REF_YES_LEFT">  <xs:annotation>    <xs:documentation>Left lower</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="ac:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ANKLE_REF_YES_DESCRIBE">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="ac:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ANKLE_DT_IMAGING">  <xs:annotation>     <xs:documentation>a. Have imaging studies of the ankle been performed and are the results available?</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Yes"/>            <xs:enumeration value="No"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="ac:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ANKLE_DT_IMAGING_CB_ANKLYLOSIS">  <xs:annotation>    <xs:documentation>Ankylosis</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="ac:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ANKLE_DT_IMAGING_CB_ARTHRITIS">  <xs:annotation>    <xs:documentation>Degenerative or traumatic arthritis</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="ac:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ANKLE_DT_IMAGING_CB_OTHER">  <xs:annotation>    <xs:documentation>Other.  Describe:</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="ac:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ANKLE_DT_IMAGING_YES">  <xs:annotation>     <xs:documentation>If yes, are there abnormal findings?</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Yes"/>            <xs:enumeration value="No"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="ac:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ANKLE_DT_IMAGING_ARTHRITIS_RLB">  <xs:annotation>     <xs:documentation></xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Right"/>            <xs:enumeration value="Left"/>            <xs:enumeration value="Both"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="ac:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ANKLE_DT_IMAGING_ANKLYLOSIS_RLB">  <xs:annotation>     <xs:documentation></xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Right"/>            <xs:enumeration value="Left"/>            <xs:enumeration value="Both"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="ac:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ANKLE_DT_IMAGING_OTHER_RLB">  <xs:annotation>     <xs:documentation></xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Right"/>            <xs:enumeration value="Left"/>            <xs:enumeration value="Both"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="ac:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ANKLE_DT_IMAGING_MEMO_OTHER_DESCRIBE">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="ac:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ANKLE_AD_OTH_FOU">  <xs:annotation>     <xs:documentation></xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Occasional"/>            <xs:enumeration value="Regular"/>            <xs:enumeration value="Constant"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="ac:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ANKLE_DT_IMAGING_SIGN_MEMO">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="ac:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ANKLE_FI_ABILITY_TO_WORK">  <xs:annotation>     <xs:documentation>Does the Veteran's ankle condition impact his or her ability to work?</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Yes"/>            <xs:enumeration value="No"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="ac:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ANKLE_FI_ABILITY_TO_WORK_YES">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="ac:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ANKLE_REMARKS_MEMO">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="ac:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ANKLE_JOINT_REP_L_RESIDUALS_MB">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="ac:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ANKLE_OPP_SCARS">  <xs:annotation>     <xs:documentation></xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Yes"/>            <xs:enumeration value="No"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="ac:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAMGROUP_CARDIO_IHD_Name">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="ac:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ANKLE_ADD_COND_MALUNION_MODERATE">  <xs:annotation>    <xs:documentation>Moderate deformity</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="ac:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ANKLE_ADD_COND_MALUNION_MARKED">  <xs:annotation>    <xs:documentation>Marked deformity</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="ac:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ANKLE_ADD_COND_MALUNION_MARKED_SA">  <xs:annotation>     <xs:documentation></xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Right"/>            <xs:enumeration value="Left"/>            <xs:enumeration value="Both"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="ac:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ANKLE_REF">  <xs:annotation>     <xs:documentation></xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Yes, functioning is so diminished that amputation with prosthesis would equally serve the Veteran."/>            <xs:enumeration value="No"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="ac:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ANKLE_ANKYLOSIS">  <xs:annotation>     <xs:documentation>Does the Veteran have ankylosis of the ankle, subtalar and/or tarsal joint?</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Yes"/>            <xs:enumeration value="No"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="ac:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ANKLE_ADD_COND_TALECTOMY_RLB">  <xs:annotation>     <xs:documentation></xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Right"/>            <xs:enumeration value="Left"/>            <xs:enumeration value="Both"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="ac:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ACE_1">  <xs:annotation>    <xs:documentation></xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="ac:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ACE_2">  <xs:annotation>    <xs:documentation></xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="ac:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ACE_3">  <xs:annotation>    <xs:documentation>Examination via approved video telehealth</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="ac:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ACE_4">  <xs:annotation>    <xs:documentation>In-person examination</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="ac:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ACE_5_RevRec_1">  <xs:annotation>     <xs:documentation>Was the Veteran's VA claims file reviewed?</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Yes"/>            <xs:enumeration value="No"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="ac:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ACE_5_RevRec_2">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="ac:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ACE_5_RevRec_3">  <xs:annotation>    <xs:documentation>Military service treatment records</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="ac:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ACE_5_RevRec_4">  <xs:annotation>    <xs:documentation>Military service personnel records</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="ac:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ACE_5_RevRec_5">  <xs:annotation>    <xs:documentation>Military enlistment examination</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="ac:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ACE_5_RevRec_6">  <xs:annotation>    <xs:documentation>Military separation examination</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="ac:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ACE_5_RevRec_7">  <xs:annotation>    <xs:documentation>Military post-deployment questionnaire</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="ac:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ACE_5_RevRec_8">  <xs:annotation>    <xs:documentation>Department of Defense Form 214 Separation Documents</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="ac:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ACE_5_RevRec_9">  <xs:annotation>    <xs:documentation>Veterans Health Administration medical records (VA treatment records)</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="ac:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ACE_5_RevRec_10">  <xs:annotation>    <xs:documentation>Civilian medical records</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="ac:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ACE_5_RevRec_11">  <xs:annotation>    <xs:documentation>Interviews with collateral witnesses (family and others who have known the Veteran before and after military service)</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="ac:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ACE_5_RevRec_12">  <xs:annotation>    <xs:documentation>No records were reviewed</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="ac:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ACE_5_RevRec_13">  <xs:annotation>    <xs:documentation>Other:</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="ac:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ACE_5_RevRec_14">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="ac:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ANKLE_REMARKS_MITCHELL">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="ac:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="FORM_MUSCULOSKELETAL_ANKLE_IROM_RAnkle__PlantarFlexion_ROMMeasurement_EB">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="ac:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="FORM_MUSCULOSKELETAL_ANKLE_IROM_RAnkle__DorsiFlexion_ROMMeasurement_EB">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="ac:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="FORM_MUSCULOSKELETAL_ANKLE_IROM_LAnkle__PlantarFlexion_ROMMeasurement_EB">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="ac:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="FORM_MUSCULOSKELETAL_ANKLE_IROM_LAnkle__DorsiFlexion_ROMMeasurement_EB">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="ac:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="FORM_MUSCULOSKELETAL_ANKLE_PostTestROM_RA_RepetitiveUseTesting_PlantarFlexion_ROMM_EB">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="ac:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="FORM_MUSCULOSKELETAL_ANKLE_PostTestROM_RA_RepetitiveUseTesting_DorsiFlexion_ROMM_EB">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="ac:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="FORM_MUSCULOSKELETAL_ANKLE_PostTestROM_LA_RepetitiveUseTesting_PlantarFlexion_ROMM_EB">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="ac:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="FORM_MUSCULOSKELETAL_ANKLE_PostTestROM_LA_RepetitiveUseTesting_DorsiFlexion_ROMM_EB_80">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="ac:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="FORM_MUSCULOSKELETAL_ANKLE_MitchellCriteria_Revised_CB">  <xs:annotation>    <xs:documentation>Mitchell criteria addressed as appropriate.</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="ac:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
  </xs:all>  </xs:complexType>  <xs:element name="AnkleConditionsForm" type="ac:AnkleConditionsFormType"/>  <xs:complexType name="Metadata">    <xs:all>      <xs:element name="code" type="xs:string"/>      <xs:element name="codeSystem" type="xs:string"/>      <xs:element name="version" type="xs:string"/>      <xs:element name="source" type="xs:string"/>    </xs:all>  </xs:complexType></xs:schema>
