legacy/Chronic_Fatigue_Syndrome_DBQ_v13_2_T1.pnl.xsd

<?xml version="1.0" encoding="UTF-8"?><xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:cfs="http://vler.va.gov/vler/schemas/health/clinicalDocuments/clinicalAssessments/cpExams/1.3/ChronicFatigueSyndrome" targetNamespace="http://vler.va.gov/vler/schemas/health/clinicalDocuments/clinicalAssessments/cpExams/1.3/ChronicFatigueSyndrome" version="1.0">  <xs:complexType name="ChronicFatigueSyndromeFormType">  <xs:all>
<xs:element name="EXAMGROUP_CARDIO_IHD_Name">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="cfs:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="DIAGNOSIS_RHEUM_CFS_DG">  <xs:annotation>     <xs:documentation>Does the Veteran now have or has/she ever been diagnosed with chronic fatigue syndrome?</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Yes"/>            <xs:enumeration value="No"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="cfs:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="DIAGNOSIS_RHEUM_CFS_DG_CFS">  <xs:annotation>    <xs:documentation>Chronic fatigue syndrome</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="cfs:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="DIAGNOSIS_RHEUM_CFS_DG_CFS_ICD">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="cfs:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="DIAGNOSIS_RHEUM_CFS_DG_CFS_DATE">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="cfs:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="DIAGNOSIS_RHEUM_CFS_DG_OTH">  <xs:annotation>    <xs:documentation>Other, specify:</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="cfs:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="DIAGNOSIS_RHEUM_CFS_DG_OTH_DG1">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="cfs:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="DIAGNOSIS_RHEUM_CFS_DG_OTH_ICD1">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="cfs:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="DIAGNOSIS_RHEUM_CFS_DG_OTH_DATE1">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="cfs:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="DIAGNOSIS_RHEUM_CFS_DG_OTH_DG2">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="cfs:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="DIAGNOSIS_RHEUM_CFS_DG_OTH_ICD2">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="cfs:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="DIAGNOSIS_RHEUM_CFS_DG_OTH_DATE2">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="cfs:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="DIAGNOSIS_RHEUM_CFS_DG_OTH_ADD">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="cfs:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="HISTORY_RHEUM_CFS_HX">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="cfs:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="HISTORY_RHEUM_CFS_HX_MED">  <xs:annotation>     <xs:documentation>b. Is continuous medication required for control of chronic fatigue syndrome?</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Yes"/>            <xs:enumeration value="No"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="cfs:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="HISTORY_RHEUM_CFS_HX_MED_YES">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="cfs:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="HISTORY_RHEUM_CFS_HX_OTH_COND">  <xs:annotation>     <xs:documentation></xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Yes"/>            <xs:enumeration value="No"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="cfs:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="HISTORY_RHEUM_CFS_HX_DILB_FATIG_YES">  <xs:annotation>     <xs:documentation>If yes, specify length of time daily activity level has been reduced to less than 50% of pre-illness level:</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Less than 6 months"/>            <xs:enumeration value="6 months or longer"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="cfs:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_RHEUM_CFS_SAS">  <xs:annotation>     <xs:documentation>a. Does the Veteran now have or has the Veteran had any findings, signs and symptoms attributable to chronic fatigue syndrome?</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Yes"/>            <xs:enumeration value="No"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="cfs:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_RHEUM_CFS_SAS_DEBILITATING">  <xs:annotation>    <xs:documentation>Debilitating fatigue</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="cfs:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_RHEUM_CFS_SAS_FEVER">  <xs:annotation>    <xs:documentation>Low grade fever</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="cfs:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_RHEUM_CFS_SAS_PHARYNGITIS">  <xs:annotation>    <xs:documentation>Nonexudative pharyngitis</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="cfs:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_RHEUM_CFS_SAS_NODE">  <xs:annotation>    <xs:documentation>Palpable or tender cervical or axillary lymph nodes</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="cfs:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_RHEUM_CFS_SAS_WEAK">  <xs:annotation>    <xs:documentation>Generalized muscle aches or weakness</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="cfs:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_RHEUM_CFS_SAS_FATIG">  <xs:annotation>    <xs:documentation>Fatigue lasting 24 hours or longer after exercise</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="cfs:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_RHEUM_CFS_SAS_HEADACHE">  <xs:annotation>    <xs:documentation>Headaches (of a type, severity or pattern that is different from headaches in the pre-morbid state)</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="cfs:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_RHEUM_CFS_SAS_JOINT">  <xs:annotation>    <xs:documentation>Migratory joint pains</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="cfs:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_RHEUM_CFS_SAS_NEURO">  <xs:annotation>    <xs:documentation>Neuropsychological symptoms</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="cfs:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_RHEUM_CFS_SAS_SLEEP">  <xs:annotation>    <xs:documentation>Sleep disturbance</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="cfs:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_RHEUM_CFS_SAS_OTH">  <xs:annotation>    <xs:documentation>Other</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="cfs:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_RHEUM_CFS_SAS_OTH_DESC">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="cfs:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_RHEUM_CFS_SAS_COGN_IMPAIR">  <xs:annotation>     <xs:documentation>b. Does the Veteran now have or has the Veteran had any cognitive impairment attributable to chronic fatigue syndrome?</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Yes"/>            <xs:enumeration value="No"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="cfs:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_RHEUM_CFS_SAS_COGN_IMPAIR_ATTN">  <xs:annotation>    <xs:documentation>Poor attention</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="cfs:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_RHEUM_CFS_SAS_COGN_IMPAIR_CONCEN">  <xs:annotation>    <xs:documentation>Inability to concentrate</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="cfs:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_RHEUM_CFS_SAS_COGN_IMPAIR_FORGET">  <xs:annotation>    <xs:documentation>Forgetfulness</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="cfs:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_RHEUM_CFS_SAS_COGN_IMPAIR_CONFUS">  <xs:annotation>    <xs:documentation>Confusion</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="cfs:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_RHEUM_CFS_SAS_COGN_IMPAIR_OTH">  <xs:annotation>    <xs:documentation>Other cognitive impairments</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="cfs:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_RHEUM_CFS_SAS_COGN_IMPAIR_OTH_DESC">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="cfs:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_RHEUM_CFS_SAS_FRQ_WAX">  <xs:annotation>    <xs:documentation>Symptoms wax and wane</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="cfs:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_RHEUM_CFS_SAS_FRQ_CONST">  <xs:annotation>    <xs:documentation>Symptoms are nearly constant</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="cfs:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_RHEUM_CFS_SAS_FRQ_OTH">  <xs:annotation>    <xs:documentation>Other</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="cfs:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_RHEUM_CFS_SAS_FRQ_OTH_DESC">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="cfs:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_RHEUM_CFS_SAS_INCAP_DUR">  <xs:annotation>     <xs:documentation>If yes, indicate total duration of periods of incapacitation over the past 12 months:</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Less than 1 week"/>            <xs:enumeration value="At least 1 but less than 2 weeks"/>            <xs:enumeration value="At least 2 but less than 4 weeks"/>            <xs:enumeration value="At least 4 but less than 6 weeks"/>            <xs:enumeration value="At least 6 weeks total duration per year"/>            <xs:enumeration value="Other, describe:"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="cfs:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_RHEUM_CFS_SAS_INCAP_DUR_DESC">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="cfs:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_RHEUM_CFS_SAS_LVL_25">  <xs:annotation>    <xs:documentation>Symptoms restrict routine daily activities by less than 25% of the pre-illness level (more than 75% of the pre-illness level of activities</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="cfs:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_RHEUM_CFS_SAS_LVL_75">  <xs:annotation>    <xs:documentation>Symptoms restrict routine daily activities to 50% to 75% of the pre-illness level</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="cfs:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_RHEUM_CFS_SAS_LVL_50">  <xs:annotation>    <xs:documentation>Symptoms restrict routine daily activities to less than 50% of the pre-illness level</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="cfs:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_RHEUM_CFS_SAS_LVL_CMPLT">  <xs:annotation>    <xs:documentation>Symptoms are so severe as to restrict routine daily activities almost completely</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="cfs:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_RHEUM_CFS_SAS_LVL_OCC">  <xs:annotation>    <xs:documentation>Symptoms are so severe as to occasionally preclude self-care</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="cfs:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_RHEUM_CFS_SAS_LVL_OCC_DESC">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="cfs:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_RHEUM_CFS_SAS_LVL_OTH">  <xs:annotation>    <xs:documentation>Other, describe:</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="cfs:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_RHEUM_CFS_SAS_LVL_OTH_DESC">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="cfs:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_RHEUM_CFS_SCAR">  <xs:annotation>     <xs:documentation></xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Yes"/>            <xs:enumeration value="No"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="cfs:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_RHEUM_CFS_SCAR_YES">  <xs:annotation>     <xs:documentation>If yes, are any of the scars painful and/or unstable, or is the total area of all related scars greater than 39 square cm (6 square inches)?</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Yes"/>            <xs:enumeration value="No"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="cfs:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_RHEUM_CFS_SCAR_OTH">  <xs:annotation>     <xs:documentation>b.  Does the Veteran have any other pertinent physical findings, complications, conditions, signs and/or symptoms of chronic fatigue syndrome?</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Yes"/>            <xs:enumeration value="No"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="cfs:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_RHEUM_CFS_SCAR_OTH_DESC">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="cfs:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="TESTS_RHEUM_CFS_FIND">  <xs:annotation>     <xs:documentation>Are there any significant diagnostic test findings and/or results?</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Yes"/>            <xs:enumeration value="No"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="cfs:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="TESTS_RHEUM_CFS_FIND_YES">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="cfs:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="ASSESSMENT_RHEUM_CFS_IMPACT">  <xs:annotation>     <xs:documentation>Does the Veteran's chronic fatigue syndrome impact his or her ability to work?</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Yes"/>            <xs:enumeration value="No"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="cfs:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="ASSESSMENT_RHEUM_CFS_IMPACT_DESC">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="cfs:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="MISC_RHEUM_CFS_REMARK">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="cfs:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_RHEUM_CFS_SAS_LVL_2">  <xs:annotation>     <xs:documentation>d. Do the Veteran's symptoms due to chronic fatigue syndrome restrict routine daily activities as compared to the pre-illness level?</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Yes"/>            <xs:enumeration value="No"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="cfs:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_RHEUM_CFS_SAS_INCAP_2">  <xs:annotation>     <xs:documentation>e. Do the Veteran's symptoms due to chronic fatigue syndrome result in periods of incapacitation?</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Yes"/>            <xs:enumeration value="No"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="cfs:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="HISTORY_RHEUM_CFS_HX_DILB_FATIG_2">  <xs:annotation>     <xs:documentation>e. Has debilitating fatigue reduced daily activity level to less than 50% of pre-illness level?</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Yes"/>            <xs:enumeration value="No"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="cfs:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="HISTORY_RHEUM_CFS_HX_ACUTE_ONSET_2">  <xs:annotation>     <xs:documentation>d. Did the Veteran have an acute onset of chronic fatigue syndrome?</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Yes"/>            <xs:enumeration value="No"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="cfs:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="HISTORY_RHEUM_CFS_HX_OTH_COND_NO">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="cfs:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="HISTORY_RHEUM_CFS_HX_CONTROL_2">  <xs:annotation>     <xs:documentation>If yes, are the Veteran's symptoms controlled by continuous medication?</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Yes"/>            <xs:enumeration value="No"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="cfs:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ACE_1">  <xs:annotation>    <xs:documentation></xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="cfs:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ACE_2">  <xs:annotation>    <xs:documentation></xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="cfs:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ACE_3">  <xs:annotation>    <xs:documentation>Examination via approved video telehealth</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="cfs:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ACE_4">  <xs:annotation>    <xs:documentation>In-person examination</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="cfs:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ACE_5_RevRec_1">  <xs:annotation>     <xs:documentation>Was the Veteran's VA claims file reviewed?</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Yes"/>            <xs:enumeration value="No"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="cfs:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ACE_5_RevRec_2">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="cfs:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ACE_5_RevRec_3">  <xs:annotation>    <xs:documentation>Military service treatment records</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="cfs:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ACE_5_RevRec_4">  <xs:annotation>    <xs:documentation>Military service personnel records</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="cfs:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ACE_5_RevRec_5">  <xs:annotation>    <xs:documentation>Military enlistment examination</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="cfs:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ACE_5_RevRec_6">  <xs:annotation>    <xs:documentation>Military separation examination</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="cfs:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ACE_5_RevRec_7">  <xs:annotation>    <xs:documentation>Military post-deployment questionnaire</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="cfs:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ACE_5_RevRec_8">  <xs:annotation>    <xs:documentation>Department of Defense Form 214 Separation Documents</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="cfs:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ACE_5_RevRec_9">  <xs:annotation>    <xs:documentation>Veterans Health Administration medical records (VA treatment records)</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="cfs:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ACE_5_RevRec_10">  <xs:annotation>    <xs:documentation>Civilian medical records</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="cfs:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ACE_5_RevRec_11">  <xs:annotation>    <xs:documentation>Interviews with collateral witnesses (family and others who have known the Veteran before and after military service)</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="cfs:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ACE_5_RevRec_12">  <xs:annotation>    <xs:documentation>No records were reviewed</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="cfs:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ACE_5_RevRec_13">  <xs:annotation>    <xs:documentation>Other:</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="cfs:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ACE_5_RevRec_14">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="cfs:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
  </xs:all>  </xs:complexType>  <xs:element name="ChronicFatigueSyndromeForm" type="cfs:ChronicFatigueSyndromeFormType"/>  <xs:complexType name="Metadata">    <xs:all>      <xs:element name="code" type="xs:string"/>      <xs:element name="codeSystem" type="xs:string"/>      <xs:element name="version" type="xs:string"/>      <xs:element name="source" type="xs:string"/>    </xs:all>  </xs:complexType></xs:schema>
