legacy/Cold_Injury_Residuals_DBQ_v14_1_T1.pnl.xsd

<?xml version="1.0" encoding="UTF-8"?><xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:cir="http://vler.va.gov/vler/schemas/health/clinicalDocuments/clinicalAssessments/cpExams/1.3/ColdInjuryResiduals" targetNamespace="http://vler.va.gov/vler/schemas/health/clinicalDocuments/clinicalAssessments/cpExams/1.3/ColdInjuryResiduals" version="1.0">  <xs:complexType name="ColdInjuryResidualsFormType">  <xs:all>
<xs:element name="EXAMGROUP_CARDIO_IHD_Name">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="cir:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="ColdInjury">  <xs:annotation>     <xs:documentation>Does the Veteran now have or has he/she ever been diagnosed with any cold injury(ies)?</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Yes"/>            <xs:enumeration value="No"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="cir:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="DIAGNOSIS_COLD_INJURY_DIAGNOSIS_1">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="cir:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="DIAGNOSIS_COLD_INJURY_DIAGNOSIS_1_ICD">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="cir:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="DIAGNOSIS_COLD_INJURY_DIAGNOSIS_1_DATE">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="cir:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="DIAGNOSIS_COLD_INJURY_DIAGNOSIS_2">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="cir:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="DIAGNOSIS_COLD_INJURY_DIAGNOSIS_2_ICD">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="cir:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="DIAGNOSIS_COLD_INJURY_DIAGNOSIS_2_DATE">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="cir:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="DIAGNOSIS_COLD_INJURY_DIAGNOSIS_3">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="cir:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="DIAGNOSIS_COLD_INJURY_DIAGNOSIS_3_ICD">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="cir:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="DIAGNOSIS_COLD_INJURY_DIAGNOSIS_3_DATE">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="cir:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="DIAGNOSIS_COLD_INJURY_DIAGNOSIS_ADDITIONAL">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="cir:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="HISTORY_COLD_INJURY_DESCRIBE">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="cir:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="HISTORY_COLD_INJURY_HAND">  <xs:annotation>     <xs:documentation>b. Dominant Hand:</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Right"/>            <xs:enumeration value="Left"/>            <xs:enumeration value="Ambidextrous"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="cir:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="ColdInjurySignsRightHand">  <xs:annotation>    <xs:documentation>Right hand</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="cir:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="ColdInjurySignsLeftHand">  <xs:annotation>    <xs:documentation>Left hand</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="cir:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="ColdInjurySignsRightFoot">  <xs:annotation>    <xs:documentation>Right foot</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="cir:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="ColdInjurySignsLeftFoot">  <xs:annotation>    <xs:documentation>Left foot</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="cir:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="ColdInjurySignsRightEar">  <xs:annotation>    <xs:documentation>Right ear</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="cir:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="ColdInjurySignsLeftEar">  <xs:annotation>    <xs:documentation>Left ear</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="cir:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="ColdInjurySignsNose">  <xs:annotation>    <xs:documentation>Nose</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="cir:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="ColdInjurySignsOther">  <xs:annotation>    <xs:documentation>Other, specify:</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="cir:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="ColdInjurySignsOtherSpecify">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="cir:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_COLD_INJURY_SIGNS_ADDITIONAL">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="cir:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_COLD_INJURY_DT_DESCRIBE">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="cir:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_COLD_INJURY_AD">  <xs:annotation>     <xs:documentation>a. Does the Veteran use any assistive device(s) as a normal mode of locomotion, although occasional locomotion by other methods may be possible?</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Yes"/>            <xs:enumeration value="No"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="cir:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_COLD_INJURY_AD_WHEELCHAIR">  <xs:annotation>    <xs:documentation>Wheelchair</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="cir:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_COLD_INJURY_AD_WHEELCHAIR_FOU">  <xs:annotation>     <xs:documentation></xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Occasional"/>            <xs:enumeration value="Regular"/>            <xs:enumeration value="Constant"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="cir:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_COLD_INJURY_AD_BRACES">  <xs:annotation>    <xs:documentation>Brace(s)</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="cir:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_COLD_INJURY_AD_BRACES_FOU">  <xs:annotation>     <xs:documentation></xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Occasional"/>            <xs:enumeration value="Regular"/>            <xs:enumeration value="Constant"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="cir:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_COLD_INJURY_AD_CRUTCHES">  <xs:annotation>    <xs:documentation>Crutch(es)</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="cir:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_COLD_INJURY_AD_CRUTCHES_FOU">  <xs:annotation>     <xs:documentation></xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Occasional"/>            <xs:enumeration value="Regular"/>            <xs:enumeration value="Constant"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="cir:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_COLD_INJURY_AD_CANE">  <xs:annotation>    <xs:documentation>Cane(s)</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="cir:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_COLD_INJURY_AD_CANE_FOU">  <xs:annotation>     <xs:documentation></xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Occasional"/>            <xs:enumeration value="Regular"/>            <xs:enumeration value="Constant"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="cir:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_COLD_INJURY_AD_WALKER">  <xs:annotation>    <xs:documentation>Walker</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="cir:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_COLD_INJURY_AD_WALKER_FOU">  <xs:annotation>     <xs:documentation></xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Occasional"/>            <xs:enumeration value="Regular"/>            <xs:enumeration value="Constant"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="cir:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_COLD_INJURY_AD_OTHER">  <xs:annotation>    <xs:documentation>Other:</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="cir:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_COLD_INJURY_AD_OTHER_EDIT">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="cir:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_COLD_INJURY_AD_OTHER_FOU">  <xs:annotation>     <xs:documentation></xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Occasional"/>            <xs:enumeration value="Regular"/>            <xs:enumeration value="Constant"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="cir:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_COLD_INJURY_AD_ADDITIONAL">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="cir:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_COLD_INJURY_REF">  <xs:annotation>     <xs:documentation></xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Yes, functioning is so diminished that amputation with prosthesis would equally serve the Veteran."/>            <xs:enumeration value="No"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="cir:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_COLD_INJURY_REF_YES">  <xs:complexType>    <xs:all>      <xs:element name="Values">        <xs:complexType>          <xs:choice maxOccurs="4">            <xs:element name="Selected" nillable="true">              <xs:simpleType>                <xs:restriction base="xs:string">                  <xs:enumeration value="Right upper"/>                  <xs:enumeration value="Left upper"/>                  <xs:enumeration value="Right lower"/>                  <xs:enumeration value="Left lower"/>                </xs:restriction>              </xs:simpleType>            </xs:element>          </xs:choice>        </xs:complexType>      </xs:element>      <xs:element name="Metadata" type="cir:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_COLD_INJURY_REF_DESCRIBE">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="cir:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_COLD_INJURY_OPP_SCARS">  <xs:annotation>     <xs:documentation></xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Yes"/>            <xs:enumeration value="No"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="cir:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_COLD_INJURY_OPP_SCARS_YES">  <xs:annotation>     <xs:documentation>If yes, are any of the scars painful and/or unstable, or is the total area of all related scars greater than 39 square cm (6 square inches)?</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Yes"/>            <xs:enumeration value="No"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="cir:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_COLD_INJURY_OPP_OTHER_PERT">  <xs:annotation>     <xs:documentation>b. Does the Veteran have any other pertinent physical findings, complications, conditions, signs and/or symptoms resulting from a cold injury?</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Yes"/>            <xs:enumeration value="No"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="cir:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_COLD_INJURY_OPP_OTHER_PERT_DESCRIBE">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="cir:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_COLD_INJURY_FI_DESCRIBE">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="cir:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_COLD_INJURY_REMARKS">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="cir:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_COLD_INJURY_FUNC_IMPACT">  <xs:annotation>     <xs:documentation>Do the Veteran's cold injury residuals impact his or her ability to work?</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Yes"/>            <xs:enumeration value="No"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="cir:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="ColdInjuryTestingRightFootCondition">  <xs:complexType>    <xs:all>      <xs:element name="Values">        <xs:complexType>          <xs:choice maxOccurs="4">            <xs:element name="Selected" nillable="true">              <xs:simpleType>                <xs:restriction base="xs:string">                  <xs:enumeration value="No evidence of osteoarthritis, osteoporosis, or subarticular punched out lesions"/>                  <xs:enumeration value="Osteoarthritis"/>                  <xs:enumeration value="Osteoporosis"/>                  <xs:enumeration value="Subarticular punched out lesions   "/>                </xs:restriction>              </xs:simpleType>            </xs:element>          </xs:choice>        </xs:complexType>      </xs:element>      <xs:element name="Metadata" type="cir:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="ColdInjuryTestingRightFoot">  <xs:annotation>    <xs:documentation>Right foot</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="cir:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_COLD_INJURY_OTH">  <xs:annotation>     <xs:documentation>b. Are there any other significant diagnostic test findings and/or results?</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Yes"/>            <xs:enumeration value="No"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="cir:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="ColdInjuryTestingRightHand">  <xs:annotation>    <xs:documentation>Right hand:</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="cir:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="ColdInjuryTestingRightHandCondition">  <xs:complexType>    <xs:all>      <xs:element name="Values">        <xs:complexType>          <xs:choice maxOccurs="4">            <xs:element name="Selected" nillable="true">              <xs:simpleType>                <xs:restriction base="xs:string">                  <xs:enumeration value="No evidence of osteoarthritis, osteoporosis, or subarticular punched out lesions"/>                  <xs:enumeration value="Osteoarthritis"/>                  <xs:enumeration value="Osteoporosis"/>                  <xs:enumeration value="Subarticular punched out lesions"/>                </xs:restriction>              </xs:simpleType>            </xs:element>          </xs:choice>        </xs:complexType>      </xs:element>      <xs:element name="Metadata" type="cir:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="ColdInjuryTestingLeftFootCondition">  <xs:complexType>    <xs:all>      <xs:element name="Values">        <xs:complexType>          <xs:choice maxOccurs="4">            <xs:element name="Selected" nillable="true">              <xs:simpleType>                <xs:restriction base="xs:string">                  <xs:enumeration value="No evidence of osteoarthritis, osteoporosis, or subarticular punched out lesions"/>                  <xs:enumeration value="Osteoarthritis"/>                  <xs:enumeration value="Osteoporosis"/>                  <xs:enumeration value="Subarticular punched out lesions"/>                </xs:restriction>              </xs:simpleType>            </xs:element>          </xs:choice>        </xs:complexType>      </xs:element>      <xs:element name="Metadata" type="cir:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="ColdInjuryTestingLeftFoot">  <xs:annotation>    <xs:documentation>Left foot</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="cir:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="ColdInjuryTestingLeftHandCondition">  <xs:complexType>    <xs:all>      <xs:element name="Values">        <xs:complexType>          <xs:choice maxOccurs="4">            <xs:element name="Selected" nillable="true">              <xs:simpleType>                <xs:restriction base="xs:string">                  <xs:enumeration value="No evidence of osteoarthritis, osteoporosis, or subarticular punched out lesions"/>                  <xs:enumeration value="Osteoarthritis"/>                  <xs:enumeration value="Osteoporosis "/>                  <xs:enumeration value="Subarticular punched out lesions"/>                </xs:restriction>              </xs:simpleType>            </xs:element>          </xs:choice>        </xs:complexType>      </xs:element>      <xs:element name="Metadata" type="cir:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="ColdInjuryTestingLeftHand">  <xs:annotation>    <xs:documentation>Left hand</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="cir:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_COLD_INJURY_DT_YES">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="cir:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_COLD_INJURY_DT_XRAYS">  <xs:annotation>     <xs:documentation>a. Have X-rays been performed?</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Yes"/>            <xs:enumeration value="No"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="cir:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="ColdInjurySignsRightHandSymptoms">  <xs:complexType>    <xs:all>      <xs:element name="Values">        <xs:complexType>          <xs:choice maxOccurs="9">            <xs:element name="Selected" nillable="true">              <xs:simpleType>                <xs:restriction base="xs:string">                  <xs:enumeration value="No signs or symptoms at present time"/>                  <xs:enumeration value="Arthralgia or other pain"/>                  <xs:enumeration value="Numbness"/>                  <xs:enumeration value="Cold sensitivity"/>                  <xs:enumeration value="Tissue loss"/>                  <xs:enumeration value="Color changes"/>                  <xs:enumeration value="Locally impaired sensation"/>                  <xs:enumeration value="Hyperhidrosis"/>                  <xs:enumeration value="Nail abnormalities"/>                </xs:restriction>              </xs:simpleType>            </xs:element>          </xs:choice>        </xs:complexType>      </xs:element>      <xs:element name="Metadata" type="cir:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_COLD_INJURY_SIGNS_RIGHT_HAND_DESC">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="cir:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="ColdInjurySignsLeftHandSymptoms">  <xs:complexType>    <xs:all>      <xs:element name="Values">        <xs:complexType>          <xs:choice maxOccurs="9">            <xs:element name="Selected" nillable="true">              <xs:simpleType>                <xs:restriction base="xs:string">                  <xs:enumeration value="No signs or symptoms at present time"/>                  <xs:enumeration value="Arthralgia or other pain"/>                  <xs:enumeration value="Numbness"/>                  <xs:enumeration value="Cold sensitivity"/>                  <xs:enumeration value="Tissue loss"/>                  <xs:enumeration value="Color changes"/>                  <xs:enumeration value="Locally impaired sensation"/>                  <xs:enumeration value="Hyperhidrosis"/>                  <xs:enumeration value="Nail abnormalities"/>                </xs:restriction>              </xs:simpleType>            </xs:element>          </xs:choice>        </xs:complexType>      </xs:element>      <xs:element name="Metadata" type="cir:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_COLD_INJURY_SIGNS_LEFT_HAND_DESC">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="cir:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="ColdInjurySignsRightFootSymptoms">  <xs:complexType>    <xs:all>      <xs:element name="Values">        <xs:complexType>          <xs:choice maxOccurs="9">            <xs:element name="Selected" nillable="true">              <xs:simpleType>                <xs:restriction base="xs:string">                  <xs:enumeration value="No signs or symptoms at present time"/>                  <xs:enumeration value="Arthralgia or other pain"/>                  <xs:enumeration value="Numbness"/>                  <xs:enumeration value="Cold sensitivity"/>                  <xs:enumeration value="Tissue loss"/>                  <xs:enumeration value="Color changes"/>                  <xs:enumeration value="Locally impaired sensation"/>                  <xs:enumeration value="Hyperhidrosis"/>                  <xs:enumeration value="Nail abnormalities"/>                </xs:restriction>              </xs:simpleType>            </xs:element>          </xs:choice>        </xs:complexType>      </xs:element>      <xs:element name="Metadata" type="cir:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_COLD_INJURY_SIGNS_RIGHT_FOOT_DESC">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="cir:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="ColdInjurySignsLeftFootSymptoms">  <xs:complexType>    <xs:all>      <xs:element name="Values">        <xs:complexType>          <xs:choice maxOccurs="9">            <xs:element name="Selected" nillable="true">              <xs:simpleType>                <xs:restriction base="xs:string">                  <xs:enumeration value="No signs or symptoms at present time"/>                  <xs:enumeration value="Arthralgia or other pain"/>                  <xs:enumeration value="Numbness"/>                  <xs:enumeration value="Cold sensitivity"/>                  <xs:enumeration value="Tissue loss"/>                  <xs:enumeration value="Color changes"/>                  <xs:enumeration value="Locally impaired sensation"/>                  <xs:enumeration value="Hyperhidrosis"/>                  <xs:enumeration value="Nail abnormalities"/>                </xs:restriction>              </xs:simpleType>            </xs:element>          </xs:choice>        </xs:complexType>      </xs:element>      <xs:element name="Metadata" type="cir:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_COLD_INJURY_SIGNS_LEFT_FOOT_DESC">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="cir:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="ColdInjurySignsRightEarSymptoms">  <xs:complexType>    <xs:all>      <xs:element name="Values">        <xs:complexType>          <xs:choice maxOccurs="8">            <xs:element name="Selected" nillable="true">              <xs:simpleType>                <xs:restriction base="xs:string">                  <xs:enumeration value="No signs or symptoms at present time"/>                  <xs:enumeration value="Pain"/>                  <xs:enumeration value="Numbness"/>                  <xs:enumeration value="Cold sensitivity"/>                  <xs:enumeration value="Tissue loss"/>                  <xs:enumeration value="Color changes"/>                  <xs:enumeration value="Locally impaired sensation"/>                  <xs:enumeration value="Hyperhidrosis"/>                </xs:restriction>              </xs:simpleType>            </xs:element>          </xs:choice>        </xs:complexType>      </xs:element>      <xs:element name="Metadata" type="cir:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_COLD_INJURY_SIGNS_RIGHT_EAR_DESC">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="cir:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="ColdInjurySignsLeftEarSymptoms">  <xs:complexType>    <xs:all>      <xs:element name="Values">        <xs:complexType>          <xs:choice maxOccurs="8">            <xs:element name="Selected" nillable="true">              <xs:simpleType>                <xs:restriction base="xs:string">                  <xs:enumeration value="No signs or symptoms at present time"/>                  <xs:enumeration value="Pain"/>                  <xs:enumeration value="Numbness"/>                  <xs:enumeration value="Cold sensitivity"/>                  <xs:enumeration value="Tissue loss"/>                  <xs:enumeration value="Color changes"/>                  <xs:enumeration value="Locally impaired sensation"/>                  <xs:enumeration value="Hyperhidrosis"/>                </xs:restriction>              </xs:simpleType>            </xs:element>          </xs:choice>        </xs:complexType>      </xs:element>      <xs:element name="Metadata" type="cir:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_COLD_INJURY_SIGNS_LEFT_EAR_DESC">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="cir:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="ColdInjurySignsNoseSymptoms">  <xs:complexType>    <xs:all>      <xs:element name="Values">        <xs:complexType>          <xs:choice maxOccurs="8">            <xs:element name="Selected" nillable="true">              <xs:simpleType>                <xs:restriction base="xs:string">                  <xs:enumeration value="No signs or symptoms at present time"/>                  <xs:enumeration value="Pain"/>                  <xs:enumeration value="Numbness"/>                  <xs:enumeration value="Cold sensitivity"/>                  <xs:enumeration value="Tissue loss"/>                  <xs:enumeration value="Color changes"/>                  <xs:enumeration value="Locally impaired sensation"/>                  <xs:enumeration value="Hyperhidrosis"/>                </xs:restriction>              </xs:simpleType>            </xs:element>          </xs:choice>        </xs:complexType>      </xs:element>      <xs:element name="Metadata" type="cir:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_COLD_INJURY_SIGNS_NOSE_DESC">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="cir:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="ColdInjurySignsOtherSymptoms">  <xs:complexType>    <xs:all>      <xs:element name="Values">        <xs:complexType>          <xs:choice maxOccurs="7">            <xs:element name="Selected" nillable="true">              <xs:simpleType>                <xs:restriction base="xs:string">                  <xs:enumeration value="Arthralgia or other pain"/>                  <xs:enumeration value="Numbness"/>                  <xs:enumeration value="Cold sensitivity"/>                  <xs:enumeration value="Tissue loss"/>                  <xs:enumeration value="Color changes"/>                  <xs:enumeration value="Locally impaired sensation"/>                  <xs:enumeration value="Hyperhidrosis"/>                </xs:restriction>              </xs:simpleType>            </xs:element>          </xs:choice>        </xs:complexType>      </xs:element>      <xs:element name="Metadata" type="cir:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ACE_1">  <xs:annotation>    <xs:documentation></xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="cir:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ACE_2">  <xs:annotation>    <xs:documentation></xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="cir:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ACE_3">  <xs:annotation>    <xs:documentation>Examination via approved video telehealth</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="cir:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ACE_4">  <xs:annotation>    <xs:documentation>In-person examination</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="cir:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ACE_5_RevRec_1">  <xs:annotation>     <xs:documentation>Was the Veteran's VA claims file reviewed?</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Yes"/>            <xs:enumeration value="No"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="cir:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ACE_5_RevRec_2">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="cir:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ACE_5_RevRec_3">  <xs:annotation>    <xs:documentation>Military service treatment records</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="cir:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ACE_5_RevRec_4">  <xs:annotation>    <xs:documentation>Military service personnel records</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="cir:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ACE_5_RevRec_5">  <xs:annotation>    <xs:documentation>Military enlistment examination</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="cir:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ACE_5_RevRec_7">  <xs:annotation>    <xs:documentation>Military post-deployment questionnaire</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="cir:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ACE_5_RevRec_8">  <xs:annotation>    <xs:documentation>Department of Defense Form 214 Separation Documents</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="cir:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ACE_5_RevRec_9">  <xs:annotation>    <xs:documentation>Veterans Health Administration medical records (VA treatment records)</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="cir:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ACE_5_RevRec_10">  <xs:annotation>    <xs:documentation>Civilian medical records</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="cir:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ACE_5_RevRec_11">  <xs:annotation>    <xs:documentation>Interviews with collateral witnesses (family and others who have known the Veteran before and after military service)</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="cir:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ACE_5_RevRec_12">  <xs:annotation>    <xs:documentation>No records were reviewed</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="cir:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ACE_5_RevRec_13">  <xs:annotation>    <xs:documentation>Other:</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="cir:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ACE_5_RevRec_14">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="cir:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ACE_5_RevRec_6">  <xs:annotation>    <xs:documentation>Military separation examination</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="cir:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
  </xs:all>  </xs:complexType>  <xs:element name="ColdInjuryResidualsForm" type="cir:ColdInjuryResidualsFormType"/>  <xs:complexType name="Metadata">    <xs:all>      <xs:element name="code" type="xs:string"/>      <xs:element name="codeSystem" type="xs:string"/>      <xs:element name="version" type="xs:string"/>      <xs:element name="source" type="xs:string"/>    </xs:all>  </xs:complexType></xs:schema>
