legacy/Cranial_Nerves_DBQ_v13_2_T1.pnl.xsd

<?xml version="1.0" encoding="UTF-8"?><xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:cnc="http://vler.va.gov/vler/schemas/health/clinicalDocuments/clinicalAssessments/cpExams/1.3/CranialNerveConditions" targetNamespace="http://vler.va.gov/vler/schemas/health/clinicalDocuments/clinicalAssessments/cpExams/1.3/CranialNerveConditions" version="1.0">  <xs:complexType name="CranialNerveConditionsFormType">  <xs:all>
<xs:element name="DIAGNOSIS_NEURO_CN">  <xs:annotation>     <xs:documentation></xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Yes"/>            <xs:enumeration value="No"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="cnc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="DIAGNOSIS_NEURO_CN_DG_1">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="cnc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="DIAGNOSIS_NEURO_CN_ICD_1">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="cnc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="DIAGNOSIS_NEURO_CN_DATE_1">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="cnc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="DIAGNOSIS_NEURO_CN_DG_2">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="cnc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="DIAGNOSIS_NEURO_CN_ICD_2">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="cnc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="DIAGNOSIS_NEURO_CN_DATE_2">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="cnc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="DIAGNOSIS_NEURO_CN_DG_3">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="cnc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="DIAGNOSIS_NEURO_CN_ICD_3">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="cnc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="DIAGNOSIS_NEURO_CN_DATE_3">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="cnc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="DIAGNOSIS_NEURO_CN_ADD_DESC">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="cnc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="HISTORY_NEURO_CN_DESC">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="cnc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="HISTORY_NEURO_CN_1">  <xs:annotation>    <xs:documentation>Cranial nerve I (olfactory)</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="cnc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="HISTORY_NEURO_CN_II_IV">  <xs:annotation>    <xs:documentation>Cranial nerves II-IV, VI</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="cnc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="HISTORY_NEURO_CN_V">  <xs:annotation>    <xs:documentation>Cranial nerve V (trigeminal)</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="cnc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="HISTORY_NEURO_CN_VII">  <xs:annotation>    <xs:documentation>Cranial nerve VII (facial)</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="cnc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="HISTORY_NEURO_CN_IX">  <xs:annotation>    <xs:documentation>Cranial nerve IX (glossopharyngeal)</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="cnc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="HISTORY_NEURO_CN_X">  <xs:annotation>    <xs:documentation>Cranial nerve X (vagus)</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="cnc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="HISTORY_NEURO_CN_XI">  <xs:annotation>    <xs:documentation>Cranial nerve XI (spinal accessory)</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="cnc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="HISTORY_NEURO_CN_XII">  <xs:annotation>    <xs:documentation>Cranial nerve XII (hypoglossal)</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="cnc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_NEURO_CN_SAS_CN_V_X11">  <xs:annotation>     <xs:documentation>Does the Veteran have findings, signs or symptoms attributable to any conditions affecting cranial nerves V, VII, and/or IX-XII?</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Yes"/>            <xs:enumeration value="No"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="cnc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_NEURO_CN_SAS_PAIN_CONST">  <xs:annotation>    <xs:documentation>Constant pain, at times excruciating</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="cnc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_NEURO_CN_SAS_PAIN_INTER">  <xs:annotation>    <xs:documentation>Intermittent pain</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="cnc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_NEURO_CN_SAS_CONST_UP_RIGHT">  <xs:annotation>     <xs:documentation></xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Mild"/>            <xs:enumeration value="Moderate"/>            <xs:enumeration value="Severe"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="cnc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_NEURO_CN_SAS_CONST_UP_LEFT">  <xs:annotation>     <xs:documentation></xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Mild"/>            <xs:enumeration value="Moderate"/>            <xs:enumeration value="Severe"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="cnc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_NEURO_CN_SAS_CONST_MID_RIGHT">  <xs:annotation>     <xs:documentation></xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Mild"/>            <xs:enumeration value="Moderate"/>            <xs:enumeration value="Severe"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="cnc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_NEURO_CN_SAS_CONST_MID_LEFT">  <xs:annotation>     <xs:documentation></xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Mild"/>            <xs:enumeration value="Moderate"/>            <xs:enumeration value="Severe"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="cnc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_NEURO_CN_SAS_CONST_LOW_RIGHT">  <xs:annotation>     <xs:documentation></xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Mild"/>            <xs:enumeration value="Moderate"/>            <xs:enumeration value="Severe"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="cnc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_NEURO_CN_SAS_CONST_LOW_LEFT">  <xs:annotation>     <xs:documentation></xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Mild"/>            <xs:enumeration value="Moderate"/>            <xs:enumeration value="Severe"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="cnc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_NEURO_CN_SAS_CONST_SIDE_RIGHT">  <xs:annotation>     <xs:documentation></xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Mild"/>            <xs:enumeration value="Moderate"/>            <xs:enumeration value="Severe"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="cnc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_NEURO_CN_SAS_CONST_SIDE_LEFT">  <xs:annotation>     <xs:documentation></xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Mild"/>            <xs:enumeration value="Moderate"/>            <xs:enumeration value="Severe"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="cnc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_NEURO_CN_SAS_INTER_UP_RIGHT">  <xs:annotation>     <xs:documentation></xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Mild"/>            <xs:enumeration value="Moderate"/>            <xs:enumeration value="Severe"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="cnc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_NEURO_CN_SAS_INTER_UP_LEFT">  <xs:annotation>     <xs:documentation></xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Mild"/>            <xs:enumeration value="Moderate"/>            <xs:enumeration value="Severe"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="cnc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_NEURO_CN_SAS_INTER_MID_RIGHT">  <xs:annotation>     <xs:documentation></xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Mild"/>            <xs:enumeration value="Moderate"/>            <xs:enumeration value="Severe"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="cnc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_NEURO_CN_SAS_INTER_MID_LEFT">  <xs:annotation>     <xs:documentation></xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Mild"/>            <xs:enumeration value="Moderate"/>            <xs:enumeration value="Severe"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="cnc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_NEURO_CN_SAS_INTER_LOW_RIGHT">  <xs:annotation>     <xs:documentation></xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Mild"/>            <xs:enumeration value="Moderate"/>            <xs:enumeration value="Severe"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="cnc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_NEURO_CN_SAS_INTER_LOW_LEFT">  <xs:annotation>     <xs:documentation></xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Mild"/>            <xs:enumeration value="Moderate"/>            <xs:enumeration value="Severe"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="cnc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_NEURO_CN_SAS_INTER_SIDE_RIGHT">  <xs:annotation>     <xs:documentation></xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Mild"/>            <xs:enumeration value="Moderate"/>            <xs:enumeration value="Severe"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="cnc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_NEURO_CN_SAS_INTER_SIDE_LEFT">  <xs:annotation>     <xs:documentation></xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Mild"/>            <xs:enumeration value="Moderate"/>            <xs:enumeration value="Severe"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="cnc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_NEURO_CN_SAS_DULL_UP_RIGHT">  <xs:annotation>     <xs:documentation></xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Mild"/>            <xs:enumeration value="Moderate"/>            <xs:enumeration value="Severe"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="cnc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_NEURO_CN_SAS_DULL_UP_LEFT">  <xs:annotation>     <xs:documentation></xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Mild"/>            <xs:enumeration value="Moderate"/>            <xs:enumeration value="Severe"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="cnc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_NEURO_CN_SAS_DULL_MID_RIGHT">  <xs:annotation>     <xs:documentation></xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Mild"/>            <xs:enumeration value="Moderate"/>            <xs:enumeration value="Severe"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="cnc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_NEURO_CN_SAS_DULL_MID_LEFT">  <xs:annotation>     <xs:documentation></xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Mild"/>            <xs:enumeration value="Moderate"/>            <xs:enumeration value="Severe"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="cnc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_NEURO_CN_SAS_DULL_LOW_RIGHT">  <xs:annotation>     <xs:documentation></xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Mild"/>            <xs:enumeration value="Moderate"/>            <xs:enumeration value="Severe"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="cnc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_NEURO_CN_SAS_DULL_LOW_LEFT">  <xs:annotation>     <xs:documentation></xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Mild"/>            <xs:enumeration value="Moderate"/>            <xs:enumeration value="Severe"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="cnc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_NEURO_CN_SAS_DULL_SIDE_RIGHT">  <xs:annotation>     <xs:documentation></xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Mild"/>            <xs:enumeration value="Moderate"/>            <xs:enumeration value="Severe"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="cnc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_NEURO_CN_SAS_DULL_SIDE_LEFT">  <xs:annotation>     <xs:documentation></xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Mild"/>            <xs:enumeration value="Moderate"/>            <xs:enumeration value="Severe"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="cnc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_NEURO_CN_SAS_ESTHESIAS">  <xs:annotation>    <xs:documentation>Paresthesias and/or dysesthesias</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="cnc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_NEURO_CN_SAS_ESTHESIAS_UP_RIGHT">  <xs:annotation>     <xs:documentation></xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Mild"/>            <xs:enumeration value="Moderate"/>            <xs:enumeration value="Severe"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="cnc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_NEURO_CN_SAS_ESTHESIAS_UP_LEFT">  <xs:annotation>     <xs:documentation></xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Mild"/>            <xs:enumeration value="Moderate"/>            <xs:enumeration value="Severe"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="cnc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_NEURO_CN_SAS_ESTHESIAS_MID_RIGHT">  <xs:annotation>     <xs:documentation></xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Mild"/>            <xs:enumeration value="Moderate"/>            <xs:enumeration value="Severe"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="cnc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_NEURO_CN_SAS_ESTHESIAS_MID_LEFT">  <xs:annotation>     <xs:documentation></xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Mild"/>            <xs:enumeration value="Moderate"/>            <xs:enumeration value="Severe"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="cnc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_NEURO_CN_SAS_ESTHESIAS_LOW_RIGHT">  <xs:annotation>     <xs:documentation></xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Mild"/>            <xs:enumeration value="Moderate"/>            <xs:enumeration value="Severe"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="cnc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_NEURO_CN_SAS_ESTHESIAS_LOW_LEFT">  <xs:annotation>     <xs:documentation></xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Mild"/>            <xs:enumeration value="Moderate"/>            <xs:enumeration value="Severe"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="cnc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_NEURO_CN_SAS_ESTHESIAS_SIDE_RIGHT">  <xs:annotation>     <xs:documentation></xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Mild"/>            <xs:enumeration value="Moderate"/>            <xs:enumeration value="Severe"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="cnc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_NEURO_CN_SAS_ESTHESIAS_SIDE_LEFT">  <xs:annotation>     <xs:documentation></xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Mild"/>            <xs:enumeration value="Moderate"/>            <xs:enumeration value="Severe"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="cnc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_NEURO_CN_SAS_NUMB">  <xs:annotation>    <xs:documentation>Numbness</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="cnc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_NEURO_CN_SAS_DULL">  <xs:annotation>    <xs:documentation>Dull pain</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="cnc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_NEURO_CN_SAS_NUMB_UP_RIGHT">  <xs:annotation>     <xs:documentation></xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Mild"/>            <xs:enumeration value="Moderate"/>            <xs:enumeration value="Severe"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="cnc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_NEURO_CN_SAS_NUMB_UP_LEFT">  <xs:annotation>     <xs:documentation></xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Mild"/>            <xs:enumeration value="Moderate"/>            <xs:enumeration value="Severe"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="cnc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_NEURO_CN_SAS_NUMB_MID_RIGHT">  <xs:annotation>     <xs:documentation></xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Mild"/>            <xs:enumeration value="Moderate"/>            <xs:enumeration value="Severe"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="cnc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_NEURO_CN_SAS_NUMB_MID_LEFT">  <xs:annotation>     <xs:documentation></xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Mild"/>            <xs:enumeration value="Moderate"/>            <xs:enumeration value="Severe"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="cnc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_NEURO_CN_SAS_NUMB_LOW_RIGHT">  <xs:annotation>     <xs:documentation></xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Mild"/>            <xs:enumeration value="Moderate"/>            <xs:enumeration value="Severe"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="cnc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_NEURO_CN_SAS_NUMB_LOW_LEFT">  <xs:annotation>     <xs:documentation></xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Mild"/>            <xs:enumeration value="Moderate"/>            <xs:enumeration value="Severe"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="cnc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_NEURO_CN_SAS_NUMB_SIDE_RIGHT">  <xs:annotation>     <xs:documentation></xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Mild"/>            <xs:enumeration value="Moderate"/>            <xs:enumeration value="Severe"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="cnc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_NEURO_CN_SAS_NUMB_SIDE_LEFT">  <xs:annotation>     <xs:documentation></xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Mild"/>            <xs:enumeration value="Moderate"/>            <xs:enumeration value="Severe"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="cnc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_NEURO_CN_SAS_CHEW">  <xs:annotation>    <xs:documentation>Difficulty chewing</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="cnc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_NEURO_CN_SAS_CHEW_DEGREE">  <xs:annotation>     <xs:documentation>If checked, indicate severity:</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Mild "/>            <xs:enumeration value="Moderate"/>            <xs:enumeration value="Severe"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="cnc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_NEURO_CN_SAS_SWALLOW">  <xs:annotation>    <xs:documentation>Difficulty swallowing</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="cnc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_NEURO_CN_SAS_SWALLOW_DEGREE">  <xs:annotation>     <xs:documentation>If checked, indicate severity:</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Mild "/>            <xs:enumeration value="Moderate"/>            <xs:enumeration value="Severe"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="cnc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_NEURO_CN_SAS_SPEAK">  <xs:annotation>    <xs:documentation>Difficulty speaking</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="cnc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_NEURO_CN_SAS_SPEAK_DEGREE">  <xs:annotation>     <xs:documentation>If checked, indicate severity:</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Mild "/>            <xs:enumeration value="Moderate"/>            <xs:enumeration value="Severe"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="cnc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_NEURO_CN_SAS_SAL_INC">  <xs:annotation>    <xs:documentation>Increased salivation</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="cnc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_NEURO_CN_SAS_SAL_INC_DEGREE">  <xs:annotation>     <xs:documentation>If checked, severity:</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Mild "/>            <xs:enumeration value="Moderate"/>            <xs:enumeration value="Severe"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="cnc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_NEURO_CN_SAS_SAL_DEC">  <xs:annotation>    <xs:documentation>Decreased salivation</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="cnc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_NEURO_CN_SAS_SAL_DEC_DEGREE">  <xs:annotation>     <xs:documentation>If checked, severity:</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Mild "/>            <xs:enumeration value="Moderate"/>            <xs:enumeration value="Severe"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="cnc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_NEURO_CN_SAS_GI">  <xs:annotation>    <xs:documentation>Gastrointestinal symptoms</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="cnc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_NEURO_CN_SAS_GI_DEGREE">  <xs:annotation>     <xs:documentation>If checked, severity:</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Mild "/>            <xs:enumeration value="Moderate"/>            <xs:enumeration value="Severe"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="cnc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_NEURO_CN_SAS_GI_DESC">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="cnc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_NEURO_CN_SAS_OTH">  <xs:annotation>    <xs:documentation>Other</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="cnc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_NEURO_CN_SAS_OTH_DESC">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="cnc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_NEURO_CN_MST_CN5_RT">  <xs:annotation>     <xs:documentation></xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Normal"/>            <xs:enumeration value="Mild"/>            <xs:enumeration value="Moderate"/>            <xs:enumeration value="Severe"/>            <xs:enumeration value="Complete paralysis"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="cnc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_NEURO_CN_MST_CN5_LEFT">  <xs:annotation>     <xs:documentation></xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Normal"/>            <xs:enumeration value="Mild"/>            <xs:enumeration value="Moderate"/>            <xs:enumeration value="Severe"/>            <xs:enumeration value="Complete paralysis"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="cnc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_NEURO_CN_MST_CNVII_UP_RT">  <xs:annotation>     <xs:documentation></xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Normal"/>            <xs:enumeration value="Mild"/>            <xs:enumeration value="Moderate"/>            <xs:enumeration value="Severe"/>            <xs:enumeration value="Complete paralysis"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="cnc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_NEURO_CN_MST_CNVII_UP_LEFT">  <xs:annotation>     <xs:documentation></xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Normal"/>            <xs:enumeration value="Mild"/>            <xs:enumeration value="Moderate"/>            <xs:enumeration value="Severe"/>            <xs:enumeration value="Complete paralysis"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="cnc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_NEURO_CN_MST_CNVII_LOW_RT">  <xs:annotation>     <xs:documentation></xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Normal"/>            <xs:enumeration value="Mild"/>            <xs:enumeration value="Moderate"/>            <xs:enumeration value="Severe"/>            <xs:enumeration value="Complete paralysis"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="cnc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_NEURO_CN_MST_CNVII_LOW_LEFT">  <xs:annotation>     <xs:documentation></xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Normal"/>            <xs:enumeration value="Mild"/>            <xs:enumeration value="Moderate"/>            <xs:enumeration value="Severe"/>            <xs:enumeration value="Complete paralysis"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="cnc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_NEURO_CN_MST_CNIX_RT">  <xs:annotation>     <xs:documentation></xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Normal"/>            <xs:enumeration value="Mild"/>            <xs:enumeration value="Moderate"/>            <xs:enumeration value="Severe"/>            <xs:enumeration value="Complete paralysis"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="cnc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_NEURO_CN_MST_CNIX_LEFT">  <xs:annotation>     <xs:documentation></xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Normal"/>            <xs:enumeration value="Mild"/>            <xs:enumeration value="Moderate"/>            <xs:enumeration value="Severe"/>            <xs:enumeration value="Complete paralysis"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="cnc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_NEURO_CN_MST_CNXI_RT">  <xs:annotation>     <xs:documentation></xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Normal"/>            <xs:enumeration value="Mild"/>            <xs:enumeration value="Moderate"/>            <xs:enumeration value="Severe"/>            <xs:enumeration value="Complete paralysis"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="cnc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_NEURO_CN_MST_CNXI_LEFT">  <xs:annotation>     <xs:documentation></xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Normal"/>            <xs:enumeration value="Mild"/>            <xs:enumeration value="Moderate"/>            <xs:enumeration value="Severe"/>            <xs:enumeration value="Complete paralysis"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="cnc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_NEURO_CN_MST_CNXII_RT">  <xs:annotation>     <xs:documentation></xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Normal"/>            <xs:enumeration value="Mild"/>            <xs:enumeration value="Moderate"/>            <xs:enumeration value="Severe"/>            <xs:enumeration value="Complete paralysis"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="cnc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_NEURO_CN_MST_CNXII_LEFT">  <xs:annotation>     <xs:documentation></xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Normal"/>            <xs:enumeration value="Mild"/>            <xs:enumeration value="Moderate"/>            <xs:enumeration value="Severe"/>            <xs:enumeration value="Complete paralysis"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="cnc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_NEURO_CN_SE_CN5_UP_RT">  <xs:annotation>     <xs:documentation></xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Normal"/>            <xs:enumeration value="Decreased"/>            <xs:enumeration value="Absent"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="cnc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_NEURO_CN_SE_CN5_UP_LEFT">  <xs:annotation>     <xs:documentation></xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Normal"/>            <xs:enumeration value="Decreased"/>            <xs:enumeration value="Absent"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="cnc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_NEURO_CN_SE_CN5_MID_RT">  <xs:annotation>     <xs:documentation></xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Normal"/>            <xs:enumeration value="Decreased"/>            <xs:enumeration value="Absent"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="cnc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_NEURO_CN_SE_CN5_MID_LEFT">  <xs:annotation>     <xs:documentation></xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Normal"/>            <xs:enumeration value="Decreased"/>            <xs:enumeration value="Absent"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="cnc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_NEURO_CN_SE_CN5_LOW_RT">  <xs:annotation>     <xs:documentation></xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Normal"/>            <xs:enumeration value="Decreased"/>            <xs:enumeration value="Absent"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="cnc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_NEURO_CN_SE_CN5_LOW_LEFT">  <xs:annotation>     <xs:documentation></xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Normal"/>            <xs:enumeration value="Decreased"/>            <xs:enumeration value="Absent"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="cnc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_NEURO_CN_SUM_CN_V">  <xs:annotation>    <xs:documentation>Cranial nerve V (trigeminal):</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="cnc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_NEURO_CN_SUM_CN_V_RT">  <xs:annotation>     <xs:documentation></xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Not affected"/>            <xs:enumeration value="Incomplete, moderate"/>            <xs:enumeration value="Incomplete, severe"/>            <xs:enumeration value="Complete"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="cnc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_NEURO_CN_SUM_CN_V_LEFT">  <xs:annotation>     <xs:documentation></xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Not affected"/>            <xs:enumeration value="Incomplete, moderate"/>            <xs:enumeration value="Incomplete, severe"/>            <xs:enumeration value="Complete"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="cnc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_NEURO_CN_SUM_CN_VII">  <xs:annotation>    <xs:documentation>Cranial nerve VII (facial):</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="cnc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_NEURO_CN_SUM_CN_VII_RT">  <xs:annotation>     <xs:documentation></xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Not affected"/>            <xs:enumeration value="Incomplete, moderate"/>            <xs:enumeration value="Incomplete, severe"/>            <xs:enumeration value="Complete"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="cnc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_NEURO_CN_SUM_CN_VII_LEFT">  <xs:annotation>     <xs:documentation></xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Not affected"/>            <xs:enumeration value="Incomplete, moderate"/>            <xs:enumeration value="Incomplete, severe"/>            <xs:enumeration value="Complete"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="cnc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_NEURO_CN_SUM_CN_IX">  <xs:annotation>    <xs:documentation>Cranial nerve IX (glossopharyngeal):</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="cnc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_NEURO_CN_SUM_CN_IX_RT">  <xs:annotation>     <xs:documentation></xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Not affected"/>            <xs:enumeration value="Incomplete, moderate"/>            <xs:enumeration value="Incomplete, severe"/>            <xs:enumeration value="Complete"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="cnc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_NEURO_CN_SUM_CN_IX_LEFT">  <xs:annotation>     <xs:documentation></xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Not affected"/>            <xs:enumeration value="Incomplete, moderate"/>            <xs:enumeration value="Incomplete, severe"/>            <xs:enumeration value="Complete"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="cnc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_NEURO_CN_SUM_CN_X">  <xs:annotation>    <xs:documentation>Cranial nerve X (vagus):</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="cnc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_NEURO_CN_SUM_CN_X_RT">  <xs:annotation>     <xs:documentation></xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Not affected"/>            <xs:enumeration value="Incomplete, moderate"/>            <xs:enumeration value="Incomplete, severe"/>            <xs:enumeration value="Complete"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="cnc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_NEURO_CN_SUM_CN_X_LEFT">  <xs:annotation>     <xs:documentation></xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Not affected"/>            <xs:enumeration value="Incomplete, moderate"/>            <xs:enumeration value="Incomplete, severe"/>            <xs:enumeration value="Complete"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="cnc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_NEURO_CN_SUM_CN_XI">  <xs:annotation>    <xs:documentation>Cranial nerve XI (spinal accessory):</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="cnc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_NEURO_CN_SUM_CN_XI_RT">  <xs:annotation>     <xs:documentation></xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Not affected"/>            <xs:enumeration value="Incomplete, moderate"/>            <xs:enumeration value="Incomplete, severe"/>            <xs:enumeration value="Complete"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="cnc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_NEURO_CN_SUM_CN_XI_LEFT">  <xs:annotation>     <xs:documentation></xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Not affected"/>            <xs:enumeration value="Incomplete, moderate"/>            <xs:enumeration value="Incomplete, severe"/>            <xs:enumeration value="Complete"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="cnc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_NEURO_CN_SUM_CN_XII">  <xs:annotation>    <xs:documentation>Cranial nerve XII (hypoglossal):</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="cnc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_NEURO_CN_SUM_CN_XII_RT">  <xs:annotation>     <xs:documentation></xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Not affected"/>            <xs:enumeration value="Incomplete, moderate"/>            <xs:enumeration value="Incomplete, severe"/>            <xs:enumeration value="Complete"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="cnc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_NEURO_CN_SUM_CN_XII_LEFT">  <xs:annotation>     <xs:documentation></xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Not affected"/>            <xs:enumeration value="Incomplete, moderate"/>            <xs:enumeration value="Incomplete, severe"/>            <xs:enumeration value="Complete"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="cnc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_NEURO_CN_OTH_SCARS">  <xs:annotation>     <xs:documentation></xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Yes"/>            <xs:enumeration value="No"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="cnc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_NEURO_CN_OTH_SCARS_YES">  <xs:annotation>     <xs:documentation>If yes, are any of the scars painful and/or unstable, or is the total area of all related scars greater than 39 square cm (6 square inches)?</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Yes"/>            <xs:enumeration value="No"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="cnc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_NEURO_CN_OTH_OTH">  <xs:annotation>     <xs:documentation></xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Yes"/>            <xs:enumeration value="No"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="cnc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_NEURO_CN_OTH_OTH_DESC">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="cnc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="TESTS_NEURO_CN_DG_TST_IMG">  <xs:annotation>     <xs:documentation>a. Have imaging or other diagnostic studies been performed and are the results available?</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Yes"/>            <xs:enumeration value="No"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="cnc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="TESTS_NEURO_CN_DG_TST_IMG_DESC">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="cnc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="TESTS_NEURO_CN_DG_TST_OTH">  <xs:annotation>     <xs:documentation>b. Are there any other significant diagnostic test findings and/or results?</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Yes"/>            <xs:enumeration value="No"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="cnc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="TESTS_NEURO_CN_DG_TST_OTH_DESC">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="cnc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="ASSESSMENT_NEURO_CN_FUNC">  <xs:annotation>     <xs:documentation>Does the Veteran's cranial nerve condition impact his or her ability to work?</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Yes"/>            <xs:enumeration value="No"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="cnc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="ASSESSMENT_NEURO_CN_FUNC_DESC">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="cnc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="MISC_NEURO_CN_REMARK">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="cnc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAMGROUP_CARDIO_IHD_Name">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="cnc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="HISTORY_NEURO_CN_VIII">  <xs:annotation>    <xs:documentation>Cranial nerve VIII</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="cnc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_NEURO_CN_SAS_ALL_DESC">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="cnc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ACE_1">  <xs:annotation>    <xs:documentation></xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="cnc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ACE_2">  <xs:annotation>    <xs:documentation></xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="cnc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ACE_3">  <xs:annotation>    <xs:documentation>Examination via approved video telehealth</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="cnc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ACE_4">  <xs:annotation>    <xs:documentation>In-person examination</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="cnc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ACE_5_RevRec_1">  <xs:annotation>     <xs:documentation>Was the Veteran's VA claims file reviewed?</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Yes"/>            <xs:enumeration value="No"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="cnc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ACE_5_RevRec_2">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="cnc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ACE_5_RevRec_3">  <xs:annotation>    <xs:documentation>Military service treatment records</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="cnc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ACE_5_RevRec_4">  <xs:annotation>    <xs:documentation>Military service personnel records</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="cnc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ACE_5_RevRec_5">  <xs:annotation>    <xs:documentation>Military enlistment examination</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="cnc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ACE_5_RevRec_6">  <xs:annotation>    <xs:documentation>Military separation examination</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="cnc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ACE_5_RevRec_7">  <xs:annotation>    <xs:documentation>Military post-deployment questionnaire</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="cnc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ACE_5_RevRec_8">  <xs:annotation>    <xs:documentation>Department of Defense Form 214 Separation Documents</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="cnc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ACE_5_RevRec_9">  <xs:annotation>    <xs:documentation>Veterans Health Administration medical records (VA treatment records)</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="cnc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ACE_5_RevRec_10">  <xs:annotation>    <xs:documentation>Civilian medical records</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="cnc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ACE_5_RevRec_11">  <xs:annotation>    <xs:documentation>Interviews with collateral witnesses (family and others who have known the Veteran before and after military service)</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="cnc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ACE_5_RevRec_12">  <xs:annotation>    <xs:documentation>No records were reviewed</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="cnc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ACE_5_RevRec_13">  <xs:annotation>    <xs:documentation>Other:</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="cnc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ACE_5_RevRec_14">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="cnc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
  </xs:all>  </xs:complexType>  <xs:element name="CranialNerveConditionsForm" type="cnc:CranialNerveConditionsFormType"/>  <xs:complexType name="Metadata">    <xs:all>      <xs:element name="code" type="xs:string"/>      <xs:element name="codeSystem" type="xs:string"/>      <xs:element name="version" type="xs:string"/>      <xs:element name="source" type="xs:string"/>    </xs:all>  </xs:complexType></xs:schema>
