legacy/Dental_and_Oral_Conditions_DBQ_V13_1_T1.pnl.xsd

<?xml version="1.0" encoding="UTF-8"?><xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:doc="http://vler.va.gov/vler/schemas/health/clinicalDocuments/clinicalAssessments/cpExams/1.3/DentalAndOralConditions" targetNamespace="http://vler.va.gov/vler/schemas/health/clinicalDocuments/clinicalAssessments/cpExams/1.3/DentalAndOralConditions" version="1.0">  <xs:complexType name="DentalAndOralConditionsFormType">  <xs:all>
<xs:element name="EXAMGROUP_CARDIO_IHD_Name">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="doc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="DIAGNOSIS_DENTAL_DIAGNOSIS">  <xs:annotation>     <xs:documentation></xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Yes"/>            <xs:enumeration value="No"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="doc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="DIAGNOSIS_DENTAL_LOSS_MANDIBLE">  <xs:annotation>    <xs:documentation>Loss of any portion of mandible (for reasons other than periodontal disease or edentulous atrophy)</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="doc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="DIAGNOSIS_DENTAL_LOSS_MANDIBLE_ICD">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="doc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="DIAGNOSIS_DENTAL_LOSS_MANDIBLE_DATE">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="doc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="DIAGNOSIS_DENTAL_LOSS_MAXILLA">  <xs:annotation>    <xs:documentation>Loss of any portion of maxilla (for reasons other than periodontal disease or edentulous atrophy)</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="doc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="DIAGNOSIS_DENTAL_LOSS_MAXILLA_ICD">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="doc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="DIAGNOSIS_DENTAL_LOSS_MAXILLA_ICD_DATE">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="doc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="DIAGNOSIS_DENTAL_MALUNION_MANDIBLE">  <xs:annotation>    <xs:documentation>Malunion or nonunion of mandible</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="doc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="DIAGNOSIS_DENTAL_MALUNION_MANDIBLE_ICD">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="doc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="DIAGNOSIS_DENTAL_MALUNION_MANDIBLE_DATE">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="doc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="DIAGNOSIS_DENTAL_MALUNION_MAXILLA">  <xs:annotation>    <xs:documentation>Malunion or nonunion of maxilla</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="doc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="DIAGNOSIS_DENTAL_MALUNION_MAXILLA_ICD">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="doc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="DIAGNOSIS_DENTAL_MALUNION_MAXILLA_DATE">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="doc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="DIAGNOSIS_DENTAL_TEETH">  <xs:annotation>    <xs:documentation></xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="doc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="DIAGNOSIS_DENTAL_TEETH_ICD">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="doc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="DIAGNOSIS_DENTAL_TEETH_DATE">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="doc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="DIAGNOSIS_DENTAL_TMJ">  <xs:annotation>    <xs:documentation>Temporomandibular joint disorder (TMJD)</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="doc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="DIAGNOSIS_DENTAL_LIMIT_TMJ">  <xs:annotation>    <xs:documentation>Limitation of motion of the temporomandibular joint due to causes other than temporomandibular joint disorder</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="doc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="DIAGNOSIS_DENTAL_ANATOMICAL">  <xs:annotation>    <xs:documentation>Anatomical loss or injury of the mouth, lips or tongue</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="doc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="DIAGNOSIS_DENTAL_ANATOMICAL_ICD">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="doc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="DIAGNOSIS_DENTAL_ANATOMICAL_DATE">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="doc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="DIAGNOSIS_DENTAL_OSTEO">  <xs:annotation>    <xs:documentation>Osteomyelitis, osteoradionecrosis or bisphosphonate-related osteonecrosis of the jaw</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="doc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="DIAGNOSIS_DENTAL_OSTEO_ICD">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="doc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="DIAGNOSIS_DENTAL_OSTEO_DATE">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="doc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="DIAGNOSIS_DENTAL_ORAL">  <xs:annotation>    <xs:documentation>Oral neoplasm</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="doc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="DIAGNOSIS_DENTAL_ORAL_SPECIFY">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="doc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="DIAGNOSIS_DENTAL_ORAL_ICD">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="doc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="DIAGNOSIS_DENTAL_ORAL_DATE">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="doc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="DIAGNOSIS_DENTAL_PERIODONTAL">  <xs:annotation>    <xs:documentation>Periodontal disease</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="doc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="DIAGNOSIS_DENTAL_OTHER">  <xs:annotation>    <xs:documentation>Other, specify:</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="doc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="DIAGNOSIS_DENTAL_OTHER_1">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="doc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="DIAGNOSIS_DENTAL_OTHER_1_ICD">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="doc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="DIAGNOSIS_DENTAL_OTHER_1_DATE">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="doc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="DIAGNOSIS_DENTAL_OTHER_2">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="doc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="DIAGNOSIS_DENTAL_OTHER_2_ICD">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="doc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="DIAGNOSIS_DENTAL_OTHER_2_DATE">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="doc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="DIAGNOSIS_DENTAL_ADDITIONAL">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="doc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="HISTORY_DENTAL_DESCRIBE">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="doc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_DENTAL_MANDIBLE">  <xs:annotation>     <xs:documentation>Does the Veteran have any of the following dental or oral conditions?</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Yes"/>            <xs:enumeration value="No"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="doc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_DENTAL_MANDIBLE_RAMUS">  <xs:annotation>     <xs:documentation>a. Has the veteran lost any part of the mandible or mandibular ramus? (NOT due to edentulous atrophy or periodontal disease)</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Yes"/>            <xs:enumeration value="No"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="doc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_DENTAL_MANDIBLE_RAMUS_LOSS_HALF_MANDIBLE_NOT">  <xs:annotation>    <xs:documentation>Loss of approximately 1/2 of the mandible, not involving the temporomandibular articulation</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="doc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_DENTAL_MANDIBLE_RAMUS_LOSS_HALF_MANDIBLE">  <xs:annotation>    <xs:documentation>Loss of approximately 1/2 of the mandible, involving the temporomandibular articulation</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="doc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_DENTAL_MANDIBLE_RAMUS_LOSS_COMPLETE">  <xs:annotation>    <xs:documentation>Complete loss of the mandible between angles</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="doc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_DENTAL_MANDIBLE_RAMUS_LOSS_LESS_HALF_RAMUS">  <xs:annotation>    <xs:documentation>Loss of less than 1/2 the substance of mandibular ramus, not involving loss of continuity</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="doc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_DENTAL_MANDIBLE_RAMUS_LOSS_LESS_HALF_RAMUS_SA">  <xs:annotation>     <xs:documentation></xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Right"/>            <xs:enumeration value="Left"/>            <xs:enumeration value="Both"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="doc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_DENTAL_MANDIBLE_RAMUS_LOSS_WHOLE_RAMUS_WO_TMJ">  <xs:annotation>    <xs:documentation>Loss of whole or part of mandibular ramus, without loss of temporomandibular articulation</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="doc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_DENTAL_MANDIBLE_RAMUS_LOSS_WHOLE_RAMUS_WO_TMJ_SA">  <xs:annotation>     <xs:documentation></xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Right"/>            <xs:enumeration value="Left"/>            <xs:enumeration value="Both"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="doc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_DENTAL_MANDIBLE_RAMUS_LOSS_WHOLE_RAMUS_W_TMJ">  <xs:annotation>    <xs:documentation>Loss of whole or part of mandibular ramus, involving loss of temporomandibular articulation</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="doc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_DENTAL_MANDIBLE_RAMUS_LOSS_WHOLE_RAMUS_W_TMJ_SA">  <xs:annotation>     <xs:documentation></xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Right"/>            <xs:enumeration value="Left"/>            <xs:enumeration value="Both"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="doc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_DENTAL_MANDIBLE_RAMUS_OTHER">  <xs:annotation>    <xs:documentation>Other, describe:</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="doc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_DENTAL_MANDIBLE_RAMUS_OTHER_DESCRIBE">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="doc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_DENTAL_MANDIBLE_CONDYLOID">  <xs:annotation>     <xs:documentation>b. Has the Veteran lost either condyle (condyloid process) of the mandible?</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Yes"/>            <xs:enumeration value="No"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="doc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_DENTAL_MANDIBLE_CONDYLOID_SA">  <xs:annotation>     <xs:documentation></xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Right"/>            <xs:enumeration value="Left"/>            <xs:enumeration value="Both"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="doc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_DENTAL_MANDIBLE_CORONOID">  <xs:annotation>     <xs:documentation>c. Has the Veteran lost either coronoid process of the mandible?</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Yes"/>            <xs:enumeration value="No"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="doc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_DENTAL_MANDIBLE_CORONOID_SA">  <xs:annotation>     <xs:documentation></xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Right"/>            <xs:enumeration value="Left"/>            <xs:enumeration value="Both"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="doc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_DENTAL_MANDIBLE_MALUNION">  <xs:annotation>     <xs:documentation>d. Has the Veteran had an injury resulting in malunion or nonunion of the mandible?</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Yes"/>            <xs:enumeration value="No"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="doc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_DENTAL_MANDIBLE_MALUNION_SEVERITY_MAL_SLIGHT">  <xs:annotation>    <xs:documentation>Malunion with slight displacement</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="doc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_DENTAL_MANDIBLE_MALUNION_SEVERITY_MAL_MODERATE">  <xs:annotation>    <xs:documentation>Malunion with moderate displacement</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="doc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_DENTAL_MANDIBLE_MALUNION_SEVERITY_MAL_SEVERE">  <xs:annotation>    <xs:documentation>Malunion with severe displacement</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="doc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_DENTAL_MANDIBLE_MALUNION_SEVERITY_NON_MODERATE">  <xs:annotation>    <xs:documentation>Nonunion, moderate</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="doc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_DENTAL_MANDIBLE_MALUNION_SEVERITY_NON_SEVERE">  <xs:annotation>    <xs:documentation>Nonunion, severe</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="doc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_DENTAL_MANDIBLE_MALUNION_SEVERITY_OTHER">  <xs:annotation>    <xs:documentation>Other, describe:</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="doc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_DENTAL_MANDIBLE_MALUNION_SEVERITY_OTHER_DESCRIBE">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="doc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_DENTAL_MAXILLA_LOSS">  <xs:annotation>     <xs:documentation>a. Has the Veteran lost any part of the maxilla? (NOT due to edentulous atrophy or periodontal disease)</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Yes"/>            <xs:enumeration value="No"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="doc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_DENTAL_MAXILLA_LOSS_SEVERITY">  <xs:annotation>     <xs:documentation>If yes, indicate the severity:</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Loss of less than 25%"/>            <xs:enumeration value="Loss of 25 to 50%"/>            <xs:enumeration value="Loss of more than 50%"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="doc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_DENTAL_MAXILLA_LOSS_PROSTHESIS">  <xs:annotation>     <xs:documentation>b. If the Veteran has lost any part of the maxilla, is the loss replaceable by prosthesis?</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Yes"/>            <xs:enumeration value="No"/>            <xs:enumeration value="Not applicable"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="doc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_DENTAL_MAXILLA_HARD_PLATE">  <xs:annotation>     <xs:documentation>c. Has the Veteran lost any part of the hard palate?</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Yes"/>            <xs:enumeration value="No"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="doc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_DENTAL_MAXILLA_HARD_PLATE_SEVERITY">  <xs:annotation>     <xs:documentation>If yes, indicate the severity:</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Loss of less than 50%"/>            <xs:enumeration value="Loss of 50% or more"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="doc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_DENTAL_MAXILLA_HARD_PLATE_PROSTHESIS">  <xs:annotation>     <xs:documentation>d. If the Veteran has lost any part of the hard palate, is the loss replaceable by prosthesis?</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Yes"/>            <xs:enumeration value="No"/>            <xs:enumeration value="Not applicable"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="doc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_DENTAL_MAXILLA_MALUNION">  <xs:annotation>     <xs:documentation>e. Has the Veteran had an injury resulting in malunion or nonunion of the maxilla?</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Yes"/>            <xs:enumeration value="No"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="doc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_DENTAL_MAXILLA_MALUNION_SEVERITY">  <xs:annotation>     <xs:documentation>If yes, indicate severity:</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Malunion or nonunion with slight displacement"/>            <xs:enumeration value="Malunion or nonunion with moderate displacement"/>            <xs:enumeration value="Malunion or nonunion with severe displacement "/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="doc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_DENTAL_TEETH_SUBSTANCE">  <xs:annotation>     <xs:documentation>a. Is the loss of teeth due to loss of substance of body of maxilla or mandible without loss of continuity?</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Yes"/>            <xs:enumeration value="No"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="doc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_DENTAL_TEETH_TRAUMA">  <xs:annotation>     <xs:documentation>b. Is the loss of teeth due to trauma or disease (such as osteomyelitis)?</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Yes"/>            <xs:enumeration value="No"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="doc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_DENTAL_TEETH_TRAUMA_DESCRIBE">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="doc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_DENTAL_TEETH_PROSTHESIS">  <xs:annotation>     <xs:documentation>c. Can the masticatory surfaces be restored by suitable prosthesis?</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Yes"/>            <xs:enumeration value="No"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="doc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_DENTAL_MOUTH_SCARS">  <xs:annotation>     <xs:documentation>a. Does the Veteran have any disfiguring scars to the mouth or lips?</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Yes"/>            <xs:enumeration value="No"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="doc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_DENTAL_MOUTH_INJURY_DESCRIBE">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="doc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_DENTAL_MOUTH_INJURY">  <xs:annotation>     <xs:documentation>b. Does the Veteran have a mouth injury that results in impairment of mastication?</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Yes"/>            <xs:enumeration value="No"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="doc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_DENTAL_MOUTH_TONGUE">  <xs:annotation>     <xs:documentation>c. Does the Veteran have partial or complete loss of the tongue?</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Yes"/>            <xs:enumeration value="No"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="doc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_DENTAL_MOUTH_TONGUE_SEVERITY">  <xs:annotation>     <xs:documentation>If yes, indicate severity:</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Loss of less than 1/2 of tongue"/>            <xs:enumeration value="Loss of 1/2 or more of tongue"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="doc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_DENTAL_MOUTH_SPEECH">  <xs:annotation>     <xs:documentation>d. Does the Veteran have a speech impairment caused by partial or complete loss of the tongue, or by any other tongue condition?</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Yes"/>            <xs:enumeration value="No"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="doc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_DENTAL_MOUTH_SPEECH_MARKED">  <xs:annotation>    <xs:documentation>Marked speech impairment</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="doc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_DENTAL_MOUTH_SPEECH_MARKED_DESCRIBE">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="doc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_DENTAL_MOUTH_SPEECH_INABILITY">  <xs:annotation>    <xs:documentation>Inability to communicate by speech</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="doc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_DENTAL_MOUTH_SPEECH_INABILITY_DESCRIBE">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="doc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_DENTAL_OSTEO">  <xs:annotation>     <xs:documentation>a. Does the Veteran now have or has he or she ever been diagnosed with osteomyelitis or osteoradionecrosis of the mandible?</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Yes"/>            <xs:enumeration value="No"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="doc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_DENTAL_TUMORS">  <xs:annotation>     <xs:documentation>Does the Veteran have a benign or malignant neoplasm or metastases related to any of the diagnoses in the Diagnosis section?</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Yes"/>            <xs:enumeration value="No"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="doc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_DENTAL_TUMORS_NEOPLASM">  <xs:annotation>     <xs:documentation>a. Is the neoplasm:</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Benign"/>            <xs:enumeration value="Malignant"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="doc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_DENTAL_TUMORS_TX">  <xs:annotation>     <xs:documentation>b. Has the Veteran completed treatment or is the Veteran currently undergoing treatment for a benign or malignant neoplasm or metastases?</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Yes"/>            <xs:enumeration value="No; watchful waiting"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="doc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_DENTAL_TUMORS_TX_COMPLETED">  <xs:annotation>    <xs:documentation>Treatment completed; currently in watchful waiting status</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="doc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_DENTAL_TUMORS_TX_SURGERY">  <xs:annotation>    <xs:documentation>Surgery</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="doc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_DENTAL_TUMORS_TX_SURGERY_DESCRIBE">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="doc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_DENTAL_TUMORS_TX_SURGERY_DATE">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="doc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_DENTAL_TUMORS_RADIATION">  <xs:annotation>    <xs:documentation>Radiation therapy</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="doc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_DENTAL_TUMORS_RADIATION_RECENT">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="doc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_DENTAL_TUMORS_RADIATION_COMPLETED">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="doc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_DENTAL_TUMORS_ANTI">  <xs:annotation>    <xs:documentation>Antineoplastic chemotherapy</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="doc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_DENTAL_TUMORS_ANTI_RECENT">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="doc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_DENTAL_TUMORS_ANTI_COMPLETED">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="doc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_DENTAL_TUMORS_OTHER_PROCEDURE">  <xs:annotation>    <xs:documentation>Other therapeutic procedure</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="doc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_DENTAL_TUMORS_OTHER_PROCEDURE_DESCRIBE">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="doc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_DENTAL_TUMORS_OTHER_PROCEDURE_DATE">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="doc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_DENTAL_TUMORS_OTHER_TX">  <xs:annotation>    <xs:documentation>Other therapeutic treatment</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="doc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_DENTAL_TUMORS_OTHER_TX_DESCRIBE">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="doc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_DENTAL_TUMORS_OTHER_TX_DATE">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="doc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_DENTAL_TUMORS_RESIDUALS_DESCRIBE">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="doc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_DENTAL_TUMORS_ADDITIONAL">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="doc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_DENTAL_OPP_SCARS">  <xs:annotation>     <xs:documentation></xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Yes"/>            <xs:enumeration value="No"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="doc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_DENTAL_OPP_SCARS_YES">  <xs:annotation>     <xs:documentation>If yes, are any of the scars painful and/or unstable, or is the total area of all related scars greater than 39 square cm (6 square inches)?</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Yes"/>            <xs:enumeration value="No"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="doc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_DENTAL_OPP_OTHER_PERT">  <xs:annotation>     <xs:documentation></xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Yes"/>            <xs:enumeration value="No"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="doc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_DENTAL_OPP_OTHER_PERT_DESCRIBE">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="doc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_DENTAL_DT_IMAGING">  <xs:annotation>     <xs:documentation>a. Have imaging studies or procedures been performed?</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Yes"/>            <xs:enumeration value="No"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="doc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_DENTAL_DT_PANOGRAPHIC">  <xs:annotation>    <xs:documentation>Panographic / intraoral imaging to demonstrate loss of teeth, mandible or maxilla</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="doc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_DENTAL_DT_PANOGRAPHIC_DATE">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="doc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_DENTAL_DT_PANOGRAPHIC_RESULTS">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="doc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_DENTAL_DT_OTHER">  <xs:annotation>    <xs:documentation>Other:</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="doc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_DENTAL_DT_OTHER_EDIT">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="doc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_DENTAL_DT_OTHER_DATE">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="doc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_DENTAL_DT_OTHER_RESULTS">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="doc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_DENTAL_DT_OTHER_SIGN">  <xs:annotation>     <xs:documentation>b. Are there any other significant diagnostic test findings and/or results?</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Yes"/>            <xs:enumeration value="No"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="doc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_DENTAL_DT_OTHER_SIGN_DESCRIBE">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="doc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_DENTAL_FI">  <xs:annotation>     <xs:documentation>Does the Veteran's oral or dental condition impact his or her ability to work?</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Yes"/>            <xs:enumeration value="No"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="doc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_DENTAL_FI_DESCRIBE">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="doc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_DENTAL_REMARKS">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="doc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_DENTAL_TUMORS_RESIDUALS">  <xs:annotation>     <xs:documentation></xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Yes"/>            <xs:enumeration value="No"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="doc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_DENTAL_MANDIBLE_MANDIBLE">  <xs:annotation>    <xs:documentation>Mandible (anatomical loss or bony injury)</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="doc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_DENTAL_MANDIBLE_MAXILLA">  <xs:annotation>    <xs:documentation>Maxilla (anatomical loss or bony injury)</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="doc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_DENTAL_MANDIBLE_TEETH">  <xs:annotation>    <xs:documentation>Teeth (anatomical loss or bony injury leading to loss of any teeth)</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="doc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_DENTAL_MANDIBLE_MOUTH">  <xs:annotation>    <xs:documentation>Mouth, lips, tongue and disfiguring scars (anatomical loss or injury)</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="doc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_DENTAL_MANDIBLE_OSTEO">  <xs:annotation>    <xs:documentation>Osteomyelitis/osteoradionecrosis/bisphosphonate-related osteonecrosis of the jaw</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="doc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_DENTAL_MANDIBLE_TUMOR">  <xs:annotation>    <xs:documentation>Tumors or neoplasms</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="doc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_DENTAL_MANDIBLE_OTHER">  <xs:annotation>    <xs:documentation>Other dental or oral conditions, pertinent physical findings or scars due to dental or oral conditions</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="doc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_DENTAL_TEETH_PROSTHESIS_DESCRIBE">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="doc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_DENTAL_TEETH_LOSS_UPPER_NO_MISSING">  <xs:annotation>    <xs:documentation>No missing teeth</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="doc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_DENTAL_TEETH_LOSS_UPPER_ALL">  <xs:annotation>    <xs:documentation>All upper teeth missing</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="doc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_DENTAL_TEETH_LOSS_UPPER_POSTERIOR_BILATERAL">  <xs:annotation>    <xs:documentation>All posterior teeth missing bilaterally</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="doc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_DENTAL_TEETH_LOSS_UPPER_POSTERIOR_RIGHT">  <xs:annotation>    <xs:documentation>All right posterior missing</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="doc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_DENTAL_TEETH_LOSS_UPPER_POSTERIOR_LEFT">  <xs:annotation>    <xs:documentation>All left posterior missing</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="doc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_DENTAL_TEETH_LOSS_UPPER_ANTERIOR_BILATERAL">  <xs:annotation>    <xs:documentation>All anterior teeth missing bilaterally</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="doc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_DENTAL_TEETH_LOSS_UPPER_ANTERIOR_RIGHT">  <xs:annotation>    <xs:documentation>All right anterior missing</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="doc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_DENTAL_TEETH_LOSS_UPPER_ANTERIOR_LEFT">  <xs:annotation>    <xs:documentation>All left anterior missing</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="doc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_DENTAL_TEETH_LOSS_UPPER_OTHER">  <xs:annotation>    <xs:documentation>Other, describe:</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="doc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_DENTAL_TEETH_LOSS_UPPER_OTHER_DESCRIBE">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="doc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_DENTAL_TEETH_LOSS_LOWER_NO_MISSING">  <xs:annotation>    <xs:documentation>No missing teeth</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="doc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_DENTAL_TEETH_LOSS_LOWER_ALL">  <xs:annotation>    <xs:documentation>All lower teeth missing</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="doc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_DENTAL_TEETH_LOSS_LOWER_POSTERIOR_BILATERAL">  <xs:annotation>    <xs:documentation>All posterior teeth missing bilaterally</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="doc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_DENTAL_TEETH_LOSS_LOWER_POSTERIOR_RIGHT">  <xs:annotation>    <xs:documentation>All right posterior missing</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="doc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_DENTAL_TEETH_LOSS_LOWER_POSTERIOR_LEFT">  <xs:annotation>    <xs:documentation>All left posterior missing</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="doc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_DENTAL_TEETH_LOSS_LOWER_ANTERIOR_BILATERAL">  <xs:annotation>    <xs:documentation>All anterior teeth missing bilaterally</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="doc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_DENTAL_TEETH_LOSS_LOWER_ANTERIOR_RIGHT">  <xs:annotation>    <xs:documentation>All right anterior missing</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="doc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_DENTAL_TEETH_LOSS_LOWER_ANTERIOR_LEFT">  <xs:annotation>    <xs:documentation>All left anterior missing</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="doc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_DENTAL_TEETH_LOSS_LOWER_OTHER">  <xs:annotation>    <xs:documentation>Other, describe:</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="doc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_DENTAL_TEETH_LOSS_LOWER_OTHER_DESCRIBE">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="doc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_DENTAL_TEETH_LOSS_MISSING_LIST_BY_NUMBER">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="doc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_DENTAL_OSTEO_BISPHOSPHONATE">  <xs:annotation>     <xs:documentation>b. Does the Veteran now have or has he or she ever been diagnosed with bisphosphonate-related osteonecrosis of the jaw?</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Yes"/>            <xs:enumeration value="No"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="doc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_DENTAL_OSTEO_BISPHOSPHONATE_DESCRIBE">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="doc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ACE_1">  <xs:annotation>    <xs:documentation></xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="doc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ACE_2">  <xs:annotation>    <xs:documentation></xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="doc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ACE_3">  <xs:annotation>    <xs:documentation>Examination via approved video telehealth</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="doc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ACE_4">  <xs:annotation>    <xs:documentation>In-person examination</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="doc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ACE_5_RevRec_1">  <xs:annotation>     <xs:documentation>Was the Veteran's VA claims file reviewed?</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Yes"/>            <xs:enumeration value="No"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="doc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ACE_5_RevRec_2">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="doc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ACE_5_RevRec_3">  <xs:annotation>    <xs:documentation>Military service treatment records</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="doc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ACE_5_RevRec_4">  <xs:annotation>    <xs:documentation>Military service personnel records</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="doc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ACE_5_RevRec_5">  <xs:annotation>    <xs:documentation>Military enlistment examination</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="doc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ACE_5_RevRec_6">  <xs:annotation>    <xs:documentation>Military separation examination</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="doc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ACE_5_RevRec_7">  <xs:annotation>    <xs:documentation>Military post-deployment questionnaire</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="doc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ACE_5_RevRec_8">  <xs:annotation>    <xs:documentation>Department of Defense Form 214 Separation Documents</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="doc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ACE_5_RevRec_9">  <xs:annotation>    <xs:documentation>Veterans Health Administration medical records (VA treatment records)</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="doc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ACE_5_RevRec_10">  <xs:annotation>    <xs:documentation>Civilian medical records</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="doc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ACE_5_RevRec_11">  <xs:annotation>    <xs:documentation>Interviews with collateral witnesses (family and others who have known the Veteran before and after military service)</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="doc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ACE_5_RevRec_12">  <xs:annotation>    <xs:documentation>No records were reviewed</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="doc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ACE_5_RevRec_13">  <xs:annotation>    <xs:documentation>Other:</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="doc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ACE_5_RevRec_14">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="doc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
  </xs:all>  </xs:complexType>  <xs:element name="DentalAndOralConditionsForm" type="doc:DentalAndOralConditionsFormType"/>  <xs:complexType name="Metadata">    <xs:all>      <xs:element name="code" type="xs:string"/>      <xs:element name="codeSystem" type="xs:string"/>      <xs:element name="version" type="xs:string"/>      <xs:element name="source" type="xs:string"/>    </xs:all>  </xs:complexType></xs:schema>
