legacy/Diabetic_Peripheral_Neuropathy_DBQ_v13_2_T1.pnl.xsd

<?xml version="1.0" encoding="UTF-8"?><xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:dn="http://vler.va.gov/vler/schemas/health/clinicalDocuments/clinicalAssessments/cpExams/1.3/DiabeticSensoryMotorPeripheral" targetNamespace="http://vler.va.gov/vler/schemas/health/clinicalDocuments/clinicalAssessments/cpExams/1.3/DiabeticSensoryMotorPeripheral" version="1.0">  <xs:complexType name="DiabeticSensoryMotorPeripheralFormType">  <xs:all>
<xs:element name="EXAMGROUP_NEURO_PN_Test_Diagnostic_EMG_RL_Results">  <xs:annotation>     <xs:documentation></xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Normal"/>            <xs:enumeration value="Abnormal"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="dn:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAMGROUP_NEURO_PN_Test_Diagnostic_EMG_LU_Results">  <xs:annotation>     <xs:documentation></xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Normal"/>            <xs:enumeration value="Abnormal"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="dn:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAMGROUP_ENDOCRINE_DMPN_PE_Position_Sense_LLE">  <xs:annotation>     <xs:documentation></xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Normal"/>            <xs:enumeration value="Decreased"/>            <xs:enumeration value="Absent"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="dn:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAMGROUP_ENDOCRINE_DMPN_PE_Light_touch_Right_Forearm">  <xs:annotation>     <xs:documentation></xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Normal"/>            <xs:enumeration value="Decreased"/>            <xs:enumeration value="Absent"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="dn:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAMGROUP_ENDOCRINE_DMPN_PE_Light_touch_Left_Forearm">  <xs:annotation>     <xs:documentation></xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Normal"/>            <xs:enumeration value="Decreased"/>            <xs:enumeration value="Absent"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="dn:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAMGROUP_NEURO_PN_Test_Diagnostic_EMG_LL_Results">  <xs:annotation>     <xs:documentation></xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Normal"/>            <xs:enumeration value="Abnormal"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="dn:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAMGROUP_ENDOCRINE_DMPN_PE_Cold_Sense_LLE">  <xs:annotation>     <xs:documentation></xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Normal"/>            <xs:enumeration value="Decreased"/>            <xs:enumeration value="Absent"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="dn:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAMGROUP_ENDOCRINE_DMPN_PE_Vibration_Sense_RLE">  <xs:annotation>     <xs:documentation></xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Normal"/>            <xs:enumeration value="Decreased"/>            <xs:enumeration value="Absent"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="dn:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAMGROUP_ENDOCRINE_DMPN_PE_Light_touch_Left_Foot">  <xs:annotation>     <xs:documentation></xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Normal"/>            <xs:enumeration value="Decreased"/>            <xs:enumeration value="Absent"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="dn:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAMGROUP_ENDOCRINE_DMPN_PE_Light_touch_Right_Foot">  <xs:annotation>     <xs:documentation></xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Normal"/>            <xs:enumeration value="Decreased"/>            <xs:enumeration value="Absent"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="dn:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAMGROUP_ENDOCRINE_DMPN_PE_Light_touch_Leftt_Ankle">  <xs:annotation>     <xs:documentation></xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Normal"/>            <xs:enumeration value="Decreased"/>            <xs:enumeration value="Absent"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="dn:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAMGROUP_ENDOCRINE_DMPN_PE_Light_touch_Right_Ankle">  <xs:annotation>     <xs:documentation></xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Normal"/>            <xs:enumeration value="Decreased"/>            <xs:enumeration value="Absent"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="dn:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAMGROUP_ENDOCRINE_DMPN_PE_Light_touch_Left_Knee">  <xs:annotation>     <xs:documentation></xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Normal"/>            <xs:enumeration value="Decreased"/>            <xs:enumeration value="Absent"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="dn:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAMGROUP_ENDOCRINE_DMPN_PE_Light_touch_Right_Knee">  <xs:annotation>     <xs:documentation></xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Normal"/>            <xs:enumeration value="Decreased"/>            <xs:enumeration value="Absent"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="dn:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAMGROUP_ENDOCRINE_DMPN_PE_Light_touch_Left_Hand">  <xs:annotation>     <xs:documentation></xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Normal"/>            <xs:enumeration value="Decreased"/>            <xs:enumeration value="Absent"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="dn:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAMGROUP_ENDOCRINE_DMPN_PE_Light_touch_Left_Shoulder">  <xs:annotation>     <xs:documentation></xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Normal"/>            <xs:enumeration value="Decreased"/>            <xs:enumeration value="Absent"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="dn:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAMGROUP_NEURO_PN_Symptoms_Constant_Lower_Left">  <xs:annotation>     <xs:documentation></xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="None"/>            <xs:enumeration value="Mild"/>            <xs:enumeration value="Moderate"/>            <xs:enumeration value="Severe"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="dn:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAMGROUP_CARDIO_IHD_Name">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="dn:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAMGROUP_ENDOCRINE_DMPN_Dx">  <xs:annotation>     <xs:documentation>Does the Veteran now have or has he/she ever been diagnosed with diabetic peripheral neuropathy?</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Yes"/>            <xs:enumeration value="No"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="dn:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAMGROUP_ENDOCRINE_DMPN_Dx1">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="dn:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAMGROUP_ENDOCRINE_DMPN_Dx1_ICD">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="dn:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAMGROUP_ENDOCRINE_DMPN_Dx1_Date">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="dn:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAMGROUP_ENDOCRINE_DMPN_Dx2_Date">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="dn:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAMGROUP_ENDOCRINE_DMPN_Dx3">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="dn:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAMGROUP_ENDOCRINE_DMPN_Dx3_ICD">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="dn:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAMGROUP_ENDOCRINE_DMPN_Dx3_Date">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="dn:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAMGROUP_ENDOCRINE_DMPN_Dx_Other">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="dn:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAMGROUP_ENDOCRINE_DMPN_Hx_DM">  <xs:annotation>     <xs:documentation>a. Does the Veteran have diabetes mellitus type I or type II?</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Yes"/>            <xs:enumeration value="No"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="dn:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAMGROUP_NEURO_Parkinsons_Dominant_Hand">  <xs:annotation>     <xs:documentation>c. Dominant hand</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Right"/>            <xs:enumeration value="Left"/>            <xs:enumeration value="Ambidextrous"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="dn:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAMGROUP_ENDOCRINE_DMPN_Symptoms">  <xs:annotation>     <xs:documentation>a. Does the Veteran have any symptoms attributable to diabetic peripheral neuropathy?</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Yes"/>            <xs:enumeration value="No"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="dn:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAMGROUP_NEURO_PN_Symptoms_Dull_Lower_Left">  <xs:annotation>     <xs:documentation></xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="None"/>            <xs:enumeration value="Mild"/>            <xs:enumeration value="Moderate"/>            <xs:enumeration value="Severe"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="dn:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAMGROUP_NEURO_PN_Symptoms_Paresthesia_Lower_Left">  <xs:annotation>     <xs:documentation></xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="None"/>            <xs:enumeration value="Mild"/>            <xs:enumeration value="Moderate"/>            <xs:enumeration value="Severe"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="dn:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAMGROUP_NEURO_PN_Symptoms_Constant_Lower_Right">  <xs:annotation>     <xs:documentation></xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="None"/>            <xs:enumeration value="Mild"/>            <xs:enumeration value="Moderate"/>            <xs:enumeration value="Severe"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="dn:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAMGROUP_NEURO_PN_Symptoms_Constant_Upper_Left">  <xs:annotation>     <xs:documentation></xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="None"/>            <xs:enumeration value="Mild"/>            <xs:enumeration value="Moderate"/>            <xs:enumeration value="Severe"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="dn:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAMGROUP_NEURO_PN_Symptoms_Constant_Upper_Right">  <xs:annotation>     <xs:documentation></xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="None"/>            <xs:enumeration value="Mild"/>            <xs:enumeration value="Moderate"/>            <xs:enumeration value="Severe"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="dn:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAMGROUP_NEURO_PN_Symptoms_Dull_Lower_Right">  <xs:annotation>     <xs:documentation></xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="None"/>            <xs:enumeration value="Mild"/>            <xs:enumeration value="Moderate"/>            <xs:enumeration value="Severe"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="dn:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_SPINE_RADI_IP_LU">  <xs:annotation>     <xs:documentation></xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="None"/>            <xs:enumeration value="Mild"/>            <xs:enumeration value="Moderate"/>            <xs:enumeration value="Severe"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="dn:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_SPINE_RADI_IP_RU">  <xs:annotation>     <xs:documentation></xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="None"/>            <xs:enumeration value="Mild"/>            <xs:enumeration value="Moderate"/>            <xs:enumeration value="Severe"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="dn:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAMGROUP_NEURO_PN_Symptoms_Paresthesia_Lower_Right">  <xs:annotation>     <xs:documentation></xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="None"/>            <xs:enumeration value="Mild"/>            <xs:enumeration value="Moderate"/>            <xs:enumeration value="Severe"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="dn:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_SPINE_RADI_P_LU">  <xs:annotation>     <xs:documentation></xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="None"/>            <xs:enumeration value="Mild"/>            <xs:enumeration value="Moderate"/>            <xs:enumeration value="Severe"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="dn:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAMGROUP_NEURO_PN_Symptoms_Numbness_Lower_Right">  <xs:annotation>     <xs:documentation></xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="None"/>            <xs:enumeration value="Mild"/>            <xs:enumeration value="Moderate"/>            <xs:enumeration value="Severe"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="dn:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_SPINE_RADI_N_LU">  <xs:annotation>     <xs:documentation></xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="None"/>            <xs:enumeration value="Mild"/>            <xs:enumeration value="Moderate"/>            <xs:enumeration value="Severe"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="dn:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_SPINE_RADI_N_RU">  <xs:annotation>     <xs:documentation></xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="None"/>            <xs:enumeration value="Mild"/>            <xs:enumeration value="Moderate"/>            <xs:enumeration value="Severe"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="dn:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_SPINE_MST_EF_L">  <xs:annotation>     <xs:documentation></xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="5/5"/>            <xs:enumeration value="4/5"/>            <xs:enumeration value="3/5"/>            <xs:enumeration value="2/5"/>            <xs:enumeration value="1/5"/>            <xs:enumeration value="0/5"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="dn:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_SPINE_MST_WE_L">  <xs:annotation>     <xs:documentation></xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="5/5"/>            <xs:enumeration value="4/5"/>            <xs:enumeration value="3/5"/>            <xs:enumeration value="2/5"/>            <xs:enumeration value="1/5"/>            <xs:enumeration value="0/5"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="dn:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAMGROUP_NEURO_PN_Symptoms_Muscle_Grip_Right">  <xs:annotation>     <xs:documentation></xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="5/5"/>            <xs:enumeration value="4/5"/>            <xs:enumeration value="3/5"/>            <xs:enumeration value="2/5"/>            <xs:enumeration value="1/5"/>            <xs:enumeration value="0/5"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="dn:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAMGROUP_NEURO_PN_Symptoms_Muscle_Grip_Left">  <xs:annotation>     <xs:documentation></xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="5/5"/>            <xs:enumeration value="4/5"/>            <xs:enumeration value="3/5"/>            <xs:enumeration value="2/5"/>            <xs:enumeration value="1/5"/>            <xs:enumeration value="0/5"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="dn:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAMGROUP_NEURO_PN_Symptoms_Muscle_AnkleP_Left">  <xs:annotation>     <xs:documentation></xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="5/5"/>            <xs:enumeration value="4/5"/>            <xs:enumeration value="3/5"/>            <xs:enumeration value="2/5"/>            <xs:enumeration value="1/5"/>            <xs:enumeration value="0/5"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="dn:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAMGROUP_NEURO_PN_Symptoms_Muscle_AnkleD_Left">  <xs:annotation>     <xs:documentation></xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="5/5"/>            <xs:enumeration value="4/5"/>            <xs:enumeration value="3/5"/>            <xs:enumeration value="2/5"/>            <xs:enumeration value="1/5"/>            <xs:enumeration value="0/5"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="dn:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAMGROUP_NEURO_PN_Symptoms_Muscle_AnkleD_Right">  <xs:annotation>     <xs:documentation></xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="5/5"/>            <xs:enumeration value="4/5"/>            <xs:enumeration value="3/5"/>            <xs:enumeration value="2/5"/>            <xs:enumeration value="1/5"/>            <xs:enumeration value="0/5"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="dn:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAMGROUP_NEURO_PN_Symptoms_Muscle_AnkleP_Right">  <xs:annotation>     <xs:documentation></xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="5/5"/>            <xs:enumeration value="4/5"/>            <xs:enumeration value="3/5"/>            <xs:enumeration value="2/5"/>            <xs:enumeration value="1/5"/>            <xs:enumeration value="0/5"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="dn:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_SPINE_MST_WE_R">  <xs:annotation>     <xs:documentation></xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="5/5"/>            <xs:enumeration value="4/5"/>            <xs:enumeration value="3/5"/>            <xs:enumeration value="2/5"/>            <xs:enumeration value="1/5"/>            <xs:enumeration value="0/5"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="dn:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_SPINE_MST_WF_L">  <xs:annotation>     <xs:documentation></xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="5/5"/>            <xs:enumeration value="4/5"/>            <xs:enumeration value="3/5"/>            <xs:enumeration value="2/5"/>            <xs:enumeration value="1/5"/>            <xs:enumeration value="0/5"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="dn:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_SPINE_MST_WF_R">  <xs:annotation>     <xs:documentation></xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="5/5"/>            <xs:enumeration value="4/5"/>            <xs:enumeration value="3/5"/>            <xs:enumeration value="2/5"/>            <xs:enumeration value="1/5"/>            <xs:enumeration value="0/5"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="dn:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_SPINE_MST_EE_L">  <xs:annotation>     <xs:documentation></xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="5/5"/>            <xs:enumeration value="4/5"/>            <xs:enumeration value="3/5"/>            <xs:enumeration value="2/5"/>            <xs:enumeration value="1/5"/>            <xs:enumeration value="0/5"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="dn:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_SPINE_MST_EE_R">  <xs:annotation>     <xs:documentation></xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="5/5"/>            <xs:enumeration value="4/5"/>            <xs:enumeration value="3/5"/>            <xs:enumeration value="2/5"/>            <xs:enumeration value="1/5"/>            <xs:enumeration value="0/5"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="dn:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_SPINE_MST_EF_R">  <xs:annotation>     <xs:documentation></xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="5/5"/>            <xs:enumeration value="4/5"/>            <xs:enumeration value="3/5"/>            <xs:enumeration value="2/5"/>            <xs:enumeration value="1/5"/>            <xs:enumeration value="0/5"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="dn:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAMGROUP_NEURO_PN_Symptoms_DTR_Ankle_Left">  <xs:annotation>     <xs:documentation></xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="0"/>            <xs:enumeration value="1+"/>            <xs:enumeration value="2+"/>            <xs:enumeration value="3+"/>            <xs:enumeration value="4+"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="dn:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAMGROUP_NEURO_PN_Symptoms_DTR_Ankle_Right">  <xs:annotation>     <xs:documentation></xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="0"/>            <xs:enumeration value="1+"/>            <xs:enumeration value="2+"/>            <xs:enumeration value="3+"/>            <xs:enumeration value="4+"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="dn:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAMGROUP_NEURO_PN_Symptoms_DTR_Knee_Left">  <xs:annotation>     <xs:documentation></xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="0"/>            <xs:enumeration value="1+"/>            <xs:enumeration value="2+"/>            <xs:enumeration value="3+"/>            <xs:enumeration value="4+"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="dn:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAMGROUP_NEURO_PN_Symptoms_DTR_Knee_Right">  <xs:annotation>     <xs:documentation></xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="0"/>            <xs:enumeration value="1+"/>            <xs:enumeration value="2+"/>            <xs:enumeration value="3+"/>            <xs:enumeration value="4+"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="dn:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_SPINE_RE_BRACH_L">  <xs:annotation>     <xs:documentation></xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="0"/>            <xs:enumeration value="1+"/>            <xs:enumeration value="2+"/>            <xs:enumeration value="3+"/>            <xs:enumeration value="4+"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="dn:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_SPINE_RE_BRACH_R">  <xs:annotation>     <xs:documentation></xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="0"/>            <xs:enumeration value="1+"/>            <xs:enumeration value="2+"/>            <xs:enumeration value="3+"/>            <xs:enumeration value="4+"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="dn:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_SPINE_RE_TRI_R">  <xs:annotation>     <xs:documentation></xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="0"/>            <xs:enumeration value="1+"/>            <xs:enumeration value="2+"/>            <xs:enumeration value="3+"/>            <xs:enumeration value="4+"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="dn:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_SPINE_RE_BI_L">  <xs:annotation>     <xs:documentation></xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="0"/>            <xs:enumeration value="1+"/>            <xs:enumeration value="2+"/>            <xs:enumeration value="3+"/>            <xs:enumeration value="4+"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="dn:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_SPINE_RE_BI_R">  <xs:annotation>     <xs:documentation></xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="0"/>            <xs:enumeration value="1+"/>            <xs:enumeration value="2+"/>            <xs:enumeration value="3+"/>            <xs:enumeration value="4+"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="dn:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAMGROUP_ENDOCRINE_DMPN_PE_Light_touch_Right_Shoulder">  <xs:annotation>     <xs:documentation></xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Normal"/>            <xs:enumeration value="Decreased"/>            <xs:enumeration value="Absent"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="dn:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAMGROUP_ENDOCRINE_DMPN_PE_Light_touch_Right_Hand">  <xs:annotation>     <xs:documentation></xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Normal"/>            <xs:enumeration value="Decreased"/>            <xs:enumeration value="Absent"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="dn:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAMGROUP_ENDOCRINE_DMPN_PE_Position_Sense_NT">  <xs:annotation>    <xs:documentation>Not tested</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="dn:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAMGROUP_ENDOCRINE_DMPN_PE_Position_Sense_RUE">  <xs:annotation>     <xs:documentation></xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Normal"/>            <xs:enumeration value="Decreased"/>            <xs:enumeration value="Absent"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="dn:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAMGROUP_ENDOCRINE_DMPN_PE_Position_Sense_LUE">  <xs:annotation>     <xs:documentation></xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Normal"/>            <xs:enumeration value="Decreased"/>            <xs:enumeration value="Absent"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="dn:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAMGROUP_ENDOCRINE_DMPN_PE_Position_Sense_RLE">  <xs:annotation>     <xs:documentation></xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Normal"/>            <xs:enumeration value="Decreased"/>            <xs:enumeration value="Absent"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="dn:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAMGROUP_ENDOCRINE_DMPN_PE_Vibration_Sense_NT">  <xs:annotation>    <xs:documentation>Not tested</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="dn:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAMGROUP_ENDOCRINE_DMPN_PE_Vibration_Sense_RUE">  <xs:annotation>     <xs:documentation></xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Normal"/>            <xs:enumeration value="Decreased"/>            <xs:enumeration value="Absent"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="dn:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAMGROUP_ENDOCRINE_DMPN_PE_Vibration_Sense_LUE">  <xs:annotation>     <xs:documentation></xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Normal"/>            <xs:enumeration value="Decreased"/>            <xs:enumeration value="Absent"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="dn:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAMGROUP_ENDOCRINE_DMPN_PE_Vibration_Sense_LLE">  <xs:annotation>     <xs:documentation></xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Normal"/>            <xs:enumeration value="Decreased"/>            <xs:enumeration value="Absent"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="dn:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAMGROUP_ENDOCRINE_DMPN_PE_Cold_Sense_RUE">  <xs:annotation>     <xs:documentation></xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Normal"/>            <xs:enumeration value="Decreased"/>            <xs:enumeration value="Absent"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="dn:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAMGROUP_ENDOCRINE_DMPN_PE_Cold_Sense_LUE">  <xs:annotation>     <xs:documentation></xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Normal"/>            <xs:enumeration value="Decreased"/>            <xs:enumeration value="Absent"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="dn:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAMGROUP_ENDOCRINE_DMPN_PE_Cold_Sense_RLE">  <xs:annotation>     <xs:documentation></xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Normal"/>            <xs:enumeration value="Decreased"/>            <xs:enumeration value="Absent"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="dn:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_SPINE_MUSC_ATRO">  <xs:annotation>     <xs:documentation>g. Does the Veteran have muscle atrophy?</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Yes"/>            <xs:enumeration value="No"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="dn:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_SPINE_MUSC_ATRO_LOC">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="dn:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_SPINE_MUSC_ATRO_NS">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="dn:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAMGROUP_ENDOCRINE_DMPN_PE_Trophic_Changes">  <xs:annotation>     <xs:documentation></xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Yes"/>            <xs:enumeration value="No"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="dn:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAMGROUP_ENDOCRINE_DMPN_PE_Trophic_Changes_Describe">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="dn:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAMGROUP_NEURO_PN_Exam">  <xs:annotation>     <xs:documentation>Right:</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Normal"/>            <xs:enumeration value="Incomplete paralysis"/>            <xs:enumeration value="Complete paralysis"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="dn:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAMGROUP_NEURO_PN_Exam_Radial_Right_Incomplete">  <xs:annotation>     <xs:documentation>If Incomplete paralysis is checked, indicate severity:</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Mild"/>            <xs:enumeration value="Moderate"/>            <xs:enumeration value="Severe"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="dn:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAMGROUP_NEURO_PN_Exam_Radial_Left">  <xs:annotation>     <xs:documentation>Left:</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Normal"/>            <xs:enumeration value="Incomplete paralysis"/>            <xs:enumeration value="Complete paralysis"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="dn:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAMGROUP_NEURO_PN_Exam_Radial_Left_Incomplete">  <xs:annotation>     <xs:documentation>If Incomplete paralysis is checked, indicate severity:</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Mild"/>            <xs:enumeration value="Moderate"/>            <xs:enumeration value="Severe"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="dn:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAMGROUP_NEURO_PN_Exam_Median_Right">  <xs:annotation>     <xs:documentation>Right:</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Normal"/>            <xs:enumeration value="Incomplete paralysis"/>            <xs:enumeration value="Complete paralysis"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="dn:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAMGROUP_NEURO_PN_Exam_Median_Right_Incomplete">  <xs:annotation>     <xs:documentation>If Incomplete paralysis is checked, indicate severity:</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Mild"/>            <xs:enumeration value="Moderate"/>            <xs:enumeration value="Severe"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="dn:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAMGROUP_NEURO_PN_Exam_Median_Left">  <xs:annotation>     <xs:documentation>Left:</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Normal"/>            <xs:enumeration value="Incomplete paralysis"/>            <xs:enumeration value="Complete paralysis"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="dn:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAMGROUP_NEURO_PN_Exam_Median_Left_Incomplete">  <xs:annotation>     <xs:documentation>If Incomplete paralysis is checked, indicate severity:</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Mild"/>            <xs:enumeration value="Moderate"/>            <xs:enumeration value="Severe"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="dn:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAMGROUP_NEURO_PN_Exam_Ulnar_Right">  <xs:annotation>     <xs:documentation>Right:</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Normal"/>            <xs:enumeration value="Incomplete paralysis"/>            <xs:enumeration value="Complete paralysis"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="dn:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAMGROUP_NEURO_PN_Exam_Ulnar_Right_Incomplete">  <xs:annotation>     <xs:documentation>If Incomplete paralysis is checked, indicate severity:</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Mild"/>            <xs:enumeration value="Moderate"/>            <xs:enumeration value="Severe"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="dn:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAMGROUP_NEURO_PN_Exam_Ulnar_Left">  <xs:annotation>     <xs:documentation>Left:</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Normal"/>            <xs:enumeration value="Incomplete paralysis"/>            <xs:enumeration value="Complete paralysis"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="dn:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAMGROUP_NEURO_PN_Exam_Ulnar_Left_Incomplete">  <xs:annotation>     <xs:documentation>If Incomplete paralysis is checked, indicate severity:</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Mild"/>            <xs:enumeration value="Moderate"/>            <xs:enumeration value="Severe"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="dn:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAMGROUP_ENDOCRINE_DMPN_PE_UE_DPN">  <xs:annotation>     <xs:documentation>a. Does the Veteran have an upper extremity diabetic peripheral neuropathy?</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Yes"/>            <xs:enumeration value="No"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="dn:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAMGROUP_ENDOCRINE_DMPN_PE_LE_DPN">  <xs:annotation>     <xs:documentation>b. Does the Veteran have a lower extremity diabetic peripheral neuropathy?</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Yes"/>            <xs:enumeration value="No"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="dn:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAMGROUP_NEURO_PN_Exam_Sciatic_Right">  <xs:annotation>     <xs:documentation>Right:</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Normal"/>            <xs:enumeration value="Incomplete paralysis"/>            <xs:enumeration value="Complete paralysis"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="dn:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAMGROUP_NEURO_PN_Exam_Sciatic_Right_Incomplete">  <xs:annotation>     <xs:documentation>If Incomplete paralysis is checked, indicate severity:</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Mild"/>            <xs:enumeration value="Moderate"/>            <xs:enumeration value="Moderately Severe"/>            <xs:enumeration value="Severe, with marked muscular atrophy"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="dn:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAMGROUP_NEURO_PN_Exam_Sciatic_Left">  <xs:annotation>     <xs:documentation>Left:</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Normal"/>            <xs:enumeration value="Incomplete paralysis"/>            <xs:enumeration value="Complete paralysis"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="dn:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAMGROUP_NEURO_PN_Exam_Sciatic_Left_Incomplete">  <xs:annotation>     <xs:documentation>If Incomplete paralysis is checked, indicate severity:</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Mild"/>            <xs:enumeration value="Moderate"/>            <xs:enumeration value="Moderately Severe"/>            <xs:enumeration value="Severe, with marked muscular atrophy"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="dn:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAMGROUP_NEURO_PN_Exam_Femoral_Right">  <xs:annotation>     <xs:documentation>Right:</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Normal"/>            <xs:enumeration value="Incomplete paralysis"/>            <xs:enumeration value="Complete paralysis"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="dn:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAMGROUP_NEURO_PN_Exam_Femoral_Right_Incomplete">  <xs:annotation>     <xs:documentation>If Incomplete paralysis is checked, indicate severity:</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Mild"/>            <xs:enumeration value="Moderate"/>            <xs:enumeration value="Severe"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="dn:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAMGROUP_NEURO_PN_Exam_Femoral_Left">  <xs:annotation>     <xs:documentation>Left:</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Normal"/>            <xs:enumeration value="Incomplete paralysis"/>            <xs:enumeration value="Complete paralysis"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="dn:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAMGROUP_NEURO_PN_Exam_Femoral_Left_Incomplete">  <xs:annotation>     <xs:documentation>If Incomplete paralysis is checked, indicate severity:</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Mild"/>            <xs:enumeration value="Moderate"/>            <xs:enumeration value="Severe"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="dn:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAMGROUP_ENDOCRINE_DMPN_PE_Scar">  <xs:annotation>     <xs:documentation></xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Yes"/>            <xs:enumeration value="No"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="dn:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAMGROUP_ENDOCRINE_DMPN_PE_Other">  <xs:annotation>     <xs:documentation></xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Yes"/>            <xs:enumeration value="No"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="dn:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAMGROUP_NEURO_PN_Test_Diagnostic_EMG">  <xs:annotation>     <xs:documentation>a. Have EMG studies been performed?</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Yes"/>            <xs:enumeration value="No"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="dn:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAMGROUP_NEURO_PN_Test_Diagnostic_EMG_RU">  <xs:annotation>    <xs:documentation>Right upper extremity</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="dn:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAMGROUP_NEURO_PN_Test_Diagnostic_EMG_RU_Date">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="dn:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAMGROUP_NEURO_PN_Test_Diagnostic_EMG_LU">  <xs:annotation>    <xs:documentation>Left upper extremity</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="dn:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAMGROUP_NEURO_PN_Test_Diagnostic_EMG_LU_Date">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="dn:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAMGROUP_NEURO_PN_Test_Diagnostic_EMG_RL">  <xs:annotation>    <xs:documentation>Right lower extremity</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="dn:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAMGROUP_NEURO_PN_Test_Diagnostic_EMG_RL_Date">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="dn:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAMGROUP_NEURO_PN_Test_Diagnostic_EMG_LL">  <xs:annotation>    <xs:documentation>Left lower extremity</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="dn:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAMGROUP_ENDOCRINE_DMPN_Test_Other">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="dn:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAMGROUP_ENDOCRINE_DMPN_Functional_Impact">  <xs:annotation>     <xs:documentation>Does the Veteran's diabetic peripheral neuropathy impact his or her ability to work?</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Yes"/>            <xs:enumeration value="No"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="dn:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAMGROUP_ENDOCRINE_DMPN_Functional_Impact_Describe">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="dn:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAMGROUP_ENDOCRINE_DMPN_Remarks">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="dn:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAMGROUP_NEURO_PN_Symptoms_Muscle_Knee_Flexion_Left">  <xs:annotation>     <xs:documentation></xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="5/5"/>            <xs:enumeration value="4/5"/>            <xs:enumeration value="3/5"/>            <xs:enumeration value="2/5"/>            <xs:enumeration value="1/5"/>            <xs:enumeration value="0/5"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="dn:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAMGROUP_NEURO_PN_Symptoms_Muscle_Knee_Flexion_Right">  <xs:annotation>     <xs:documentation></xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="5/5"/>            <xs:enumeration value="4/5"/>            <xs:enumeration value="3/5"/>            <xs:enumeration value="2/5"/>            <xs:enumeration value="1/5"/>            <xs:enumeration value="0/5"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="dn:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAMGROUP_NEURO_PN_Symptoms_Muscle_Knee_Left">  <xs:annotation>     <xs:documentation></xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="5/5"/>            <xs:enumeration value="4/5"/>            <xs:enumeration value="3/5"/>            <xs:enumeration value="2/5"/>            <xs:enumeration value="1/5"/>            <xs:enumeration value="0/5"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="dn:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAMGROUP_NEURO_PN_Symptoms_Muscle_Knee_Right">  <xs:annotation>     <xs:documentation></xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="5/5"/>            <xs:enumeration value="4/5"/>            <xs:enumeration value="3/5"/>            <xs:enumeration value="2/5"/>            <xs:enumeration value="1/5"/>            <xs:enumeration value="0/5"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="dn:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAMGROUP_NEURO_PN_Symptoms_Muscle_Pinch_Left">  <xs:annotation>     <xs:documentation></xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="5/5"/>            <xs:enumeration value="4/5"/>            <xs:enumeration value="3/5"/>            <xs:enumeration value="2/5"/>            <xs:enumeration value="1/5"/>            <xs:enumeration value="0/5"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="dn:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAMGROUP_NEURO_PN_Test_Diagnostic_EMG_RU_Results">  <xs:annotation>     <xs:documentation></xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Normal"/>            <xs:enumeration value="Abnormal"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="dn:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_SPINE_RADI_P_RU">  <xs:annotation>     <xs:documentation></xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="None"/>            <xs:enumeration value="Mild"/>            <xs:enumeration value="Moderate"/>            <xs:enumeration value="Severe"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="dn:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAMGROUP_ENDOCRINE_DMPN_Test_EMG_Abnormal">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="dn:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAMGROUP_NEURO_PN_Test_Diagnostic_EMG_LL_Date">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="dn:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAMGROUP_ENDOCRINE_DMPN_PE_Other_Describe">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="dn:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAMGROUP_ENDOCRINE_DMPN_PE_Scar_Size">  <xs:annotation>     <xs:documentation>If yes, are any of the scars painful and/or unstable, or is the total area of all related scars greater than 39 square cm (6 square inches)?</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Yes"/>            <xs:enumeration value="No"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="dn:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_SPINE_RE_TRI_L">  <xs:annotation>     <xs:documentation></xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="0"/>            <xs:enumeration value="1+"/>            <xs:enumeration value="2+"/>            <xs:enumeration value="3+"/>            <xs:enumeration value="4+"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="dn:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAMGROUP_NEURO_PN_Symptoms_Muscle_Pinch_Right">  <xs:annotation>     <xs:documentation></xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="5/5"/>            <xs:enumeration value="4/5"/>            <xs:enumeration value="3/5"/>            <xs:enumeration value="2/5"/>            <xs:enumeration value="1/5"/>            <xs:enumeration value="0/5"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="dn:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAMGROUP_ENDOCRINE_DMPN_Dx2_ICD">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="dn:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAMGROUP_ENDOCRINE_DMPN_Dx2">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="dn:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAMGROUP_NEURO_PN_Symptoms_Other_CB">  <xs:annotation>    <xs:documentation>Other symptoms (describe symptoms, location and severity):</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="dn:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAMGROUP_NEURO_PN_Symptoms_Other_Describe">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="dn:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAMGROUP_NEURO_PN_Symptoms_Numbness_Lower_Left">  <xs:annotation>     <xs:documentation></xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="None"/>            <xs:enumeration value="Mild"/>            <xs:enumeration value="Moderate"/>            <xs:enumeration value="Severe"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="dn:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAMGROUP_ENDOCRINE_DMPN_PE_Cold_Sense_NT">  <xs:annotation>    <xs:documentation>Not tested</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="dn:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAMGROUP_ENDOCRINE_DMPN_Hx_DM_Describe">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="dn:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ACE_1">  <xs:annotation>    <xs:documentation></xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="dn:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ACE_2">  <xs:annotation>    <xs:documentation></xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="dn:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ACE_3">  <xs:annotation>    <xs:documentation>Examination via approved video telehealth</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="dn:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ACE_4">  <xs:annotation>    <xs:documentation>In-person examination</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="dn:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ACE_5_RevRec_1">  <xs:annotation>     <xs:documentation>Was the Veteran's VA claims file reviewed?</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Yes"/>            <xs:enumeration value="No"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="dn:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ACE_5_RevRec_2">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="dn:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ACE_5_RevRec_3">  <xs:annotation>    <xs:documentation>Military service treatment records</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="dn:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ACE_5_RevRec_4">  <xs:annotation>    <xs:documentation>Military service personnel records</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="dn:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ACE_5_RevRec_5">  <xs:annotation>    <xs:documentation>Military enlistment examination</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="dn:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ACE_5_RevRec_6">  <xs:annotation>    <xs:documentation>Military separation examination</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="dn:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ACE_5_RevRec_7">  <xs:annotation>    <xs:documentation>Military post-deployment questionnaire</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="dn:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ACE_5_RevRec_8">  <xs:annotation>    <xs:documentation>Department of Defense Form 214 Separation Documents</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="dn:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ACE_5_RevRec_9">  <xs:annotation>    <xs:documentation>Veterans Health Administration medical records (VA treatment records)</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="dn:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ACE_5_RevRec_10">  <xs:annotation>    <xs:documentation>Civilian medical records</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="dn:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ACE_5_RevRec_11">  <xs:annotation>    <xs:documentation>Interviews with collateral witnesses (family and others who have known the Veteran before and after military service)</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="dn:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ACE_5_RevRec_12">  <xs:annotation>    <xs:documentation>No records were reviewed</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="dn:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ACE_5_RevRec_13">  <xs:annotation>    <xs:documentation>Other:</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="dn:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ACE_5_RevRec_14">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="dn:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
  </xs:all>  </xs:complexType>  <xs:element name="DiabeticSensoryMotorPeripheralForm" type="dn:DiabeticSensoryMotorPeripheralFormType"/>  <xs:complexType name="Metadata">    <xs:all>      <xs:element name="code" type="xs:string"/>      <xs:element name="codeSystem" type="xs:string"/>      <xs:element name="version" type="xs:string"/>      <xs:element name="source" type="xs:string"/>    </xs:all>  </xs:complexType></xs:schema>
