legacy/Ear_Conditions_DBQ_v14_1_T1.pnl.xsd

<?xml version="1.0" encoding="UTF-8"?><xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:earc="http://vler.va.gov/vler/schemas/health/clinicalDocuments/clinicalAssessments/cpExams/1.3/EarConditions" targetNamespace="http://vler.va.gov/vler/schemas/health/clinicalDocuments/clinicalAssessments/cpExams/1.3/EarConditions" version="1.0">  <xs:complexType name="EarConditionsFormType">  <xs:all>
<xs:element name="EXAMGROUP_CARDIO_IHD_Name">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="earc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="DIAGNOSIS_EAR_DIAGNOSIS">  <xs:annotation>     <xs:documentation>Does the Veteran now have or has he/she ever been diagnosed with an ear or peripheral vestibular condition?</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Yes"/>            <xs:enumeration value="No"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="earc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="MenieresSyndromeOrEndolymphaticHydrops">  <xs:annotation>    <xs:documentation>Meniere's syndrome or endolymphatic hydrops</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="earc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="DIAGNOSIS_EAR_MENIERE_ICD">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="earc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="DIAGNOSIS_EAR_MENIERE_DATE">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="earc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="PeripheralVestibularDisorder">  <xs:annotation>    <xs:documentation>Peripheral vestibular disorder</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="earc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="DIAGNOSIS_EAR_PVD_ICD">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="earc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="DIAGNOSIS_EAR_BPPV">  <xs:annotation>    <xs:documentation>Benign Paroxysmal Positional Vertigo (BPPV)</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="earc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="DIAGNOSIS_EAR_BPPV_ICD">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="earc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="DIAGNOSIS_EAR_BPPV_DATE">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="earc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="ChronicOtitisExterna">  <xs:annotation>    <xs:documentation>Chronic otitis externa</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="earc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="DIAGNOSIS_EAR_OTITIS_ICD">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="earc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="ChronicSuppurativeOtitisMedia">  <xs:annotation>    <xs:documentation>Chronic suppurative otitis media</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="earc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="DIAGNOSIS_EAR_SUPPURATIVE_ICD">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="earc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="DIAGNOSIS_EAR_SUPPURATIVE_DATE">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="earc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="ChronicNonsuppurativeOtitisMedia">  <xs:annotation>    <xs:documentation>Chronic nonsuppurative otitis media (serous otitis media)</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="earc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="DIAGNOSIS_EAR_NONSUPPURATIVE_ICD">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="earc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="DIAGNOSIS_EAR_NONSUPPURATIVE_DATE">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="earc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="Mastoiditis">  <xs:annotation>    <xs:documentation>Mastoiditis</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="earc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="DIAGNOSIS_EAR_MASTOIDITIS_ICD">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="earc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="DIAGNOSIS_EAR_MASTOIDITIS_DATE">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="earc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="Cholesteatoma">  <xs:annotation>    <xs:documentation>Cholesteatoma</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="earc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="DIAGNOSIS_EAR_CHOLESTEATOMA_ICD">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="earc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="DIAGNOSIS_EAR_CHOLESTEATOMA_DATE">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="earc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="Otosclerosis">  <xs:annotation>    <xs:documentation>Otosclerosis</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="earc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="DIAGNOSIS_EAR_OTOSCLEROSIS_DATE">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="earc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="BenignNeoplasmEar">  <xs:annotation>    <xs:documentation>Benign neoplasm of the ear (other than skin only)</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="earc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="DIAGNOSIS_EAR_BENIGN_ICD">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="earc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="DIAGNOSIS_EAR_BENIGN_DATE">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="earc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="MalignantNeoplasmEar">  <xs:annotation>    <xs:documentation>Malignant neoplasm of the ear (other than skin only)</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="earc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="DIAGNOSIS_EAR_MALIGNANT_ICD">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="earc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="DIAGNOSIS_EAR_MALIGNANT_DATE">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="earc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="DIAGNOSIS_EAR_OTHER">  <xs:annotation>    <xs:documentation>Other, specify:</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="earc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="DIAGNOSIS_EAR_OTHER_1">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="earc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="DIAGNOSIS_EAR_OTHER_1_ICD">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="earc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="DIAGNOSIS_EAR_OTHER_1_DATE">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="earc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="DIAGNOSIS_EAR_OTHER_2">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="earc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="DIAGNOSIS_EAR_OTHER_2_ICD">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="earc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="DIAGNOSIS_EAR_OTHER_2_DATE">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="earc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="DIAGNOSIS_EAR_ADDITIONAL">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="earc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="HISTORY_EAR_DESCRIBE">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="earc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="HISTORY_EAR_MEDS">  <xs:annotation>     <xs:documentation>b. Does the Veteran's treatment plan include taking continuous medication for the diagnosed condition?</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Yes"/>            <xs:enumeration value="No"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="earc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="HISTORY_EAR_MEDS_YES">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="earc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_EAR_VC">  <xs:annotation>     <xs:documentation></xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Yes"/>            <xs:enumeration value="No"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="earc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_EAR_VC_HEARING_VERTIGO">  <xs:annotation>    <xs:documentation>Hearing impairment with vertigo</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="earc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EarConditionsVestibularImpairmentWithVertigoCerebellarGaitFrequency">  <xs:annotation>     <xs:documentation></xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Less than once a month"/>            <xs:enumeration value="1 to 4 times per month"/>            <xs:enumeration value="More than once weekly"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="earc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_EAR_VC_HEARING_VERTIGO_DURATION">  <xs:annotation>     <xs:documentation></xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="<1 hour"/>            <xs:enumeration value="1 to 24 hours"/>            <xs:enumeration value=">24 hours"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="earc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EarConditionsVestibularImpairmentWithVertigoCerebellarGait">  <xs:annotation>    <xs:documentation>Hearing impairment with attacks of vertigo and cerebellar gait</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="earc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_EAR_VC_HEARING_ATTACKS_FREQ">  <xs:annotation>     <xs:documentation></xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Less than once a month"/>            <xs:enumeration value="1 to 4 times per month"/>            <xs:enumeration value="More than once weekly"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="earc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_EAR_VC_HEARING_ATTACKS_DURATION">  <xs:annotation>     <xs:documentation></xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="<1 hour"/>            <xs:enumeration value="1 to 24 hours"/>            <xs:enumeration value=">24 hours"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="earc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_EAR_VC_TINNITUS">  <xs:annotation>    <xs:documentation>Tinnitus, unilateral or bilateral</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="earc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_EAR_VC_TINNITUS_FREQ">  <xs:annotation>     <xs:documentation></xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Less than once a month"/>            <xs:enumeration value="1 to 4 times per month"/>            <xs:enumeration value="More than once weekly"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="earc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_EAR_VC_TINNITUS_DURATION">  <xs:annotation>     <xs:documentation></xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="<1 hour"/>            <xs:enumeration value="1 to 24 hours"/>            <xs:enumeration value=">24 hours"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="earc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EarConditionsVestibularVertigo">  <xs:annotation>    <xs:documentation>Vertigo</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="earc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EarConditionsVestibularVertigoFrequency">  <xs:annotation>     <xs:documentation></xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Less than once a month"/>            <xs:enumeration value="1 to 4 times per month"/>            <xs:enumeration value="More than once weekly"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="earc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_EAR_VC_VERTIGO_DURATION">  <xs:annotation>     <xs:documentation></xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="<1 hour"/>            <xs:enumeration value="1 to 24 hours"/>            <xs:enumeration value=">24 hours"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="earc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EarConditionsVestibularStaggering">  <xs:annotation>    <xs:documentation>Staggering</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="earc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EarConditionsVestibularStaggeringFrequency">  <xs:annotation>     <xs:documentation></xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Less than once a month"/>            <xs:enumeration value="1 to 4 times per month"/>            <xs:enumeration value="More than once weekly"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="earc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_EAR_VC_STAGGERING_DURATION">  <xs:annotation>     <xs:documentation></xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="<1 hour"/>            <xs:enumeration value="1 to 24 hours"/>            <xs:enumeration value=">24 hours"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="earc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_EAR_VC_HEARING_TINNITUS">  <xs:annotation>    <xs:documentation>Hearing impairment and/or tinnitus</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="earc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_EAR_VC_OTHER">  <xs:annotation>    <xs:documentation>Other, describe:</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="earc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_EAR_VC_OTHER_DESCRIBE">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="earc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_EAR_IIO">  <xs:annotation>     <xs:documentation></xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Yes"/>            <xs:enumeration value="No"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="earc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EarConditionsSwelling">  <xs:annotation>    <xs:documentation>Swelling (external ear canal)</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="earc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_EAR_IIO_SWELLING_DESCRIBE">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="earc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EarConditionsDryScaly">  <xs:annotation>    <xs:documentation>Dry and scaly (external ear canal)</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="earc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EarConditionsSerousDischarge">  <xs:annotation>    <xs:documentation>Serous discharge (external ear canal)</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="earc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="DIAGNOSIS_EAR_PVD_DATE">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="earc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EarConditionsItching">  <xs:annotation>    <xs:documentation>Itching (external ear canal)</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="earc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_EAR_IIO_EFFUSION">  <xs:annotation>    <xs:documentation>Effusion</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="earc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EarConditionsActiveSuppuration">  <xs:annotation>    <xs:documentation>Active suppuration</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="earc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EarConditionsAuralPolyps">  <xs:annotation>    <xs:documentation>Aural polyps</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="earc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_EAR_IIO_HEARING">  <xs:annotation>    <xs:documentation>Hearing impairment and/or tinnitus</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="earc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_EAR_IIO_FACIAL">  <xs:annotation>    <xs:documentation>Facial nerve paralysis</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="earc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_EAR_IIO_BONE">  <xs:annotation>    <xs:documentation>Bone loss of skull</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="earc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_EAR_IIO_BONE_SMALLER_THAN_25">  <xs:annotation>    <xs:documentation>Area lost smaller than an American quarter (4.619 cm2)</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="earc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_EAR_IIO_BONE_LARGER_THAN_25_LESS_THAN_50">  <xs:annotation>    <xs:documentation>Area lost larger than an American quarter but smaller than a 50-cent piece</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="earc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_EAR_IIO_BONE_LARGER_THAN_50">  <xs:annotation>    <xs:documentation>Area lost larger than an American 50-cent piece (7.355 cm2)</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="earc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EarConditionsFrequentProlongedTx">  <xs:annotation>    <xs:documentation>Requiring frequent and prolonged treatment</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="earc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_EAR_IIO_REQUIRING_DESCRIBE">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="earc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_EAR_IIO_OTHER">  <xs:annotation>    <xs:documentation>Other, describe:</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="earc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_EAR_IIO_OTHER_DESCRIBE">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="earc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_EAR_IIO_BEIGN_NEOPLASM">  <xs:annotation>     <xs:documentation>b. Does the Veteran have a benign neoplasm of the ear (other than skin only, such as keloid) that causes any impairment of function?</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Yes"/>            <xs:enumeration value="No"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="earc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_EAR_IIO_BEIGN_NEOPLASM_DESCRIBE">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="earc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_EAR_ST">  <xs:annotation>     <xs:documentation>a. Has the Veteran had surgical treatment for any ear condition?</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Yes"/>            <xs:enumeration value="No"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="earc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_EAR_ST_SURGERY">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="earc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_EAR_ST_SURGERY_DATE">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="earc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_EAR_ST_SURGERY_SA">  <xs:annotation>     <xs:documentation></xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Right"/>            <xs:enumeration value="Left"/>            <xs:enumeration value="Both"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="earc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_EAR_ST_SURGERY_RESIDUALS">  <xs:annotation>     <xs:documentation>b. Does the Veteran have any residuals as a result of the surgery?</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Yes"/>            <xs:enumeration value="No"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="earc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_EAR_ST_SURGERY_RESIDUALS_DESCRIBE">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="earc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_EAR_PE_EXTERNAL_EXAM">  <xs:annotation>    <xs:documentation>Exam of external ear not indicated</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="earc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_EAR_PE_EXTERNAL_NORMAL">  <xs:annotation>    <xs:documentation>Normal</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="earc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EarConditionsDeformityOfAuricleLessThanOneThird">  <xs:annotation>    <xs:documentation>Deformity of auricle, with loss of less than one-third of the substance</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="earc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EarConditionsDeformityOfAuricleLessThanOneThirdSide">  <xs:annotation>     <xs:documentation></xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Right"/>            <xs:enumeration value="Left"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="earc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EarConditionsDeformityOfAuricleOneThirdOrMore">  <xs:annotation>    <xs:documentation>Deformity of auricle, with loss of one-third or more of the substance</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="earc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EarConditionsDeformityOfAuricleOneThirdOrMoreSide">  <xs:annotation>     <xs:documentation></xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Right"/>            <xs:enumeration value="Left"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="earc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EarConditiondCompleteLossOfAuricle">  <xs:annotation>    <xs:documentation>Complete loss of auricle</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="earc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EarConditionsCompleteLossOfAuricleSide">  <xs:annotation>     <xs:documentation></xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Right"/>            <xs:enumeration value="Left"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="earc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_EAR_PE_EXTERNAL_OTHER">  <xs:annotation>    <xs:documentation>Other abnormality, describe:</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="earc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_EAR_PE_EXTERNAL_OTHER_DESCRIBE">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="earc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_EAR_PE_EAR_CANAL_EXAM">  <xs:annotation>    <xs:documentation>Exam of ear canal not indicated</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="earc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_EAR_PE_EAR_CANAL_NORMAL">  <xs:annotation>    <xs:documentation>Normal</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="earc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_EAR_PE_EAR_CANAL_ABNORMAL">  <xs:annotation>    <xs:documentation>Abnormal, describe</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="earc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_EAR_PE_EAR_CANAL_ABNORMAL_DESCRIBE">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="earc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_EAR_PE_TM_TYM_EXAM">  <xs:annotation>    <xs:documentation>Exam of tympanic membrane not indicated</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="earc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_EAR_PE_TM_TYM_NORMAL">  <xs:annotation>    <xs:documentation>Normal</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="earc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EarConditionsPerforatedTympanicMembrane">  <xs:annotation>    <xs:documentation>Perforated tympanic membrane</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="earc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_EAR_PE_TM_TYM_PERF_SA">  <xs:annotation>     <xs:documentation></xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Right"/>            <xs:enumeration value="Left"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="earc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_EAR_PE_TM_TYM_EVID">  <xs:annotation>    <xs:documentation>Evidence of a healed tympanic membrane perforation</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="earc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_EAR_PE_TM_TYM_EVID_SA">  <xs:annotation>     <xs:documentation></xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Right"/>            <xs:enumeration value="Left"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="earc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_EAR_PE_TM_TYM_OTHER">  <xs:annotation>    <xs:documentation>Other abnormality, describe:</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="earc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_EAR_PE_TM_TYM_OTHER_DESCRIBE">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="earc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_EAR_PE_GAIT_EXAM">  <xs:annotation>    <xs:documentation>Exam of gait not indicated</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="earc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_EAR_PE_GAIT_NORMAL">  <xs:annotation>    <xs:documentation>Normal</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="earc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_EAR_PE_GAIT_UNSTEADY">  <xs:annotation>    <xs:documentation>Unsteady, describe:</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="earc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_EAR_PE_GAIT_UNSTEADY_DESCRIBE">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="earc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_EAR_PE_GAIT_OTHER">  <xs:annotation>    <xs:documentation>Other abnormality, describe:</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="earc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_EAR_PE_GAIT_OTHER_DESCRIBE">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="earc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_EAR_PE_RT_EXAM">  <xs:annotation>    <xs:documentation>Exam using this test not indicated</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="earc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_EAR_PE_RT_NORMAL">  <xs:annotation>    <xs:documentation>Normal or negative</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="earc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_EAR_PE_RT_ABNORMAL">  <xs:annotation>    <xs:documentation>Abnormal or positive for unsteadiness</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="earc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_EAR_PE_DIX_EXAM">  <xs:annotation>    <xs:documentation>Exam using this test not indicated</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="earc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_EAR_PE_DIX_NORMAL">  <xs:annotation>    <xs:documentation>Normal, no vertigo or nystagmus during test</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="earc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_EAR_PE_DIX_ABNORMAL">  <xs:annotation>    <xs:documentation>Abnormal, vertigo or nystagmus during test, describe:</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="earc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_EAR_PE_DIX_ABNORMAL_DESCRIBE">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="earc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_EAR_PE_LIMB_EXAM">  <xs:annotation>    <xs:documentation>Exam using this test not indicated</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="earc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_EAR_PE_LIMB_NORMAL">  <xs:annotation>    <xs:documentation>Normal</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="earc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_EAR_PE_LIMB_ABNORMAL">  <xs:annotation>    <xs:documentation>Abnormal, describe:</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="earc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_EAR_PE_LIMB_ABNORMAL_DESCRIBE">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="earc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EarConditionsNeoplasmMetastases">  <xs:annotation>     <xs:documentation>a. Does the Veteran have a benign or malignant neoplasm or metastases related to any of the diagnoses in the Diagnosis section?</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Yes"/>            <xs:enumeration value="No"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="earc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EarConditionsNeoplasmBenignMalignant">  <xs:annotation>     <xs:documentation>b. Is the neoplasm</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Benign"/>            <xs:enumeration value="Malignant"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="earc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EarConditionsNeoplasmMetastasesTx">  <xs:annotation>     <xs:documentation>c. Has the Veteran completed treatment or is the Veteran currently undergoing treatment for a benign or malignant neoplasm or metastases?</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Yes"/>            <xs:enumeration value="No; watchful waiting"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="earc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EarConditionsNeoplasmMetastasesTxComplete">  <xs:annotation>    <xs:documentation>Treatment completed; currently in watchful waiting status</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="earc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EarConditionsNeoplasmMetastasesTxSurgery">  <xs:annotation>    <xs:documentation>Surgery</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="earc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_EAR_TUMORS_TX_SURGERY_DESCRIBE">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="earc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_EAR_TUMORS_TX_SURGERY_DATE">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="earc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EarConditionsNeoplasmMetastasesTxRadiation">  <xs:annotation>    <xs:documentation>Radiation therapy</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="earc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_EAR_TUMORS_TX_RADI_RECENT_TX">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="earc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_EAR_TUMORS_TX_RADI_TX_COMPLETE">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="earc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EarConditionsNeoplasmMetastasesTxAntineoplasticChemotherapy">  <xs:annotation>    <xs:documentation>Antineoplastic chemotherapy</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="earc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_EAR_TUMORS_TX_ANTI_RECENT_TX">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="earc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_EAR_TUMORS_TX_ANTI_TX_COMPLETE">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="earc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EarConditionsNeoplasmMetastasesTxOtherTherapeuticProcedure">  <xs:annotation>    <xs:documentation>Other therapeutic procedure</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="earc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_EAR_TUMORS_TX_OTHER_PROCEDURE_DESCRIBE">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="earc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_EAR_TUMORS_TX_OTHER_PROCEDURE_DATE">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="earc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EarConditionsNeoplasmMetastasesTxOtherTherapeuticTreatment">  <xs:annotation>    <xs:documentation>Other therapeutic treatment</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="earc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_EAR_TUMORS_TX_OTHER_TX_DESCRIBE">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="earc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_EAR_TUMORS_TX_OTHER_TX_DATE">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="earc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EarConditionsNeoplasmMetastasesResiduals">  <xs:annotation>     <xs:documentation></xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Yes"/>            <xs:enumeration value="No"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="earc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_EAR_TUMORS_RESIDUALS_DESCRIBE">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="earc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_EAR_TUMORS_ADDITIONAL">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="earc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_EAR_OPP_SCARS">  <xs:annotation>     <xs:documentation></xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Yes"/>            <xs:enumeration value="No"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="earc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_EAR_OPP_SCARS_YES">  <xs:annotation>     <xs:documentation>If yes, are any of the scars painful and/or unstable, or is the total area of all related scars greater than 39 square cm (6 square inches)?</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Yes"/>            <xs:enumeration value="No"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="earc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_EAR_OPP_OTHER_PERT">  <xs:annotation>     <xs:documentation></xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Yes"/>            <xs:enumeration value="No"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="earc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_EAR_OPP_OTHER_PERT_DESCRIBE">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="earc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_EAR_DT_IMAGING">  <xs:annotation>     <xs:documentation>a. Have diagnostic imaging studies or other diagnostic procedures been performed?</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Yes"/>            <xs:enumeration value="No"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="earc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_EAR_DT_IMAGING_MRI">  <xs:annotation>    <xs:documentation>Magnetic resonance imaging (MRI)</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="earc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_EAR_DT_IMAGING_MRI_DATE">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="earc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_EAR_DT_IMAGING_MRI_RESULTS">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="earc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_EAR_DT_IMAGING_CT">  <xs:annotation>    <xs:documentation>Computerized axial tomography (CT)</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="earc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_EAR_DT_IMAGING_CT_DATE">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="earc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_EAR_DT_IMAGING_CT_RESULTS">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="earc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_EAR_DT_IMAGING_ENG">  <xs:annotation>    <xs:documentation>Electronystagmography (ENG)</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="earc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_EAR_DT_IMAGING_ENG_DATE">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="earc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_EAR_DT_IMAGING_ENG_RESULTS">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="earc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_EAR_DT_IMAGING_OTHER">  <xs:annotation>    <xs:documentation>Other, specify:</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="earc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_EAR_DT_IMAGING_OTHER_EDIT">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="earc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_EAR_DT_IMAGING_OTHER_DATE">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="earc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_EAR_DT_IMAGING_OTHER_RESULTS">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="earc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_EAR_DT_AUDIOGRAM">  <xs:annotation>     <xs:documentation>b. Has the Veteran had an audiogram?</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Yes"/>            <xs:enumeration value="No"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="earc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_EAR_DT_AUDIOGRAM_RESULTS">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="earc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_EAR_DT_OTHER_SIGN">  <xs:annotation>     <xs:documentation>c. Are there any other significant diagnostic test findings and/or results?</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Yes"/>            <xs:enumeration value="No"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="earc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_EAR_DT_OTHER_SIGN_DESCRIBE">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="earc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_EAR_FI">  <xs:annotation>     <xs:documentation>Do any of the Veteran's ear or peripheral vestibular conditions impact his or her ability to work?</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Yes"/>            <xs:enumeration value="No"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="earc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_EAR_FI_DESCRIBE">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="earc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_EAR_REMARKS">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="earc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="DIAGNOSIS_EAR_OTITIS_DATE">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="earc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="DIAGNOSIS_EAR_OTOSCLEROSIS_ICD">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="earc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ACE_1">  <xs:annotation>    <xs:documentation></xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="earc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ACE_2">  <xs:annotation>    <xs:documentation></xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="earc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ACE_3">  <xs:annotation>    <xs:documentation>Examination via approved video telehealth</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="earc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ACE_4">  <xs:annotation>    <xs:documentation>In-person examination</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="earc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ACE_5_RevRec_1">  <xs:annotation>     <xs:documentation>Was the Veteran's VA claims file reviewed?</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Yes"/>            <xs:enumeration value="No"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="earc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ACE_5_RevRec_2">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="earc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ACE_5_RevRec_3">  <xs:annotation>    <xs:documentation>Military service treatment records</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="earc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ACE_5_RevRec_4">  <xs:annotation>    <xs:documentation>Military service personnel records</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="earc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ACE_5_RevRec_5">  <xs:annotation>    <xs:documentation>Military enlistment examination</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="earc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ACE_5_RevRec_6">  <xs:annotation>    <xs:documentation>Military separation examination</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="earc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ACE_5_RevRec_7">  <xs:annotation>    <xs:documentation>Military post-deployment questionnaire</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="earc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ACE_5_RevRec_8">  <xs:annotation>    <xs:documentation>Department of Defense Form 214 Separation Documents</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="earc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ACE_5_RevRec_9">  <xs:annotation>    <xs:documentation>Veterans Health Administration medical records (VA treatment records)</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="earc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ACE_5_RevRec_10">  <xs:annotation>    <xs:documentation>Civilian medical records</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="earc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ACE_5_RevRec_11">  <xs:annotation>    <xs:documentation>Interviews with collateral witnesses (family and others who have known the Veteran before and after military service)</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="earc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ACE_5_RevRec_12">  <xs:annotation>    <xs:documentation>No records were reviewed</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="earc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ACE_5_RevRec_13">  <xs:annotation>    <xs:documentation>Other:</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="earc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ACE_5_RevRec_14">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="earc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
  </xs:all>  </xs:complexType>  <xs:element name="EarConditionsForm" type="earc:EarConditionsFormType"/>  <xs:complexType name="Metadata">    <xs:all>      <xs:element name="code" type="xs:string"/>      <xs:element name="codeSystem" type="xs:string"/>      <xs:element name="version" type="xs:string"/>      <xs:element name="source" type="xs:string"/>    </xs:all>  </xs:complexType></xs:schema>
