legacy/Eating_Disorders_DBQ_v14_1_T1.pnl.xsd

<?xml version="1.0" encoding="UTF-8"?><xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ed="http://vler.va.gov/vler/schemas/health/clinicalDocuments/clinicalAssessments/cpExams/1.3/EatingDisorders" targetNamespace="http://vler.va.gov/vler/schemas/health/clinicalDocuments/clinicalAssessments/cpExams/1.3/EatingDisorders" version="1.0">  <xs:complexType name="EatingDisordersFormType">  <xs:all>
<xs:element name="EXAMGROUP_CARDIO_IHD_Name">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="ed:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAMGROUP_PSYCH_ED_Diagnosis">  <xs:annotation>     <xs:documentation>Does the Veteran now have or has he/she ever been diagnosed with an eating disorder(s)?</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Yes"/>            <xs:enumeration value="No"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="ed:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="BulimiaNervosaSymptoms">  <xs:annotation>    <xs:documentation>Bulimia</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="ed:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAMGROUP_PSYCH_ED_Diagnosis_Bulemia_Date">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="ed:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAMGROUP_PSYCH_ED_Diagnosis_Bulemia_Facility">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="ed:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAMGROUP_PSYCH_ED_Diagnosis_Bulemia_ICD">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="ed:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="AnorexiaNervosa">  <xs:annotation>    <xs:documentation>Anorexia</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="ed:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAMGROUP_PSYCH_ED_Diagnosis_Anorexia_Facilit_y">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="ed:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAMGROUP_PSYCH_ED_Diagnosis_Other">  <xs:annotation>    <xs:documentation>Eating disorder not otherwise specified</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="ed:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAMGROUP_PSYCH_ED_Diagnosis_Other_Date">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="ed:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAMGROUP_PSYCH_ED_Diagnosis_Other_Facilit_y">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="ed:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAMGROUP_PSYCH_ED_Diagnosis_Other_ICD">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="ed:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="BingeEatingMeasuresPreventWeightGain">  <xs:annotation>    <xs:documentation>Binge eating followed by measures to prevent weight gain</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="ed:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="BingeEatingSelfInducedVomiting">  <xs:annotation>    <xs:documentation>Binge eating followed by self-induced vomiting</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="ed:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="IncapacitatingEpisodesMoreTwoLessSixWeeks">  <xs:annotation>    <xs:documentation>Incapacitating episodes of more than two but less than six weeks total duration per year</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="ed:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="IncapacitatingEpisodesSixOrMoreWeeks">  <xs:annotation>    <xs:documentation>Incapacitating episodes of six or more weeks total duration per year</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="ed:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="IncapacitatingEpisodesTwoWeeks">  <xs:annotation>    <xs:documentation>Incapacitating episodes of up to two weeks total duration per year</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="ed:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAMGROUP_PSYCH_ED_Other_Symptoms">  <xs:annotation>     <xs:documentation>Does the Veteran have any other symptoms attributable to an eating disorder?</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Yes"/>            <xs:enumeration value="No"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="ed:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAMGROUP_PSYCH_ED_Other_Symptoms_Describe">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="ed:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAMGROUP_PSYCH_ED_Functional_Impact">  <xs:annotation>     <xs:documentation>Does the Veteran's eating disorder(s) impact his or her ability to work?</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Yes"/>            <xs:enumeration value="No"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="ed:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAMGROUP_PSYCH_ED_Functional_Impact_Describe">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="ed:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAMGROUP_PSYCH_ED_Remarks">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="ed:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAMGROUP_PSYCH_ED_Diagnosis_Anorexia_ICD">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="ed:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAMGROUP_PSYCH_ED_Diagnosis_Anorexia_Date">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="ed:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAMGROUP_PSYCH_ED_History">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="ed:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="HospitalizationMoreTwiceYearParenteralNutrition">  <xs:annotation>    <xs:documentation>Requiring hospitalization more than twice a year for parenteral nutrition</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="ed:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="HospitalizationMoreTwiceYearTubeFeeding">  <xs:annotation>    <xs:documentation>Requiring hospitalization more than twice a year for tube feeding</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="ed:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="ResistanceWeightGain">  <xs:annotation>    <xs:documentation>Resistance to weight gain even when below expected minimum weight</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="ed:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="SelfInducedLess80Percent">  <xs:annotation>    <xs:documentation>Self-induced weight loss to less than 80 percent of expected minimum weight</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="ed:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="SelfInducedLess85Percent">  <xs:annotation>    <xs:documentation>Self-induced weight loss to less than 85 percent of expected minimum weight</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="ed:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="WithoutIncapacitatingEpisodes">  <xs:annotation>    <xs:documentation>Without incapacitating episodes</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="ed:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
  </xs:all>  </xs:complexType>  <xs:element name="EatingDisordersForm" type="ed:EatingDisordersFormType"/>  <xs:complexType name="Metadata">    <xs:all>      <xs:element name="code" type="xs:string"/>      <xs:element name="codeSystem" type="xs:string"/>      <xs:element name="version" type="xs:string"/>      <xs:element name="source" type="xs:string"/>    </xs:all>  </xs:complexType></xs:schema>
