legacy/Elbow_and_Forearm_DBQ_v13_2_T1.pnl.xsd

<?xml version="1.0" encoding="UTF-8"?><xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:efc="http://vler.va.gov/vler/schemas/health/clinicalDocuments/clinicalAssessments/cpExams/1.3/ElbowAndForearmConditions" targetNamespace="http://vler.va.gov/vler/schemas/health/clinicalDocuments/clinicalAssessments/cpExams/1.3/ElbowAndForearmConditions" version="1.0">  <xs:complexType name="ElbowAndForearmConditionsFormType">  <xs:all>
<xs:element name="DIAGNOSIS_ELBOW_FOREARM_DIAGNOSIS">  <xs:annotation>     <xs:documentation>Does the Veteran now have or has he/she ever had an elbow or forearm condition?</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Yes"/>            <xs:enumeration value="No"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="efc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="DIAGNOSIS_ELBOW_FOREARM_DIAGNOSIS_1">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="efc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="DIAGNOSIS_ELBOW_FOREARM_ICD_CODE_1">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="efc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="DIAGNOSIS_ELBOW_FOREARM_DATE_1">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="efc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="DIAGNOSIS_ELBOW_FOREARM_DIAGNOSIS_1_SA">  <xs:annotation>     <xs:documentation></xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Right"/>            <xs:enumeration value="Left"/>            <xs:enumeration value="Both"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="efc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="DIAGNOSIS_ELBOW_FOREARM_DIAGNOSIS_2">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="efc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="DIAGNOSIS_ELBOW_FOREARM_ICD_CODE_2">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="efc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="DIAGNOSIS_ELBOW_FOREARM_DATE_2">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="efc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="DIAGNOSIS_ELBOW_FOREARM_DIAGNOSIS_2_SA">  <xs:annotation>     <xs:documentation></xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Right"/>            <xs:enumeration value="Left"/>            <xs:enumeration value="Both"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="efc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="DIAGNOSIS_ELBOW_FOREARM_DIAGNOSIS_3">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="efc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="DIAGNOSIS_ELBOW_FOREARM_ICD_CODE_3">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="efc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="DIAGNOSIS_ELBOW_FOREARM_DATE_3">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="efc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="DIAGNOSIS_ELBOW_FOREARM_DIAGNOSIS_3_SA">  <xs:annotation>     <xs:documentation></xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Right"/>            <xs:enumeration value="Left"/>            <xs:enumeration value="Both"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="efc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="DIAGNOSIS_ELBOW_FOREARM_DIAGNOSIS_ADDITIONAL">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="efc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="HISTORY_ELBOW_FOREARM_DESCRIBE_HISTORY">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="efc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="HISTORY_ELBOW_FOREARM_DOMINANT_HAND">  <xs:annotation>     <xs:documentation>b. Dominant hand:</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Right"/>            <xs:enumeration value="Left"/>            <xs:enumeration value="Ambidextrous"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="efc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="HISTORY_ELBOW_FOREARM_FLARE_UPS">  <xs:annotation>     <xs:documentation>Does the Veteran report that flare-ups impact the function of the elbow and/or forearm?</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Yes"/>            <xs:enumeration value="No"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="efc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="HISTORY_ELBOW_FOREARM_FLARE_UPS_YES">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="efc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ELBOW_FOREARM_ROM_REF_FE">  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="0"/>            <xs:enumeration value="5"/>            <xs:enumeration value="10"/>            <xs:enumeration value="15"/>            <xs:enumeration value="20"/>            <xs:enumeration value="25"/>            <xs:enumeration value="30"/>            <xs:enumeration value="35"/>            <xs:enumeration value="40"/>            <xs:enumeration value="45"/>            <xs:enumeration value="50"/>            <xs:enumeration value="55"/>            <xs:enumeration value="60"/>            <xs:enumeration value="65"/>            <xs:enumeration value="70"/>            <xs:enumeration value="75"/>            <xs:enumeration value="80"/>            <xs:enumeration value="85"/>            <xs:enumeration value="90"/>            <xs:enumeration value="95"/>            <xs:enumeration value="100"/>            <xs:enumeration value="105"/>            <xs:enumeration value="110"/>            <xs:enumeration value="115"/>            <xs:enumeration value="120"/>            <xs:enumeration value="125"/>            <xs:enumeration value="130"/>            <xs:enumeration value="135"/>            <xs:enumeration value="140"/>            <xs:enumeration value="145 or greater"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="efc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ELBOW_FOREARM_ROM_REF_FE_PM">  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="No objective evidence of painful motion"/>            <xs:enumeration value="0"/>            <xs:enumeration value="5"/>            <xs:enumeration value="10"/>            <xs:enumeration value="15"/>            <xs:enumeration value="20"/>            <xs:enumeration value="25"/>            <xs:enumeration value="30"/>            <xs:enumeration value="35"/>            <xs:enumeration value="40"/>            <xs:enumeration value="45"/>            <xs:enumeration value="50"/>            <xs:enumeration value="55"/>            <xs:enumeration value="60"/>            <xs:enumeration value="65"/>            <xs:enumeration value="70"/>            <xs:enumeration value="75"/>            <xs:enumeration value="80"/>            <xs:enumeration value="85"/>            <xs:enumeration value="90"/>            <xs:enumeration value="95"/>            <xs:enumeration value="100"/>            <xs:enumeration value="105"/>            <xs:enumeration value="110"/>            <xs:enumeration value="115"/>            <xs:enumeration value="120"/>            <xs:enumeration value="125"/>            <xs:enumeration value="130"/>            <xs:enumeration value="135"/>            <xs:enumeration value="140"/>            <xs:enumeration value="145 or greater"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="efc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ELBOW_FOREARM_ROM_REE_EE">  <xs:annotation>    <xs:documentation>0 or any degree of hyperextension (no limitation of extension)</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="efc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ELBOW_FOREARM_ROM_REE_UNABLE_EE">  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="5"/>            <xs:enumeration value="10"/>            <xs:enumeration value="15"/>            <xs:enumeration value="20"/>            <xs:enumeration value="25"/>            <xs:enumeration value="30"/>            <xs:enumeration value="35"/>            <xs:enumeration value="40"/>            <xs:enumeration value="45"/>            <xs:enumeration value="50"/>            <xs:enumeration value="55"/>            <xs:enumeration value="60"/>            <xs:enumeration value="65"/>            <xs:enumeration value="70"/>            <xs:enumeration value="75"/>            <xs:enumeration value="80"/>            <xs:enumeration value="85"/>            <xs:enumeration value="90"/>            <xs:enumeration value="95"/>            <xs:enumeration value="100"/>            <xs:enumeration value="105"/>            <xs:enumeration value="110 or greater"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="efc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ELBOW_FOREARM_ROM_REE_EE_PM_NO">  <xs:annotation>    <xs:documentation>No objective evidence of painful motion</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="efc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ELBOW_FOREARM_ROM_REE_EE_PM_0">  <xs:annotation>    <xs:documentation>0 or any degree of hyperextension (no limitation of extension)</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="efc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ELBOW_FOREARM_ROM_REE_UNABLE_EE_PM">  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="5"/>            <xs:enumeration value="10"/>            <xs:enumeration value="15"/>            <xs:enumeration value="20"/>            <xs:enumeration value="25"/>            <xs:enumeration value="30"/>            <xs:enumeration value="35"/>            <xs:enumeration value="40"/>            <xs:enumeration value="45"/>            <xs:enumeration value="50"/>            <xs:enumeration value="55"/>            <xs:enumeration value="60"/>            <xs:enumeration value="65"/>            <xs:enumeration value="70"/>            <xs:enumeration value="75"/>            <xs:enumeration value="80"/>            <xs:enumeration value="85"/>            <xs:enumeration value="90"/>            <xs:enumeration value="95"/>            <xs:enumeration value="100"/>            <xs:enumeration value="105"/>            <xs:enumeration value="110 or greater"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="efc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ELBOW_FOREARM_ROM_LEF_FE">  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="0"/>            <xs:enumeration value="5"/>            <xs:enumeration value="10"/>            <xs:enumeration value="15"/>            <xs:enumeration value="20"/>            <xs:enumeration value="25"/>            <xs:enumeration value="30"/>            <xs:enumeration value="35"/>            <xs:enumeration value="40"/>            <xs:enumeration value="45"/>            <xs:enumeration value="50"/>            <xs:enumeration value="55"/>            <xs:enumeration value="60"/>            <xs:enumeration value="65"/>            <xs:enumeration value="70"/>            <xs:enumeration value="75"/>            <xs:enumeration value="80"/>            <xs:enumeration value="85"/>            <xs:enumeration value="90"/>            <xs:enumeration value="95"/>            <xs:enumeration value="100"/>            <xs:enumeration value="105"/>            <xs:enumeration value="110"/>            <xs:enumeration value="115"/>            <xs:enumeration value="120"/>            <xs:enumeration value="125"/>            <xs:enumeration value="130"/>            <xs:enumeration value="135"/>            <xs:enumeration value="140"/>            <xs:enumeration value="145 or greater"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="efc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ELBOW_FOREARM_ROM_LEF_FE_PM">  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="No objective evidence of painful motion"/>            <xs:enumeration value="0"/>            <xs:enumeration value="5"/>            <xs:enumeration value="10"/>            <xs:enumeration value="15"/>            <xs:enumeration value="20"/>            <xs:enumeration value="25"/>            <xs:enumeration value="30"/>            <xs:enumeration value="35"/>            <xs:enumeration value="40"/>            <xs:enumeration value="45"/>            <xs:enumeration value="50"/>            <xs:enumeration value="55"/>            <xs:enumeration value="60"/>            <xs:enumeration value="65"/>            <xs:enumeration value="70"/>            <xs:enumeration value="75"/>            <xs:enumeration value="80"/>            <xs:enumeration value="85"/>            <xs:enumeration value="90"/>            <xs:enumeration value="95"/>            <xs:enumeration value="100"/>            <xs:enumeration value="105"/>            <xs:enumeration value="110"/>            <xs:enumeration value="115"/>            <xs:enumeration value="120"/>            <xs:enumeration value="125"/>            <xs:enumeration value="130"/>            <xs:enumeration value="135"/>            <xs:enumeration value="140"/>            <xs:enumeration value="145 or greater"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="efc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ELBOW_FOREARM_ROM_LEE_EE_PM_NO">  <xs:annotation>    <xs:documentation>No objective evidence of painful motion</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="efc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ELBOW_FOREARM_ROM_LEE_EE_PM_0">  <xs:annotation>    <xs:documentation>0 or any degree of hyperextension (no limitation of extension)</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="efc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ELBOW_FOREARM_ROM_LEE_UNABLE_EE_PM">  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="5"/>            <xs:enumeration value="10"/>            <xs:enumeration value="15"/>            <xs:enumeration value="20"/>            <xs:enumeration value="25"/>            <xs:enumeration value="30"/>            <xs:enumeration value="35"/>            <xs:enumeration value="40"/>            <xs:enumeration value="45"/>            <xs:enumeration value="50"/>            <xs:enumeration value="55"/>            <xs:enumeration value="60"/>            <xs:enumeration value="65"/>            <xs:enumeration value="70"/>            <xs:enumeration value="75"/>            <xs:enumeration value="80"/>            <xs:enumeration value="85"/>            <xs:enumeration value="90"/>            <xs:enumeration value="95"/>            <xs:enumeration value="100"/>            <xs:enumeration value="105"/>            <xs:enumeration value="110 or greater"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="efc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ELBOW_FOREARM_ROM_NOT_NORM">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="efc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ELBOW_FOREARM_ROM_AFTER_RUT">  <xs:annotation>     <xs:documentation>a. Is the Veteran able to perform repetitive-use testing with 3 repetitions?</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Yes"/>            <xs:enumeration value="No"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="efc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ELBOW_FOREARM_ROM_AFTER_RUT_NO">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="efc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ELBOW_FOREARM_ROM_PT_RE_FE">  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="0"/>            <xs:enumeration value="5"/>            <xs:enumeration value="10"/>            <xs:enumeration value="15"/>            <xs:enumeration value="20"/>            <xs:enumeration value="25"/>            <xs:enumeration value="30"/>            <xs:enumeration value="35"/>            <xs:enumeration value="40"/>            <xs:enumeration value="45"/>            <xs:enumeration value="50"/>            <xs:enumeration value="55"/>            <xs:enumeration value="60"/>            <xs:enumeration value="65"/>            <xs:enumeration value="70"/>            <xs:enumeration value="75"/>            <xs:enumeration value="80"/>            <xs:enumeration value="85"/>            <xs:enumeration value="90"/>            <xs:enumeration value="95"/>            <xs:enumeration value="100"/>            <xs:enumeration value="105"/>            <xs:enumeration value="110"/>            <xs:enumeration value="115"/>            <xs:enumeration value="120"/>            <xs:enumeration value="125"/>            <xs:enumeration value="130"/>            <xs:enumeration value="135"/>            <xs:enumeration value="140"/>            <xs:enumeration value="145 or greater"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="efc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ELBOW_FOREARM_ROM_PT_RE_EE_PM">  <xs:annotation>    <xs:documentation>0 or any degree of hyperextension (no limitation of extension)</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="efc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ELBOW_FOREARM_ROM_PT_RE_UNABLE_EE_PM">  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="5"/>            <xs:enumeration value="10"/>            <xs:enumeration value="15"/>            <xs:enumeration value="20"/>            <xs:enumeration value="25"/>            <xs:enumeration value="30"/>            <xs:enumeration value="35"/>            <xs:enumeration value="40"/>            <xs:enumeration value="45"/>            <xs:enumeration value="50"/>            <xs:enumeration value="55"/>            <xs:enumeration value="60"/>            <xs:enumeration value="65"/>            <xs:enumeration value="70"/>            <xs:enumeration value="75"/>            <xs:enumeration value="80"/>            <xs:enumeration value="85"/>            <xs:enumeration value="90"/>            <xs:enumeration value="95"/>            <xs:enumeration value="100"/>            <xs:enumeration value="105"/>            <xs:enumeration value="110 or greater"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="efc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ELBOW_FOREARM_ROM_PT_LE_FE">  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="0"/>            <xs:enumeration value="5"/>            <xs:enumeration value="10"/>            <xs:enumeration value="15"/>            <xs:enumeration value="20"/>            <xs:enumeration value="25"/>            <xs:enumeration value="30"/>            <xs:enumeration value="35"/>            <xs:enumeration value="40"/>            <xs:enumeration value="45"/>            <xs:enumeration value="50"/>            <xs:enumeration value="55"/>            <xs:enumeration value="60"/>            <xs:enumeration value="65"/>            <xs:enumeration value="70"/>            <xs:enumeration value="75"/>            <xs:enumeration value="80"/>            <xs:enumeration value="85"/>            <xs:enumeration value="90"/>            <xs:enumeration value="95"/>            <xs:enumeration value="100"/>            <xs:enumeration value="105"/>            <xs:enumeration value="110"/>            <xs:enumeration value="115"/>            <xs:enumeration value="120"/>            <xs:enumeration value="125"/>            <xs:enumeration value="130"/>            <xs:enumeration value="135"/>            <xs:enumeration value="140"/>            <xs:enumeration value="145 or greater"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="efc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ELBOW_FOREARM_ROM_PT_LE_EE_PM">  <xs:annotation>    <xs:documentation>0 or any degree of hyperextension (no limitation of extension)</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="efc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ELBOW_FOREARM_ROM_PT_LE_UNABLE_EE_PM">  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="5"/>            <xs:enumeration value="10"/>            <xs:enumeration value="15"/>            <xs:enumeration value="20"/>            <xs:enumeration value="25"/>            <xs:enumeration value="30"/>            <xs:enumeration value="35"/>            <xs:enumeration value="40"/>            <xs:enumeration value="45"/>            <xs:enumeration value="50"/>            <xs:enumeration value="55"/>            <xs:enumeration value="60"/>            <xs:enumeration value="65"/>            <xs:enumeration value="70"/>            <xs:enumeration value="75"/>            <xs:enumeration value="80"/>            <xs:enumeration value="85"/>            <xs:enumeration value="90"/>            <xs:enumeration value="95"/>            <xs:enumeration value="100"/>            <xs:enumeration value="105"/>            <xs:enumeration value="110 or greater"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="efc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ELBOW_FOREARM_ROM_AFTER_RUT_ADDITIONAL_LIMIT">  <xs:annotation>     <xs:documentation>a. Does the Veteran have additional limitation in ROM of the elbow and forearm following repetitive-use testing?</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Yes"/>            <xs:enumeration value="No"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="efc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ELBOW_FOREARM_ROM_FUNC_LOSS">  <xs:annotation>     <xs:documentation>b. Does the Veteran have any functional loss and/or functional impairment of the elbow and forearm?</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Yes"/>            <xs:enumeration value="No"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="efc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ELBOW_FOREARM_ROM_FL_NO_FL_RLE">  <xs:annotation>    <xs:documentation>No functional loss for right upper extremity</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="efc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ELBOW_FOREARM_ROM_FL_NO_FL_LLE">  <xs:annotation>    <xs:documentation>No functional loss for left upper extremity</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="efc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ELBOW_FOREARM_ROM_FL_LESSMOVEMENT">  <xs:annotation>    <xs:documentation>Less movement than normal</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="efc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ELBOW_FOREARM_ROM_FL_LESSMOVEMENT_RG">  <xs:annotation>     <xs:documentation></xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Right"/>            <xs:enumeration value="Left"/>            <xs:enumeration value="Both"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="efc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ELBOW_FOREARM_ROM_FL_MOREMOVEMENT">  <xs:annotation>    <xs:documentation>More movement than normal</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="efc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ELBOW_FOREARM_ROM_FL_MOREMOVEMENT_RG">  <xs:annotation>     <xs:documentation></xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Right"/>            <xs:enumeration value="Left"/>            <xs:enumeration value="Both"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="efc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ELBOW_FOREARM_ROM_FL_WEAKENEDMOVEMENT">  <xs:annotation>    <xs:documentation>Weakened movement</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="efc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ELBOW_FOREARM_ROM_FL_WEAKENEDMOVEMENT_RG">  <xs:annotation>     <xs:documentation></xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Right"/>            <xs:enumeration value="Left"/>            <xs:enumeration value="Both"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="efc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ELBOW_FOREARM_ROM_FL_EF">  <xs:annotation>    <xs:documentation>Excess fatigability</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="efc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ELBOW_FOREARM_ROM_FL_EF_RG">  <xs:annotation>     <xs:documentation></xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Right"/>            <xs:enumeration value="Left"/>            <xs:enumeration value="Both"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="efc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ELBOW_FOREARM_ROM_FL_INCOORD">  <xs:annotation>    <xs:documentation>Incoordination, impaired ability to execute skilled movements smoothly</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="efc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ELBOW_FOREARM_ROM_FL_INCOORD_RG">  <xs:annotation>     <xs:documentation></xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Right"/>            <xs:enumeration value="Left"/>            <xs:enumeration value="Both"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="efc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ELBOW_FOREARM_ROM_FL_PAIN">  <xs:annotation>    <xs:documentation>Pain on movement</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="efc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ELBOW_FOREARM_ROM_FL_PAIN_RG">  <xs:annotation>     <xs:documentation></xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Right"/>            <xs:enumeration value="Left"/>            <xs:enumeration value="Both"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="efc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ELBOW_FOREARM_ROM_FL_SWELLING">  <xs:annotation>    <xs:documentation>Swelling</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="efc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ELBOW_FOREARM_ROM_FL_SWELLING_RG">  <xs:annotation>     <xs:documentation></xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Right"/>            <xs:enumeration value="Left"/>            <xs:enumeration value="Both"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="efc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ELBOW_FOREARM_ROM_FL_DEFORMITY">  <xs:annotation>    <xs:documentation>Deformity</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="efc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ELBOW_FOREARM_ROM_FL_DEFORMITY_RG">  <xs:annotation>     <xs:documentation></xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Right"/>            <xs:enumeration value="Left"/>            <xs:enumeration value="Both"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="efc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ELBOW_FOREARM_ROM_FL_ATROPHY">  <xs:annotation>    <xs:documentation>Atrophy of disuse</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="efc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ELBOW_FOREARM_ROM_FL_ATROPHY_RG">  <xs:annotation>     <xs:documentation></xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Right"/>            <xs:enumeration value="Left"/>            <xs:enumeration value="Both"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="efc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ELBOW_FOREARM_PAIN_ON_PALPATION">  <xs:annotation>     <xs:documentation>Does the Veteran have localized tenderness or pain on palpation of joints/soft tissue of either elbow or forearm?</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Yes"/>            <xs:enumeration value="No"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="efc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ELBOW_FOREARM_PAIN_ON_PALPATION_YES">  <xs:annotation>     <xs:documentation></xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Right"/>            <xs:enumeration value="Left"/>            <xs:enumeration value="Both"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="efc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ELBOW_FOREARM_MST_EF_R">  <xs:annotation>     <xs:documentation></xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="5/5"/>            <xs:enumeration value="4/5"/>            <xs:enumeration value="3/5"/>            <xs:enumeration value="2/5"/>            <xs:enumeration value="1/5"/>            <xs:enumeration value="0/5"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="efc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ELBOW_FOREARM_MST_EF_L">  <xs:annotation>     <xs:documentation></xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="5/5"/>            <xs:enumeration value="4/5"/>            <xs:enumeration value="3/5"/>            <xs:enumeration value="2/5"/>            <xs:enumeration value="1/5"/>            <xs:enumeration value="0/5"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="efc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ELBOW_FOREARM_MST_EE_R">  <xs:annotation>     <xs:documentation></xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="5/5"/>            <xs:enumeration value="4/5"/>            <xs:enumeration value="3/5"/>            <xs:enumeration value="2/5"/>            <xs:enumeration value="1/5"/>            <xs:enumeration value="0/5"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="efc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ELBOW_FOREARM_MST_EE_L">  <xs:annotation>     <xs:documentation></xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="5/5"/>            <xs:enumeration value="4/5"/>            <xs:enumeration value="3/5"/>            <xs:enumeration value="2/5"/>            <xs:enumeration value="1/5"/>            <xs:enumeration value="0/5"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="efc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ELBOW_FOREARM_ANKYLOSIS">  <xs:annotation>     <xs:documentation>Does the Veteran have ankylosis of the elbow?</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Yes"/>            <xs:enumeration value="No"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="efc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ELBOW_FOREARM_ANKYLOSIS_90">  <xs:annotation>    <xs:documentation>At an angle of more than 90 degrees</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="efc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ELBOW_FOREARM_ANKYLOSIS_90_RG">  <xs:annotation>     <xs:documentation></xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Right"/>            <xs:enumeration value="Left"/>            <xs:enumeration value="Both"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="efc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ELBOW_FOREARM_ANKYLOSIS_90_70">  <xs:annotation>    <xs:documentation>At an angle between 90 and 70 degrees</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="efc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ELBOW_FOREARM_ANKYLOSIS_90_70_RG">  <xs:annotation>     <xs:documentation></xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Right"/>            <xs:enumeration value="Left"/>            <xs:enumeration value="Both"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="efc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ELBOW_FOREARM_ANKYLOSIS_70_50">  <xs:annotation>    <xs:documentation>At an angle between 70 and 50 degrees</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="efc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ELBOW_FOREARM_ANKYLOSIS_70_50_RG">  <xs:annotation>     <xs:documentation></xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Right"/>            <xs:enumeration value="Left"/>            <xs:enumeration value="Both"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="efc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ELBOW_FOREARM_ANKYLOSIS_50">  <xs:annotation>    <xs:documentation>At an angle of less than 50 degrees</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="efc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ELBOW_FOREARM_ANKYLOSIS_50_RG">  <xs:annotation>     <xs:documentation></xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Right"/>            <xs:enumeration value="Left"/>            <xs:enumeration value="Both"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="efc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ELBOW_FOREARM_AC">  <xs:annotation>     <xs:documentation>Does the Veteran have flail joint, joint fracture and/or impairment of supination or pronation?</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Yes"/>            <xs:enumeration value="No"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="efc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ELBOW_FOREARM_AC_YES_FLAIL_JOINT">  <xs:annotation>    <xs:documentation>a. Flail joint of the elbow</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="efc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ELBOW_FOREARM_AC_YES_FLAIL_JOINT_RG">  <xs:annotation>     <xs:documentation></xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Right"/>            <xs:enumeration value="Left"/>            <xs:enumeration value="Both"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="efc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ELBOW_FOREARM_AC_YES_INTRA_WITH_MARKED">  <xs:annotation>    <xs:documentation>b. Intra-articular fracture (joint fracture) with marked varus or valgus deformity?</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="efc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ELBOW_FOREARM_AC_YES_INTRA_WITH_MARKED_RG">  <xs:annotation>     <xs:documentation></xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Right"/>            <xs:enumeration value="Left"/>            <xs:enumeration value="Both"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="efc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ELBOW_FOREARM_AC_YES_INTRA_WITH_UNUNITED">  <xs:annotation>    <xs:documentation>c. Intra-articular fracture (joint fracture) with ununited fracture of the head of the radius?</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="efc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ELBOW_FOREARM_AC_YES_INTRA_WITH_UNUNITED_RG">  <xs:annotation>     <xs:documentation></xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Right"/>            <xs:enumeration value="Left"/>            <xs:enumeration value="Both"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="efc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ELBOW_FOREARM_AC_YES_IMPAIRMENT">  <xs:annotation>    <xs:documentation>d. Impairment of supination or pronation</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="efc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ELBOW_FOREARM_AC_YES_IMPAIRMENT_SUPINATION">  <xs:annotation>    <xs:documentation>Supination limited to 30 degrees or less</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="efc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ELBOW_FOREARM_AC_YES_IMPAIRMENT_SUPINATION_RG">  <xs:annotation>     <xs:documentation></xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Right"/>            <xs:enumeration value="Left"/>            <xs:enumeration value="Both"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="efc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ELBOW_FOREARM_AC_YES_IMPAIRMENT_LAST_QUARTER">  <xs:annotation>    <xs:documentation>Limited pronation with motion lost beyond the last quarter of the arc; hand does not approach full pronation</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="efc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ELBOW_FOREARM_AC_YES_IMPAIRMENT_LAST_QUARTER_RG">  <xs:annotation>     <xs:documentation></xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Right"/>            <xs:enumeration value="Left"/>            <xs:enumeration value="Both"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="efc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ELBOW_FOREARM_AC_YES_IMPAIRMENT_MIDDLE">  <xs:annotation>    <xs:documentation>Limited pronation with motion lost beyond the middle of the arc</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="efc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ELBOW_FOREARM_AC_YES_IMPAIRMENT_MIDDLE_RG">  <xs:annotation>     <xs:documentation></xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Right"/>            <xs:enumeration value="Left"/>            <xs:enumeration value="Both"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="efc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ELBOW_FOREARM_AC_YES_IMPAIRMENT_HAND_MIDDLE">  <xs:annotation>    <xs:documentation>Hand is fixed near the middle of the arc or moderate pronation due to bone fusion</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="efc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ELBOW_FOREARM_AC_YES_IMPAIRMENT_HAND_MIDDLE_RG">  <xs:annotation>     <xs:documentation></xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Right"/>            <xs:enumeration value="Left"/>            <xs:enumeration value="Both"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="efc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ELBOW_FOREARM_AC_YES_IMPAIRMENT_HAND_PRONATION">  <xs:annotation>    <xs:documentation>Hand fixed in full pronation due to bone fusion</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="efc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ELBOW_FOREARM_AC_YES_IMPAIRMENT_HAND_PRONATION_RG">  <xs:annotation>     <xs:documentation></xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Right"/>            <xs:enumeration value="Left"/>            <xs:enumeration value="Both"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="efc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ELBOW_FOREARM_AC_YES_IMPAIRMENT_HAND_SUPINATION">  <xs:annotation>    <xs:documentation>Hand fixed in supination or hyperpronation due to bone fusion</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="efc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ELBOW_FOREARM_AC_YES_IMPAIRMENT_HAND_SUPINATION_RG">  <xs:annotation>     <xs:documentation></xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Right"/>            <xs:enumeration value="Left"/>            <xs:enumeration value="Both"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="efc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ELBOW_FOREARM_JR">  <xs:annotation>     <xs:documentation>a. Has the Veteran had a total elbow joint replacement?</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Yes"/>            <xs:enumeration value="No"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="efc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ELBOW_FOREARM_JR_YES_RE">  <xs:annotation>    <xs:documentation>Right elbow</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="efc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ELBOW_FOREARM_JR_YES_RE_SURGERY">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="efc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ELBOW_FOREARM_JR_YES_RE_RESIDUALS_NONE">  <xs:annotation>    <xs:documentation>None</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="efc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ELBOW_FOREARM_JR_YES_RE_RESIDUALS_INTER">  <xs:annotation>    <xs:documentation>Intermediate degrees of residual weakness, pain and/or limitation of motion</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="efc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ELBOW_FOREARM_JR_YES_RE_RESIDUALS_CHRONIC">  <xs:annotation>    <xs:documentation>Chronic residuals consisting of severe painful motion and/or weakness</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="efc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ELBOW_FOREARM_JR_YES_RE_RESIDUALS_OTHER">  <xs:annotation>    <xs:documentation>Other, describe:</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="efc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ELBOW_FOREARM_JR_YES_RE_RESIDUALS_OTHER_EDIT">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="efc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ELBOW_FOREARM_JR_YES_LE">  <xs:annotation>    <xs:documentation>Left elbow</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="efc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ELBOW_FOREARM_JR_YES_LE_SURGERY">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="efc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ELBOW_FOREARM_JR_YES_LE_RESIDUALS_NONE">  <xs:annotation>    <xs:documentation>None</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="efc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ELBOW_FOREARM_JR_YES_LE_RESIDUALS_INTER">  <xs:annotation>    <xs:documentation>Intermediate degrees of residual weakness, pain and/or limitation of motion</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="efc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ELBOW_FOREARM_JR_YES_LE_RESIDUALS_CHRONIC">  <xs:annotation>    <xs:documentation>Chronic residuals consisting of severe painful motion and/or weakness</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="efc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ELBOW_FOREARM_JR_YES_LE_RESIDUALS_OTHER">  <xs:annotation>    <xs:documentation>Other, describe:</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="efc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ELBOW_FOREARM_JR_YES_LE_RESIDUALS_OTHER_EDIT">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="efc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ELBOW_FOREARM_JR_OTHER_SURGERY">  <xs:annotation>     <xs:documentation>b. Has the Veteran had arthroscopic or other elbow surgery?</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Yes"/>            <xs:enumeration value="No"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="efc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ELBOW_FOREARM_JR_OTHER_SURGERY_YES_SA">  <xs:annotation>     <xs:documentation></xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Right"/>            <xs:enumeration value="Left"/>            <xs:enumeration value="Both"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="efc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ELBOW_FOREARM_JR_OTHER_SURGERY_YES_DATE">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="efc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ELBOW_FOREARM_JR_RESIDUAL_SIGNS">  <xs:annotation>     <xs:documentation>c. Does the Veteran have any residual signs and/or symptoms due to arthroscopic or other elbow surgery?</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Yes"/>            <xs:enumeration value="No"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="efc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ELBOW_FOREARM_JR_RESIDUAL_SIGNS_YES_SA">  <xs:annotation>     <xs:documentation></xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Right"/>            <xs:enumeration value="Left"/>            <xs:enumeration value="Both"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="efc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ELBOW_FOREARM_JR_RESIDUAL_SIGNS_YES_DESCRIBE">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="efc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ELBOW_FOREARM_OPP_SCARS">  <xs:annotation>     <xs:documentation></xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Yes"/>            <xs:enumeration value="No"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="efc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ELBOW_FOREARM_OPP_SCARS_YES">  <xs:annotation>     <xs:documentation>If yes, are any of the scars painful and/or unstable, or is the total area of all related scars greater than 39 square cm (6 square inches)?</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Yes"/>            <xs:enumeration value="No"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="efc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ELBOW_FOREARM_OPP_OTHER_PERT">  <xs:annotation>     <xs:documentation></xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Yes"/>            <xs:enumeration value="No"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="efc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ELBOW_FOREARM_OPP_OTHER_PERT_DESCRIBE">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="efc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ELBOW_FOREARM_REF_YES">  <xs:annotation>    <xs:documentation>Yes, functioning is so diminished that amputation with prosthesis would equally serve the Veteran.</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="efc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ELBOW_FOREARM_REF_NO">  <xs:annotation>    <xs:documentation>No</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="efc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ELBOW_FOREARM_REF_YES_RIGHT">  <xs:annotation>    <xs:documentation>Right upper</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="efc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ELBOW_FOREARM_REF_YES_LEFT">  <xs:annotation>    <xs:documentation>Left upper</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="efc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ELBOW_FOREARM_REF_YES_DESCRIBE">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="efc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ELBOW_FOREARM_DT_IMAGING">  <xs:annotation>     <xs:documentation>a. Have imaging studies of the elbow been performed and are the results available?</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Yes"/>            <xs:enumeration value="No"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="efc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ELBOW_FOREARM_DT_IMAGING_YES">  <xs:annotation>     <xs:documentation>If yes, is degenerative or traumatic arthritis documented?</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Yes"/>            <xs:enumeration value="No"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="efc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ELBOW_FOREARM_DT_IMAGING_YES_LOC">  <xs:annotation>     <xs:documentation></xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Right"/>            <xs:enumeration value="Left"/>            <xs:enumeration value="Both"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="efc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ELBOW_FOREARM_DT_OTHER_SIGN">  <xs:annotation>     <xs:documentation>b. Are there any other significant diagnostic test findings and/or results?</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Yes"/>            <xs:enumeration value="No"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="efc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ELBOW_FOREARM_DT_OTHER_SIGN_SUMMARY">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="efc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ELBOW_FOREARM_FI_ABILITY_TO_WORK">  <xs:annotation>     <xs:documentation>Does the Veteran's elbow/forearm condition impact his or her ability to work?</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Yes"/>            <xs:enumeration value="No"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="efc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ELBOW_FOREARM_FI_ABILITY_TO_WORK_YES">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="efc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ELBOW_FOREARM_REMARKS">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="efc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ELBOW_FOREARM_ROM_LEE_EE">  <xs:annotation>    <xs:documentation>0 or any degree of hyperextension (no limitation of extension)</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="efc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ELBOW_FOREARM_ROM_LEE_UNABLE_EE">  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="5"/>            <xs:enumeration value="10"/>            <xs:enumeration value="15"/>            <xs:enumeration value="20"/>            <xs:enumeration value="25"/>            <xs:enumeration value="30"/>            <xs:enumeration value="35"/>            <xs:enumeration value="40"/>            <xs:enumeration value="45"/>            <xs:enumeration value="50"/>            <xs:enumeration value="55"/>            <xs:enumeration value="60"/>            <xs:enumeration value="65"/>            <xs:enumeration value="70"/>            <xs:enumeration value="75"/>            <xs:enumeration value="80"/>            <xs:enumeration value="85"/>            <xs:enumeration value="90"/>            <xs:enumeration value="95"/>            <xs:enumeration value="100"/>            <xs:enumeration value="105"/>            <xs:enumeration value="110 or greater"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="efc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAMGROUP_CARDIO_IHD_Name">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="efc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ACE_1">  <xs:annotation>    <xs:documentation></xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="efc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ACE_2">  <xs:annotation>    <xs:documentation></xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="efc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ACE_3">  <xs:annotation>    <xs:documentation>Examination via approved video telehealth</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="efc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ACE_4">  <xs:annotation>    <xs:documentation>In-person examination</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="efc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ACE_5_RevRec_1">  <xs:annotation>     <xs:documentation>Was the Veteran's VA claims file reviewed?</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Yes"/>            <xs:enumeration value="No"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="efc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ACE_5_RevRec_2">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="efc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ACE_5_RevRec_3">  <xs:annotation>    <xs:documentation>Military service treatment records</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="efc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ACE_5_RevRec_4">  <xs:annotation>    <xs:documentation>Military service personnel records</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="efc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ACE_5_RevRec_5">  <xs:annotation>    <xs:documentation>Military enlistment examination</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="efc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ACE_5_RevRec_7">  <xs:annotation>    <xs:documentation>Military post-deployment questionnaire</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="efc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ACE_5_RevRec_8">  <xs:annotation>    <xs:documentation>Department of Defense Form 214 Separation Documents</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="efc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ACE_5_RevRec_9">  <xs:annotation>    <xs:documentation>Veterans Health Administration medical records (VA treatment records)</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="efc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ACE_5_RevRec_10">  <xs:annotation>    <xs:documentation>Civilian medical records</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="efc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ACE_5_RevRec_11">  <xs:annotation>    <xs:documentation>Interviews with collateral witnesses (family and others who have known the Veteran before and after military service)</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="efc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ACE_5_RevRec_12">  <xs:annotation>    <xs:documentation>No records were reviewed</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="efc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ACE_5_RevRec_13">  <xs:annotation>    <xs:documentation>Other:</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="efc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ACE_5_RevRec_14">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="efc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ACE_5_RevRec_6">  <xs:annotation>    <xs:documentation>Military separation examination</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="efc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
  </xs:all>  </xs:complexType>  <xs:element name="ElbowAndForearmConditionsForm" type="efc:ElbowAndForearmConditionsFormType"/>  <xs:complexType name="Metadata">    <xs:all>      <xs:element name="code" type="xs:string"/>      <xs:element name="codeSystem" type="xs:string"/>      <xs:element name="version" type="xs:string"/>      <xs:element name="source" type="xs:string"/>    </xs:all>  </xs:complexType></xs:schema>
