legacy/Endocrine_Diseases_DBQ_v13_3.pnl.xsd

<?xml version="1.0" encoding="UTF-8"?><xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:edis="http://vler.va.gov/vler/schemas/health/clinicalDocuments/clinicalAssessments/cpExams/1.3/EndocrineDiseases" targetNamespace="http://vler.va.gov/vler/schemas/health/clinicalDocuments/clinicalAssessments/cpExams/1.3/EndocrineDiseases" version="1.0">  <xs:complexType name="EndocrineDiseasesFormType">  <xs:all>
<xs:element name="DIAGNOSIS_ENDOCRINE_DIAGNOSIS">  <xs:annotation>     <xs:documentation></xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Yes"/>            <xs:enumeration value="No"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="edis:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAMGROUP_CARDIO_IHD_Name">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="edis:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="CushingsSyndrome">  <xs:annotation>    <xs:documentation>Cushing's syndrome</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="edis:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="DIAGNOSIS_ENDOCRINE_CUSHINGS_ICD">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="edis:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="DIAGNOSIS_ENDOCRINE_CUSHINGS_DATE">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="edis:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="Acromegaly">  <xs:annotation>    <xs:documentation>Acromegaly</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="edis:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="DIAGNOSIS_ENDOCRINE_ACRO_ICD">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="edis:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="DIAGNOSIS_ENDOCRINE_ACRO_DATE">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="edis:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="DiabetesInsipidus">  <xs:annotation>    <xs:documentation>Diabetes insipidus</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="edis:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="DIAGNOSIS_ENDOCRINE_DIABETES_ICD">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="edis:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="DIAGNOSIS_ENDOCRINE_DIABETES_DATE">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="edis:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="AddisonsDisease">  <xs:annotation>    <xs:documentation>Addison's disease</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="edis:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="DIAGNOSIS_ENDOCRINE_ADDISON_ICD">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="edis:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="DIAGNOSIS_ENDOCRINE_ADDISON_DATE">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="edis:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="DIAGNOSIS_ENDOCRINE_OTHER">  <xs:annotation>    <xs:documentation>Other, specify:</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="edis:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="DIAGNOSIS_ENDOCRINE_OTHER_1">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="edis:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="DIAGNOSIS_ENDOCRINE_OTHER_1_ICD">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="edis:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="DIAGNOSIS_ENDOCRINE_OTHER_1_DATE">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="edis:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="DIAGNOSIS_ENDOCRINE_OTHER_2">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="edis:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="DIAGNOSIS_ENDOCRINE_OTHER_2_ICD">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="edis:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="DIAGNOSIS_ENDOCRINE_OTHER_2_DATE">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="edis:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="DIAGNOSIS_ENDOCRINE_ADDITIONAL">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="edis:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="HISTORY_ENDOCRINE_DESCRIBE">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="edis:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="HISTORY_ENDOCRINE_MEDS">  <xs:annotation>     <xs:documentation>b. Is continuous medication required for control of an endocrine condition?</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Yes"/>            <xs:enumeration value="No"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="edis:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="HISTORY_ENDOCRINE_MEDS_DESCRIBE">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="edis:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="HISTORY_ENDOCRINE_SURGERY">  <xs:annotation>     <xs:documentation>c. Has the Veteran had surgery for an endocrine condition?</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Yes"/>            <xs:enumeration value="No"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="edis:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="HISTORY_ENDOCRINE_SURGERY_SPECIFY">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="edis:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="HISTORY_ENDOCRINE_SURGERY_DATE">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="edis:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="HISTORY_ENDOCRINE_TX">  <xs:annotation>     <xs:documentation>d. Has the Veteran had any other type of treatment for an endocrine condition?</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Yes"/>            <xs:enumeration value="No"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="edis:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="HISTORY_ENDOCRINE_TX_SPECIFY">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="edis:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="HISTORY_ENDOCRINE_TX_DATE">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="edis:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ENDOCRINE_CUSHINGS">  <xs:annotation>     <xs:documentation>Does the Veteran have any findings, signs or symptoms attributable to Cushing's syndrome?</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Yes"/>            <xs:enumeration value="No"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="edis:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="CushingsStriae">  <xs:annotation>    <xs:documentation>Striae</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="edis:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="CushingsObesity">  <xs:annotation>    <xs:documentation>Obesity</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="edis:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="CushingsMoonFace">  <xs:annotation>    <xs:documentation>Moon face</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="edis:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="CushingsGlucoseIntolerance">  <xs:annotation>    <xs:documentation>Glucose intolerance</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="edis:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="CushingsVascularFragility">  <xs:annotation>    <xs:documentation>Vascular fragility</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="edis:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="CushingsLossOfMuscleStrength">  <xs:annotation>    <xs:documentation>Loss of muscle strength</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="edis:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="CushingsActiveProgressiveDisease">  <xs:annotation>    <xs:documentation>As active, progressive disease</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="edis:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="CushingsAreasOfOsteoporosis">  <xs:annotation>    <xs:documentation>Osteoporosis</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="edis:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="CushingsHypertension">  <xs:annotation>    <xs:documentation>Hypertension</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="edis:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="CushingsWeakness">  <xs:annotation>    <xs:documentation>Weakness</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="edis:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ENDOCRINE_CUSHINGS_DESCRIBE">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="edis:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ENDOCRINE_ACROMEGALY">  <xs:annotation>     <xs:documentation>Does the Veteran currently have any findings, signs or symptoms attributable to acromegaly?</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Yes"/>            <xs:enumeration value="No"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="edis:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="AcromegalyEnlargementOfAcralParts">  <xs:annotation>    <xs:documentation>Enlargement of acral parts</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="edis:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="AcromegalyOvergrowthOfLongBones">  <xs:annotation>    <xs:documentation>Overgrowth of long bones</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="edis:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="AcromegalyEnlargedSellaTurcica">  <xs:annotation>    <xs:documentation>Enlarged sella turcica</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="edis:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="AcromegalyArthropathy">  <xs:annotation>    <xs:documentation>Arthropathy</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="edis:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="AcromegalyGlucoseIntolerance">  <xs:annotation>    <xs:documentation>Glucose intolerance</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="edis:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="AcromegalyHypertension">  <xs:annotation>    <xs:documentation>Hypertension</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="edis:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ENDOCRINE_ACROMEGALY_HYPERTENSION_BP">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="edis:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="AcromegalyEvidenceOfIncreasedIntracranialPressure">  <xs:annotation>    <xs:documentation>Evidence of increased intracranial pressure (such as visual field defect)</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="edis:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="AcromegalyCardiomegaly">  <xs:annotation>    <xs:documentation>Cardiomegaly</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="edis:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ENDOCRINE_ACROMEGALY_DESCRIBE">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="edis:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ENDOCRINE_DIABETES">  <xs:annotation>     <xs:documentation>Does the Veteran currently have any findings, signs or symptoms attributable to diabetes insipidus?</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Yes"/>            <xs:enumeration value="No"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="edis:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="DiabetesInsipidusPolyuria">  <xs:annotation>    <xs:documentation>Polyuria</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="edis:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="DiabetesInsipidusPolydipsia">  <xs:annotation>    <xs:documentation>Polydipsia</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="edis:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EpisodesDehydrationNOTrequiringParenteralHydration">  <xs:annotation>    <xs:documentation>Episodes of dehydration NOT requiring parenteral hydration in past 12 months</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="edis:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EpisodesDehydrationNOTrequiringParenteralHydrationFrequency">  <xs:annotation>     <xs:documentation>If checked, indicate frequency of documented episodes in past 12 months:</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="1"/>            <xs:enumeration value="2"/>            <xs:enumeration value="More than 2"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="edis:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EpisodesDehydrationRequiringParenteralHydration">  <xs:annotation>    <xs:documentation>Episodes of dehydration requiring parenteral hydration in past 12 months</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="edis:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EpisodesDehydrationRequiringParenteralHydrationFrequency">  <xs:annotation>     <xs:documentation>If checked, indicate frequency of documented episodes in past 12 months:</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="1"/>            <xs:enumeration value="2"/>            <xs:enumeration value="More than 2"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="edis:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ENDOCRINE_DIABETES_OTHER">  <xs:annotation>    <xs:documentation>Other, describe:</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="edis:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ENDOCRINE_DIABETES_OTHER_DESCRIBE">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="edis:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ENDOCRINE_ADDISON">  <xs:annotation>     <xs:documentation>Does the Veteran currently have any findings, signs or symptoms attributable to Addison's disease?</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Yes"/>            <xs:enumeration value="No"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="edis:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="AddisonsDiseaseCorticosteroidTherapyRequiredForControl">  <xs:annotation>    <xs:documentation>Corticosteroid therapy required for control</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="edis:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="AddisonsDiseaseWeaknessAndFatigability">  <xs:annotation>    <xs:documentation>Weakness and Fatigability</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="edis:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ENDOCRINE_ADDISON_CRISIS">  <xs:annotation>    <xs:documentation>Addisonian crisis (acute adrenal insufficiency)</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="edis:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="AddisonsDiseaseAddisonianCrises">  <xs:annotation>     <xs:documentation>If checked, indicate frequency of Addisonian crises in past 12 months:</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="0"/>            <xs:enumeration value="1"/>            <xs:enumeration value="2"/>            <xs:enumeration value="3"/>            <xs:enumeration value="4"/>            <xs:enumeration value="5"/>            <xs:enumeration value="More than 5"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="edis:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ENDOCRINE_ADDISON_EPISODES">  <xs:annotation>    <xs:documentation>Addisonian "episodes"</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="edis:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="AddisonsDiseaseAddisonianEpisodes">  <xs:annotation>     <xs:documentation>If checked, indicate frequency of Addisonian "episodes" in past 12 months:</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="0"/>            <xs:enumeration value="1"/>            <xs:enumeration value="2"/>            <xs:enumeration value="3"/>            <xs:enumeration value="4"/>            <xs:enumeration value="5"/>            <xs:enumeration value="More than 5"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="edis:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ENDOCRINE_ADDISON_DESCRIBE">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="edis:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ENDOCRINE_OTHER_CONDITIONS">  <xs:annotation>     <xs:documentation>Does the Veteran have any other endocrine conditions?</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Yes"/>            <xs:enumeration value="No"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="edis:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ENDOCRINE_OTHER_CONDITIONS_DESCRIBE">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="edis:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ENDOCRINE_TUMORS">  <xs:annotation>     <xs:documentation>Does the Veteran have a benign or malignant neoplasm or metastases related to any of the diagnoses in the Diagnosis section?</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Yes"/>            <xs:enumeration value="No"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="edis:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ENDOCRINE_TUMORS_NEOPLASM">  <xs:annotation>     <xs:documentation>a. Is the neoplasm:</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Benign"/>            <xs:enumeration value="Malignant"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="edis:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ENDOCRINE_TUMORS_TX">  <xs:annotation>     <xs:documentation>b. Has the Veteran completed treatment or is the Veteran currently undergoing treatment for a benign or malignant neoplasm or metastases?</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Yes"/>            <xs:enumeration value="No; watchful waiting"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="edis:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ENDOCRINE_TUMORS_TX_COMPLETED">  <xs:annotation>    <xs:documentation>Treatment completed; currently in watchful waiting status</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="edis:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ENDOCRINE_TUMORS_TX_SURGERY">  <xs:annotation>    <xs:documentation>Surgery</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="edis:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ENDOCRINE_TUMORS_TX_SURGERY_DESCRIBE">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="edis:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ENDOCRINE_TUMORS_TX_SURGERY_DATE">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="edis:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ENDOCRINE_TUMORS_TX_RADIATION">  <xs:annotation>    <xs:documentation>Radiation therapy</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="edis:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ENDOCRINE_TUMORS_TX_RADIATION_RECENT">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="edis:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ENDOCRINE_TUMORS_TX_RADIATION_COMPLETE">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="edis:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ENDOCRINE_TUMORS_TX_ANTI">  <xs:annotation>    <xs:documentation>Antineoplastic chemotherapy</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="edis:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ENDOCRINE_TUMORS_TX_ANTI_RECENT">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="edis:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ENDOCRINE_TUMORS_TX_ANTI_COMPLETE">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="edis:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ENDOCRINE_TUMORS_TX_OTHER_PROCEDURE">  <xs:annotation>    <xs:documentation>Other therapeutic procedure</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="edis:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ENDOCRINE_TUMORS_TX_OTHER_PROCEDURE_DESCRIBE">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="edis:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ENDOCRINE_TUMORS_TX_OTHER_PROCEDURE_RECENT">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="edis:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ENDOCRINE_TUMORS_TX_OTHER_TX">  <xs:annotation>    <xs:documentation>Other therapeutic treatment</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="edis:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ENDOCRINE_TUMORS_TX_OTHER_TX_DESCRIBE">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="edis:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ENDOCRINE_TUMORS_RESDIUALS">  <xs:annotation>     <xs:documentation></xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Yes"/>            <xs:enumeration value="No"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="edis:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ENDOCRINE_TUMORS_RESDIUALS_DESCRIBE">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="edis:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ENDOCRINE_TUMORS_ADDITONAL">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="edis:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ENDOCRINE_OPP_SCARS">  <xs:annotation>     <xs:documentation></xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Yes"/>            <xs:enumeration value="No"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="edis:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ENDOCRINE_OPP_SCARS_YES">  <xs:annotation>     <xs:documentation>If yes, are any of the scars painful and/or unstable, or is the total area of all related scars greater than 39 square cm (6 square inches)?</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Yes"/>            <xs:enumeration value="No"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="edis:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ENDOCRINE_OPP_OTHER_PERT">  <xs:annotation>     <xs:documentation></xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Yes"/>            <xs:enumeration value="No"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="edis:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ENDOCRINE_OPP_OTHER_PERT_DESCRIBE">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="edis:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ENDOCRINE_DT_IMAGING">  <xs:annotation>     <xs:documentation>a. Have imaging studies been performed?</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Yes"/>            <xs:enumeration value="No"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="edis:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ENDOCRINE_DT_IMAGING_MRI">  <xs:annotation>    <xs:documentation>Magnetic resonance imaging (MRI)</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="edis:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ENDOCRINE_DT_IMAGING_MRI_DATE">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="edis:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ENDOCRINE_DT_IMAGING_MRI_RESULTS">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="edis:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ENDOCRINE_DT_IMAGING_CT">  <xs:annotation>    <xs:documentation>Computed tomography (CT)</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="edis:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ENDOCRINE_DT_IMAGING_CT_DATE">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="edis:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ENDOCRINE_DT_IMAGING_CT_RESULTS">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="edis:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ENDOCRINE_DT_IMAGING_OTHER">  <xs:annotation>    <xs:documentation>Other:</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="edis:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ENDOCRINE_DT_IMAGING_OTHER_EDIT">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="edis:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ENDOCRINE_DT_IMAGING_OTHER_DATE">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="edis:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ENDOCRINE_DT_IMAGING_OTHER_RESULTS">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="edis:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ENDOCRINE_DT_LABS">  <xs:annotation>     <xs:documentation>b. Has laboratory testing been performed?</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Yes"/>            <xs:enumeration value="No"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="edis:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ENDOCRINE_DT_LABS_TYPE">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="edis:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ENDOCRINE_DT_LABS_TYPE_DATE">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="edis:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ENDOCRINE_DT_LABS_TYPE_RESULTS">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="edis:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ENDOCRINE_DT_OTHER_SIGN">  <xs:annotation>     <xs:documentation>c. Are there any other significant diagnostic test findings and/or results?</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Yes"/>            <xs:enumeration value="No"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="edis:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ENDOCRINE_DT_OTHER_SIGN_DESCRIBE">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="edis:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ENDOCRINE_FI">  <xs:annotation>     <xs:documentation>Does the Veteran's endocrine condition impact his or her ability to work?</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Yes"/>            <xs:enumeration value="No"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="edis:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ENDOCRINE_FI_DESCRIBE">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="edis:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ENDOCRINE_REMARKS">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="edis:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ENDOCRINE_TUMORS_TX_OTHER_TX_COMPLETE">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="edis:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ENDOCRINE_ADDISON_OTH">  <xs:annotation>    <xs:documentation>Other, specify:</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="edis:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ENDOCRINE_ADDISON_OTH_SPECIFY">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="edis:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ENDOCRINE_ACROMEGALY_OTH">  <xs:annotation>    <xs:documentation>Other, specify:</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="edis:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ENDOCRINE_ACROMEGALY_OTH_SPECIFY">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="edis:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ENDOCRINE_CUSHINGS_OTH">  <xs:annotation>    <xs:documentation>Other, specify:</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="edis:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ENDOCRINE_CUSHINGS_OTH_SPECIFY">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="edis:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ACE_1">  <xs:annotation>    <xs:documentation></xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="edis:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ACE_2">  <xs:annotation>    <xs:documentation></xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="edis:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ACE_3">  <xs:annotation>    <xs:documentation>Examination via approved video telehealth</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="edis:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ACE_4">  <xs:annotation>    <xs:documentation>In-person examination</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="edis:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ACE_5_RevRec_1">  <xs:annotation>     <xs:documentation>Was the Veteran's VA claims file reviewed?</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Yes"/>            <xs:enumeration value="No"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="edis:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ACE_5_RevRec_2">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="edis:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="CushingsEnlargementOfAdrenalGland">  <xs:annotation>    <xs:documentation>Enlargement of adrenal gland</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="edis:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="PluriglandularSyndrome">  <xs:annotation>    <xs:documentation>Polyglandular (Pluriglandular) syndrome</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="edis:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="DIAGNOSIS_ENDOCRINE_HYPOPITUITARISM">  <xs:annotation>    <xs:documentation>Hypopituitarism</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="edis:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="DIAGNOSIS_ENDOCRINE_HYPOPITUITARISM_ICD">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="edis:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="DIAGNOSIS_ENDOCRINE_HYPERPITUITARISM_ICD">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="edis:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="DIAGNOSIS_ENDOCRINE_PLUR_ICD">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="edis:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="DIAGNOSIS_ENDOCRINE_PLUR_DATE">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="edis:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="DIAGNOSIS_ENDOCRINE_HYPOPITUITARISM_DATE">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="edis:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="DIAGNOSIS_ENDOCRINE_NEOPLASM_BENIGN_DATE">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="edis:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="DIAGNOSIS_ENDOCRINE_NEOPLASM_BENIGN_ICD">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="edis:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="NeoplasmBenign">  <xs:annotation>    <xs:documentation>Neoplasm, benign, any specified part of the endocrine system</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="edis:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="DIAGNOSIS_ENDOCRINE_OSTEOPOROSIS">  <xs:annotation>    <xs:documentation>Osteoporosis</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="edis:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="DIAGNOSIS_ENDOCRINE_HYPOGONADISM">  <xs:annotation>    <xs:documentation>Hypogonadism</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="edis:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="DIAGNOSIS_ENDOCRINE_PHEO">  <xs:annotation>    <xs:documentation>Pheochromocytoma</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="edis:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="DIAGNOSIS_ENDOCRINE_HYPERALDOSTERONISM">  <xs:annotation>    <xs:documentation>Hyperaldosteronism</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="edis:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="DIAGNOSIS_ENDOCRINE_OSTEOPOROSIS_ICD">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="edis:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="DIAGNOSIS_ENDOCRINE_HYPOGONADISM_ICD">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="edis:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="DIAGNOSIS_ENDOCRINE_PHEO_ICD">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="edis:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="DIAGNOSIS_ENDOCRINE_HYPERALDOSTERONISM_ICD">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="edis:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="DIAGNOSIS_ENDOCRINE_OSTEOPOROSIS_DATE">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="edis:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="DIAGNOSIS_ENDOCRINE_HYPOGONADISM_DATE">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="edis:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="DIAGNOSIS_ENDOCRINE_PHEO_DATE">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="edis:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="DIAGNOSIS_ENDOCRINE_HYPERALDOSTERONISM_DATE">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="edis:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ACE_5_RevRec_3">  <xs:annotation>    <xs:documentation>Military service treatment records</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="edis:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ACE_5_RevRec_4">  <xs:annotation>    <xs:documentation>Military service personnel records</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="edis:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ACE_5_RevRec_5">  <xs:annotation>    <xs:documentation>Military enlistment examination</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="edis:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ACE_5_RevRec_6">  <xs:annotation>    <xs:documentation>Military separation examination</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="edis:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ACE_5_RevRec_7">  <xs:annotation>    <xs:documentation>Military post-deployment questionnaire</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="edis:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ACE_5_RevRec_8">  <xs:annotation>    <xs:documentation>Department of Defense Form 214 Separation Documents</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="edis:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ACE_5_RevRec_9">  <xs:annotation>    <xs:documentation>Veterans Health Administration medical records (VA treatment records)</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="edis:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ACE_5_RevRec_10">  <xs:annotation>    <xs:documentation>Civilian medical records</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="edis:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ACE_5_RevRec_11">  <xs:annotation>    <xs:documentation>Interviews with collateral witnesses (family and others who have known the Veteran before and after military service)</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="edis:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ACE_5_RevRec_12">  <xs:annotation>    <xs:documentation>No records were reviewed</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="edis:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ACE_5_RevRec_13">  <xs:annotation>    <xs:documentation>Other:</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="edis:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ACE_5_RevRec_14">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="edis:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="NeoplasMalignant">  <xs:annotation>    <xs:documentation>Neoplasm, malignant, any specified part of the endocrine system</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="edis:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="NeoplasMalignantActiveMalignancy">  <xs:annotation>    <xs:documentation>Active Malignancy</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="edis:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="NeoplasMalignantUndergoingProcedure">  <xs:annotation>    <xs:documentation>Undergoing surgical, X-ray, antineoplastic chemotherapy or other therapeutic procedure</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="edis:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="NeoplasMalignantInRemission">  <xs:annotation>    <xs:documentation>In remission</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="edis:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="DIAGNOSIS_ENDOCRINE_NEOPLASM_MALIGNANT_ICD">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="edis:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="DIAGNOSIS_ENDOCRINE_NEOPLASM_MALIGNANT_DATE">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="edis:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="DIAGNOSIS_ENDOCRINE_HYPERPITUITARISM">  <xs:annotation>    <xs:documentation>Hyperpituitarism</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="edis:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="ProlactinSecretingPituitaryDysfunctionMalignant">  <xs:annotation>    <xs:documentation>Prolactin secreting pituitary dysfunction - malignant</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="edis:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="ProlactinSecretingPituitaryDysfunctionBenign">  <xs:annotation>    <xs:documentation>Prolactin secreting pituitary dysfunction - benign</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="edis:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="ProlactinSecretingPituitaryDysfunctionMalignantSymptoms">  <xs:annotation>     <xs:documentation></xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Active"/>            <xs:enumeration value="In Remission"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="edis:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="DIAGNOSIS_ENDOCRINE_PROLACTIN_BENIGN_ICD">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="edis:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="DIAGNOSIS_ENDOCRINE_PROLACTIN_BENIGN_DATE">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="edis:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="DIAGNOSIS_ENDOCRINE_PROLACTIN_MALIGNANT_ICD">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="edis:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="DIAGNOSIS_ENDOCRINE_PROLACTIN_MALIGNANT_DATE">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="edis:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="PheochromocytomaBenign">  <xs:annotation>    <xs:documentation>Benign</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="edis:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="PheochromocytomaMalignant">  <xs:annotation>    <xs:documentation>Malignant</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="edis:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="HyperaldosteronismBenign">  <xs:annotation>    <xs:documentation>Benign</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="edis:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="HyperaldosteronismMalignant">  <xs:annotation>    <xs:documentation>Malignant</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="edis:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="HyperaldosteronismMalignantSymptoms">  <xs:annotation>     <xs:documentation></xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Active"/>            <xs:enumeration value="In Remission"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="edis:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="HyperpituitarismBenign">  <xs:annotation>    <xs:documentation>Benign</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="edis:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="HyperpituitarismMalignant">  <xs:annotation>    <xs:documentation>Malignant</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="edis:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="HyperpituitarismMalignantSymptoms">  <xs:annotation>     <xs:documentation></xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Active"/>            <xs:enumeration value="In Remission"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="edis:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="DIAGNOSIS_ENDOCRINE_HYPERPITUITARISM_DATE">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="edis:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="PheochromocytomaMalignantSymptoms">  <xs:annotation>     <xs:documentation></xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Active"/>            <xs:enumeration value="In Remission"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="edis:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="CushingsEnlargementOfPituitaryGland">  <xs:annotation>    <xs:documentation>Enlargement of pituitary gland</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="edis:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
  </xs:all>  </xs:complexType>  <xs:element name="EndocrineDiseasesForm" type="edis:EndocrineDiseasesFormType"/>  <xs:complexType name="Metadata">    <xs:all>      <xs:element name="code" type="xs:string"/>      <xs:element name="codeSystem" type="xs:string"/>      <xs:element name="version" type="xs:string"/>      <xs:element name="source" type="xs:string"/>    </xs:all>  </xs:complexType></xs:schema>
