legacy/Gallbladder_and_Pancreas_Conditions_DBQ_v14_1_T1.pnl.xsd

<?xml version="1.0" encoding="UTF-8"?><xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:galpc="http://vler.va.gov/vler/schemas/health/clinicalDocuments/clinicalAssessments/cpExams/1.3/GallbladderAndPancreasConditions" targetNamespace="http://vler.va.gov/vler/schemas/health/clinicalDocuments/clinicalAssessments/cpExams/1.3/GallbladderAndPancreasConditions" version="1.0">  <xs:complexType name="GallbladderAndPancreasConditionsFormType">  <xs:all>
<xs:element name="EXAMGROUP_CARDIO_IHD_Name">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="galpc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="DIAGNOSIS_GALLBLADDER_DIAGNOSIS">  <xs:annotation>     <xs:documentation>Does the Veteran now have or has he/she ever been diagnosed with a gallbladder or pancreas condition?</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Yes"/>            <xs:enumeration value="No"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="galpc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="GallbladderCholecystitisChronic">  <xs:annotation>    <xs:documentation>Cholecystitis, chronic</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="galpc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="DIAGNOSIS_GALLBLADDER_CHOLECYSTITIS_ICD">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="galpc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="DIAGNOSIS_GALLBLADDER_CHOLECYSTITIS_DATE">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="galpc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="GallbladderCholelithiasisChronic">  <xs:annotation>    <xs:documentation>Cholelithiasis, chronic</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="galpc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="DIAGNOSIS_GALLBLADDER_CHOLEITHIASIS_ICD">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="galpc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="DIAGNOSIS_GALLBLADDER_CHOLEITHIASIS_DATE">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="galpc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="GallbladderCholangitisChronic">  <xs:annotation>    <xs:documentation>Cholangitis, chronic</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="galpc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="DIAGNOSIS_GALLBLADDER_CHOLANGITIS_ICD">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="galpc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="DIAGNOSIS_GALLBLADDER_CHOLANGITIS_DATE">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="galpc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="GallbladderCholecystectomy">  <xs:annotation>    <xs:documentation>Cholecystecomy (Gall bladder, removal of)</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="galpc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="DIAGNOSIS_GALLBLADDER_CHOLECYSTECTOMY_ICD">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="galpc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="DIAGNOSIS_GALLBLADDER_CHOLECYSTECTOMY_DATE">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="galpc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="Pancreatitis">  <xs:annotation>    <xs:documentation>Pancreatitis</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="galpc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="DIAGNOSIS_GALLBLADDER_PANCREATITIS_ICD">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="galpc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="DIAGNOSIS_GALLBLADDER_PANCREATITIS_DATE">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="galpc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="DIAGNOSIS_GALLBLADDER_TOTAL_ICD">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="galpc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="DIAGNOSIS_GALLBLADDER_TOTAL_DATE">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="galpc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="DIAGNOSIS_GALLBLADDER_GALL_NEO">  <xs:annotation>    <xs:documentation>Gallbladder neoplasm</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="galpc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="DIAGNOSIS_GALLBLADDER_GALL_NEO_ICD">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="galpc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="DIAGNOSIS_GALLBLADDER_GALL_NEO_DATE">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="galpc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="DIAGNOSIS_GALLBLADDER_PAN_NEO">  <xs:annotation>    <xs:documentation>Pancreatic neoplasm</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="galpc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="DIAGNOSIS_GALLBLADDER_PAN_NEO_ICD">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="galpc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="DIAGNOSIS_GALLBLADDER_PAN_NEO_DATE">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="galpc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="DIAGNOSIS_GALLBLADDER_INJURY">  <xs:annotation>    <xs:documentation>Gallbladder or pancreas injury, with peritoneal adhesions resulting from this injury</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="galpc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="DIAGNOSIS_GALLBLADDER_INJURY_ICD">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="galpc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="DIAGNOSIS_GALLBLADDER_INJURY_DATE">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="galpc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="DIAGNOSIS_GALLBLADDER_OTHER">  <xs:annotation>    <xs:documentation>Other gallbladder conditions:</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="galpc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="DIAGNOSIS_GALLBLADDER_OTHER_1">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="galpc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="DIAGNOSIS_GALLBLADDER_OTHER_1_ICD">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="galpc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="DIAGNOSIS_GALLBLADDER_OTHER_1_DATE">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="galpc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="DIAGNOSIS_GALLBLADDER_OTHER_2">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="galpc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="DIAGNOSIS_GALLBLADDER_OTHER_2_ICD">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="galpc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="DIAGNOSIS_GALLBLADDER_OTHER_2_DATE">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="galpc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="DIAGNOSIS_GALLBLADDER_ADDITIONAL">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="galpc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="HISTORY_GALLBLADDER_DESCRIBE">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="galpc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="HISTORY_GALLBLADDER_MEDS">  <xs:annotation>     <xs:documentation>b. Is continuous medication required for control of the Veteran's gallbladder or pancreas conditions?</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Yes"/>            <xs:enumeration value="No"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="galpc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="HISTORY_GALLBLADDER_MEDS_DESCRIBE">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="galpc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_GALLBLADDER_COND_SIGNS">  <xs:annotation>     <xs:documentation></xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Yes"/>            <xs:enumeration value="No"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="galpc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="GallbladderSymptomsDyspepsiaConfirmXRay">  <xs:annotation>    <xs:documentation>Gall bladder dyspepsia, confirmed by X-ray</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="galpc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_GALLBLADDER_COND_DISEASE_NUMBER">  <xs:annotation>     <xs:documentation>If checked, indicate number of episodes per year:</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="0"/>            <xs:enumeration value="1"/>            <xs:enumeration value="2"/>            <xs:enumeration value="3"/>            <xs:enumeration value="4 or more"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="galpc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_GALLBLADDER_COND_ATTACKS">  <xs:annotation>    <xs:documentation>Attacks of gallbladder colic</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="galpc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_GALLBLADDER_COND_ATTACKS_NUMBER">  <xs:annotation>     <xs:documentation>If checked, indicate number of attacks per year:</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="0"/>            <xs:enumeration value="1"/>            <xs:enumeration value="2"/>            <xs:enumeration value="3"/>            <xs:enumeration value="4 or more"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="galpc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_GALLBLADDER_COND_JAUNDICE">  <xs:annotation>    <xs:documentation>Jaundice</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="galpc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_GALLBLADDER_COND_OTHER">  <xs:annotation>    <xs:documentation>Other signs or symptoms, describe:</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="galpc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_GALLBLADDER_COND_OTHER_EDIT">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="galpc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_GALLBLADDER_PAN_COND">  <xs:annotation>     <xs:documentation>a. Does the Veteran have any of the following symptoms attributable to any pancreas conditions or residuals of treatment for pancreas conditions?</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Yes"/>            <xs:enumeration value="No"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="galpc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="PancreaseConditionsAbdominalPain">  <xs:annotation>    <xs:documentation>Abdominal pain, confirmed as resulting from pancreatitis by appropriate laboratory and clinical studies</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="galpc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="PancreatitisSymptomsMild">  <xs:annotation>    <xs:documentation>Mild (typical)</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="galpc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="PancreatitisSymptomsModSevere">  <xs:annotation>    <xs:documentation>Moderately Severe</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="galpc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="PancreatitisSymptomsSevere">  <xs:annotation>    <xs:documentation>Severe (disabling)</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="galpc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="PancreatitisSymptomsMildFrequency">  <xs:annotation>     <xs:documentation>Indicate number of attacks of Mild (typical) abdominal pain in the past 12 months:</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="0"/>            <xs:enumeration value="1"/>            <xs:enumeration value="2"/>            <xs:enumeration value="3"/>            <xs:enumeration value="4"/>            <xs:enumeration value="5"/>            <xs:enumeration value="6"/>            <xs:enumeration value="7"/>            <xs:enumeration value="8 or more"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="galpc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="PancreatitisSymptomsModSevereFrequency">  <xs:annotation>     <xs:documentation>Indicate number of attacks of Moderately Severe abdominal pain in the past 12 months:</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="0"/>            <xs:enumeration value="1"/>            <xs:enumeration value="2"/>            <xs:enumeration value="3"/>            <xs:enumeration value="4"/>            <xs:enumeration value="5"/>            <xs:enumeration value="6"/>            <xs:enumeration value="7"/>            <xs:enumeration value="8 or more"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="galpc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="PancreatitisSymptomsSevereFrequency">  <xs:annotation>     <xs:documentation>Indicate number of attacks of Severe (disabling) abdominal pain in the past 12 months:</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="0"/>            <xs:enumeration value="1"/>            <xs:enumeration value="2"/>            <xs:enumeration value="3"/>            <xs:enumeration value="4"/>            <xs:enumeration value="5"/>            <xs:enumeration value="6"/>            <xs:enumeration value="7"/>            <xs:enumeration value="8 or more"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="galpc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_GALLBLADDER_PAN_COND_REMISSION">  <xs:annotation>    <xs:documentation>Remissions/pain-free intermissions between attacks</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="galpc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_GALLBLADDER_PAN_COND_REMISSION_GOOD">  <xs:annotation>    <xs:documentation>Good pain-free remissions between attacks</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="galpc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="PancreatitisSymptomsFewPainFreeIntermissions">  <xs:annotation>    <xs:documentation>Few pain-free intermissions</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="galpc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="PancreatitisSymptomsContPancreaticInsufficiency">  <xs:annotation>    <xs:documentation> Other findings showing continuing pancreatic insufficiency between acute attacks</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="galpc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_GALLBLADDER_PAN_COND_OTHER">  <xs:annotation>    <xs:documentation>Other symptoms, describe:</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="galpc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_GALLBLADDER_PAN_COND_OTHER_EDIT">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="galpc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_GALLBLADDER_PAN_COND_SIGNS">  <xs:annotation>     <xs:documentation></xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Yes"/>            <xs:enumeration value="No"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="galpc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="PancreatitisFindingsSteatorrhea">  <xs:annotation>    <xs:documentation>Steatorrhea</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="galpc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_GALLBLADDER_PAN_COND_SIGNS_STEAT_DESCRIBE">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="galpc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="PancreatitisFindingsMalabsorption">  <xs:annotation>    <xs:documentation>Malabsorption</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="galpc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_GALLBLADDER_PAN_COND_SIGNS_MALA_DESCRIBE">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="galpc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="PancreatitisFindingsDiarrhea">  <xs:annotation>    <xs:documentation>Diarrhea</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="galpc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_GALLBLADDER_PAN_COND_SIGNS_DIAR_DESCRIBE">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="galpc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="PancreatitisFindingsSevereMalnutrition">  <xs:annotation>    <xs:documentation>Severe malnutrition</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="galpc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_GALLBLADDER_PAN_COND_SIGNS_SEVERE_DESCRIBE">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="galpc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="PancreatitisFindingsWeightLoss">  <xs:annotation>    <xs:documentation>Loss of normal body weight</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="galpc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_GALLBLADDER_PAN_COND_SIGNS_WEIGHT_BASELINE">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="galpc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_GALLBLADDER_PAN_COND_SIGNS_WEIGHT_CURRENT">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="galpc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_GALLBLADDER_PAN_COND_SIGNS_OTHER">  <xs:annotation>    <xs:documentation>Other, describe:</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="galpc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_GALLBLADDER_OPP_SCARS">  <xs:annotation>     <xs:documentation></xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Yes"/>            <xs:enumeration value="No"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="galpc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_GALLBLADDER_OPP_SCARS_YES">  <xs:annotation>     <xs:documentation>If yes, are any of the scars painful and/or unstable, or is the total area of all related scars greater than 39 square cm (6 square inches)?</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Yes"/>            <xs:enumeration value="No"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="galpc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_GALLBLADDER_OPP_OTHER_PERT_DESCRIBE">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="galpc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_GALLBLADDER_DT_IMAGING">  <xs:annotation>     <xs:documentation>a. Have imaging studies been performed and are the results available?</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Yes"/>            <xs:enumeration value="No"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="galpc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_GALLBLADDER_DT_IMAGING_EUS">  <xs:annotation>    <xs:documentation>EUS (Endoscopic ultrasound)</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="galpc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_GALLBLADDER_DT_IMAGING_EUS_DATE">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="galpc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_GALLBLADDER_DT_IMAGING_EUS_RESULTS">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="galpc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_GALLBLADDER_DT_IMAGING_ERCP">  <xs:annotation>    <xs:documentation>ERCP (Endoscopic retrograde cholangiopancreatography)</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="galpc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_GALLBLADDER_DT_IMAGING_ERCP_DATE">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="galpc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_GALLBLADDER_DT_IMAGING_ERCP_RESULTS">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="galpc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_GALLBLADDER_DT_IMAGING_TRAN">  <xs:annotation>    <xs:documentation>Transhepatic cholangiogram</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="galpc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_GALLBLADDER_DT_IMAGING_TRAN_DATE">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="galpc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_GALLBLADDER_DT_IMAGING_TRAN_RESULTS">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="galpc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_GALLBLADDER_DT_IMAGING_MRI">  <xs:annotation>    <xs:documentation>MRI or MRCP (magnetic resonance cholangiopancreatography)</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="galpc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_GALLBLADDER_DT_IMAGING_MRI_DATE">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="galpc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_GALLBLADDER_DT_IMAGING_MRI_RESULTS">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="galpc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_GALLBLADDER_DT_IMAGING_GALL">  <xs:annotation>    <xs:documentation>Gallbladder scan (HIDA scan or cholescintigraphy)</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="galpc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_GALLBLADDER_DT_IMAGING_GALL_DATE">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="galpc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_GALLBLADDER_DT_IMAGING_GALL_RESULTS">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="galpc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_GALLBLADDER_DT_IMAGING_CT">  <xs:annotation>    <xs:documentation>CT</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="galpc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_GALLBLADDER_DT_IMAGING_OTHER">  <xs:annotation>    <xs:documentation>Other, specify:</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="galpc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_GALLBLADDER_DT_IMAGING_OTHER_EDIT">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="galpc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_GALLBLADDER_DT_IMAGING_OTHER_DATE">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="galpc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_GALLBLADDER_DT_IMAGING_OTHER_RESULTS">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="galpc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_GALLBLADDER_DT_IMAGING_CT_DATE">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="galpc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_GALLBLADDER_DT_IMAGING_CT_RESULTS">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="galpc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_GALLBLADDER_DT_LABS">  <xs:annotation>     <xs:documentation>b. Has laboratory testing been performed?</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Yes"/>            <xs:enumeration value="No"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="galpc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_GALLBLADDER_DT_LABS_ALKA">  <xs:annotation>    <xs:documentation>Alkaline phosphatase</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="galpc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_GALLBLADDER_DT_LABS_ALKA_DATE">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="galpc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_GALLBLADDER_DT_LABS_ALKA_RESULTS">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="galpc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_GALLBLADDER_DT_LABS_BILI">  <xs:annotation>    <xs:documentation>Bilirubin</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="galpc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_GALLBLADDER_DT_LABS_BILI_DATE">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="galpc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_GALLBLADDER_DT_LABS_BILI_RESULTS">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="galpc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_GALLBLADDER_DT_LABS_WBC">  <xs:annotation>    <xs:documentation>WBC</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="galpc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_GALLBLADDER_DT_LABS_WBC_DATE">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="galpc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_GALLBLADDER_DT_LABS_WBC_RESULTS">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="galpc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_GALLBLADDER_DT_LABS_AMY">  <xs:annotation>    <xs:documentation>Amylase</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="galpc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_GALLBLADDER_DT_LABS_AMY_DATE">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="galpc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_GALLBLADDER_DT_LABS_AMY_RESULTS">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="galpc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_GALLBLADDER_DT_LABS_LIP">  <xs:annotation>    <xs:documentation>Lipase</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="galpc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_GALLBLADDER_DT_LABS_LIP_DATE">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="galpc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_GALLBLADDER_DT_LABS_LIP_RESULTS">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="galpc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_GALLBLADDER_DT_LABS_OTHER">  <xs:annotation>    <xs:documentation>Other, specify:</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="galpc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_GALLBLADDER_DT_LABS_OTHER_EDIT">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="galpc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_GALLBLADDER_DT_LABS_OTHER_DATE">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="galpc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_GALLBLADDER_DT_LABS_OTHER_RESULTS">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="galpc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_GALLBLADDER_DT_OTHER_SIGN">  <xs:annotation>     <xs:documentation>c. Are there any other significant diagnostic test findings and/or results?</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Yes"/>            <xs:enumeration value="No"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="galpc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_GALLBLADDER_DT_OTHER_SIGN_DESCRIBE">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="galpc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_GALLBLADDER_FI">  <xs:annotation>     <xs:documentation>Does the Veteran's gallbladder and/or pancreas condition(s) impact on his or her ability to work?</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Yes"/>            <xs:enumeration value="No"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="galpc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_GALLBLADDER_FI_DESCRIBE">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="galpc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_GALLBLADDER_REMARKS">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="galpc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_GALLBLADDER_PAN_COND_SIGNS_OTHER_DESCRIBE">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="galpc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_GALLBLADDER_OPP_OTHER_PERT">  <xs:annotation>     <xs:documentation></xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Yes"/>            <xs:enumeration value="No"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="galpc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ACE_1">  <xs:annotation>    <xs:documentation></xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="galpc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ACE_2">  <xs:annotation>    <xs:documentation></xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="galpc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ACE_3">  <xs:annotation>    <xs:documentation>Examination via approved video telehealth</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="galpc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ACE_4">  <xs:annotation>    <xs:documentation>In-person examination</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="galpc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ACE_5_RevRec_1">  <xs:annotation>     <xs:documentation>Was the Veteran's VA claims file reviewed?</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Yes"/>            <xs:enumeration value="No"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="galpc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ACE_5_RevRec_2">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="galpc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ACE_5_RevRec_3">  <xs:annotation>    <xs:documentation>Military service treatment records</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="galpc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ACE_5_RevRec_4">  <xs:annotation>    <xs:documentation>Military service personnel records</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="galpc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ACE_5_RevRec_5">  <xs:annotation>    <xs:documentation>Military enlistment examination</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="galpc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ACE_5_RevRec_6">  <xs:annotation>    <xs:documentation>Military separation examination</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="galpc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ACE_5_RevRec_7">  <xs:annotation>    <xs:documentation>Military post-deployment questionnaire</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="galpc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ACE_5_RevRec_8">  <xs:annotation>    <xs:documentation>Department of Defense Form 214 Separation Documents</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="galpc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ACE_5_RevRec_9">  <xs:annotation>    <xs:documentation>Veterans Health Administration medical records (VA treatment records)</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="galpc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ACE_5_RevRec_10">  <xs:annotation>    <xs:documentation>Civilian medical records</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="galpc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ACE_5_RevRec_11">  <xs:annotation>    <xs:documentation>Interviews with collateral witnesses (family and others who have known the Veteran before and after military service)</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="galpc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ACE_5_RevRec_12">  <xs:annotation>    <xs:documentation>No records were reviewed</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="galpc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ACE_5_RevRec_13">  <xs:annotation>    <xs:documentation>Other:</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="galpc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ACE_5_RevRec_14">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="galpc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="GallbladderSymptomsFreqAttacksColic">  <xs:annotation>    <xs:documentation>Frequent attacks of gall bladder colic</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="galpc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="GallbladderSymptomsInfreqAttacksColic">  <xs:annotation>    <xs:documentation>Infrequent attacks (not over two or three a year) of gall bladder colic</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="galpc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="GallbladderSymptomsMild">  <xs:annotation>    <xs:documentation>Mild symptoms</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="galpc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="GallbladderSymptomsModerate">  <xs:annotation>    <xs:documentation>Moderate symptoms</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="galpc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="GallbladderSymptomsSevere">  <xs:annotation>    <xs:documentation>Severe symptoms</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="galpc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="GallbladderSymptomsCholecystectomyPostOpResiduals">  <xs:annotation>    <xs:documentation>Cholecystectomy post operative residuals</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="galpc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="GallbladderSymptomsCholecystectomyPostOpResidualsAsymptomatic">  <xs:annotation>    <xs:documentation>Asymptomatic</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="galpc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="GallbladderSymptomsCholecystectomyPostOpResidualsMild">  <xs:annotation>    <xs:documentation>Mild symptoms</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="galpc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="GallbladderSymptomsCholecystectomyPostOpResidualsSevere">  <xs:annotation>    <xs:documentation>Severe symptoms</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="galpc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="PancreatectomyTotal">  <xs:annotation>    <xs:documentation>Total pancreatectomy</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="galpc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="PancreatectomyPartial">  <xs:annotation>    <xs:documentation>Partial pancreatectomy</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="galpc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="DIAGNOSIS_GALLBLADDER_PARTIAL_ICD">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="galpc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="DIAGNOSIS_GALLBLADDER_PARTIAL_DATE">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="galpc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
  </xs:all>  </xs:complexType>  <xs:element name="GallbladderAndPancreasConditionsForm" type="galpc:GallbladderAndPancreasConditionsFormType"/>  <xs:complexType name="Metadata">    <xs:all>      <xs:element name="code" type="xs:string"/>      <xs:element name="codeSystem" type="xs:string"/>      <xs:element name="version" type="xs:string"/>      <xs:element name="source" type="xs:string"/>    </xs:all>  </xs:complexType></xs:schema>
