legacy/GYN_Conditions_DBQ_v13_2_T1.pnl.xsd

<?xml version="1.0" encoding="UTF-8"?><xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:gc="http://vler.va.gov/vler/schemas/health/clinicalDocuments/clinicalAssessments/cpExams/1.3/GynecologicalConditions" targetNamespace="http://vler.va.gov/vler/schemas/health/clinicalDocuments/clinicalAssessments/cpExams/1.3/GynecologicalConditions" version="1.0">  <xs:complexType name="GynecologicalConditionsFormType">  <xs:all>
<xs:element name="DIAGNOSIS_GYN_COND">  <xs:annotation>     <xs:documentation>Does the Veteran now have or has she ever had a gynecological condition?</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Yes"/>            <xs:enumeration value="No"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="gc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="DIAGNOSIS_GYN_COND_DX_1">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="gc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="DIAGNOSIS_GYN_COND_ICD_1">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="gc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="DIAGNOSIS_GYN_COND_DATE_1">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="gc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="DIAGNOSIS_GYN_COND_DX_2">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="gc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="DIAGNOSIS_GYN_COND_ICD_2">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="gc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="DIAGNOSIS_GYN_COND_DATE_2">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="gc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="DIAGNOSIS_GYN_COND_DX_3">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="gc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="DIAGNOSIS_GYN_COND_ICD_3">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="gc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="DIAGNOSIS_GYN_COND_DATE_3">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="gc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="DIAGNOSIS_GYN_COND_DX_ADD">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="gc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="HISTORY_GYN_HX_DESC">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="gc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_GYN_SX">  <xs:annotation>     <xs:documentation></xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Yes"/>            <xs:enumeration value="No"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="gc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_GYN_SX_INT_PN">  <xs:annotation>    <xs:documentation>Intermittent pain</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="gc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_GYN_SX_CON_PN">  <xs:annotation>    <xs:documentation>Constant pain</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="gc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_GYN_SX_MILD_PN">  <xs:annotation>    <xs:documentation>Mild pain</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="gc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_GYN_SX_MOD_PN">  <xs:annotation>    <xs:documentation>Moderate pain</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="gc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_GYN_SX_SEV_PN">  <xs:annotation>    <xs:documentation>Severe pain</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="gc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_GYN_SX_PRESSURE">  <xs:annotation>    <xs:documentation>Pelvic pressure</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="gc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_GYN_SX_IRR_MN">  <xs:annotation>    <xs:documentation>Irregular menstruation</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="gc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_GYN_SX_FREQ_MN">  <xs:annotation>    <xs:documentation>Frequent or continuous menstrual disturbances</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="gc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_GYN_SX_OTH">  <xs:annotation>    <xs:documentation>Other signs and/or symptoms describe and indicate condition(s) causing them:</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="gc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_GYN_SX_OTH_DESC">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="gc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="HISTORY_GYN_TX_YES">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="gc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="HISTORY_GYN_TX_YES_DATE">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="gc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="HISTORY_GYN_TX_REQD">  <xs:annotation>     <xs:documentation>b. Does the Veteran currently require treatment or medications [for symptoms?] related to reproductive tract conditions?</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Yes"/>            <xs:enumeration value="No"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="gc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="HISTORY_GYN_TX">  <xs:annotation>     <xs:documentation>a. Has the Veteran had treatment for symptoms/findings for any diseases, injuries and/or adhesions of the reproductive organs?</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Yes"/>            <xs:enumeration value="No"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="gc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="HISTORY_GYN_TX_REQD_YES">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="gc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="HISTORY_GYN_TX_REQD_YES_NO_TX">  <xs:annotation>    <xs:documentation>Symptoms do not require continuous treatment for the following organ/condition:</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="gc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="HISTORY_GYN_TX_REQD_YES_NO_TX_DESC">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="gc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="HISTORY_GYN_TX_REQD_YES_CON_TX">  <xs:annotation>    <xs:documentation>Symptoms require continuous treatment for the following organ/condition:</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="gc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="HISTORY_GYN_TX_REQD_YES_CON_TX_DESC">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="gc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="HISTORY_GYN_TX_REQD_YES_UNCON_TX">  <xs:annotation>    <xs:documentation>Symptoms are not controlled by continuous treatment: for the following organ/condition:</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="gc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="HISTORY_GYN_TX_REQD_YES_UNCON_TX_DECS">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="gc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="HISTORY_GYN_VULVA">  <xs:annotation>     <xs:documentation>Has the Veteran been diagnosed with any diseases, injuries or other conditions of the vulva (to include vulvovaginitis)?</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Yes"/>            <xs:enumeration value="No"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="gc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="HISTORY_GYN_VULVA_DESC">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="gc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="HISTORY_GYN_VAGINA">  <xs:annotation>     <xs:documentation>Has the Veteran been diagnosed with any diseases, injuries or other conditions of the vagina?</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Yes"/>            <xs:enumeration value="No"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="gc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="HISTORY_GYN_VAGINA_DESC">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="gc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="HISTORY_GYN_CERVIX">  <xs:annotation>     <xs:documentation>Has the Veteran been diagnosed with any diseases, injuries, adhesions or other conditions of the cervix?</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Yes"/>            <xs:enumeration value="No"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="gc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="HISTORY_GYN_CERVIX_DESC">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="gc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_GYN_UTERUS_DX">  <xs:annotation>     <xs:documentation>a. Has the Veteran been diagnosed with any diseases, injuries, adhesions or other conditions of the uterus?</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Yes"/>            <xs:enumeration value="No"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="gc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_GYN_UTERUS_HYSTEREC">  <xs:annotation>     <xs:documentation>b. Has the Veteran had a hysterectomy?</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Yes"/>            <xs:enumeration value="No"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="gc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_GYN_UTERUS_HYSTEREC_YES">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="gc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_GYN_UTERUS_PROLAPSE">  <xs:annotation>     <xs:documentation>c. Does the Veteran have uterine prolapse?</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Yes"/>            <xs:enumeration value="No"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="gc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_GYN_UTERUS_PROLAPSE_INC">  <xs:annotation>    <xs:documentation>Incomplete</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="gc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_GYN_UTERUS_PROLAPSE_COMP">  <xs:annotation>    <xs:documentation>Complete (through vagina and introitus)</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="gc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_GYN_UTERUS_PROLAPSE_COM_YES">  <xs:annotation>     <xs:documentation>If yes, does the condition currently cause symptoms?</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Yes"/>            <xs:enumeration value="No"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="gc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_GYN_UTERUS_PROLAPSE_COM_YES_DESC">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="gc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_GYN_UTERUS_FIB">  <xs:annotation>     <xs:documentation>d. Does the Veteran have uterine fibroids, enlargement of the uterus and/or displacement of the uterus?</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Yes"/>            <xs:enumeration value="No"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="gc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_GYN_UTERUS_FIB_YES">  <xs:annotation>     <xs:documentation>If yes, are there signs and symptoms?</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Yes"/>            <xs:enumeration value="No"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="gc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_GYN_UTERUS_FIB_YES_ADH">  <xs:annotation>    <xs:documentation>Adhesions</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="gc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_GYN_UTERUS_FIB_YES_DIS">  <xs:annotation>    <xs:documentation>Marked displacement: If checked, indicate cause:</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="gc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_GYN_UTERUS_FIB_YES_DIS_CAUSE">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="gc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_GYN_UTERUS_FIB_YES_ENLG">  <xs:annotation>    <xs:documentation>Marked enlargement: If checked, indicate cause:</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="gc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_GYN_UTERUS_FIB_YES_ENLG_CAUSE">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="gc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_GYN_UTERUS_FIB_YES_FIB">  <xs:annotation>    <xs:documentation>Uterine fibroids</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="gc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_GYN_UTERUS_FIB_YES_IRR_MEN">  <xs:annotation>    <xs:documentation>Irregular menstruation: If checked, indicate cause:</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="gc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_GYN_UTERUS_FIB_YES_IRR_MEN_CAUSE">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="gc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_GYN_UTERUS_FIB_YES_FREQ">  <xs:annotation>    <xs:documentation>Frequent or continuous menstrual disturbances: If checked, indicate cause:</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="gc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_GYN_UTERUS_FIB_YES_FREQ_CAUSE">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="gc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_GYN_UTERUS_FIB_YES_OTH">  <xs:annotation>    <xs:documentation>Other, describe and indicate cause:</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="gc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_GYN_UTERUS_FIB_YES_OTH_CAUSE">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="gc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_GYN_UTERUS_DX_OTHER">  <xs:annotation>     <xs:documentation>e. Has the Veteran been diagnosed with any other diseases, injuries, adhesions or other conditions of the uterus?</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Yes"/>            <xs:enumeration value="No"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="gc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_GYN_UTERUS_DX_OTHER_DESC">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="gc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="HISTORY_GYN_TUBES">  <xs:annotation>     <xs:documentation></xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Yes"/>            <xs:enumeration value="No"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="gc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="HISTORY_GYN_TUBES_DESC">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="gc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="HISTORY_GYN_OVS_MENOP">  <xs:annotation>     <xs:documentation>a. Has the Veteran undergone menopause?</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Yes"/>            <xs:enumeration value="No"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="gc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="HISTORY_GYN_OVS_MENOP_YES_TYPE">  <xs:annotation>     <xs:documentation>If yes, indicate:</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Natural menopause"/>            <xs:enumeration value="Premature menopause"/>            <xs:enumeration value="Surgical menopause"/>            <xs:enumeration value="Chemical-induced menopause"/>            <xs:enumeration value="Radiation-induced menopause"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="gc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="HISTORY_GYN_OVS_OOPH">  <xs:annotation>     <xs:documentation>b. Has the Veteran undergone partial or complete oophorectomy?</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Yes"/>            <xs:enumeration value="No"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="gc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="HISTORY_GYN_OVS_OOPH_PART">  <xs:annotation>    <xs:documentation>Partial removal of an ovary</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="gc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="HISTORY_GYN_OVS_OOPH_PART_RIGHT">  <xs:annotation>    <xs:documentation>Right</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="gc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="HISTORY_GYN_OVS_OOPH_PART_LEFT">  <xs:annotation>    <xs:documentation>Left</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="gc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="HISTORY_GYN_OVS_OOPH_PART_BOTH">  <xs:annotation>    <xs:documentation>Both</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="gc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="HISTORY_GYN_OVS_OOPH_COMP">  <xs:annotation>    <xs:documentation>Complete removal of an ovary</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="gc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="HISTORY_GYN_OVS_OOPH_COMP_RIGHT">  <xs:annotation>    <xs:documentation>Right</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="gc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="HISTORY_GYN_OVS_OOPH_COMP_LEFT">  <xs:annotation>    <xs:documentation>Left</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="gc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="HISTORY_GYN_OVS_OOPH_COMP_BOTH">  <xs:annotation>    <xs:documentation>Both</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="gc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="HISTORY_GYN_OVS_OOPH_DESC">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="gc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="HISTORY_GYN_OVS_ATROPHY">  <xs:annotation>     <xs:documentation>c. Does the Veteran have evidence of complete atrophy of 1 or both ovaries?</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Yes"/>            <xs:enumeration value="No"/>            <xs:enumeration value="Unknown"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="gc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="HISTORY_GYN_OVS_ATROPHY_YES_DESC">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="gc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="HISTORY_GYN_OVS_ATROPHY_LVL">  <xs:annotation>     <xs:documentation>If yes, indicate severity:</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Partial atrophy of 1 or both ovaries"/>            <xs:enumeration value="Complete atrophy of 1 ovary"/>            <xs:enumeration value="Complete atrophy of both ovaries (excluding natural menopause)"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="gc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="HISTORY_GYN_OVS_OTHER">  <xs:annotation>     <xs:documentation>d. Has the Veteran been diagnosed with any other diseases, injuries, adhesions and/or other conditions of the ovaries?</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Yes"/>            <xs:enumeration value="No"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="gc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="HISTORY_GYN_OVS_OTHER_DESC">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="gc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_GYN_INCONTIN">  <xs:annotation>     <xs:documentation>Does the Veteran have urinary incontinence/leakage?</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Yes"/>            <xs:enumeration value="No"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="gc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_GYN_INCONTIN_YES">  <xs:annotation>     <xs:documentation>If yes, is the urinary incontinence/leakage due to a gynecologic condition?</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Yes"/>            <xs:enumeration value="No"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="gc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_GYN_INCONTIN_YES_CAUSE">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="gc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_GYN_INCONTIN_YES_ABS_NO">  <xs:annotation>    <xs:documentation>Does not require/does not use absorbent material</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="gc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_GYN_INCONTIN_YES_ABS_STRESS">  <xs:annotation>    <xs:documentation>Stress incontinence</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="gc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_GYN_INCONTIN_YES_ABS_2">  <xs:annotation>    <xs:documentation>Requires absorbent material that is changed less than 2 times per day</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="gc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_GYN_INCONTIN_YES_ABS_3">  <xs:annotation>    <xs:documentation>Requires absorbent material that is changed 2 to 4 times per day</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="gc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_GYN_INCONTIN_YES_ABS_4">  <xs:annotation>    <xs:documentation>Requires absorbent material that is changed more than 4 times per day</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="gc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_GYN_INCONTIN_YES_ABS_APP">  <xs:annotation>    <xs:documentation>Requires the use of an appliance</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="gc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_GYN_INCONTIN_YES_ABS_APP_DESC">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="gc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_GYN_FISTULA_RV">  <xs:annotation>     <xs:documentation>a. Does the Veteran have a rectovaginal fistula?</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Yes"/>            <xs:enumeration value="No"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="gc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_GYN_FISTULA_RV_CAUSE">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="gc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_GYN_FISTULA_VF_LEAK">  <xs:annotation>     <xs:documentation>If yes, does the Veteran have vaginal-fecal leakage?</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Yes"/>            <xs:enumeration value="No"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="gc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_GYN_FISTULA_VF_LEAK_1_WEEK">  <xs:annotation>    <xs:documentation>Less than once a week</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="gc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_GYN_FISTULA_VF_LEAK_1_3_WEEK">  <xs:annotation>    <xs:documentation>1-3 times per week</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="gc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_GYN_FISTULA_VF_LEAK_4_WEEK">  <xs:annotation>    <xs:documentation>4 or more times per week</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="gc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_GYN_FISTULA_VF_LEAK_DAILY">  <xs:annotation>    <xs:documentation>Daily or more often</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="gc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_GYN_FISTULA_VF_LEAK_ABS">  <xs:annotation>    <xs:documentation>Requires wearing of pad or absorbent material</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="gc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_GYN_FISTULA_UV">  <xs:annotation>     <xs:documentation>b. Does the Veteran have a urethrovaginal fistula?</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Yes"/>            <xs:enumeration value="No"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="gc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_GYN_FISTULA_UV_CAUSE">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="gc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_GYN_FISTULA_UV_LEAK">  <xs:annotation>     <xs:documentation>If yes, does the Veteran have urine leakage?</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Yes"/>            <xs:enumeration value="No"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="gc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_GYN_FISTULA_UV_LEAK_NO_ABS">  <xs:annotation>    <xs:documentation>Does not require/does not use absorbent material</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="gc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_GYN_FISTULA_UV_LEAK_ABS_2">  <xs:annotation>    <xs:documentation>Requires absorbent material that is changed less than 2 times per day</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="gc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_GYN_FISTULA_UV_LEAK_ABS_3">  <xs:annotation>    <xs:documentation>Requires absorbent material that is changed 2 to 4 times per day</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="gc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_GYN_FISTULA_UV_LEAK_ABS_4">  <xs:annotation>    <xs:documentation>Requires absorbent material that is changed more than 4 times per day</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="gc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_GYN_FISTULA_UV_LEAK_APP">  <xs:annotation>    <xs:documentation>Requires the use of an appliance</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="gc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_GYN_FISTULA_UV_LEAK_APP_DESC">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="gc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="HISTORY_GYN_ENDO">  <xs:annotation>     <xs:documentation></xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Yes"/>            <xs:enumeration value="No"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="gc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="HISTORY_GYN_ENDO_YES">  <xs:annotation>     <xs:documentation>If yes, does the Veteran currently have any findings, signs or symptoms due to endometriosis?</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Yes"/>            <xs:enumeration value="No"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="gc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="HISTORY_GYN_ENDO_YES_PAIN">  <xs:annotation>    <xs:documentation>Pelvic pain</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="gc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="HISTORY_GYN_ENDO_YES_BLEED_CON_TX">  <xs:annotation>    <xs:documentation>Heavy or irregular bleeding requiring continuous treatment for control</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="gc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="HISTORY_GYN_ENDO_YES_BLEED_NOT_CONTR_TX">  <xs:annotation>    <xs:documentation>Heavy or irregular bleeding not controlled by treatment</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="gc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="HISTORY_GYN_ENDO_YES_LESIONS">  <xs:annotation>    <xs:documentation>Lesions involving bowel or bladder confirmed by laparoscopy</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="gc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="HISTORY_GYN_ENDO_YES_BOWEL">  <xs:annotation>    <xs:documentation>Bowel or bladder symptoms from endometriosis</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="gc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="HISTORY_GYN_ENDO_YES_ANEMIA">  <xs:annotation>    <xs:documentation>Anemia caused by endometriosis</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="gc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="HISTORY_GYN_ENDO_YES_OTHER">  <xs:annotation>    <xs:documentation>Other, describe:</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="gc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="HISTORY_GYN_ENDO_YES_OTHER_DESC">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="gc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="HISTORY_GYN_COMPLICATIONS">  <xs:annotation>     <xs:documentation>a. Has the Veteran had any surgical complications of pregnancy?</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Yes"/>            <xs:enumeration value="No"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="gc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="HISTORY_GYN_COMPLICATIONS_RELAX">  <xs:annotation>    <xs:documentation>Relaxation of perineum</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="gc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="HISTORY_GYN_COMPLICATIONS_RECTO">  <xs:annotation>    <xs:documentation>Rectocele</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="gc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="HISTORY_GYN_COMPLICATIONS_CYSTO">  <xs:annotation>    <xs:documentation>Cystocele</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="gc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="HISTORY_GYN_COMPLICATIONS_OTHER">  <xs:annotation>    <xs:documentation>Other, describe:</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="gc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="HISTORY_GYN_COMPLICATIONS_OTHER_DESC">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="gc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="HISTORY_GYN_COMPLICATIONS_PROCS">  <xs:annotation>     <xs:documentation>b. Has the Veteran had any other complications resulting from obstetrical or gynecologic conditions or procedures?</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Yes"/>            <xs:enumeration value="No"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="gc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="HISTORY_GYN_COMPLICATIONS_PROCS_DESC">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="gc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_GYN_NEO">  <xs:annotation>     <xs:documentation>a.  Does the Veteran have a benign or malignant neoplasm or metastases related to any of the diagnoses in the Diagnosis section?</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Yes"/>            <xs:enumeration value="No"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="gc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_GYN_NEO_STATUS">  <xs:annotation>     <xs:documentation>b. Is the neoplasm</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Benign"/>            <xs:enumeration value="Malignant"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="gc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_GYN_NEO_TX">  <xs:annotation>     <xs:documentation>c. Has the Veteran completed treatment or is the Veteran currently undergoing treatment for a benign or malignant neoplasm or metastases?</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Yes"/>            <xs:enumeration value="No; watchful waiting"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="gc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_GYN_NEO_TX_COMPLETED">  <xs:annotation>    <xs:documentation>Treatment completed; currently in watchful waiting status</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="gc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_GYN_NEO_TX_SURG">  <xs:annotation>    <xs:documentation>Surgery</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="gc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_GYN_NEO_TX_SURG_DESC">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="gc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_GYN_NEO_TX_SURG_DATE">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="gc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_GYN_NEO_TX_RAD">  <xs:annotation>    <xs:documentation>Radiation therapy</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="gc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_GYN_NEO_TX_RAD_DATE_RECENT">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="gc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_GYN_NEO_TX_RAD_DATE_COMP">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="gc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_GYN_NEO_TX_CHEMO">  <xs:annotation>    <xs:documentation>Antineoplastic chemotherapy</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="gc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_GYN_NEO_TX_CHEMO_TX_RECENT">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="gc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_GYN_NEO_TX_CHEMO_TX_COMP">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="gc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_GYN_NEO_TX_OTHER_PROC">  <xs:annotation>    <xs:documentation>Other therapeutic procedure</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="gc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_GYN_NEO_TX_OTHER_PROC_DESC">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="gc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_GYN_NEO_TX_OTHER_PROC_DATE">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="gc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_GYN_NEO_TX_OTHER_THERAPY">  <xs:annotation>    <xs:documentation>Other therapeutic treatment</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="gc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_GYN_NEO_TX_OTHER_THERAPY_DATE">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="gc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_GYN_NEO_RESIDUAL">  <xs:annotation>     <xs:documentation></xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Yes"/>            <xs:enumeration value="No"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="gc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_GYN_NEO_RESIDUAL_DESC">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="gc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_GYN_NEO_ADDITIONAL">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="gc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_GYN_NEO_TX_OTHER_THERAPY_DESC">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="gc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_GYN_OTH_SS">  <xs:annotation>     <xs:documentation></xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Yes"/>            <xs:enumeration value="No"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="gc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_GYN_OTH_SS_SCARS">  <xs:annotation>     <xs:documentation>If yes, are any of the scars painful and/or unstable, or is the total area of all related scars greater than 39 square cm (6 square inches)?</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Yes"/>            <xs:enumeration value="No"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="gc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_GYN_OTH_SS_OTH">  <xs:annotation>     <xs:documentation></xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Yes"/>            <xs:enumeration value="No"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="gc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_GYN_OTH_SS_OTH_DESC">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="gc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="TESTS_GYN_LAPAROSCOPY_DESC">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="gc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="TESTS_GYN_ANEMIA">  <xs:annotation>     <xs:documentation>b. Has the Veteran been diagnosed with anemia?</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Yes"/>            <xs:enumeration value="No"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="gc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="TESTS_GYN_ANEMIA_HGB">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="gc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="TESTS_GYN_ANEMIA_HCT">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="gc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="TESTS_GYN_ANEMIA_DATE">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="gc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="TESTS_GYN_OTHER">  <xs:annotation>     <xs:documentation>c. Has the Veteran had any other diagnostic testing and if so, are there significant findings and/or results?</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Yes"/>            <xs:enumeration value="No"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="gc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="TESTS_GYN_OTHER_DESC">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="gc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="ASSESSMENT_GYN_FI">  <xs:annotation>     <xs:documentation>Does the Veteran's gynecological condition(s) impact her ability to work?</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Yes"/>            <xs:enumeration value="No"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="gc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="ASSESSMENT_GYN_FI_DESC">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="gc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="MISC_GYN_REMARKS">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="gc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="TESTS_GYN_LAPAROSCOPY">  <xs:annotation>     <xs:documentation>a. Has the Veteran had laparoscopy?</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Yes"/>            <xs:enumeration value="No"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="gc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAMGROUP_CARDIO_IHD_Name">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="gc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ACE_1">  <xs:annotation>    <xs:documentation></xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="gc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ACE_2">  <xs:annotation>    <xs:documentation></xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="gc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ACE_3">  <xs:annotation>    <xs:documentation>Examination via approved video telehealth</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="gc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ACE_4">  <xs:annotation>    <xs:documentation>In-person examination</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="gc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ACE_5_RevRec_1">  <xs:annotation>     <xs:documentation>Was the Veteran's VA claims file reviewed?</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Yes"/>            <xs:enumeration value="No"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="gc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ACE_5_RevRec_2">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="gc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ACE_5_RevRec_3">  <xs:annotation>    <xs:documentation>Military service treatment records</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="gc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ACE_5_RevRec_4">  <xs:annotation>    <xs:documentation>Military service personnel records</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="gc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ACE_5_RevRec_5">  <xs:annotation>    <xs:documentation>Military enlistment examination</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="gc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ACE_5_RevRec_6">  <xs:annotation>    <xs:documentation>Military separation examination</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="gc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ACE_5_RevRec_7">  <xs:annotation>    <xs:documentation>Military post-deployment questionnaire</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="gc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ACE_5_RevRec_8">  <xs:annotation>    <xs:documentation>Department of Defense Form 214 Separation Documents</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="gc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ACE_5_RevRec_9">  <xs:annotation>    <xs:documentation>Veterans Health Administration medical records (VA treatment records)</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="gc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ACE_5_RevRec_10">  <xs:annotation>    <xs:documentation>Civilian medical records</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="gc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ACE_5_RevRec_11">  <xs:annotation>    <xs:documentation>Interviews with collateral witnesses (family and others who have known the Veteran before and after military service)</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="gc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ACE_5_RevRec_12">  <xs:annotation>    <xs:documentation>No records were reviewed</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="gc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ACE_5_RevRec_13">  <xs:annotation>    <xs:documentation>Other:</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="gc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ACE_5_RevRec_14">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="gc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
  </xs:all>  </xs:complexType>  <xs:element name="GynecologicalConditionsForm" type="gc:GynecologicalConditionsFormType"/>  <xs:complexType name="Metadata">    <xs:all>      <xs:element name="code" type="xs:string"/>      <xs:element name="codeSystem" type="xs:string"/>      <xs:element name="version" type="xs:string"/>      <xs:element name="source" type="xs:string"/>    </xs:all>  </xs:complexType></xs:schema>
