legacy/Hairy_Cell_Leukemia_DBQ_v14_1_T2.pnl.xsd

<?xml version="1.0" encoding="UTF-8"?><xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:hcbl="http://vler.va.gov/vler/schemas/health/clinicalDocuments/clinicalAssessments/cpExams/1.3/HairyCellBcellLeukemia" targetNamespace="http://vler.va.gov/vler/schemas/health/clinicalDocuments/clinicalAssessments/cpExams/1.3/HairyCellBcellLeukemia" version="1.0">  <xs:complexType name="HairyCellBcellLeukemiaFormType">  <xs:all>
<xs:element name="Leukemia">  <xs:annotation>     <xs:documentation>Does the Veteran now have or has he/she ever been diagnosed with hairy cell leukemia or any other B-cell leukemia?</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Yes"/>            <xs:enumeration value="No"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="hcbl:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAMGROUP_HEMATO_Hairycell_Leukemia_Symptoms_Other">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="hcbl:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAMGROUP_HEMATO_Hairycell_Leukemia_Complications">  <xs:annotation>     <xs:documentation>a. Does the Veteran currently have any complications or residuals of treatment?</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Yes"/>            <xs:enumeration value="No"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="hcbl:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAMGROUP_HEMATO_Hairycell_Leukemia_Complications_Transfusions">  <xs:annotation>     <xs:documentation>b. Are there any complications or residuals requiring transfusion of platelets or red cells?</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Yes"/>            <xs:enumeration value="No"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="hcbl:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAMGROUP_HEMATO_Hairycell_Leukemia_Complications_Infections">  <xs:annotation>     <xs:documentation>c. Are there any complications or residuals causing recurring infections?</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Yes"/>            <xs:enumeration value="No"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="hcbl:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAMGROUP_HEMATO_Hairycell_Leukemia_Complications_Other">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="hcbl:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAMGROUP_HEMATO_Hairycell_Leukemia_Remarks">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="hcbl:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="LeukemiaResidualsAsymptomaticAnemia">  <xs:annotation>    <xs:documentation>Asymptomatic anemia</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="hcbl:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAMGROUP_HEMATO_Hairycell_Leukemia_Complications_Anemia_CB_Symptomatic">  <xs:annotation>    <xs:documentation>Symptomatic anemia (check signs and symptoms that apply)</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="hcbl:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="LeukemiaResidualsWeakness">  <xs:annotation>    <xs:documentation>Weakness</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="hcbl:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="LeukemiaResidualsEasyFatigability">  <xs:annotation>    <xs:documentation>Easy fatigability</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="hcbl:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="LeukemiaResidualsLightheadedness">  <xs:annotation>    <xs:documentation>Lightheadedness</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="hcbl:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="LeukemiaResidualsHighOutputCHF">  <xs:annotation>    <xs:documentation>High output congestive heart failure</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="hcbl:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="LeukemiaCardiomegaly">  <xs:annotation>    <xs:documentation>Cardiomegaly</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="hcbl:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="LeukemiaResidualsHeadaches">  <xs:annotation>    <xs:documentation>Headaches</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="hcbl:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="LeukemiaResidualsShortnessOfBreath">  <xs:annotation>    <xs:documentation>Shortness of breath</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="hcbl:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="LeukemiaResidualsDyspneaOnMildExertion">  <xs:annotation>    <xs:documentation>Dyspnea on mild exertion</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="hcbl:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="LeukemiaResidualsSyncope">  <xs:annotation>    <xs:documentation>Syncope</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="hcbl:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="LeukemiaResidualsDyspneaAtRest">  <xs:annotation>    <xs:documentation>Dyspnea at rest</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="hcbl:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAMGROUP_HEMATO_Hairycell_Leukemia_Systemic_Present_Other">  <xs:annotation>    <xs:documentation>Other signs and/or symptoms:</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="hcbl:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAMGROUP_HEMATO_Hairycell_Leukemia_Description_Editbox">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="hcbl:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAMGROUP_HEMATO_Hairycell_Leukemia_Date_Editbox">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="hcbl:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAMGROUP_HEMATO_Hairycell_Leukemia_Residuals_Date_Editbox">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="hcbl:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="LeukemiaResidualsHemoglobinLevel">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="hcbl:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="LeukemiaResidualsRequiringBoneMarrowTransplant">  <xs:annotation>    <xs:documentation>Requiring bone marrow transplant</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="hcbl:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAMGROUP_HEMATO_Hairycell_Leukemia_Remission_Date_EDITBOX">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="hcbl:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="LeukemiaActive">  <xs:annotation>    <xs:documentation>Active</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="hcbl:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="LeukemiaRemission">  <xs:annotation>    <xs:documentation>Remission</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="hcbl:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAMGROUP_HEMATO_Hairycell_Leukemia_Completed_Checkbox">  <xs:annotation>    <xs:documentation> The Veteran has completed treatment for this leukemia.</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="hcbl:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="LeukemiaResidualsTachycardia">  <xs:annotation>    <xs:documentation>Tachycardia</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="hcbl:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAMGROUP_HEMATO_Hairycell_Leukemia_Description_Editbox_ICD1">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="hcbl:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAMGROUP_HEMATO_Hairycell_Leukemia_Description_Editbox_Diagnosis2">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="hcbl:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAMGROUP_HEMATO_Hairycell_Leukemia_Description_Editbox_ICD2">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="hcbl:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAMGROUP_HEMATO_Hairycell_Leukemia_Description_Editbox_ICD3">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="hcbl:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAMGROUP_HEMATO_Hairycell_Leukemia_Description_Editbox_Diagnosis_Date3">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="hcbl:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAMGROUP_HEMATO_Hairycell_Leukemia_Description_Editbox_Diagnosis_Date2">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="hcbl:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAMGROUP_HEMATO_Hairycell_Leukemia_Description_Editbox_Diagnosis3">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="hcbl:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAMGROUP_HEMATO_Hairycell_Leukemia_Functional_Impact_Describe">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="hcbl:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAMGROUP_HEMATO_Hairycell_Leukemia_Functional_Impact">  <xs:annotation>     <xs:documentation>Does the Veteran's B-cell leukemia impact his or her ability to work?</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Yes"/>            <xs:enumeration value="No"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="hcbl:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="LeukemiaResidualsTransfusionPlateletsFrequency">  <xs:annotation>     <xs:documentation>If yes, indicate frequency for platelets:</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="At least once per year but less than once every 3 months"/>            <xs:enumeration value="At least once every 3 months"/>            <xs:enumeration value="At least once every 6 weeks"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="hcbl:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="LeukemiaResidualsReoccuringInfectionsFrequency">  <xs:annotation>     <xs:documentation>If yes, indicate frequency:</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="At least once per year but less than once every 3 months"/>            <xs:enumeration value="At least once every 3 months"/>            <xs:enumeration value="At least once every 6 weeks"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="hcbl:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAMGROUP_HEMATO_Hairycell_Leukemia_Complications_Anemia_RG">  <xs:annotation>     <xs:documentation>d. Are there any complications or residuals related to anemia?</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Yes"/>            <xs:enumeration value="No"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="hcbl:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAMGROUP_HEMATO_Hairycell_Leukemia_Platelet_Editbox">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="hcbl:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAMGROUP_HEMATO_Hairycell_Leukemia_Platelet_Editbox_Date">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="hcbl:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="LeukemiaResidualsContinuousMedication">  <xs:annotation>    <xs:documentation>Requires continuous medication</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="hcbl:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAMGROUP_HEMATO_Hairycell_Leukemia_Description_Editbox_DiagnosisOther_Memo">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="hcbl:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAMGROUP_HEMATO_Hairycell_Leukemia_Complications_Anemia_CB_Aplastic_Anemia_Checkbox_Date">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="hcbl:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAMGROUP_CARDIO_IHD_Name">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="hcbl:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="LeukemiaUndergoingTx">  <xs:annotation>    <xs:documentation></xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="hcbl:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ACE_1">  <xs:annotation>    <xs:documentation></xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="hcbl:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ACE_2">  <xs:annotation>    <xs:documentation></xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="hcbl:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ACE_3">  <xs:annotation>    <xs:documentation>Examination via approved video telehealth</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="hcbl:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ACE_4">  <xs:annotation>    <xs:documentation>In-person examination</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="hcbl:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ACE_5_RevRec_1">  <xs:annotation>     <xs:documentation>Was the Veteran's VA claims file reviewed?</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Yes"/>            <xs:enumeration value="No"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="hcbl:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ACE_5_RevRec_2">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="hcbl:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ACE_5_RevRec_3">  <xs:annotation>    <xs:documentation>Military service treatment records</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="hcbl:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ACE_5_RevRec_4">  <xs:annotation>    <xs:documentation>Military service personnel records</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="hcbl:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ACE_5_RevRec_5">  <xs:annotation>    <xs:documentation>Military enlistment examination</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="hcbl:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ACE_5_RevRec_6">  <xs:annotation>    <xs:documentation>Military separation examination</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="hcbl:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ACE_5_RevRec_7">  <xs:annotation>    <xs:documentation>Military post-deployment questionnaire</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="hcbl:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ACE_5_RevRec_8">  <xs:annotation>    <xs:documentation>Department of Defense Form 214 Separation Documents</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="hcbl:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ACE_5_RevRec_9">  <xs:annotation>    <xs:documentation>Veterans Health Administration medical records (VA treatment records)</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="hcbl:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ACE_5_RevRec_10">  <xs:annotation>    <xs:documentation>Civilian medical records</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="hcbl:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ACE_5_RevRec_11">  <xs:annotation>    <xs:documentation>Interviews with collateral witnesses (family and others who have known the Veteran before and after military service)</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="hcbl:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ACE_5_RevRec_12">  <xs:annotation>    <xs:documentation>No records were reviewed</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="hcbl:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ACE_5_RevRec_13">  <xs:annotation>    <xs:documentation>Other:</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="hcbl:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ACE_5_RevRec_14">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="hcbl:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="LeukemiaResidualsTransfusionRBCFrequency">  <xs:annotation>     <xs:documentation>If yes, indicate frequency for red blood cells:</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="At least once per year but less than once every 3 months"/>            <xs:enumeration value="At least once every 3 months"/>            <xs:enumeration value="At least once every 6 weeks"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="hcbl:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="GenderMale">  <xs:annotation>    <xs:documentation>Male</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="hcbl:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="GenderFemale">  <xs:annotation>    <xs:documentation>Female</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="hcbl:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
  </xs:all>  </xs:complexType>  <xs:element name="HairyCellBcellLeukemiaForm" type="hcbl:HairyCellBcellLeukemiaFormType"/>  <xs:complexType name="Metadata">    <xs:all>      <xs:element name="code" type="xs:string"/>      <xs:element name="codeSystem" type="xs:string"/>      <xs:element name="version" type="xs:string"/>      <xs:element name="source" type="xs:string"/>    </xs:all>  </xs:complexType></xs:schema>
