legacy/Hearing_Loss_and_Tinnitus_DBQ_v13_7.pnl.xsd

<?xml version="1.0" encoding="UTF-8"?><xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:hlat="http://vler.va.gov/vler/schemas/health/clinicalDocuments/clinicalAssessments/cpExams/1.3/HearingLossAndTinnitus" targetNamespace="http://vler.va.gov/vler/schemas/health/clinicalDocuments/clinicalAssessments/cpExams/1.3/HearingLossAndTinnitus" version="1.0">  <xs:complexType name="HearingLossAndTinnitusFormType">  <xs:all>
<xs:element name="EXAMGROUP_CARDIO_IHD_Remarks">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="hlat:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAMGROUP_AUDIO_HearingLoss_ExamType_HearingLoss_and_or_Tinnitus">  <xs:annotation>    <xs:documentation>Hearing loss and/or tinnitus (audiologist, performing current exam)</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="hlat:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAMGROUP_AUDIO_HearingLoss_ExamType_HearingLoss_and_or_Tinnitus_Report">  <xs:annotation>    <xs:documentation>Hearing loss and/or tinnitus (audiologist or non-audiologist clinician, using audiology report of record that represents Veteran's current condition)</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="hlat:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAMGROUP_AUDIO_HearingLoss_ExamType_HearingLoss_and_or_Tinnitus_ReportDate">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="hlat:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAMGROUP_AUDIO_HearingLoss_PureToneExam_Validity_TestValid">  <xs:annotation>    <xs:documentation>Test results are valid for rating purposes.</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="hlat:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAMGROUP_AUDIO_HearingLoss_PureToneExam_Validity_TestInvalid">  <xs:annotation>    <xs:documentation>Test results are not valid for rating purposes (not indicative of organic hearing loss).</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="hlat:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAMGROUP_AUDIO_HearingLoss_PureToneExam_Validity_InvalidDescription">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="hlat:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="leftEarSpeechDiscrimination">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="hlat:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="rightEarSpeechDiscrimination">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="hlat:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAMGROUP_AUDIO_HearingLoss_Etiology_PriorService_Rationale">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="hlat:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAMGROUP_AUDIO_HearingLoss_FunctionalImpairment_Description">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="hlat:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAMGROUP_AUDIO_TINNITUS_MedicalHistory_RecurrentTinnitus">  <xs:annotation>     <xs:documentation>Does the Veteran report recurrent tinnitus?</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Yes"/>            <xs:enumeration value="No"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="hlat:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAMGROUP_AUDIO_TINNITUS_MedicalHistory_RecurrentTinnitus_Circumstances">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="hlat:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAMGROUP_AUDIO_TINNITUS_EtiologyTinnitus_AssociatedHearingLoss">  <xs:annotation>    <xs:documentation>The Veteran has a diagnosis of clinical hearing loss, and his or her tinnitus is at least as likely as not (50% probability or greater) a symptom associated with the hearing loss, as tinnitus is known to be a symptom associated with hearing loss</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="hlat:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAMGROUP_AUDIO_TINNITUS_EtiologyTinnitus_NoAssociatedHearingLoss">  <xs:annotation>    <xs:documentation>Less likely than not (less than 50% probability) a symptom associated with the Veteran's hearing loss</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="hlat:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAMGROUP_AUDIO_TINNITUS_EtiologyTinnitus_MilitaryNoiseExposure">  <xs:annotation>    <xs:documentation>At least as likely as not (50% probability or greater) caused by or a result of military noise exposure</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="hlat:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAMGROUP_AUDIO_TINNITUS_EtiologyTinnitus_MilitaryNoiseExposure_Rationale">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="hlat:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAMGROUP_AUDIO_TINNITUS_EtiologyTinnitus_KnownEtiology">  <xs:annotation>    <xs:documentation>At least as likely as not (50% probability or greater) due to a known etiology (such as traumatic brain injury)</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="hlat:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAMGROUP_AUDIO_TINNITUS_EtiologyTinnitus_KnownEtiology_Rationale">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="hlat:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAMGROUP_AUDIO_TINNITUS_EtiologyTinnitus_KnownEtiology_NotResultNoiseExposure">  <xs:annotation>    <xs:documentation>Less likely than not (less than 50% probability) caused by or a result of military noise exposure</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="hlat:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAMGROUP_AUDIO_TINNITUS_EtiologyTinnitus_KnownEtiology_NRMNE_Rationale">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="hlat:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAMGROUP_AUDIO_TINNITUS_FunctionalImpact_TinnitusImpact_Description">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="hlat:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAMGROUP_AUDIO_TINNITUS_Remarks_Description">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="hlat:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAMGROUP_AUDIO_TINNITUS_FunctionalImpact_TinnitusImpact_Yes">  <xs:annotation>    <xs:documentation>Yes</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="hlat:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAMGROUP_AUDIO_TINNITUS_FunctionalImpact_TinnitusImpact_No">  <xs:annotation>    <xs:documentation>No</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="hlat:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAMGROUP_AUDIO_HearingLoss_PuretoneThreshold_RE_Average">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="hlat:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="rightEar500">  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="-10"/>            <xs:enumeration value="-5"/>            <xs:enumeration value="0"/>            <xs:enumeration value="5"/>            <xs:enumeration value="10"/>            <xs:enumeration value="15"/>            <xs:enumeration value="20"/>            <xs:enumeration value="25"/>            <xs:enumeration value="30"/>            <xs:enumeration value="35"/>            <xs:enumeration value="40"/>            <xs:enumeration value="45"/>            <xs:enumeration value="50"/>            <xs:enumeration value="55"/>            <xs:enumeration value="60"/>            <xs:enumeration value="65"/>            <xs:enumeration value="70"/>            <xs:enumeration value="75"/>            <xs:enumeration value="80"/>            <xs:enumeration value="85"/>            <xs:enumeration value="90"/>            <xs:enumeration value="90+"/>            <xs:enumeration value="95"/>            <xs:enumeration value="95+"/>            <xs:enumeration value="100"/>            <xs:enumeration value="100+"/>            <xs:enumeration value="105"/>            <xs:enumeration value="105+"/>            <xs:enumeration value="CNT"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="hlat:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="rightEar1000">  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="-10"/>            <xs:enumeration value="-5"/>            <xs:enumeration value="0"/>            <xs:enumeration value="5"/>            <xs:enumeration value="10"/>            <xs:enumeration value="15"/>            <xs:enumeration value="20"/>            <xs:enumeration value="25"/>            <xs:enumeration value="30"/>            <xs:enumeration value="35"/>            <xs:enumeration value="40"/>            <xs:enumeration value="45"/>            <xs:enumeration value="50"/>            <xs:enumeration value="55"/>            <xs:enumeration value="60"/>            <xs:enumeration value="65"/>            <xs:enumeration value="70"/>            <xs:enumeration value="75"/>            <xs:enumeration value="80"/>            <xs:enumeration value="85"/>            <xs:enumeration value="90"/>            <xs:enumeration value="90+"/>            <xs:enumeration value="95"/>            <xs:enumeration value="95+"/>            <xs:enumeration value="100"/>            <xs:enumeration value="100+"/>            <xs:enumeration value="105"/>            <xs:enumeration value="105+"/>            <xs:enumeration value="CNT"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="hlat:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="rightEar2000">  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="-10"/>            <xs:enumeration value="-5"/>            <xs:enumeration value="0"/>            <xs:enumeration value="5"/>            <xs:enumeration value="10"/>            <xs:enumeration value="15"/>            <xs:enumeration value="20"/>            <xs:enumeration value="25"/>            <xs:enumeration value="30"/>            <xs:enumeration value="35"/>            <xs:enumeration value="40"/>            <xs:enumeration value="45"/>            <xs:enumeration value="50"/>            <xs:enumeration value="55"/>            <xs:enumeration value="60"/>            <xs:enumeration value="65"/>            <xs:enumeration value="70"/>            <xs:enumeration value="75"/>            <xs:enumeration value="80"/>            <xs:enumeration value="85"/>            <xs:enumeration value="90"/>            <xs:enumeration value="90+"/>            <xs:enumeration value="95"/>            <xs:enumeration value="95+"/>            <xs:enumeration value="100"/>            <xs:enumeration value="100+"/>            <xs:enumeration value="105"/>            <xs:enumeration value="105+"/>            <xs:enumeration value="CNT"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="hlat:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="rightEar3000">  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="-10"/>            <xs:enumeration value="-5"/>            <xs:enumeration value="0"/>            <xs:enumeration value="5"/>            <xs:enumeration value="10"/>            <xs:enumeration value="15"/>            <xs:enumeration value="20"/>            <xs:enumeration value="25"/>            <xs:enumeration value="30"/>            <xs:enumeration value="35"/>            <xs:enumeration value="40"/>            <xs:enumeration value="45"/>            <xs:enumeration value="50"/>            <xs:enumeration value="55"/>            <xs:enumeration value="60"/>            <xs:enumeration value="65"/>            <xs:enumeration value="70"/>            <xs:enumeration value="75"/>            <xs:enumeration value="80"/>            <xs:enumeration value="85"/>            <xs:enumeration value="90"/>            <xs:enumeration value="90+"/>            <xs:enumeration value="95"/>            <xs:enumeration value="95+"/>            <xs:enumeration value="100"/>            <xs:enumeration value="100+"/>            <xs:enumeration value="105"/>            <xs:enumeration value="105+"/>            <xs:enumeration value="CNT"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="hlat:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="rightEar4000">  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="-10"/>            <xs:enumeration value="-5"/>            <xs:enumeration value="0"/>            <xs:enumeration value="5"/>            <xs:enumeration value="10"/>            <xs:enumeration value="15"/>            <xs:enumeration value="20"/>            <xs:enumeration value="25"/>            <xs:enumeration value="30"/>            <xs:enumeration value="35"/>            <xs:enumeration value="40"/>            <xs:enumeration value="45"/>            <xs:enumeration value="50"/>            <xs:enumeration value="55"/>            <xs:enumeration value="60"/>            <xs:enumeration value="65"/>            <xs:enumeration value="70"/>            <xs:enumeration value="75"/>            <xs:enumeration value="80"/>            <xs:enumeration value="85"/>            <xs:enumeration value="90"/>            <xs:enumeration value="90+"/>            <xs:enumeration value="95"/>            <xs:enumeration value="95+"/>            <xs:enumeration value="100"/>            <xs:enumeration value="100+"/>            <xs:enumeration value="105"/>            <xs:enumeration value="105+"/>            <xs:enumeration value="CNT"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="hlat:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAMGROUP_AUDIO__HearingLoss_PuretoneThreshold_RE_6000">  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="-10"/>            <xs:enumeration value="-5"/>            <xs:enumeration value="0"/>            <xs:enumeration value="5"/>            <xs:enumeration value="10"/>            <xs:enumeration value="15"/>            <xs:enumeration value="20"/>            <xs:enumeration value="25"/>            <xs:enumeration value="30"/>            <xs:enumeration value="35"/>            <xs:enumeration value="40"/>            <xs:enumeration value="45"/>            <xs:enumeration value="50"/>            <xs:enumeration value="55"/>            <xs:enumeration value="60"/>            <xs:enumeration value="65"/>            <xs:enumeration value="70"/>            <xs:enumeration value="75"/>            <xs:enumeration value="80"/>            <xs:enumeration value="85"/>            <xs:enumeration value="90"/>            <xs:enumeration value="90+"/>            <xs:enumeration value="95"/>            <xs:enumeration value="95+"/>            <xs:enumeration value="100"/>            <xs:enumeration value="100+"/>            <xs:enumeration value="105"/>            <xs:enumeration value="105+"/>            <xs:enumeration value="CNT"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="hlat:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAMGROUP_AUDIO__HearingLoss_PuretoneThreshold_RE_8000">  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="-10"/>            <xs:enumeration value="-5"/>            <xs:enumeration value="0"/>            <xs:enumeration value="5"/>            <xs:enumeration value="10"/>            <xs:enumeration value="15"/>            <xs:enumeration value="20"/>            <xs:enumeration value="25"/>            <xs:enumeration value="30"/>            <xs:enumeration value="35"/>            <xs:enumeration value="40"/>            <xs:enumeration value="45"/>            <xs:enumeration value="50"/>            <xs:enumeration value="55"/>            <xs:enumeration value="60"/>            <xs:enumeration value="65"/>            <xs:enumeration value="70"/>            <xs:enumeration value="75"/>            <xs:enumeration value="80"/>            <xs:enumeration value="85"/>            <xs:enumeration value="90"/>            <xs:enumeration value="90+"/>            <xs:enumeration value="95"/>            <xs:enumeration value="95+"/>            <xs:enumeration value="100"/>            <xs:enumeration value="100+"/>            <xs:enumeration value="105"/>            <xs:enumeration value="105+"/>            <xs:enumeration value="CNT"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="hlat:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAMGROUP_AUDIO_HearingLoss_PureToneExam_CNTExplanation">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="hlat:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAMGROUP_CARDIO_IHD_Name">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="hlat:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAMGROUP_AUDIO_HearingLoss_Diagnosis_NormalHearing_RE">  <xs:annotation>    <xs:documentation>Normal hearing</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="hlat:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAMGROUP_AUDIO_HearingLoss_Diagnosis_SHL_FR_500_4000__RE">  <xs:annotation>    <xs:documentation>Sensorineural hearing loss (in the frequency range of 500-4000 Hz)*</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="hlat:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAMGROUP_AUDIO_HearingLoss_Diagnosis_SHL_FR_6000_or_Higher__RE">  <xs:annotation>    <xs:documentation>Sensorineural hearing loss (in the frequency range of 6000 Hz or higher frequencies)**</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="hlat:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAMGROUP_AUDIO_HearingLoss_Diagnosis_SC_HearingThresholdService_RE">  <xs:annotation>    <xs:documentation>Significant changes in hearing thresholds in service***</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="hlat:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAMGROUP_AUDIO_HearingLoss_Diagnosis_ConductiveHearingLoss_RE">  <xs:annotation>    <xs:documentation>Conductive hearing loss</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="hlat:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAMGROUP_AUDIO_HearingLoss_Diagnosis_MixedHearingLoss_RE">  <xs:annotation>    <xs:documentation>Mixed hearing loss</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="hlat:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAMGROUP_AUDIO_HearingLoss_Diagnosis_SHL_FR_500_4000__RE_ICDCode">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="hlat:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAMGROUP_AUDIO_HearingLoss_Diagnosis_SHL_FR_6000_or_Higher__RE_ICDCode">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="hlat:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAMGROUP_AUDIO_HearingLoss_Diagnosis_ConductiveHearingLoss_RE_ICDCode">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="hlat:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAMGROUP_AUDIO_HearingLoss_Diagnosis_MixedHearingLoss_RE_ICDCode">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="hlat:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAMGROUP_AUDIO_HearingLoss_Diagnosis_NormalHearing_LE">  <xs:annotation>    <xs:documentation>Normal hearing</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="hlat:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAMGROUP_AUDIO_HearingLoss_Diagnosis_SHL_FR_500_4000__LE">  <xs:annotation>    <xs:documentation>Sensorineural hearing loss (in the frequency range of 500-4000 Hz)*</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="hlat:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAMGROUP_AUDIO_HearingLoss_Diagnosis_SHL_FR_6000_or_Higher__LE">  <xs:annotation>    <xs:documentation>Sensorineural hearing loss (in the frequency range of 6000 Hz or higher frequencies)**</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="hlat:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAMGROUP_AUDIO_HearingLoss_Diagnosis_SC_HearingThresholdService_LE">  <xs:annotation>    <xs:documentation>Significant changes in hearing thresholds in service***</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="hlat:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAMGROUP_AUDIO_HearingLoss_Diagnosis_ConductiveHearingLoss_LE">  <xs:annotation>    <xs:documentation>Conductive hearing loss</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="hlat:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAMGROUP_AUDIO_HearingLoss_Diagnosis_MixedHearingLoss_LE">  <xs:annotation>    <xs:documentation>Mixed hearing loss</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="hlat:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAMGROUP_AUDIO_HearingLoss_Diagnosis_SHL_FR_500_4000__LE_ICDCode">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="hlat:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAMGROUP_AUDIO_HearingLoss_Diagnosis_SHL_FR_6000_or_Higher__LE_ICDCode">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="hlat:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAMGROUP_AUDIO_HearingLoss_Diagnosis_ConductiveHearingLoss_LE_ICDCode">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="hlat:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAMGROUP_AUDIO_HearingLoss_Diagnosis_MixedHearingLoss_LE_ICDCode">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="hlat:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAMGROUP_AUDIO__HearingLoss_PuretoneThreshold_LE_6000">  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="-10"/>            <xs:enumeration value="-5"/>            <xs:enumeration value="0"/>            <xs:enumeration value="5"/>            <xs:enumeration value="10"/>            <xs:enumeration value="15"/>            <xs:enumeration value="20"/>            <xs:enumeration value="25"/>            <xs:enumeration value="30"/>            <xs:enumeration value="35"/>            <xs:enumeration value="40"/>            <xs:enumeration value="45"/>            <xs:enumeration value="50"/>            <xs:enumeration value="55"/>            <xs:enumeration value="60"/>            <xs:enumeration value="65"/>            <xs:enumeration value="70"/>            <xs:enumeration value="75"/>            <xs:enumeration value="80"/>            <xs:enumeration value="85"/>            <xs:enumeration value="90"/>            <xs:enumeration value="90+"/>            <xs:enumeration value="95"/>            <xs:enumeration value="95+"/>            <xs:enumeration value="100"/>            <xs:enumeration value="100+"/>            <xs:enumeration value="105"/>            <xs:enumeration value="105+"/>            <xs:enumeration value="CNT"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="hlat:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAMGROUP_AUDIO_HearingLoss_PuretoneThreshold_LE_Average">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="hlat:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAMGROUP_AUDIO__HearingLoss_PuretoneThreshold_LE_8000">  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="-10"/>            <xs:enumeration value="-5"/>            <xs:enumeration value="0"/>            <xs:enumeration value="5"/>            <xs:enumeration value="10"/>            <xs:enumeration value="15"/>            <xs:enumeration value="20"/>            <xs:enumeration value="25"/>            <xs:enumeration value="30"/>            <xs:enumeration value="35"/>            <xs:enumeration value="40"/>            <xs:enumeration value="45"/>            <xs:enumeration value="50"/>            <xs:enumeration value="55"/>            <xs:enumeration value="60"/>            <xs:enumeration value="65"/>            <xs:enumeration value="70"/>            <xs:enumeration value="75"/>            <xs:enumeration value="80"/>            <xs:enumeration value="85"/>            <xs:enumeration value="90"/>            <xs:enumeration value="90+"/>            <xs:enumeration value="95"/>            <xs:enumeration value="95+"/>            <xs:enumeration value="100"/>            <xs:enumeration value="100+"/>            <xs:enumeration value="105"/>            <xs:enumeration value="105+"/>            <xs:enumeration value="CNT"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="hlat:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="leftEar4000">  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="-10"/>            <xs:enumeration value="-5"/>            <xs:enumeration value="0"/>            <xs:enumeration value="5"/>            <xs:enumeration value="10"/>            <xs:enumeration value="15"/>            <xs:enumeration value="20"/>            <xs:enumeration value="25"/>            <xs:enumeration value="30"/>            <xs:enumeration value="35"/>            <xs:enumeration value="40"/>            <xs:enumeration value="45"/>            <xs:enumeration value="50"/>            <xs:enumeration value="55"/>            <xs:enumeration value="60"/>            <xs:enumeration value="65"/>            <xs:enumeration value="70"/>            <xs:enumeration value="75"/>            <xs:enumeration value="80"/>            <xs:enumeration value="85"/>            <xs:enumeration value="90"/>            <xs:enumeration value="90+"/>            <xs:enumeration value="95"/>            <xs:enumeration value="95+"/>            <xs:enumeration value="100"/>            <xs:enumeration value="100+"/>            <xs:enumeration value="105"/>            <xs:enumeration value="105+"/>            <xs:enumeration value="CNT"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="hlat:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="leftEar3000">  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="-10"/>            <xs:enumeration value="-5"/>            <xs:enumeration value="0"/>            <xs:enumeration value="5"/>            <xs:enumeration value="10"/>            <xs:enumeration value="15"/>            <xs:enumeration value="20"/>            <xs:enumeration value="25"/>            <xs:enumeration value="30"/>            <xs:enumeration value="35"/>            <xs:enumeration value="40"/>            <xs:enumeration value="45"/>            <xs:enumeration value="50"/>            <xs:enumeration value="55"/>            <xs:enumeration value="60"/>            <xs:enumeration value="65"/>            <xs:enumeration value="70"/>            <xs:enumeration value="75"/>            <xs:enumeration value="80"/>            <xs:enumeration value="85"/>            <xs:enumeration value="90"/>            <xs:enumeration value="90+"/>            <xs:enumeration value="95"/>            <xs:enumeration value="95+"/>            <xs:enumeration value="100"/>            <xs:enumeration value="100+"/>            <xs:enumeration value="105"/>            <xs:enumeration value="105+"/>            <xs:enumeration value="CNT"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="hlat:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="leftEar2000">  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="-10"/>            <xs:enumeration value="-5"/>            <xs:enumeration value="0"/>            <xs:enumeration value="5"/>            <xs:enumeration value="10"/>            <xs:enumeration value="15"/>            <xs:enumeration value="20"/>            <xs:enumeration value="25"/>            <xs:enumeration value="30"/>            <xs:enumeration value="35"/>            <xs:enumeration value="40"/>            <xs:enumeration value="45"/>            <xs:enumeration value="50"/>            <xs:enumeration value="55"/>            <xs:enumeration value="60"/>            <xs:enumeration value="65"/>            <xs:enumeration value="70"/>            <xs:enumeration value="75"/>            <xs:enumeration value="80"/>            <xs:enumeration value="85"/>            <xs:enumeration value="90"/>            <xs:enumeration value="90+"/>            <xs:enumeration value="95"/>            <xs:enumeration value="95+"/>            <xs:enumeration value="100"/>            <xs:enumeration value="100+"/>            <xs:enumeration value="105"/>            <xs:enumeration value="105+"/>            <xs:enumeration value="CNT"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="hlat:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="leftEar1000">  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="-10"/>            <xs:enumeration value="-5"/>            <xs:enumeration value="0"/>            <xs:enumeration value="5"/>            <xs:enumeration value="10"/>            <xs:enumeration value="15"/>            <xs:enumeration value="20"/>            <xs:enumeration value="25"/>            <xs:enumeration value="30"/>            <xs:enumeration value="35"/>            <xs:enumeration value="40"/>            <xs:enumeration value="45"/>            <xs:enumeration value="50"/>            <xs:enumeration value="55"/>            <xs:enumeration value="60"/>            <xs:enumeration value="65"/>            <xs:enumeration value="70"/>            <xs:enumeration value="75"/>            <xs:enumeration value="80"/>            <xs:enumeration value="85"/>            <xs:enumeration value="90"/>            <xs:enumeration value="90+"/>            <xs:enumeration value="95"/>            <xs:enumeration value="95+"/>            <xs:enumeration value="100"/>            <xs:enumeration value="100+"/>            <xs:enumeration value="105"/>            <xs:enumeration value="105+"/>            <xs:enumeration value="CNT"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="hlat:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="leftEar500">  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="-10"/>            <xs:enumeration value="-5"/>            <xs:enumeration value="0"/>            <xs:enumeration value="5"/>            <xs:enumeration value="10"/>            <xs:enumeration value="15"/>            <xs:enumeration value="20"/>            <xs:enumeration value="25"/>            <xs:enumeration value="30"/>            <xs:enumeration value="35"/>            <xs:enumeration value="40"/>            <xs:enumeration value="45"/>            <xs:enumeration value="50"/>            <xs:enumeration value="55"/>            <xs:enumeration value="60"/>            <xs:enumeration value="65"/>            <xs:enumeration value="70"/>            <xs:enumeration value="75"/>            <xs:enumeration value="80"/>            <xs:enumeration value="85"/>            <xs:enumeration value="90"/>            <xs:enumeration value="90+"/>            <xs:enumeration value="95"/>            <xs:enumeration value="95+"/>            <xs:enumeration value="100"/>            <xs:enumeration value="100+"/>            <xs:enumeration value="105"/>            <xs:enumeration value="105+"/>            <xs:enumeration value="CNT"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="hlat:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAMGROUP_AUDIO_HearingLoss_PureToneExam_">  <xs:annotation>    <xs:documentation>Yes</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="hlat:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAMGROUP_AUDIO_TINNITUS_EtiologyTinnitus_KnownEtiology_MedicalOpinion_Rationale">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="hlat:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAMGROUP_AUDIO_HearingLoss_FunctionalImpairment_Yes">  <xs:annotation>    <xs:documentation>Yes</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="hlat:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAMGROUP_AUDIO_HearingLoss_FunctionalImpairment_No">  <xs:annotation>    <xs:documentation>No</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="hlat:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAMGROUP_AUDIO_TINNITUS_EtiologyTinnitus_LessLikelyThanNot_AssociatedSymptom_Rationale">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="hlat:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ACE_1">  <xs:annotation>    <xs:documentation></xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="hlat:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ACE_2">  <xs:annotation>    <xs:documentation></xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="hlat:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ACE_3">  <xs:annotation>    <xs:documentation>Examination via approved video telehealth</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="hlat:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ACE_4">  <xs:annotation>    <xs:documentation>In-person examination</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="hlat:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ACE_5_RevRec_1">  <xs:annotation>     <xs:documentation>Was the Veteran's VA claims file reviewed?</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Yes"/>            <xs:enumeration value="No"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="hlat:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ACE_5_RevRec_2">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="hlat:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ACE_5_RevRec_3">  <xs:annotation>    <xs:documentation>Military service treatment records</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="hlat:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ACE_5_RevRec_4">  <xs:annotation>    <xs:documentation>Military service personnel records</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="hlat:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ACE_5_RevRec_5">  <xs:annotation>    <xs:documentation>Military enlistment examination</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="hlat:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ACE_5_RevRec_6">  <xs:annotation>    <xs:documentation>Military separation examination</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="hlat:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ACE_5_RevRec_7">  <xs:annotation>    <xs:documentation>Military post-deployment questionnaire</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="hlat:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ACE_5_RevRec_8">  <xs:annotation>    <xs:documentation>Department of Defense Form 214 Separation Documents</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="hlat:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ACE_5_RevRec_9">  <xs:annotation>    <xs:documentation>Veterans Health Administration medical records (VA treatment records)</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="hlat:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ACE_5_RevRec_10">  <xs:annotation>    <xs:documentation>Civilian medical records</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="hlat:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ACE_5_RevRec_11">  <xs:annotation>    <xs:documentation>Interviews with collateral witnesses (family and others who have known the Veteran before and after military service)</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="hlat:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ACE_5_RevRec_12">  <xs:annotation>    <xs:documentation>No records were reviewed</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="hlat:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ACE_5_RevRec_13">  <xs:annotation>    <xs:documentation>Other:</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="hlat:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ACE_5_RevRec_14">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="hlat:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="leftEarIsWorseningNatural">  <xs:annotation>     <xs:documentation>between 500 and 6000 Hz for the left ear?</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Yes"/>            <xs:enumeration value="No"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="hlat:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="rightEarVAEConsideration">  <xs:annotation>     <xs:documentation>Opinion provided for the right ear:</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Yes"/>            <xs:enumeration value="No"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="hlat:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="leftEarVAEConsideration">  <xs:annotation>     <xs:documentation>Opinion provided for the left ear:</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Yes"/>            <xs:enumeration value="No"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="hlat:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="rightEarOpinionRationale">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="hlat:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="leftEarOpinionRationale">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="hlat:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="rightEarHearingLossOpinion">  <xs:annotation>     <xs:documentation>military service?</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Yes"/>            <xs:enumeration value="No"/>            <xs:enumeration value="Cannot determine a medical opinion regarding the etiology of the Veteran's right ear hearing loss without resorting to speculation:"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="hlat:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="leftEarHearingLossOpinion">  <xs:annotation>     <xs:documentation>military service?</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Yes"/>            <xs:enumeration value="No"/>            <xs:enumeration value="Cannot determine a medical opinion regarding the etiology of the Veteran's right ear hearing loss without resorting to speculation:"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="hlat:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="rightEarLossOnEntrance">  <xs:annotation>     <xs:documentation>Did hearing loss exist prior to service?</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Yes"/>            <xs:enumeration value="No"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="hlat:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="rightEarWorsenedInService">  <xs:annotation>     <xs:documentation>If yes, was the pre-existing hearing loss aggravated beyond normal progression in military services?</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Yes"/>            <xs:enumeration value="No"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="hlat:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="leftEarLossOnEntrance">  <xs:annotation>     <xs:documentation>Did hearing loss exist prior to service?</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Yes"/>            <xs:enumeration value="No"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="hlat:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAMGROUP_AUDIO_HearingLoss_Etiology_PriorService_Rationale_Right">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="hlat:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="rightEarScoresAvailable">  <xs:annotation>     <xs:documentation>Is Word Discrimination Score available?</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Yes"/>            <xs:enumeration value="No"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="hlat:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAMGROUP_AUDIO_HearingLoss_PureToneExam_AF__CAR_RE_Abnormal">  <xs:annotation>    <xs:documentation>Abnormal</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="hlat:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAMGROUP_AUDIO_HearingLoss_PureToneExam_AF__IAR_RE_Normal">  <xs:annotation>    <xs:documentation>Normal</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="hlat:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAMGROUP_AUDIO_HearingLoss_PureToneExam_AF__AcousticImmittance_RE_Normal">  <xs:annotation>    <xs:documentation>Normal</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="hlat:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAMGROUP_AUDIO_HearingLoss_PureToneExam_AF__AcousticImmittance_RE_Abnormal">  <xs:annotation>    <xs:documentation>Abnormal</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="hlat:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAMGROUP_AUDIO_HearingLoss_PureToneExam_AF__IAR_RE_Abnormal">  <xs:annotation>    <xs:documentation>Abnormal</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="hlat:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAMGROUP_AUDIO_HearingLoss_PureToneExam_AF__CAR_RE_Normal">  <xs:annotation>    <xs:documentation>Normal</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="hlat:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAMGROUP_AUDIO_HearingLoss_PureToneExam_AF__UnableToInterpret_RE">  <xs:annotation>    <xs:documentation>Right ear</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="hlat:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAMGROUP_AUDIO_HearingLoss_PureToneExam_AF__UnableToMaintainSeal_RE">  <xs:annotation>    <xs:documentation>Right Ear</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="hlat:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAMGROUP_AUDIO_HearingLoss_PureToneExam_AF__UnableToInterpret_LE">  <xs:annotation>    <xs:documentation>Left Ear</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="hlat:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAMGROUP_AUDIO_HearingLoss_PureToneExam_AF__UnableToMaintainSeal_LE">  <xs:annotation>    <xs:documentation>Left Ear</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="hlat:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAMGROUP_AUDIO_HearingLoss_PureToneExam_AF__IAR_LE_Normal">  <xs:annotation>    <xs:documentation>Normal</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="hlat:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAMGROUP_AUDIO_HearingLoss_PureToneExam_AF__CAR_LE_Normal">  <xs:annotation>    <xs:documentation>Normal</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="hlat:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAMGROUP_AUDIO_HearingLoss_PureToneExam_AF__CAR_LE_Abnormal">  <xs:annotation>    <xs:documentation>Abnormal</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="hlat:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAMGROUP_AUDIO_HearingLoss_PureToneExam_AF__IAR_LE_Abnormal">  <xs:annotation>    <xs:documentation>Abnormal</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="hlat:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAMGROUP_AUDIO_HearingLoss_PureToneExam_AF__AcousticImmittance_LE_Abnormal">  <xs:annotation>    <xs:documentation>Abnormal</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="hlat:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="leftEarScoresAvailable">  <xs:annotation>     <xs:documentation>Is Word Discrimination Score available?</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Yes"/>            <xs:enumeration value="No"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="hlat:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAMGROUP_AUDIO_HearingLoss_PureToneExam_WRS_Appropriate_Left">  <xs:annotation>    <xs:documentation>Normal</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="hlat:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAMGROUP_AUDIO_HearingLoss_PureToneExam_WRS_NotAppropriate_Left">  <xs:annotation>    <xs:documentation>Use of word recognition score is appropriate for this Veteran.</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="hlat:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAMGROUP_AUDIO_HearingLoss_PureToneExam_AF__AcousticImmittance_LE_Normal">  <xs:annotation>    <xs:documentation>The use of the word recognition score is not appropriate for this Veteran because of language difficulties, cognitive problems,</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="hlat:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAMGROUP_AUDIO_HearingLoss_PureToneExam_WRS_Appropriate_Right">  <xs:annotation>    <xs:documentation>Use of word recognition score is appropriate for this Veteran.</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="hlat:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="leftEarWorsenedInService">  <xs:annotation>     <xs:documentation>If yes, was the pre-existing hearing loss aggravated beyond normal progression in military services?</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Yes"/>            <xs:enumeration value="No"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="hlat:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAMGROUP_AUDIO_HearingLoss_PureToneExam_CouldNotBeTested_No">  <xs:annotation>    <xs:documentation>No</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="hlat:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="rightEarIsWorseningNatural">  <xs:annotation>     <xs:documentation>between 500 and 6000 Hz for the right ear?</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Yes"/>            <xs:enumeration value="No"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="hlat:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAMGROUP_AUDIO_HearingLoss_Etiology_EventMilitaryService_Right_Yes">  <xs:annotation>    <xs:documentation>Etiology opinion not indicated as:</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="hlat:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAMGROUP_AUDIO_HearingLoss_Etiology_EventMilitaryService_Right_No">  <xs:annotation>    <xs:documentation>VBA did not request etiology</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="hlat:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAMGROUP_AUDIO_HearingLoss_Etiology_MedicalOpinion_Speculation_Right">  <xs:annotation>    <xs:documentation>Service connected condition</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="hlat:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAMGROUP_AUDIO_HearingLoss_Etiology_EventMilitaryService_Left_Yes">  <xs:annotation>    <xs:documentation>Etiology opinion not indicated as:</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="hlat:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAMGROUP_AUDIO_HearingLoss_Etiology_EventMilitaryService_Left_No">  <xs:annotation>    <xs:documentation>Service connected condition</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="hlat:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAMGROUP_AUDIO_HearingLoss_Etiology_MedicalOpinion_Speculation_Left">  <xs:annotation>    <xs:documentation>VBA did not request etiology</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="hlat:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAMGROUP_AUDIO_TINNITUS_EtiologyTinnitus_KnownEtiology_MedicalOpinion">  <xs:annotation>    <xs:documentation>Cannot provide a medical opinion regarding the etiology of the Veteran's tinnitus without resorting to speculation</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="hlat:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAMGROUP_AUDIO_HearingLoss_ExamType_Tinnitus">  <xs:annotation>    <xs:documentation>Tinnitus only (audiologist or non-audiologist clinician)</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="hlat:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAMGROUP_AUDIO_HearingLoss_PureToneExam_WRS_NotAppropriate_Right">  <xs:annotation>    <xs:documentation>The use of the word recognition score is not appropriate for this Veteran because of language difficulties, cognitive problems,</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="hlat:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
  </xs:all>  </xs:complexType>  <xs:element name="HearingLossAndTinnitusForm" type="hlat:HearingLossAndTinnitusFormType"/>  <xs:complexType name="Metadata">    <xs:all>      <xs:element name="code" type="xs:string"/>      <xs:element name="codeSystem" type="xs:string"/>      <xs:element name="version" type="xs:string"/>      <xs:element name="source" type="xs:string"/>    </xs:all>  </xs:complexType></xs:schema>
