legacy/Hernias_DBQ_v13_2_T1.pnl.xsd

<?xml version="1.0" encoding="UTF-8"?><xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:her="http://vler.va.gov/vler/schemas/health/clinicalDocuments/clinicalAssessments/cpExams/1.3/Hernias" targetNamespace="http://vler.va.gov/vler/schemas/health/clinicalDocuments/clinicalAssessments/cpExams/1.3/Hernias" version="1.0">  <xs:complexType name="HerniasFormType">  <xs:all>
<xs:element name="DIAGNOSIS_HERNIA_SEC1">  <xs:annotation>     <xs:documentation></xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Yes"/>            <xs:enumeration value="No"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="her:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="DIAGNOSIS_HERNIA_SEC1_INGUINAL">  <xs:annotation>    <xs:documentation>Inguinal hernia</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="her:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="DIAGNOSIS_HERNIA_SEC1_INGUINAL_ICD">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="her:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="DIAGNOSIS_HERNIA_SEC1_INGUINAL_DATE">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="her:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="DIAGNOSIS_HERNIA_SEC1_FEMORAL">  <xs:annotation>    <xs:documentation>Femoral hernia</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="her:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="DIAGNOSIS_HERNIA_SEC1_FEMORAL_ICD">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="her:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="DIAGNOSIS_HERNIA_SEC1_FEMORAL_DATE">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="her:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="DIAGNOSIS_HERNIA_SEC1_VENT">  <xs:annotation>    <xs:documentation>Ventral hernia</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="her:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="DIAGNOSIS_HERNIA_SEC1_VENT_ICD">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="her:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="DIAGNOSIS_HERNIA_SEC1_VENT_DATE">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="her:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="DIAGNOSIS_HERNIA_SEC1_OTH">  <xs:annotation>    <xs:documentation>Other, specify below:</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="her:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="DIAGNOSIS_HERNIA_SEC1_OTH_DG1">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="her:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="DIAGNOSIS_HERNIA_SEC1_OTH_ICD1">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="her:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="DIAGNOSIS_HERNIA_SEC1_OTH_DATE1">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="her:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="DIAGNOSIS_HERNIA_SEC1_OTH_ICD2">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="her:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="DIAGNOSIS_HERNIA_SEC1_OTH_DATE2">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="her:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="HISTORY_HERNIA_SEC2_DESC">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="her:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_HERNIA_SEC3_ING_SIZE_RT">  <xs:annotation>     <xs:documentation></xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Small hernia"/>            <xs:enumeration value="Large hernia"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="her:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_HERNIA_SEC3_ING_SIZE_LFT">  <xs:annotation>     <xs:documentation></xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Small hernia"/>            <xs:enumeration value="Large hernia"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="her:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_HERNIA_SEC3_ING_REDUCE_RT">  <xs:annotation>     <xs:documentation></xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Readily reducible"/>            <xs:enumeration value="Not readily reducible   "/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="her:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_HERNIA_SEC3_ING_REDUCE_LFT">  <xs:annotation>     <xs:documentation></xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Readily reducible"/>            <xs:enumeration value="Not readily reducible   "/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="her:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_HERNIA_SEC3_ING_BELT">  <xs:annotation>     <xs:documentation>Is there an indication for a supporting belt?</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Yes"/>            <xs:enumeration value="No"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="her:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_HERNIA_SEC3_ING_BELT_YES">  <xs:annotation>    <xs:documentation>Yes, can be well supported by truss or belt</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="her:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_HERNIA_SEC3_ING_BELT_YES_RT">  <xs:annotation>    <xs:documentation>Right</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="her:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_HERNIA_SEC3_ING_BELT_YES_LEFT">  <xs:annotation>    <xs:documentation>Left</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="her:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_HERNIA_SEC3_ING_BELT_NO">  <xs:annotation>    <xs:documentation>Not well supported by truss or belt</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="her:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_HERNIA_SEC3_ING_BELT_NO_RT">  <xs:annotation>    <xs:documentation>Right</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="her:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_HERNIA_SEC3_ING_BELT_NO_LEFT">  <xs:annotation>    <xs:documentation>Left</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="her:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_HERNIA_SEC3_ING_STAT_REM">  <xs:annotation>    <xs:documentation>No previous surgery but hernia appears operable and remediable</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="her:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_HERNIA_SEC3_ING_STAT_RECUR_IRREM">  <xs:annotation>    <xs:documentation>Irremediable, provide reason:</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="her:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_HERNIA_SEC3_ING_STAT_IRREM_RT">  <xs:annotation>    <xs:documentation>Right</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="her:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_HERNIA_SEC3_ING_STAT_IRREM_LEFT">  <xs:annotation>    <xs:documentation>Left</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="her:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_HERNIA_SEC3_ING_STAT_RECUR">  <xs:annotation>    <xs:documentation>Recurrent hernia following surgical repair</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="her:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_HERNIA_SEC3_ING_STAT_RECUR_REM">  <xs:annotation>    <xs:documentation>Recurrent hernia appears operable and remediable</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="her:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_HERNIA_SEC3_ING_STAT_RECUR_REM_RT">  <xs:annotation>    <xs:documentation>Right</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="her:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_HERNIA_SEC3_ING_STAT_RECUR_REM_LEFT">  <xs:annotation>    <xs:documentation>Left</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="her:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_HERNIA_SEC3_ING_STAT_IRREM">  <xs:annotation>    <xs:documentation>Irremediable, provide reason:</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="her:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_HERNIA_SEC3_ING_STAT_RECUR_IRREM_REAS">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="her:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_HERNIA_SEC3_ING_STAT_RECUR_IRREM_RT">  <xs:annotation>    <xs:documentation>Right</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="her:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_HERNIA_SEC3_ING_STAT_RECUR_IRREM_LFT">  <xs:annotation>    <xs:documentation>Left</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="her:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_HERNIA_SEC3_ING_STAT_RECUR_INOP">  <xs:annotation>    <xs:documentation>Inoperable, provide reason:</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="her:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_HERNIA_SEC3_ING_STAT_RECUR_INOP_REAS">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="her:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_HERNIA_SEC3_ING_STAT_RECUR_INOP_RT">  <xs:annotation>    <xs:documentation>Right</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="her:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_HERNIA_SEC3_ING_STAT_RECUR_INOP_LEFT">  <xs:annotation>    <xs:documentation>Left</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="her:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="DIAGNOSIS_HERNIA_SEC1_OTH_DG2">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="her:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_HERNIA_SEC3_ING_STAT_IRREM_REAS">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="her:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_HERNIA_SEC3_ING_STAT_REM_LEFT">  <xs:annotation>    <xs:documentation>Left</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="her:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_HERNIA_SEC3_ING_STAT_REM_RT">  <xs:annotation>    <xs:documentation>Right</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="her:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_HERNIA_SEC3_FEM_SURG_RT">  <xs:annotation>    <xs:documentation>Right:</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="her:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_HERNIA_SEC3_FEM_SURG_LEFT">  <xs:annotation>    <xs:documentation>Left:</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="her:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_HERNIA_SEC3_FEM_REDUCE_RT">  <xs:annotation>     <xs:documentation></xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Readily reducible"/>            <xs:enumeration value="Not readily reducible   "/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="her:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_HERNIA_SEC3_FEM_REDUCE_LFT">  <xs:annotation>     <xs:documentation></xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Readily reducible"/>            <xs:enumeration value="Not readily reducible   "/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="her:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_HERNIA_SEC3_FEM_BELT">  <xs:annotation>     <xs:documentation>Is there an indication for a supporting belt?</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Yes"/>            <xs:enumeration value="No"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="her:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_HERNIA_SEC3_FEM_BELT_YES">  <xs:annotation>    <xs:documentation>Yes, can be well supported by truss or belt</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="her:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_HERNIA_SEC3_FEM_BELT_YES_RT">  <xs:annotation>    <xs:documentation>Right</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="her:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_HERNIA_SEC3_FEM_BELT_YES_LEFT">  <xs:annotation>    <xs:documentation>Left</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="her:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_HERNIA_SEC3_FEM_BELT_NO">  <xs:annotation>    <xs:documentation>Not well supported by truss or belt</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="her:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_HERNIA_SEC3_FEM_BELT_NO_RT">  <xs:annotation>    <xs:documentation>Right</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="her:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_HERNIA_SEC3_FEM_BELT_NO_LEFT">  <xs:annotation>    <xs:documentation>Left</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="her:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_HERNIA_SEC3_FEM_STAT_REM">  <xs:annotation>    <xs:documentation>No previous surgery but hernia appears operable and remediable</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="her:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_HERNIA_SEC3_FEM_STAT_REM_RT">  <xs:annotation>    <xs:documentation>Right</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="her:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_HERNIA_SEC3_FEM_STAT_REM_LEFT">  <xs:annotation>    <xs:documentation>Left</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="her:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_HERNIA_SEC3_FEM_STAT_IRREM">  <xs:annotation>    <xs:documentation>Irremediable, provide reason:</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="her:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_HERNIA_SEC3_FEM_STAT_IRREM_REAS">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="her:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_HERNIA_SEC3_FEM_STAT_IRREM_RT">  <xs:annotation>    <xs:documentation>Right</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="her:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_HERNIA_SEC3_FEM_STAT_IRREM_LEFT">  <xs:annotation>    <xs:documentation>Left</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="her:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_HERNIA_SEC3_FEM_STAT_INOP">  <xs:annotation>    <xs:documentation>Inoperable, provide reason:</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="her:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_HERNIA_SEC3_FEM_STAT_INOP_REAS">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="her:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_HERNIA_SEC3_FEM_STAT_INOP_RT">  <xs:annotation>    <xs:documentation>Right</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="her:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_HERNIA_SEC3_FEM_STAT_INOP_LEFT">  <xs:annotation>    <xs:documentation>Left</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="her:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_HERNIA_SEC3_FEM_STAT_RECUR">  <xs:annotation>    <xs:documentation>Recurrent hernia following surgical repair</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="her:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_HERNIA_SEC3_FEM_STAT_RECUR_REM">  <xs:annotation>    <xs:documentation>Recurrent hernia appears operable and remediable</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="her:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_HERNIA_SEC3_FEM_STAT_RECUR_REM_RT">  <xs:annotation>    <xs:documentation>Right</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="her:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_HERNIA_SEC3_FEM_STAT_RECUR_REM_LEFT">  <xs:annotation>    <xs:documentation>Left</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="her:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_HERNIA_SEC3_FEM_STAT_RECUR_IRREM">  <xs:annotation>    <xs:documentation>Irremediable, provide reason:</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="her:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_HERNIA_SEC3_FEM_STAT_RECUR_IRREM_REAS">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="her:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_HERNIA_SEC3_FEM_STAT_RECUR_IRREM_RT">  <xs:annotation>    <xs:documentation>Right</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="her:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_HERNIA_SEC3_FEM_STAT_RECUR_IRREM_LFT">  <xs:annotation>    <xs:documentation>Left</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="her:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_HERNIA_SEC3_FEM_STAT_RECUR_INOP">  <xs:annotation>    <xs:documentation>Inoperable, provide reason:</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="her:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_HERNIA_SEC3_FEM_STAT_RECUR_INOP_REAS">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="her:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_HERNIA_SEC3_FEM_STAT_RECUR_INOP_RT">  <xs:annotation>    <xs:documentation>Right</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="her:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_HERNIA_SEC3_FEM_STAT_RECUR_INOP_LFT">  <xs:annotation>    <xs:documentation>Left</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="her:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_HERNIA_SEC3_VENT_STAT_INOP">  <xs:annotation>    <xs:documentation>Inoperable, provide reason:</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="her:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_HERNIA_SEC3_VENT_STAT_INOP_REAS">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="her:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_HERNIA_SEC3_VENT_STAT_RECUR">  <xs:annotation>    <xs:documentation>Recurrent hernia following surgical repair</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="her:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_HERNIA_SEC3_VENT_STAT_RECUR_REM">  <xs:annotation>    <xs:documentation>Recurrent hernia appears operable and remediable</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="her:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_HERNIA_SEC3_VENT_STAT_RECUR_IRREM_REAS">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="her:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_HERNIA_SEC3_VENT_STAT_RECUR_INOP">  <xs:annotation>    <xs:documentation>Inoperable, provide reason:</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="her:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_HERNIA_SEC3_VENT_STAT_RECUR_INOP_REAS">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="her:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_HERNIA_OTH_SCAR">  <xs:annotation>     <xs:documentation></xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Yes"/>            <xs:enumeration value="No"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="her:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_HERNIA_OTH_SCAR_YES">  <xs:annotation>     <xs:documentation>If yes, are any of the scars painful and/or unstable, or is the total area of all related scars greater than 39 square cm (6 square inches)?</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Yes"/>            <xs:enumeration value="No"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="her:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_HERNIA_OTH_OTH">  <xs:annotation>     <xs:documentation></xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Yes"/>            <xs:enumeration value="No"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="her:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_HERNIA_OTH_OTH_DESC">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="her:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="TESTS_HERNIA_FIND">  <xs:annotation>     <xs:documentation>Are there any significant diagnostic test findings and/or results?</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Yes"/>            <xs:enumeration value="No"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="her:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="TESTS_HERNIA_FIND_DESC">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="her:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="ASSESSMENT_HERNIA_IMPACT">  <xs:annotation>     <xs:documentation>Does the Veteran's hernia condition(s) impact his or her ability to work?</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Yes"/>            <xs:enumeration value="No"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="her:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="ASSESSMENT_HERNIA_IMPACT_DESC">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="her:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="MISC_HERNIA_REMARK">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="her:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_HERNIA_SEC3_VENT_STAT_REM">  <xs:annotation>    <xs:documentation>No previous surgery but hernia appears operable and remediable</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="her:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_HERNIA_SEC3_VENT_STAT_RECUR_IRREM">  <xs:annotation>    <xs:documentation>Irremediable, provide reason:</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="her:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_HERNIA_SEC3_VENT_STAT_IRREM">  <xs:annotation>    <xs:documentation>Irremediable, provide reason:</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="her:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_HERNIA_SEC3_VENT_STAT_IRREM_REAS">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="her:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_HERNIA_SEC3_FEM_SURG_RT_DATE">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="her:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_HERNIA_SEC3_FEM_SURG_LEFT_DATE">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="her:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_HERNIA_SEC3_ING_SURG_RT_DATE">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="her:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_HERNIA_SEC3_ING_SURG_LEFT_DATE">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="her:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_HERNIA_SEC3_ING_SURG_LEFT">  <xs:annotation>    <xs:documentation>Left:</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="her:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_HERNIA_SEC3_ING_SURG_RT">  <xs:annotation>    <xs:documentation>Right:</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="her:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_HERNIA_SEC3_ING_STAT_INOP">  <xs:annotation>    <xs:documentation>Inoperable, provide reason:</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="her:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_HERNIA_SEC3_ING_STAT_INOP_REAS">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="her:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_HERNIA_SEC3_ING_STAT_INOP_RT">  <xs:annotation>    <xs:documentation>Right</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="her:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_HERNIA_SEC3_ING_STAT_INOP_LEFT">  <xs:annotation>    <xs:documentation>Left</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="her:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAMGROUP_CARDIO_IHD_Name">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="her:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="DIAGNOSIS_HERNIA_SEC1_ADD">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="her:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_HERNIA_SEC3_VENT_STAT_SURG">  <xs:annotation>    <xs:documentation>Surgery performed</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="her:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_HERNIA_SEC3_VENT_STAT_SURG_DATE">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="her:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_HERNIA_SEC3_VENT_BELT_2">  <xs:annotation>     <xs:documentation>Is there an indication for a supporting belt?</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Yes"/>            <xs:enumeration value="No"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="her:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_HERNIA_SEC3_VENT_BELT_SUPT_2">  <xs:annotation>     <xs:documentation>If yes, can the hernia be supported by truss or belt?</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Yes, can be well supported by truss or belt"/>            <xs:enumeration value="Not well supported by truss or belt"/>            <xs:enumeration value="N/A, no truss or belt tried or used"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="her:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_HERNIA_SEC3_VENT_EXAM_NO_DECT">  <xs:annotation>    <xs:documentation>No hernia detected</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="her:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_HERNIA_SEC3_VENT_EXAM_HEALED_REPAIR">  <xs:annotation>    <xs:documentation>Healed postoperative ventral hernia repair</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="her:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_HERNIA_SEC3_VENT_EXAM_HEALED_ABD_WALL">  <xs:annotation>    <xs:documentation>Healed postoperative wounds with weakening of abdominal wall</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="her:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_HERNIA_SEC3_VENT_EXAM_SMALL">  <xs:annotation>    <xs:documentation>Small ventral hernia</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="her:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_HERNIA_SEC3_VENT_EXAM_LARGE">  <xs:annotation>    <xs:documentation>Large ventral hernia</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="her:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_HERNIA_SEC3_VENT_EXAM_MASSIVE">  <xs:annotation>    <xs:documentation>Massive, persistent, severe diastasis of recti muscles</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="her:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_HERNIA_SEC3_VENT_EXAM_EXTENSIVE">  <xs:annotation>    <xs:documentation>Extensive diffuse destruction or weakening of muscular and fascial support of abdominal wall so as to be inoperable</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="her:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_HERNIA_SEC3_VENT_PRES_OTH">  <xs:annotation>    <xs:documentation>Other, describe:</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="her:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_HERNIA_SEC3_VENT_PRES_OTH_DESC">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="her:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_HERNIA_SEC3_FEM_SURGERY">  <xs:annotation>    <xs:documentation>Surgery performed</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="her:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_HERNIA_SEC3_FEM_BELT_NA">  <xs:annotation>    <xs:documentation>N/A, no truss or belt tried or used</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="her:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_HERNIA_SEC3_FEM_EXAM_SIZE_RT">  <xs:annotation>     <xs:documentation></xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Small hernia"/>            <xs:enumeration value="Large hernia"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="her:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_HERNIA_SEC3_FEM_EXAM_DECT_RT">  <xs:annotation>     <xs:documentation></xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="No hernia detected"/>            <xs:enumeration value="No true hernia protrusion"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="her:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_HERNIA_SEC3_FEM_EXAM_SIZE_LFT">  <xs:annotation>     <xs:documentation></xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="No hernia detected"/>            <xs:enumeration value="No true hernia protrusion "/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="her:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_HERNIA_SEC3_FEM_EXAM_SIZE_LEFT">  <xs:annotation>     <xs:documentation></xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Small hernia"/>            <xs:enumeration value="Large hernia"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="her:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_HERNIA_SEC3_ING_BELT_NA">  <xs:annotation>    <xs:documentation>N/A, no truss or belt tried or used</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="her:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_HERNIA_SEC3_ING_DECT_RT">  <xs:annotation>     <xs:documentation></xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="No hernia detected"/>            <xs:enumeration value="No true hernia protrusion"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="her:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_HERNIA_SEC3_ING_DECT_LFT_">  <xs:annotation>     <xs:documentation></xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="No hernia detected"/>            <xs:enumeration value="No true hernia protrusion"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="her:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_HERNIA_SEC3_ING_SURGERY">  <xs:annotation>    <xs:documentation>Surgery performed</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="her:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ACE_1">  <xs:annotation>    <xs:documentation></xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="her:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ACE_2">  <xs:annotation>    <xs:documentation></xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="her:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ACE_3">  <xs:annotation>    <xs:documentation>Examination via approved video telehealth</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="her:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ACE_4">  <xs:annotation>    <xs:documentation>In-person examination</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="her:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ACE_5_RevRec_1">  <xs:annotation>     <xs:documentation>Was the Veteran's VA claims file reviewed?</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Yes"/>            <xs:enumeration value="No"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="her:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ACE_5_RevRec_2">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="her:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ACE_5_RevRec_3">  <xs:annotation>    <xs:documentation>Military service treatment records</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="her:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ACE_5_RevRec_4">  <xs:annotation>    <xs:documentation>Military service personnel records</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="her:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ACE_5_RevRec_5">  <xs:annotation>    <xs:documentation>Military enlistment examination</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="her:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ACE_5_RevRec_6">  <xs:annotation>    <xs:documentation>Military separation examination</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="her:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ACE_5_RevRec_7">  <xs:annotation>    <xs:documentation>Military post-deployment questionnaire</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="her:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ACE_5_RevRec_8">  <xs:annotation>    <xs:documentation>Department of Defense Form 214 Separation Documents</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="her:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ACE_5_RevRec_9">  <xs:annotation>    <xs:documentation>Veterans Health Administration medical records (VA treatment records)</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="her:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ACE_5_RevRec_10">  <xs:annotation>    <xs:documentation>Civilian medical records</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="her:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ACE_5_RevRec_11">  <xs:annotation>    <xs:documentation>Interviews with collateral witnesses (family and others who have known the Veteran before and after military service)</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="her:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ACE_5_RevRec_12">  <xs:annotation>    <xs:documentation>No records were reviewed</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="her:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ACE_5_RevRec_13">  <xs:annotation>    <xs:documentation>Other:</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="her:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ACE_5_RevRec_14">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="her:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
  </xs:all>  </xs:complexType>  <xs:element name="HerniasForm" type="her:HerniasFormType"/>  <xs:complexType name="Metadata">    <xs:all>      <xs:element name="code" type="xs:string"/>      <xs:element name="codeSystem" type="xs:string"/>      <xs:element name="version" type="xs:string"/>      <xs:element name="source" type="xs:string"/>    </xs:all>  </xs:complexType></xs:schema>
