legacy/Hip_and_Thigh_DBQ_v13_2_T1.pnl.xsd

<?xml version="1.0" encoding="UTF-8"?><xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:htc="http://vler.va.gov/vler/schemas/health/clinicalDocuments/clinicalAssessments/cpExams/1.3/HipAndThighConditions" targetNamespace="http://vler.va.gov/vler/schemas/health/clinicalDocuments/clinicalAssessments/cpExams/1.3/HipAndThighConditions" version="1.0">  <xs:complexType name="HipAndThighConditionsFormType">  <xs:all>
<xs:element name="DIAGNOSIS_HIP_THIGH_DIAGNOSIS">  <xs:annotation>     <xs:documentation>Does the Veteran now have or has he/she ever had a hip and/or thigh condition?</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Yes"/>            <xs:enumeration value="No"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="htc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="DIAGNOSIS_HIP_THIGH_DIAGNOSIS_1">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="htc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="DIAGNOSIS_HIP_THIGH_ICD_CODE_1">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="htc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="DIAGNOSIS_HIP_THIGH_DATE_1">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="htc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="DIAGNOSIS_HIP_THIGH_DIAGNOSIS_1_SA">  <xs:annotation>     <xs:documentation></xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Right"/>            <xs:enumeration value="Left"/>            <xs:enumeration value="Both"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="htc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="DIAGNOSIS_HIP_THIGH_DIAGNOSIS_2">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="htc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="DIAGNOSIS_HIP_THIGH_ICD_CODE_2">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="htc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="DIAGNOSIS_HIP_THIGH_DATE_2">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="htc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="DIAGNOSIS_HIP_THIGH_DIAGNOSIS_2_SA">  <xs:annotation>     <xs:documentation></xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Right"/>            <xs:enumeration value="Left"/>            <xs:enumeration value="Both"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="htc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="DIAGNOSIS_HIP_THIGH_DIAGNOSIS_3">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="htc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="DIAGNOSIS_HIP_THIGH_ICD_CODE_3">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="htc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="DIAGNOSIS_HIP_THIGH_DATE_3">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="htc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="DIAGNOSIS_HIP_THIGH_DIAGNOSIS_3_SA">  <xs:annotation>     <xs:documentation></xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Right"/>            <xs:enumeration value="Left"/>            <xs:enumeration value="Both"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="htc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="DIAGNOSIS_HIP_THIGH_DIAGNOSIS_ADDITIONAL">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="htc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="HISTORY_HIP_THIGH_DESCRIBE_HISTORY">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="htc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="HISTORY_HIP_THIGH_FLARE_UPS">  <xs:annotation>     <xs:documentation>Does the Veteran report that flare-ups impact the function of the hip and/or thigh?</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Yes"/>            <xs:enumeration value="No"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="htc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="HISTORY_HIP_THIGH_FLARE_UPS_YES">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="htc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_HIP_THIGH_ROM_RHF_FE">  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="0"/>            <xs:enumeration value="5"/>            <xs:enumeration value="10"/>            <xs:enumeration value="15"/>            <xs:enumeration value="20"/>            <xs:enumeration value="25"/>            <xs:enumeration value="30"/>            <xs:enumeration value="35"/>            <xs:enumeration value="40"/>            <xs:enumeration value="45"/>            <xs:enumeration value="50"/>            <xs:enumeration value="55"/>            <xs:enumeration value="60"/>            <xs:enumeration value="65"/>            <xs:enumeration value="70"/>            <xs:enumeration value="75"/>            <xs:enumeration value="80"/>            <xs:enumeration value="85"/>            <xs:enumeration value="90"/>            <xs:enumeration value="95"/>            <xs:enumeration value="100"/>            <xs:enumeration value="105"/>            <xs:enumeration value="110"/>            <xs:enumeration value="115"/>            <xs:enumeration value="120"/>            <xs:enumeration value="125 or greater"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="htc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_HIP_THIGH_ROM_RHF_FE_PM">  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="No objective evidence of painful motion"/>            <xs:enumeration value="0"/>            <xs:enumeration value="5"/>            <xs:enumeration value="10"/>            <xs:enumeration value="15"/>            <xs:enumeration value="20"/>            <xs:enumeration value="25"/>            <xs:enumeration value="30"/>            <xs:enumeration value="35"/>            <xs:enumeration value="40"/>            <xs:enumeration value="45"/>            <xs:enumeration value="50"/>            <xs:enumeration value="55"/>            <xs:enumeration value="60"/>            <xs:enumeration value="65"/>            <xs:enumeration value="70"/>            <xs:enumeration value="75"/>            <xs:enumeration value="80"/>            <xs:enumeration value="85"/>            <xs:enumeration value="90"/>            <xs:enumeration value="95"/>            <xs:enumeration value="100"/>            <xs:enumeration value="105"/>            <xs:enumeration value="110"/>            <xs:enumeration value="115"/>            <xs:enumeration value="120"/>            <xs:enumeration value="125 or greater"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="htc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_HIP_THIGH_ROM_RHE_EE">  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="0"/>            <xs:enumeration value="5"/>            <xs:enumeration value="Greater than 5"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="htc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_HIP_THIGH_ROM_RHE_EE_PM">  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="No objective evidence of painful motion"/>            <xs:enumeration value="0"/>            <xs:enumeration value="5"/>            <xs:enumeration value="Greater than 5"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="htc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_HIP_THIGH_ROM_RHE_ABDUCTION_LOST">  <xs:annotation>     <xs:documentation>Is abduction lost beyond 10 degrees?</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Yes"/>            <xs:enumeration value="No"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="htc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_HIP_THIGH_ROM_RHE_ABDUCTION_LIMITED_NO_CROSS">  <xs:annotation>     <xs:documentation>Is adduction limited such that the Veteran cannot cross legs?</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Yes"/>            <xs:enumeration value="No"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="htc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_HIP_THIGH_ROM_RHE_ABDUCTION_LIMITED_TOE_OUT">  <xs:annotation>     <xs:documentation>Is rotation limited such that the Veteran cannot toe-out more than 15 degrees?</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Yes"/>            <xs:enumeration value="No"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="htc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_HIP_THIGH_ROM_LHF_FE">  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="0"/>            <xs:enumeration value="5"/>            <xs:enumeration value="10"/>            <xs:enumeration value="15"/>            <xs:enumeration value="20"/>            <xs:enumeration value="25"/>            <xs:enumeration value="30"/>            <xs:enumeration value="35"/>            <xs:enumeration value="40"/>            <xs:enumeration value="45"/>            <xs:enumeration value="50"/>            <xs:enumeration value="55"/>            <xs:enumeration value="60"/>            <xs:enumeration value="65"/>            <xs:enumeration value="70"/>            <xs:enumeration value="75"/>            <xs:enumeration value="80"/>            <xs:enumeration value="85"/>            <xs:enumeration value="90"/>            <xs:enumeration value="95"/>            <xs:enumeration value="100"/>            <xs:enumeration value="105"/>            <xs:enumeration value="110"/>            <xs:enumeration value="115"/>            <xs:enumeration value="120"/>            <xs:enumeration value="125 or greater"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="htc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_HIP_THIGH_ROM_LHF_FE_PM">  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="No objective evidence of painful motion"/>            <xs:enumeration value="0"/>            <xs:enumeration value="5"/>            <xs:enumeration value="10"/>            <xs:enumeration value="15"/>            <xs:enumeration value="20"/>            <xs:enumeration value="25"/>            <xs:enumeration value="30"/>            <xs:enumeration value="35"/>            <xs:enumeration value="40"/>            <xs:enumeration value="45"/>            <xs:enumeration value="50"/>            <xs:enumeration value="55"/>            <xs:enumeration value="60"/>            <xs:enumeration value="65"/>            <xs:enumeration value="70"/>            <xs:enumeration value="75"/>            <xs:enumeration value="80"/>            <xs:enumeration value="85"/>            <xs:enumeration value="90"/>            <xs:enumeration value="95"/>            <xs:enumeration value="100"/>            <xs:enumeration value="105"/>            <xs:enumeration value="110"/>            <xs:enumeration value="115"/>            <xs:enumeration value="120"/>            <xs:enumeration value="125 or greater"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="htc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_HIP_THIGH_ROM_LHE_EE">  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="0"/>            <xs:enumeration value="5"/>            <xs:enumeration value="Greater than 5"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="htc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_HIP_THIGH_ROM_LHE_EE_PM">  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="No objective evidence of painful motion"/>            <xs:enumeration value="0"/>            <xs:enumeration value="5"/>            <xs:enumeration value="Greater than 5"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="htc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_HIP_THIGH_ROM_LHE_ABDUCTION_LOST">  <xs:annotation>     <xs:documentation>Is abduction lost beyond 10 degrees?</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Yes"/>            <xs:enumeration value="No"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="htc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_HIP_THIGH_ROM_LHE_ABDUCTION_LIMITED_NO_CROSS">  <xs:annotation>     <xs:documentation>Is adduction limited such that the Veteran cannot cross legs?</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Yes"/>            <xs:enumeration value="No"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="htc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_HIP_THIGH_ROM_LHE_ABDUCTION_LIMITED_TOE_OUT">  <xs:annotation>     <xs:documentation>Is rotation limited such that the Veteran cannot toe-out more than 15 degrees?</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Yes"/>            <xs:enumeration value="No"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="htc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_HIP_THIGH_ROM_NOT_NORM">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="htc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_HIP_THIGH_ROM_AFTER_RUT">  <xs:annotation>     <xs:documentation>a. Is the Veteran able to perform repetitive-use testing with 3 repetitions?</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Yes"/>            <xs:enumeration value="No"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="htc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_HIP_THIGH_ROM_AFTER_RUT_NO">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="htc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_HIP_THIGH_ROM_PT_RH_FE">  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="0"/>            <xs:enumeration value="5"/>            <xs:enumeration value="10"/>            <xs:enumeration value="15"/>            <xs:enumeration value="20"/>            <xs:enumeration value="25"/>            <xs:enumeration value="30"/>            <xs:enumeration value="35"/>            <xs:enumeration value="40"/>            <xs:enumeration value="45"/>            <xs:enumeration value="50"/>            <xs:enumeration value="55"/>            <xs:enumeration value="60"/>            <xs:enumeration value="65"/>            <xs:enumeration value="70"/>            <xs:enumeration value="75"/>            <xs:enumeration value="80"/>            <xs:enumeration value="85"/>            <xs:enumeration value="90"/>            <xs:enumeration value="95"/>            <xs:enumeration value="100"/>            <xs:enumeration value="105"/>            <xs:enumeration value="110"/>            <xs:enumeration value="115"/>            <xs:enumeration value="120"/>            <xs:enumeration value="125 or greater"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="htc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_HIP_THIGH_ROM_PT_RH_EE">  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="0"/>            <xs:enumeration value="5 or greater"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="htc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_HIP_THIGH_ROM_PT_RH_ABDUCTION_LOST">  <xs:annotation>     <xs:documentation>Is post-test abduction lost beyond 10 degrees?</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Yes"/>            <xs:enumeration value="No"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="htc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_HIP_THIGH_ROM_PT_RH_ABDUCTION_LIMITED_NO_CROSS">  <xs:annotation>     <xs:documentation>Is post-test adduction limited such that the Veteran cannot cross legs?</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Yes"/>            <xs:enumeration value="No"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="htc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_HIP_THIGH_ROM_PT_RH_ABDUCTION_LIMITED_TOE_OUT">  <xs:annotation>     <xs:documentation>Is post-test rotation limited such that the Veteran cannot toe-out more than 15 degrees?</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Yes"/>            <xs:enumeration value="No"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="htc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_HIP_THIGH_ROM_PT_LH_FE">  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="0"/>            <xs:enumeration value="5"/>            <xs:enumeration value="10"/>            <xs:enumeration value="15"/>            <xs:enumeration value="20"/>            <xs:enumeration value="25"/>            <xs:enumeration value="30"/>            <xs:enumeration value="35"/>            <xs:enumeration value="40"/>            <xs:enumeration value="45"/>            <xs:enumeration value="50"/>            <xs:enumeration value="55"/>            <xs:enumeration value="60"/>            <xs:enumeration value="65"/>            <xs:enumeration value="70"/>            <xs:enumeration value="75"/>            <xs:enumeration value="80"/>            <xs:enumeration value="85"/>            <xs:enumeration value="90"/>            <xs:enumeration value="95"/>            <xs:enumeration value="100"/>            <xs:enumeration value="105"/>            <xs:enumeration value="110"/>            <xs:enumeration value="115"/>            <xs:enumeration value="120"/>            <xs:enumeration value="125 or greater"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="htc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_HIP_THIGH_ROM_PT_LH_ABDUCTION_LOST">  <xs:annotation>     <xs:documentation>Is post-test abduction lost beyond 10 degrees?</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Yes"/>            <xs:enumeration value="No"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="htc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_HIP_THIGH_ROM_PT_LH_ABDUCTION_LIMITED_NO_CROSS">  <xs:annotation>     <xs:documentation>Is post-test adduction limited such that the Veteran cannot cross legs?</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Yes"/>            <xs:enumeration value="No"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="htc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_HIP_THIGH_ROM_PT_LH_ABDUCTION_LIMITED_TOE_OUT">  <xs:annotation>     <xs:documentation>Is post-test rotation limited such that the Veteran cannot toe-out more than 15 degrees?</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Yes"/>            <xs:enumeration value="No"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="htc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_HIP_THIGH_ROM_AFTER_RUT_ADDITIONAL_LIMIT">  <xs:annotation>     <xs:documentation>a. Does the Veteran have additional limitation in ROM of the hip and thigh following repetitive-use testing?</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Yes"/>            <xs:enumeration value="No"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="htc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_HIP_THIGH_ROM_FUNC_LOSS">  <xs:annotation>     <xs:documentation>b. Does the Veteran have any functional loss and/or functional impairment of the hip and thigh?</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Yes"/>            <xs:enumeration value="No"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="htc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_HIP_THIGH_ROM_FL_NO_FL_RLE">  <xs:annotation>    <xs:documentation>No functional loss for right lower extremity</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="htc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_HIP_THIGH_ROM_FL_NO_FL_LLE">  <xs:annotation>    <xs:documentation>No functional loss for left lower extremity</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="htc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_HIP_THIGH_ROM_FL_LESSMOVEMENT">  <xs:annotation>    <xs:documentation>Less movement than normal</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="htc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_HIP_THIGH_ROM_FL_LESSMOVEMENT_RG">  <xs:annotation>     <xs:documentation></xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Right"/>            <xs:enumeration value="Left"/>            <xs:enumeration value="Both"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="htc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_HIP_THIGH_ROM_FL_MOREMOVEMENT">  <xs:annotation>    <xs:documentation>More movement than normal</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="htc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_HIP_THIGH_ROM_FL_MOREMOVEMENT_RG">  <xs:annotation>     <xs:documentation></xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Right"/>            <xs:enumeration value="Left"/>            <xs:enumeration value="Both"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="htc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_HIP_THIGH_ROM_FL_WEAKENEDMOVEMENT">  <xs:annotation>    <xs:documentation>Weakened movement</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="htc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_HIP_THIGH_ROM_FL_WEAKENEDMOVEMENT_RG">  <xs:annotation>     <xs:documentation></xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Right"/>            <xs:enumeration value="Left"/>            <xs:enumeration value="Both"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="htc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_HIP_THIGH_ROM_FL_EF">  <xs:annotation>    <xs:documentation>Excess fatigability</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="htc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_HIP_THIGH_ROM_FL_EF_RG">  <xs:annotation>     <xs:documentation></xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Right"/>            <xs:enumeration value="Left"/>            <xs:enumeration value="Both"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="htc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_HIP_THIGH_ROM_FL_INCOORD">  <xs:annotation>    <xs:documentation>Incoordination, impaired ability to execute skilled movements smoothly</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="htc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_HIP_THIGH_ROM_FL_INCOORD_RG">  <xs:annotation>     <xs:documentation></xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Right"/>            <xs:enumeration value="Left"/>            <xs:enumeration value="Both"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="htc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_HIP_THIGH_ROM_FL_PAIN">  <xs:annotation>    <xs:documentation>Pain on movement</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="htc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_HIP_THIGH_ROM_FL_PAIN_RG">  <xs:annotation>     <xs:documentation></xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Right"/>            <xs:enumeration value="Left"/>            <xs:enumeration value="Both"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="htc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_HIP_THIGH_ROM_FL_SWELLING">  <xs:annotation>    <xs:documentation>Swelling</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="htc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_HIP_THIGH_ROM_FL_SWELLING_RG">  <xs:annotation>     <xs:documentation></xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Right"/>            <xs:enumeration value="Left"/>            <xs:enumeration value="Both"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="htc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_HIP_THIGH_ROM_FL_DEFORMITY">  <xs:annotation>    <xs:documentation>Deformity</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="htc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_HIP_THIGH_ROM_FL_DEFORMITY_RG">  <xs:annotation>     <xs:documentation></xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Right"/>            <xs:enumeration value="Left"/>            <xs:enumeration value="Both"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="htc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_HIP_THIGH_ROM_FL_ATROPHY">  <xs:annotation>    <xs:documentation>Atrophy of disuse</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="htc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_HIP_THIGH_ROM_FL_ATROPHY_RG">  <xs:annotation>     <xs:documentation></xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Right"/>            <xs:enumeration value="Left"/>            <xs:enumeration value="Both"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="htc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_HIP_THIGH_ROM_FL_INSTABILITY">  <xs:annotation>    <xs:documentation>Instability of station</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="htc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_HIP_THIGH_ROM_FL_INSTABILITY_RG">  <xs:annotation>     <xs:documentation></xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Right"/>            <xs:enumeration value="Left"/>            <xs:enumeration value="Both"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="htc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_HIP_THIGH_ROM_FL_DISTURB">  <xs:annotation>    <xs:documentation>Disturbance of locomotion</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="htc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_HIP_THIGH_ROM_FL_DISTURB_RG">  <xs:annotation>     <xs:documentation></xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Right"/>            <xs:enumeration value="Left"/>            <xs:enumeration value="Both"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="htc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_HIP_THIGH_ROM_FL_INTERFERENCE">  <xs:annotation>    <xs:documentation>Interference with sitting, standing and or weight-bearing</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="htc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_HIP_THIGH_ROM_FL_INTERFERENCE_RG">  <xs:annotation>     <xs:documentation></xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Right"/>            <xs:enumeration value="Left"/>            <xs:enumeration value="Both"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="htc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_HIP_THIGH_PAIN_ON_PALPATION">  <xs:annotation>     <xs:documentation>Does the Veteran have localized tenderness or pain to palpation for joints/soft tissue of either hip?</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Yes"/>            <xs:enumeration value="No"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="htc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_HIP_THIGH_PAIN_ON_PALPATION_YES">  <xs:annotation>     <xs:documentation></xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Right"/>            <xs:enumeration value="Left"/>            <xs:enumeration value="Both"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="htc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_HIP_THIGH_MST_HF_R">  <xs:annotation>     <xs:documentation></xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="5/5"/>            <xs:enumeration value="4/5"/>            <xs:enumeration value="3/5"/>            <xs:enumeration value="2/5"/>            <xs:enumeration value="1/5"/>            <xs:enumeration value="0/5"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="htc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_HIP_THIGH_MST_HF_L">  <xs:annotation>     <xs:documentation></xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="5/5"/>            <xs:enumeration value="4/5"/>            <xs:enumeration value="3/5"/>            <xs:enumeration value="2/5"/>            <xs:enumeration value="1/5"/>            <xs:enumeration value="0/5"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="htc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_HIP_THIGH_MST_HA_R">  <xs:annotation>     <xs:documentation></xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="5/5"/>            <xs:enumeration value="4/5"/>            <xs:enumeration value="3/5"/>            <xs:enumeration value="2/5"/>            <xs:enumeration value="1/5"/>            <xs:enumeration value="0/5"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="htc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_HIP_THIGH_MST_HA_L">  <xs:annotation>     <xs:documentation></xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="5/5"/>            <xs:enumeration value="4/5"/>            <xs:enumeration value="3/5"/>            <xs:enumeration value="2/5"/>            <xs:enumeration value="1/5"/>            <xs:enumeration value="0/5"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="htc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_HIP_THIGH_MST_HE_R">  <xs:annotation>     <xs:documentation></xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="5/5"/>            <xs:enumeration value="4/5"/>            <xs:enumeration value="3/5"/>            <xs:enumeration value="2/5"/>            <xs:enumeration value="1/5"/>            <xs:enumeration value="0/5"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="htc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_HIP_THIGH_MST_HE_L">  <xs:annotation>     <xs:documentation></xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="5/5"/>            <xs:enumeration value="4/5"/>            <xs:enumeration value="3/5"/>            <xs:enumeration value="2/5"/>            <xs:enumeration value="1/5"/>            <xs:enumeration value="0/5"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="htc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_HIP_THIGH_ANKYLOSIS_HJ">  <xs:annotation>     <xs:documentation>Does the Veteran have ankylosis of either hip joint?</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Yes"/>            <xs:enumeration value="No"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="htc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_HIP_THIGH_ANKYLOSIS_HJ_FAVORABLE">  <xs:annotation>    <xs:documentation>Favorable, in flexion at an angle between 20 and 40 degrees, and slight adduction or abduction</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="htc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_HIP_THIGH_ANKYLOSIS_HJ_FAVORABLE_RG">  <xs:annotation>     <xs:documentation></xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Right"/>            <xs:enumeration value="Left"/>            <xs:enumeration value="Both"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="htc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_HIP_THIGH_ANKYLOSIS_HJ_INTERMEDIATE">  <xs:annotation>    <xs:documentation>Intermediate, between favorable and unfavorable</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="htc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_HIP_THIGH_ANKYLOSIS_HJ_INTERMEDIATE_RG">  <xs:annotation>     <xs:documentation></xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Right"/>            <xs:enumeration value="Left"/>            <xs:enumeration value="Both"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="htc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_HIP_THIGH_ANKYLOSIS_HJ_UNFAVORABLE">  <xs:annotation>    <xs:documentation>Unfavorable, extremely unfavorable ankylosis, foot not reaching ground, crutches needed</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="htc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_HIP_THIGH_ANKYLOSIS_HJ_UNFAVORABLE_RG">  <xs:annotation>     <xs:documentation></xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Right"/>            <xs:enumeration value="Left"/>            <xs:enumeration value="Both"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="htc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_HIP_THIGH_AC_FEMUR">  <xs:annotation>     <xs:documentation>Does the Veteran have malunion or nonunion of femur, flail hip joint or leg length discrepancy?</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Yes"/>            <xs:enumeration value="No"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="htc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_HIP_THIGH_AC_FEMUR_YES_MALUNION">  <xs:annotation>    <xs:documentation>a. Malunion or nonunion of the femur</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="htc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_HIP_THIGH_AC_FEMUR_YES_MALUNION_SLIGHT">  <xs:annotation>    <xs:documentation>Malunion with slight hip disability</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="htc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_HIP_THIGH_AC_FEMUR_YES_MALUNION_SLIGHT_RG">  <xs:annotation>     <xs:documentation></xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Right"/>            <xs:enumeration value="Left"/>            <xs:enumeration value="Both"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="htc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_HIP_THIGH_AC_FEMUR_YES_MALUNION_MODERATE">  <xs:annotation>    <xs:documentation>Malunion with moderate hip disability</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="htc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_HIP_THIGH_AC_FEMUR_YES_MALUNION_MODERATE_RG">  <xs:annotation>     <xs:documentation></xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Right"/>            <xs:enumeration value="Left"/>            <xs:enumeration value="Both"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="htc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_HIP_THIGH_AC_FEMUR_YES_MALUNION_MARKED">  <xs:annotation>    <xs:documentation>Malunion with marked hip disability</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="htc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_HIP_THIGH_AC_FEMUR_YES_MALUNION_MARKED_RG">  <xs:annotation>     <xs:documentation></xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Right"/>            <xs:enumeration value="Left"/>            <xs:enumeration value="Both"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="htc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_HIP_THIGH_AC_FEMUR_YES_MALUNION_SURGICAL_NECK">  <xs:annotation>    <xs:documentation>Fracture of surgical neck with false joint</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="htc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_HIP_THIGH_AC_FEMUR_YES_MALUNION_SURGICAL_NECK_RG">  <xs:annotation>     <xs:documentation></xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Right"/>            <xs:enumeration value="Left"/>            <xs:enumeration value="Both"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="htc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_HIP_THIGH_AC_FEMUR_YES_MALUNION_SHAFT_WO">  <xs:annotation>    <xs:documentation>Fracture of shaft or neck (anatomical), resulting in nonunion without loose motion; weight-bearing preserved with aid of a brace</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="htc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_HIP_THIGH_AC_FEMUR_YES_MALUNION_SHAFT_WO_RG">  <xs:annotation>     <xs:documentation></xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Right"/>            <xs:enumeration value="Left"/>            <xs:enumeration value="Both"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="htc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_HIP_THIGH_AC_FEMUR_YES_MALUNION_SHAFT_W">  <xs:annotation>    <xs:documentation>Fracture of shaft or neck (anatomical), with nonunion with loose motion (spiral or oblique fracture)</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="htc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_HIP_THIGH_AC_FEMUR_YES_MALUNION_SHAFT_W_RG">  <xs:annotation>     <xs:documentation></xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Right"/>            <xs:enumeration value="Left"/>            <xs:enumeration value="Both"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="htc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_HIP_THIGH_AC_FEMUR_YES_FLAIL_HIP">  <xs:annotation>    <xs:documentation>b. Flail hip joint</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="htc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_HIP_THIGH_AC_FEMUR_YES_FLAIL_HIP_RG">  <xs:annotation>     <xs:documentation></xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Right"/>            <xs:enumeration value="Left"/>            <xs:enumeration value="Both"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="htc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_HIP_THIGH_AC_FEMUR_YES_LEG_LENGTH">  <xs:annotation>    <xs:documentation>c. Leg length discrepancy (shortening of any bones of the lower extremity)</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="htc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_HIP_THIGH_AC_FEMUR_YES_LEG_LENGTH_RL">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="htc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_HIP_THIGH_AC_FEMUR_YES_LEG_LENGTH_RL_CM">  <xs:annotation>    <xs:documentation>cm</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="htc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_HIP_THIGH_AC_FEMUR_YES_LEG_LENGTH_RL_INCHES">  <xs:annotation>    <xs:documentation>inches</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="htc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_HIP_THIGH_AC_FEMUR_YES_LEG_LENGTH_LL">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="htc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_HIP_THIGH_AC_FEMUR_YES_LEG_LENGTH_LL_CM">  <xs:annotation>    <xs:documentation>cm</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="htc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_HIP_THIGH_AC_FEMUR_YES_LEG_LENGTH_LL_INCHES">  <xs:annotation>    <xs:documentation>inches</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="htc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_HIP_THIGH_JR_HIP_REPLACEMENT">  <xs:annotation>     <xs:documentation>a. Has the Veteran had a total hip joint replacement?</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Yes"/>            <xs:enumeration value="No"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="htc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_HIP_THIGH_JR_HIP_REPLACEMENT_YES_RH">  <xs:annotation>    <xs:documentation>Right hip</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="htc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_HIP_THIGH_JR_HIP_REPLACEMENT_YES_RH_SURGERY">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="htc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_HIP_THIGH_JR_HIP_REPLACEMENT_YES_RH_RESIDUALS_NONE">  <xs:annotation>    <xs:documentation>None</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="htc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_HIP_THIGH_JR_HIP_REPLACEMENT_YES_RH_RESIDUALS_INTER">  <xs:annotation>    <xs:documentation>Intermediate degrees of residual weakness, pain and/or limitation of motion</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="htc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_HIP_THIGH_JR_HIP_REPLACEMENT_YES_RH_RESIDUALS_CHRONIC">  <xs:annotation>    <xs:documentation>Chronic residuals consisting of severe painful motion and/or weakness</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="htc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_HIP_THIGH_JR_HIP_REPLACEMENT_YES_RH_RESIDUALS_OTHER">  <xs:annotation>    <xs:documentation>Other, describe:</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="htc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_HIP_THIGH_JR_HIP_REPLACEMENT_YES_RH_RESIDUALS_OTHER_EDIT">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="htc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_HIP_THIGH_JR_HIP_REPLACEMENT_YES_LH">  <xs:annotation>    <xs:documentation>Left hip</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="htc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_HIP_THIGH_JR_HIP_REPLACEMENT_YES_LH_SURGERY">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="htc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_HIP_THIGH_JR_HIP_REPLACEMENT_YES_LH_RESIDUALS_NONE">  <xs:annotation>    <xs:documentation>None</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="htc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_HIP_THIGH_JR_HIP_REPLACEMENT_YES_LH_RESIDUALS_INTER">  <xs:annotation>    <xs:documentation>Intermediate degrees of residual weakness, pain or limitation of motion</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="htc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_HIP_THIGH_JR_HIP_REPLACEMENT_YES_LH_RESIDUALS_CHRONIC">  <xs:annotation>    <xs:documentation>Chronic residuals consisting of severe painful motion or weakness</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="htc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_HIP_THIGH_JR_HIP_REPLACEMENT_YES_LH_RESIDUALS_OTHER">  <xs:annotation>    <xs:documentation>Other, describe:</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="htc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_HIP_THIGH_JR_HIP_REPLACEMENT_YES_LH_RESIDUALS_OTHER_EDIT">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="htc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_HIP_THIGH_JR_OTHER_SURGERY">  <xs:annotation>     <xs:documentation>b. Has the Veteran had arthroscopic or other hip surgery?</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Yes"/>            <xs:enumeration value="No"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="htc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_HIP_THIGH_JR_OTHER_SURGERY_YES_SA">  <xs:annotation>     <xs:documentation></xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Right"/>            <xs:enumeration value="Left"/>            <xs:enumeration value="Both"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="htc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_HIP_THIGH_JR_OTHER_SURGERY_YES_DATE">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="htc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_HIP_THIGH_JR_RESIDUAL_SIGNS">  <xs:annotation>     <xs:documentation>c. Does the Veteran have any residual signs and/or symptoms due to arthroscopic or other hip surgery?</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Yes"/>            <xs:enumeration value="No"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="htc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_HIP_THIGH_JR_RESIDUAL_SIGNS_YES_SA">  <xs:annotation>     <xs:documentation></xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Right"/>            <xs:enumeration value="Left"/>            <xs:enumeration value="Both"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="htc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_HIP_THIGH_JR_RESIDUAL_SIGNS_YES_DESCRIBE">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="htc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_HIP_THIGH_AD">  <xs:annotation>     <xs:documentation>a. Does the Veteran use any assistive device(s) as a normal mode of locomotion, although occasional locomotion by other methods may be possible?</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Yes"/>            <xs:enumeration value="No"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="htc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_HIP_THIGH_AD_WH">  <xs:annotation>    <xs:documentation>Wheelchair</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="htc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_HIP_THIGH_AD_WH_FOU">  <xs:annotation>     <xs:documentation></xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Occasional"/>            <xs:enumeration value="Regular"/>            <xs:enumeration value="Constant"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="htc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_HIP_THIGH_AD_BR">  <xs:annotation>    <xs:documentation>Brace(s)</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="htc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_HIP_THIGH_AD_BR_FOU">  <xs:annotation>     <xs:documentation></xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Occasional"/>            <xs:enumeration value="Regular"/>            <xs:enumeration value="Constant"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="htc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_HIP_THIGH_AD_CA">  <xs:annotation>    <xs:documentation>Cane(s)</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="htc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_HIP_THIGH_AD_CA_FOU">  <xs:annotation>     <xs:documentation></xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Occasional"/>            <xs:enumeration value="Regular"/>            <xs:enumeration value="Constant"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="htc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_HIP_THIGH_AD_CR">  <xs:annotation>    <xs:documentation>Crutch(es)</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="htc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_HIP_THIGH_AD_CR_FOU">  <xs:annotation>     <xs:documentation></xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Occasional"/>            <xs:enumeration value="Regular"/>            <xs:enumeration value="Constant"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="htc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_HIP_THIGH_AD_WA">  <xs:annotation>    <xs:documentation>Walker</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="htc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_HIP_THIGH_AD_WA_FOU">  <xs:annotation>     <xs:documentation></xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Occasional"/>            <xs:enumeration value="Regular"/>            <xs:enumeration value="Constant"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="htc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_HIP_THIGH_AD_OTH">  <xs:annotation>    <xs:documentation>Other:</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="htc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_HIP_THIGH_AD_OTH_EDITBOX">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="htc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_HIP_THIGH_AD_OTH_FOU">  <xs:annotation>     <xs:documentation></xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Occasional"/>            <xs:enumeration value="Regular"/>            <xs:enumeration value="Constant"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="htc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_HIP_THIGH_AD_SPECIFY">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="htc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_HIP_THIGH_REF_YES">  <xs:annotation>    <xs:documentation>Yes, functioning is so diminished that amputation with prosthesis would equally serve the Veteran.</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="htc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_HIP_THIGH_REF_NO">  <xs:annotation>    <xs:documentation>No</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="htc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_HIP_THIGH_REF_YES_RIGHT">  <xs:annotation>    <xs:documentation>Right lower</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="htc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_HIP_THIGH_REF_YES_LEFT">  <xs:annotation>    <xs:documentation>Left lower</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="htc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_HIP_THIGH_REF_YES_DESCRIBE">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="htc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_HIP_THIGH_DT_IMAGING">  <xs:annotation>     <xs:documentation>a. Have imaging studies of the hip been performed and are the results available?</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Yes"/>            <xs:enumeration value="No"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="htc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_HIP_THIGH_DT_IMAGING_YES">  <xs:annotation>     <xs:documentation>If yes, is degenerative or traumatic arthritis documented?</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Yes"/>            <xs:enumeration value="No"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="htc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_HIP_THIGH_DT_IMAGING_YES_LOC">  <xs:annotation>     <xs:documentation></xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Right"/>            <xs:enumeration value="Left"/>            <xs:enumeration value="Both"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="htc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_HIP_THIGH_DT_OTHER_SIGN">  <xs:annotation>     <xs:documentation>b. Are there any other significant diagnostic test findings and/or results?</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Yes"/>            <xs:enumeration value="No"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="htc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_HIP_THIGH_DT_OTHER_SIGN_SUMMARY">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="htc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_HIP_THIGH_FI_ABILITY_TO_WORK">  <xs:annotation>     <xs:documentation>Does the Veteran's hip and/or thigh condition impact his or her ability to work?</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Yes"/>            <xs:enumeration value="No"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="htc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_HIP_THIGH_FI_ABILITY_TO_WORK_YES">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="htc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_HIP_THIGH_REMARKS">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="htc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_HIP_THIGH_OPP_SCARS">  <xs:annotation>     <xs:documentation></xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Yes"/>            <xs:enumeration value="No"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="htc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_HIP_THIGH_OPP_SCARS_YES">  <xs:annotation>     <xs:documentation>If yes, are any of the scars painful and/or unstable, or is the total area of all related scars greater than 39 square cm (6 square inches)?</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Yes"/>            <xs:enumeration value="No"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="htc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_HIP_THIGH_OPP_OTHER_PERT">  <xs:annotation>     <xs:documentation></xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Yes"/>            <xs:enumeration value="No"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="htc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_HIP_THIGH_ROM_PT_LH_EE">  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="0"/>            <xs:enumeration value="5 or greater"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="htc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_HIP_THIGH_OPP_OTHER_PERT_DESCRIBE">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="htc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAMGROUP_CARDIO_IHD_Name">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="htc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ACE_1">  <xs:annotation>    <xs:documentation></xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="htc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ACE_2">  <xs:annotation>    <xs:documentation></xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="htc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ACE_3">  <xs:annotation>    <xs:documentation>Examination via approved video telehealth</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="htc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ACE_4">  <xs:annotation>    <xs:documentation>In-person examination</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="htc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ACE_5_RevRec_1">  <xs:annotation>     <xs:documentation>Was the Veteran's VA claims file reviewed?</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Yes"/>            <xs:enumeration value="No"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="htc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ACE_5_RevRec_2">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="htc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ACE_5_RevRec_3">  <xs:annotation>    <xs:documentation>Military service treatment records</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="htc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ACE_5_RevRec_4">  <xs:annotation>    <xs:documentation>Military service personnel records</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="htc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ACE_5_RevRec_5">  <xs:annotation>    <xs:documentation>Military enlistment examination</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="htc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ACE_5_RevRec_6">  <xs:annotation>    <xs:documentation>Military separation examination</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="htc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ACE_5_RevRec_7">  <xs:annotation>    <xs:documentation>Military post-deployment questionnaire</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="htc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ACE_5_RevRec_8">  <xs:annotation>    <xs:documentation>Department of Defense Form 214 Separation Documents</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="htc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ACE_5_RevRec_9">  <xs:annotation>    <xs:documentation>Veterans Health Administration medical records (VA treatment records)</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="htc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ACE_5_RevRec_10">  <xs:annotation>    <xs:documentation>Civilian medical records</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="htc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ACE_5_RevRec_11">  <xs:annotation>    <xs:documentation>Interviews with collateral witnesses (family and others who have known the Veteran before and after military service)</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="htc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ACE_5_RevRec_12">  <xs:annotation>    <xs:documentation>No records were reviewed</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="htc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ACE_5_RevRec_13">  <xs:annotation>    <xs:documentation>Other:</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="htc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ACE_5_RevRec_14">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="htc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
  </xs:all>  </xs:complexType>  <xs:element name="HipAndThighConditionsForm" type="htc:HipAndThighConditionsFormType"/>  <xs:complexType name="Metadata">    <xs:all>      <xs:element name="code" type="xs:string"/>      <xs:element name="codeSystem" type="xs:string"/>      <xs:element name="version" type="xs:string"/>      <xs:element name="source" type="xs:string"/>    </xs:all>  </xs:complexType></xs:schema>
