legacy/HIV_Related_Illness_DBQ_v13_2_T1.pnl.xsd

<?xml version="1.0" encoding="UTF-8"?><xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:hiv="http://vler.va.gov/vler/schemas/health/clinicalDocuments/clinicalAssessments/cpExams/1.3/HivRelatedIllness" targetNamespace="http://vler.va.gov/vler/schemas/health/clinicalDocuments/clinicalAssessments/cpExams/1.3/HivRelatedIllness" version="1.0">  <xs:complexType name="HivRelatedIllnessFormType">  <xs:all>
<xs:element name="DIAGNOSIS_INFECT_HIV">  <xs:annotation>     <xs:documentation>Does the Veteran now have or has he/she ever been diagnosed with HIV or an HIV-related illness?</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Yes"/>            <xs:enumeration value="No"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="hiv:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="DIAGNOSIS_INFECT_HIV_DG1">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="hiv:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="DIAGNOSIS_INFECT_HIV_ICD1">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="hiv:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="DIAGNOSIS_INFECT_HIV_DATE1">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="hiv:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="DIAGNOSIS_INFECT_HIV_DG2">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="hiv:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="DIAGNOSIS_INFECT_HIV_ICD2">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="hiv:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="DIAGNOSIS_INFECT_HIV_DATE2">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="hiv:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="DIAGNOSIS_INFECT_HIV_DG3">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="hiv:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="DIAGNOSIS_INFECT_HIV_ICD3">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="hiv:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="DIAGNOSIS_INFECT_HIV_DATE3">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="hiv:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="DIAGNOSIS_INFECT_HIV_ADD">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="hiv:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="HISTORY_INFECT_HIV_DESC">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="hiv:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="HISTORY_INFECT_HIV_MED">  <xs:annotation>     <xs:documentation>b. Is continuous medication required for control of HIV-related illness(es)?</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Yes"/>            <xs:enumeration value="No"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="hiv:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="HISTORY_INFECT_HIV_MED_YES">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="hiv:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="HISTORY_INFECT_HIV_MED_CPLX">  <xs:annotation>     <xs:documentation>c. Does the Veteran have any complications due to current or previous medications taken for HIV-related illness(es)?</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Yes"/>            <xs:enumeration value="No"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="hiv:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="HISTORY_INFECT_HIV_MED_CPLX_YES">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="hiv:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_INFECT_HIV_SAS">  <xs:annotation>     <xs:documentation>Does the Veteran have any signs, symptoms or findings attributable to an HIV-related illness?</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Yes"/>            <xs:enumeration value="No"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="hiv:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_INFECT_HIV_SAS_SYMP">  <xs:annotation>    <xs:documentation>a. Constitutional symptoms (fever, weight loss, fatigue, malaise, decreased appetite, etc.) attributable to an HIV-related illness</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="hiv:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_INFECT_HIV_SAS_SYMP_FREQ">  <xs:annotation>     <xs:documentation>If checked, indicate frequency and severity:</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Refractory"/>            <xs:enumeration value="Recurrent   "/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="hiv:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_INFECT_HIV_SAS_SYMP_DESC">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="hiv:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_INFECT_HIV_SAS_DIARR">  <xs:annotation>    <xs:documentation>b. Diarrhea attributable to an HIV-related illness</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="hiv:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_INFECT_HIV_SAS_DIARR_FREQ">  <xs:annotation>     <xs:documentation>If checked, indicate frequency and severity:</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Refractory"/>            <xs:enumeration value="Intermittent"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="hiv:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_INFECT_HIV_SAS_DIARR_DESC">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="hiv:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_INFECT_HIV_SAS_WT_LS">  <xs:annotation>    <xs:documentation>c. Weight loss attributable to an HIV-related illness</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="hiv:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_INFECT_HIV_SAS_WT_LS_BASE">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="hiv:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_INFECT_HIV_SAS_WT_LS_CURR">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="hiv:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_INFECT_HIV_SAS_NAUSEA">  <xs:annotation>    <xs:documentation>d. Nausea attributable to an HIV-related illness</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="hiv:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_INFECT_HIV_SAS_NAUSEA_SEV">  <xs:annotation>     <xs:documentation>If checked, indicate severity:</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Mild"/>            <xs:enumeration value="Transient"/>            <xs:enumeration value="Recurrent"/>            <xs:enumeration value="Periodic"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="hiv:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_INFECT_HIV_SAS_NAUSEA_FREQ">  <xs:annotation>     <xs:documentation>Indicate frequency of episodes of nausea per year:</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="1"/>            <xs:enumeration value="2"/>            <xs:enumeration value="3"/>            <xs:enumeration value="4 or more"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="hiv:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_INFECT_HIV_SAS_VOMIT_SEV">  <xs:annotation>     <xs:documentation>If checked, indicate severity:</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Mild"/>            <xs:enumeration value="Transient"/>            <xs:enumeration value="Recurrent"/>            <xs:enumeration value="Periodic"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="hiv:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_INFECT_HIV_SAS_VOMIT">  <xs:annotation>    <xs:documentation>e. Vomiting attributable to an HIV-related illness</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="hiv:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_INFECT_HIV_SAS_VOMIT_FREQ">  <xs:annotation>     <xs:documentation>Indicate frequency of episodes of vomiting per year:</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="1"/>            <xs:enumeration value="2"/>            <xs:enumeration value="3"/>            <xs:enumeration value="4 or more"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="hiv:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_INFECT_HIV_SAS_VOMIT_DUR">  <xs:annotation>     <xs:documentation>Indicate average duration of episodes of vomiting:</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Less than 1 day"/>            <xs:enumeration value="1-9 days"/>            <xs:enumeration value="10 days or more"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="hiv:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_INFECT_HIV_SAS_ANEMIA">  <xs:annotation>    <xs:documentation>f. Anemia of chronic disease attributable to an HIV-related illness</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="hiv:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_INFECT_HIV_SAS_ANEMIA_DESC">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="hiv:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_INFECT_HIV_SAS_LEUKO">  <xs:annotation>    <xs:documentation>g. Hairy cell leukoplakia</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="hiv:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_INFECT_HIV_SAS_LEUKO_AFFECT">  <xs:annotation>     <xs:documentation>If checked, is Veteran currently affected by hairy cell leukoplakia?</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Yes"/>            <xs:enumeration value="No"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="hiv:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_INFECT_HIV_SAS_LEUKO_DATE">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="hiv:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_INFECT_HIV_SAS_CANDID">  <xs:annotation>    <xs:documentation>h. Oral candidiasis</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="hiv:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_INFECT_HIV_SAS_CANDID_AFFECT">  <xs:annotation>     <xs:documentation>If checked, is Veteran currently affected by oral candidiasis?</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Yes"/>            <xs:enumeration value="No"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="hiv:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_INFECT_HIV_SAS_CANDID_DATE">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="hiv:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_INFECT_HIV_SAS_OTH">  <xs:annotation>    <xs:documentation>i. Other, describe:</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="hiv:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_INFECT_HIV_SAS_OTH_DESC">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="hiv:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_INFECT_HIV_COMPS">  <xs:annotation>     <xs:documentation>a. Does the Veteran have any complications attributable to an HIV-related illness or its treatment?</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Yes"/>            <xs:enumeration value="No"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="hiv:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_INFECT_HIV_COMPS_NEUROPATHY">  <xs:annotation>    <xs:documentation>HIV-associated neuropathy, radiculopathy or myelopathy</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="hiv:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_INFECT_HIV_COMPS_RETINOPATHY">  <xs:annotation>    <xs:documentation>HIV-associated retinopathy</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="hiv:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_INFECT_HIV_COMPS_CARDIOPATHY">  <xs:annotation>    <xs:documentation>HIV-associated cardiopathy</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="hiv:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_INFECT_HIV_COMPS_HYPERTENSION">  <xs:annotation>    <xs:documentation>HIV-associated pulmonary hypertension</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="hiv:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_INFECT_HIV_COMPS_ENTEROPATHY">  <xs:annotation>    <xs:documentation>HIV-induced enteropathy</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="hiv:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_INFECT_HIV_COMPS_METABOLISM">  <xs:annotation>    <xs:documentation>HIV-associated impaired lipid and glucose metabolism</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="hiv:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_INFECT_HIV_COMPS_WASTING">  <xs:annotation>    <xs:documentation>HIV-associated wasting</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="hiv:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_INFECT_HIV_COMPS_LIPODYS">  <xs:annotation>    <xs:documentation>Lipodystrophy</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="hiv:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_INFECT_HIV_COMPS_MYOPATHY">  <xs:annotation>    <xs:documentation>Myopathy</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="hiv:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_INFECT_HIV_COMPS_OTH">  <xs:annotation>    <xs:documentation>Other</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="hiv:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_INFECT_HIV_COMPS_DESC">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="hiv:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_INFECT_HIV_ONCOL">  <xs:annotation>     <xs:documentation>a. Does the Veteran now have or has he or she ever been had any HIV-related opportunistic infectious or oncologic conditions?</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Yes"/>            <xs:enumeration value="No"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="hiv:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_INFECT_HIV_ONCOL_CANDID">  <xs:annotation>    <xs:documentation>Oral candidiasis</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="hiv:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_INFECT_HIV_ONCOL_TUBERCULOSIS">  <xs:annotation>    <xs:documentation>Tuberculosis</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="hiv:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_INFECT_HIV_ONCOL_HEPATITS">  <xs:annotation>    <xs:documentation>Hepatitis</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="hiv:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_INFECT_HIV_ONCOL_PNEUMO">  <xs:annotation>    <xs:documentation>Pneumocystosis</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="hiv:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_INFECT_HIV_ONCOL_TOXO">  <xs:annotation>    <xs:documentation>Toxoplasmosis</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="hiv:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_INFECT_HIV_ONCOL_CRYPTO">  <xs:annotation>    <xs:documentation>Cryptococcosis</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="hiv:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_INFECT_HIV_ONCOL_CEREBRAL">  <xs:annotation>    <xs:documentation>Cerebral toxoplasmosis</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="hiv:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_INFECT_HIV_ONCOL_CRYPTOCOCCAL">  <xs:annotation>    <xs:documentation>Cryptococcal meningoencephalitis</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="hiv:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_INFECT_HIV_ONCOL_VIRAL">  <xs:annotation>    <xs:documentation>Viral meningoencephalitis</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="hiv:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_INFECT_HIV_ONCOL_CYTOMEGAL">  <xs:annotation>    <xs:documentation>Cytomegalovirus</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="hiv:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_INFECT_HIV_ONCOL_HERPES">  <xs:annotation>    <xs:documentation>Herpes simplex virus</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="hiv:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_INFECT_HIV_ONCOL_VARICELLA">  <xs:annotation>    <xs:documentation>Varicella zoster virus</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="hiv:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_INFECT_HIV_ONCOL_LEUKO">  <xs:annotation>    <xs:documentation>Progressive multifocal leukoencephalopathy</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="hiv:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_INFECT_HIV_ONCOL_NEURO">  <xs:annotation>    <xs:documentation>Neurosyphilis</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="hiv:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_INFECT_HIV_ONCOL_CNS">  <xs:annotation>    <xs:documentation>Primary central nervous system lymphoma</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="hiv:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_INFECT_HIV_ONCOL_RECUR">  <xs:annotation>     <xs:documentation>b. Does the Veteran have recurrent opportunistic infection(s)?</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Yes"/>            <xs:enumeration value="No"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="hiv:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_INFECT_HIV_ONCOL_RECUR_DESC">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="hiv:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_INFECT_HIV_COMPS_NEPHROPATHY">  <xs:annotation>    <xs:documentation>HIV-associated nephropathy</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="hiv:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_INFECT_HIV_MENTAL">  <xs:annotation>     <xs:documentation></xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Yes"/>            <xs:enumeration value="No"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="hiv:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_INFECT_HIV_MENTAL_IMPAIR">  <xs:annotation>     <xs:documentation></xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Yes"/>            <xs:enumeration value="No"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="hiv:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_INFECT_HIV_MENTAL_IMPAIR_YES">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="hiv:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_INFECT_HIV_SUM_LVL1_ASYMPTOM">  <xs:annotation>    <xs:documentation>Asymptomatic, with or without lymphadenopathy or decreased T4 cell count</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="hiv:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_INFECT_HIV_SUM_LVL2_SYMPTOMATIC">  <xs:annotation>    <xs:documentation>Symptomatic, with current T4 cell of 200 or more and less than 500, and on approved medication(s)</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="hiv:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_INFECT_HIV_SUM_LVL2_DEPRESS">  <xs:annotation>    <xs:documentation>Evidence of depression with employment limitations</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="hiv:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_INFECT_HIV_SUM_LVL2_MEM_LS">  <xs:annotation>    <xs:documentation>Evidence of memory loss with employment limitations</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="hiv:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_INFECT_HIV_SUM_LVL3_RECUR">  <xs:annotation>    <xs:documentation>Recurrent constitutional symptoms, intermittent diarrhea, and on approved medications</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="hiv:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_INFECT_HIV_SUM_LVL3_T4">  <xs:annotation>    <xs:documentation>Current T4 cell count less than 200</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="hiv:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_INFECT_HIV_SUM_LVL3_LEUKOP">  <xs:annotation>    <xs:documentation>Hairy cell leukoplakia</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="hiv:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_INFECT_HIV_SUM_LVL3_CANDID">  <xs:annotation>    <xs:documentation>Oral candidiasis</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="hiv:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_INFECT_HIV_SUM_LVL4_REFRAC">  <xs:annotation>    <xs:documentation>Refractory constitutional symptoms</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="hiv:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_INFECT_HIV_SUM_LVL4_DIARR">  <xs:annotation>    <xs:documentation>Diarrhea and pathological weight loss</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="hiv:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_INFECT_HIV_SUM_LVL4_AIDS">  <xs:annotation>    <xs:documentation>Development of AIDS-related opportunistic infection or neoplasm</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="hiv:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_INFECT_HIV_SUM_LVL5_AIDS">  <xs:annotation>    <xs:documentation>AIDS with recurrent opportunistic infections</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="hiv:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_INFECT_HIV_SUM_LVL5_SEC_DIS">  <xs:annotation>    <xs:documentation>Secondary diseases afflicting multiple body systems</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="hiv:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_INFECT_HIV_SUM_LVL5_HIV">  <xs:annotation>    <xs:documentation>HIV-related illness with debility and progressive weight loss, without remission or few or brief remissions</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="hiv:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_INFECT_HIV_SCAR">  <xs:annotation>     <xs:documentation></xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Yes"/>            <xs:enumeration value="No"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="hiv:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_INFECT_HIV_SCAR_YES">  <xs:annotation>     <xs:documentation>If yes, are any of the scars painful and/or unstable, or is the total area of all related scars greater than 39 square cm (6 square inches)?</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Yes"/>            <xs:enumeration value="No"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="hiv:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_INFECT_HIV_SCAR_OTH">  <xs:annotation>     <xs:documentation></xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Yes"/>            <xs:enumeration value="No"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="hiv:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_INFECT_HIV_SCAR_OTH_DESC">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="hiv:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="TESTS_INFECT_HIV_LAB">  <xs:annotation>     <xs:documentation>a. Has laboratory testing been performed?</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Yes"/>            <xs:enumeration value="No"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="hiv:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="TESTS_INFECT_HIV_LAB_CD4">  <xs:annotation>    <xs:documentation>CD4 (T4 cell) lymphocyte count:</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="hiv:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="TESTS_INFECT_HIV_LAB_CD4_COUNT">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="hiv:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="TESTS_INFECT_HIV_LAB_CD4_DATE">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="hiv:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="TESTS_INFECT_HIV_LAB_NADIR">  <xs:annotation>    <xs:documentation>Lowest (nadir) CD4 (T4 cell) lymphocyte count, if available:</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="hiv:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="TESTS_INFECT_HIV_LAB_NADIR_COUNT">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="hiv:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="TESTS_INFECT_HIV_LAB_NADIR_DATE">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="hiv:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="TESTS_INFECT_HIV_LAB_CBC">  <xs:annotation>    <xs:documentation>CBC (if anemia of chronic disease attributable to HIV-related illness is suspected or present):</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="hiv:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="TESTS_INFECT_HIV_LAB_DATE">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="hiv:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="TESTS_INFECT_HIV_LAB_HGB">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="hiv:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="TESTS_INFECT_HIV_LAB_HCT">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="hiv:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="TESTS_INFECT_HIV_LAB_WBC">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="hiv:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="TESTS_INFECT_HIV_LAB_PLT">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="hiv:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="TESTS_INFECT_HIV_LAB_OTH">  <xs:annotation>    <xs:documentation>Other test, specify:</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="hiv:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="TESTS_INFECT_HIV_LAB_OTH_SPECIFY">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="hiv:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="TESTS_INFECT_HIV_LAB_OTH_DATE">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="hiv:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="TESTS_INFECT_HIV_LAB_OTH_RESULT">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="hiv:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="TESTS_INFECT_HIV_IMG">  <xs:annotation>     <xs:documentation>b. Have imaging studies or diagnostic procedures been performed and are the results available?</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Yes"/>            <xs:enumeration value="No"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="hiv:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="TESTS_INFECT_HIV_IMG_DESC">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="hiv:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="TESTS_INFECT_HIV_DEMENTIA">  <xs:annotation>     <xs:documentation>c. Has an HIV Dementia Scale been administered (if indicated)?</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Yes"/>            <xs:enumeration value="No"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="hiv:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="TESTS_INFECT_HIV_DEMENTIA_RESULT">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="hiv:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="TESTS_INFECT_HIV_DEMENTIA_DATE">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="hiv:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="TESTS_INFECT_HIV_IMPAIR">  <xs:annotation>     <xs:documentation>d. Has neuropsychiatric testing been performed for cognitive impairment (if indicated)?</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Yes"/>            <xs:enumeration value="No"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="hiv:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="TESTS_INFECT_HIV_IMPAIR_RESULTS">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="hiv:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="TESTS_INFECT_HIV_IMPAIR_DATE">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="hiv:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="TESTS_INFECT_HIV_FIND">  <xs:annotation>     <xs:documentation>e. Are there any other significant diagnostic test findings and/or results?</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Yes"/>            <xs:enumeration value="No"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="hiv:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="TESTS_INFECT_HIV_FIND_DESC">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="hiv:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="ASSESSMENT_INFECT_HIV_IMPACT">  <xs:annotation>     <xs:documentation>Do any of the Veteran's HIV-related illnesses or complications impact his or her ability to work?</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Yes"/>            <xs:enumeration value="No"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="hiv:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="ASSESSMENT_INFECT_HIV_IMPACT_DESC">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="hiv:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="MISC_INFECT_HIV_REMARKS">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="hiv:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_INFECT_HIV_ONCOL_ADD">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="hiv:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAMGROUP_CARDIO_IHD_Name">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="hiv:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_INFECT_HIV_ONCOL_OTHER">  <xs:annotation>    <xs:documentation>Other</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="hiv:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ACE_1">  <xs:annotation>    <xs:documentation></xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="hiv:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ACE_2">  <xs:annotation>    <xs:documentation></xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="hiv:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ACE_3">  <xs:annotation>    <xs:documentation>Examination via approved video telehealth</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="hiv:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ACE_4">  <xs:annotation>    <xs:documentation>In-person examination</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="hiv:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ACE_5_RevRec_1">  <xs:annotation>     <xs:documentation>Was the Veteran's VA claims file reviewed?</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Yes"/>            <xs:enumeration value="No"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="hiv:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ACE_5_RevRec_2">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="hiv:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ACE_5_RevRec_3">  <xs:annotation>    <xs:documentation>Military service treatment records</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="hiv:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ACE_5_RevRec_4">  <xs:annotation>    <xs:documentation>Military service personnel records</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="hiv:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ACE_5_RevRec_5">  <xs:annotation>    <xs:documentation>Military enlistment examination</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="hiv:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ACE_5_RevRec_6">  <xs:annotation>    <xs:documentation>Military separation examination</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="hiv:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ACE_5_RevRec_7">  <xs:annotation>    <xs:documentation>Military post-deployment questionnaire</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="hiv:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ACE_5_RevRec_8">  <xs:annotation>    <xs:documentation>Department of Defense Form 214 Separation Documents</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="hiv:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ACE_5_RevRec_9">  <xs:annotation>    <xs:documentation>Veterans Health Administration medical records (VA treatment records)</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="hiv:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ACE_5_RevRec_10">  <xs:annotation>    <xs:documentation>Civilian medical records</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="hiv:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ACE_5_RevRec_11">  <xs:annotation>    <xs:documentation>Interviews with collateral witnesses (family and others who have known the Veteran before and after military service)</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="hiv:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ACE_5_RevRec_12">  <xs:annotation>    <xs:documentation>No records were reviewed</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="hiv:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ACE_5_RevRec_13">  <xs:annotation>    <xs:documentation>Other:</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="hiv:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ACE_5_RevRec_14">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="hiv:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
  </xs:all>  </xs:complexType>  <xs:element name="HivRelatedIllnessForm" type="hiv:HivRelatedIllnessFormType"/>  <xs:complexType name="Metadata">    <xs:all>      <xs:element name="code" type="xs:string"/>      <xs:element name="codeSystem" type="xs:string"/>      <xs:element name="version" type="xs:string"/>      <xs:element name="source" type="xs:string"/>    </xs:all>  </xs:complexType></xs:schema>
