legacy/Intestinal_Conditions_Other_DBQ_v13_2_T1.pnl.xsd

<?xml version="1.0" encoding="UTF-8"?><xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:="" targetNamespace="" version="1.0">  <xs:complexType name="">  <xs:all>
<xs:element name="EXAMGROUP_CARDIO_IHD_Name">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type=":Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="DIAGNOSIS_INTESTINAL_OTH_IBS">  <xs:annotation>    <xs:documentation>Irritable bowel syndrome</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type=":Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="DIAGNOSIS_INTESTINAL_OTH_IBS_ICD">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type=":Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="DIAGNOSIS_INTESTINAL_OTH_IBS_DATE">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type=":Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="DIAGNOSIS_INTESTINAL_OTH_SPASTIC">  <xs:annotation>    <xs:documentation>Spastic colitis</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type=":Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="DIAGNOSIS_INTESTINAL_OTH_SPASTIC_ICD">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type=":Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="DIAGNOSIS_INTESTINAL_OTH_SPASTIC_DATE">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type=":Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="DIAGNOSIS_INTESTINAL_OTH_MUCOUS">  <xs:annotation>    <xs:documentation>Mucous colitis</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type=":Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="DIAGNOSIS_INTESTINAL_OTH_MUCOUS_ICD">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type=":Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="DIAGNOSIS_INTESTINAL_OTH_MUCOUS_DATE">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type=":Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="DIAGNOSIS_INTESTINAL_OTH_DIARRHEA">  <xs:annotation>    <xs:documentation>Chronic diarrhea</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type=":Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="DIAGNOSIS_INTESTINAL_OTH_DIARRHEA_ICD">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type=":Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="DIAGNOSIS_INTESTINAL_OTH_DIARRHEA_DATE">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type=":Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="DIAGNOSIS_INTESTINAL_OTH_ULCER">  <xs:annotation>    <xs:documentation>Ulcerative colitis</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type=":Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="DIAGNOSIS_INTESTINAL_OTH_ULCER_ICD">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type=":Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="DIAGNOSIS_INTESTINAL_OTH_ULCER_DATE">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type=":Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="DIAGNOSIS_INTESTINAL_OTH_CROHN">  <xs:annotation>    <xs:documentation>Crohn's disease</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type=":Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="DIAGNOSIS_INTESTINAL_OTH_CROHN_ICD">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type=":Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="DIAGNOSIS_INTESTINAL_OTH_CROHN_DATE">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type=":Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="DIAGNOSIS_INTESTINAL_OTH_ENTERITIS">  <xs:annotation>    <xs:documentation>Chronic enteritis</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type=":Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="DIAGNOSIS_INTESTINAL_OTH_ENTERITIS_ICD">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type=":Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="DIAGNOSIS_INTESTINAL_OTH_ENTERITIS_DATE">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type=":Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="DIAGNOSIS_INTESTINAL_OTH_ENTEROCOLOTIS">  <xs:annotation>    <xs:documentation>Chronic enterocolitis</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type=":Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="DIAGNOSIS_INTESTINAL_OTH_ENTEROCOLOTIS_ICD">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type=":Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="DIAGNOSIS_INTESTINAL_OTH_ENTEROCOLOTIS_DATE">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type=":Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="DIAGNOSIS_INTESTINAL_OTH_CELIAC">  <xs:annotation>    <xs:documentation>Celiac disease</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type=":Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="DIAGNOSIS_INTESTINAL_OTH_CELIAC_ICD">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type=":Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="DIAGNOSIS_INTESTINAL_OTH_CELIAC_DATE">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type=":Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="DIAGNOSIS_INTESTINAL_OTH_DIVERTICULITIS">  <xs:annotation>    <xs:documentation>Diverticulitis</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type=":Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="DIAGNOSIS_INTESTINAL_OTH_DIVERTICULITIS_ICD">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type=":Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="DIAGNOSIS_INTESTINAL_OTH_DIVERTICULITIS_DATE">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type=":Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="DIAGNOSIS_INTESTINAL_OTH_NEOPLASM">  <xs:annotation>    <xs:documentation>Intestinal neoplasm</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type=":Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="DIAGNOSIS_INTESTINAL_OTH_NEOPLASM_ICD">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type=":Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="DIAGNOSIS_INTESTINAL_OTH_NEOPLASM_DATE">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type=":Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="DIAGNOSIS_INTESTINAL_OTH_PERITONEAL">  <xs:annotation>    <xs:documentation>Peritoneal adhesions attributable to diverticulitis</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type=":Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="DIAGNOSIS_INTESTINAL_OTH_PERITONEAL_ICD">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type=":Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="DIAGNOSIS_INTESTINAL_OTH_PERITONEAL_DATE">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type=":Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="DIAGNOSIS_INTESTINAL_OTH_OTHER">  <xs:annotation>    <xs:documentation>Other non-surgical or non-infectious intestinal conditions:</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type=":Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="DIAGNOSIS_INTESTINAL_OTH_OTHER_1">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type=":Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="DIAGNOSIS_INTESTINAL_OTH_OTHER_1_ICD">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type=":Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="DIAGNOSIS_INTESTINAL_OTH_OTHER_1_DATE">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type=":Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="DIAGNOSIS_INTESTINAL_OTH_OTHER_2_ICD">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type=":Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="DIAGNOSIS_INTESTINAL_OTH_OTHER_2_DATE">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type=":Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="DIAGNOSIS_INTESTINAL_OTH_ADDITIONAL">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type=":Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="HISTORY_INTESTINAL_OTH_DESCRIBE">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type=":Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="HISTORY_INTESTINAL_OTH_MEDS">  <xs:annotation>     <xs:documentation>b. Is continuous medication required for control of the Veteran's intestinal condition?</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Yes"/>            <xs:enumeration value="No"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type=":Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="HISTORY_INTESTINAL_OTH_MEDS_DESCRIBE">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type=":Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="HISTORY_INTESTINAL_OTH_TX">  <xs:annotation>     <xs:documentation>c. Has the Veteran had surgical treatment for an intestinal condition?</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Yes"/>            <xs:enumeration value="No"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type=":Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_INTESTINAL_OTH_SIGNS">  <xs:annotation>     <xs:documentation>Does the Veteran have any signs or symptoms attributable to any non-surgical non-infectious intestinal conditions?</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Yes"/>            <xs:enumeration value="No"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type=":Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_INTESTINAL_OTH_SIGNS_DIARRHEA">  <xs:annotation>    <xs:documentation>Diarrhea</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type=":Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_INTESTINAL_OTH_SIGNS_DIARRHEA_DESCRIBE">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type=":Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_INTESTINAL_OTH_SIGNS_ALTERNATING">  <xs:annotation>    <xs:documentation>Alternating diarrhea and constipation</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type=":Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_INTESTINAL_OTH_SIGNS_ALTERNATING_DESCRIBE">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type=":Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_INTESTINAL_OTH_SIGNS_ABDOMINAL">  <xs:annotation>    <xs:documentation>Abdominal distension</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type=":Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_INTESTINAL_OTH_SIGNS_ABDOMINAL_DESCRIBE">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type=":Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_INTESTINAL_OTH_SIGNS_ANEMIA">  <xs:annotation>    <xs:documentation>Anemia</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type=":Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_INTESTINAL_OTH_SIGNS_NAUSEA">  <xs:annotation>    <xs:documentation>Nausea</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type=":Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_INTESTINAL_OTH_SIGNS_NAUSEA_DESCRIBE">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type=":Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_INTESTINAL_OTH_SIGNS_VOMITING">  <xs:annotation>    <xs:documentation>Vomiting</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type=":Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_INTESTINAL_OTH_SIGNS_VOMITING_DESCRIBE">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type=":Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_INTESTINAL_OTH_SIGNS_OTHER">  <xs:annotation>    <xs:documentation>Other, describe:</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type=":Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_INTESTINAL_OTH_SIGNS_OTHER_DESCRIBE">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type=":Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_INTESTINAL_OTH_SYMPTOMS">  <xs:annotation>     <xs:documentation>Does the Veteran have episodes of bowel disturbance with abdominal distress, or exacerbations or attacks of the intestinal condition?</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Yes"/>            <xs:enumeration value="No"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type=":Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_INTESTINAL_OTH_SYMPTOMS_BOWEL">  <xs:annotation>    <xs:documentation>Episodes of bowel disturbance with abdominal distress</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type=":Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_INTESTINAL_OTH_SYMPTOMS_BOWEL_FREQ">  <xs:annotation>     <xs:documentation>If checked, indicate frequency:</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Occasional episodes"/>            <xs:enumeration value="Frequent episodes"/>            <xs:enumeration value="More or less constant abdominal distress"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type=":Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_INTESTINAL_OTH_SYMPTOMS_EXACERBATIONS">  <xs:annotation>    <xs:documentation>Episodes of exacerbations and/or attacks of the intestinal condition</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type=":Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_INTESTINAL_OTH_SYMPTOMS_EXACERBATIONS_DESCRIBE">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type=":Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_INTESTINAL_OTH_SYMPTOMS_EXACERBATIONS_NUMBER">  <xs:annotation>     <xs:documentation>Indicate number of exacerbations and/or attacks in past 12 months:</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="0"/>            <xs:enumeration value="1"/>            <xs:enumeration value="2"/>            <xs:enumeration value="3"/>            <xs:enumeration value="4"/>            <xs:enumeration value="5"/>            <xs:enumeration value="6"/>            <xs:enumeration value="7 or more"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type=":Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_INTESTINAL_OTH_WEIGHT">  <xs:annotation>     <xs:documentation>Does the Veteran have weight loss attributable to an intestinal condition (other than surgical or infectious condition)?</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Yes"/>            <xs:enumeration value="No"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type=":Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_INTESTINAL_OTH_WEIGHT_BASELINE">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type=":Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_INTESTINAL_OTH_WEIGHT_CURRENT">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type=":Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_INTESTINAL_OTH_MALNUTRITION">  <xs:annotation>     <xs:documentation>Does the Veteran have malnutrition, serious complications or other general health effects attributable to the intestinal condition?</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Yes"/>            <xs:enumeration value="No"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type=":Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_INTESTINAL_OTH_MALNUTRITION_FINDINGS_HEALTH">  <xs:annotation>    <xs:documentation>Health only fair during remissions</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type=":Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_INTESTINAL_OTH_MALNUTRITION_FINDINGS_GENERAL">  <xs:annotation>    <xs:documentation>General debility</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type=":Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_INTESTINAL_OTH_MALNUTRITION_FINDINGS_SERIOUS">  <xs:annotation>    <xs:documentation>Serious complication such as liver abscess, describe:</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type=":Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_INTESTINAL_OTH_MALNUTRITION_FINDINGS_SERIOUS_DESCRIBE">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type=":Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_INTESTINAL_OTH_MALNUTRITION_FINDINGS_MALNUTRITION">  <xs:annotation>    <xs:documentation>Malnutrition</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type=":Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_INTESTINAL_OTH_MALNUTRITION_FINDINGS_MALNUTRITION_MARKED">  <xs:annotation>     <xs:documentation></xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Yes"/>            <xs:enumeration value="No"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type=":Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_INTESTINAL_OTH_MALNUTRITION_FINDINGS_OTHER">  <xs:annotation>    <xs:documentation>Other, describe:</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type=":Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_INTESTINAL_OTH_MALNUTRITION_FINDINGS_OTHER_DESCRIBE">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type=":Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_INTESTINAL_OTH_TUMORS">  <xs:annotation>     <xs:documentation>a.  Does the Veteran have a benign or malignant neoplasm or metastases related to any of the diagnoses in the Diagnosis section?</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Yes"/>            <xs:enumeration value="No"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type=":Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_INTESTINAL_OTH_TUMORS_NEOPLASM">  <xs:annotation>     <xs:documentation>b. Is the neoplasm</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Benign"/>            <xs:enumeration value="Malignant"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type=":Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_INTESTINAL_OTH_TUMORS_TX">  <xs:annotation>     <xs:documentation>c. Has the Veteran completed treatment or is the Veteran currently undergoing treatment for a benign or malignant neoplasm or metastases?</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Yes"/>            <xs:enumeration value="No; watchful waiting"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type=":Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_INTESTINAL_OTH_TUMORS_TX_COMPLETED">  <xs:annotation>    <xs:documentation>Treatment completed; currently in watchful waiting status</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type=":Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_INTESTINAL_OTH_TUMORS_TX_SURGERY">  <xs:annotation>    <xs:documentation>Surgery</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type=":Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_INTESTINAL_OTH_TUMORS_TX_SURGERY_DESCRIBE">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type=":Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_INTESTINAL_OTH_TUMORS_TX_SURGERY_DATE">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type=":Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_INTESTINAL_OTH_TUMORS_TX_RADIATION">  <xs:annotation>    <xs:documentation>Radiation therapy</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type=":Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_INTESTINAL_OTH_TUMORS_TX_RADIATION_RECENT">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type=":Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_INTESTINAL_OTH_TUMORS_TX_RADIATION_COMPLETE">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type=":Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_INTESTINAL_OTH_TUMORS_TX_CHEMO">  <xs:annotation>    <xs:documentation>Antineoplastic chemotherapy</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type=":Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_INTESTINAL_OTH_TUMORS_TX_CHEMO_RECENT">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type=":Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_INTESTINAL_OTH_TUMORS_TX_CHEMO_COMPLETE">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type=":Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_INTESTINAL_OTH_TUMORS_TX_PROCEDURE">  <xs:annotation>    <xs:documentation>Other therapeutic procedure</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type=":Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_INTESTINAL_OTH_TUMORS_TX_PROCEDURE_DESCRIBE">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type=":Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_INTESTINAL_OTH_TUMORS_TX_PROCEDURE_RECENT">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type=":Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_INTESTINAL_OTH_TUMORS_TX_TREATMENT">  <xs:annotation>    <xs:documentation>Other therapeutic treatment</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type=":Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_INTESTINAL_OTH_TUMORS_TX_TREATMENT_DESCRIBE">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type=":Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_INTESTINAL_OTH_TUMORS_TX_TREATMENT_COMPELTE">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type=":Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_INTESTINAL_OTH_TUMORS_RESIDUALS">  <xs:annotation>     <xs:documentation></xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Yes"/>            <xs:enumeration value="No"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type=":Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_INTESTINAL_OTH_TUMORS_RESIDUALS_DESCRIBE">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type=":Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_INTESTINAL_OTH_TUMORS_ADDITIONAL">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type=":Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_INTESTINAL_OTH_OPP_OTHER_PERT">  <xs:annotation>     <xs:documentation>b. Does the Veteran have any other pertinent physical findings, complications, conditions, signs and/or symptoms?</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Yes"/>            <xs:enumeration value="No"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type=":Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_INTESTINAL_OTH_OPP_OTHER_PERT_DESCRIBE">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type=":Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_INTESTINAL_OTH_OPP_SCARS">  <xs:annotation>     <xs:documentation></xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Yes"/>            <xs:enumeration value="No"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type=":Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_INTESTINAL_OTH_OPP_SCARS_YES">  <xs:annotation>     <xs:documentation>If yes, are any of the scars painful and/or unstable, or is the total area of all related scars greater than 39 square cm (6 square inches)?</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Yes"/>            <xs:enumeration value="No"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type=":Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_INTESTINAL_OTH_DT_LAB">  <xs:annotation>     <xs:documentation>a. Has laboratory testing been performed?</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Yes"/>            <xs:enumeration value="No"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type=":Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_INTESTINAL_OTH_DT_LAB_CBC">  <xs:annotation>    <xs:documentation>CBC (if anemia due to any intestinal condition is suspected or present)</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type=":Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_INTESTINAL_OTH_DT_LAB_CBC_DATE">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type=":Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_INTESTINAL_OTH_DT_LAB_CBC_HEMO">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type=":Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_INTESTINAL_OTH_DT_LAB_CBC_HEMA">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type=":Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_INTESTINAL_OTH_DT_LAB_CBC_WHITE">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type=":Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_INTESTINAL_OTH_DT_LAB_CBC_PLATELETS">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type=":Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_INTESTINAL_OTH_DT_LAB_OTHER">  <xs:annotation>    <xs:documentation>Other, specify:</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type=":Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_INTESTINAL_OTH_DT_LAB_OTHER_EDIT">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type=":Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_INTESTINAL_OTH_DT_LAB_OTHER_DATE">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type=":Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_INTESTINAL_OTH_DT_LAB_OTHER_RESULTS">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type=":Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_INTESTINAL_OTH_DT_LAB_IMAGING">  <xs:annotation>     <xs:documentation>b. Have imaging studies or diagnostic procedures been performed and are the results available?</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Yes"/>            <xs:enumeration value="No"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type=":Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_INTESTINAL_OTH_DT_LAB_IMAGING_DESCRIBE">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type=":Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_INTESTINAL_OTH_DT_LAB_OTHER_SIGN">  <xs:annotation>     <xs:documentation>c. Are there any other significant diagnostic test findings and/or results?</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Yes"/>            <xs:enumeration value="No"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type=":Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_INTESTINAL_OTH_DT_LAB_OTHER_SIGN_DESCRIBE">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type=":Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_INTESTINAL_OTH_FI">  <xs:annotation>     <xs:documentation>Does the Veteran's intestinal condition impact his or her ability to work?</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Yes"/>            <xs:enumeration value="No"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type=":Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_INTESTINAL_OTH_FI_DESCRIBE">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type=":Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_INTESTINAL_OTH_REMARKS">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type=":Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="DIAGNOSIS_INTESTINAL_OTH_DIAGNOSIS">  <xs:annotation>     <xs:documentation>Does the Veteran now have or has he/she ever been diagnosed with an intestinal condition (other than surgical or infectious)?</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Yes"/>            <xs:enumeration value="No"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type=":Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="DIAGNOSIS_INTESTINAL_OTH_OTHER_2">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type=":Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ACE_1">  <xs:annotation>    <xs:documentation></xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type=":Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ACE_2">  <xs:annotation>    <xs:documentation></xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type=":Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ACE_3">  <xs:annotation>    <xs:documentation>Examination via approved video telehealth</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type=":Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ACE_4">  <xs:annotation>    <xs:documentation>In-person examination</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type=":Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ACE_5_RevRec_1">  <xs:annotation>     <xs:documentation>Was the Veteran's VA claims file reviewed?</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Yes"/>            <xs:enumeration value="No"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type=":Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ACE_5_RevRec_2">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type=":Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ACE_5_RevRec_3">  <xs:annotation>    <xs:documentation>Military service treatment records</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type=":Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ACE_5_RevRec_4">  <xs:annotation>    <xs:documentation>Military service personnel records</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type=":Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ACE_5_RevRec_5">  <xs:annotation>    <xs:documentation>Military enlistment examination</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type=":Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ACE_5_RevRec_6">  <xs:annotation>    <xs:documentation>Military separation examination</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type=":Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ACE_5_RevRec_7">  <xs:annotation>    <xs:documentation>Military post-deployment questionnaire</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type=":Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ACE_5_RevRec_8">  <xs:annotation>    <xs:documentation>Department of Defense Form 214 Separation Documents</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type=":Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ACE_5_RevRec_9">  <xs:annotation>    <xs:documentation>Veterans Health Administration medical records (VA treatment records)</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type=":Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ACE_5_RevRec_10">  <xs:annotation>    <xs:documentation>Civilian medical records</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type=":Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ACE_5_RevRec_11">  <xs:annotation>    <xs:documentation>Interviews with collateral witnesses (family and others who have known the Veteran before and after military service)</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type=":Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ACE_5_RevRec_12">  <xs:annotation>    <xs:documentation>No records were reviewed</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type=":Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ACE_5_RevRec_13">  <xs:annotation>    <xs:documentation>Other:</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type=":Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ACE_5_RevRec_14">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type=":Metadata"/>    </xs:all>  </xs:complexType></xs:element>
  </xs:all>  </xs:complexType>  <xs:element name="" type=":"/>  <xs:complexType name="Metadata">    <xs:all>      <xs:element name="code" type="xs:string"/>      <xs:element name="codeSystem" type="xs:string"/>      <xs:element name="version" type="xs:string"/>      <xs:element name="source" type="xs:string"/>    </xs:all>  </xs:complexType></xs:schema>
