legacy/Liver_DBQ_v10_2_T1.pnl.xsd

<?xml version="1.0" encoding="UTF-8"?><xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:heps="http://vler.va.gov/vler/schemas/health/clinicalDocuments/clinicalAssessments/cpExams/1.0/Hepatitis" targetNamespace="http://vler.va.gov/vler/schemas/health/clinicalDocuments/clinicalAssessments/cpExams/1.0/Hepatitis" version="1.0">  <xs:complexType name="HepatitisFormType">  <xs:all>
<xs:element name="EXAMGROUP_CARDIO_IHD_Name">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="heps:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="DIAGNOSIS_LIVER_DX">  <xs:annotation>     <xs:documentation>Does the Veteran now have or has he/she ever been diagnosed with a liver condition?</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Yes"/>            <xs:enumeration value="No"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="heps:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="DIAGNOSIS_LIVER_HepA">  <xs:annotation>    <xs:documentation>Hepatitis A</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="heps:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="DIAGNOSIS_LIVER_HepA_ICD">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="heps:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="DIAGNOSIS_LIVER_HepA_Date">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="heps:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="DIAGNOSIS_LIVER_HepB">  <xs:annotation>    <xs:documentation>Hepatitis B</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="heps:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="DIAGNOSIS_LIVER_HepB_ICD">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="heps:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="DIAGNOSIS_LIVER_HepB_Date">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="heps:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="DIAGNOSIS_LIVER_HepC">  <xs:annotation>    <xs:documentation>Hepatitis C</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="heps:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="DIAGNOSIS_LIVER_HepC_ICD">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="heps:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="DIAGNOSIS_LIVER_HepC_Date">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="heps:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="DIAGNOSIS_LIVER_Auto">  <xs:annotation>    <xs:documentation>Autoimmune hepatitis</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="heps:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="DIAGNOSIS_LIVER_Auto_ICD">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="heps:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="DIAGNOSIS_LIVER_Auto_Date">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="heps:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="DIAGNOSIS_LIVER_Drug">  <xs:annotation>    <xs:documentation>Drug-induced hepatitis</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="heps:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="DIAGNOSIS_LIVER_Drug_ICD">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="heps:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="DIAGNOSIS_LIVER_Drug_Date">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="heps:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="DIAGNOSIS_LIVER_Hemo">  <xs:annotation>    <xs:documentation>Hemochromatosis</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="heps:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="DIAGNOSIS_LIVER_Hemo_ICD">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="heps:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="DIAGNOSIS_LIVER_Cirrhosis">  <xs:annotation>    <xs:documentation>Cirrhosis of the liver</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="heps:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="DIAGNOSIS_LIVER_Cirrhosis_ICD">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="heps:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="DIAGNOSIS_LIVER_Cirrhosis_Date">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="heps:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="DIAGNOSIS_LIVER_Sclerosing">  <xs:annotation>    <xs:documentation>Sclerosing cholangitis</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="heps:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="DIAGNOSIS_LIVER_Sclerosing_ICD">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="heps:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="DIAGNOSIS_LIVER_Sclerosing_Date">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="heps:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="DIAGNOSIS_LIVER_Candidate">  <xs:annotation>    <xs:documentation>Liver transplant candidate</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="heps:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="DIAGNOSIS_LIVER_Candidate_ICD">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="heps:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="DIAGNOSIS_LIVER_Candidate_Date">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="heps:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="DIAGNOSIS_LIVER_Transplant">  <xs:annotation>    <xs:documentation>Liver transplant</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="heps:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="DIAGNOSIS_LIVER_Transplant_ICD">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="heps:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="DIAGNOSIS_LIVER_Transplant_Date">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="heps:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="DIAGNOSIS_LIVER_Other">  <xs:annotation>    <xs:documentation>Other liver conditions:</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="heps:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="DIAGNOSIS_LIVER_OTH_DG_1">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="heps:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="DIAGNOSIS_LIVER_OTH_ICD_1">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="heps:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="DIAGNOSIS_LIVER_OTH_DATE_1">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="heps:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="DIAGNOSIS_LIVER_OTH_DG_2">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="heps:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="DIAGNOSIS_LIVER_OTH_ICD_2">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="heps:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="DIAGNOSIS_LIVER_OTH_DATE_2">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="heps:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="DIAGNOSIS_LIVER_DG_ADD">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="heps:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="HISTORY_LIVER_MH_DESC">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="heps:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="HISTORY_LIVER_MEDS">  <xs:annotation>     <xs:documentation>b. Is continuous medication required for control of the Veteran's liver conditions?</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Yes"/>            <xs:enumeration value="No"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="heps:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="HISTORY_LIVER_MEDS_DESC">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="heps:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_LIVER_SEC1_CUR">  <xs:annotation>     <xs:documentation>a. Does the Veteran currently have signs or symptoms attributable to chronic or infectious liver diseases?</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Yes"/>            <xs:enumeration value="No"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="heps:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_LIVER_SEC1_CUR_FATIGUE">  <xs:annotation>    <xs:documentation>Fatigue</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="heps:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_LIVER_SEC1_CUR_MALAISE">  <xs:annotation>    <xs:documentation>Malaise</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="heps:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_LIVER_SEC1_CUR_ANOREXIA">  <xs:annotation>    <xs:documentation>Anorexia</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="heps:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_LIVER_SEC1_CUR_NAUSEA">  <xs:annotation>    <xs:documentation>Nausea</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="heps:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_LIVER_SEC1_CUR_VOMIT">  <xs:annotation>    <xs:documentation>Vomiting</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="heps:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_LIVER_SEC1_CUR_ARTHRALGIA">  <xs:annotation>    <xs:documentation>Arthralgia</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="heps:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_LIVER_SEC1_CUR_WT_LOSS">  <xs:annotation>    <xs:documentation>Weight loss</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="heps:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_LIVER_SEC1_CUR_WT_LOSS_BASE">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="heps:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_LIVER_SEC1_CUR_WT_LOSS_CURR">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="heps:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_LIVER_SEC1_CUR_WT_LOSS_SUS">  <xs:annotation>     <xs:documentation>Also, indicate if this weight loss has been sustained for three months or longer:</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Yes"/>            <xs:enumeration value="No"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="heps:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_LIVER_SEC1_CUR_PAIN">  <xs:annotation>    <xs:documentation>Right upper quadrant pain</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="heps:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_LIVER_SEC1_CUR_HEPATO">  <xs:annotation>    <xs:documentation>Hepatomegaly</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="heps:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_LIVER_SEC1_CUR_DIET_RESTR">  <xs:annotation>    <xs:documentation>Condition requires dietary restriction</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="heps:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_LIVER_SEC1_CUR_DIET_RESTR_DESC">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="heps:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_LIVER_SEC1_CUR_MALNUTRITION">  <xs:annotation>    <xs:documentation>Condition results in other indications of malnutrition</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="heps:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_LIVER_SEC1_CUR_MALNUTRITION_DESC">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="heps:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_LIVER_SEC1_CUR_OTH">  <xs:annotation>    <xs:documentation>Other, describe:</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="heps:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_LIVER_SEC1_CUR_OTH_DESC">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="heps:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_LIVER_SEC1_HEP_C">  <xs:annotation>     <xs:documentation>b. Has the Veteran been diagnosed with hepatitis C?</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Yes"/>            <xs:enumeration value="No"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="heps:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_LIVER_SEC1_HEP_C_UNK">  <xs:annotation>    <xs:documentation>Unknown</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="heps:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_LIVER_SEC1_HEP_C_RISK_FAC">  <xs:annotation>    <xs:documentation>No known risk factors</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="heps:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_LIVER_SEC1_HEP_C_TRANS">  <xs:annotation>    <xs:documentation>Organ transplant before 1992</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="heps:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_LIVER_SEC1_HEP_C_BLOOD">  <xs:annotation>    <xs:documentation>Transfusions of blood or blood products before 1992</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="heps:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_LIVER_SEC1_HEP_C_HEMO">  <xs:annotation>    <xs:documentation>Hemodialysis</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="heps:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_LIVER_SEC1_HEP_C_ACC">  <xs:annotation>    <xs:documentation>Accidental exposure to blood by health care workers (to include combat medic or corpsman)</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="heps:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_LIVER_SEC1_HEP_C_DRUG_USE">  <xs:annotation>    <xs:documentation>Intravenous drug use or intranasal cocaine use</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="heps:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_LIVER_SEC1_HEP_C_RISK_SEX">  <xs:annotation>    <xs:documentation>High risk sexual activity</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="heps:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_LIVER_SEC1_HEP_C_PER_EXP">  <xs:annotation>    <xs:documentation>Other direct percutaneous exposure to blood (such as by tattooing, body piercing, acupuncture with non-sterile needles, shared</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="heps:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_LIVER_SEC1_HEP_C_PER_EXP_DESC">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="heps:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_LIVER_SEC1_HEP_C_OTH">  <xs:annotation>    <xs:documentation>Other, describe:</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="heps:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_LIVER_SEC1_HEP_C_OTH_DESC">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="heps:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_LIVER_SEC1_INCAP">  <xs:annotation>     <xs:documentation></xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Yes"/>            <xs:enumeration value="No"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="heps:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="DIAGNOSIS_LIVER_Primary_Date">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="heps:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="DIAGNOSIS_LIVER_Primary_ICD">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="heps:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="DIAGNOSIS_LIVER_Hemo_Date">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="heps:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_LIVER_SEC2_SAS">  <xs:annotation>     <xs:documentation>Does the Veteran currently have signs or symptoms attributable to cirrhosis of the liver, biliary cirrhosis or cirrhotic phase of sclerosing cholangitis?</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Yes"/>            <xs:enumeration value="No"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="heps:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_LIVER_SEC2_SAS_WEAK">  <xs:annotation>    <xs:documentation>Weakness</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="heps:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_LIVER_SEC2_SAS_ANOREXIA">  <xs:annotation>    <xs:documentation>Anorexia</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="heps:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_LIVER_SEC2_SAS_ABD_PN">  <xs:annotation>    <xs:documentation>Abdominal pain</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="heps:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_LIVER_SEC2_SAS_MALAISE">  <xs:annotation>    <xs:documentation>Malaise</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="heps:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_LIVER_SEC2_SAS_WT_LS">  <xs:annotation>    <xs:documentation>Weight loss</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="heps:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_LIVER_SEC2_SAS_WT_LS_CURRENT">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="heps:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_LIVER_SEC2_SAS_WT_LS_BASE">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="heps:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_LIVER_SEC2_SAS_WT_LS_SUSTAIN">  <xs:annotation>     <xs:documentation>Also, indicate if this weight loss has been sustained for three months or longer:</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Yes"/>            <xs:enumeration value="No"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="heps:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_LIVER_SEC2_SAS_ASCITES">  <xs:annotation>    <xs:documentation>Ascites</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="heps:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_LIVER_SEC2_SAS_ASCITES_EPS_1">  <xs:annotation>    <xs:documentation>1 episode</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="heps:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_LIVER_SEC2_SAS_ASCITES_EPS_2">  <xs:annotation>    <xs:documentation>2 or more episodes</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="heps:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_LIVER_SEC2_SAS_ASCITES_REMIS">  <xs:annotation>    <xs:documentation>Periods of remission between attacks</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="heps:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_LIVER_SEC2_SAS_ASCITES_REFAC">  <xs:annotation>    <xs:documentation>Refractory to treatment</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="heps:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_LIVER_SEC2_SAS_ASCITES_DATE">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="heps:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_LIVER_SEC2_SAS_ENCEPHAL">  <xs:annotation>    <xs:documentation>Hepatic encephalopathy</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="heps:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_LIVER_SEC2_SAS_ENCEPHAL_EPS_1">  <xs:annotation>    <xs:documentation>1 episode</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="heps:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_LIVER_SEC2_SAS_ENCEPHAL_EPS_2">  <xs:annotation>    <xs:documentation>2 or more episodes</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="heps:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_LIVER_SEC2_SAS_ENCEPHAL_REMIS">  <xs:annotation>    <xs:documentation>Periods of remission between attacks</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="heps:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_LIVER_SEC2_SAS_ENCEPHAL_REFAC">  <xs:annotation>    <xs:documentation>Refractory to treatment</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="heps:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_LIVER_SEC2_SAS_ENCEPHAL_DATE">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="heps:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_LIVER_SEC2_SAS_HEMOR">  <xs:annotation>    <xs:documentation>Hemorrhage from varices or portal gastropathy (erosive gastritis)</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="heps:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_LIVER_SEC2_SAS_HEMOR_EPS_1">  <xs:annotation>    <xs:documentation>1 episode</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="heps:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_LIVER_SEC2_SAS_HEMOR_EPS_2">  <xs:annotation>    <xs:documentation>2 or more episodes</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="heps:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_LIVER_SEC2_SAS_HEMOR_REMIS">  <xs:annotation>    <xs:documentation>Periods of remission between attacks</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="heps:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_LIVER_SEC2_SAS_HEMOR_REFAC">  <xs:annotation>    <xs:documentation>Refractory to treatment</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="heps:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_LIVER_SEC2_SAS_HEMOR_DATE">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="heps:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_LIVER_SEC2_SAS_PORT_HYP">  <xs:annotation>    <xs:documentation>Portal hypertension</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="heps:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_LIVER_SEC2_SAS_SPLEN">  <xs:annotation>    <xs:documentation>Splenomegaly</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="heps:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_LIVER_SEC2_SAS_JAUN">  <xs:annotation>    <xs:documentation>Persistent jaundice</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="heps:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_LIVER_SEC3_CANDIDATE">  <xs:annotation>     <xs:documentation>a. Is the Veteran a liver transplant candidate?</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Yes"/>            <xs:enumeration value="No"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="heps:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_LIVER_SEC3_WAITING">  <xs:annotation>     <xs:documentation>b. Is the Veteran currently hospitalized awaiting transplant?</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Yes"/>            <xs:enumeration value="No"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="heps:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_LIVER_SEC3_WAITING_DATE">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="heps:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_LIVER_SEC3_TRANSPLANT">  <xs:annotation>     <xs:documentation>c. Has the Veteran undergone a liver transplant?</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Yes"/>            <xs:enumeration value="No"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="heps:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_LIVER_SEC3_TRANSPLANT_DATE_SURG">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="heps:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_LIVER_SEC3_TRANSPLANT_DATE_DC">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="heps:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_LIVER_SEC3_TRANSPLANT_SAS">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="heps:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_LIVER_SEC3_INJURY">  <xs:annotation>     <xs:documentation>d. Has the Veteran had an injury to the liver?</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Yes"/>            <xs:enumeration value="No"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="heps:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_LIVER_SEC3_INJURY_YES">  <xs:annotation>     <xs:documentation>If yes, does the Veteran have peritoneal adhesions resulting from an injury to the liver?</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Yes"/>            <xs:enumeration value="No"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="heps:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_LIVER_SAS_SCAR">  <xs:annotation>     <xs:documentation></xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Yes"/>            <xs:enumeration value="No"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="heps:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_LIVER_SAS_SCAR_YES">  <xs:annotation>     <xs:documentation>If yes, are any of the scars painful and/or unstable, or is the total area of all related scars greater than 39 square cm (6 square inches)?</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Yes"/>            <xs:enumeration value="No"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="heps:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_LIVER_SAS_COMP">  <xs:annotation>     <xs:documentation></xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Yes"/>            <xs:enumeration value="No"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="heps:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_LIVER_SAS_COMP_YES">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="heps:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="TESTS_LIVER_IMAGING">  <xs:annotation>     <xs:documentation>a. Have imaging studies been performed and are the results available?</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Yes"/>            <xs:enumeration value="No"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="heps:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="TESTS_LIVER_EUS">  <xs:annotation>    <xs:documentation>EUS (Endoscopic ultrasound)</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="heps:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="TESTS_LIVER_EUS_DATE">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="heps:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="TESTS_LIVER_ERCP">  <xs:annotation>    <xs:documentation>ERCP (Endoscopic retrograde cholangiopancreatography)</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="heps:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="TESTS_LIVER_ERCP_DATE">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="heps:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="TESTS_LIVER_ERCP_RESULT">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="heps:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="TESTS_LIVER_TRANSHEPATIC_CHOLANGI">  <xs:annotation>    <xs:documentation>Transhepatic cholangiogram</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="heps:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="TESTS_LIVER_TRANSHEPATIC_CHOLANGI_DATE">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="heps:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="TESTS_LIVER_TRANSHEPATIC_CHOLANGI_RESULT">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="heps:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="TESTS_LIVER_MRI">  <xs:annotation>    <xs:documentation>MRI or MRCP (magnetic resonance cholangiopancreatography)</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="heps:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="TESTS_LIVER_CT">  <xs:annotation>    <xs:documentation>CT</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="heps:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="TESTS_LIVER_CT_DATE">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="heps:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="TESTS_LIVER_CT_RESULT">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="heps:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="TESTS_LIVER_OTHER">  <xs:annotation>    <xs:documentation>Other, describe:</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="heps:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="TESTS_LIVER_OTHER_DATE">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="heps:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="TESTS_LIVER_OTHER_RESULT">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="heps:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="TESTS_LIVER_OTHER_DESC">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="heps:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="TESTS_LIVER_LAB">  <xs:annotation>     <xs:documentation>b. Have laboratory studies been performed?</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Yes"/>            <xs:enumeration value="No"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="heps:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="TESTS_LIVER_LAB_RIBA">  <xs:annotation>    <xs:documentation>Recombinant immunoblot assay (RIBA)</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="heps:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="TESTS_LIVER_LAB_RIBA_DATE">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="heps:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="TESTS_LIVER_LAB_RIBA_RESULT">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="heps:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="TESTS_LIVER_LAB_HEP_C_GENO">  <xs:annotation>    <xs:documentation>Hepatitis C genotype</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="heps:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="TESTS_LIVER_LAB_HEP_C_GENO_DATE">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="heps:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="TESTS_LIVER_LAB_HEP_C_GENO_RESULT">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="heps:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="TESTS_LIVER_LAB_HEP_C_TIT">  <xs:annotation>    <xs:documentation>Hepatitis C viral titers</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="heps:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="TESTS_LIVER_LAB_HEP_C_TIT_DATE">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="heps:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="TESTS_LIVER_LAB_HEP_C_TIT_RESULT">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="heps:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="TESTS_LIVER_LAB_AST">  <xs:annotation>    <xs:documentation>AST</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="heps:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="TESTS_LIVER_LAB_AST_DATE">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="heps:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="TESTS_LIVER_LAB_AST_RESULT">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="heps:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="TESTS_LIVER_LAB_ALT">  <xs:annotation>    <xs:documentation>ALT</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="heps:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="TESTS_LIVER_LAB_ALT_DATE">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="heps:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="TESTS_LIVER_LAB_ALT_RESULT">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="heps:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="TESTS_LIVER_LAB_ALK_PHO">  <xs:annotation>    <xs:documentation>Alkaline phosphatase</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="heps:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="TESTS_LIVER_LAB_ALK_PHO_DATE">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="heps:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="TESTS_LIVER_LAB_ALK_PHO_RESULT">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="heps:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="TESTS_LIVER_LAB_BILI">  <xs:annotation>    <xs:documentation>Bilirubin</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="heps:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="TESTS_LIVER_LAB_BILI_DATE">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="heps:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="TESTS_LIVER_LAB_BILI_RESULT">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="heps:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="TESTS_LIVER_LAB_CREAT">  <xs:annotation>    <xs:documentation>Creatinine</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="heps:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="TESTS_LIVER_LAB_CREAT_DATE">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="heps:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="TESTS_LIVER_LAB_CREAT_RESULT">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="heps:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="TESTS_LIVER_LAB_MELD">  <xs:annotation>    <xs:documentation>MELD score</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="heps:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="TESTS_LIVER_LAB_MELD_DATE">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="heps:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="TESTS_LIVER_LAB_MELD_RESULT">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="heps:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="TESTS_LIVER_LAB_OTH">  <xs:annotation>    <xs:documentation>Other, describe:</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="heps:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="TESTS_LIVER_LAB_OTH_DATE">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="heps:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="TESTS_LIVER_LAB_OTH_RESULT">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="heps:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="TESTS_LIVER_LAB_OTH_DESC">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="heps:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="TESTS_LIVER_EUS_RESULT">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="heps:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="TESTS_LIVER_MRI_DATE">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="heps:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="TESTS_LIVER_MRI_RESULT">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="heps:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="TESTS_LIVER_LAB_BIOPSY">  <xs:annotation>     <xs:documentation>c. Has a liver biopsy been performed?</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Yes"/>            <xs:enumeration value="No"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="heps:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="TESTS_LIVER_LAB_BIOPSY_DATE">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="heps:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="TESTS_LIVER_LAB_BIOPSY_RESULT">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="heps:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="TESTS_LIVER_LAB_RESULTS">  <xs:annotation>     <xs:documentation>d. Are there any other significant diagnostic test findings and/or results?</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Yes"/>            <xs:enumeration value="No"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="heps:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="TESTS_LIVER_LAB_RESULTS_DESC">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="heps:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="ASSESSMENT_LIVER_IMPACT">  <xs:annotation>     <xs:documentation>Does the Veteran's liver condition impact his or her ability to work?</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Yes"/>            <xs:enumeration value="No"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="heps:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="ASSESSMENT_LIVER_IMPACT_DESC">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="heps:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="MISC_LIVER_REMARK">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="heps:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="TESTS_LIVER_LAB_INR">  <xs:annotation>    <xs:documentation>INR (PT)</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="heps:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="TESTS_LIVER_LAB_INR_DATE">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="heps:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="TESTS_LIVER_LAB_INR_RESULT">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="heps:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_LIVER_SEC1_CUR_FATIGUE_LEVEL">  <xs:annotation>     <xs:documentation></xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Intermittent"/>            <xs:enumeration value="Daily"/>            <xs:enumeration value="Near-constant and debilitating"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="heps:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_LIVER_SEC1_CUR_MALAISE_LEVEL">  <xs:annotation>     <xs:documentation></xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Intermittent"/>            <xs:enumeration value="Daily"/>            <xs:enumeration value="Near-constant and debilitating"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="heps:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_LIVER_SEC1_CUR_ANOREXIA_LEVEL">  <xs:annotation>     <xs:documentation></xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Intermittent"/>            <xs:enumeration value="Daily"/>            <xs:enumeration value="Near-constant and debilitating"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="heps:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_LIVER_SEC1_CUR_VOMIT_LEVEL">  <xs:annotation>     <xs:documentation></xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Intermittent"/>            <xs:enumeration value="Daily"/>            <xs:enumeration value="Near-constant and debilitating"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="heps:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_LIVER_SEC1_CUR_ARTHRALGIA_LEVEL">  <xs:annotation>     <xs:documentation></xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Intermittent"/>            <xs:enumeration value="Daily"/>            <xs:enumeration value="Near-constant and debilitating"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="heps:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_LIVER_SEC1_CUR_NAUSEA_LEVEL">  <xs:annotation>     <xs:documentation></xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Intermittent"/>            <xs:enumeration value="Daily"/>            <xs:enumeration value="Near-constant and debilitating"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="heps:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_LIVER_SEC1_CUR_PAIN_LEVEL">  <xs:annotation>     <xs:documentation></xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Intermittent"/>            <xs:enumeration value="Daily"/>            <xs:enumeration value="Near-constant and debilitating"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="heps:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_LIVER_SEC1_INCAP_WKLY_DUR">  <xs:annotation>     <xs:documentation></xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Less than 1 week"/>            <xs:enumeration value="At least 1 week but less than 2 weeks"/>            <xs:enumeration value="At least 2 weeks but less than 4 weeks"/>            <xs:enumeration value="At least 4 weeks but less than 6 weeks"/>            <xs:enumeration value="6 weeks or more"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="heps:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_LIVER_SEC2_SAS_WEAK_DUR">  <xs:annotation>     <xs:documentation></xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Intermittent"/>            <xs:enumeration value="Daily"/>            <xs:enumeration value="Near-constant and debilitating"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="heps:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_LIVER_SEC2_SAS_ANOREXIA_DUR">  <xs:annotation>     <xs:documentation></xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Intermittent"/>            <xs:enumeration value="Daily"/>            <xs:enumeration value="Near-constant and debilitating"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="heps:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_LIVER_SEC2_SAS_ABD_PN_DUR">  <xs:annotation>     <xs:documentation></xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Intermittent"/>            <xs:enumeration value="Daily"/>            <xs:enumeration value="Near-constant and debilitating"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="heps:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_LIVER_SEC2_SAS_MALAISE_DUR">  <xs:annotation>     <xs:documentation></xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Intermittent"/>            <xs:enumeration value="Daily"/>            <xs:enumeration value="Near-constant and debilitating"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="heps:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="DIAGNOSIS_LIVER_Primary">  <xs:annotation>    <xs:documentation>Primary biliary cirrhosis</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="heps:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ACE_1">  <xs:annotation>    <xs:documentation></xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="heps:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ACE_2">  <xs:annotation>    <xs:documentation></xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="heps:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ACE_3">  <xs:annotation>    <xs:documentation>Examination via approved video telehealth</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="heps:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ACE_4">  <xs:annotation>    <xs:documentation>In-person examination</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="heps:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ACE_5_RevRec_1">  <xs:annotation>     <xs:documentation>Was the Veteran's VA claims file reviewed?</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Yes"/>            <xs:enumeration value="No"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="heps:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ACE_5_RevRec_2">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="heps:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ACE_5_RevRec_3">  <xs:annotation>    <xs:documentation>Military service treatment records</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="heps:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ACE_5_RevRec_4">  <xs:annotation>    <xs:documentation>Military service personnel records</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="heps:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ACE_5_RevRec_5">  <xs:annotation>    <xs:documentation>Military enlistment examination</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="heps:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ACE_5_RevRec_6">  <xs:annotation>    <xs:documentation>Military separation examination</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="heps:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ACE_5_RevRec_7">  <xs:annotation>    <xs:documentation>Military post-deployment questionnaire</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="heps:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ACE_5_RevRec_8">  <xs:annotation>    <xs:documentation>Department of Defense Form 214 Separation Documents</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="heps:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ACE_5_RevRec_9">  <xs:annotation>    <xs:documentation>Veterans Health Administration medical records (VA treatment records)</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="heps:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ACE_5_RevRec_10">  <xs:annotation>    <xs:documentation>Civilian medical records</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="heps:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ACE_5_RevRec_11">  <xs:annotation>    <xs:documentation>Interviews with collateral witnesses (family and others who have known the Veteran before and after military service)</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="heps:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ACE_5_RevRec_12">  <xs:annotation>    <xs:documentation>No records were reviewed</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="heps:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ACE_5_RevRec_13">  <xs:annotation>    <xs:documentation>Other:</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="heps:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ACE_5_RevRec_14">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="heps:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
  </xs:all>  </xs:complexType>  <xs:element name="HepatitisForm" type="heps:HepatitisFormType"/>  <xs:complexType name="Metadata">    <xs:all>      <xs:element name="code" type="xs:string"/>      <xs:element name="codeSystem" type="xs:string"/>      <xs:element name="version" type="xs:string"/>      <xs:element name="source" type="xs:string"/>    </xs:all>  </xs:complexType></xs:schema>
