legacy/Loss_of_Sense_of_Smell_DBQ_v14_1_T1.pnl.xsd

<?xml version="1.0" encoding="UTF-8"?><xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:lsst="http://vler.va.gov/vler/schemas/health/clinicalDocuments/clinicalAssessments/cpExams/1.3/LossOfSenseOfSmellAndOrTaste" targetNamespace="http://vler.va.gov/vler/schemas/health/clinicalDocuments/clinicalAssessments/cpExams/1.3/LossOfSenseOfSmellAndOrTaste" version="1.0">  <xs:complexType name="LossOfSenseOfSmellAndOrTasteFormType">  <xs:all>
<xs:element name="EXAMGROUP_CARDIO_IHD_Name">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="lsst:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="DIAGNOSIS_ENT_LOSS_OF_SMELL_DIAGNOSIS">  <xs:annotation>     <xs:documentation></xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Yes"/>            <xs:enumeration value="No"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="lsst:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="DIAGNOSIS_ENT_LOSS_OF_SMELL_ANOSMIA_ICD">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="lsst:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="DIAGNOSIS_ENT_LOSS_OF_SMELL_ANOSMIA_DATE">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="lsst:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="Hyposmia">  <xs:annotation>    <xs:documentation>Hyposmia (reduced ability to detect odors)</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="lsst:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="DIAGNOSIS_ENT_LOSS_OF_SMELL_HYOPSMIA_ICD">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="lsst:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="DIAGNOSIS_ENT_LOSS_OF_SMELL_HYOPSMIA_DATE">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="lsst:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="Ageusia">  <xs:annotation>    <xs:documentation>Ageusia (complete lack of taste)</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="lsst:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="DIAGNOSIS_ENT_LOSS_OF_SMELL_AGEUSIA_ICD">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="lsst:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="DIAGNOSIS_ENT_LOSS_OF_SMELL_AGEUSIA_DATE">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="lsst:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="Hypogeusia">  <xs:annotation>    <xs:documentation>Hypogeusia (decrease in sense of taste)</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="lsst:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="DIAGNOSIS_ENT_LOSS_OF_SMELL_HYPOGEUSIA_ICD">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="lsst:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="DIAGNOSIS_ENT_LOSS_OF_SMELL_HYPOGEUSIA_DATE">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="lsst:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="DIAGNOSIS_ENT_LOSS_OF_SMELL_OTHER">  <xs:annotation>    <xs:documentation>Other, specify:</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="lsst:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="DIAGNOSIS_ENT_LOSS_OF_SMELL_OTHER_1">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="lsst:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="DIAGNOSIS_ENT_LOSS_OF_SMELL_OTHER_1_ICD">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="lsst:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="DIAGNOSIS_ENT_LOSS_OF_SMELL_OTHER_1_DATE">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="lsst:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="DIAGNOSIS_ENT_LOSS_OF_SMELL_OTHER_2">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="lsst:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="DIAGNOSIS_ENT_LOSS_OF_SMELL_OTHER_2_ICD">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="lsst:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="DIAGNOSIS_ENT_LOSS_OF_SMELL_OTHER_2_ICD_DATE">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="lsst:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="DIAGNOSIS_ENT_LOSS_OF_SMELL_ADDITIONAL">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="lsst:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="HISTORY_ENT_LOSS_OF_SMELL_DESCRIBE">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="lsst:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="LossOfSenseOfSmell">  <xs:annotation>     <xs:documentation>a. Does the Veteran currently have loss of sense of smell?</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Yes"/>            <xs:enumeration value="No"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="lsst:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="LossOfSenseOfSmellSeverity">  <xs:annotation>     <xs:documentation>If yes, indicate severity:</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Partial"/>            <xs:enumeration value="Complete"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="lsst:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="HISTORY_ENT_LOSS_OF_SMELL_SYMPTOMS_BASIS">  <xs:annotation>     <xs:documentation>If yes, is there a known anatomical or pathological basis for this condition?</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Yes"/>            <xs:enumeration value="No"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="lsst:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="HISTORY_ENT_LOSS_OF_SMELL_SYMPTOMS_BASIS_DESCRIBE">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="lsst:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="LossOfSenseOfTaste">  <xs:annotation>     <xs:documentation>b. Does the Veteran currently have loss of sense of taste (unable to detect sweet, salty, sour, or bitter tastes)?</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Yes"/>            <xs:enumeration value="No"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="lsst:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="LossOfSenseOfTasteSeverity">  <xs:annotation>     <xs:documentation>If yes, indicate severity:</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Partial"/>            <xs:enumeration value="Complete"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="lsst:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="HISTORY_ENT_LOSS_OF_SMELL_SYMPTOMS_TASTE_BASIS">  <xs:annotation>     <xs:documentation>If yes, is there a known anatomical or pathological basis for this condition?</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Yes"/>            <xs:enumeration value="No"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="lsst:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="HISTORY_ENT_LOSS_OF_SMELL_SYMPTOMS_TASTE_BASIS_DESCRIBE">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="lsst:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="HISTORY_ENT_LOSS_OF_SMELL_SYMPTOMS_OPP_SCARS">  <xs:annotation>     <xs:documentation></xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Yes"/>            <xs:enumeration value="No"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="lsst:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="HISTORY_ENT_LOSS_OF_SMELL_SYMPTOMS_OPP_SCARS_YES">  <xs:annotation>     <xs:documentation>If yes, are any of the scars painful and/or unstable, or is the total area of all related scars greater than 39 square cm (6 square inches)?</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Yes"/>            <xs:enumeration value="No"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="lsst:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="HISTORY_ENT_LOSS_OF_SMELL_SYMPTOMS_OPP_OTHER_PERT">  <xs:annotation>     <xs:documentation></xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Yes"/>            <xs:enumeration value="No"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="lsst:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="HISTORY_ENT_LOSS_OF_SMELL_SYMPTOMS_OPP_OTHER_PERT_DESCRIBE">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="lsst:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="HISTORY_ENT_LOSS_OF_SMELL_SYMPTOMS_DT_IMAGING">  <xs:annotation>     <xs:documentation>a. Have imaging or laboratory studies been performed?</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Yes"/>            <xs:enumeration value="No"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="lsst:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="HISTORY_ENT_LOSS_OF_SMELL_SYMPTOMS_DT_MRI">  <xs:annotation>    <xs:documentation>Magnetic resonance imaging (MRI)</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="lsst:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="HISTORY_ENT_LOSS_OF_SMELL_SYMPTOMS_DT_CT">  <xs:annotation>    <xs:documentation>Computed tomography (CT)</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="lsst:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="HISTORY_ENT_LOSS_OF_SMELL_SYMPTOMS_DT_OTHER">  <xs:annotation>    <xs:documentation>Other:</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="lsst:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="HISTORY_ENT_LOSS_OF_SMELL_SYMPTOMS_DT_MRI_DATE">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="lsst:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="HISTORY_ENT_LOSS_OF_SMELL_SYMPTOMS_DT_MRI_RESULTS">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="lsst:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="HISTORY_ENT_LOSS_OF_SMELL_SYMPTOMS_DT_CT_DATE">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="lsst:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="HISTORY_ENT_LOSS_OF_SMELL_SYMPTOMS_DT_CT_RESULTS">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="lsst:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="HISTORY_ENT_LOSS_OF_SMELL_SYMPTOMS_DT_OTHER_EDIT">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="lsst:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="HISTORY_ENT_LOSS_OF_SMELL_SYMPTOMS_DT_OTHER_DATE">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="lsst:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="HISTORY_ENT_LOSS_OF_SMELL_SYMPTOMS_DT_OTHER_RESULTS">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="lsst:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="HISTORY_ENT_LOSS_OF_SMELL_SYMPTOMS_DT_TESTING">  <xs:annotation>     <xs:documentation>b. Has qualitative smell testing been performed?</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Yes"/>            <xs:enumeration value="No"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="lsst:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="HISTORY_ENT_LOSS_OF_SMELL_SYMPTOMS_DT_TESTING_TYPE">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="lsst:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="HISTORY_ENT_LOSS_OF_SMELL_SYMPTOMS_DT_TESTING_DATE">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="lsst:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="HISTORY_ENT_LOSS_OF_SMELL_SYMPTOMS_DT_TESTING_RESULTS">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="lsst:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="HISTORY_ENT_LOSS_OF_SMELL_SYMPTOMS_DT_OTHER_SIGN">  <xs:annotation>     <xs:documentation>c. Are there any other significant diagnostic test findings and/or results?</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Yes"/>            <xs:enumeration value="No"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="lsst:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="HISTORY_ENT_LOSS_OF_SMELL_SYMPTOMS_DT_OTHER_SIGN_DESCRIBE">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="lsst:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="HISTORY_ENT_LOSS_OF_SMELL_FI">  <xs:annotation>     <xs:documentation>Does the Veteran's loss of sense of smell or taste impact on his or her ability to work?</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Yes"/>            <xs:enumeration value="No"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="lsst:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="HISTORY_ENT_LOSS_OF_SMELL_FI_DESCRIBE">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="lsst:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="HISTORY_ENT_LOSS_OF_SMELL_REMARKS">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="lsst:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ACE_1">  <xs:annotation>    <xs:documentation></xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="lsst:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ACE_2">  <xs:annotation>    <xs:documentation></xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="lsst:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ACE_3">  <xs:annotation>    <xs:documentation>Examination via approved video telehealth</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="lsst:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ACE_4">  <xs:annotation>    <xs:documentation>In-person examination</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="lsst:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ACE_5_RevRec_1">  <xs:annotation>     <xs:documentation>Was the Veteran's VA claims file reviewed?</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Yes"/>            <xs:enumeration value="No"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="lsst:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ACE_5_RevRec_2">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="lsst:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ACE_5_RevRec_3">  <xs:annotation>    <xs:documentation>Military service treatment records</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="lsst:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ACE_5_RevRec_4">  <xs:annotation>    <xs:documentation>Military service personnel records</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="lsst:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ACE_5_RevRec_5">  <xs:annotation>    <xs:documentation>Military enlistment examination</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="lsst:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ACE_5_RevRec_6">  <xs:annotation>    <xs:documentation>Military separation examination</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="lsst:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ACE_5_RevRec_7">  <xs:annotation>    <xs:documentation>Military post-deployment questionnaire</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="lsst:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ACE_5_RevRec_8">  <xs:annotation>    <xs:documentation>Department of Defense Form 214 Separation Documents</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="lsst:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ACE_5_RevRec_9">  <xs:annotation>    <xs:documentation>Veterans Health Administration medical records (VA treatment records)</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="lsst:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ACE_5_RevRec_10">  <xs:annotation>    <xs:documentation>Civilian medical records</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="lsst:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ACE_5_RevRec_11">  <xs:annotation>    <xs:documentation>Interviews with collateral witnesses (family and others who have known the Veteran before and after military service)</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="lsst:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ACE_5_RevRec_12">  <xs:annotation>    <xs:documentation>No records were reviewed</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="lsst:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ACE_5_RevRec_13">  <xs:annotation>    <xs:documentation>Other:</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="lsst:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ACE_5_RevRec_14">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="lsst:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="Anosmia">  <xs:annotation>    <xs:documentation>Anosmia (inability to detect any odor)</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="lsst:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
  </xs:all>  </xs:complexType>  <xs:element name="LossOfSenseOfSmellAndOrTasteForm" type="lsst:LossOfSenseOfSmellAndOrTasteFormType"/>  <xs:complexType name="Metadata">    <xs:all>      <xs:element name="code" type="xs:string"/>      <xs:element name="codeSystem" type="xs:string"/>      <xs:element name="version" type="xs:string"/>      <xs:element name="source" type="xs:string"/>    </xs:all>  </xs:complexType></xs:schema>
