legacy/Male_Reproductive_DBQ_v14_2_T2.pnl.xsd

<?xml version="1.0" encoding="UTF-8"?><xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:mrsc="http://vler.va.gov/vler/schemas/health/clinicalDocuments/clinicalAssessments/cpExams/1.3/MaleReproductiveSystemConditions" targetNamespace="http://vler.va.gov/vler/schemas/health/clinicalDocuments/clinicalAssessments/cpExams/1.3/MaleReproductiveSystemConditions" version="1.0">  <xs:complexType name="MaleReproductiveSystemConditionsFormType">  <xs:all>
<xs:element name="EXAMGROUP_GENERAL_Prostate_Residuals_Voiding_Dysfunction">  <xs:annotation>     <xs:documentation>Does the voiding dysfunction cause urine leakage?</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Yes"/>            <xs:enumeration value="No"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="mrsc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="MaleReproVoidingNighttime">  <xs:annotation>     <xs:documentation></xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Nighttime awakening to void 2 times"/>            <xs:enumeration value="Nighttime awakening to void 3 to 4 times"/>            <xs:enumeration value="Nighttime awakening to void 5 or more times"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="mrsc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAMGROUP_GU_MRO">  <xs:annotation>     <xs:documentation>Does the Veteran now have or has he ever been diagnosed with any conditions of the male reproductive system?</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Yes"/>            <xs:enumeration value="No"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="mrsc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAMGROUP_GU_MRO_Dx1">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="mrsc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAMGROUP_GU_MRO_ICD1">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="mrsc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAMGROUP_GU_MRO_Date1">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="mrsc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAMGROUP_GU_MRO_Dx2">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="mrsc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAMGROUP_GU_MRO_Date2">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="mrsc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAMGROUP_GU_MRO_Dx_Other">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="mrsc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAMGROUP_GU_MRO_Hx_Recurrent_UTI_etc">  <xs:annotation>     <xs:documentation>Does the Veteran have a history of chronic epididymitis, epididymo-orchitis or prostatitis?</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Yes"/>            <xs:enumeration value="No"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="mrsc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAMGROUP_GU_MRO_Hx_Recurrent_UTI_etc_Treatment_None">  <xs:annotation>    <xs:documentation>No treatment</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="mrsc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="MaleReproHospitalization">  <xs:annotation>    <xs:documentation>Recurrent symptomatic infection requiring drainage/frequent hospitalization</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="mrsc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="MaleReproHospitalizationFrequency1or2PerYear">  <xs:annotation>    <xs:documentation>1 or 2 per year</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="mrsc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="MaleReproHospitalizationFrequencyGreaterThan2PerYear">  <xs:annotation>    <xs:documentation>> 2 per year</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="mrsc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="MaleReproLongTermDrugTherapy">  <xs:annotation>    <xs:documentation>Long-term drug therapy</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="mrsc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="MaleReproContinuousIntensiveManagement">  <xs:annotation>    <xs:documentation>Continuous intensive management</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="mrsc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="MaleReproIntermittentIntensiveManagement">  <xs:annotation>    <xs:documentation>Intermittent intensive management</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="mrsc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAMGROUP_GU_MRO_Hx_Recurrent_UTI_etc_Treatment_Intensive_Management_DrugRx">  <xs:annotation>    <xs:documentation>Other, describe:</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="mrsc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAMGROUP_GU_MRO_Exam_Penis">  <xs:annotation>     <xs:documentation>a. Penis</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Normal"/>            <xs:enumeration value="Not examined per Veteran's request"/>            <xs:enumeration value="Not examined per Veteran's request; Veteran reports normal anatomy with no penile deformity or abnormality"/>            <xs:enumeration value="Not examined; penis exam not relevant to condition"/>            <xs:enumeration value="Abnormal"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="mrsc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="MaleReproExamPenisRemovalOfHalfOrMore">  <xs:annotation>    <xs:documentation>Loss/removal of half or more of penis</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="mrsc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="MaleReproExamPenisRemovalOfGlans">  <xs:annotation>    <xs:documentation>Loss/removal of glans penis</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="mrsc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="MaleReproExamPenisDeformity">  <xs:annotation>    <xs:documentation>Penis deformity (such as Peyronie's disease)</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="mrsc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAMGROUP_GU_MRO_Exam_Penis_Deformity_Describe">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="mrsc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAMGROUP_GU_MRO_Exam_Testes">  <xs:annotation>     <xs:documentation>b. Testes</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Normal"/>            <xs:enumeration value="Not examined per Veteran's request"/>            <xs:enumeration value="Not examined per Veteran's request; Veteran reports normal anatomy with no testicular deformity or abnormality"/>            <xs:enumeration value="Not examined; testicular exam not relevant to condition"/>            <xs:enumeration value="Abnormal"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="mrsc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="MaleReproExamTesticleHarderThanNormalRight">  <xs:annotation>    <xs:documentation>Considerably harder than normal</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="mrsc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="MaleReproExamTesticleSofterThanNormalRight">  <xs:annotation>    <xs:documentation>Considerably softer than normal</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="mrsc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="MaleReproExamTesticle1_2to1_3normalsizeRight">  <xs:annotation>    <xs:documentation>Size 1/2 to 1/3 of normal</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="mrsc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="MaleReproExamTesticle1_3orlessnormalsizeRight">  <xs:annotation>    <xs:documentation>Size 1/3 or less of normal</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="mrsc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="MaleReproExamTesticleAbsentRight">  <xs:annotation>    <xs:documentation>Absent</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="mrsc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAMGROUP_GU_MRO_Exam_Testes_Other">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="mrsc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAMGROUP_GU_MRO_Exam_Testes_Other_CB">  <xs:annotation>    <xs:documentation>Other abnormality,</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="mrsc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAMGROUP_GU_MRO_Exam_Prostate">  <xs:annotation>     <xs:documentation>d. Prostate</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Normal"/>            <xs:enumeration value="Not examined per Veteran's request"/>            <xs:enumeration value="Not examined; prostate exam not relevant to condition"/>            <xs:enumeration value="Abnormal"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="mrsc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAMGROUP_GU_MRO_Exam_Prostate_Abnormal">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="mrsc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAMGROUP_GU_MRO_Exam_Epididymitis">  <xs:annotation>     <xs:documentation>c. Epididymis</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Normal"/>            <xs:enumeration value="Not examined per Veteran's request"/>            <xs:enumeration value="Not examined per Veteran's request; Veteran reports normal anatomy of epididymis with no deformity or abnormality"/>            <xs:enumeration value="Not examined; epididymis exam not relevant to condition"/>            <xs:enumeration value="Abnormal"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="mrsc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAMGROUP_GU_MRO_Neoplasm">  <xs:annotation>     <xs:documentation>Does the Veteran have a benign or malignant neoplasm or metastases related to any of the diagnoses in the Diagnosis section?</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Yes"/>            <xs:enumeration value="No"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="mrsc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAMGROUP_GU_MRO_PE">  <xs:annotation>     <xs:documentation>b. Does the Veteran have any other pertinent physical findings, complications, conditions, signs or symptoms?</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Yes"/>            <xs:enumeration value="No"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="mrsc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAMGROUP_GU_MRO_PE_Describe">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="mrsc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAMGROUP_GU_MRO_Diagnostic">  <xs:annotation>     <xs:documentation>b. Have any other imaging studies, diagnostic procedures or laboratory testing been performed and are the results available?</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Yes"/>            <xs:enumeration value="No"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="mrsc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAMGROUP_GU_MRO_Diagnostic_Summary">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="mrsc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAMGROUP_GU_MRO_Functional">  <xs:annotation>     <xs:documentation>Does the Veteran's male reproductive system condition(s), including neoplasms, if any, impact his ability to work?</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Yes"/>            <xs:enumeration value="No"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="mrsc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAMGROUP_GU_MRO_Functional_Describe">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="mrsc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAMGROUP_GU_MRO_Remarks">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="mrsc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAMGROUP_GU_MRO_ICD2">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="mrsc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAMGROUP_GENERAL_Prostate_Residuals_Voiding_Dysfunction_RG">  <xs:annotation>     <xs:documentation>Does the Veteran have a voiding dysfunction?</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Yes"/>            <xs:enumeration value="No"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="mrsc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAMGROUP_GENERAL_Prostate_Residuals_Voiding_Dysfunction_Etiology">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="mrsc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="MaleReproAbsorbentMaterialFrequency">  <xs:annotation>     <xs:documentation>Indicate severity (check one):</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Does not require the wearing of absorbent material"/>            <xs:enumeration value="Requires absorbent material which must be changed less than 2 times per day"/>            <xs:enumeration value="Requires absorbent material which must be changed 2 to 4 times per day"/>            <xs:enumeration value="Requires absorbent material which must be changed more than 4 times per day"/>            <xs:enumeration value="Other, describe:"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="mrsc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAMGROUP_GENERAL_Prostate_Residuals_Voiding_Dysfunction_Type_Other_Describe">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="mrsc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="MaleReproUseOfAnAppliance">  <xs:annotation>     <xs:documentation>Does the voiding dysfunction require the use of an appliance?</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Yes"/>            <xs:enumeration value="No"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="mrsc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAMGROUP_GENERAL_Prostate_Residuals_Voiding_Dysfunction_Frequency">  <xs:annotation>     <xs:documentation>Does the voiding dysfunction cause increased urinary frequency?</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Yes"/>            <xs:enumeration value="No"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="mrsc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="MaleReproVoidingDaytime">  <xs:annotation>     <xs:documentation>If yes, check all that apply:</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Daytime voiding interval between 2 and 3 hours"/>            <xs:enumeration value="Daytime voiding interval between 1 and 2 hours"/>            <xs:enumeration value="Daytime voiding interval less than 1 hour"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="mrsc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="MaleReproVoidingDysfunctionSignsOrSymptomsOfObstructedVoiding">  <xs:annotation>     <xs:documentation>Does the voiding dysfunction cause signs or symptoms of obstructed voiding?</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Yes"/>            <xs:enumeration value="No"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="mrsc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="MaleReproHesitancy">  <xs:annotation>    <xs:documentation>Hesitancy</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="mrsc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAMGROUP_GENERAL_Prostate_Residuals_Voiding_Dysfunction_Obstruction_Hesitancy_Marked">  <xs:annotation>     <xs:documentation>If checked, is hesitancy marked?</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Yes"/>            <xs:enumeration value="No"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="mrsc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="MaleReproDecreasedForceOfStream">  <xs:annotation>    <xs:documentation>Decreased force of stream</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="mrsc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAMGROUP_GENERAL_Prostate_Residuals_Voiding_Dysfunction_Obstruction_Force_Marked">  <xs:annotation>     <xs:documentation>If checked, is force of stream markedly decreased?</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Yes"/>            <xs:enumeration value="No"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="mrsc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="MaleReproStrictureDiseaseRequiringDilatation1to2TimesPerYear">  <xs:annotation>    <xs:documentation>Stricture disease requiring dilatation 1 to 2 times per year</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="mrsc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="MaleReproStrictureDiseaseRequiringPeriodicDilatationEvery2to3Months">  <xs:annotation>    <xs:documentation>Stricture disease requiring periodic dilatation every 2 to 3 months</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="mrsc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="MaleReproRecurrentUrinaryTractInfectionsSecondaryToObstruction">  <xs:annotation>    <xs:documentation>Recurrent urinary tract infections secondary to obstruction</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="mrsc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="MaleReproMarkedlyDiminishedPeakFlowRateLessThan10cc">  <xs:annotation>    <xs:documentation>Uroflowmetry peak flow rate less than 10 cc/sec</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="mrsc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="MaleReproPostVoidResidualsGreaterThan150">  <xs:annotation>    <xs:documentation>Post void residuals greater than 150 cc</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="mrsc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="MaleReproUrinaryRetentionRequiringIntermittentCatheterization">  <xs:annotation>    <xs:documentation>Urinary retention requiring intermittent catheterization</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="mrsc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="MaleReproContinuousCatheterization">  <xs:annotation>    <xs:documentation>Urinary retention requiring continuous catheterization</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="mrsc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAMGROUP_GENERAL_Prostate_Residuals_Voiding_Dysfunction_Other">  <xs:annotation>    <xs:documentation>Other, describe:</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="mrsc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAMGROUP_GENERAL_Prostate_Residuals_Voiding_Dysfunction_Other_Describe">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="mrsc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="ErectileDysfunction">  <xs:annotation>    <xs:documentation>Erectile dysfunction</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="mrsc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAMGROUP_GU_MRO_ED_Date">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="mrsc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="PenisDeformity">  <xs:annotation>    <xs:documentation>Penis, deformity (e.g., Peyronie's)</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="mrsc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAMGROUP_GU_MRO_Penile_Abnormality_ICD">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="mrsc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAMGROUP_GU_MRO_Penile_Abnormality_Date">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="mrsc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="TestisRemoval">  <xs:annotation>    <xs:documentation>Testis, removal, one or both</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="mrsc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAMGROUP_GU_MRO_Testis_Removal_ICD">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="mrsc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAMGROUP_GU_MRO_Testis_Removal_Date">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="mrsc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="TestisAtrophy">  <xs:annotation>    <xs:documentation>Testis, atrophy, one or both</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="mrsc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAMGROUP_GU_MRO_Testis_Atrophy_ICD">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="mrsc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAMGROUP_GU_MRO_Testis_Atrophy_Date">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="mrsc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAMGROUP_GU_MRO_Epididymitis">  <xs:annotation>    <xs:documentation>Epididymitis, chronic</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="mrsc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAMGROUP_GU_MRO_Epididymitis_ICD">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="mrsc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAMGROUP_GU_MRO_Epididymitis_Date">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="mrsc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EpididymoOrchitisChronic">  <xs:annotation>    <xs:documentation>Epididymo-orchitis, chronic</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="mrsc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAMGROUP_GU_MRO_Epididymo_orchitis__chronic_ICD">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="mrsc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAMGROUP_GU_MRO_Epididymo_orchitis__chronic_Date">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="mrsc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAMGROUP_GU_MRO_Neoplasm_MROC">  <xs:annotation>    <xs:documentation>Neoplasms of the male reproductive system</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="mrsc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAMGROUP_GU_MRO_Neoplasm_MROC_ICD">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="mrsc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAMGROUP_GU_MRO_Neoplasm_MROC_Date">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="mrsc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAMGROUP_GU_MRO_Other">  <xs:annotation>    <xs:documentation>Other male reproductive system condition (specify diagnosis, providing only diagnoses that pertain to male reproductive system.)</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="mrsc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAMGROUP_GU_MRO_Hx_Treatment_Plan">  <xs:annotation>     <xs:documentation>b. Does the Veteran's treatment plan include taking continuous medication for the diagnosed condition?</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Yes"/>            <xs:enumeration value="No"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="mrsc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAMGROUP_GU_MRO_Hx_Treatment_Plan_Describe">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="mrsc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAMGROUP_GU_MRO_Hx_Treatment_Plan_Side_Effects_Summary">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="mrsc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="MaleReproErectileDysfunction">  <xs:annotation>     <xs:documentation>Does the Veteran have erectile dysfunction?</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Yes"/>            <xs:enumeration value="No"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="mrsc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAMGROUP_GENERAL_Prostate_Residuals_ED_Etiology_Memobox">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="mrsc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAMGROUP_GENERAL_Prostate_Residuals_ED_Related">  <xs:annotation>     <xs:documentation></xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Yes"/>            <xs:enumeration value="No"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="mrsc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="MaleReproLossOfErectilepowerWOMeds">  <xs:annotation>     <xs:documentation>c. If the Veteran has erectile dysfunction, is he able to achieve an erection sufficient for penetration and ejaculation (without medication)?</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Yes"/>            <xs:enumeration value="No"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="mrsc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="MaleReproAchieveErectionWithMeds">  <xs:annotation>     <xs:documentation>If no, is the Veteran able to achieve an erection sufficient for penetration and ejaculation (with medication)?</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Yes"/>            <xs:enumeration value="No"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="mrsc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAMGROUP_GENERAL_Prostate_Residuals_ED_Related_Not">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="mrsc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAMGROUP_GENERAL_Prostate_Residuals_Retrograde">  <xs:annotation>     <xs:documentation>Does the Veteran have retrograde ejaculation?</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Yes"/>            <xs:enumeration value="No"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="mrsc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAMGROUP_GENERAL_Prostate_Residuals_Retrograde_Etiology">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="mrsc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAMGROUP_GENERAL_MRO_Residuals_Retrograde_Yes">  <xs:annotation>     <xs:documentation></xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Yes"/>            <xs:enumeration value="No"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="mrsc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAMGROUP_GENERAL_MRO_Residuals_Retrograde_No">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="mrsc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAMGROUP_GU_MRO_Hx_Recurrent_UTI_etc_Treatment_Intensive_Management_Drug_summary">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="mrsc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAMGROUP_GU_MRO_Hx_Recurrent_UTI_etc_Treatment_Intensive_Management_Continuous_Types">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="mrsc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAMGROUP_GU_MRO_Hx_Recurrent_UTI_etc_Treatment_Intensive_Management_Intermittent_Summary">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="mrsc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAMGROUP_GU_MRO_Hx_Recurrent_UTI_etc_Treatment_Intensive_Management_Date_Summary">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="mrsc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAMGROUP_GU_MRO_Hx_Orch">  <xs:annotation>     <xs:documentation>c. Has the Veteran had an orchiectomy?</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Yes"/>            <xs:enumeration value="No"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="mrsc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAMGROUP_GU_MRO_Hx_Orch_Reason_Undescended">  <xs:annotation>    <xs:documentation>Undescended</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="mrsc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAMGROUP_GU_MRO_Hx_Orch_Reason_Undeveloped">  <xs:annotation>    <xs:documentation>Congenitally underdeveloped</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="mrsc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAMGROUP_GU_MRO_Hx_Orch_Reason_Other">  <xs:annotation>    <xs:documentation>Other: provide reason for removal:</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="mrsc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="MaleReproExamTesticle1_3orlessnormalsizeLeft">  <xs:annotation>    <xs:documentation>Size 1/3 or less of normal</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="mrsc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="MaleReproExamTesticle1_2to1_3normalsizeLeft">  <xs:annotation>    <xs:documentation>Size 1/2 to 1/3 of normal</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="mrsc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="MaleReproExamTesticleHarderThanNormalLeft">  <xs:annotation>    <xs:documentation>Considerably harder than normal</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="mrsc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAMGROUP_GU_MRO_Exam_Testes_Other_CB_Left">  <xs:annotation>    <xs:documentation>Other abnormality,</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="mrsc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="MaleReproExamTesticleAbsentLeft">  <xs:annotation>    <xs:documentation>Absent</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="mrsc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="MaleReproExamTesticleSofterThanNormalLeft">  <xs:annotation>    <xs:documentation>Considerably softer than normal</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="mrsc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAMGROUP_GU_MRO_Exam_Testes_Other_Left">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="mrsc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAMGROUP_GU_MRO_Exam_Epididymitis_Right_Tender">  <xs:annotation>    <xs:documentation>Tender to palpation</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="mrsc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAMGROUP_GU_MRO_Exam_Epididymitis_Right_Other">  <xs:annotation>    <xs:documentation>Other, describe:</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="mrsc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAMGROUP_GU_MRO_Exam_Epididymitis_Right_Other_Describe">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="mrsc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAMGROUP_GU_MRO_Exam_Epididymitis_Left_Tender">  <xs:annotation>    <xs:documentation>Tender to palpation</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="mrsc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAMGROUP_GU_MRO_Exam_Epididymitis_Left_Other">  <xs:annotation>    <xs:documentation>Other, describe:</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="mrsc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAMGROUP_GU_MRO_Exam_Epididymitis_Left_Other_Describe">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="mrsc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAMGROUP_GU_MRO_PE_Scars">  <xs:annotation>     <xs:documentation></xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Yes"/>            <xs:enumeration value="No"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="mrsc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAMGROUP_GU_MRO_Diagnostic_SpermBx">  <xs:annotation>     <xs:documentation>a. Has a testicular biopsy been performed?</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Yes"/>            <xs:enumeration value="No"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="mrsc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAMGROUP_GU_MRO_Diagnostic_SpermBx_Present">  <xs:annotation>     <xs:documentation>Results:</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Spermatozoa present"/>            <xs:enumeration value="Other, describe:"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="mrsc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAMGROUP_GU_MRO_Diagnostic_SpermBx_Present_Date">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="mrsc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="MaleReproNeoplasmStatus">  <xs:annotation>     <xs:documentation>a. Is the neoplasm</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Benign"/>            <xs:enumeration value="Malignant"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="mrsc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="MaleReproNeoplasmTx">  <xs:annotation>     <xs:documentation>b. Has the Veteran completed treatment or is the Veteran currently undergoing treatment for a benign or malignant neoplasm or metastases?</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Yes"/>            <xs:enumeration value="No; watchful waiting"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="mrsc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="MaleReproNeoplasmTxOtherTherapeuticTreatment">  <xs:annotation>    <xs:documentation>Other therapeutic treatment</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="mrsc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="MaleReproNeoplasmTxCompleted">  <xs:annotation>    <xs:documentation>Treatment completed; currently in watchful waiting status</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="mrsc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="MaleReproNeoplasmTxSurgery">  <xs:annotation>    <xs:documentation>Surgery</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="mrsc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAMGROUP_GU_MRO_Neoplasm_Treatment_Surgery_Describe">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="mrsc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAMGROUP_GU_MRO_Neoplasm_Treatment_Surgery_Dates">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="mrsc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="MaleReproNeoplasmTxRadiationTherapy">  <xs:annotation>    <xs:documentation>Radiation therapy</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="mrsc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAMGROUP_GU_MRO_Neoplasm_Treatment_Radiation_Dates">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="mrsc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAMGROUP_GU_MRO_Neoplasm_Treatment_Radiation_Date_Completed">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="mrsc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="MaleReproNeoplasmTxAntineoplasticChemotherapy">  <xs:annotation>    <xs:documentation>Antineoplastic chemotherapy</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="mrsc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAMGROUP_GU_MRO_Neoplasm_Treatment_Antineoplastic_Date">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="mrsc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAMGROUP_GU_MRO_Neoplasm_Treatment_Antineoplastic_Date_Completed">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="mrsc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="MaleReproNeoplasmTxOtherTherapeuticProcedure">  <xs:annotation>    <xs:documentation>Other therapeutic procedure</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="mrsc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAMGROUP_GU_MRO_Neoplasm_Treatment_Other_Describe">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="mrsc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAMGROUP_GU_MRO_Neoplasm_Treatment_Other_Date">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="mrsc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAMGROUP_GU_MRO_Neoplasm_Treatment_Other_Treatment_Describe">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="mrsc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAMGROUP_GU_MRO_Neoplasm_Treatment_Other_Treatment_Date">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="mrsc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAMGROUP_GU_MRO_Neoplasm_Treatment_Residuals">  <xs:annotation>     <xs:documentation></xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Yes"/>            <xs:enumeration value="No"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="mrsc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAMGROUP_GU_MRO_Neoplasm_Treatment_Residuals_Describe">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="mrsc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAMGROUP_GU_MRO_Neoplasm_Additional">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="mrsc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="MaleReproOrchiectomySide">  <xs:annotation>     <xs:documentation>Indicate testicle removed:</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Right"/>            <xs:enumeration value="Left"/>            <xs:enumeration value="Both"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="mrsc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAMGROUP_GU_MRO_PE_Scars_Size">  <xs:annotation>     <xs:documentation>If yes, are any of the scars painful and/or unstable, or is the total area of all related scars greater than 39 square cm (6 square inches)?</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Yes"/>            <xs:enumeration value="No"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="mrsc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAMGROUP_GU_MRO_Diagnostic_SpermBx_Present_Describe">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="mrsc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAMGROUP_GU_MRO_ED_ICD">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="mrsc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAMGROUP_CARDIO_IHD_Name">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="mrsc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAMGROUP_GU_MRO_Hx">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="mrsc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAMGROUP_GENERAL_Prostate_Residuals_Voiding_Dysfunction_Appliance_Describe">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="mrsc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ACE_1">  <xs:annotation>    <xs:documentation></xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="mrsc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ACE_2">  <xs:annotation>    <xs:documentation></xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="mrsc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ACE_3">  <xs:annotation>    <xs:documentation>Examination via approved video telehealth</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="mrsc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ACE_4">  <xs:annotation>    <xs:documentation>In-person examination</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="mrsc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ACE_5_RevRec_1">  <xs:annotation>     <xs:documentation>Was the Veteran's VA claims file reviewed?</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Yes"/>            <xs:enumeration value="No"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="mrsc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ACE_5_RevRec_2">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="mrsc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ACE_5_RevRec_3">  <xs:annotation>    <xs:documentation>Military service treatment records</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="mrsc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ACE_5_RevRec_4">  <xs:annotation>    <xs:documentation>Military service personnel records</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="mrsc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ACE_5_RevRec_5">  <xs:annotation>    <xs:documentation>Military enlistment examination</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="mrsc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ACE_5_RevRec_6">  <xs:annotation>    <xs:documentation>Military separation examination</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="mrsc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ACE_5_RevRec_7">  <xs:annotation>    <xs:documentation>Military post-deployment questionnaire</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="mrsc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ACE_5_RevRec_8">  <xs:annotation>    <xs:documentation>Department of Defense Form 214 Separation Documents</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="mrsc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ACE_5_RevRec_9">  <xs:annotation>    <xs:documentation>Veterans Health Administration medical records (VA treatment records)</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="mrsc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ACE_5_RevRec_10">  <xs:annotation>    <xs:documentation>Civilian medical records</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="mrsc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ACE_5_RevRec_11">  <xs:annotation>    <xs:documentation>Interviews with collateral witnesses (family and others who have known the Veteran before and after military service)</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="mrsc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ACE_5_RevRec_12">  <xs:annotation>    <xs:documentation>No records were reviewed</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="mrsc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ACE_5_RevRec_13">  <xs:annotation>    <xs:documentation>Other:</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="mrsc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ACE_5_RevRec_14">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="mrsc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="MaleReproNeoplasmActivity">  <xs:annotation>     <xs:documentation></xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Active"/>            <xs:enumeration value="In remission"/>            <xs:enumeration value="NA"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="mrsc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="ProstateGlandInjuries">  <xs:annotation>    <xs:documentation>Prostate gland injuries, infections, hypertrophy, post-operative residuals</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="mrsc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="ProstateGlandInjuriesDiagnosis">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="mrsc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="ProstateGlandInjuriesICD">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="mrsc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="ProstateGlandInjuriesDateOfDiagnosis">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="mrsc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="MaleReproObstructiveSymptoms">  <xs:annotation>     <xs:documentation>Are there any other obstructive symptoms?</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Yes"/>            <xs:enumeration value="No"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="mrsc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="MaleReproObstructiveSymptomsMarked">  <xs:annotation>     <xs:documentation>If yes, are they marked?</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Yes"/>            <xs:enumeration value="No"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="mrsc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="MaleReproObstructiveSymptomatologyWOStrictureDiseaseRequiringDilatation1to2TimesPerYear">  <xs:annotation>    <xs:documentation>Obstructive symptomatology without stricture disease requiring dilatation one to two times per year</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="mrsc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="MaleReproPostVoidResidualsGreaterThan150MarkedObstructive">  <xs:annotation>    <xs:documentation>Marked obstructive symptomatology</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="mrsc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="MaleReproRenalDysfunction">  <xs:annotation>     <xs:documentation>d. Is there any renal dysfunction due to condition?</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Yes"/>            <xs:enumeration value="No"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="mrsc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="MaleReproExamPenisRemovalLessThanHalf">  <xs:annotation>    <xs:documentation>Loss/removal of less than half</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="mrsc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="MaleReproCompleteAtrophyOfTesticleRight">  <xs:annotation>    <xs:documentation>Complete atrophy of</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="mrsc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="MaleReproCompleteAtrophyOfTesticleLeft">  <xs:annotation>    <xs:documentation>Complete atrophy of</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="mrsc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="MaleReproSlowStream">  <xs:annotation>    <xs:documentation>Slow stream</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="mrsc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="MaleReproMarkedlySlowStream">  <xs:annotation>     <xs:documentation>If checked, is stream markedly slow?</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Yes"/>            <xs:enumeration value="No"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="mrsc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="MaleReproWeakStream">  <xs:annotation>    <xs:documentation>Weak stream</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="mrsc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="MaleReproMarkedlyWeakStream">  <xs:annotation>     <xs:documentation>If checked, is stream markedly weak?</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Yes"/>            <xs:enumeration value="No"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="mrsc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
  </xs:all>  </xs:complexType>  <xs:element name="MaleReproductiveSystemConditionsForm" type="mrsc:MaleReproductiveSystemConditionsFormType"/>  <xs:complexType name="Metadata">    <xs:all>      <xs:element name="code" type="xs:string"/>      <xs:element name="codeSystem" type="xs:string"/>      <xs:element name="version" type="xs:string"/>      <xs:element name="source" type="xs:string"/>    </xs:all>  </xs:complexType></xs:schema>
