legacy/Neck_(Cervical_Spine)_DBQ_v13_9.pnl.xsd

<?xml version="1.0" encoding="UTF-8"?><xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ncsd="http://vler.va.gov/vler/schemas/health/clinicalDocuments/clinicalAssessments/cpExams/1.3/NeckCervicalSpineDisability" targetNamespace="http://vler.va.gov/vler/schemas/health/clinicalDocuments/clinicalAssessments/cpExams/1.3/NeckCervicalSpineDisability" version="1.0">  <xs:complexType name="NeckCervicalSpineDisabilityFormType">  <xs:all>
<xs:element name="EXAM_SPINE_OTH_NA">  <xs:annotation>     <xs:documentation></xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Yes"/>            <xs:enumeration value="No"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="ncsd:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="Facts_DiagnosisForVBMSratingSystem">  <xs:annotation>     <xs:documentation>Does the Veteran now have or has he/she ever been diagnosed with a cervical spine (neck) condition?</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Yes"/>            <xs:enumeration value="No"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="ncsd:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="HISTORY_SPINE_CERVICAL_1">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="ncsd:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="Facts_Joints_Flareups">  <xs:annotation>     <xs:documentation>Does the Veteran report that flare-ups impact the function of the cervical spine (neck)?</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Yes"/>            <xs:enumeration value="No"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="ncsd:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="HISTORY_SPINE_CERVICAL_3">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="ncsd:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_SPINE_ROM_NOT_NORM">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="ncsd:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_SPINE_ROM_VET_RUT">  <xs:annotation>     <xs:documentation>a. Is the Veteran able to perform repetitive-use testing with 3 repetitions?</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Yes"/>            <xs:enumeration value="No"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="ncsd:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_SPINE_ROM_VET_RUT_N">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="ncsd:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_SPINE_ROM_VET_AF_RUT">  <xs:annotation>     <xs:documentation>a. Does the Veteran have additional limitation in ROM of the cervical spine (neck) following repetitive-use testing?</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Yes"/>            <xs:enumeration value="No"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="ncsd:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="Facts_FlexionActual">  <xs:complexType>    <xs:all>      <xs:element name="Value">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="0"/>            <xs:enumeration value="5"/>            <xs:enumeration value="10"/>            <xs:enumeration value="15"/>            <xs:enumeration value="20"/>            <xs:enumeration value="25"/>            <xs:enumeration value="30"/>            <xs:enumeration value="35"/>            <xs:enumeration value="40"/>            <xs:enumeration value="45 or greater"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="ncsd:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_SPINE_ROM_FUNC_LOSS">  <xs:annotation>     <xs:documentation>b. Does the Veteran have any functional loss and/or functional impairment of the cervical spine (neck)?</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Yes"/>            <xs:enumeration value="No"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="ncsd:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_SPINE_ROM_FF_PM">  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="No objective evidence of painful motion"/>            <xs:enumeration value="0"/>            <xs:enumeration value="5"/>            <xs:enumeration value="10"/>            <xs:enumeration value="15"/>            <xs:enumeration value="20"/>            <xs:enumeration value="25"/>            <xs:enumeration value="30"/>            <xs:enumeration value="35"/>            <xs:enumeration value="40"/>            <xs:enumeration value="45 or greater"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="ncsd:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="Facts_ExtensionActual">  <xs:complexType>    <xs:all>      <xs:element name="Value">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="0"/>            <xs:enumeration value="5"/>            <xs:enumeration value="10"/>            <xs:enumeration value="15"/>            <xs:enumeration value="20"/>            <xs:enumeration value="25"/>            <xs:enumeration value="30"/>            <xs:enumeration value="35"/>            <xs:enumeration value="40"/>            <xs:enumeration value="45 or greater"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="ncsd:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_SPINE_ROM_EE_PM">  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="No objective evidence of painful motion"/>            <xs:enumeration value="0"/>            <xs:enumeration value="5"/>            <xs:enumeration value="10"/>            <xs:enumeration value="15"/>            <xs:enumeration value="20"/>            <xs:enumeration value="25"/>            <xs:enumeration value="30"/>            <xs:enumeration value="35"/>            <xs:enumeration value="40"/>            <xs:enumeration value="45 or greater"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="ncsd:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="Facts_RightLateralFlexionActual">  <xs:complexType>    <xs:all>      <xs:element name="Value">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="0"/>            <xs:enumeration value="5"/>            <xs:enumeration value="10"/>            <xs:enumeration value="15"/>            <xs:enumeration value="20"/>            <xs:enumeration value="25"/>            <xs:enumeration value="30"/>            <xs:enumeration value="35"/>            <xs:enumeration value="40"/>            <xs:enumeration value="45 or greater"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="ncsd:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_SPINE_ROM_RLF_PM">  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="No objective evidence of painful motion"/>            <xs:enumeration value="0"/>            <xs:enumeration value="5"/>            <xs:enumeration value="10"/>            <xs:enumeration value="15"/>            <xs:enumeration value="20"/>            <xs:enumeration value="25"/>            <xs:enumeration value="30"/>            <xs:enumeration value="35"/>            <xs:enumeration value="40"/>            <xs:enumeration value="45 or greater"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="ncsd:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="Facts_LeftLateralFlexionActual">  <xs:complexType>    <xs:all>      <xs:element name="Value">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="0"/>            <xs:enumeration value="5"/>            <xs:enumeration value="10"/>            <xs:enumeration value="15"/>            <xs:enumeration value="20"/>            <xs:enumeration value="25"/>            <xs:enumeration value="30"/>            <xs:enumeration value="35"/>            <xs:enumeration value="40"/>            <xs:enumeration value="45 or greater"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="ncsd:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_SPINE_ROM_LLF_PM">  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="No objective evidence of painful motion"/>            <xs:enumeration value="0"/>            <xs:enumeration value="5"/>            <xs:enumeration value="10"/>            <xs:enumeration value="15"/>            <xs:enumeration value="20"/>            <xs:enumeration value="25"/>            <xs:enumeration value="30"/>            <xs:enumeration value="35"/>            <xs:enumeration value="40"/>            <xs:enumeration value="45 or greater"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="ncsd:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="Facts_RightRotationActual">  <xs:complexType>    <xs:all>      <xs:element name="Value">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="0"/>            <xs:enumeration value="5"/>            <xs:enumeration value="10"/>            <xs:enumeration value="15"/>            <xs:enumeration value="20"/>            <xs:enumeration value="25"/>            <xs:enumeration value="30"/>            <xs:enumeration value="35"/>            <xs:enumeration value="40"/>            <xs:enumeration value="45"/>            <xs:enumeration value="50"/>            <xs:enumeration value="55"/>            <xs:enumeration value="60"/>            <xs:enumeration value="65"/>            <xs:enumeration value="70"/>            <xs:enumeration value="75"/>            <xs:enumeration value="80 or greater"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="ncsd:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_SPINE_ROM_RLR_PM">  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="No objective evidence of painful motion"/>            <xs:enumeration value="0"/>            <xs:enumeration value="5"/>            <xs:enumeration value="10"/>            <xs:enumeration value="15"/>            <xs:enumeration value="20"/>            <xs:enumeration value="25"/>            <xs:enumeration value="30"/>            <xs:enumeration value="35"/>            <xs:enumeration value="40"/>            <xs:enumeration value="45"/>            <xs:enumeration value="50"/>            <xs:enumeration value="55"/>            <xs:enumeration value="60"/>            <xs:enumeration value="65"/>            <xs:enumeration value="70"/>            <xs:enumeration value="75"/>            <xs:enumeration value="80 or greater"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="ncsd:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="Facts_LeftRotationActual">  <xs:complexType>    <xs:all>      <xs:element name="Value">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="0"/>            <xs:enumeration value="5"/>            <xs:enumeration value="10"/>            <xs:enumeration value="15"/>            <xs:enumeration value="20"/>            <xs:enumeration value="25"/>            <xs:enumeration value="30"/>            <xs:enumeration value="35"/>            <xs:enumeration value="40"/>            <xs:enumeration value="45"/>            <xs:enumeration value="50"/>            <xs:enumeration value="55"/>            <xs:enumeration value="60"/>            <xs:enumeration value="65"/>            <xs:enumeration value="70"/>            <xs:enumeration value="75"/>            <xs:enumeration value="80 or greater"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="ncsd:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_SPINE_ROM_LLR_PM">  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="No objective evidence of painful motion"/>            <xs:enumeration value="0"/>            <xs:enumeration value="5"/>            <xs:enumeration value="10"/>            <xs:enumeration value="15"/>            <xs:enumeration value="20"/>            <xs:enumeration value="25"/>            <xs:enumeration value="30"/>            <xs:enumeration value="35"/>            <xs:enumeration value="40"/>            <xs:enumeration value="45"/>            <xs:enumeration value="50"/>            <xs:enumeration value="55"/>            <xs:enumeration value="60"/>            <xs:enumeration value="65"/>            <xs:enumeration value="70"/>            <xs:enumeration value="75"/>            <xs:enumeration value="80 or greater"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="ncsd:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="Facts_FlexionDeluca">  <xs:complexType>    <xs:all>      <xs:element name="Value">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="0"/>            <xs:enumeration value="5"/>            <xs:enumeration value="10"/>            <xs:enumeration value="15"/>            <xs:enumeration value="20"/>            <xs:enumeration value="25"/>            <xs:enumeration value="30"/>            <xs:enumeration value="35"/>            <xs:enumeration value="40"/>            <xs:enumeration value="45 or greater"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="ncsd:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="Facts_ExtensionDeluca">  <xs:complexType>    <xs:all>      <xs:element name="Value">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="0"/>            <xs:enumeration value="5"/>            <xs:enumeration value="10"/>            <xs:enumeration value="15"/>            <xs:enumeration value="20"/>            <xs:enumeration value="25"/>            <xs:enumeration value="30"/>            <xs:enumeration value="35"/>            <xs:enumeration value="40"/>            <xs:enumeration value="45 or greater"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="ncsd:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="Facts_RightLateralFlexionDeluca">  <xs:complexType>    <xs:all>      <xs:element name="Value">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="0"/>            <xs:enumeration value="5"/>            <xs:enumeration value="10"/>            <xs:enumeration value="15"/>            <xs:enumeration value="20"/>            <xs:enumeration value="25"/>            <xs:enumeration value="30"/>            <xs:enumeration value="35"/>            <xs:enumeration value="40"/>            <xs:enumeration value="45 or greater"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="ncsd:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="Facts_LeftLateralFlexionDeluca">  <xs:complexType>    <xs:all>      <xs:element name="Value">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="0"/>            <xs:enumeration value="5"/>            <xs:enumeration value="10"/>            <xs:enumeration value="15"/>            <xs:enumeration value="20"/>            <xs:enumeration value="25"/>            <xs:enumeration value="30"/>            <xs:enumeration value="35"/>            <xs:enumeration value="40"/>            <xs:enumeration value="45 or greater"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="ncsd:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="Facts_RightRotationDeluca">  <xs:complexType>    <xs:all>      <xs:element name="Value">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="0"/>            <xs:enumeration value="5"/>            <xs:enumeration value="10"/>            <xs:enumeration value="15"/>            <xs:enumeration value="20"/>            <xs:enumeration value="25"/>            <xs:enumeration value="30"/>            <xs:enumeration value="35"/>            <xs:enumeration value="40"/>            <xs:enumeration value="45"/>            <xs:enumeration value="50"/>            <xs:enumeration value="55"/>            <xs:enumeration value="60"/>            <xs:enumeration value="65"/>            <xs:enumeration value="70"/>            <xs:enumeration value="75"/>            <xs:enumeration value="80 or greater"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="ncsd:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_SPINE_MST_EF_R">  <xs:annotation>     <xs:documentation></xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="5/5"/>            <xs:enumeration value="4/5"/>            <xs:enumeration value="3/5"/>            <xs:enumeration value="2/5"/>            <xs:enumeration value="1/5"/>            <xs:enumeration value="0/5"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="ncsd:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_SPINE_MST_EF_L">  <xs:annotation>     <xs:documentation></xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="5/5"/>            <xs:enumeration value="4/5"/>            <xs:enumeration value="3/5"/>            <xs:enumeration value="2/5"/>            <xs:enumeration value="1/5"/>            <xs:enumeration value="0/5"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="ncsd:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_SPINE_MST_EE_R">  <xs:annotation>     <xs:documentation></xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="5/5"/>            <xs:enumeration value="4/5"/>            <xs:enumeration value="3/5"/>            <xs:enumeration value="2/5"/>            <xs:enumeration value="1/5"/>            <xs:enumeration value="0/5"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="ncsd:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_SPINE_MST_EE_L">  <xs:annotation>     <xs:documentation></xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="5/5"/>            <xs:enumeration value="4/5"/>            <xs:enumeration value="3/5"/>            <xs:enumeration value="2/5"/>            <xs:enumeration value="1/5"/>            <xs:enumeration value="0/5"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="ncsd:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_SPINE_MST_WF_R">  <xs:annotation>     <xs:documentation></xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="5/5"/>            <xs:enumeration value="4/5"/>            <xs:enumeration value="3/5"/>            <xs:enumeration value="2/5"/>            <xs:enumeration value="1/5"/>            <xs:enumeration value="0/5"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="ncsd:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_SPINE_MST_WF_L">  <xs:annotation>     <xs:documentation></xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="5/5"/>            <xs:enumeration value="4/5"/>            <xs:enumeration value="3/5"/>            <xs:enumeration value="2/5"/>            <xs:enumeration value="1/5"/>            <xs:enumeration value="0/5"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="ncsd:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_SPINE_MST_WE_R">  <xs:annotation>     <xs:documentation></xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="5/5"/>            <xs:enumeration value="4/5"/>            <xs:enumeration value="3/5"/>            <xs:enumeration value="2/5"/>            <xs:enumeration value="1/5"/>            <xs:enumeration value="0/5"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="ncsd:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_SPINE_MST_WE_L">  <xs:annotation>     <xs:documentation></xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="5/5"/>            <xs:enumeration value="4/5"/>            <xs:enumeration value="3/5"/>            <xs:enumeration value="2/5"/>            <xs:enumeration value="1/5"/>            <xs:enumeration value="0/5"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="ncsd:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_SPINE_MST_FF_R">  <xs:annotation>     <xs:documentation></xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="5/5"/>            <xs:enumeration value="4/5"/>            <xs:enumeration value="3/5"/>            <xs:enumeration value="2/5"/>            <xs:enumeration value="1/5"/>            <xs:enumeration value="0/5"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="ncsd:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_SPINE_MST_FF_L">  <xs:annotation>     <xs:documentation></xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="5/5"/>            <xs:enumeration value="4/5"/>            <xs:enumeration value="3/5"/>            <xs:enumeration value="2/5"/>            <xs:enumeration value="1/5"/>            <xs:enumeration value="0/5"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="ncsd:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_SPINE_MUSC_ATRO_LOC">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="ncsd:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_SPINE_MUSC_ATRO_NS">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="ncsd:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_SPINE_MUSC_ATRO_AS">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="ncsd:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_SPINE_MST_FA_R">  <xs:annotation>     <xs:documentation></xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="5/5"/>            <xs:enumeration value="4/5"/>            <xs:enumeration value="3/5"/>            <xs:enumeration value="2/5"/>            <xs:enumeration value="1/5"/>            <xs:enumeration value="0/5"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="ncsd:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_SPINE_MST_FA_L">  <xs:annotation>     <xs:documentation></xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="5/5"/>            <xs:enumeration value="4/5"/>            <xs:enumeration value="3/5"/>            <xs:enumeration value="2/5"/>            <xs:enumeration value="1/5"/>            <xs:enumeration value="0/5"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="ncsd:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_SPINE_RE_BI_R">  <xs:annotation>     <xs:documentation></xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="0"/>            <xs:enumeration value="1+"/>            <xs:enumeration value="2+"/>            <xs:enumeration value="3+"/>            <xs:enumeration value="4+"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="ncsd:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_SPINE_RE_BI_L">  <xs:annotation>     <xs:documentation></xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="0"/>            <xs:enumeration value="1+"/>            <xs:enumeration value="2+"/>            <xs:enumeration value="3+"/>            <xs:enumeration value="4+"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="ncsd:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_SPINE_RE_TRI_R">  <xs:annotation>     <xs:documentation></xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="0"/>            <xs:enumeration value="1+"/>            <xs:enumeration value="2+"/>            <xs:enumeration value="3+"/>            <xs:enumeration value="4+"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="ncsd:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_SPINE_RE_TRI_L">  <xs:annotation>     <xs:documentation></xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="0"/>            <xs:enumeration value="1+"/>            <xs:enumeration value="2+"/>            <xs:enumeration value="3+"/>            <xs:enumeration value="4+"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="ncsd:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_SPINE_RE_BRACH_R">  <xs:annotation>     <xs:documentation></xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="0"/>            <xs:enumeration value="1+"/>            <xs:enumeration value="2+"/>            <xs:enumeration value="3+"/>            <xs:enumeration value="4+"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="ncsd:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_SPINE_RE_BRACH_L">  <xs:annotation>     <xs:documentation></xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="0"/>            <xs:enumeration value="1+"/>            <xs:enumeration value="2+"/>            <xs:enumeration value="3+"/>            <xs:enumeration value="4+"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="ncsd:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_SPINE_SE_SA_R">  <xs:annotation>     <xs:documentation></xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Normal"/>            <xs:enumeration value="Decreased"/>            <xs:enumeration value="Absent"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="ncsd:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_SPINE_SE_SA_L">  <xs:annotation>     <xs:documentation></xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Normal"/>            <xs:enumeration value="Decreased"/>            <xs:enumeration value="Absent"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="ncsd:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_SPINE_SE_FA_R">  <xs:annotation>     <xs:documentation></xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Normal"/>            <xs:enumeration value="Decreased"/>            <xs:enumeration value="Absent"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="ncsd:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_SPINE_SE_FA_L">  <xs:annotation>     <xs:documentation></xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Normal"/>            <xs:enumeration value="Decreased"/>            <xs:enumeration value="Absent"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="ncsd:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_SPINE_SE_HF_R">  <xs:annotation>     <xs:documentation></xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Normal"/>            <xs:enumeration value="Decreased"/>            <xs:enumeration value="Absent"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="ncsd:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_SPINE_SE_HF_L">  <xs:annotation>     <xs:documentation></xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Normal"/>            <xs:enumeration value="Decreased"/>            <xs:enumeration value="Absent"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="ncsd:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_SPINE_RADI_SS">  <xs:annotation>     <xs:documentation>Does the Veteran have radicular pain or any other signs or symptoms due to radiculopathy?</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Yes"/>            <xs:enumeration value="No"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="ncsd:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_SPINE_RADI_CP_RU">  <xs:annotation>     <xs:documentation></xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="None"/>            <xs:enumeration value="Mild"/>            <xs:enumeration value="Moderate"/>            <xs:enumeration value="Severe"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="ncsd:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_SPINE_RADI_CP_LU">  <xs:annotation>     <xs:documentation></xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="None"/>            <xs:enumeration value="Mild"/>            <xs:enumeration value="Moderate"/>            <xs:enumeration value="Severe"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="ncsd:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_SPINE_RADI_IP_RU">  <xs:annotation>     <xs:documentation></xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="None"/>            <xs:enumeration value="Mild"/>            <xs:enumeration value="Moderate"/>            <xs:enumeration value="Severe"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="ncsd:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_SPINE_RADI_IP_LU">  <xs:annotation>     <xs:documentation></xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="None"/>            <xs:enumeration value="Mild"/>            <xs:enumeration value="Moderate"/>            <xs:enumeration value="Severe"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="ncsd:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_SPINE_RADI_P_RU">  <xs:annotation>     <xs:documentation></xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="None"/>            <xs:enumeration value="Mild"/>            <xs:enumeration value="Moderate"/>            <xs:enumeration value="Severe"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="ncsd:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_SPINE_RADI_P_LU">  <xs:annotation>     <xs:documentation></xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="None"/>            <xs:enumeration value="Mild"/>            <xs:enumeration value="Moderate"/>            <xs:enumeration value="Severe"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="ncsd:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_SPINE_RADI_N_RU">  <xs:annotation>     <xs:documentation></xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="None"/>            <xs:enumeration value="Mild"/>            <xs:enumeration value="Moderate"/>            <xs:enumeration value="Severe"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="ncsd:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_SPINE_RADI_N_LU">  <xs:annotation>     <xs:documentation></xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="None"/>            <xs:enumeration value="Mild"/>            <xs:enumeration value="Moderate"/>            <xs:enumeration value="Severe"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="ncsd:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_SPINE_SE_OTH">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="ncsd:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_SPINE_OTH_NA_Y">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="ncsd:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="IVDS_Diagnosis">  <xs:annotation>     <xs:documentation>a. Does the Veteran have IVDS of the cervical spine?</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Yes"/>            <xs:enumeration value="No"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="ncsd:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_SPINE_AD">  <xs:annotation>     <xs:documentation>a. Does the Veteran use any assistive device(s) as a normal mode of locomotion, although occasional locomotion by other methods may be possible?</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Yes"/>            <xs:enumeration value="No"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="ncsd:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_SPINE_AD_WH">  <xs:annotation>    <xs:documentation>Wheelchair</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="ncsd:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_SPINE_AD_BR">  <xs:annotation>    <xs:documentation>Brace(s)</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="ncsd:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_SPINE_AD_CR">  <xs:annotation>    <xs:documentation>Crutch(es)</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="ncsd:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_SPINE_AD_CA">  <xs:annotation>    <xs:documentation>Cane(s)</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="ncsd:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_SPINE_AD_WA">  <xs:annotation>    <xs:documentation>Walker</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="ncsd:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_SPINE_AD_WH_FOU">  <xs:annotation>     <xs:documentation></xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Occasional"/>            <xs:enumeration value="Regular"/>            <xs:enumeration value="Constant"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="ncsd:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_SPINE_AD_BR_FOU">  <xs:annotation>     <xs:documentation></xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Occasional"/>            <xs:enumeration value="Regular"/>            <xs:enumeration value="Constant"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="ncsd:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_SPINE_AD_OTH">  <xs:annotation>    <xs:documentation>Other:</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="ncsd:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_SPINE_AD_OTH_FI">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="ncsd:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_SPINE_AD_CR_FOU">  <xs:annotation>     <xs:documentation></xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Occasional"/>            <xs:enumeration value="Regular"/>            <xs:enumeration value="Constant"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="ncsd:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_SPINE_AD_CA_FOU">  <xs:annotation>     <xs:documentation></xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Occasional"/>            <xs:enumeration value="Regular"/>            <xs:enumeration value="Constant"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="ncsd:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_SPINE_AD_WA_FOU">  <xs:annotation>     <xs:documentation></xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Occasional"/>            <xs:enumeration value="Regular"/>            <xs:enumeration value="Constant"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="ncsd:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_SPINE_AD_OTH_FOU">  <xs:annotation>     <xs:documentation></xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Occasional"/>            <xs:enumeration value="Regular"/>            <xs:enumeration value="Constant"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="ncsd:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_SPINE_AD_SP">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="ncsd:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_SPINE_OPP_1_Y">  <xs:annotation>     <xs:documentation></xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Yes"/>            <xs:enumeration value="No"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="ncsd:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_SPINE_OPP_2">  <xs:annotation>     <xs:documentation>b. Does the Veteran have any other pertinent physical findings, complications, conditions, signs or symptoms?</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Yes"/>            <xs:enumeration value="No"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="ncsd:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_SPINE_OPP_2_Y">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="ncsd:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="TESTS_SPINE_DT_1">  <xs:annotation>     <xs:documentation>a. Have imaging studies of the cervical spine been performed and are the results available?</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Yes"/>            <xs:enumeration value="No"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="ncsd:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="TESTS_SPINE_DT_1_Y">  <xs:annotation>     <xs:documentation></xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Yes"/>            <xs:enumeration value="No"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="ncsd:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="TESTS_SPINE_DT_3">  <xs:annotation>     <xs:documentation>c. Are there any other significant diagnostic test findings and/or results?</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Yes"/>            <xs:enumeration value="No"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="ncsd:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="TESTS_SPINE_DT_3_Y">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="ncsd:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_SPINE_FI_1">  <xs:annotation>     <xs:documentation>Does the Veteran's cervical spine (neck) condition impact on his or her ability to work?</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Yes"/>            <xs:enumeration value="No"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="ncsd:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_SPINE_FI_1_Y">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="ncsd:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_SPINE_REMARKS">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="ncsd:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_SPINE_ROM_FL_LESSMOVEMENT">  <xs:annotation>    <xs:documentation>Less movement than normal</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="ncsd:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="Facts_Joints_Weakness">  <xs:annotation>    <xs:documentation>Weakened movement</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="ncsd:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="Facts_Joints_Fatigue">  <xs:annotation>    <xs:documentation>Excess fatigability</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="ncsd:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="Facts_Joints_Incoordination">  <xs:annotation>    <xs:documentation>Incoordination, impaired ability to execute skilled movements smoothly</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="ncsd:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="Facts_Joints_Pain">  <xs:annotation>    <xs:documentation>Pain on movement</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="ncsd:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_SPINE_ROM_FL_SWELLING">  <xs:annotation>    <xs:documentation>Swelling</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="ncsd:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_SPINE_ROM_FL_DEFORMITY">  <xs:annotation>    <xs:documentation>Deformity</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="ncsd:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_SPINE_ROM_FL_ATROPHY">  <xs:annotation>    <xs:documentation>Atrophy of disuse</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="ncsd:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_SPINE_ROM_FL_INSTABILITY">  <xs:annotation>    <xs:documentation>Instability of station</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="ncsd:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_SPINE_ROM_FL_DISTURB">  <xs:annotation>    <xs:documentation>Disturbance of locomotion</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="ncsd:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_SPINE_ROM_FL_INTERFERENCE">  <xs:annotation>    <xs:documentation>Interference with sitting, standing and /or weight-bearing</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="ncsd:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_SPINE_ROM_FL_OTHER">  <xs:annotation>    <xs:documentation>Other, describe:</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="ncsd:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_SPINE_ROM_FL_OTHER_FILLIN">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="ncsd:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_SPINE_RADI_CB_URG">  <xs:annotation>    <xs:documentation>Involvement of C5/C6 nerve roots (upper radicular group)</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="ncsd:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_SPINE_RADI_CB_MRG">  <xs:annotation>    <xs:documentation>Involvement of C7 nerve roots (middle radicular group)</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="ncsd:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_SPINE_RADI_CB_LRG">  <xs:annotation>    <xs:documentation>Involvement of C8/T1 nerve roots (lower radicular group)</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="ncsd:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_SPINE_OPP_1">  <xs:annotation>     <xs:documentation></xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Yes"/>            <xs:enumeration value="No"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="ncsd:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="DIAGNOSIS_SPINE_CERVICAL_DIAGNOSIS_1">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="ncsd:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="DIAGNOSIS_SPINE_CERVICAL_ICD_CODE_1">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="ncsd:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="DIAGNOSIS_SPINE_CERVICAL_DATE_1">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="ncsd:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="DIAGNOSIS_SPINE_CERVICAL_DIAGNOSIS_2">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="ncsd:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="DIAGNOSIS_SPINE_CERVICAL_ICD_CODE_2">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="ncsd:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="DIAGNOSIS_SPINE_CERVICAL_DATE_2">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="ncsd:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="DIAGNOSIS_SPINE_CERVICAL_DIAGNOSIS_3">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="ncsd:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="DIAGNOSIS_SPINE_CERVICAL_ICD_CODE_3">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="ncsd:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="DIAGNOSIS_SPINE_CERVICAL_DATE_3">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="ncsd:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="DIAGNOSIS_SPINE_CERVICAL_DIAGNOSIS_MEMO_BOX">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="ncsd:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="Facts_LeftRotationDeluca">  <xs:complexType>    <xs:all>      <xs:element name="Value">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="0"/>            <xs:enumeration value="5"/>            <xs:enumeration value="10"/>            <xs:enumeration value="15"/>            <xs:enumeration value="20"/>            <xs:enumeration value="25"/>            <xs:enumeration value="30"/>            <xs:enumeration value="35"/>            <xs:enumeration value="40"/>            <xs:enumeration value="45"/>            <xs:enumeration value="50"/>            <xs:enumeration value="55"/>            <xs:enumeration value="60"/>            <xs:enumeration value="65"/>            <xs:enumeration value="70"/>            <xs:enumeration value="75"/>            <xs:enumeration value="80 or greater"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="ncsd:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_SPINE_IVDS_Y1">  <xs:annotation>     <xs:documentation>b. If yes, has the  Veteran had any incapacitating episodes over the past 12 months due to IVDS?</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Yes"/>            <xs:enumeration value="No"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="ncsd:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_SPINE_REF_UPPER_R">  <xs:annotation>    <xs:documentation>Right upper</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="ncsd:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_SPINE_REF_UPPER_L">  <xs:annotation>    <xs:documentation>Left upper</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="ncsd:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_SPINE_ROM_FL_MOREMOVEMENT">  <xs:annotation>    <xs:documentation>More movement than normal</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="ncsd:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_SPINE_REF_CB_1">  <xs:annotation>    <xs:documentation>Yes, functioning is so diminished that amputation with prosthesis would equally serve the Veteran.</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="ncsd:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_SPINE_REF_CB_2">  <xs:annotation>    <xs:documentation>No</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="ncsd:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_SPINE_RADI_SSA_R">  <xs:annotation>     <xs:documentation></xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Not affected"/>            <xs:enumeration value="Mild"/>            <xs:enumeration value="Moderate"/>            <xs:enumeration value="Severe"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="ncsd:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_SPINE_RADI_SSA_L">  <xs:annotation>     <xs:documentation></xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Not affected"/>            <xs:enumeration value="Mild"/>            <xs:enumeration value="Moderate"/>            <xs:enumeration value="Severe"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="ncsd:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAMGROUP_CARDIO_IHD_Name">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="ncsd:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ACE_1">  <xs:annotation>    <xs:documentation></xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="ncsd:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ACE_2">  <xs:annotation>    <xs:documentation></xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="ncsd:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ACE_3">  <xs:annotation>    <xs:documentation>Examination via approved video telehealth</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="ncsd:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ACE_4">  <xs:annotation>    <xs:documentation>In-person examination</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="ncsd:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ACE_5_RevRec_1">  <xs:annotation>     <xs:documentation>Was the Veteran's VA claims file reviewed?</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Yes"/>            <xs:enumeration value="No"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="ncsd:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ACE_5_RevRec_2">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="ncsd:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ACE_5_RevRec_3">  <xs:annotation>    <xs:documentation>Military service treatment records</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="ncsd:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ACE_5_RevRec_4">  <xs:annotation>    <xs:documentation>Military service personnel records</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="ncsd:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ACE_5_RevRec_5">  <xs:annotation>    <xs:documentation>Military enlistment examination</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="ncsd:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ACE_5_RevRec_6">  <xs:annotation>    <xs:documentation>Military separation examination</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="ncsd:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ACE_5_RevRec_7">  <xs:annotation>    <xs:documentation>Military post-deployment questionnaire</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="ncsd:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ACE_5_RevRec_8">  <xs:annotation>    <xs:documentation>Department of Defense Form 214 Separation Documents</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="ncsd:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ACE_5_RevRec_9">  <xs:annotation>    <xs:documentation>Veterans Health Administration medical records (VA treatment records)</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="ncsd:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ACE_5_RevRec_10">  <xs:annotation>    <xs:documentation>Civilian medical records</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="ncsd:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ACE_5_RevRec_11">  <xs:annotation>    <xs:documentation>Interviews with collateral witnesses (family and others who have known the Veteran before and after military service)</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="ncsd:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ACE_5_RevRec_12">  <xs:annotation>    <xs:documentation>No records were reviewed</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="ncsd:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ACE_5_RevRec_13">  <xs:annotation>    <xs:documentation>Other:</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="ncsd:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ACE_5_RevRec_14">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="ncsd:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="Facts_UnfavorableAnkylosisOfTheEntireCervicalSpine">  <xs:annotation>    <xs:documentation>Unfavorable ankylosis of the entire cervical spine</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="ncsd:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="Facts_UnfavorableAnkylosisOfTheEntireSpine">  <xs:annotation>    <xs:documentation>Unfavorable ankylosis of the entire spine</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="ncsd:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="Facts_MuscleSpasmNotResultingInAabnormalGaitOrSpinalContour">  <xs:annotation>     <xs:documentation>c. Does the Veteran have muscle spasms of the cervical spine not resulting in abnormal gait or abnormal spinal countour?</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Yes"/>            <xs:enumeration value="No"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="ncsd:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="Facts_MuscleSpasmsExistButNotResultingInAbnormalGaitOrSpinalContour">  <xs:annotation>     <xs:documentation>b. Does the Veteran have muscle spasm of the cervical spine resulting in abnormal gait or abnormal spinal countour?</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Yes"/>            <xs:enumeration value="No"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="ncsd:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="Facts_GuardingSevereEnoughToResultInAnAbnormalGaitOrSpinalContour">  <xs:annotation>     <xs:documentation>d. Does the Veteran have guarding of the cervical spine resulting in abnormal gait or abnormal spinal countour?</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Yes"/>            <xs:enumeration value="No"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="ncsd:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="Facts_VertebralBodyFractureWithLossOf50PercentOrMoreOfTheHeight">  <xs:annotation>     <xs:documentation>b. Does the Veteran have a vertebral fracture with loss of 50 percent or more of height?</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Yes"/>            <xs:enumeration value="No"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="ncsd:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="Facts_Joints_Lack_Of_Endurance">  <xs:annotation>    <xs:documentation>Lack of endurance</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="ncsd:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="Facts_IntervertebralDiscSyndrome">  <xs:complexType>    <xs:all>      <xs:element name="Values">        <xs:complexType>          <xs:choice>            <xs:element name="Selected" nillable="true">              <xs:simpleType>                <xs:restriction base="xs:string">                  <xs:enumeration value="With incapacitating episodes having a total duration of at least six weeks during the past 12 months"/>                  <xs:enumeration value="With incapacitating episodes having a total duration of at least four weeks but less than six weeks during the past 12 months"/>                  <xs:enumeration value="With incapacitating episodes having a total duration of at least two weeks but less than four weeks during the past 12 months"/>                  <xs:enumeration value="With incapacitating episodes having a total duration of at least one week but less than two weeks during the past 12 months"/>                  <xs:enumeration value="With no incapacitating episodes during the past 12 months"/>                </xs:restriction>              </xs:simpleType>            </xs:element>          </xs:choice>        </xs:complexType>      </xs:element>      <xs:element name="Metadata" type="ncsd:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="Facts_LocalizedTenderness">  <xs:annotation>     <xs:documentation>a. Does the Veteran have localized tenderness or pain to palpation for joints/soft tissue of the cervical spine (neck)?</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Yes"/>            <xs:enumeration value="No"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="ncsd:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_SPINE_Ankylosis_Unfavorable_spine_YN">  <xs:annotation>     <xs:documentation>Is there ankylosis of the spine?</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Yes"/>            <xs:enumeration value="No"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="ncsd:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_SPINE_RADI_SS_ADD_Y">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="ncsd:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_SPINE_RADI_SS_ADD">  <xs:annotation>     <xs:documentation>b. Does the Veteran have any other signs or symptoms of radiculopathy?</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Yes"/>            <xs:enumeration value="No"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="ncsd:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="Facts_GuardingResultingInAbnormalGaitOrSpinalContour">  <xs:annotation>     <xs:documentation>e. Does the Veteran have guarding of the cervical spine not resulting in abnormal gait or abnormal spinal countour?</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Yes"/>            <xs:enumeration value="No"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="ncsd:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="Facts_FavorableAnkylosisOfTheEntireCervicalSpine">  <xs:annotation>    <xs:documentation>Favorable ankylosis of the entire cervical spine</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="ncsd:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_SPINE_MUSC_ATRO">  <xs:annotation>     <xs:documentation>b. Does the Veteran have muscle atrophy?</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Yes"/>            <xs:enumeration value="No"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="ncsd:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="Facts_Joints_OtherDiagnosis">  <xs:complexType>    <xs:all>      <xs:element name="Values">        <xs:complexType>          <xs:choice maxOccurs="10">            <xs:element name="Selected" nillable="true">              <xs:simpleType>                <xs:restriction base="xs:string">                  <xs:enumeration value="Ankylosing spondylitis"/>                  <xs:enumeration value="Cervical strain"/>                  <xs:enumeration value="Degenerative arthritis of the spine"/>                  <xs:enumeration value="Intervertebral disc syndrome"/>                  <xs:enumeration value="Segmental instability"/>                  <xs:enumeration value="Spinal fusion"/>                  <xs:enumeration value="Spinal stenosis"/>                  <xs:enumeration value="Spondylolisthesis"/>                  <xs:enumeration value="Vertebral dislocation"/>                  <xs:enumeration value="Vertebral fracture"/>                </xs:restriction>              </xs:simpleType>            </xs:element>          </xs:choice>        </xs:complexType>      </xs:element>      <xs:element name="Metadata" type="ncsd:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="DIAGNOSIS_SPINE_CERVICAL_DIAGNOSIS_VBMS_Other">  <xs:annotation>    <xs:documentation>Other Diagnosis</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="ncsd:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
  </xs:all>  </xs:complexType>  <xs:element name="NeckCervicalSpineDisabilityForm" type="ncsd:NeckCervicalSpineDisabilityFormType"/>  <xs:complexType name="Metadata">    <xs:all>      <xs:element name="code" type="xs:string"/>      <xs:element name="codeSystem" type="xs:string"/>      <xs:element name="version" type="xs:string"/>      <xs:element name="source" type="xs:string"/>    </xs:all>  </xs:complexType></xs:schema>
