legacy/Nutritional_Deficiencies_DBQ_v13_2_T1.pnl.xsd

<?xml version="1.0" encoding="UTF-8"?><xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:nd="http://vler.va.gov/vler/schemas/health/clinicalDocuments/clinicalAssessments/cpExams/1.3/NutritionalDeficiencies" targetNamespace="http://vler.va.gov/vler/schemas/health/clinicalDocuments/clinicalAssessments/cpExams/1.3/NutritionalDeficiencies" version="1.0">  <xs:complexType name="NutritionalDeficienciesFormType">  <xs:all>
<xs:element name="EXAMGROUP_CARDIO_IHD_Name">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="nd:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="DIAGNOSIS_INFECT_NUTR_DIAGNOSIS">  <xs:annotation>     <xs:documentation>Does the Veteran now have or has he/she ever been diagnosed with a nutritional deficiency?</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Yes"/>            <xs:enumeration value="No"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="nd:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="DIAGNOSIS_INFECT_NUTR_AVITA">  <xs:annotation>    <xs:documentation>Avitaminosis</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="nd:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="DIAGNOSIS_INFECT_NUTR_B1">  <xs:annotation>    <xs:documentation>Beriberi (Vitamin B1 or thiamine deficiency)</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="nd:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="DIAGNOSIS_INFECT_NUTR_B3">  <xs:annotation>    <xs:documentation>Pellegra (Vitamin B3 or niacin deficiency)</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="nd:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="DIAGNOSIS_INFECT_NUTR_OTHER">  <xs:annotation>    <xs:documentation>Other nutritional deficiency condition:</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="nd:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="DIAGNOSIS_INFECT_NUTR_OTHER_1">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="nd:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="DIAGNOSIS_INFECT_NUTR_OTHER_1_ICD">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="nd:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="DIAGNOSIS_INFECT_NUTR_OTHER_1_DATE">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="nd:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="DIAGNOSIS_INFECT_NUTR_OTHER_2">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="nd:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="DIAGNOSIS_INFECT_NUTR_OTHER_2_ICD">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="nd:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="DIAGNOSIS_INFECT_NUTR_OTHER_2_DATE">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="nd:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="DIAGNOSIS_INFECT_NUTR_ADDITIONAL">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="nd:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="HISTORY_INFECT_NUTR_DESCRIBE">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="nd:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="HISTORY_INFECT_NUTR_MEDS">  <xs:annotation>     <xs:documentation>b. Does the Veteran's nutritional deficiency condition require continuous medications for control?</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Yes"/>            <xs:enumeration value="No"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="nd:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="HISTORY_INFECT_NUTR_MEDS_DESCRIBE">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="nd:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_INFECT_NUTR_FINDINGS">  <xs:annotation>     <xs:documentation>a. Does the Veteran have any findings, signs or symptoms attributable to pellagra or avitaminosis?</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Yes"/>            <xs:enumeration value="No"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="nd:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_INFECT_NUTR_FINDINGS_SEVERITY_OTHER">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="nd:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_INFECT_NUTR_FINDINGS_BERI">  <xs:annotation>     <xs:documentation>b. Does the Veteran have any findings, signs or symptoms attributable to active beriberi?</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Yes"/>            <xs:enumeration value="No"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="nd:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_INFECT_NUTR_FINDINGS_BERI_SEVERITY_OTHER">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="nd:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_INFECT_NUTR_FINDINGS_BERI_RESIDUALS">  <xs:annotation>     <xs:documentation>c. Does the Veteran have any findings, signs or symptoms attributable to residuals of beriberi?</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Yes"/>            <xs:enumeration value="No"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="nd:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_INFECT_NUTR_FINDINGS_BERI_RESIDUALS_DESCRIBE">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="nd:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_INFECT_NUTR_FINDINGS_VITAMINS">  <xs:annotation>     <xs:documentation>d. Does the Veteran have any findings, signs or symptoms attributable to conditions or residuals caused by any other vitamin deficiency?</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Yes"/>            <xs:enumeration value="No"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="nd:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_INFECT_NUTR_FINDINGS_VITAMINS_DESCRIBE">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="nd:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_INFECT_NUTR_OPP_SCARS">  <xs:annotation>     <xs:documentation></xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Yes"/>            <xs:enumeration value="No"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="nd:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_INFECT_NUTR_OPP_SCARS_YES">  <xs:annotation>     <xs:documentation>If yes, are any of the scars painful and/or unstable, or is the total area of all related scars greater than 39 square cm (6 square inches)?</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Yes"/>            <xs:enumeration value="No"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="nd:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_INFECT_NUTR_OPP_OTHER_PERT">  <xs:annotation>     <xs:documentation></xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Yes"/>            <xs:enumeration value="No"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="nd:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_INFECT_NUTR_OPP_OTHER_PERT_DESCRIBE">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="nd:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_INFECT_NUTR_DT">  <xs:annotation>     <xs:documentation>Are there any significant diagnostic test findings and/or results?</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Yes"/>            <xs:enumeration value="No"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="nd:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_INFECT_NUTR_DT_DESCRIBE">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="nd:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_INFECT_NUTR_FI">  <xs:annotation>     <xs:documentation>Does the Veteran's nutritional deficiency condition(s) impact his or her ability to work?</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Yes"/>            <xs:enumeration value="No"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="nd:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_INFECT_NUTR_FI_DESCRIBE">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="nd:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_INFECT_NUTR_REMARKS">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="nd:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_INFECT_NUTR_FINDINGS_BERI_SIGNS">  <xs:complexType>    <xs:all>      <xs:element name="Values">        <xs:complexType>          <xs:choice maxOccurs="6">            <xs:element name="Selected" nillable="true">              <xs:simpleType>                <xs:restriction base="xs:string">                  <xs:enumeration value="Peripheral neuropathy with absent knee or ankle jerks and loss of sensation"/>                  <xs:enumeration value="Symptoms such as weakness, fatigue, anorexia, dizziness, heaviness and stiffness of legs, headache or sleep disturbance"/>                  <xs:enumeration value="Cardiomegaly"/>                  <xs:enumeration value="Peripheral neuropathy with foot drop or atrophy of thigh or calf muscles"/>                  <xs:enumeration value="Congestive heart failure, anasarca or Wernicke-Korsakoff syndrome"/>                  <xs:enumeration value="Other"/>                </xs:restriction>              </xs:simpleType>            </xs:element>          </xs:choice>        </xs:complexType>      </xs:element>      <xs:element name="Metadata" type="nd:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_INFECT_NUTR_FINDINGS_PELLAGRA">  <xs:complexType>    <xs:all>      <xs:element name="Values">        <xs:complexType>          <xs:choice maxOccurs="10">            <xs:element name="Selected" nillable="true">              <xs:simpleType>                <xs:restriction base="xs:string">                  <xs:enumeration value="Confirmed diagnosis"/>                  <xs:enumeration value="Nonspecific symptoms such as decreased appetite, weight loss, abdominal discomfort, weakness, inability to concentrate and irritability"/>                  <xs:enumeration value="Stomatitis"/>                  <xs:enumeration value="Achlorhydria"/>                  <xs:enumeration value="Diarrhea"/>                  <xs:enumeration value="Symmetrical dermatitis"/>                  <xs:enumeration value="Mental symptoms"/>                  <xs:enumeration value="Impaired bodily vigor"/>                  <xs:enumeration value="Marked mental changes, moist dermatitis, inability to retain nourishment, exhaustion and cachexia"/>                  <xs:enumeration value="Other"/>                </xs:restriction>              </xs:simpleType>            </xs:element>          </xs:choice>        </xs:complexType>      </xs:element>      <xs:element name="Metadata" type="nd:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ACE_1">  <xs:annotation>    <xs:documentation></xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="nd:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ACE_2">  <xs:annotation>    <xs:documentation></xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="nd:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ACE_3">  <xs:annotation>    <xs:documentation>Examination via approved video telehealth</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="nd:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ACE_4">  <xs:annotation>    <xs:documentation>In-person examination</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="nd:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ACE_5_RevRec_1">  <xs:annotation>     <xs:documentation>Was the Veteran's VA claims file reviewed?</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Yes"/>            <xs:enumeration value="No"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="nd:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ACE_5_RevRec_2">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="nd:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ACE_5_RevRec_3">  <xs:annotation>    <xs:documentation>Military service treatment records</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="nd:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ACE_5_RevRec_4">  <xs:annotation>    <xs:documentation>Military service personnel records</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="nd:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ACE_5_RevRec_5">  <xs:annotation>    <xs:documentation>Military enlistment examination</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="nd:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ACE_5_RevRec_6">  <xs:annotation>    <xs:documentation>Military separation examination</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="nd:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ACE_5_RevRec_7">  <xs:annotation>    <xs:documentation>Military post-deployment questionnaire</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="nd:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ACE_5_RevRec_8">  <xs:annotation>    <xs:documentation>Department of Defense Form 214 Separation Documents</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="nd:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ACE_5_RevRec_9">  <xs:annotation>    <xs:documentation>Veterans Health Administration medical records (VA treatment records)</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="nd:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ACE_5_RevRec_10">  <xs:annotation>    <xs:documentation>Civilian medical records</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="nd:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ACE_5_RevRec_11">  <xs:annotation>    <xs:documentation>Interviews with collateral witnesses (family and others who have known the Veteran before and after military service)</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="nd:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ACE_5_RevRec_12">  <xs:annotation>    <xs:documentation>No records were reviewed</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="nd:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ACE_5_RevRec_13">  <xs:annotation>    <xs:documentation>Other:</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="nd:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ACE_5_RevRec_14">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="nd:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
  </xs:all>  </xs:complexType>  <xs:element name="NutritionalDeficienciesForm" type="nd:NutritionalDeficienciesFormType"/>  <xs:complexType name="Metadata">    <xs:all>      <xs:element name="code" type="xs:string"/>      <xs:element name="codeSystem" type="xs:string"/>      <xs:element name="version" type="xs:string"/>      <xs:element name="source" type="xs:string"/>    </xs:all>  </xs:complexType></xs:schema>
