legacy/Parkinsons_DBQ_V13_1_T1.pnl.xsd

<?xml version="1.0" encoding="UTF-8"?><xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:pd="http://vler.va.gov/vler/schemas/health/clinicalDocuments/clinicalAssessments/cpExams/1.3/ParkinsonDisease" targetNamespace="http://vler.va.gov/vler/schemas/health/clinicalDocuments/clinicalAssessments/cpExams/1.3/ParkinsonDisease" version="1.0">  <xs:complexType name="ParkinsonDiseaseFormType">  <xs:all>
<xs:element name="EXAMGROUP_NEURO_Parkinsons_Motor_Autonomic">  <xs:annotation>     <xs:documentation>Loss of automatic movements (such as blinking, leading to fixed gaze; typical Parkinson's facies)</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="None"/>            <xs:enumeration value="Mild"/>            <xs:enumeration value="Moderate"/>            <xs:enumeration value="Severe"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="pd:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAMGROUP_NEURO_Parkinsons_Motor_Posture">  <xs:annotation>     <xs:documentation>Stooped Posture</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="None"/>            <xs:enumeration value="Mild"/>            <xs:enumeration value="Moderate"/>            <xs:enumeration value="Severe"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="pd:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAMGROUP_NEURO_Parkinsons_Motor_Balance_Impairment">  <xs:annotation>     <xs:documentation>Balance impairment</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="None"/>            <xs:enumeration value="Mild"/>            <xs:enumeration value="Moderate"/>            <xs:enumeration value="Severe"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="pd:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAMGROUP_NEURO_Parkinsons_Motor_Tremor">  <xs:annotation>     <xs:documentation>Tremor (characteristic hand shaking, "pill-rolling")</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Yes"/>            <xs:enumeration value="No"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="pd:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAMGROUP_NEURO_Parkinsons_Motor_Bradykinesia">  <xs:annotation>     <xs:documentation>Bradykinesia or slowed motion (difficulty initiating movement, "freezing," short shuffling steps)</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="None"/>            <xs:enumeration value="Mild"/>            <xs:enumeration value="Moderate"/>            <xs:enumeration value="Severe"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="pd:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAMGROUP_NEURO_Parkinsons_Motor_Muscle">  <xs:annotation>     <xs:documentation>Muscle rigidity and stiffness</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Yes"/>            <xs:enumeration value="No"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="pd:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAMGROUP_NEURO_Parkinsons_Motor_Speeck_Changes">  <xs:annotation>     <xs:documentation>Speech changes (monotone, slurring words, soft or rapid speech)</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="None"/>            <xs:enumeration value="Mild"/>            <xs:enumeration value="Moderate"/>            <xs:enumeration value="Severe"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="pd:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAMGROUP_NEURO_Parkinsons_Mental_Depression">  <xs:annotation>     <xs:documentation>Depression</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="None"/>            <xs:enumeration value="Mild"/>            <xs:enumeration value="Moderate"/>            <xs:enumeration value="Severe"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="pd:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAMGROUP_NEURO_Parkinsons_Mental_Cognitive">  <xs:annotation>     <xs:documentation>Cognitive impairment or dementia</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="None"/>            <xs:enumeration value="Mild"/>            <xs:enumeration value="Moderate"/>            <xs:enumeration value="Severe"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="pd:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAMGROUP_NEURO_Parkinsons_Other_Smell">  <xs:annotation>     <xs:documentation>Loss of sense of smell</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="None"/>            <xs:enumeration value="Partial"/>            <xs:enumeration value="Complete"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="pd:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAMGROUP_NEURO_Parkinsons_Other_Sleep">  <xs:annotation>     <xs:documentation>Sleep disturbance (insomnia or daytime "sleep attacks")</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="None"/>            <xs:enumeration value="Mild"/>            <xs:enumeration value="Moderate"/>            <xs:enumeration value="Severe"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="pd:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAMGROUP_NEURO_Parkinsons_Other_Chewing">  <xs:annotation>     <xs:documentation>Difficulty chewing/swallowing</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="None"/>            <xs:enumeration value="Mild"/>            <xs:enumeration value="Moderate"/>            <xs:enumeration value="Severe"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="pd:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAMGROUP_NEURO_Parkinsons_Other_Urinary_Frequency">  <xs:annotation>     <xs:documentation>Absorbent material required due to incontinence, specify pads/day:</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="0"/>            <xs:enumeration value="1"/>            <xs:enumeration value="2-4"/>            <xs:enumeration value=">4"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="pd:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAMGROUP_NEURO_Parkinsons_Other_Constipation">  <xs:annotation>     <xs:documentation>Constipation (due to slowing of GI tract or secondary to Parkinson's medications)</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="None"/>            <xs:enumeration value="Mild"/>            <xs:enumeration value="Moderate"/>            <xs:enumeration value="Severe"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="pd:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAMGROUP_NEURO_Parkinsons_Other_Sexual_Dysfunction">  <xs:annotation>     <xs:documentation>Sexual dysfunction</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="None"/>            <xs:enumeration value="Mild"/>            <xs:enumeration value="Moderate"/>            <xs:enumeration value="Severe (precludes intercourse)"/>            <xs:enumeration value="Erectile dysfunction precludes intercourse"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="pd:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAMGROUP_NEURO_Parkinsons_Other_Financial">  <xs:annotation>     <xs:documentation>In your judgment, is the Veteran able to manage his/her benefit payments in his/her own best interest, or able to direct someone else to do so?</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Yes"/>            <xs:enumeration value="No"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="pd:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAMGROUP_NEURO_Parkinsons_Other_Manifestations">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="pd:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAMGROUP_NEURO_Parkinsons_Symptoms_Other">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="pd:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAMGROUP_NEURO_Parkinsons">  <xs:annotation>     <xs:documentation>Does the Veteran now have or has he/she ever been diagnosed with Parkinson's disease?</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Yes"/>            <xs:enumeration value="No"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="pd:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAMGROUP_NEURO_Parkinsons_Motor_Tremor_RU">  <xs:annotation>     <xs:documentation>Right upper</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Not affected"/>            <xs:enumeration value="Mild"/>            <xs:enumeration value="Moderate"/>            <xs:enumeration value="Severe"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="pd:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAMGROUP_NEURO_Parkinsons_Motor_Tremor_LU">  <xs:annotation>     <xs:documentation>Left upper</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Not affected"/>            <xs:enumeration value="Mild"/>            <xs:enumeration value="Moderate"/>            <xs:enumeration value="Severe"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="pd:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAMGROUP_NEURO_Parkinsons_Motor_Tremor_RL">  <xs:annotation>     <xs:documentation>Right lower</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Not affected"/>            <xs:enumeration value="Mild"/>            <xs:enumeration value="Moderate"/>            <xs:enumeration value="Severe"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="pd:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAMGROUP_NEURO_Parkinsons_Motor_Tremor_LL">  <xs:annotation>     <xs:documentation>Left lower</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Not affected"/>            <xs:enumeration value="Mild"/>            <xs:enumeration value="Moderate"/>            <xs:enumeration value="Severe"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="pd:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAMGROUP_NEURO_Parkinsons_Motor_Muscle_RU">  <xs:annotation>     <xs:documentation>Right upper</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Not affected"/>            <xs:enumeration value="Mild"/>            <xs:enumeration value="Moderate"/>            <xs:enumeration value="Severe"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="pd:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAMGROUP_NEURO_Parkinsons_Motor_Muscle_LU">  <xs:annotation>     <xs:documentation>Left upper</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Not affected"/>            <xs:enumeration value="Mild"/>            <xs:enumeration value="Moderate"/>            <xs:enumeration value="Severe"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="pd:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAMGROUP_NEURO_Parkinsons_Motor_Muscle_RL">  <xs:annotation>     <xs:documentation>Right lower</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Not affected"/>            <xs:enumeration value="Mild"/>            <xs:enumeration value="Moderate"/>            <xs:enumeration value="Severe"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="pd:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAMGROUP_NEURO_Parkinsons_Motor_Muscle_LL">  <xs:annotation>     <xs:documentation>Left lower</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Not affected"/>            <xs:enumeration value="Mild"/>            <xs:enumeration value="Moderate"/>            <xs:enumeration value="Severe"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="pd:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAMGROUP_NEURO_Parkinsons_Date_Editbox">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="pd:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAMGROUP_NEURO_Parkinsons_Other_Urinary_CB">  <xs:annotation>    <xs:documentation>None</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="pd:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAMGROUP_NEURO_Parkinsons_Diagnosis_ICD">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="pd:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAMGROUP_NEURO_Parkinsons_Dominant_Hand">  <xs:annotation>     <xs:documentation></xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Right"/>            <xs:enumeration value="Left"/>            <xs:enumeration value="Ambidextrous"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="pd:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAMGROUP_NEURO_Parkinsons_Other_Functional_Impact">  <xs:annotation>     <xs:documentation>Does the Veteran's Parkinson's disease impact his or her ability to work?</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Yes"/>            <xs:enumeration value="No"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="pd:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAMGROUP_NEURO_Parkinsons_Other_Functional_Impact_Describe">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="pd:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAMGROUP_NEURO_Parkinsons_Other_Urinary_Incontinence">  <xs:annotation>    <xs:documentation>Incontinence</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="pd:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAMGROUP_NEURO_Parkinsons_Other_Urinary_Retention">  <xs:annotation>    <xs:documentation>Urinary retention</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="pd:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAMGROUP_NEURO_Parkinsons_Other_Urinary_Appliance">  <xs:annotation>     <xs:documentation>Use of an appliance required?</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Yes"/>            <xs:enumeration value="No"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="pd:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAMGROUP_CARDIO_IHD_Name">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="pd:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ACE_1">  <xs:annotation>    <xs:documentation></xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="pd:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ACE_2">  <xs:annotation>    <xs:documentation></xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="pd:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ACE_3">  <xs:annotation>    <xs:documentation>Examination via approved video telehealth</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="pd:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ACE_4">  <xs:annotation>    <xs:documentation>In-person examination</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="pd:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ACE_5_RevRec_1">  <xs:annotation>     <xs:documentation>Was the Veteran's VA claims file reviewed?</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Yes"/>            <xs:enumeration value="No"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="pd:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ACE_5_RevRec_2">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="pd:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ACE_5_RevRec_3">  <xs:annotation>    <xs:documentation>Military service treatment records</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="pd:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ACE_5_RevRec_4">  <xs:annotation>    <xs:documentation>Military service personnel records</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="pd:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ACE_5_RevRec_5">  <xs:annotation>    <xs:documentation>Military enlistment examination</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="pd:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ACE_5_RevRec_6">  <xs:annotation>    <xs:documentation>Military separation examination</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="pd:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ACE_5_RevRec_7">  <xs:annotation>    <xs:documentation>Military post-deployment questionnaire</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="pd:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ACE_5_RevRec_8">  <xs:annotation>    <xs:documentation>Department of Defense Form 214 Separation Documents</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="pd:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ACE_5_RevRec_9">  <xs:annotation>    <xs:documentation>Veterans Health Administration medical records (VA treatment records)</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="pd:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ACE_5_RevRec_10">  <xs:annotation>    <xs:documentation>Civilian medical records</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="pd:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ACE_5_RevRec_11">  <xs:annotation>    <xs:documentation>Interviews with collateral witnesses (family and others who have known the Veteran before and after military service)</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="pd:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ACE_5_RevRec_12">  <xs:annotation>    <xs:documentation>No records were reviewed</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="pd:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ACE_5_RevRec_13">  <xs:annotation>    <xs:documentation>Other:</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="pd:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ACE_5_RevRec_14">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="pd:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
  </xs:all>  </xs:complexType>  <xs:element name="ParkinsonDiseaseForm" type="pd:ParkinsonDiseaseFormType"/>  <xs:complexType name="Metadata">    <xs:all>      <xs:element name="code" type="xs:string"/>      <xs:element name="codeSystem" type="xs:string"/>      <xs:element name="version" type="xs:string"/>      <xs:element name="source" type="xs:string"/>    </xs:all>  </xs:complexType></xs:schema>
