legacy/Prostate_Cancer_DBQ_v14_1_T1.pnl.xsd

<?xml version="1.0" encoding="UTF-8"?><xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:pc="http://vler.va.gov/vler/schemas/health/clinicalDocuments/clinicalAssessments/cpExams/1.3/ProstateCancer" targetNamespace="http://vler.va.gov/vler/schemas/health/clinicalDocuments/clinicalAssessments/cpExams/1.3/ProstateCancer" version="1.0">  <xs:complexType name="ProstateCancerFormType">  <xs:all>
<xs:element name="ProstateCancerVoidingNighttime">  <xs:annotation>     <xs:documentation></xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Nighttime awakening to void 2 times"/>            <xs:enumeration value="Nighttime awakening to void 3 to 4 times"/>            <xs:enumeration value="Nighttime awakening to void 5 or more times"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="pc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAMGROUP_CARDIO_IHD_Name">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="pc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="ProstateCancerDiagnosis">  <xs:annotation>     <xs:documentation>Does the Veteran now have or has he ever been diagnosed with prostate cancer?</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Yes"/>            <xs:enumeration value="No"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="pc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAMGROUP_GENERAL_Prostate_Diagnosis_1">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="pc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAMGROUP_GENERAL_Prostate_Diagnosis_1_ICD">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="pc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAMGROUP_GENERAL_Prostate_Diagnosis_1_Date">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="pc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAMGROUP_GENERAL_Prostate_Diagnosis_2">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="pc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAMGROUP_GENERAL_Prostate_Diagnosis_2_ICD">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="pc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAMGROUP_GENERAL_Prostate_Diagnosis_2_Date">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="pc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAMGROUP_GENERAL_Prostate_Diagnosis_3">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="pc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAMGROUP_GENERAL_Prostate_Diagnosis_3_ICD">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="pc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAMGROUP_GENERAL_Prostate_Diagnosis_3_Date">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="pc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAMGROUP_GENERAL_Prostate_Diagnosis_Additional">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="pc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAMGROUP_GENERAL_Prostate_History_Describe">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="pc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="ProstateCancerStatus">  <xs:annotation>     <xs:documentation>b. Indicate status of disease:</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Active"/>            <xs:enumeration value="Remission"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="pc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="ProstateCancerTx">  <xs:annotation>     <xs:documentation>Has the Veteran completed any treatment for prostate cancer or is the Veteran currently undergoing any treatment for prostate cancer?</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Yes"/>            <xs:enumeration value="No; watchful waiting"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="pc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="ProstateCancerTxSurgery">  <xs:annotation>    <xs:documentation>Surgery</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="pc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="ProstateCancerTxCompleted">  <xs:annotation>    <xs:documentation>Treatment completed; currently in watchful waiting status</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="pc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="ProstateCancerTxProstatectomy">  <xs:annotation>    <xs:documentation>Prostatectomy</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="pc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="ProstateCancerTxOtherSurgicalProcedure">  <xs:annotation>    <xs:documentation>Other surgical procedure (describe):</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="pc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAMGROUP_GENERAL_Prostate_Treatment_Surgery_Other_Describe">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="pc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAMGROUP_GENERAL_Prostate_Treatment_Surgery_Date">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="pc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="ProstateCancerTxRadiationTherapy">  <xs:annotation>    <xs:documentation>Radiation therapy</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="pc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAMGROUP_GENERAL_Prostate_Treatment_Radiation_Date">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="pc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="ProstateCancerTxBrachytherapy">  <xs:annotation>    <xs:documentation>Brachytherapy</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="pc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAMGROUP_GENERAL_Prostate_Treatment_Brachytherapy_Date">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="pc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="ProstateCancerTxAntineoplasticChemotherapy">  <xs:annotation>    <xs:documentation>Antineoplastic chemotherapy</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="pc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="ProstateCancerTxAndrogenDeprivationTherapy">  <xs:annotation>    <xs:documentation>Androgen deprivation therapy (hormonal therapy)</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="pc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAMGROUP_GENERAL_Prostate_Treatment_Androgen_Date_Completion">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="pc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="ProstateCancerTxOtherTherapeuticProcedure">  <xs:annotation>    <xs:documentation>Other therapeutic procedure and/or treatment (describe):</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="pc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAMGROUP_GENERAL_Prostate_Treatment_Other_Date_Procedure">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="pc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAMGROUP_GENERAL_Prostate_Treatment_Other_Date_completion">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="pc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAMGROUP_GENERAL_Prostate_Treatment_Other_Describe">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="pc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAMGROUP_GENERAL_Prostate_Residuals_Voiding_Dysfunction">  <xs:annotation>     <xs:documentation>Does the voiding dysfunction cause urine leakage?</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Yes"/>            <xs:enumeration value="No"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="pc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="ProstateCancerAbsorbentMaterialFrequency">  <xs:annotation>     <xs:documentation>Indicate severity (check one):</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Does not require the wearing of absorbent material"/>            <xs:enumeration value="Requires absorbent material which must be changed less than 2 times per day"/>            <xs:enumeration value="Requires absorbent material which must be changed 2 to 4 times per day"/>            <xs:enumeration value="Requires absorbent material which must be changed more than 4 times per day"/>            <xs:enumeration value="Other, describe:"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="pc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAMGROUP_GENERAL_Prostate_Residuals_Voiding_Dysfunction_Frequency">  <xs:annotation>     <xs:documentation>Does the voiding dysfunction cause increased urinary frequency?</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Yes"/>            <xs:enumeration value="No"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="pc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="ProstateCancerVoidingDaytime">  <xs:annotation>     <xs:documentation>If yes, check all that apply:</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Daytime voiding interval between 2 and 3 hours"/>            <xs:enumeration value="Daytime voiding interval between 1 and 2 hours"/>            <xs:enumeration value="Daytime voiding interval less than 1 hour"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="pc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAMGROUP_GENERAL_Prostate_Residuals_Voiding_Dysfunction_Obstruction">  <xs:annotation>     <xs:documentation>Does the voiding dysfunction cause signs or symptoms of obstructed voiding?</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Yes"/>            <xs:enumeration value="No"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="pc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="ProstateCancerVoidingHesitancy">  <xs:annotation>    <xs:documentation>Hesitancy</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="pc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAMGROUP_GENERAL_Prostate_Residuals_Voiding_Dysfunction_Obstruction_Hesitancy_Marked">  <xs:annotation>     <xs:documentation>If checked, is hesitancy marked?</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Yes"/>            <xs:enumeration value="No"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="pc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="ProstateCancerVoidingDecreasedForceOfStream">  <xs:annotation>    <xs:documentation>Decreased force of stream</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="pc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAMGROUP_GENERAL_Prostate_Residuals_Voiding_Dysfunction_Obstruction_Force_Marked">  <xs:annotation>     <xs:documentation>If checked, is force of stream markedly decreased?</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Yes"/>            <xs:enumeration value="No"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="pc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="ProstateCancerStrictureDiseaseRequiringDilatation1to2TimesPerYear">  <xs:annotation>    <xs:documentation>Stricture disease requiring dilatation 1 to 2 times per year</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="pc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="ProstateCancerRecurrentUrinaryTractInfectionsSecondaryToObstruction">  <xs:annotation>    <xs:documentation>Recurrent urinary tract infections secondary to obstruction</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="pc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="ProstateCancerMarkedlyDiminishedPeakFlowRateLessThan10cc">  <xs:annotation>    <xs:documentation>Uroflowmetry peak flow rate less than 10 cc/sec</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="pc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="ProstateCancerPostVoidResidualsGreaterThan150">  <xs:annotation>    <xs:documentation>Post void residuals greater than 150 cc</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="pc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="ProstateCancerUrinaryRetentionRequiringIntermittentCatheterization">  <xs:annotation>    <xs:documentation>Urinary retention requiring intermittent catheterization</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="pc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAMGROUP_GENERAL_Prostate_Residuals_Voiding_Dysfunction_Appliance_Describe">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="pc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAMGROUP_GENERAL_Prostate_Residuals_Voiding_Dysfunction_Infection">  <xs:annotation>     <xs:documentation>Does the Veteran have a history of recurrent symptomatic urinary tract or kidney infections?</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Yes"/>            <xs:enumeration value="No"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="pc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAMGROUP_GENERAL_Prostate_Residuals_Voiding_Dysfunction_Infection_Drainage">  <xs:annotation>    <xs:documentation>Drainage</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="pc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAMGROUP_GENERAL_Prostate_Residuals_Voiding_Dysfunction_Infection_Hospitalization">  <xs:annotation>    <xs:documentation>Hospitalization</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="pc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAMGROUP_GENERAL_Prostate_Residuals_Voiding_Dysfunction_Infection_Hospitalization_1">  <xs:annotation>    <xs:documentation>1 or 2 per year</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="pc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAMGROUP_GENERAL_Prostate_Residuals_Voiding_Dysfunction_Infection_Hospitalization__2">  <xs:annotation>    <xs:documentation>>2 per year</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="pc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAMGROUP_GENERAL_Prostate_Residuals_Voiding_Dysfunction_Infection_Management">  <xs:annotation>    <xs:documentation>Continuous intensive management required</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="pc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAMGROUP_GENERAL_Prostate_Residuals_Voiding_Dysfunction_Infection_Management_Long">  <xs:annotation>    <xs:documentation>Long-term drug therapy</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="pc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAMGROUP_GENERAL_Prostate_Residuals_Voiding_Dysfunction_Infection_Management_Intermittent">  <xs:annotation>    <xs:documentation>Intermittent intensive management required</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="pc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAMGROUP_GENERAL_Prostate_Residuals_ED">  <xs:annotation>     <xs:documentation>Does the Veteran have erectile dysfunction?</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Yes"/>            <xs:enumeration value="No"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="pc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAMGROUP_GENERAL_Prostate_Residuals_ED_Related">  <xs:annotation>     <xs:documentation></xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Yes"/>            <xs:enumeration value="No"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="pc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAMGROUP_GENERAL_Prostate_Residuals_ED_Related_Not">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="pc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAMGROUP_GENERAL_Prostate_Residuals_ED_Related_Erect">  <xs:annotation>     <xs:documentation>c. If the Veteran has erectile dysfunction, is he able to achieve an erection sufficient for penetration and ejaculation (without medication)?</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Yes"/>            <xs:enumeration value="No"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="pc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAMGROUP_GENERAL_Prostate_Residuals_ED_Related_Not_Erect">  <xs:annotation>     <xs:documentation>If no, is the Veteran able to achieve an erection sufficient for penetration and ejaculation (with medication)?</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Yes"/>            <xs:enumeration value="No"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="pc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAMGROUP_GENERAL_Prostate_Residuals_ED_Other_Describe">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="pc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAMGROUP_GENERAL_Prostate_Physical_Exam_Findings">  <xs:annotation>     <xs:documentation>b. Does the Veteran have any other pertinent physical findings, complications, conditions, signs or symptoms?</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Yes"/>            <xs:enumeration value="No"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="pc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAMGROUP_GENERAL_Prostate_Physical_Exam_Findings_Describe">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="pc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAMGROUP_GENERAL_Prostate_Tests">  <xs:annotation>     <xs:documentation>Are there any significant diagnostic test findings and/or results?</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Yes"/>            <xs:enumeration value="No"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="pc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAMGROUP_GENERAL_Prostate_Tests_Describe">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="pc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAMGROUP_GENERAL_Prostate_Work">  <xs:annotation>     <xs:documentation>Does the Veteran's prostate cancer impact his ability to work?</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Yes"/>            <xs:enumeration value="No"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="pc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAMGROUP_GENERAL_Prostate_Work_Describe">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="pc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAMGROUP_GENERAL_Prostate_Remarks">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="pc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAMGROUP_GENERAL_Prostate_Treatment_Antineoplastic_Date_Completion">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="pc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAMGROUP_GENERAL_Prostate_Residuals_Voiding_Dysfunction_Infection_Management_Meds_Date">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="pc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAMGROUP_GENERAL_Prostate_Residuals_Voiding_Dysfunction_Infection_Drainage_Dates">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="pc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAMGROUP_GENERAL_Prostate_Residuals_Retrograde">  <xs:annotation>     <xs:documentation>Does the Veteran have retrograde ejaculation?</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Yes"/>            <xs:enumeration value="No"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="pc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAMGROUP_GENERAL_Prostate_Residuals_Retrograde_Yes">  <xs:annotation>     <xs:documentation></xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Yes"/>            <xs:enumeration value="No"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="pc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAMGROUP_GENERAL_Prostate_Residuals_Retrograde_No">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="pc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAMGROUP_GENERAL_Prostate_Treatment_Surgery_Prostatectomy_Radical">  <xs:annotation>    <xs:documentation>Radical prostatectomy</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="pc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAMGROUP_GENERAL_Prostate_Treatment_Surgery_Prostatectomy_TURP">  <xs:annotation>    <xs:documentation>Transurethral resection prostatectomy</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="pc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAMGROUP_GENERAL_Prostate_Treatment_Surgery_Prostatectomy_Other">  <xs:annotation>    <xs:documentation>Other (describe)</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="pc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAMGROUP_GENERAL_Prostate_Treatment_Surgery_Prostatectomy_Other_Describe">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="pc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAMGROUP_GENERAL_Prostate_Residuals_ED_Etiology_Memobox">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="pc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAMGROUP_GENERAL_Prostate_Residuals_Retrograde_Etiology">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="pc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAMGROUP_GENERAL_Prostate_Residuals_Voiding_Dysfunction_Infection_Etiology">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="pc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAMGROUP_GENERAL_Prostate_Residuals_Voiding_Dysfunction_RG">  <xs:annotation>     <xs:documentation>Does the Veteran have a voiding dysfunction?</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Yes"/>            <xs:enumeration value="No"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="pc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAMGROUP_GENERAL_Prostate_Residuals_Voiding_Dysfunction_Etiology">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="pc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAMGROUP_GENERAL_Prostate_Residuals_Voiding_Dysfunction_Type_Other_Describe">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="pc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAMGROUP_GENERAL_Prostate_Residuals_Voiding_Dysfunction_Other">  <xs:annotation>    <xs:documentation>Other, describe:</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="pc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAMGROUP_GENERAL_Prostate_Residuals_Voiding_Dysfunction_Other_Describe">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="pc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="ProstateCancerContinuousCatheterization">  <xs:annotation>    <xs:documentation>Urinary retention requiring continuous catheterization</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="pc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAMGROUP_GENERAL_Prostate_Residuals_Voiding_Dysfunction_Infection_Management_Describe">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="pc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAMGROUP_GENERAL_Prostate_Residuals_Voiding_Dysfunction_Infection_Management_Continuous">  <xs:annotation>    <xs:documentation>Other, describe:</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="pc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAMGROUP_GENERAL_Prostate_Residuals_Voiding_Dysfunction_Infection_Management_Intermittent_Describe">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="pc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAMGROUP_GENERAL_Prostate_Residuals_Voiding_Dysfunction_Infection_Management_Continuous_Other_Descr">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="pc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAMGROUP_GENERAL_Prostate_Residuals_Voiding_Dysfunction_Infection_No_Rx">  <xs:annotation>    <xs:documentation>No treatment</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="pc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="ProstateCancerUseOfAnAppliance">  <xs:annotation>     <xs:documentation>Does the voiding dysfunction require the use of an appliance?</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Yes"/>            <xs:enumeration value="No"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="pc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAMGROUP_GENERAL_Prostate_Residuals_ED_Other">  <xs:annotation>     <xs:documentation>a. Does the Veteran have any other residual conditions and/or complications due to prostate cancer or treatment for prostate cancer?</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Yes"/>            <xs:enumeration value="No"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="pc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAMGROUP_GENERAL_Prostate_Physical_Exam_Scars">  <xs:annotation>     <xs:documentation></xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Yes"/>            <xs:enumeration value="No"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="pc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAMGROUP_GENERAL_Prostate_Physical_Exam_Scars_Area">  <xs:annotation>     <xs:documentation>If yes, are any of the scars painful and/or unstable, or is the total area of all related scars greater than 39 square cm (6 square inches)?</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Yes"/>            <xs:enumeration value="No"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="pc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ACE_1">  <xs:annotation>    <xs:documentation></xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="pc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ACE_2">  <xs:annotation>    <xs:documentation></xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="pc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ACE_3">  <xs:annotation>    <xs:documentation>Examination via approved video telehealth</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="pc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ACE_4">  <xs:annotation>    <xs:documentation>In-person examination</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="pc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ACE_5_RevRec_1">  <xs:annotation>     <xs:documentation>Was the Veteran's VA claims file reviewed?</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Yes"/>            <xs:enumeration value="No"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="pc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ACE_5_RevRec_2">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="pc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ACE_5_RevRec_3">  <xs:annotation>    <xs:documentation>Military service treatment records</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="pc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ACE_5_RevRec_4">  <xs:annotation>    <xs:documentation>Military service personnel records</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="pc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ACE_5_RevRec_5">  <xs:annotation>    <xs:documentation>Military enlistment examination</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="pc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ACE_5_RevRec_6">  <xs:annotation>    <xs:documentation>Military separation examination</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="pc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ACE_5_RevRec_7">  <xs:annotation>    <xs:documentation>Military post-deployment questionnaire</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="pc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ACE_5_RevRec_8">  <xs:annotation>    <xs:documentation>Department of Defense Form 214 Separation Documents</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="pc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ACE_5_RevRec_9">  <xs:annotation>    <xs:documentation>Veterans Health Administration medical records (VA treatment records)</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="pc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ACE_5_RevRec_10">  <xs:annotation>    <xs:documentation>Civilian medical records</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="pc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ACE_5_RevRec_11">  <xs:annotation>    <xs:documentation>Interviews with collateral witnesses (family and others who have known the Veteran before and after military service)</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="pc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ACE_5_RevRec_12">  <xs:annotation>    <xs:documentation>No records were reviewed</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="pc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ACE_5_RevRec_13">  <xs:annotation>    <xs:documentation>Other:</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="pc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ACE_5_RevRec_14">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="pc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="ProstateCancerObstructiveSymptomatologyWOStrictureDiseaseRequiringDilatation1to2TimesPerYear">  <xs:annotation>    <xs:documentation>Obstructive symptomatology without stricture disease requiring dilatation one to two times per year</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="pc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="ProstateCancerPostVoidResidualsGreaterThan150MarkedObstructive">  <xs:annotation>    <xs:documentation>Marked obstructive symptomatology</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="pc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="ProstateCancerRenalDysfunction">  <xs:annotation>     <xs:documentation>b. Is there any renal dysfunction due to condition?</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Yes"/>            <xs:enumeration value="No"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="pc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="ProstateCancerObstructiveSymptoms">  <xs:annotation>     <xs:documentation>Are there any other obstructive symptoms?</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Yes"/>            <xs:enumeration value="No"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="pc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="ProstateCancerObstructiveSymptomsMarked">  <xs:annotation>     <xs:documentation>If yes, are they marked?</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Yes"/>            <xs:enumeration value="No"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="pc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="ProstateCancerStrictureDiseaseRequiringPeriodicDilatationEvery2to3Months">  <xs:annotation>    <xs:documentation>Stricture disease requiring periodic dilatation every 2 to 3 months</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="pc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="ProstateCancerSlowStream">  <xs:annotation>    <xs:documentation>Slow stream</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="pc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="ProstateCancerMarkedlySlowStream">  <xs:annotation>     <xs:documentation>If checked, is stream markedly slow?</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Yes"/>            <xs:enumeration value="No"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="pc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="ProstateCancerWeakStream">  <xs:annotation>    <xs:documentation>Weak stream</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="pc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="ProstateCancerMarkedlyWeakStream">  <xs:annotation>     <xs:documentation>If checked, is stream markedly weak?</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Yes"/>            <xs:enumeration value="No"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="pc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
  </xs:all>  </xs:complexType>  <xs:element name="ProstateCancerForm" type="pc:ProstateCancerFormType"/>  <xs:complexType name="Metadata">    <xs:all>      <xs:element name="code" type="xs:string"/>      <xs:element name="codeSystem" type="xs:string"/>      <xs:element name="version" type="xs:string"/>      <xs:element name="source" type="xs:string"/>    </xs:all>  </xs:complexType></xs:schema>
