legacy/Rectum_DBQ_v13_2_T1.pnl.xsd

<?xml version="1.0" encoding="UTF-8"?><xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:rac="http://vler.va.gov/vler/schemas/health/clinicalDocuments/clinicalAssessments/cpExams/1.3/RectumAndAnusConditions" targetNamespace="http://vler.va.gov/vler/schemas/health/clinicalDocuments/clinicalAssessments/cpExams/1.3/RectumAndAnusConditions" version="1.0">  <xs:complexType name="RectumAndAnusConditionsFormType">  <xs:all>
<xs:element name="EXAMGROUP_CARDIO_IHD_Name">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="rac:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="DIAGNOSIS_RECTUM_DIAGNOSIS">  <xs:annotation>     <xs:documentation>Does the Veteran now have or has he/she ever had any condition of the rectum or anus?</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Yes"/>            <xs:enumeration value="No"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="rac:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="DIAGNOSIS_RECTUM_HEMORRHOIDS">  <xs:annotation>    <xs:documentation>Internal or external hemorrhoids</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="rac:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="DIAGNOSIS_RECTUM_HEMORRHOIDS_ICD">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="rac:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="DIAGNOSIS_RECTUM_HEMORRHOIDS_DATE">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="rac:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="DIAGNOSIS_RECTUM_FISTULA">  <xs:annotation>    <xs:documentation>Anal/perianal fistula</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="rac:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="DIAGNOSIS_RECTUM_FISTULA_ICD">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="rac:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="DIAGNOSIS_RECTUM_FISTULA_DATE">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="rac:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="DIAGNOSIS_RECTUM_STRICTURE">  <xs:annotation>    <xs:documentation>Rectal stricture</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="rac:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="DIAGNOSIS_RECTUM_STRICTURE_ICD">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="rac:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="DIAGNOSIS_RECTUM_STRICTURE_DATE">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="rac:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="DIAGNOSIS_RECTUM_SPHINCTER">  <xs:annotation>    <xs:documentation>Impairment of rectal sphincter control</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="rac:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="DIAGNOSIS_RECTUM_SPHINCTER_ICD">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="rac:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="DIAGNOSIS_RECTUM_SPHINCTER_DATE">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="rac:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="DIAGNOSIS_RECTUM_PROLAPSE">  <xs:annotation>    <xs:documentation>Rectal prolapse</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="rac:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="DIAGNOSIS_RECTUM_PROLAPSE_ICD">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="rac:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="DIAGNOSIS_RECTUM_PROLAPSE_DATE">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="rac:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="DIAGNOSIS_RECTUM_PRURITUS">  <xs:annotation>    <xs:documentation>Pruritus ani</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="rac:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="DIAGNOSIS_RECTUM_PRURITUS_ICD">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="rac:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="DIAGNOSIS_RECTUM_PRURITUS_DATE">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="rac:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="DIAGNOSIS_RECTUM_OTHER">  <xs:annotation>    <xs:documentation>Other, specify below:</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="rac:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="DIAGNOSIS_RECTUM_OTHER_1">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="rac:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="DIAGNOSIS_RECTUM_OTHER_1_ICD">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="rac:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="DIAGNOSIS_RECTUM_OTHER_1_DATE">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="rac:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="DIAGNOSIS_RECTUM_OTHER_2">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="rac:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="DIAGNOSIS_RECTUM_OTHER_2_ICD">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="rac:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="DIAGNOSIS_RECTUM_OTHER_2_DATE">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="rac:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="DIAGNOSIS_RECTUM_ADDITIONAL">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="rac:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="HISTORY_RECTUM_DESCRIBE">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="rac:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="HISTORY_RECTUM_MEDS">  <xs:annotation>     <xs:documentation>b. Does the Veteran's treatment plan include taking continuous medication for the diagnosed conditions?</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Yes"/>            <xs:enumeration value="No"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="rac:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="HISTORY_RECTUM_MEDS_DESCRIBE">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="rac:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_RECTUM_SIGNS">  <xs:annotation>     <xs:documentation>Does the Veteran have any findings, signs or symptoms attributable to any of the diagnoses in Section 1?</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Yes"/>            <xs:enumeration value="No"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="rac:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_RECTUM_SIGNS_HEMORRHOIDS">  <xs:annotation>    <xs:documentation>a. Internal or external hemorrhoids</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="rac:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_RECTUM_SIGNS_HEMORRHOIDS_MILD">  <xs:annotation>    <xs:documentation>Mild or moderate</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="rac:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_RECTUM_SIGNS_HEMORRHOIDS_MILD_DESCRIBE">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="rac:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_RECTUM_SIGNS_HEMORRHOIDS_LARGE">  <xs:annotation>    <xs:documentation>Large or thrombotic, irreducible, with excessive redundant tissue, evidencing frequent recurrences</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="rac:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_RECTUM_SIGNS_HEMORRHOIDS_BLEEDING">  <xs:annotation>    <xs:documentation>With persistent bleeding</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="rac:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_RECTUM_SIGNS_HEMORRHOIDS_ANEMIA">  <xs:annotation>    <xs:documentation>With secondary anemia</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="rac:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_RECTUM_SIGNS_HEMORRHOIDS_FISSURES">  <xs:annotation>    <xs:documentation>With fissures</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="rac:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_RECTUM_SIGNS_HEMORRHOIDS_OTHER">  <xs:annotation>    <xs:documentation>Other, describe:</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="rac:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_RECTUM_SIGNS_HEMORRHOIDS_OTHER_DESCRIBE">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="rac:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_RECTUM_SIGNS_FISTULA">  <xs:annotation>    <xs:documentation>b. Anal/perianal fistula</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="rac:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_RECTUM_SIGNS_FISTULA_SLIGHT">  <xs:annotation>    <xs:documentation>Slight impairment of sphincter control, without leakage</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="rac:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_RECTUM_SIGNS_FISTULA_SLIGHT_DESCRIBE">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="rac:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_RECTUM_SIGNS_FISTULA_LEAKAGE">  <xs:annotation>    <xs:documentation>Leakage necessitates wearing of pad</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="rac:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_RECTUM_SIGNS_FISTULA_CONSTANT">  <xs:annotation>    <xs:documentation>Constant slight leakage</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="rac:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_RECTUM_SIGNS_FISTULA_MODERATE">  <xs:annotation>    <xs:documentation>Occasional moderate leakage</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="rac:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_RECTUM_SIGNS_FISTULA_INVOLUNTARY">  <xs:annotation>    <xs:documentation>Occasional involuntary bowel movements</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="rac:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_RECTUM_SIGNS_FISTULA_EXTENSIVE">  <xs:annotation>    <xs:documentation>Extensive leakage</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="rac:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_RECTUM_SIGNS_FISTULA_FREQUENT">  <xs:annotation>    <xs:documentation>Fairly frequent involuntary bowel movements</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="rac:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_RECTUM_SIGNS_FISTULA_COMPLETE">  <xs:annotation>    <xs:documentation>Complete loss of sphincter control</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="rac:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_RECTUM_SIGNS_FISTULA_OTHER">  <xs:annotation>    <xs:documentation>Other, describe:</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="rac:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_RECTUM_SIGNS_FISTULA_OTHER_DESCRIBE">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="rac:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_RECTUM_SIGNS_STRICTURE">  <xs:annotation>    <xs:documentation>c. Rectal stricture</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="rac:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_RECTUM_SIGNS_STRICTURE_MODERATE">  <xs:annotation>    <xs:documentation>Moderate reduction of lumen</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="rac:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_RECTUM_SIGNS_STRICTURE_GREAT">  <xs:annotation>    <xs:documentation>Great reduction of lumen</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="rac:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_RECTUM_SIGNS_STRICTURE_LEAKAGE">  <xs:annotation>    <xs:documentation>Moderate constant leakage</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="rac:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_RECTUM_SIGNS_STRICTURE_EXTENSIVE">  <xs:annotation>    <xs:documentation>Extensive leakage</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="rac:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_RECTUM_SIGNS_STRICTURE_COLOSTOMY">  <xs:annotation>    <xs:documentation>Requiring colostomy (which is present)</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="rac:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_RECTUM_SIGNS_STRICTURE_OTHER">  <xs:annotation>    <xs:documentation>Other, describe:</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="rac:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_RECTUM_SIGNS_STRICTURE_OTHER_DESCRIBE">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="rac:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_RECTUM_SIGNS_SPHINCTER">  <xs:annotation>    <xs:documentation>d. Impairment of rectal sphincter control</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="rac:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_RECTUM_SIGNS_SPHINCTER_SLIGHT">  <xs:annotation>    <xs:documentation>Slight impairment of sphincter control, without leakage</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="rac:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_RECTUM_SIGNS_SPHINCTER_SLIGHT_DESCRIBE">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="rac:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_RECTUM_SIGNS_SPHINCTER_LEAKAGE">  <xs:annotation>    <xs:documentation>Leakage necessitates wearing of pad</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="rac:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_RECTUM_SIGNS_SPHINCTER_CONSTANT">  <xs:annotation>    <xs:documentation>Constant slight leakage</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="rac:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_RECTUM_SIGNS_SPHINCTER_MODERATE">  <xs:annotation>    <xs:documentation>Occasional moderate leakage</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="rac:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_RECTUM_SIGNS_SPHINCTER_INVOLUNTARY">  <xs:annotation>    <xs:documentation>Occasional involuntary bowel movements</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="rac:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_RECTUM_SIGNS_SPHINCTER_EXTENSIVE">  <xs:annotation>    <xs:documentation>Extensive leakage</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="rac:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_RECTUM_SIGNS_SPHINCTER_FREQUENT">  <xs:annotation>    <xs:documentation>Fairly frequent involuntary bowel movements</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="rac:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_RECTUM_SIGNS_SPHINCTER_COMPLETE">  <xs:annotation>    <xs:documentation>Complete loss of sphincter control</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="rac:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_RECTUM_SIGNS_SPHINCTER_OTHER">  <xs:annotation>    <xs:documentation>Other, describe:</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="rac:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_RECTUM_SIGNS_SPHINCTER_OTHER_DESCRIBE">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="rac:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_RECTUM_SIGNS_PROLAPSE">  <xs:annotation>    <xs:documentation>e.  Rectal prolapse</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="rac:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_RECTUM_SIGNS_PROLAPSE_MILD">  <xs:annotation>    <xs:documentation>Mild with constant slight or occasional moderate leakage</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="rac:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_RECTUM_SIGNS_PROLAPSE_MODERATE">  <xs:annotation>    <xs:documentation>Moderate, persistent or frequently recurring</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="rac:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_RECTUM_SIGNS_PROLAPSE_SEVERE">  <xs:annotation>    <xs:documentation>Severe (or complete), persistent</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="rac:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_RECTUM_SIGNS_PROLAPSE_OTHER">  <xs:annotation>    <xs:documentation>Other, describe:</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="rac:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_RECTUM_SIGNS_PROLAPSE_OTHER_DESCRIBE">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="rac:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_RECTUM_SIGNS_PRURITUS">  <xs:annotation>    <xs:documentation>f. Pruritus ani</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="rac:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_RECTUM_SIGNS_PRURITUS_DESCRIBE">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="rac:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_RECTUM_EXAM_NO_EXAM">  <xs:annotation>    <xs:documentation>No exam performed for this condition; provide reason:</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="rac:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_RECTUM_EXAM_NO_EXAM_REASON">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="rac:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_RECTUM_EXAM_NORMAL">  <xs:annotation>    <xs:documentation>Normal; no external hemorrhoids, anal fissures or other abnormalities</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="rac:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_RECTUM_EXAM_NO_EXTERNAL">  <xs:annotation>    <xs:documentation>No external hemorrhoids; skin tags only</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="rac:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_RECTUM_EXAM_SMALL">  <xs:annotation>    <xs:documentation>Small or moderate external hemorrhoids</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="rac:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_RECTUM_EXAM_LARGE">  <xs:annotation>    <xs:documentation>Large external hemorrhoids</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="rac:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_RECTUM_EXAM_THROMBOTIC">  <xs:annotation>    <xs:documentation>Thrombotic external hemorrhoids</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="rac:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_RECTUM_EXAM_REDUCIBLE">  <xs:annotation>    <xs:documentation>Reducible external hemorrhoids</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="rac:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_RECTUM_EXAM_IRREDUCIBLE">  <xs:annotation>    <xs:documentation>Irreducible external hemorrhoids</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="rac:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_RECTUM_EXAM_EXCESSIVE">  <xs:annotation>    <xs:documentation>Excessive redundant tissue</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="rac:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_RECTUM_EXAM_ANAL">  <xs:annotation>    <xs:documentation>Anal fissure(s)</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="rac:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_RECTUM_EXAM_ANAL_DESCRIBE">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="rac:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_RECTUM_EXAM_ANAL_OTHER">  <xs:annotation>    <xs:documentation>Other, describe:</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="rac:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_RECTUM_EXAM_ANAL_OTHER_DESCRIBE">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="rac:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_RECTUM_OPP_SCARS">  <xs:annotation>     <xs:documentation></xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Yes"/>            <xs:enumeration value="No"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="rac:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_RECTUM_OPP_SCARS_YES">  <xs:annotation>     <xs:documentation>If yes, are any of the scars painful and/or unstable, or is the total area of all related scars greater than 39 square cm (6 square inches)?</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Yes"/>            <xs:enumeration value="No"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="rac:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_RECTUM_OPP_OTHER_PERT">  <xs:annotation>     <xs:documentation></xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Yes"/>            <xs:enumeration value="No"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="rac:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_RECTUM_OPP_OTHER_PERT_DESCRIBE">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="rac:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_RECTUM_DT_LAB">  <xs:annotation>     <xs:documentation>a. Has laboratory testing been performed?</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Yes"/>            <xs:enumeration value="No"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="rac:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_RECTUM_DT_LAB_CBC">  <xs:annotation>    <xs:documentation>CBC (if anemia due to any intestinal condition is suspected or present)</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="rac:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_RECTUM_DT_LAB_CBC_DATE">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="rac:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_RECTUM_DT_LAB_CBC_HEMO">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="rac:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_RECTUM_DT_LAB_CBC_HEMA">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="rac:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_RECTUM_DT_LAB_CBC_WHITE">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="rac:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_RECTUM_DT_LAB_CBC_PLATELETS">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="rac:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_RECTUM_DT_LAB_OTHER">  <xs:annotation>    <xs:documentation>Other, specify:</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="rac:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_RECTUM_DT_LAB_OTHER_EDIT">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="rac:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_RECTUM_DT_LAB_OTHER_DATE">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="rac:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_RECTUM_DT_LAB_OTHER_RESULTS">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="rac:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_RECTUM_DT_IMAGING">  <xs:annotation>     <xs:documentation>b. Have imaging studies or diagnostic procedures been performed and are the results available?</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Yes"/>            <xs:enumeration value="No"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="rac:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_RECTUM_DT_IMAGING_DESCRIBE">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="rac:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_RECTUM_DT_OTHER_SIGN">  <xs:annotation>     <xs:documentation>c. Are there any other significant diagnostic test findings and/or results?</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Yes"/>            <xs:enumeration value="No"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="rac:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_RECTUM_DT_OTHER_SIGN_DESCRIBE">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="rac:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_RECTUM_FI">  <xs:annotation>     <xs:documentation>Does the Veteran's rectum or anus condition impact his or her ability to work?</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Yes"/>            <xs:enumeration value="No"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="rac:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_RECTUM_FI_DESCRIBE">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="rac:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_RECTUM_REMARKS">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="rac:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ACE_1">  <xs:annotation>    <xs:documentation></xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="rac:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ACE_2">  <xs:annotation>    <xs:documentation></xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="rac:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ACE_3">  <xs:annotation>    <xs:documentation>Examination via approved video telehealth</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="rac:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ACE_4">  <xs:annotation>    <xs:documentation>In-person examination</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="rac:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ACE_5_RevRec_1">  <xs:annotation>     <xs:documentation>Was the Veteran's VA claims file reviewed?</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Yes"/>            <xs:enumeration value="No"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="rac:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ACE_5_RevRec_2">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="rac:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ACE_5_RevRec_3">  <xs:annotation>    <xs:documentation>Military service treatment records</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="rac:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ACE_5_RevRec_4">  <xs:annotation>    <xs:documentation>Military service personnel records</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="rac:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ACE_5_RevRec_5">  <xs:annotation>    <xs:documentation>Military enlistment examination</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="rac:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ACE_5_RevRec_6">  <xs:annotation>    <xs:documentation>Military separation examination</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="rac:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ACE_5_RevRec_7">  <xs:annotation>    <xs:documentation>Military post-deployment questionnaire</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="rac:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ACE_5_RevRec_8">  <xs:annotation>    <xs:documentation>Department of Defense Form 214 Separation Documents</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="rac:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ACE_5_RevRec_9">  <xs:annotation>    <xs:documentation>Veterans Health Administration medical records (VA treatment records)</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="rac:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ACE_5_RevRec_10">  <xs:annotation>    <xs:documentation>Civilian medical records</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="rac:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ACE_5_RevRec_11">  <xs:annotation>    <xs:documentation>Interviews with collateral witnesses (family and others who have known the Veteran before and after military service)</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="rac:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ACE_5_RevRec_12">  <xs:annotation>    <xs:documentation>No records were reviewed</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="rac:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ACE_5_RevRec_13">  <xs:annotation>    <xs:documentation>Other:</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="rac:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ACE_5_RevRec_14">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="rac:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
  </xs:all>  </xs:complexType>  <xs:element name="RectumAndAnusConditionsForm" type="rac:RectumAndAnusConditionsFormType"/>  <xs:complexType name="Metadata">    <xs:all>      <xs:element name="code" type="xs:string"/>      <xs:element name="codeSystem" type="xs:string"/>      <xs:element name="version" type="xs:string"/>      <xs:element name="source" type="xs:string"/>    </xs:all>  </xs:complexType></xs:schema>
