legacy/Seizure_Disorders_(Epilepsy)_DBQ_v14_2_T1.pnl.xsd

<?xml version="1.0" encoding="UTF-8"?><xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:sd1="http://vler.va.gov/vler/schemas/health/clinicalDocuments/clinicalAssessments/cpExams/1.3/SeizureDisorders" targetNamespace="http://vler.va.gov/vler/schemas/health/clinicalDocuments/clinicalAssessments/cpExams/1.3/SeizureDisorders" version="1.0">  <xs:complexType name="SeizureDisordersFormType">  <xs:all>
<xs:element name="DIAGNOSIS_NEURO_SD_EPI_DG">  <xs:annotation>     <xs:documentation></xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Yes"/>            <xs:enumeration value="No"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="sd1:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="DIAGNOSIS_NEURO_SD_EPI_DG_TONIC_ICD">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="sd1:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="DIAGNOSIS_NEURO_SD_EPI_DG_TONIC_DATE">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="sd1:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EpilepsyGrandMal">  <xs:annotation>    <xs:documentation>Tonic-clonic seizures or grand mal (generalized convulsive seizures)</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="sd1:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EpilepsyPetitMal">  <xs:annotation>    <xs:documentation>Absence seizures or petit mal or atonic seizures (generalized non-convulsive seizures)</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="sd1:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="DIAGNOSIS_NEURO_SD_EPI_DG_ABSENCE_ICD">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="sd1:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="DIAGNOSIS_NEURO_SD_EPI_DG_ABSENCE_DATE">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="sd1:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EpilepsyJacksonian">  <xs:annotation>    <xs:documentation>Jacksonian (simple partial seizures)</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="sd1:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="DIAGNOSIS_NEURO_SD_EPI_DG_JACKSON_ICD">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="sd1:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="DIAGNOSIS_NEURO_SD_EPI_DG_JACKSON_DATE">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="sd1:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EpilepsyFocalMotor">  <xs:annotation>    <xs:documentation>Focal motor</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="sd1:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="DIAGNOSIS_NEURO_SD_EPI_DG_MOTOR_ICD">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="sd1:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="DIAGNOSIS_NEURO_SD_EPI_DG_MOTOR_DATE">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="sd1:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="DIAGNOSIS_NEURO_SD_EPI_DG_SENSORY_ICD">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="sd1:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="DIAGNOSIS_NEURO_SD_EPI_DG_SENSORY_DATE">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="sd1:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EpilepsySensory">  <xs:annotation>    <xs:documentation>Focal sensory</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="sd1:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EpilepsyDiencephalic">  <xs:annotation>    <xs:documentation>Diencephalic epilepsy</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="sd1:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="DIAGNOSIS_NEURO_SD_EPI_DG_DIENCEPHALIC_ICD">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="sd1:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="DIAGNOSIS_NEURO_SD_EPI_DG_DIENCEPHALIC_DATE">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="sd1:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EpilepsyPsychomotor">  <xs:annotation>    <xs:documentation>Psychomotor epilepsy (complex partial seizures, temporal lobe seizures)</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="sd1:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="DIAGNOSIS_NEURO_SD_EPI_DG_PSYCHO_ICD">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="sd1:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="DIAGNOSIS_NEURO_SD_EPI_DG_PSYCHO_DATE">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="sd1:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="DIAGNOSIS_NEURO_SD_EPI_DG_OTH">  <xs:annotation>    <xs:documentation>Other, specify:</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="sd1:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="DIAGNOSIS_NEURO_SD_EPI_DG_OTH_DG_1">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="sd1:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="DIAGNOSIS_NEURO_SD_EPI_DG_OTH_ICD_1">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="sd1:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="DIAGNOSIS_NEURO_SD_EPI_DG_OTH_DATE_1">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="sd1:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="DIAGNOSIS_NEURO_SD_EPI_DG_OTH_DG_2">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="sd1:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="DIAGNOSIS_NEURO_SD_EPI_DG_OTH_ICD_2">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="sd1:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="DIAGNOSIS_NEURO_SD_EPI_DG_OTH_DATE_2">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="sd1:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="DIAGNOSIS_NEURO_SD_EPI_DG_ADD">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="sd1:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="HISTORY_NEURO_SD_EPI_HX">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="sd1:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EpilepsyContinuousMedication">  <xs:annotation>     <xs:documentation>b. Is continuous medication required for control of epilepsy or seizure activity?</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Yes"/>            <xs:enumeration value="No"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="sd1:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="HISTORY_NEURO_SD_EPI_MED_YES">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="sd1:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="HISTORY_NEURO_SD_EPI_TX">  <xs:annotation>     <xs:documentation>c. Has the Veteran had any other treatment (such as surgery) for epilepsy or seizure activity?</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Yes"/>            <xs:enumeration value="No"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="sd1:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="HISTORY_NEURO_SD_EPI_TX_DESC">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="sd1:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="HISTORY_NEURO_SD_EPI_DG_CONF">  <xs:annotation>     <xs:documentation>d. Has the diagnosis of a seizure disorder been confirmed?</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Yes"/>            <xs:enumeration value="No"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="sd1:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="HISTORY_NEURO_SD_EPI_DG_CONF_DESC">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="sd1:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="HISTORY_NEURO_SD_EPI_WITNESS">  <xs:annotation>     <xs:documentation>e. Has the Veteran had a witnessed seizure?</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Yes"/>            <xs:enumeration value="No"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="sd1:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="HISTORY_NEURO_SD_EPI_WITNESS_DESC">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="sd1:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_NEURO_SD_EPI_SAS">  <xs:annotation>     <xs:documentation>Does the Veteran have or has he or she had any findings, signs or symptoms attributable to seizure disorder (epilepsy) activity?</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Yes"/>            <xs:enumeration value="No"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="sd1:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_NEURO_SD_EPI_SAS_GENERAL">  <xs:annotation>    <xs:documentation>Generalized tonic-clonic convulsions</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="sd1:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_NEURO_SD_EPI_SAS_UNCONSCIOUS">  <xs:annotation>    <xs:documentation>Episodes of unconsciousness</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="sd1:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_NEURO_SD_EPI_SAS_INTERRUPTION">  <xs:annotation>    <xs:documentation>Brief interruption in consciousness or conscious control</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="sd1:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_NEURO_SD_EPI_SAS_STARING">  <xs:annotation>    <xs:documentation>Episodes of staring</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="sd1:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_NEURO_SD_EPI_SAS_BLINKING">  <xs:annotation>    <xs:documentation>Episodes of rhythmic blinking of the eyes</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="sd1:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_NEURO_SD_EPI_SAS_NODDING">  <xs:annotation>    <xs:documentation>Episodes of nodding of the head</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="sd1:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_NEURO_SD_EPI_SAS_JERKING">  <xs:annotation>    <xs:documentation>Episodes of sudden jerking movement of the arms, trunk or head (myoclonic type)</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="sd1:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_NEURO_SD_EPI_SAS_AKINETIC">  <xs:annotation>    <xs:documentation>Episodes of sudden loss of postural control (akinetic type)</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="sd1:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_NEURO_SD_EPI_SAS_COMPLETE">  <xs:annotation>    <xs:documentation>Episodes of complete or partial loss of use of one or more extremities</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="sd1:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_NEURO_SD_EPI_SAS_RANDOM">  <xs:annotation>    <xs:documentation>Episodes of random motor movements</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="sd1:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_NEURO_SD_EPI_SAS_PSYCHOTIC">  <xs:annotation>    <xs:documentation>Episodes of psychotic manifestations</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="sd1:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_NEURO_SD_EPI_SAS_HALLUCINATIONS">  <xs:annotation>    <xs:documentation>Episodes of hallucinations</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="sd1:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_NEURO_SD_EPI_SAS_ILLUSIONS">  <xs:annotation>    <xs:documentation>Episodes of perceptual illusions</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="sd1:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_NEURO_SD_EPI_SAS_THINKING">  <xs:annotation>    <xs:documentation>Episodes of abnormalities of thinking</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="sd1:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_NEURO_SD_EPI_SAS_MEMORY">  <xs:annotation>    <xs:documentation>Episodes of abnormalities of memory</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="sd1:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_NEURO_SD_EPI_SAS_MOOD">  <xs:annotation>    <xs:documentation>Episodes of abnormalities of mood</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="sd1:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_NEURO_SD_EPI_SAS_AUTONOMIC">  <xs:annotation>    <xs:documentation>Episodes of autonomic disturbances</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="sd1:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_NEURO_SD_EPI_SAS_SPEECH">  <xs:annotation>    <xs:documentation>Episodes of speech disturbances</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="sd1:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_NEURO_SD_EPI_SAS_VISION">  <xs:annotation>    <xs:documentation>Episodes of impairment of vision</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="sd1:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_NEURO_SD_EPI_SAS_GAIT">  <xs:annotation>    <xs:documentation>Episodes of disturbances of gait</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="sd1:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_NEURO_SD_EPI_SAS_TREMORS">  <xs:annotation>    <xs:documentation>Episodes of tremors</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="sd1:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_NEURO_SD_EPI_SAS_VISCERAL">  <xs:annotation>    <xs:documentation>Episodes of visceral manifestations</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="sd1:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_NEURO_SD_EPI_SAS_RESIDUALS">  <xs:annotation>    <xs:documentation>Residuals of injury during seizure</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="sd1:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_NEURO_SD_EPI_SAS_OTH">  <xs:annotation>    <xs:documentation>Other</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="sd1:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_NEURO_SD_EPI_SAS_OTH_DESC">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="sd1:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_NEURO_SD_EPI_FREQ">  <xs:annotation>     <xs:documentation>Does the Veteran have or has he/she ever had any type of seizure activity, including major, minor, petit mal or psychomotor seizure activity?</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Yes"/>            <xs:enumeration value="No"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="sd1:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_NEURO_SD_EPI_FREQ_DATE_FIRST">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="sd1:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_NEURO_SD_EPI_FREQ_DATE_RECENT">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="sd1:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_NEURO_SD_EPI_FREQ_MINOR">  <xs:annotation>     <xs:documentation></xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Yes"/>            <xs:enumeration value="No"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="sd1:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EpilepsyNumberMinorSeizuresOverPast6Months">  <xs:annotation>     <xs:documentation>Number of minor seizures over past 6 months:</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="0-1"/>            <xs:enumeration value="2 or more"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="sd1:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EpilepsyAverageFrequencyMinorSeizures">  <xs:annotation>     <xs:documentation>If 2 or more over the past 6 months, indicate the average frequency of minor seizures:</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="0-4 per week"/>            <xs:enumeration value="5-8 per week"/>            <xs:enumeration value="9-10 per week"/>            <xs:enumeration value="More than 10 per week "/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="sd1:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_NEURO_SD_EPI_FREQ_MAJOR">  <xs:annotation>     <xs:documentation>c. Has the Veteran ever had major seizures (characterized by the generalized tonic-clonic convulsion with unconsciousness)?</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Yes"/>            <xs:enumeration value="No"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="sd1:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EpilepsyNumberMajorSeizures">  <xs:annotation>     <xs:documentation>Number of major seizures:</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="None in past 2 years"/>            <xs:enumeration value="At least 1 in past 2 years"/>            <xs:enumeration value="At least 2 in past year"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="sd1:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_NEURO_SD_EPI_FREQ_MINOR_PSYCHO">  <xs:annotation>     <xs:documentation></xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Yes"/>            <xs:enumeration value="No"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="sd1:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_NEURO_SD_EPI_FREQ_MINOR_PSYCHO_NUMBER">  <xs:annotation>     <xs:documentation>Number of minor psychomotor seizures over past 6 months:</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="0"/>            <xs:enumeration value="1"/>            <xs:enumeration value="2 or more"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="sd1:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_NEURO_SD_EPI_FREQ_MINOR_PSYCHO_NUMBER_AVG">  <xs:annotation>     <xs:documentation>If 2 or more over the past 6 months, indicate the average frequency of minor psychomotor seizures:</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="0-4 per week"/>            <xs:enumeration value="5-8 per week"/>            <xs:enumeration value="9-10 per week"/>            <xs:enumeration value="More than 10 per week"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="sd1:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_NEURO_SD_EPI_FREQ_MAJOR_PSYCHO">  <xs:annotation>     <xs:documentation></xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Yes"/>            <xs:enumeration value="No"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="sd1:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_NEURO_SD_EPI_FREQ_MAJOR_PSYCHO_NUMBER">  <xs:annotation>     <xs:documentation>Number of major psychomotor seizures:</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="None in past 2 years"/>            <xs:enumeration value="At least 1 in past 2 years"/>            <xs:enumeration value="At least 2 in past year"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="sd1:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_NEURO_SD_EPI_FREQ_MAJOR_PSYCHO_NUMBER_AVG">  <xs:annotation>     <xs:documentation>Average frequency of major psychomotor seizures:</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Less than 1 in past 6 months"/>            <xs:enumeration value="At least 1 in past 6 months"/>            <xs:enumeration value="At least 1 in 4 months over past year"/>            <xs:enumeration value="At least 1 in 3 months over past year"/>            <xs:enumeration value="At least 1 per month over past year"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="sd1:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_NEURO_SD_EPI_FREQ_NONPSYCHOTIC">  <xs:annotation>     <xs:documentation>f. Has the Veteran ever had epilepsy associated with a nonpsychotic organic brain syndrome?</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Yes"/>            <xs:enumeration value="No"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="sd1:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_NEURO_SD_EPI_FREQ_NONPSYCHOTIC_DESC">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="sd1:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_NEURO_SD_EPI_FREQ_PSYCHOTIC">  <xs:annotation>     <xs:documentation>g. Has the Veteran ever had epilepsy associated with a psychotic disorder, psychoneurotic disorder, or personality disorder?</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Yes"/>            <xs:enumeration value="No"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="sd1:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_NEURO_SD_EPI_OTH">  <xs:annotation>     <xs:documentation></xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Yes"/>            <xs:enumeration value="No"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="sd1:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_NEURO_SD_EPI_OTH_YES">  <xs:annotation>     <xs:documentation>If yes, are any of the scars painful and/or unstable, or is the total area of all related scars greater than 39 square cm (6 square inches)?</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Yes"/>            <xs:enumeration value="No"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="sd1:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_NEURO_SD_EPI_OTH_OTH">  <xs:annotation>     <xs:documentation></xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Yes"/>            <xs:enumeration value="No"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="sd1:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_NEURO_SD_EPI_OTH_OTH_DESC">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="sd1:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="TESTS_NEURO_SD_EPI_IMAGE">  <xs:annotation>     <xs:documentation>a. Have any imaging studies or diagnostic procedures been performed?</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Yes"/>            <xs:enumeration value="No"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="sd1:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="TESTS_NEURO_SD_EPI_IMAGE_MRI">  <xs:annotation>    <xs:documentation>Magnetic resonance imaging (MRI)</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="sd1:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="TESTS_NEURO_SD_EPI_IMAGE_MRI_DATE">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="sd1:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="TESTS_NEURO_SD_EPI_IMAGE_MRI_RESULTS">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="sd1:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="TESTS_NEURO_SD_EPI_IMAGE_CT">  <xs:annotation>    <xs:documentation>Computed tomography (CT)</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="sd1:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="TESTS_NEURO_SD_EPI_IMAGE_CT_DATE">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="sd1:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="TESTS_NEURO_SD_EPI_IMAGE_CT_RESULT">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="sd1:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="TESTS_NEURO_SD_EPI_IMAGE_CSF">  <xs:annotation>    <xs:documentation>Cerebrospinal fluid (CSF) examination</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="sd1:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="TESTS_NEURO_SD_EPI_IMAGE_CSF_DATE">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="sd1:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="TESTS_NEURO_SD_EPI_IMAGE_CSF_RESULT">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="sd1:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="TESTS_NEURO_SD_EPI_IMAGE_EEG">  <xs:annotation>    <xs:documentation>Electroencephalography (EEG)</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="sd1:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="TESTS_NEURO_SD_EPI_IMAGE_EEG_DATE">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="sd1:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="TESTS_NEURO_SD_EPI_IMAGE_EEG_RESULT">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="sd1:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="TESTS_NEURO_SD_EPI_IMAGE_NEURO">  <xs:annotation>    <xs:documentation>Neuropsychologic testing</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="sd1:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="TESTS_NEURO_SD_EPI_IMAGE_NEURO_DATE">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="sd1:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="TESTS_NEURO_SD_EPI_IMAGE_NEURO_RESULT">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="sd1:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="TESTS_NEURO_SD_EPI_IMAGE_OTHER">  <xs:annotation>    <xs:documentation>Other, describe:</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="sd1:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="TESTS_NEURO_SD_EPI_IMAGE_OTHER_DESC">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="sd1:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="TESTS_NEURO_SD_EPI_IMAGE_OTHER_DATE">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="sd1:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="TESTS_NEURO_SD_EPI_IMAGE_OTHER_RESULT">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="sd1:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="TESTS_NEURO_SD_EPI_OTH">  <xs:annotation>     <xs:documentation>b. Are there any other significant diagnostic test findings and/or results?</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Yes"/>            <xs:enumeration value="No"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="sd1:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="TESTS_NEURO_SD_EPI_OTH_DESC">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="sd1:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="ASSESSMENT_NEURO_SD_EPI_FUNC">  <xs:annotation>     <xs:documentation>Does the Veteran's epilepsy or seizure (epilepsy) disorder impact his or her ability to work?</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Yes"/>            <xs:enumeration value="No"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="sd1:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="ASSESSMENT_NEURO_SD_EPI_IMPACT_YES">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="sd1:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="MISC_NEURO_SD_EPI_REMARKS">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="sd1:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAMGROUP_CARDIO_IHD_Name">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="sd1:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ACE_1">  <xs:annotation>    <xs:documentation></xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="sd1:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ACE_2">  <xs:annotation>    <xs:documentation></xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="sd1:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ACE_3">  <xs:annotation>    <xs:documentation>Examination via approved video telehealth</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="sd1:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ACE_4">  <xs:annotation>    <xs:documentation>In-person examination</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="sd1:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ACE_5_RevRec_1">  <xs:annotation>     <xs:documentation>Was the Veteran's VA claims file reviewed?</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Yes"/>            <xs:enumeration value="No"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="sd1:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ACE_5_RevRec_2">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="sd1:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ACE_5_RevRec_3">  <xs:annotation>    <xs:documentation>Military service treatment records</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="sd1:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ACE_5_RevRec_4">  <xs:annotation>    <xs:documentation>Military service personnel records</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="sd1:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ACE_5_RevRec_5">  <xs:annotation>    <xs:documentation>Military enlistment examination</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="sd1:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ACE_5_RevRec_6">  <xs:annotation>    <xs:documentation>Military separation examination</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="sd1:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ACE_5_RevRec_7">  <xs:annotation>    <xs:documentation>Military post-deployment questionnaire</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="sd1:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ACE_5_RevRec_8">  <xs:annotation>    <xs:documentation>Department of Defense Form 214 Separation Documents</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="sd1:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ACE_5_RevRec_9">  <xs:annotation>    <xs:documentation>Veterans Health Administration medical records (VA treatment records)</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="sd1:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ACE_5_RevRec_10">  <xs:annotation>    <xs:documentation>Civilian medical records</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="sd1:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ACE_5_RevRec_11">  <xs:annotation>    <xs:documentation>Interviews with collateral witnesses (family and others who have known the Veteran before and after military service)</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="sd1:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ACE_5_RevRec_12">  <xs:annotation>    <xs:documentation>No records were reviewed</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="sd1:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ACE_5_RevRec_13">  <xs:annotation>    <xs:documentation>Other:</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="sd1:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ACE_5_RevRec_14">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="sd1:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EpilepsyAverageFrequencyMajorSeizures">  <xs:annotation>     <xs:documentation>Average frequency of major seizures:</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="None in past 6 months"/>            <xs:enumeration value="At least 1 in past 6 months"/>            <xs:enumeration value="At least 1 in 4 months over past year"/>            <xs:enumeration value="At least 1 in 3 months over past year"/>            <xs:enumeration value="At least 1 per month over past year"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="sd1:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EpilepsyConfirmedDiagnosisEpilepsyWithHistorySeizures">  <xs:annotation>     <xs:documentation>f. Has the Veteran had a confirmed diagnosis of epilepsy with a history of seizures?</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Yes"/>            <xs:enumeration value="No"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="sd1:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
  </xs:all>  </xs:complexType>  <xs:element name="SeizureDisordersForm" type="sd1:SeizureDisordersFormType"/>  <xs:complexType name="Metadata">    <xs:all>      <xs:element name="code" type="xs:string"/>      <xs:element name="codeSystem" type="xs:string"/>      <xs:element name="version" type="xs:string"/>      <xs:element name="source" type="xs:string"/>    </xs:all>  </xs:complexType></xs:schema>
