legacy/Shoulder_DBQ_v13_3.pnl.xsd

<?xml version="1.0" encoding="UTF-8"?><xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:saa="http://vler.va.gov/vler/schemas/health/clinicalDocuments/clinicalAssessments/cpExams/1.3/ShoulderAndArm" targetNamespace="http://vler.va.gov/vler/schemas/health/clinicalDocuments/clinicalAssessments/cpExams/1.3/ShoulderAndArm" version="1.0">  <xs:complexType name="ShoulderAndArmFormType">  <xs:all>
<xs:element name="DIAGNOSIS_SHOULDER_ARM_DIAGNOSIS">  <xs:annotation>     <xs:documentation>Does the Veteran now have or has he/she ever had a shoulder and/or arm condition?</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Yes"/>            <xs:enumeration value="No"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="saa:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="DIAGNOSIS_SHOULDER_ARM_DIAGNOSIS_1">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="saa:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="DIAGNOSIS_SHOULDER_ARM_ICD_CODE_1">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="saa:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="DIAGNOSIS_SHOULDER_ARM_DATE_1">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="saa:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="DIAGNOSIS_SHOULDER_ARM_DIAGNOSIS_1_SA">  <xs:annotation>     <xs:documentation></xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Right"/>            <xs:enumeration value="Left"/>            <xs:enumeration value="Both"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="saa:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="DIAGNOSIS_SHOULDER_ARM_DIAGNOSIS_2">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="saa:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="DIAGNOSIS_SHOULDER_ARM_ICD_CODE_2">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="saa:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="DIAGNOSIS_SHOULDER_ARM_DATE_2">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="saa:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="DIAGNOSIS_SHOULDER_ARM_DIAGNOSIS_2_SA">  <xs:annotation>     <xs:documentation></xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Right"/>            <xs:enumeration value="Left"/>            <xs:enumeration value="Both"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="saa:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="DIAGNOSIS_SHOULDER_ARM_DIAGNOSIS_3">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="saa:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="DIAGNOSIS_SHOULDER_ARM_ICD_CODE_3">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="saa:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="DIAGNOSIS_SHOULDER_ARM_DATE_3">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="saa:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="DIAGNOSIS_SHOULDER_ARM_DIAGNOSIS_3_SA">  <xs:annotation>     <xs:documentation></xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Right"/>            <xs:enumeration value="Left"/>            <xs:enumeration value="Both"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="saa:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="DIAGNOSIS_SHOULDER_ARM_DIAGNOSIS_ADDITIONAL">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="saa:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="HISTORY_SHOULDER_ARM_DESCRIBE_HISTORY">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="saa:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="HISTORY_SHOULDER_ARM_DOMINANT_HAND">  <xs:annotation>     <xs:documentation>b.  Dominant hand:</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Right"/>            <xs:enumeration value="Left"/>            <xs:enumeration value="Ambidextrous"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="saa:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="HISTORY_SHOULDER_ARM_FLARE_UPS">  <xs:annotation>     <xs:documentation>Does the Veteran report that flare-ups impact the function of the shoulder and/or arm?</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Yes"/>            <xs:enumeration value="No"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="saa:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="HISTORY_SHOULDER_ARM_FLARE_UPS_Y">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="saa:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_SHOULDER_ARM_ROM_R_FE">  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="0"/>            <xs:enumeration value="5"/>            <xs:enumeration value="10"/>            <xs:enumeration value="15"/>            <xs:enumeration value="20"/>            <xs:enumeration value="25"/>            <xs:enumeration value="30"/>            <xs:enumeration value="35"/>            <xs:enumeration value="40"/>            <xs:enumeration value="45"/>            <xs:enumeration value="50"/>            <xs:enumeration value="55"/>            <xs:enumeration value="60"/>            <xs:enumeration value="65"/>            <xs:enumeration value="70"/>            <xs:enumeration value="75"/>            <xs:enumeration value="80"/>            <xs:enumeration value="85"/>            <xs:enumeration value="90"/>            <xs:enumeration value="95"/>            <xs:enumeration value="100"/>            <xs:enumeration value="105"/>            <xs:enumeration value="110"/>            <xs:enumeration value="115"/>            <xs:enumeration value="120"/>            <xs:enumeration value="125"/>            <xs:enumeration value="130"/>            <xs:enumeration value="135"/>            <xs:enumeration value="140"/>            <xs:enumeration value="145"/>            <xs:enumeration value="150"/>            <xs:enumeration value="155"/>            <xs:enumeration value="160"/>            <xs:enumeration value="165"/>            <xs:enumeration value="170"/>            <xs:enumeration value="175"/>            <xs:enumeration value="180"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="saa:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_SHOULDER_ARM_ROM_R_FE_PM">  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="No objective evidence of painful motion"/>            <xs:enumeration value="0"/>            <xs:enumeration value="5"/>            <xs:enumeration value="10"/>            <xs:enumeration value="15"/>            <xs:enumeration value="20"/>            <xs:enumeration value="25"/>            <xs:enumeration value="30"/>            <xs:enumeration value="35"/>            <xs:enumeration value="40"/>            <xs:enumeration value="45"/>            <xs:enumeration value="50"/>            <xs:enumeration value="55"/>            <xs:enumeration value="60"/>            <xs:enumeration value="65"/>            <xs:enumeration value="70"/>            <xs:enumeration value="75"/>            <xs:enumeration value="80"/>            <xs:enumeration value="85"/>            <xs:enumeration value="90"/>            <xs:enumeration value="95"/>            <xs:enumeration value="100"/>            <xs:enumeration value="105"/>            <xs:enumeration value="110"/>            <xs:enumeration value="115"/>            <xs:enumeration value="120"/>            <xs:enumeration value="125"/>            <xs:enumeration value="130"/>            <xs:enumeration value="135"/>            <xs:enumeration value="140"/>            <xs:enumeration value="145"/>            <xs:enumeration value="150"/>            <xs:enumeration value="155"/>            <xs:enumeration value="160"/>            <xs:enumeration value="165"/>            <xs:enumeration value="170"/>            <xs:enumeration value="175"/>            <xs:enumeration value="180"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="saa:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_SHOULDER_ARM_ROM_R_AE">  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="0"/>            <xs:enumeration value="5"/>            <xs:enumeration value="10"/>            <xs:enumeration value="15"/>            <xs:enumeration value="20"/>            <xs:enumeration value="25"/>            <xs:enumeration value="30"/>            <xs:enumeration value="35"/>            <xs:enumeration value="40"/>            <xs:enumeration value="45"/>            <xs:enumeration value="50"/>            <xs:enumeration value="55"/>            <xs:enumeration value="60"/>            <xs:enumeration value="65"/>            <xs:enumeration value="70"/>            <xs:enumeration value="75"/>            <xs:enumeration value="80"/>            <xs:enumeration value="85"/>            <xs:enumeration value="90"/>            <xs:enumeration value="95"/>            <xs:enumeration value="100"/>            <xs:enumeration value="105"/>            <xs:enumeration value="110"/>            <xs:enumeration value="115"/>            <xs:enumeration value="120"/>            <xs:enumeration value="125"/>            <xs:enumeration value="130"/>            <xs:enumeration value="135"/>            <xs:enumeration value="140"/>            <xs:enumeration value="145"/>            <xs:enumeration value="150"/>            <xs:enumeration value="155"/>            <xs:enumeration value="160"/>            <xs:enumeration value="165"/>            <xs:enumeration value="170"/>            <xs:enumeration value="175"/>            <xs:enumeration value="180"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="saa:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_SHOULDER_ARM_ROM_R_AE_PM">  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="No objective evidence of painful motion"/>            <xs:enumeration value="0"/>            <xs:enumeration value="5"/>            <xs:enumeration value="10"/>            <xs:enumeration value="15"/>            <xs:enumeration value="20"/>            <xs:enumeration value="25"/>            <xs:enumeration value="30"/>            <xs:enumeration value="35"/>            <xs:enumeration value="40"/>            <xs:enumeration value="45"/>            <xs:enumeration value="50"/>            <xs:enumeration value="55"/>            <xs:enumeration value="60"/>            <xs:enumeration value="65"/>            <xs:enumeration value="70"/>            <xs:enumeration value="75"/>            <xs:enumeration value="80"/>            <xs:enumeration value="85"/>            <xs:enumeration value="90"/>            <xs:enumeration value="95"/>            <xs:enumeration value="100"/>            <xs:enumeration value="105"/>            <xs:enumeration value="110"/>            <xs:enumeration value="115"/>            <xs:enumeration value="120"/>            <xs:enumeration value="125"/>            <xs:enumeration value="130"/>            <xs:enumeration value="135"/>            <xs:enumeration value="140"/>            <xs:enumeration value="145"/>            <xs:enumeration value="150"/>            <xs:enumeration value="155"/>            <xs:enumeration value="160"/>            <xs:enumeration value="165"/>            <xs:enumeration value="170"/>            <xs:enumeration value="175"/>            <xs:enumeration value="180"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="saa:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_SHOULDER_ARM_ROM_L_FE">  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="0"/>            <xs:enumeration value="5"/>            <xs:enumeration value="10"/>            <xs:enumeration value="15"/>            <xs:enumeration value="20"/>            <xs:enumeration value="25"/>            <xs:enumeration value="30"/>            <xs:enumeration value="35"/>            <xs:enumeration value="40"/>            <xs:enumeration value="45"/>            <xs:enumeration value="50"/>            <xs:enumeration value="55"/>            <xs:enumeration value="60"/>            <xs:enumeration value="65"/>            <xs:enumeration value="70"/>            <xs:enumeration value="75"/>            <xs:enumeration value="80"/>            <xs:enumeration value="85"/>            <xs:enumeration value="90"/>            <xs:enumeration value="95"/>            <xs:enumeration value="100"/>            <xs:enumeration value="105"/>            <xs:enumeration value="110"/>            <xs:enumeration value="115"/>            <xs:enumeration value="120"/>            <xs:enumeration value="125"/>            <xs:enumeration value="130"/>            <xs:enumeration value="135"/>            <xs:enumeration value="140"/>            <xs:enumeration value="145"/>            <xs:enumeration value="150"/>            <xs:enumeration value="155"/>            <xs:enumeration value="160"/>            <xs:enumeration value="165"/>            <xs:enumeration value="170"/>            <xs:enumeration value="175"/>            <xs:enumeration value="180"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="saa:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_SHOULDER_ARM_ROM_L_FE_PM">  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="No objective evidence of painful motion"/>            <xs:enumeration value="0"/>            <xs:enumeration value="5"/>            <xs:enumeration value="10"/>            <xs:enumeration value="15"/>            <xs:enumeration value="20"/>            <xs:enumeration value="25"/>            <xs:enumeration value="30"/>            <xs:enumeration value="35"/>            <xs:enumeration value="40"/>            <xs:enumeration value="45"/>            <xs:enumeration value="50"/>            <xs:enumeration value="55"/>            <xs:enumeration value="60"/>            <xs:enumeration value="65"/>            <xs:enumeration value="70"/>            <xs:enumeration value="75"/>            <xs:enumeration value="80"/>            <xs:enumeration value="85"/>            <xs:enumeration value="90"/>            <xs:enumeration value="95"/>            <xs:enumeration value="100"/>            <xs:enumeration value="105"/>            <xs:enumeration value="110"/>            <xs:enumeration value="115"/>            <xs:enumeration value="120"/>            <xs:enumeration value="125"/>            <xs:enumeration value="130"/>            <xs:enumeration value="135"/>            <xs:enumeration value="140"/>            <xs:enumeration value="145"/>            <xs:enumeration value="150"/>            <xs:enumeration value="155"/>            <xs:enumeration value="160"/>            <xs:enumeration value="165"/>            <xs:enumeration value="170"/>            <xs:enumeration value="175"/>            <xs:enumeration value="180"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="saa:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_SHOULDER_ARM_ROM_L_AE">  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="0"/>            <xs:enumeration value="5"/>            <xs:enumeration value="10"/>            <xs:enumeration value="15"/>            <xs:enumeration value="20"/>            <xs:enumeration value="25"/>            <xs:enumeration value="30"/>            <xs:enumeration value="35"/>            <xs:enumeration value="40"/>            <xs:enumeration value="45"/>            <xs:enumeration value="50"/>            <xs:enumeration value="55"/>            <xs:enumeration value="60"/>            <xs:enumeration value="65"/>            <xs:enumeration value="70"/>            <xs:enumeration value="75"/>            <xs:enumeration value="80"/>            <xs:enumeration value="85"/>            <xs:enumeration value="90"/>            <xs:enumeration value="95"/>            <xs:enumeration value="100"/>            <xs:enumeration value="105"/>            <xs:enumeration value="110"/>            <xs:enumeration value="115"/>            <xs:enumeration value="120"/>            <xs:enumeration value="125"/>            <xs:enumeration value="130"/>            <xs:enumeration value="135"/>            <xs:enumeration value="140"/>            <xs:enumeration value="145"/>            <xs:enumeration value="150"/>            <xs:enumeration value="155"/>            <xs:enumeration value="160"/>            <xs:enumeration value="165"/>            <xs:enumeration value="170"/>            <xs:enumeration value="175"/>            <xs:enumeration value="180"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="saa:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_SHOULDER_ARM_ROM_L_AE_PM">  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="No objective evidence of painful motion"/>            <xs:enumeration value="0"/>            <xs:enumeration value="5"/>            <xs:enumeration value="10"/>            <xs:enumeration value="15"/>            <xs:enumeration value="20"/>            <xs:enumeration value="25"/>            <xs:enumeration value="30"/>            <xs:enumeration value="35"/>            <xs:enumeration value="40"/>            <xs:enumeration value="45"/>            <xs:enumeration value="50"/>            <xs:enumeration value="55"/>            <xs:enumeration value="60"/>            <xs:enumeration value="65"/>            <xs:enumeration value="70"/>            <xs:enumeration value="75"/>            <xs:enumeration value="80"/>            <xs:enumeration value="85"/>            <xs:enumeration value="90"/>            <xs:enumeration value="95"/>            <xs:enumeration value="100"/>            <xs:enumeration value="105"/>            <xs:enumeration value="110"/>            <xs:enumeration value="115"/>            <xs:enumeration value="120"/>            <xs:enumeration value="125"/>            <xs:enumeration value="130"/>            <xs:enumeration value="135"/>            <xs:enumeration value="140"/>            <xs:enumeration value="145"/>            <xs:enumeration value="150"/>            <xs:enumeration value="155"/>            <xs:enumeration value="160"/>            <xs:enumeration value="165"/>            <xs:enumeration value="170"/>            <xs:enumeration value="175"/>            <xs:enumeration value="180"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="saa:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_SHOULDER_ARM_ROM_NOT_NORM">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="saa:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_SHOULDER_ARM_ROM_AFTER_RUT">  <xs:annotation>     <xs:documentation>a. Is the Veteran able to perform repetitive-use testing with 3 repetitions?</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Yes"/>            <xs:enumeration value="No"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="saa:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_SHOULDER_ARM_ROM_AFTER_RUT_NO">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="saa:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_SHOULDER_ARM_ROM_PT_R_FE">  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="0"/>            <xs:enumeration value="5"/>            <xs:enumeration value="10"/>            <xs:enumeration value="15"/>            <xs:enumeration value="20"/>            <xs:enumeration value="25"/>            <xs:enumeration value="30"/>            <xs:enumeration value="35"/>            <xs:enumeration value="40"/>            <xs:enumeration value="45"/>            <xs:enumeration value="50"/>            <xs:enumeration value="55"/>            <xs:enumeration value="60"/>            <xs:enumeration value="65"/>            <xs:enumeration value="70"/>            <xs:enumeration value="75"/>            <xs:enumeration value="80"/>            <xs:enumeration value="85"/>            <xs:enumeration value="90"/>            <xs:enumeration value="95"/>            <xs:enumeration value="100"/>            <xs:enumeration value="105"/>            <xs:enumeration value="110"/>            <xs:enumeration value="115"/>            <xs:enumeration value="120"/>            <xs:enumeration value="125"/>            <xs:enumeration value="130"/>            <xs:enumeration value="135"/>            <xs:enumeration value="140"/>            <xs:enumeration value="145"/>            <xs:enumeration value="150"/>            <xs:enumeration value="155"/>            <xs:enumeration value="160"/>            <xs:enumeration value="165"/>            <xs:enumeration value="170"/>            <xs:enumeration value="175"/>            <xs:enumeration value="180"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="saa:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_SHOULDER_ARM_ROM_PT_R_AE">  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="0"/>            <xs:enumeration value="5"/>            <xs:enumeration value="10"/>            <xs:enumeration value="15"/>            <xs:enumeration value="20"/>            <xs:enumeration value="25"/>            <xs:enumeration value="30"/>            <xs:enumeration value="35"/>            <xs:enumeration value="40"/>            <xs:enumeration value="45"/>            <xs:enumeration value="50"/>            <xs:enumeration value="55"/>            <xs:enumeration value="60"/>            <xs:enumeration value="65"/>            <xs:enumeration value="70"/>            <xs:enumeration value="75"/>            <xs:enumeration value="80"/>            <xs:enumeration value="85"/>            <xs:enumeration value="90"/>            <xs:enumeration value="95"/>            <xs:enumeration value="100"/>            <xs:enumeration value="105"/>            <xs:enumeration value="110"/>            <xs:enumeration value="115"/>            <xs:enumeration value="120"/>            <xs:enumeration value="125"/>            <xs:enumeration value="130"/>            <xs:enumeration value="135"/>            <xs:enumeration value="140"/>            <xs:enumeration value="145"/>            <xs:enumeration value="150"/>            <xs:enumeration value="155"/>            <xs:enumeration value="160"/>            <xs:enumeration value="165"/>            <xs:enumeration value="170"/>            <xs:enumeration value="175"/>            <xs:enumeration value="180"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="saa:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_SHOULDER_ARM_ROM_PT_L_FE">  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="0"/>            <xs:enumeration value="5"/>            <xs:enumeration value="10"/>            <xs:enumeration value="15"/>            <xs:enumeration value="20"/>            <xs:enumeration value="25"/>            <xs:enumeration value="30"/>            <xs:enumeration value="35"/>            <xs:enumeration value="40"/>            <xs:enumeration value="45"/>            <xs:enumeration value="50"/>            <xs:enumeration value="55"/>            <xs:enumeration value="60"/>            <xs:enumeration value="65"/>            <xs:enumeration value="70"/>            <xs:enumeration value="75"/>            <xs:enumeration value="80"/>            <xs:enumeration value="85"/>            <xs:enumeration value="90"/>            <xs:enumeration value="95"/>            <xs:enumeration value="100"/>            <xs:enumeration value="105"/>            <xs:enumeration value="110"/>            <xs:enumeration value="115"/>            <xs:enumeration value="120"/>            <xs:enumeration value="125"/>            <xs:enumeration value="130"/>            <xs:enumeration value="135"/>            <xs:enumeration value="140"/>            <xs:enumeration value="145"/>            <xs:enumeration value="150"/>            <xs:enumeration value="155"/>            <xs:enumeration value="160"/>            <xs:enumeration value="165"/>            <xs:enumeration value="170"/>            <xs:enumeration value="175"/>            <xs:enumeration value="180"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="saa:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_SHOULDER_ARM_ROM_PT_L_AE">  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="0"/>            <xs:enumeration value="5"/>            <xs:enumeration value="10"/>            <xs:enumeration value="15"/>            <xs:enumeration value="20"/>            <xs:enumeration value="25"/>            <xs:enumeration value="30"/>            <xs:enumeration value="35"/>            <xs:enumeration value="40"/>            <xs:enumeration value="45"/>            <xs:enumeration value="50"/>            <xs:enumeration value="55"/>            <xs:enumeration value="60"/>            <xs:enumeration value="65"/>            <xs:enumeration value="70"/>            <xs:enumeration value="75"/>            <xs:enumeration value="80"/>            <xs:enumeration value="85"/>            <xs:enumeration value="90"/>            <xs:enumeration value="95"/>            <xs:enumeration value="100"/>            <xs:enumeration value="105"/>            <xs:enumeration value="110"/>            <xs:enumeration value="115"/>            <xs:enumeration value="120"/>            <xs:enumeration value="125"/>            <xs:enumeration value="130"/>            <xs:enumeration value="135"/>            <xs:enumeration value="140"/>            <xs:enumeration value="145"/>            <xs:enumeration value="150"/>            <xs:enumeration value="155"/>            <xs:enumeration value="160"/>            <xs:enumeration value="165"/>            <xs:enumeration value="170"/>            <xs:enumeration value="175"/>            <xs:enumeration value="180"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="saa:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_SHOULDER_ARM_ROM_AFTER_RUT_ADDITIONAL_LIMIT">  <xs:annotation>     <xs:documentation>a. Does the Veteran have additional limitation in ROM of the shoulder and arm following repetitive-use testing?</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Yes"/>            <xs:enumeration value="No"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="saa:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_SHOULDER_ARM_ROM_FUNC_LOSS">  <xs:annotation>     <xs:documentation>b. Does the Veteran have any functional loss and/or functional impairment of the shoulder and arm?</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Yes"/>            <xs:enumeration value="No"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="saa:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_SHOULDER_ARM_ROM_FL_NO_FL_LLE">  <xs:annotation>    <xs:documentation>No functional loss for left upper extremity attributable to claimed condition</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="saa:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_SHOULDER_ARM_ROM_FL_LESSMOVEMENT">  <xs:annotation>    <xs:documentation>Less movement than normal</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="saa:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_SHOULDER_ARM_ROM_FL_LESSMOVEMENT_RG">  <xs:annotation>     <xs:documentation></xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Right"/>            <xs:enumeration value="Left"/>            <xs:enumeration value="Both"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="saa:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_SHOULDER_ARM_ROM_FL_MOREMOVEMENT">  <xs:annotation>    <xs:documentation>More movement than normal</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="saa:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_SHOULDER_ARM_ROM_FL_MOREMOVEMENT_RG">  <xs:annotation>     <xs:documentation></xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Right"/>            <xs:enumeration value="Left"/>            <xs:enumeration value="Both"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="saa:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_SHOULDER_ARM_ROM_FL_WEAKENEDMOVEMENT">  <xs:annotation>    <xs:documentation>Weakened movement</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="saa:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_SHOULDER_ARM_ROM_FL_WEAKENEDMOVEMENT_RG">  <xs:annotation>     <xs:documentation></xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Right"/>            <xs:enumeration value="Left"/>            <xs:enumeration value="Both"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="saa:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_SHOULDER_ARM_ROM_FL_EF">  <xs:annotation>    <xs:documentation>Excess fatigability</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="saa:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_SHOULDER_ARM_ROM_FL_EF_RG">  <xs:annotation>     <xs:documentation></xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Right"/>            <xs:enumeration value="Left"/>            <xs:enumeration value="Both"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="saa:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_SHOULDER_ARM_ROM_FL_INCOORD">  <xs:annotation>    <xs:documentation>Incoordination, impaired ability to execute skilled movements smoothly</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="saa:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_SHOULDER_ARM_ROM_FL_INCOORD_RG">  <xs:annotation>     <xs:documentation></xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Right"/>            <xs:enumeration value="Left"/>            <xs:enumeration value="Both"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="saa:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_SHOULDER_ARM_ROM_FL_PAIN">  <xs:annotation>    <xs:documentation>Pain on movement</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="saa:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_SHOULDER_ARM_ROM_FL_PAIN_RG">  <xs:annotation>     <xs:documentation></xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Right"/>            <xs:enumeration value="Left"/>            <xs:enumeration value="Both"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="saa:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_SHOULDER_ARM_ROM_FL_SWELLING">  <xs:annotation>    <xs:documentation>Swelling</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="saa:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_SHOULDER_ARM_ROM_FL_SWELLING_RG">  <xs:annotation>     <xs:documentation></xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Right"/>            <xs:enumeration value="Left"/>            <xs:enumeration value="Both"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="saa:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_SHOULDER_ARM_ROM_FL_DEFORMITY">  <xs:annotation>    <xs:documentation>Deformity</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="saa:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_SHOULDER_ARM_ROM_FL_DEFORMITY_RG">  <xs:annotation>     <xs:documentation></xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Right"/>            <xs:enumeration value="Left"/>            <xs:enumeration value="Both"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="saa:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_SHOULDER_ARM_ROM_FL_ATROPHY">  <xs:annotation>    <xs:documentation>Atrophy of disuse</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="saa:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_SHOULDER_ARM_ROM_FL_ATROPHY_RG">  <xs:annotation>     <xs:documentation></xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Right"/>            <xs:enumeration value="Left"/>            <xs:enumeration value="Both"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="saa:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_SHOULDER_ARM_PAIN_ON_PALPATION_YES">  <xs:annotation>     <xs:documentation></xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Right"/>            <xs:enumeration value="Left"/>            <xs:enumeration value="Both"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="saa:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_SHOULDER_ARM_PAIN_GUARDING">  <xs:annotation>     <xs:documentation>b. Does the Veteran have guarding of either shoulder?</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Yes"/>            <xs:enumeration value="No"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="saa:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_SHOULDER_ARM_PAIN_GUARDING_YES">  <xs:annotation>     <xs:documentation></xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Right"/>            <xs:enumeration value="Left"/>            <xs:enumeration value="Both"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="saa:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_SHOULDER_ARM_MST_SA_R">  <xs:annotation>     <xs:documentation></xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="5/5"/>            <xs:enumeration value="4/5"/>            <xs:enumeration value="3/5"/>            <xs:enumeration value="2/5"/>            <xs:enumeration value="1/5"/>            <xs:enumeration value="0/5"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="saa:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_SHOULDER_ARM_MST_SA_L">  <xs:annotation>     <xs:documentation></xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="5/5"/>            <xs:enumeration value="4/5"/>            <xs:enumeration value="3/5"/>            <xs:enumeration value="2/5"/>            <xs:enumeration value="1/5"/>            <xs:enumeration value="0/5"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="saa:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_SHOULDER_ARM_MST_SFF_R">  <xs:annotation>     <xs:documentation></xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="5/5"/>            <xs:enumeration value="4/5"/>            <xs:enumeration value="3/5"/>            <xs:enumeration value="2/5"/>            <xs:enumeration value="1/5"/>            <xs:enumeration value="0/5"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="saa:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_SHOULDER_ARM_MST_SFF_L">  <xs:annotation>     <xs:documentation></xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="5/5"/>            <xs:enumeration value="4/5"/>            <xs:enumeration value="3/5"/>            <xs:enumeration value="2/5"/>            <xs:enumeration value="1/5"/>            <xs:enumeration value="0/5"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="saa:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_SHOULDER_ARM_ANKYLOSIS_SJ">  <xs:annotation>     <xs:documentation>Does the Veteran have ankylosis of the glenohumeral articulation (shoulder joint)?</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Yes"/>            <xs:enumeration value="No"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="saa:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_SHOULDER_ARM_ANKYLOSIS_SJ_YES_60">  <xs:annotation>    <xs:documentation>Abduction to 60 degrees; can reach mouth and head</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="saa:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_SHOULDER_ARM_ANKYLOSIS_SJ_YES_60_RG">  <xs:annotation>     <xs:documentation></xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Right"/>            <xs:enumeration value="Left"/>            <xs:enumeration value="Both"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="saa:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_SHOULDER_ARM_ANKYLOSIS_SJ_YES_60_25">  <xs:annotation>    <xs:documentation>Abduction limited to between 60 and 25 degrees</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="saa:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_SHOULDER_ARM_ANKYLOSIS_SJ_YES_60_25_RG">  <xs:annotation>     <xs:documentation></xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Right"/>            <xs:enumeration value="Left"/>            <xs:enumeration value="Both"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="saa:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_SHOULDER_ARM_ANKYLOSIS_SJ_YES_25">  <xs:annotation>    <xs:documentation>Abduction limited to 25 degrees from the side</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="saa:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_SHOULDER_ARM_ANKYLOSIS_SJ_YES_25_RG">  <xs:annotation>     <xs:documentation></xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Right"/>            <xs:enumeration value="Left"/>            <xs:enumeration value="Both"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="saa:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_SHOULDER_ARM_SPECIFIC_TESTS_HIT">  <xs:annotation>     <xs:documentation></xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Positive"/>            <xs:enumeration value="Negative"/>            <xs:enumeration value="Unable to perform"/>            <xs:enumeration value="N/A"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="saa:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_SHOULDER_ARM_SPECIFIC_TESTS_HIT_SA">  <xs:annotation>     <xs:documentation></xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Right"/>            <xs:enumeration value="Left"/>            <xs:enumeration value="Both"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="saa:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_SHOULDER_ARM_SPECIFIC_TESTS_ECT">  <xs:annotation>     <xs:documentation></xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Positive"/>            <xs:enumeration value="Negative"/>            <xs:enumeration value="Unable to perform"/>            <xs:enumeration value="N/A"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="saa:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_SHOULDER_ARM_SPECIFIC_TESTS_ECT_SA">  <xs:annotation>     <xs:documentation></xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Right"/>            <xs:enumeration value="Left"/>            <xs:enumeration value="Both"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="saa:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_SHOULDER_ARM_SPECIFIC_TESTS_ERIST">  <xs:annotation>     <xs:documentation></xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Positive"/>            <xs:enumeration value="Negative"/>            <xs:enumeration value="Unable to perform"/>            <xs:enumeration value="N/A"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="saa:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_SHOULDER_ARM_SPECIFIC_TESTS_ERIST_SA">  <xs:annotation>     <xs:documentation></xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Right"/>            <xs:enumeration value="Left"/>            <xs:enumeration value="Both"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="saa:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_SHOULDER_ARM_SPECIFIC_TESTS_LOST">  <xs:annotation>     <xs:documentation></xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Positive"/>            <xs:enumeration value="Negative"/>            <xs:enumeration value="Unable to perform"/>            <xs:enumeration value="N/A"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="saa:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_SHOULDER_ARM_SPECIFIC_TESTS_LOST_SA">  <xs:annotation>     <xs:documentation></xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Right"/>            <xs:enumeration value="Left"/>            <xs:enumeration value="Both"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="saa:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_SHOULDER_ARM_IDL_PATHOLOGY_HISTORY_MS">  <xs:annotation>     <xs:documentation>a. Is there a history of mechanical symptoms (clicking, catching, etc.)?</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Yes"/>            <xs:enumeration value="No"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="saa:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_SHOULDER_ARM_IDL_PATHOLOGY_HISTORY_MS_SA">  <xs:annotation>     <xs:documentation></xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Right"/>            <xs:enumeration value="Left"/>            <xs:enumeration value="Both"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="saa:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_SHOULDER_ARM_IDL_PATHOLOGY_HISTORY_RD">  <xs:annotation>     <xs:documentation>b. Is there a history of recurrent dislocation (subluxation) of the glenohumeral (scapulohumeral) joint?</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Yes"/>            <xs:enumeration value="No"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="saa:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_SHOULDER_ARM_IDL_PATHOLOGY_HISTORY_RD_YES_IE">  <xs:annotation>    <xs:documentation>Infrequent episodes</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="saa:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_SHOULDER_ARM_IDL_PATHOLOGY_HISTORY_RD_YES_IE_RG">  <xs:annotation>     <xs:documentation></xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Right"/>            <xs:enumeration value="Left"/>            <xs:enumeration value="Both"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="saa:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_SHOULDER_ARM_IDL_PATHOLOGY_HISTORY_RD_YES_FE">  <xs:annotation>    <xs:documentation>Frequent episodes</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="saa:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_SHOULDER_ARM_IDL_PATHOLOGY_HISTORY_RD_YES_FE_RG">  <xs:annotation>     <xs:documentation></xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Right"/>            <xs:enumeration value="Left"/>            <xs:enumeration value="Both"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="saa:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_SHOULDER_ARM_IDL_PATHOLOGY_HISTORY_RD_YES_GM">  <xs:annotation>    <xs:documentation>Guarding of movement only at shoulder level</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="saa:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_SHOULDER_ARM_IDL_PATHOLOGY_HISTORY_RD_YES_GM_RG">  <xs:annotation>     <xs:documentation></xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Right"/>            <xs:enumeration value="Left"/>            <xs:enumeration value="Both"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="saa:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_SHOULDER_ARM_IDL_PATHOLOGY_HISTORY_RD_YES_GA">  <xs:annotation>    <xs:documentation>Guarding of all arm movements</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="saa:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_SHOULDER_ARM_IDL_PATHOLOGY_HISTORY_RD_YES_GA_RG">  <xs:annotation>     <xs:documentation></xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Right"/>            <xs:enumeration value="Left"/>            <xs:enumeration value="Both"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="saa:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_SHOULDER_ARM_SPECIFIC_TESTS_CART">  <xs:annotation>     <xs:documentation></xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Positive"/>            <xs:enumeration value="Negative"/>            <xs:enumeration value="Unable to perform"/>            <xs:enumeration value="N/A"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="saa:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_SHOULDER_ARM_SPECIFIC_TESTS_CART_SA">  <xs:annotation>     <xs:documentation></xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Right"/>            <xs:enumeration value="Left"/>            <xs:enumeration value="Both"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="saa:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_SHOULDER_ARM_SPECIFIC_TESTS_AC_JOINT_CONDITION">  <xs:annotation>     <xs:documentation>a. Does the Veteran have an AC joint condition or any other impairment of the clavicle or scapula?</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Yes"/>            <xs:enumeration value="No"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="saa:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_SHOULDER_ARM_SPECIFIC_TESTS_AC_JOINT_CONDITION_YES_MCS">  <xs:annotation>    <xs:documentation>Malunion of clavicle or scapula</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="saa:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_SHOULDER_ARM_SPECIFIC_TESTS_AC_JOINT_CONDITION_YES_MCS_RG">  <xs:annotation>     <xs:documentation></xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Right"/>            <xs:enumeration value="Left"/>            <xs:enumeration value="Both"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="saa:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_SHOULDER_ARM_SPECIFIC_TESTS_AC_JOINT_CONDITION_YES_NCS_WO">  <xs:annotation>    <xs:documentation>Nonunion of clavicle or scapula without loose movement</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="saa:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_SHOULDER_ARM_SPECIFIC_TESTS_AC_JOINT_CONDITION_YES_NCS_WO_RG">  <xs:annotation>     <xs:documentation></xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Right"/>            <xs:enumeration value="Left"/>            <xs:enumeration value="Both"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="saa:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_SHOULDER_ARM_SPECIFIC_TESTS_AC_JOINT_CONDITION_YES_NCS_W">  <xs:annotation>    <xs:documentation>Nonunion of clavicle or scapula with loose movement</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="saa:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_SHOULDER_ARM_SPECIFIC_TESTS_AC_JOINT_CONDITION_YES_NCS_W_RG">  <xs:annotation>     <xs:documentation></xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Right"/>            <xs:enumeration value="Left"/>            <xs:enumeration value="Both"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="saa:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_SHOULDER_ARM_SPECIFIC_TESTS_AC_JOINT_CONDITION_YES_D">  <xs:annotation>    <xs:documentation>Dislocation (acromioclavicular separation or sternoclavicular dislocation)</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="saa:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_SHOULDER_ARM_SPECIFIC_TESTS_AC_JOINT_CONDITION_YES_D_RG">  <xs:annotation>     <xs:documentation></xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Right"/>            <xs:enumeration value="Left"/>            <xs:enumeration value="Both"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="saa:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_SHOULDER_ARM_SPECIFIC_TESTS_AC_JOINT_CONDITION_YES_OTHER">  <xs:annotation>    <xs:documentation>Other, describe:</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="saa:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_SHOULDER_ARM_SPECIFIC_TESTS_AC_JOINT_CONDITION_YES_OTHER_EDIT">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="saa:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_SHOULDER_ARM_SPECIFIC_TESTS_AC_JOINT_CONDITION_YES_OTHER_RG">  <xs:annotation>     <xs:documentation></xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Right"/>            <xs:enumeration value="Left"/>            <xs:enumeration value="Both"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="saa:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_SHOULDER_ARM_SPECIFIC_TESTS_AC_JOINT_CONDITION_TENDER">  <xs:annotation>     <xs:documentation>b. Is there tenderness on palpation of the AC joint?</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Yes"/>            <xs:enumeration value="No"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="saa:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_SHOULDER_ARM_SPECIFIC_TESTS_AC_JOINT_CONDITION_TENDER_SA">  <xs:annotation>     <xs:documentation></xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Right"/>            <xs:enumeration value="Left"/>            <xs:enumeration value="Both"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="saa:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_SHOULDER_ARM_SPECIFIC_TESTS_AC_JOINT_CONDITION_CBAT">  <xs:annotation>     <xs:documentation></xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Positive"/>            <xs:enumeration value="Negative"/>            <xs:enumeration value="Unable to perform"/>            <xs:enumeration value="N/A"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="saa:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_SHOULDER_ARM_SPECIFIC_TESTS_AC_JOINT_CONDITION_CBAT_SA">  <xs:annotation>     <xs:documentation></xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Right"/>            <xs:enumeration value="Left"/>            <xs:enumeration value="Both"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="saa:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_SHOULDER_ARM_JR_TOTAL_SHOULDER">  <xs:annotation>     <xs:documentation>a. Has the Veteran had a total shoulder joint replacement?</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Yes"/>            <xs:enumeration value="No"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="saa:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_SHOULDER_ARM_JR_TOTAL_SHOULDER_YES_R">  <xs:annotation>    <xs:documentation>Right shoulder</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="saa:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_SHOULDER_ARM_JR_TOTAL_SHOULDER_YES_R_SURGERY">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="saa:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_SHOULDER_ARM_JR_TOTAL_SHOULDER_YES_R_RESIDUALS_OTHER">  <xs:annotation>    <xs:documentation>Other, describe:</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="saa:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_SHOULDER_ARM_JR_TOTAL_SHOULDER_YES_R_RESIDUALS_OTHER_EDIT">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="saa:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_SHOULDER_ARM_JR_TOTAL_SHOULDER_YES_L">  <xs:annotation>    <xs:documentation>Left shoulder</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="saa:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_SHOULDER_ARM_JR_TOTAL_SHOULDER_YES_L_SURGERY">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="saa:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_SHOULDER_ARM_JR_TOTAL_SHOULDER_YES_L_RESIDUALS_OTHER">  <xs:annotation>    <xs:documentation>Other, describe:</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="saa:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_SHOULDER_ARM_JR_TOTAL_SHOULDER_YES_L_RESIDUALS_OTHER_EDIT">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="saa:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_SHOULDER_ARM_JR_ARTHROSCOPIC">  <xs:annotation>     <xs:documentation>b. Has the Veteran had arthroscopic or other shoulder surgery?</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Yes"/>            <xs:enumeration value="No"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="saa:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_SHOULDER_ARM_JR_ARTHROSCOPIC_SA">  <xs:annotation>     <xs:documentation></xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Right"/>            <xs:enumeration value="Left"/>            <xs:enumeration value="Both"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="saa:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_SHOULDER_ARM_JR_ARTHROSCOPIC_SURGERY">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="saa:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_SHOULDER_ARM_JR_ARTHROSCOPIC_RESIDUAL">  <xs:annotation>     <xs:documentation>c. Does the Veteran have any residual signs and/or symptoms due to arthroscopic or other shoulder surgery?</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Yes"/>            <xs:enumeration value="No"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="saa:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_SHOULDER_ARM_JR_ARTHROSCOPIC_RESIDUAL_SA">  <xs:annotation>     <xs:documentation></xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Right"/>            <xs:enumeration value="Left"/>            <xs:enumeration value="Both"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="saa:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_SHOULDER_ARM_JR_ARTHROSCOPIC_RESIDUAL_DESCRIBE">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="saa:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_SHOULDER_ARM_OPP_SCARS">  <xs:annotation>     <xs:documentation></xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Yes"/>            <xs:enumeration value="No"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="saa:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_SHOULDER_ARM_OPP_SCARS_YES">  <xs:annotation>     <xs:documentation>If yes, are any of the scars painful and/or unstable, or is the total area of all related scars greater than 39 square cm (6 square inches)?</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Yes"/>            <xs:enumeration value="No"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="saa:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_SHOULDER_ARM_OPP_SCARS_OTHEER_PERT">  <xs:annotation>     <xs:documentation></xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Yes"/>            <xs:enumeration value="No"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="saa:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_SHOULDER_ARM_OPP_SCARS_OTHEER_PERT_DESCRIBE">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="saa:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_SHOULDER_ARM_REF_YES_RU">  <xs:annotation>    <xs:documentation>Right upper</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="saa:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_SHOULDER_ARM_REF_YES_LU">  <xs:annotation>    <xs:documentation>Left upper</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="saa:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_SHOULDER_ARM_REF_YES_DESCRIBE">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="saa:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_SHOULDER_ARM_DT_IMAGING">  <xs:annotation>     <xs:documentation>a. Have imaging studies of the shoulder been performed and are the results available?</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Yes"/>            <xs:enumeration value="No"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="saa:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_SHOULDER_ARM_DT_IMAGING_YES">  <xs:annotation>     <xs:documentation>If yes, is degenerative or traumatic arthritis documented?</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Yes"/>            <xs:enumeration value="No"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="saa:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_SHOULDER_ARM_DT_IMAGING_YES_SA">  <xs:annotation>     <xs:documentation></xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Right"/>            <xs:enumeration value="Left"/>            <xs:enumeration value="Both"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="saa:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_SHOULDER_ARM_DT_OTHER_SIGN">  <xs:annotation>     <xs:documentation>b. Are there any other significant diagnostic test findings and/or results?</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Yes"/>            <xs:enumeration value="No"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="saa:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_SHOULDER_ARM_DT_OTHER_SIGN_DESCRIBE">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="saa:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_SHOULDER_ARM_FI_ABILITY_TO_WORK">  <xs:annotation>     <xs:documentation>Does the Veteran's shoulder condition impact his or her ability to work?</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Yes"/>            <xs:enumeration value="No"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="saa:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_SHOULDER_ARM_FI_ABILITY_TO_WORK_DESCRIBE">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="saa:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_SHOULDER_ARM_REMARKS">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="saa:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_SHOULDER_ARM_ROM_FL_NO_FL_RLE">  <xs:annotation>    <xs:documentation>No functional loss for right upper extremity attributable to claimed condition</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="saa:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAMGROUP_CARDIO_IHD_Name">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="saa:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_SHOULDER_ARM_REF_YES_2">  <xs:annotation>     <xs:documentation></xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Yes, functioning is so diminished that amputation with prosthesis would equally serve the Veteran."/>            <xs:enumeration value="No"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="saa:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_SHOULDER_ARM_PAIN_ON_PALPATION">  <xs:annotation>     <xs:documentation>a. Does the Veteran have localized tenderness or pain on palpation of joints/soft tissue/biceps tendon of either shoulder?</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Yes"/>            <xs:enumeration value="No"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="saa:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_SHOULDER_ARM_JR_TOTAL_R_SHOULDER_RESIDUALS">  <xs:annotation>     <xs:documentation></xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="None"/>            <xs:enumeration value="Intermediate degrees of residual weakness, pain and/or limitation of motion"/>            <xs:enumeration value="Chronic residual consisting of severe painful motion and/or weakness"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="saa:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_SHOULDER_ARM_JR_TOTAL_L_SHOULDER_RESIDUALS">  <xs:annotation>     <xs:documentation></xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="None"/>            <xs:enumeration value="Intermediate degrees of residual weakness, pain and/or limitation of motion"/>            <xs:enumeration value="Chronic residual consisting of severe painful motion and/or weakness"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="saa:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ACE_1">  <xs:annotation>    <xs:documentation></xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="saa:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ACE_2">  <xs:annotation>    <xs:documentation></xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="saa:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ACE_3">  <xs:annotation>    <xs:documentation>Examination via approved video telehealth</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="saa:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ACE_4">  <xs:annotation>    <xs:documentation>In-person examination</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="saa:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ACE_5_RevRec_1">  <xs:annotation>     <xs:documentation>Was the Veteran's VA claims file reviewed?</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Yes"/>            <xs:enumeration value="No"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="saa:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ACE_5_RevRec_2">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="saa:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ACE_5_RevRec_3">  <xs:annotation>    <xs:documentation>Military service treatment records</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="saa:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ACE_5_RevRec_4">  <xs:annotation>    <xs:documentation>Military service personnel records</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="saa:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ACE_5_RevRec_5">  <xs:annotation>    <xs:documentation>Military enlistment examination</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="saa:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ACE_5_RevRec_6">  <xs:annotation>    <xs:documentation>Military separation examination</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="saa:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ACE_5_RevRec_7">  <xs:annotation>    <xs:documentation>Military post-deployment questionnaire</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="saa:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ACE_5_RevRec_8">  <xs:annotation>    <xs:documentation>Department of Defense Form 214 Separation Documents</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="saa:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ACE_5_RevRec_9">  <xs:annotation>    <xs:documentation>Veterans Health Administration medical records (VA treatment records)</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="saa:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ACE_5_RevRec_10">  <xs:annotation>    <xs:documentation>Civilian medical records</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="saa:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ACE_5_RevRec_11">  <xs:annotation>    <xs:documentation>Interviews with collateral witnesses (family and others who have known the Veteran before and after military service)</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="saa:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ACE_5_RevRec_12">  <xs:annotation>    <xs:documentation>No records were reviewed</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="saa:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ACE_5_RevRec_13">  <xs:annotation>    <xs:documentation>Other:</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="saa:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ACE_5_RevRec_14">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="saa:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_SHOULDER_ARM_REMARKS_MITCHELL_DESC">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="saa:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="FORM_SHOULDER_ARM_MitchellCriteria_Revised_CB">  <xs:annotation>    <xs:documentation>Mitchell criteria addressed as appropriate.</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="saa:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
  </xs:all>  </xs:complexType>  <xs:element name="ShoulderAndArmForm" type="saa:ShoulderAndArmFormType"/>  <xs:complexType name="Metadata">    <xs:all>      <xs:element name="code" type="xs:string"/>      <xs:element name="codeSystem" type="xs:string"/>      <xs:element name="version" type="xs:string"/>      <xs:element name="source" type="xs:string"/>    </xs:all>  </xs:complexType></xs:schema>
