legacy/SLE_DBQ_v13_2_T1.pnl.xsd

<?xml version="1.0" encoding="UTF-8"?><xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:sle="http://vler.va.gov/vler/schemas/health/clinicalDocuments/clinicalAssessments/cpExams/1.3/SystemicLupusErythematosus" targetNamespace="http://vler.va.gov/vler/schemas/health/clinicalDocuments/clinicalAssessments/cpExams/1.3/SystemicLupusErythematosus" version="1.0">  <xs:complexType name="SystemicLupusErythematosusFormType">  <xs:all>
<xs:element name="EXAMGROUP_CARDIO_IHD_Name">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="sle:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="DIAGNOSIS_INFECT_SLE_DG">  <xs:annotation>     <xs:documentation></xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Yes"/>            <xs:enumeration value="No"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="sle:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="DIAGNOSIS_INFECT_SLE_AUTOIMMUNE">  <xs:annotation>    <xs:documentation>Autoimmune polyglandular syndrome</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="sle:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="DIAGNOSIS_INFECT_SLE_AUTOIMMUNE_ICD">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="sle:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="DIAGNOSIS_INFECT_SLE_AUTOIMMUNE_DATE">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="sle:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="DIAGNOSIS_INFECT_SLE_DISCOID">  <xs:annotation>    <xs:documentation>Discoid lupus erythematosus</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="sle:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="DIAGNOSIS_INFECT_SLE_DISCOID_ICD">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="sle:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="DIAGNOSIS_INFECT_SLE_DISCOID_DATE">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="sle:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="DIAGNOSIS_INFECT_SLE_FEV">  <xs:annotation>    <xs:documentation>Familial Mediterranean fever</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="sle:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="DIAGNOSIS_INFECT_SLE_FEV_ICD">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="sle:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="DIAGNOSIS_INFECT_SLE_GOODPASTURE">  <xs:annotation>    <xs:documentation>Goodpasture's syndrome</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="sle:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="DIAGNOSIS_INFECT_SLE_GOODPASTURE_ICD">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="sle:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="DIAGNOSIS_INFECT_SLE_GOODPASTURE_DATE">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="sle:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="DIAGNOSIS_INFECT_SLE_GBS">  <xs:annotation>    <xs:documentation>Guillain-Barre syndrome</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="sle:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="DIAGNOSIS_INFECT_SLE_GBS_ICD">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="sle:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="DIAGNOSIS_INFECT_SLE_GBS_DATE">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="sle:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="DIAGNOSIS_INFECT_SLE_ID_HYPER">  <xs:annotation>    <xs:documentation>Immunodeficiency with hyper-IgM</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="sle:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="DIAGNOSIS_INFECT_SLE_ID_HYPER_ICD">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="sle:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="DIAGNOSIS_INFECT_SLE_ID_HYPER_DATE">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="sle:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="DIAGNOSIS_INFECT_SLE_RHEUMATIC">  <xs:annotation>    <xs:documentation>Polymyalgia rheumatica</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="sle:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="DIAGNOSIS_INFECT_SLE_RHEUMATIC_ICD">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="sle:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="DIAGNOSIS_INFECT_SLE_RHEUMATIC_DATE">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="sle:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="DIAGNOSIS_INFECT_SLE_RA">  <xs:annotation>    <xs:documentation>Rheumatoid arthritis (RA) and Juvenile RA (JRA)</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="sle:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="DIAGNOSIS_INFECT_SLE_RA_ICD">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="sle:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="DIAGNOSIS_INFECT_SLE_RA_DATE">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="sle:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="DIAGNOSIS_INFECT_SLE_SCLERODERMA">  <xs:annotation>    <xs:documentation>Scleroderma</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="sle:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="DIAGNOSIS_INFECT_SLE_SCLERODERMA_ICD">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="sle:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="DIAGNOSIS_INFECT_SLE_SCLERODERMA_DATE">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="sle:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="DIAGNOSIS_INFECT_SLE_ID_SEV">  <xs:annotation>    <xs:documentation>Severe combined immunodeficiency</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="sle:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="DIAGNOSIS_INFECT_SLE_ID_SEV_ICD">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="sle:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="DIAGNOSIS_INFECT_SLE_ID_SEV_DATE">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="sle:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="DIAGNOSIS_INFECT_SLE_SJORGRENS">  <xs:annotation>    <xs:documentation>Sjögren's syndrome</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="sle:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="DIAGNOSIS_INFECT_SLE_SJORGRENS_ICD">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="sle:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="DIAGNOSIS_INFECT_SLE_SJORGRENS_DATE">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="sle:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="DIAGNOSIS_INFECT_SLE_FEV_DATE">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="sle:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="DIAGNOSIS_INFECT_SLE_SCLE">  <xs:annotation>    <xs:documentation>Subacute cutaneous lupus erythematosus</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="sle:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="DIAGNOSIS_INFECT_SLE_SCLE_ICD">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="sle:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="DIAGNOSIS_INFECT_SLE_SCLE_DATE">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="sle:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="DIAGNOSIS_INFECT_SLE_SLE">  <xs:annotation>    <xs:documentation>Systemic lupus erythematosus</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="sle:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="DIAGNOSIS_INFECT_SLE_SLE_ICD">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="sle:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="DIAGNOSIS_INFECT_SLE_SLE_DATE">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="sle:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="DIAGNOSIS_INFECT_SLE_TEMP_ARTERITIS">  <xs:annotation>    <xs:documentation>Temporal arteritis/Giant cell arteritis</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="sle:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="DIAGNOSIS_INFECT_SLE_TEMP_ARTERITIS_ICD">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="sle:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="DIAGNOSIS_INFECT_SLE_TEMP_ARTERITIS_DATE">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="sle:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="DIAGNOSIS_INFECT_SLE_WEGENERS">  <xs:annotation>    <xs:documentation>Wegener's granulomatosis</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="sle:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="DIAGNOSIS_INFECT_SLE_WEGENERS_ICD">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="sle:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="DIAGNOSIS_INFECT_SLE_WEGENERS_DATE">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="sle:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="DIAGNOSIS_INFECT_SLE_OTH">  <xs:annotation>    <xs:documentation>Other, specify:</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="sle:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="DIAGNOSIS_INFECT_SLE_OTH_DG1">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="sle:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="DIAGNOSIS_INFECT_SLE_OTH_ICD1">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="sle:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="DIAGNOSIS_INFECT_SLE_OTH_DATE1">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="sle:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="DIAGNOSIS_INFECT_SLE_OTH_DG2">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="sle:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="DIAGNOSIS_INFECT_SLE_OTH_ICD2">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="sle:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="DIAGNOSIS_INFECT_SLE_OTH_DATE2">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="sle:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="DIAGNOSIS_INFECT_SLE_OTH_ADD">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="sle:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="HISTORY_INFECT_SLE_DESC">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="sle:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="HISTORY_INFECT_SLE_TX">  <xs:annotation>     <xs:documentation></xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Yes"/>            <xs:enumeration value="No"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="sle:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="HISTORY_INFECT_SLE_OC">  <xs:annotation>    <xs:documentation>Oral corticosteroids</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="sle:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="HISTORY_INFECT_SLE_OC_MED">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="sle:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="HISTORY_INFECT_SLE_OC_MED_SPEC">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="sle:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="HISTORY_INFECT_SLE_OC_DUR">  <xs:annotation>     <xs:documentation>Total duration of medication use in past 12 months:</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="< 6 weeks"/>            <xs:enumeration value="6 weeks or more, but not constant"/>            <xs:enumeration value="Constant/near-constant"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="sle:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="HISTORY_INFECT_SLE_OIM">  <xs:annotation>    <xs:documentation>Other immunosuppressive medications</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="sle:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="HISTORY_INFECT_SLE_OIM_MED">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="sle:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="HISTORY_INFECT_SLE_OIM_COND">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="sle:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="HISTORY_INFECT_SLE_OIM_DUR">  <xs:annotation>     <xs:documentation>Total duration of medication use in past 12 months:</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="< 6 weeks"/>            <xs:enumeration value="6 weeks or more, but not constant"/>            <xs:enumeration value="Constant/near-constant"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="sle:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="HISTORY_INFECT_SLE_IR">  <xs:annotation>    <xs:documentation>Immunosuppressive retinoids</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="sle:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="HISTORY_INFECT_SLE_IR_MED">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="sle:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="HISTORY_INFECT_SLE_IR_COND">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="sle:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="HISTORY_INFECT_SLE_IR_DUR">  <xs:annotation>     <xs:documentation>Total duration of medication use in past 12 months:</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="< 6 weeks"/>            <xs:enumeration value="6 weeks or more, but not constant"/>            <xs:enumeration value="Constant/near-constant"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="sle:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="HISTORY_INFECT_SLE_TC">  <xs:annotation>    <xs:documentation>Topical corticosteroids</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="sle:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="HISTORY_INFECT_SLE_TC_MED">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="sle:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="HISTORY_INFECT_SLE_TC_COND">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="sle:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="HISTORY_INFECT_SLE_TC_DUR">  <xs:annotation>     <xs:documentation>Total duration of topical corticosteroid use in past 12 months:</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="< 6 weeks"/>            <xs:enumeration value="6 weeks or more, but not constant"/>            <xs:enumeration value="Constant/near-constant"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="sle:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="HISTORY_INFECT_SLE_OTH">  <xs:annotation>    <xs:documentation>Other oral or topical medications used for an autoimmune condition</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="sle:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="HISTORY_INFECT_SLE_OTH_MED">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="sle:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="HISTORY_INFECT_SLE_OTH_COND">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="sle:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="HISTORY_INFECT_SLE_OTH_DUR">  <xs:annotation>     <xs:documentation>Total duration of other oral medication use in past 12 months:</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="< 6 weeks"/>            <xs:enumeration value="6 weeks or more, but not constant"/>            <xs:enumeration value="Constant/near-constant"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="sle:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="HISTORY_INFECT_SLE_STAT">  <xs:annotation>     <xs:documentation>c. Indicate status of the Veteran's autoimmune disease, including SLE:</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Acute"/>            <xs:enumeration value="Chronic"/>            <xs:enumeration value="Other, describe: "/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="sle:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="HISTORY_INFECT_SLE_STAT_OTH_DESC">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="sle:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="HISTORY_INFECT_SLE_EXCERB">  <xs:annotation>     <xs:documentation>d. Does the Veteran have exacerbations of an autoimmune disease, including SLE?</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Yes"/>            <xs:enumeration value="No"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="sle:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="HISTORY_INFECT_SLE_EXCERB_SUM">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="sle:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="HISTORY_INFECT_SLE_EXCERB_AVG">  <xs:annotation>     <xs:documentation>Indicate average frequency of exacerbations per year:</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="0 "/>            <xs:enumeration value="1"/>            <xs:enumeration value="2"/>            <xs:enumeration value="3"/>            <xs:enumeration value="More than 3 exacerbations per year   "/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="sle:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="HISTORY_INFECT_SLE_EXCERB_DUR">  <xs:annotation>     <xs:documentation>Indicate average duration of symptoms during each exacerbation:</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Lasting less than one week"/>            <xs:enumeration value="Lasting a week or more"/>            <xs:enumeration value="Other, describe"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="sle:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="HISTORY_INFECT_SLE_EXCERB_DUR_DESC">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="sle:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="HISTORY_INFECT_SLE_IMPAIR">  <xs:annotation>     <xs:documentation>e. Does the Veteran's autoimmune disease, including SLE, currently produce severe impairment of health?</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Yes"/>            <xs:enumeration value="No"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="sle:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="HISTORY_INFECT_SLE_IMPAIR_DESC">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="sle:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_INFECT_SLE_CM">  <xs:annotation>     <xs:documentation>Does the Veteran have any cutaneous manifestations of an autoimmune disease, including systemic, cutaneous or discoid lupus erythematosus?</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Yes"/>            <xs:enumeration value="No"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="sle:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_INFECT_SLE_CM_DISCOID">  <xs:annotation>    <xs:documentation>Discoid lupus erythematosus</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="sle:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_INFECT_SLE_CM_SUBACUTE">  <xs:annotation>    <xs:documentation>Subacute cutaneous lupus erythematosus</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="sle:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_INFECT_SLE_CM_OTH">  <xs:annotation>    <xs:documentation>Other, describe:</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="sle:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_INFECT_SLE_CM_OTH_DESC">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="sle:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_INFECT_SLE_CM_AFFECT_MALAR">  <xs:annotation>    <xs:documentation>Malar rash over bridge of nose and bilateral cheeks, sparing nasolabial folds</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="sle:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_INFECT_SLE_CM_AFFECT_CHEEKS">  <xs:annotation>    <xs:documentation>Cheeks</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="sle:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_INFECT_SLE_CM_AFFECT_CHEEKS_SPEC">  <xs:annotation>     <xs:documentation></xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Right"/>            <xs:enumeration value="Left"/>            <xs:enumeration value="Both "/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="sle:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_INFECT_SLE_CM_AFFECT_EARS">  <xs:annotation>    <xs:documentation>Ears</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="sle:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_INFECT_SLE_CM_AFFECT_EARS_SPEC">  <xs:annotation>     <xs:documentation></xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Right"/>            <xs:enumeration value="Left"/>            <xs:enumeration value="Both "/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="sle:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_INFECT_SLE_CM_AFFECT_NOSE">  <xs:annotation>    <xs:documentation>Nose</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="sle:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_INFECT_SLE_CM_AFFECT_CHIN">  <xs:annotation>    <xs:documentation>Chin</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="sle:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_INFECT_SLE_CM_AFFECT_LIPS">  <xs:annotation>    <xs:documentation>Lips and mouth, causing ulcers and scaling</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="sle:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_INFECT_SLE_CM_AFFECT_HANDS">  <xs:annotation>    <xs:documentation>Hands</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="sle:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_INFECT_SLE_CM_AFFECT_FEET">  <xs:annotation>    <xs:documentation>Feet</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="sle:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_INFECT_SLE_CM_AFFECT_SCALP">  <xs:annotation>    <xs:documentation>Scalp, causing scarring alopecia</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="sle:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_INFECT_SLE_CM_AFFECT_OTH">  <xs:annotation>    <xs:documentation>Other body areas, specify location:</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="sle:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_INFECT_SLE_CM_AFFECT_OTH_LOC">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="sle:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_INFECT_SLE_CM_TOTAL">  <xs:annotation>     <xs:documentation>c. Indicate approximate TOTAL body area affected by cutaneous manifestations of an autoimmune disease on current examination:</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="None"/>            <xs:enumeration value="<5%"/>            <xs:enumeration value="5% to <20%"/>            <xs:enumeration value="20% to 40%"/>            <xs:enumeration value="> 40%        "/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="sle:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_INFECT_SLE_CM_EXPOSED">  <xs:annotation>     <xs:documentation></xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="None"/>            <xs:enumeration value="<5%"/>            <xs:enumeration value="5% to <20%"/>            <xs:enumeration value="20% to 40%"/>            <xs:enumeration value="> 40%        "/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="sle:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_INFECT_SLE_CM_SCARRING">  <xs:annotation>     <xs:documentation>e. Do the cutaneous manifestations of the autoimmune disease cause scarring alopecia?</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Yes"/>            <xs:enumeration value="No    "/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="sle:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_INFECT_SLE_CM_SCARRING_PRECENT">  <xs:annotation>     <xs:documentation>If yes, indicate percent of scalp affected:</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="< 20 %"/>            <xs:enumeration value="20 to 40%"/>            <xs:enumeration value="> 40%       "/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="sle:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_INFECT_SLE_CM_UNSTABLE">  <xs:annotation>     <xs:documentation></xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Yes"/>            <xs:enumeration value="No    "/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="sle:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_INFECT_SLE_SAS">  <xs:annotation>     <xs:documentation></xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Yes"/>            <xs:enumeration value="No    "/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="sle:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_INFECT_SLE_SAS_SYMPTOMS">  <xs:annotation>     <xs:documentation></xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Yes"/>            <xs:enumeration value="No    "/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="sle:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_INFECT_SLE_SAS_ARTHRITIS">  <xs:annotation>     <xs:documentation>b. Does the Veteran have  arthritis attributable to an autoimmune disease, including SLE?</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Yes"/>            <xs:enumeration value="No    "/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="sle:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_INFECT_SLE_SAS_ARTHRITIS_YES">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="sle:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_INFECT_SLE_SAS_ULCERS">  <xs:annotation>     <xs:documentation>c. Does the Veteran have recurrent ulcers on oral mucous membranes attributable to an autoimmune disease, including SLE?</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Yes"/>            <xs:enumeration value="No    "/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="sle:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_INFECT_SLE_SAS_ULCERS_YES">  <xs:annotation>     <xs:documentation>If yes, do the recurrent ulcers results in impairment of mastication, a speech impairment or other signs or symptoms?</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Yes"/>            <xs:enumeration value="No    "/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="sle:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_INFECT_SLE_SAS_ULCERS_DESC">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="sle:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_INFECT_SLE_SAS_HEMA">  <xs:annotation>     <xs:documentation>d. Does the Veteran have any hematologic or lymphatic manifestations of an autoimmune disease, including SLE?</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Yes"/>            <xs:enumeration value="No    "/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="sle:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_INFECT_SLE_SAS_HEMA_ADENO">  <xs:annotation>    <xs:documentation>Generalized adenopathy</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="sle:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_INFECT_SLE_SAS_HEMA_SPLENO">  <xs:annotation>    <xs:documentation>Splenomegaly</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="sle:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_INFECT_SLE_SAS_HEMA_ANEMIA">  <xs:annotation>    <xs:documentation>Anemia</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="sle:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_INFECT_SLE_SAS_HEMA_LEUKO">  <xs:annotation>    <xs:documentation>Leukopenia (usually lymphopenia, with < 1500 cells/uL)</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="sle:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_INFECT_SLE_SAS_HEMA_THROMBO">  <xs:annotation>    <xs:documentation>Thrombocytopenia (sometimes life-threatening autoimmune thrombocytopenia)</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="sle:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_INFECT_SLE_SAS_HEMA_OTH">  <xs:annotation>    <xs:documentation>Other, describe:</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="sle:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_INFECT_SLE_SAS_PULMONARY">  <xs:annotation>     <xs:documentation>e. Does the Veteran have any pulmonary manifestations of an autoimmune disease, including SLE?</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Yes"/>            <xs:enumeration value="No    "/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="sle:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_INFECT_SLE_SAS_PULMONARY_EMBOLI">  <xs:annotation>    <xs:documentation>Pulmonary emboli</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="sle:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_INFECT_SLE_SAS_PULMONARY_HTN">  <xs:annotation>    <xs:documentation>Pulmonary hypertension</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="sle:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_INFECT_SLE_SAS_PULMONARY_SHRINK">  <xs:annotation>    <xs:documentation>Shrinking lung syndrome</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="sle:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_INFECT_SLE_SAS_PULMONARY_PLEURISY">  <xs:annotation>    <xs:documentation>Recurrent pleurisy, with or without pleural effusion</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="sle:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_INFECT_SLE_SAS_PULMONARY_OTH">  <xs:annotation>    <xs:documentation>Other, describe:</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="sle:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_INFECT_SLE_SAS_CARDIAC">  <xs:annotation>     <xs:documentation>f. Does the Veteran have any cardiac manifestations of an autoimmune disease, including SLE?</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Yes"/>            <xs:enumeration value="No    "/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="sle:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_INFECT_SLE_SAS_CARDIAC_PERI">  <xs:annotation>    <xs:documentation>Pericardial effusion</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="sle:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_INFECT_SLE_SAS_CARDIAC_MYO">  <xs:annotation>    <xs:documentation>Myocarditis</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="sle:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_INFECT_SLE_SAS_CARDIAC_CORONARY">  <xs:annotation>    <xs:documentation>Coronary artery vasculitis</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="sle:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_INFECT_SLE_SAS_CARDIAC_VALVULAR">  <xs:annotation>    <xs:documentation>Valvular involvement</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="sle:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_INFECT_SLE_SAS_CARDIAC_LIBMAN">  <xs:annotation>    <xs:documentation>Libman-Sacks endocarditis</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="sle:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_INFECT_SLE_SAS_CARDIAC_OTH">  <xs:annotation>    <xs:documentation>Other, describe:</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="sle:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_INFECT_SLE_SAS_NEURO">  <xs:annotation>     <xs:documentation>g. Does the Veteran have any neurologic manifestations of an autoimmune disease, including SLE?</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Yes"/>            <xs:enumeration value="No    "/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="sle:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_INFECT_SLE_SAS_NEURO_DESC">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="sle:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_INFECT_SLE_SAS_RENAL">  <xs:annotation>     <xs:documentation>h. Does the Veteran have any renal manifestations of an autoimmune disease, including SLE?</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Yes"/>            <xs:enumeration value="No    "/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="sle:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_INFECT_SLE_SAS_RENAL_GN">  <xs:annotation>    <xs:documentation>Glomerular nephritis</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="sle:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_INFECT_SLE_SAS_RENAL_MG">  <xs:annotation>    <xs:documentation>Membranoproliferative glomerulonephritis.</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="sle:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_INFECT_SLE_SAS_RENAL_PROTEIN">  <xs:annotation>    <xs:documentation>Proteinuria</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="sle:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_INFECT_SLE_SAS_RENAL_HTN">  <xs:annotation>    <xs:documentation>Hypertension</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="sle:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_INFECT_SLE_SAS_RENAL_EDEMA">  <xs:annotation>    <xs:documentation>Edema</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="sle:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_INFECT_SLE_SAS_RENAL_OTH">  <xs:annotation>    <xs:documentation>Other, describe:</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="sle:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_INFECT_SLE_SAS_OB">  <xs:annotation>     <xs:documentation>i. Does the Veteran have any obstetric manifestations of an autoimmune disease, including SLE?</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Yes"/>            <xs:enumeration value="No    "/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="sle:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_INFECT_SLE_SAS_OB_DESC">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="sle:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_INFECT_SLE_SAS_GI">  <xs:annotation>     <xs:documentation>j. Does the Veteran have any gastrointestinal manifestations of an autoimmune disease, including SLE?</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Yes"/>            <xs:enumeration value="No    "/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="sle:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_INFECT_SLE_SAS_GI_DESC">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="sle:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_INFECT_SLE_SAS_VASC">  <xs:annotation>     <xs:documentation>k. Does the Veteran have any vascular (arterial or venous) manifestations of an autoimmune disease, including SLE?</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Yes"/>            <xs:enumeration value="No    "/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="sle:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_INFECT_SLE_SAS_VASC_ART">  <xs:annotation>    <xs:documentation>Recurrent arterial thrombosis</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="sle:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_INFECT_SLE_SAS_VASC_VEN">  <xs:annotation>    <xs:documentation>Recurrent venous thrombosis</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="sle:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_INFECT_SLE_SAS_VASC_OTH">  <xs:annotation>    <xs:documentation>Other, describe:</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="sle:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_INFECT_SLE_OTH">  <xs:annotation>     <xs:documentation>Does the Veteran have any other pertinent physical findings, complications, conditions, signs or symptoms?</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Yes"/>            <xs:enumeration value="No    "/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="sle:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_INFECT_SLE_OTH_DESC">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="sle:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="TESTS_INFECT_SLE_IMG">  <xs:annotation>     <xs:documentation>a. Have imaging studies been performed?</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Yes"/>            <xs:enumeration value="No    "/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="sle:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="TESTS_INFECT_SLE_IMG_XRAY">  <xs:annotation>    <xs:documentation>Chest x-ray</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="sle:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="TESTS_INFECT_SLE_IMG_XRAY_DATE">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="sle:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="TESTS_INFECT_SLE_IMG_XRAY_RES">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="sle:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="TESTS_INFECT_SLE_IMG_MRI">  <xs:annotation>    <xs:documentation>Magnetic resonance imaging (MRI)</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="sle:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="TESTS_INFECT_SLE_IMG_MRI_DATE">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="sle:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="TESTS_INFECT_SLE_IMG_MRI_RES">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="sle:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="TESTS_INFECT_SLE_IMG_CT">  <xs:annotation>    <xs:documentation>Computed tomography (CT)</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="sle:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="TESTS_INFECT_SLE_IMG_CT_DATE">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="sle:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="TESTS_INFECT_SLE_IMG_CT_RES">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="sle:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="TESTS_INFECT_SLE_IMG_OTH">  <xs:annotation>    <xs:documentation>Other:</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="sle:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="TESTS_INFECT_SLE_IMG_OTH_DATE">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="sle:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="TESTS_INFECT_SLE_IMG_OTH_RES">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="sle:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="TESTS_INFECT_SLE_LAB">  <xs:annotation>     <xs:documentation>b. Has laboratory testing been performed?</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Yes"/>            <xs:enumeration value="No    "/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="sle:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_INFECT_SLE_CM_AFFECT_DESC">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="sle:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="TESTS_INFECT_SLE_LAB_HGL">  <xs:annotation>    <xs:documentation>Hemoglobin (gm/100ml)</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="sle:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="TESTS_INFECT_SLE_LAB_HGL_DATE">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="sle:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="TESTS_INFECT_SLE_LAB_HGL_RES">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="sle:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="TESTS_INFECT_SLE_LAB_HCT">  <xs:annotation>    <xs:documentation>Hematocrit</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="sle:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="TESTS_INFECT_SLE_LAB_HCT_DATE">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="sle:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="TESTS_INFECT_SLE_LAB_HCT_RES">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="sle:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="TESTS_INFECT_SLE_LAB_RBC">  <xs:annotation>    <xs:documentation>Red blood cell (RBC) count</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="sle:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="TESTS_INFECT_SLE_LAB_RBC_DATE">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="sle:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="TESTS_INFECT_SLE_LAB_RBC_RES">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="sle:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="TESTS_INFECT_SLE_LAB_WBC">  <xs:annotation>    <xs:documentation>White blood cell (WBC) count</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="sle:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="TESTS_INFECT_SLE_LAB_WBC_RES">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="sle:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="TESTS_INFECT_SLE_LAB_WBC_DIF">  <xs:annotation>    <xs:documentation>White blood cell differential count</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="sle:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="TESTS_INFECT_SLE_LAB_WBC_DIF_DATE">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="sle:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="TESTS_INFECT_SLE_LAB_WBC_DIF_RES">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="sle:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="TESTS_INFECT_SLE_LAB_PLAT">  <xs:annotation>    <xs:documentation>Platelet count:</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="sle:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="TESTS_INFECT_SLE_LAB_PLAT_DATE">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="sle:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="TESTS_INFECT_SLE_LAB_PLAT_RES">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="sle:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="TESTS_INFECT_SLE_LAB_ESR">  <xs:annotation>    <xs:documentation>Erythrocyte sedimentation rate (ESR)</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="sle:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="TESTS_INFECT_SLE_LAB_ESR_DATE">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="sle:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="TESTS_INFECT_SLE_LAB_ESR_RES">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="sle:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="TESTS_INFECT_SLE_LAB_CRP">  <xs:annotation>    <xs:documentation>C-reactive protein (CRP)</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="sle:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="TESTS_INFECT_SLE_LAB_CRP_DATE">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="sle:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="TESTS_INFECT_SLE_LAB_CRP_RES">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="sle:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="TESTS_INFECT_SLE_LAB_ANA">  <xs:annotation>    <xs:documentation>Antinuclear antibody (ANA) titer</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="sle:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="TESTS_INFECT_SLE_LAB_ANA_DATE">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="sle:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="TESTS_INFECT_SLE_LAB_ANA_RES">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="sle:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="TESTS_INFECT_SLE_LAB_ARA">  <xs:annotation>    <xs:documentation>Anti-Ro Antibody</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="sle:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="TESTS_INFECT_SLE_LAB_ARA_DATE">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="sle:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="TESTS_INFECT_SLE_LAB_ARA_RES">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="sle:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="TESTS_INFECT_SLE_LAB_ASA">  <xs:annotation>    <xs:documentation>Anti-Smith antibodies</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="sle:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="TESTS_INFECT_SLE_LAB_ASA_DATE">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="sle:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="TESTS_INFECT_SLE_LAB_ASA_RES">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="sle:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="TESTS_INFECT_SLE_LAB_DNA">  <xs:annotation>    <xs:documentation>Anti-double strand (ds) DNA</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="sle:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="TESTS_INFECT_SLE_LAB_DNA_DATE">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="sle:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="TESTS_INFECT_SLE_LAB_DNA_RES">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="sle:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="TESTS_INFECT_SLE_LAB_ANTIPHOS">  <xs:annotation>    <xs:documentation>Antiphospolipid</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="sle:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="TESTS_INFECT_SLE_LAB_ANTIPHOS_DATE">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="sle:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="TESTS_INFECT_SLE_LAB_ANTIPHOS_RES">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="sle:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="TESTS_INFECT_SLE_LAB_CC">  <xs:annotation>    <xs:documentation>Complement components (C3 and C4)</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="sle:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="TESTS_INFECT_SLE_LAB_CC_DATE">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="sle:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="TESTS_INFECT_SLE_LAB_CC_RES">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="sle:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="TESTS_INFECT_SLE_LAB_BUN">  <xs:annotation>    <xs:documentation>BUN</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="sle:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="TESTS_INFECT_SLE_LAB_BUN_DATE">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="sle:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="TESTS_INFECT_SLE_LAB_BUN_RES">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="sle:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="TESTS_INFECT_SLE_LAB_CRT">  <xs:annotation>    <xs:documentation>Creatinine</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="sle:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="TESTS_INFECT_SLE_LAB_CRT_DATE">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="sle:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="TESTS_INFECT_SLE_LAB_CRT_RES">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="sle:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="TESTS_INFECT_SLE_LAB_EGFR">  <xs:annotation>    <xs:documentation>Estimated glomerular filtration rate (EGFR)</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="sle:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="TESTS_INFECT_SLE_LAB_EGFR_DATE">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="sle:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="TESTS_INFECT_SLE_LAB_EGFR_RES">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="sle:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="TESTS_INFECT_SLE_LAB_OTH">  <xs:annotation>    <xs:documentation>Other, specify:</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="sle:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="TESTS_INFECT_SLE_LAB_OTH_DATE">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="sle:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="TESTS_INFECT_SLE_LAB_OTH_RES">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="sle:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="TESTS_INFECT_SLE_URN">  <xs:annotation>     <xs:documentation>c. Has a urinalysis been performed?</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Yes"/>            <xs:enumeration value="No    "/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="sle:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="TESTS_INFECT_SLE_URN_DATE">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="sle:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="TESTS_INFECT_SLE_URN_MICRO">  <xs:annotation>     <xs:documentation>Microalbumin:</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Not elevated"/>            <xs:enumeration value="Elevated to:"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="sle:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="TESTS_INFECT_SLE_URN_MICRO_LVL">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="sle:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="TESTS_INFECT_SLE_URN_PROT">  <xs:annotation>     <xs:documentation>Protein:</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="None"/>            <xs:enumeration value="Trace"/>            <xs:enumeration value="1+"/>            <xs:enumeration value="2+"/>            <xs:enumeration value="3+"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="sle:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="TESTS_INFECT_SLE_URN_GLUC">  <xs:annotation>     <xs:documentation>Glucose:</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="None"/>            <xs:enumeration value="Trace"/>            <xs:enumeration value="1+"/>            <xs:enumeration value="2+"/>            <xs:enumeration value="3+"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="sle:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="TESTS_INFECT_SLE_URN_HYAL">  <xs:annotation>     <xs:documentation>Hyaline casts:</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="None"/>            <xs:enumeration value="1-5 hyaline casts per LPF"/>            <xs:enumeration value="Other, describe: "/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="sle:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="TESTS_INFECT_SLE_URN_GRAN">  <xs:annotation>     <xs:documentation>Granular casts:</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="None"/>            <xs:enumeration value="1-5 granular casts per LPF"/>            <xs:enumeration value="Other, describe: "/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="sle:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="TESTS_INFECT_SLE_URN_BLOOD">  <xs:annotation>     <xs:documentation>Blood:</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="None"/>            <xs:enumeration value="Trace blood and no RBCs per HPF"/>            <xs:enumeration value="Trace blood and 1-5 RBCs per HPF"/>            <xs:enumeration value="1+ blood and 1-5 RBCs per HPF"/>            <xs:enumeration value="1+ blood and 5-10 RBCs per HPF"/>            <xs:enumeration value="2+ blood and 10-20 RBCs per HPF"/>            <xs:enumeration value="Other, describe:"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="sle:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="TESTS_INFECT_SLE_FIND">  <xs:annotation>     <xs:documentation>d. Are there any other significant diagnostic test findings and/or results?</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Yes"/>            <xs:enumeration value="No"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="sle:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="TESTS_INFECT_SLE_FIND_DESC">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="sle:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="ASSESSMENT_INFECT_SLE_IMPACT">  <xs:annotation>     <xs:documentation>Does the Veteran's autoimmune disease impact his or her ability to work?</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Yes"/>            <xs:enumeration value="No    "/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="sle:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="ASSESSMENT_INFECT_SLE_IMPACT_DESC">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="sle:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="MISC_INFECT_SLE_REMARKS">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="sle:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="TESTS_INFECT_SLE_LAB_WBC_DATE">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="sle:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="TESTS_INFECT_SLE_IMG_OTH_DESC">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="sle:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_INFECT_SLE_SAS_HEMA_OTH_DESC">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="sle:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_INFECT_SLE_SAS_PULMONARY_DESC">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="sle:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_INFECT_SLE_SAS_CARDIAC_OTH_DESC">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="sle:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_INFECT_SLE_SAS_RENAL_OTH_DESC">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="sle:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_INFECT_SLE_SAS_VASC_OTH_DESC_2">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="sle:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="TESTS_INFECT_SLE_LAB_OTH_SPEC">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="sle:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="TESTS_INFECT_SLE_URN_HYAL_DESC">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="sle:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="TESTS_INFECT_SLE_URN_GRAN_DESC">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="sle:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="TESTS_INFECT_SLE_URN_BLOOD_DESC">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="sle:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="DIAGNOSIS_INFECT_SLE_DM_TYPE1">  <xs:annotation>    <xs:documentation>Diabetes Mellitus Type I</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="sle:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ACE_1">  <xs:annotation>    <xs:documentation></xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="sle:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ACE_2">  <xs:annotation>    <xs:documentation></xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="sle:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ACE_3">  <xs:annotation>    <xs:documentation>Examination via approved video telehealth</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="sle:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ACE_4">  <xs:annotation>    <xs:documentation>In-person examination</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="sle:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ACE_5_RevRec_1">  <xs:annotation>     <xs:documentation>Was the Veteran's VA claims file reviewed?</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Yes"/>            <xs:enumeration value="No"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="sle:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ACE_5_RevRec_2">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="sle:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ACE_5_RevRec_3">  <xs:annotation>    <xs:documentation>Military service treatment records</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="sle:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ACE_5_RevRec_4">  <xs:annotation>    <xs:documentation>Military service personnel records</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="sle:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ACE_5_RevRec_5">  <xs:annotation>    <xs:documentation>Military enlistment examination</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="sle:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ACE_5_RevRec_6">  <xs:annotation>    <xs:documentation>Military separation examination</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="sle:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ACE_5_RevRec_7">  <xs:annotation>    <xs:documentation>Military post-deployment questionnaire</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="sle:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ACE_5_RevRec_8">  <xs:annotation>    <xs:documentation>Department of Defense Form 214 Separation Documents</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="sle:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ACE_5_RevRec_9">  <xs:annotation>    <xs:documentation>Veterans Health Administration medical records (VA treatment records)</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="sle:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ACE_5_RevRec_10">  <xs:annotation>    <xs:documentation>Civilian medical records</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="sle:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ACE_5_RevRec_11">  <xs:annotation>    <xs:documentation>Interviews with collateral witnesses (family and others who have known the Veteran before and after military service)</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="sle:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ACE_5_RevRec_12">  <xs:annotation>    <xs:documentation>No records were reviewed</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="sle:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ACE_5_RevRec_13">  <xs:annotation>    <xs:documentation>Other:</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="sle:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ACE_5_RevRec_14">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="sle:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
  </xs:all>  </xs:complexType>  <xs:element name="SystemicLupusErythematosusForm" type="sle:SystemicLupusErythematosusFormType"/>  <xs:complexType name="Metadata">    <xs:all>      <xs:element name="code" type="xs:string"/>      <xs:element name="codeSystem" type="xs:string"/>      <xs:element name="version" type="xs:string"/>      <xs:element name="source" type="xs:string"/>    </xs:all>  </xs:complexType></xs:schema>
