legacy/TMJ_DBQ_v13_4_T1.pnl.xsd

<?xml version="1.0" encoding="UTF-8"?><xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tjc="http://vler.va.gov/vler/schemas/health/clinicalDocuments/clinicalAssessments/cpExams/1.3/TemporomandibularJointTmjConditions" targetNamespace="http://vler.va.gov/vler/schemas/health/clinicalDocuments/clinicalAssessments/cpExams/1.3/TemporomandibularJointTmjConditions" version="1.0">  <xs:complexType name="TemporomandibularJointTmjConditionsFormType">  <xs:all>
<xs:element name="DIAGNOSIS_TMJ_DIAGNOSIS">  <xs:annotation>     <xs:documentation>Does the Veteran now have or has he/she ever had a temporomandibular joint condition?</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Yes"/>            <xs:enumeration value="No"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="tjc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="DIAGNOSIS_TMJ_DIAGNOSIS_1">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="tjc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="DIAGNOSIS_TMJ_ICD_CODE_1">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="tjc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="DIAGNOSIS_TMJ_DATE_1">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="tjc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="DIAGNOSIS_TMJ_DIAGNOSIS_2">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="tjc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="DIAGNOSIS_TMJ_ICD_CODE_2">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="tjc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="DIAGNOSIS_TMJ_DATE_2">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="tjc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="DIAGNOSIS_TMJ_DIAGNOSIS_3">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="tjc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="DIAGNOSIS_TMJ_ICD_CODE_3">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="tjc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="DIAGNOSIS_TMJ_DATE_3">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="tjc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="DIAGNOSIS_TMJ_DIAGNOSIS_ADDITIONAL">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="tjc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="HISTORY_TMJ_DESCRIBE_HISTORY">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="tjc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="HISTORY_TMJ_FLARE_UPS">  <xs:annotation>     <xs:documentation>Does the Veteran report that flare-ups impact the function of the temporomandibular joint?</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Yes"/>            <xs:enumeration value="No"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="tjc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="HISTORY_TMJ_FLARE_UPS_YES">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="tjc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_TMJ_ROM_LE">  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Greater than 4 mm"/>            <xs:enumeration value="0 to 4 mm"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="tjc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_TMJ_ROM_LE_PM">  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="No objective evidence of painful motion"/>            <xs:enumeration value="Greater than 4 mm"/>            <xs:enumeration value="0 to 4 mm"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="tjc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_TMJ_ROM_OPEN">  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Greater than 40 mm"/>            <xs:enumeration value="31 to 40 mm"/>            <xs:enumeration value="21 to 30 mm"/>            <xs:enumeration value="11 to 20 mm"/>            <xs:enumeration value="0 to 10 mm"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="tjc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_TMJ_ROM_OPEN_PM">  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="No objective evidence of painful motion"/>            <xs:enumeration value="Greater than 40 mm"/>            <xs:enumeration value="31 to 40 mm"/>            <xs:enumeration value="21 to 30 mm"/>            <xs:enumeration value="11 to 20 mm"/>            <xs:enumeration value="0 to 10 mm"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="tjc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_TMJ_ROM_NOT_NORM">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="tjc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_TMJ_ROM_AFTER_RUT">  <xs:annotation>     <xs:documentation>a. Is the Veteran able to perform repetitive-use testing with 3 repetitions?</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Yes"/>            <xs:enumeration value="No"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="tjc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_TMJ_ROM_AFTER_RUT_NO">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="tjc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_TMJ_ROM_PT_LE">  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="0 to 4 mm"/>            <xs:enumeration value="Greater than 4 mm"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="tjc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_TMJ_ROM_PT_OPEN">  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Greater than 40 mm"/>            <xs:enumeration value="31 to 40 mm"/>            <xs:enumeration value="21 to 30 mm"/>            <xs:enumeration value="11 to 20 mm"/>            <xs:enumeration value="0 to 10 mm"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="tjc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_TMJ_ROM_ADDITIONAL_LIMIT">  <xs:annotation>     <xs:documentation>a. Does the Veteran have additional limitation in ROM of either TMJ following repetitive-use testing?</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Yes"/>            <xs:enumeration value="No"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="tjc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_TMJ_ROM_FUNC_LOSS">  <xs:annotation>     <xs:documentation>b. Does the Veteran have any functional loss or functional impairment of either TMJ?</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Yes"/>            <xs:enumeration value="No"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="tjc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_TMJ_ROM_FL_NO_FL_R_TMJ">  <xs:annotation>    <xs:documentation>No functional loss for right TMJ</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="tjc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_TMJ_ROM_FL_NO_FL_L_TMJ">  <xs:annotation>    <xs:documentation>No functional loss for left TMJ</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="tjc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_TMJ_ROM_FL_LESSMOVEMENT">  <xs:annotation>    <xs:documentation>Less movement than normal</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="tjc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_TMJ_ROM_FL_LESSMOVEMENT_RG">  <xs:annotation>     <xs:documentation></xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Right"/>            <xs:enumeration value="Left"/>            <xs:enumeration value="Both"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="tjc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_TMJ_ROM_FL_MOREMOVEMENT">  <xs:annotation>    <xs:documentation>More movement than normal</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="tjc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_TMJ_ROM_FL_MOREMOVEMENT_RG">  <xs:annotation>     <xs:documentation></xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Right"/>            <xs:enumeration value="Left"/>            <xs:enumeration value="Both"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="tjc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_TMJ_ROM_FL_WEAKENEDMOVEMENT">  <xs:annotation>    <xs:documentation>Weakened movement</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="tjc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_TMJ_ROM_FL_WEAKENEDMOVEMENT_RG">  <xs:annotation>     <xs:documentation></xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Right"/>            <xs:enumeration value="Left"/>            <xs:enumeration value="Both"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="tjc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_TMJ_ROM_FL_EF">  <xs:annotation>    <xs:documentation>Excess fatigability</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="tjc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_TMJ_ROM_FL_EF_RG">  <xs:annotation>     <xs:documentation></xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Right"/>            <xs:enumeration value="Left"/>            <xs:enumeration value="Both"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="tjc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_TMJ_ROM_FL_INCOORD">  <xs:annotation>    <xs:documentation>Incoordination, impaired ability to execute skilled movements smoothly</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="tjc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_TMJ_ROM_FL_INCOORD_RG">  <xs:annotation>     <xs:documentation></xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Right"/>            <xs:enumeration value="Left"/>            <xs:enumeration value="Both"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="tjc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_TMJ_ROM_FL_PAIN">  <xs:annotation>    <xs:documentation>Pain on movement</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="tjc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_TMJ_ROM_FL_PAIN_RG">  <xs:annotation>     <xs:documentation></xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Right"/>            <xs:enumeration value="Left"/>            <xs:enumeration value="Both"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="tjc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_TMJ_ROM_FL_SWELLING">  <xs:annotation>    <xs:documentation>Swelling</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="tjc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_TMJ_ROM_FL_SWELLING_RG">  <xs:annotation>     <xs:documentation></xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Right"/>            <xs:enumeration value="Left"/>            <xs:enumeration value="Both"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="tjc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_TMJ_ROM_FL_DEFORMITY">  <xs:annotation>    <xs:documentation>Deformity</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="tjc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_TMJ_ROM_FL_DEFORMITY_RG">  <xs:annotation>     <xs:documentation></xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Right"/>            <xs:enumeration value="Left"/>            <xs:enumeration value="Both"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="tjc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_TMJ_PAIN_ON_PALPATION">  <xs:annotation>     <xs:documentation>a. Does the Veteran have localized tenderness or pain on palpation of joints or soft tissues of either TMJ?</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Yes"/>            <xs:enumeration value="No"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="tjc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_TMJ_PAIN_ON_PALPATION_YES">  <xs:annotation>     <xs:documentation></xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Right"/>            <xs:enumeration value="Left"/>            <xs:enumeration value="Both"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="tjc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_TMJ_PAIN_CLICKING">  <xs:annotation>     <xs:documentation>b. Does the Veteran have clicking or crepitation of joints or soft tissues of either TMJ?</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Yes"/>            <xs:enumeration value="No"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="tjc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_TMJ_PAIN_CLICKING_YES">  <xs:annotation>     <xs:documentation></xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Right"/>            <xs:enumeration value="Left"/>            <xs:enumeration value="Both"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="tjc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_TMJ_OPP_SCARS">  <xs:annotation>     <xs:documentation></xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Yes"/>            <xs:enumeration value="No"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="tjc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_TMJ_OPP_SCARS_YES">  <xs:annotation>     <xs:documentation>If yes, are any of the scars painful and/or unstable, or is the total area of all related scars greater than 39 square cm (6 square inches)?</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Yes"/>            <xs:enumeration value="No"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="tjc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_TMJ_OPP_OTHER_PERT">  <xs:annotation>     <xs:documentation></xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Yes"/>            <xs:enumeration value="No"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="tjc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_TMJ_OPP_OTHER_PERT_DESCRIBE">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="tjc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_TMJ_DT_IMAGING">  <xs:annotation>     <xs:documentation>a. Have imaging studies of the TMJ been performed and are the results available?</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Yes"/>            <xs:enumeration value="No"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="tjc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_TMJ_DT_IMAGING_YES">  <xs:annotation>     <xs:documentation>If yes, is degenerative or traumatic arthritis documented?</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Yes"/>            <xs:enumeration value="No"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="tjc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_TMJ_DT_IMAGING_YES_SA">  <xs:annotation>     <xs:documentation></xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Right"/>            <xs:enumeration value="Left"/>            <xs:enumeration value="Both"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="tjc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_TMJ_DT_OTHER_SIGN">  <xs:annotation>     <xs:documentation>b. Are there any other significant diagnostic test findings and/or results?</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Yes"/>            <xs:enumeration value="No"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="tjc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_TMJ_DT_OTHER_SIGN_SA">  <xs:annotation>     <xs:documentation></xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Right"/>            <xs:enumeration value="Left"/>            <xs:enumeration value="Both"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="tjc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_TMJ_DT_OTHER_SIGN_SUMMARY">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="tjc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_TMJ_FI_ABILITY_TO_WORK">  <xs:annotation>     <xs:documentation>Does the Veteran's temporomandibular joint condition impact his or her ability to work?</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Yes"/>            <xs:enumeration value="No"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="tjc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_TMJ_FI_ABILITY_TO_WORK_DESCRIBE">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="tjc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAMGROUP_CARDIO_IHD_Name">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="tjc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ACE_1">  <xs:annotation>    <xs:documentation></xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="tjc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ACE_2">  <xs:annotation>    <xs:documentation></xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="tjc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ACE_3">  <xs:annotation>    <xs:documentation>Examination via approved video telehealth</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="tjc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ACE_4">  <xs:annotation>    <xs:documentation>In-person examination</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="tjc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ACE_5_RevRec_1">  <xs:annotation>     <xs:documentation>Was the Veteran's VA claims file reviewed?</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Yes"/>            <xs:enumeration value="No"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="tjc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ACE_5_RevRec_2">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="tjc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ACE_5_RevRec_3">  <xs:annotation>    <xs:documentation>Military service treatment records</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="tjc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ACE_5_RevRec_4">  <xs:annotation>    <xs:documentation>Military service personnel records</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="tjc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ACE_5_RevRec_5">  <xs:annotation>    <xs:documentation>Military enlistment examination</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="tjc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ACE_5_RevRec_6">  <xs:annotation>    <xs:documentation>Military separation examination</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="tjc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ACE_5_RevRec_7">  <xs:annotation>    <xs:documentation>Military post-deployment questionnaire</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="tjc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ACE_5_RevRec_8">  <xs:annotation>    <xs:documentation>Department of Defense Form 214 Separation Documents</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="tjc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ACE_5_RevRec_9">  <xs:annotation>    <xs:documentation>Veterans Health Administration medical records (VA treatment records)</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="tjc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ACE_5_RevRec_10">  <xs:annotation>    <xs:documentation>Civilian medical records</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="tjc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ACE_5_RevRec_11">  <xs:annotation>    <xs:documentation>Interviews with collateral witnesses (family and others who have known the Veteran before and after military service)</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="tjc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ACE_5_RevRec_12">  <xs:annotation>    <xs:documentation>No records were reviewed</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="tjc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ACE_5_RevRec_13">  <xs:annotation>    <xs:documentation>Other:</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="tjc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ACE_5_RevRec_14">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="tjc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_TMJ_REMARKS_MITCHELL">  <xs:annotation>    <xs:documentation>Mitchell criteria addressed as appropriate.</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="tjc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_TMJ_REMARKS_MITCHELL_DESC">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="tjc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_TMJ_REMARKS">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="tjc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
  </xs:all>  </xs:complexType>  <xs:element name="TemporomandibularJointTmjConditionsForm" type="tjc:TemporomandibularJointTmjConditionsFormType"/>  <xs:complexType name="Metadata">    <xs:all>      <xs:element name="code" type="xs:string"/>      <xs:element name="codeSystem" type="xs:string"/>      <xs:element name="version" type="xs:string"/>      <xs:element name="source" type="xs:string"/>    </xs:all>  </xs:complexType></xs:schema>
