legacy/Wrist_DBQ_V13_4.pnl.xsd

<?xml version="1.0" encoding="UTF-8"?><xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:wc="http://vler.va.gov/vler/schemas/health/clinicalDocuments/clinicalAssessments/cpExams/1.3/WristConditions" targetNamespace="http://vler.va.gov/vler/schemas/health/clinicalDocuments/clinicalAssessments/cpExams/1.3/WristConditions" version="1.0">  <xs:complexType name="WristConditionsFormType">  <xs:all>
<xs:element name="DIAGNOSIS_WRIST_DIAGNOSIS">  <xs:annotation>     <xs:documentation>Does the Veteran now have or has he/she ever had a wrist condition?</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Yes"/>            <xs:enumeration value="No"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="wc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="DIAGNOSIS_WRIST_DIAGNOSIS_1">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="wc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="DIAGNOSIS_WRIST_ICD_CODE_1">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="wc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="DIAGNOSIS_WRIST_DATE_1">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="wc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="DIAGNOSIS_WRIST_DIAGNOSIS_1_SA">  <xs:annotation>     <xs:documentation></xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Right"/>            <xs:enumeration value="Left"/>            <xs:enumeration value="Both"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="wc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="DIAGNOSIS_WRIST_DIAGNOSIS_2">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="wc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="DIAGNOSIS_WRIST_ICD_CODE_2">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="wc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="DIAGNOSIS_WRIST_DATE_2">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="wc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="DIAGNOSIS_WRIST_DIAGNOSIS_2_SA">  <xs:annotation>     <xs:documentation></xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Right"/>            <xs:enumeration value="Left"/>            <xs:enumeration value="Both"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="wc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="DIAGNOSIS_WRIST_DIAGNOSIS_3">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="wc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="DIAGNOSIS_WRIST_ICD_CODE_3">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="wc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="DIAGNOSIS_WRIST_DATE_3">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="wc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="DIAGNOSIS_WRIST_DIAGNOSIS_3_SA">  <xs:annotation>     <xs:documentation></xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Right"/>            <xs:enumeration value="Left"/>            <xs:enumeration value="Both"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="wc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="DIAGNOSIS_WRIST_DIAGNOSIS_ADDITIONAL">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="wc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="HISTORY_WRIST_DESCRIBE_HISTORY">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="wc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="HISTORY_WRIST_DOMINANT_HAND">  <xs:annotation>     <xs:documentation>b. Dominant hand:</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Right"/>            <xs:enumeration value="Left"/>            <xs:enumeration value="Ambidextrous"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="wc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="HISTORY_WRIST_FLARE_UPS">  <xs:annotation>     <xs:documentation>Does the Veteran report that flare-ups impact the function of the wrist?</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Yes"/>            <xs:enumeration value="No"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="wc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="HISTORY_WRIST_FLARE_UPS_YES">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="wc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_WRIST_ROM_RWPL_FE">  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="0"/>            <xs:enumeration value="5"/>            <xs:enumeration value="10"/>            <xs:enumeration value="15"/>            <xs:enumeration value="20"/>            <xs:enumeration value="25"/>            <xs:enumeration value="30"/>            <xs:enumeration value="35"/>            <xs:enumeration value="40"/>            <xs:enumeration value="45"/>            <xs:enumeration value="50"/>            <xs:enumeration value="55"/>            <xs:enumeration value="60"/>            <xs:enumeration value="65"/>            <xs:enumeration value="70"/>            <xs:enumeration value="75"/>            <xs:enumeration value="80 or greater"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="wc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_WRIST_ROM_RWPL_FE_PM">  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="No objective evidence of painful motion"/>            <xs:enumeration value="0"/>            <xs:enumeration value="5"/>            <xs:enumeration value="10"/>            <xs:enumeration value="15"/>            <xs:enumeration value="20"/>            <xs:enumeration value="25"/>            <xs:enumeration value="30"/>            <xs:enumeration value="35"/>            <xs:enumeration value="40"/>            <xs:enumeration value="45"/>            <xs:enumeration value="50"/>            <xs:enumeration value="55"/>            <xs:enumeration value="60"/>            <xs:enumeration value="65"/>            <xs:enumeration value="70 or greater"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="wc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_WRIST_ROM_RWDF_EE">  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="0"/>            <xs:enumeration value="5"/>            <xs:enumeration value="10"/>            <xs:enumeration value="15"/>            <xs:enumeration value="20"/>            <xs:enumeration value="25"/>            <xs:enumeration value="30"/>            <xs:enumeration value="35"/>            <xs:enumeration value="40"/>            <xs:enumeration value="45"/>            <xs:enumeration value="50"/>            <xs:enumeration value="55"/>            <xs:enumeration value="60"/>            <xs:enumeration value="65"/>            <xs:enumeration value="70 or greater"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="wc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_WRIST_ROM_RWDF_EE_PM">  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="No objective evidence of painful motion"/>            <xs:enumeration value="0"/>            <xs:enumeration value="5"/>            <xs:enumeration value="10"/>            <xs:enumeration value="15"/>            <xs:enumeration value="20"/>            <xs:enumeration value="25"/>            <xs:enumeration value="30"/>            <xs:enumeration value="35"/>            <xs:enumeration value="40"/>            <xs:enumeration value="45"/>            <xs:enumeration value="50"/>            <xs:enumeration value="55"/>            <xs:enumeration value="60"/>            <xs:enumeration value="65"/>            <xs:enumeration value="70 or greater"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="wc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_WRIST_ROM_LWPF_FE">  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="0"/>            <xs:enumeration value="5"/>            <xs:enumeration value="10"/>            <xs:enumeration value="15"/>            <xs:enumeration value="20"/>            <xs:enumeration value="25"/>            <xs:enumeration value="30"/>            <xs:enumeration value="35"/>            <xs:enumeration value="40"/>            <xs:enumeration value="45"/>            <xs:enumeration value="50"/>            <xs:enumeration value="55"/>            <xs:enumeration value="60"/>            <xs:enumeration value="65"/>            <xs:enumeration value="70"/>            <xs:enumeration value="75"/>            <xs:enumeration value="80 or greater"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="wc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_WRIST_ROM_LWPF_FE_PM">  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="No objective evidence of painful motion"/>            <xs:enumeration value="0"/>            <xs:enumeration value="5"/>            <xs:enumeration value="10"/>            <xs:enumeration value="15"/>            <xs:enumeration value="20"/>            <xs:enumeration value="25"/>            <xs:enumeration value="30"/>            <xs:enumeration value="35"/>            <xs:enumeration value="40"/>            <xs:enumeration value="45"/>            <xs:enumeration value="50"/>            <xs:enumeration value="55"/>            <xs:enumeration value="60"/>            <xs:enumeration value="65"/>            <xs:enumeration value="70 or greater"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="wc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_WRIST_ROM_LWDF_EE">  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="0"/>            <xs:enumeration value="5"/>            <xs:enumeration value="10"/>            <xs:enumeration value="15"/>            <xs:enumeration value="20"/>            <xs:enumeration value="25"/>            <xs:enumeration value="30"/>            <xs:enumeration value="35"/>            <xs:enumeration value="40"/>            <xs:enumeration value="45"/>            <xs:enumeration value="50"/>            <xs:enumeration value="55"/>            <xs:enumeration value="60"/>            <xs:enumeration value="65"/>            <xs:enumeration value="70 or greater"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="wc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_WRIST_ROM_LWDF_EE_PM">  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="No objective evidence of painful motion"/>            <xs:enumeration value="0"/>            <xs:enumeration value="5"/>            <xs:enumeration value="10"/>            <xs:enumeration value="15"/>            <xs:enumeration value="20"/>            <xs:enumeration value="25"/>            <xs:enumeration value="30"/>            <xs:enumeration value="35"/>            <xs:enumeration value="40"/>            <xs:enumeration value="45"/>            <xs:enumeration value="50"/>            <xs:enumeration value="55"/>            <xs:enumeration value="60"/>            <xs:enumeration value="65"/>            <xs:enumeration value="70 or greater"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="wc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_WRIST_ROM_NOT_NORM">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="wc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_WRIST_ROM_AFTER_RUT">  <xs:annotation>     <xs:documentation>a. Is the Veteran able to perform repetitive-use testing with 3 repetitions?</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Yes"/>            <xs:enumeration value="No"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="wc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_WRIST_ROM_AFTER_RUT_NO">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="wc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_WRIST_ROM_PT_RW_FE">  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="0"/>            <xs:enumeration value="5"/>            <xs:enumeration value="10"/>            <xs:enumeration value="15"/>            <xs:enumeration value="20"/>            <xs:enumeration value="25"/>            <xs:enumeration value="30"/>            <xs:enumeration value="35"/>            <xs:enumeration value="40"/>            <xs:enumeration value="45"/>            <xs:enumeration value="50"/>            <xs:enumeration value="55"/>            <xs:enumeration value="60"/>            <xs:enumeration value="65"/>            <xs:enumeration value="70"/>            <xs:enumeration value="75"/>            <xs:enumeration value="80 or greater"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="wc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_WRIST_ROM_PT_RW_EE">  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="0"/>            <xs:enumeration value="5"/>            <xs:enumeration value="10"/>            <xs:enumeration value="15"/>            <xs:enumeration value="20"/>            <xs:enumeration value="25"/>            <xs:enumeration value="30"/>            <xs:enumeration value="35"/>            <xs:enumeration value="40"/>            <xs:enumeration value="45"/>            <xs:enumeration value="50"/>            <xs:enumeration value="55"/>            <xs:enumeration value="60"/>            <xs:enumeration value="65"/>            <xs:enumeration value="70 or greater"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="wc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_WRIST_ROM_PT_LW_FE">  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="0"/>            <xs:enumeration value="5"/>            <xs:enumeration value="10"/>            <xs:enumeration value="15"/>            <xs:enumeration value="20"/>            <xs:enumeration value="25"/>            <xs:enumeration value="30"/>            <xs:enumeration value="35"/>            <xs:enumeration value="40"/>            <xs:enumeration value="45"/>            <xs:enumeration value="50"/>            <xs:enumeration value="55"/>            <xs:enumeration value="60"/>            <xs:enumeration value="65"/>            <xs:enumeration value="70"/>            <xs:enumeration value="75"/>            <xs:enumeration value="80 or greater"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="wc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_WRIST_ROM_PT_LW_EE">  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="0"/>            <xs:enumeration value="5"/>            <xs:enumeration value="10"/>            <xs:enumeration value="15"/>            <xs:enumeration value="20"/>            <xs:enumeration value="25"/>            <xs:enumeration value="30"/>            <xs:enumeration value="35"/>            <xs:enumeration value="40"/>            <xs:enumeration value="45"/>            <xs:enumeration value="50"/>            <xs:enumeration value="55"/>            <xs:enumeration value="60"/>            <xs:enumeration value="65"/>            <xs:enumeration value="70 or greater"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="wc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_WRIST_ROM_AFTER_RUT_ADDITIONAL_LIMIT">  <xs:annotation>     <xs:documentation>a. Does the Veteran have additional limitation in ROM of the wrist following repetitive-use testing?</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Yes"/>            <xs:enumeration value="No"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="wc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_WRIST_ROM_FUNC_LOSS">  <xs:annotation>     <xs:documentation>b. Does the Veteran have any functional loss and/or functional impairment of the wrist?</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Yes"/>            <xs:enumeration value="No"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="wc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_WRIST_ROM_FL_NO_FL_RLE">  <xs:annotation>    <xs:documentation>No functional loss for right upper extremity</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="wc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_WRIST_ROM_FL_NO_FL_LLE">  <xs:annotation>    <xs:documentation>No functional loss for left upper extremity</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="wc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_WRIST_ROM_FL_LESSMOVEMENT">  <xs:annotation>    <xs:documentation>Less movement than normal</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="wc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_WRIST_ROM_FL_LESSMOVEMENT_RG">  <xs:annotation>     <xs:documentation></xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Right"/>            <xs:enumeration value="Left"/>            <xs:enumeration value="Both"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="wc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_WRIST_ROM_FL_MOREMOVEMENT">  <xs:annotation>    <xs:documentation>More movement than normal</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="wc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_WRIST_ROM_FL_MOREMOVEMENT_RG">  <xs:annotation>     <xs:documentation></xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Right"/>            <xs:enumeration value="Left"/>            <xs:enumeration value="Both"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="wc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_WRIST_ROM_FL_WEAKENEDMOVEMENT">  <xs:annotation>    <xs:documentation>Weakened movement</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="wc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_WRIST_ROM_FL_WEAKENEDMOVEMENT_RG">  <xs:annotation>     <xs:documentation></xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Right"/>            <xs:enumeration value="Left"/>            <xs:enumeration value="Both"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="wc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_WRIST_ROM_FL_EF">  <xs:annotation>    <xs:documentation>Excess fatigability</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="wc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_WRIST_ROM_FL_EF_RG">  <xs:annotation>     <xs:documentation></xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Right"/>            <xs:enumeration value="Left"/>            <xs:enumeration value="Both"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="wc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_WRIST_ROM_FL_INCOORD">  <xs:annotation>    <xs:documentation>Incoordination, (impaired ability to execute skilled movements smoothly)</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="wc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_WRIST_ROM_FL_INCOORD_RG">  <xs:annotation>     <xs:documentation></xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Right"/>            <xs:enumeration value="Left"/>            <xs:enumeration value="Both"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="wc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_WRIST_ROM_FL_PAIN">  <xs:annotation>    <xs:documentation>Pain on movement</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="wc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_WRIST_ROM_FL_PAIN_RG">  <xs:annotation>     <xs:documentation></xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Right"/>            <xs:enumeration value="Left"/>            <xs:enumeration value="Both"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="wc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_WRIST_ROM_FL_SWELLING">  <xs:annotation>    <xs:documentation>Swelling</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="wc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_WRIST_ROM_FL_SWELLING_RG">  <xs:annotation>     <xs:documentation></xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Right"/>            <xs:enumeration value="Left"/>            <xs:enumeration value="Both"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="wc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_WRIST_ROM_FL_DEFORMITY">  <xs:annotation>    <xs:documentation>Deformity</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="wc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_WRIST_ROM_FL_DEFORMITY_RG">  <xs:annotation>     <xs:documentation></xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Right"/>            <xs:enumeration value="Left"/>            <xs:enumeration value="Both"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="wc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_WRIST_ROM_FL_ATROPHY">  <xs:annotation>    <xs:documentation>Atrophy of disuse</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="wc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_WRIST_ROM_FL_ATROPHY_RG">  <xs:annotation>     <xs:documentation></xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Right"/>            <xs:enumeration value="Left"/>            <xs:enumeration value="Both"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="wc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_WRIST_PAIN_ON_PALPATION">  <xs:annotation>     <xs:documentation>Does the Veteran have localized tenderness or pain on palpation of joints/soft tissue of either wrist?</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Yes"/>            <xs:enumeration value="No"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="wc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_WRIST_PAIN_ON_PALPATION_YES">  <xs:annotation>     <xs:documentation></xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Right"/>            <xs:enumeration value="Left"/>            <xs:enumeration value="Both"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="wc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_WRIST_MST_WF_R">  <xs:annotation>     <xs:documentation></xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="5/5"/>            <xs:enumeration value="4/5"/>            <xs:enumeration value="3/5"/>            <xs:enumeration value="2/5"/>            <xs:enumeration value="1/5"/>            <xs:enumeration value="0/5"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="wc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_WRIST_MST_WF_L">  <xs:annotation>     <xs:documentation></xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="5/5"/>            <xs:enumeration value="4/5"/>            <xs:enumeration value="3/5"/>            <xs:enumeration value="2/5"/>            <xs:enumeration value="1/5"/>            <xs:enumeration value="0/5"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="wc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_WRIST_MST_WE_R">  <xs:annotation>     <xs:documentation></xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="5/5"/>            <xs:enumeration value="4/5"/>            <xs:enumeration value="3/5"/>            <xs:enumeration value="2/5"/>            <xs:enumeration value="1/5"/>            <xs:enumeration value="0/5"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="wc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_WRIST_MST_WE_L">  <xs:annotation>     <xs:documentation></xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="5/5"/>            <xs:enumeration value="4/5"/>            <xs:enumeration value="3/5"/>            <xs:enumeration value="2/5"/>            <xs:enumeration value="1/5"/>            <xs:enumeration value="0/5"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="wc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_WRIST_ANKYLOSIS">  <xs:annotation>     <xs:documentation>Does the Veteran have ankylosis of either wrist joint?</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Yes"/>            <xs:enumeration value="No"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="wc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_WRIST_ANKYLOSIS_EU">  <xs:annotation>    <xs:documentation>Extremely unfavorable</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="wc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_WRIST_ANKYLOSIS_EU_RG">  <xs:annotation>     <xs:documentation></xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Right"/>            <xs:enumeration value="Left"/>            <xs:enumeration value="Both"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="wc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_WRIST_ANKYLOSIS_U_W_ULNAR">  <xs:annotation>    <xs:documentation>Unfavorable, with ulnar or radial deviation</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="wc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_WRIST_ANKYLOSIS_U_W_ULNAR_RG">  <xs:annotation>     <xs:documentation></xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Right"/>            <xs:enumeration value="Left"/>            <xs:enumeration value="Both"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="wc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_WRIST_ANKYLOSIS_U_ANY">  <xs:annotation>    <xs:documentation>Unfavorable, in any degree of palmar flexion</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="wc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_WRIST_ANKYLOSIS_U_ANY_RG">  <xs:annotation>     <xs:documentation></xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Right"/>            <xs:enumeration value="Left"/>            <xs:enumeration value="Both"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="wc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_WRIST_ANKYLOSIS_ANY_OTHER">  <xs:annotation>    <xs:documentation>Any other unfavorable position</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="wc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_WRIST_ANKYLOSIS_ANY_OTHER_RG">  <xs:annotation>     <xs:documentation></xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Right"/>            <xs:enumeration value="Left"/>            <xs:enumeration value="Both"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="wc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_WRIST_ANKYLOSIS_FAV">  <xs:annotation>    <xs:documentation>Favorable in 20º to 30º dorsiflexion</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="wc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_WRIST_ANKYLOSIS_FAV_RG">  <xs:annotation>     <xs:documentation></xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Right"/>            <xs:enumeration value="Left"/>            <xs:enumeration value="Both"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="wc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_WRIST_JR">  <xs:annotation>     <xs:documentation>a. Has the Veteran had a total wrist joint replacement?</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Yes"/>            <xs:enumeration value="No"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="wc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_WRIST_JR_YES_RW">  <xs:annotation>    <xs:documentation>Right wrist</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="wc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_WRIST_JR_YES_RW_SURGERY">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="wc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_WRIST_JR_YES_RW_RESIDUALS_NONE">  <xs:annotation>    <xs:documentation>None</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="wc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_WRIST_JR_YES_RW_RESIDUALS_INTER">  <xs:annotation>    <xs:documentation>Intermediate degrees of residual weakness, pain and/or limitation of motion</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="wc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_WRIST_JR_YES_RW_RESIDUALS_CHRONIC">  <xs:annotation>    <xs:documentation>Chronic residuals consisting of severe painful motion and/or weakness</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="wc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_WRIST_JR_YES_RW_RESIDUALS_OTHER">  <xs:annotation>    <xs:documentation>Other, describe:</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="wc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_WRIST_JR_YES_RW_RESIDUALS_OTHER_EDIT">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="wc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_WRIST_JR_YES_LW">  <xs:annotation>    <xs:documentation>Left wrist</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="wc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_WRIST_JR_YES_LW_SURGERY">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="wc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_WRIST_JR_YES_LW_RESIDUALS_NONE">  <xs:annotation>    <xs:documentation>None</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="wc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_WRIST_JR_YES_LW_RESIDUALS_INTER">  <xs:annotation>    <xs:documentation>Intermediate degrees of residual weakness, pain and/or limitation of motion</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="wc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_WRIST_JR_YES_LW_RESIDUALS_CHRONIC">  <xs:annotation>    <xs:documentation>Chronic residuals consisting of severe painful motion and/or weakness</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="wc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_WRIST_JR_YES_LW_RESIDUALS_OTHER">  <xs:annotation>    <xs:documentation>Other, describe:</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="wc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_WRIST_JR_YES_LW_RESIDUALS_OTHER_EDIT">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="wc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_WRIST_JR_OTHER_SURGERY">  <xs:annotation>     <xs:documentation>b. Has the Veteran had arthroscopic or other wrist surgery?</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Yes"/>            <xs:enumeration value="No"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="wc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_WRIST_JR_OTHER_SURGERY_YES_SA">  <xs:annotation>     <xs:documentation></xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Right"/>            <xs:enumeration value="Left"/>            <xs:enumeration value="Both"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="wc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_WRIST_JR_OTHER_SURGERY_YES_DATE">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="wc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_WRIST_JR_RESIDUAL_SIGNS">  <xs:annotation>     <xs:documentation>c. Does the Veteran have any residual signs and/or symptoms due to arthroscopic or other wrist surgery?</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Yes"/>            <xs:enumeration value="No"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="wc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_WRIST_JR_RESIDUAL_SIGNS_YES_SA">  <xs:annotation>     <xs:documentation></xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Right"/>            <xs:enumeration value="Left"/>            <xs:enumeration value="Both"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="wc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_WRIST_JR_RESIDUAL_SIGNS_YES_DESCRIBE">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="wc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_WRIST_OPP_SCARS">  <xs:annotation>     <xs:documentation></xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Yes"/>            <xs:enumeration value="No"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="wc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_WRIST_OPP_SCARS_YES">  <xs:annotation>     <xs:documentation>If yes, are any of the scars painful and/or unstable, or is the total area of all related scars greater than 39 square cm (6 square inches)?</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Yes"/>            <xs:enumeration value="No"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="wc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_WRIST_OPP_OTHER_PERT">  <xs:annotation>     <xs:documentation></xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Yes"/>            <xs:enumeration value="No"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="wc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_WRIST_OPP_OTHER_PERT_DESCRIBE">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="wc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_WRIST_REF_YES">  <xs:annotation>    <xs:documentation>Yes, functioning is so diminished that amputation with prosthesis would equally serve the Veteran.</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="wc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_WRIST_REF_NO">  <xs:annotation>    <xs:documentation>No</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="wc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_WRIST_REF_YES_RIGHT">  <xs:annotation>    <xs:documentation>Right upper</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="wc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_WRIST_REF_YES_LEFT">  <xs:annotation>    <xs:documentation>Left upper</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="wc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_WRIST_REF_YES_DESCRIBE">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="wc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_WRIST_DT_IMAGING">  <xs:annotation>     <xs:documentation>a. Have imaging studies of the wrist been performed and are the results available?</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Yes"/>            <xs:enumeration value="No"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="wc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_WRIST_DT_IMAGING_YES">  <xs:annotation>     <xs:documentation>If yes, is degenerative or traumatic arthritis documented?</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Yes"/>            <xs:enumeration value="No"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="wc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_WRIST_DT_IMAGING_YES_LOC">  <xs:annotation>     <xs:documentation></xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Right"/>            <xs:enumeration value="Left"/>            <xs:enumeration value="Both"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="wc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_WRIST_DT_OTHER_SIGN">  <xs:annotation>     <xs:documentation>b. Are there any other significant diagnostic test findings and/or results?</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Yes"/>            <xs:enumeration value="No"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="wc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_WRIST_DT_OTHER_SIGN_SUMMARY">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="wc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_WRIST_FI_ABILITY_TO_WORK">  <xs:annotation>     <xs:documentation>Does the Veteran's wrist condition impact his or her ability to work?</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Yes"/>            <xs:enumeration value="No"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="wc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_WRIST_FI_ABILITY_TO_WORK_YES">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="wc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_WRIST_REMARKS">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="wc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAMGROUP_CARDIO_IHD_Name">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="wc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ACE_1">  <xs:annotation>    <xs:documentation></xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="wc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ACE_2">  <xs:annotation>    <xs:documentation></xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="wc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ACE_3">  <xs:annotation>    <xs:documentation>Examination via approved video telehealth</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="wc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ACE_4">  <xs:annotation>    <xs:documentation>In-person examination</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="wc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ACE_5_RevRec_1">  <xs:annotation>     <xs:documentation>Was the Veteran's VA claims file reviewed?</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" nillable="true">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Yes"/>            <xs:enumeration value="No"/>          </xs:restriction>        </xs:simpleType>      </xs:element>      <xs:element name="Metadata" type="wc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ACE_5_RevRec_2">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="wc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ACE_5_RevRec_3">  <xs:annotation>    <xs:documentation>Military service treatment records</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="wc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ACE_5_RevRec_4">  <xs:annotation>    <xs:documentation>Military service personnel records</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="wc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ACE_5_RevRec_5">  <xs:annotation>    <xs:documentation>Military enlistment examination</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="wc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ACE_5_RevRec_6">  <xs:annotation>    <xs:documentation>Military separation examination</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="wc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ACE_5_RevRec_7">  <xs:annotation>    <xs:documentation>Military post-deployment questionnaire</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="wc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ACE_5_RevRec_8">  <xs:annotation>    <xs:documentation>Department of Defense Form 214 Separation Documents</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="wc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ACE_5_RevRec_9">  <xs:annotation>    <xs:documentation>Veterans Health Administration medical records (VA treatment records)</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="wc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ACE_5_RevRec_10">  <xs:annotation>    <xs:documentation>Civilian medical records</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="wc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ACE_5_RevRec_11">  <xs:annotation>    <xs:documentation>Interviews with collateral witnesses (family and others who have known the Veteran before and after military service)</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="wc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ACE_5_RevRec_12">  <xs:annotation>    <xs:documentation>No records were reviewed</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="wc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ACE_5_RevRec_13">  <xs:annotation>    <xs:documentation>Other:</xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="wc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_ACE_5_RevRec_14">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="wc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_WRIST_MITCHELL_Memo">  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:string" nillable="true"/>      <xs:element name="Metadata" type="wc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
<xs:element name="EXAM_WRIST_MITCHELL_CB">  <xs:annotation>    <xs:documentation></xs:documentation>  </xs:annotation>  <xs:complexType>    <xs:all>      <xs:element name="Value" type="xs:boolean" default="false"/>      <xs:element name="Metadata" type="wc:Metadata"/>    </xs:all>  </xs:complexType></xs:element>
  </xs:all>  </xs:complexType>  <xs:element name="WristConditionsForm" type="wc:WristConditionsFormType"/>  <xs:complexType name="Metadata">    <xs:all>      <xs:element name="code" type="xs:string"/>      <xs:element name="codeSystem" type="xs:string"/>      <xs:element name="version" type="xs:string"/>      <xs:element name="source" type="xs:string"/>    </xs:all>  </xs:complexType></xs:schema>
